.CollaborationComingSoonModal
  bg                        color, transparent
  shadow                    none
  width                     700px

.CollaborationComingSoonModal-header
  text-align                center
  color                     white

  h3
    font-size               22px
    margin                  20px 0 10px !important
    color                   white

  span
    font-size               18px
    letter-spacing          2px

.CollaborationComingSoonModal-content
  img
    width                   100%
    margin-top              30px