---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel/Channel_SetUserStateJSON/uuid/UUID_SetUserStateJSON/data?state=%7B%22testkey%22%3A+%22testval%22%2C%22testkey2%22%3A+%22testval2%22%7D&pnsdk=PubNub-Go%2F3.14.0&uuid=UUID_SetUserStateJSON
    method: GET
  response:
    body: '{"status": 200, "message": "OK", "payload": {"testkey2": "testval2", "testkey":
      "testval"}, "service": "Presence"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel/Channel_SetUserStateJSON/uuid/UUID_SetUserStateJSON/data?state=%7B%22testkey%22%3A%22testval%22%7D&pnsdk=PubNub-Go%2F3.14.0&uuid=UUID_SetUserStateJSON
    method: GET
  response:
    body: '{"status": 200, "message": "OK", "payload": {"testkey": "testval"}, "service":
      "Presence"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
unclosed_requests: {}
