---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel/Channel_SetUserStateGlobalHereNow/uuid/UUID_SetUserStateGlobalHereNow/data?state=%7B%22testkey%22%3A%22testval%22%7D&pnsdk=PubNub-Go%2F3.14.0&uuid=UUID_SetUserStateGlobalHereNow
    method: GET
  response:
    body: '{"status": 200, "message": "OK", "payload": {"testkey": "testval"}, "service":
      "Presence"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f?disable_uuids=0&state=1&pnsdk=PubNub-Go%2F3.14.0&uuid=UUID_SetUserStateGlobalHereNow
    method: GET
  response:
    body: '{"status": 200, "message": "OK", "payload": {"channels": {"Channel_SetUserStateGlobalHereNow":
      {"uuids": [{"state": {"testkey": "testval"}, "uuid": "UUID_SetUserStateGlobalHereNow"}],
      "occupancy": 1}}, "total_channels": 1, "total_occupancy": 1}, "service": "Presence"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel/Channel_SetUserStateGlobalHereNow/leave?uuid=UUID_SetUserStateGlobalHereNow&pnsdk=PubNub-Go%2F3.14.0
    method: GET
  response:
    body: '{"status": 200, "action": "leave", "message": "OK", "service": "Presence"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
unclosed_requests: {}
