---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v2/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/Channel_ZeroPresence-pnpres/0?uuid=UUID_zeroPresence&tt=0&pnsdk=PubNub-Go%2F3.14.0
    method: GET
  response:
    body: '[[],"14615591687540479"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v2/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/Channel_ZeroPresence-pnpres,Channel_ZeroPresence/0?uuid=UUID_zeroPresence&tt=0&pnsdk=PubNub-Go%2F3.14.0
    method: GET
  response:
    body: '[[],"14615591687802848"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v2/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/Channel_ZeroPresence,Channel_ZeroPresence-pnpres/0?uuid=UUID_zeroPresence&tt=14615591687802848&pnsdk=PubNub-Go%2F3.14.0
    method: GET
  response:
    body: '[[{"action": "join", "timestamp": 1461559169, "uuid": "UUID_zeroPresence",
      "occupancy": 1}],"14615591694446754","Channel_ZeroPresence-pnpres"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v2/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/Channel_ZeroPresence-pnpres,Channel_ZeroPresence/0?uuid=UUID_zeroPresence&tt=14615591694446754&pnsdk=PubNub-Go%2F3.14.0
    method: GET
  response:
    body: '[[{"action": "leave", "timestamp": 1461559169, "uuid": "UUID_zeroPresence",
      "occupancy": 0}],"14615591697136989","Channel_ZeroPresence-pnpres"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
unclosed_requests: {}
