# Nginx configuration that is used to reverse proxy user machines
user www-data;
pid /run/nginx.pid;

worker_processes 4;
worker_rlimit_nofile 10240;

events {
	worker_connections 8192;
}

http {
	# Hide nginx version information.
	server_tokens off;

	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout 65;
	types_hash_max_size 2048;

	access_log /var/log/nginx/access.log;
	error_log /var/log/nginx/error.log;

	log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for" $host  $http_host $server_name';

	# This is healtcheck
	server {
		listen 80 default_server;
		listen [::]:80 default_server ipv6only=on;

		# Make site accessible from http://localhost/
		server_name localhost;

		root /usr/share/nginx/html;
		index index.html index.htm;

		location / {
			try_files $uri $uri/ =404;
		}
	}


	map $http_upgrade $connection_upgrade {
		default upgrade;
		'' close;
	}

	upstream user {
		server 54.164.243.111:3000;
	}

	# This  is used for proxying to kites
	server {
		listen 8000 default_server;
		listen [::]:8000 default_server ipv6only=on;

		# Make site accessible from http://localhost/
		server_name *.koding.io;

		location / {
			proxy_pass http://user/kite;
			proxy_http_version 1.1;
			proxy_set_header Upgrade $http_upgrade;
			#proxy_set_header Connection "upgrade";
			proxy_set_header Connection $connection_upgrade;

			proxy_set_header X-Real-IP $remote_addr;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header Host $host;
			proxy_redirect off;

			# Don't buffer WebSocket connections
			proxy_buffering off;

			# Default is 60 seconds, means nginx will close it.
			# However websocket could be idle, make it 24 hours.
			proxy_read_timeout 86400s;
			proxy_send_timeout 86400s;
		}
	}
}
