#left{background-color:#eee}
#finder{position:relative;background-color:#fff;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;}
#finder >.browser-content{height:200px;overflow:auto}
#finder #finder_top_shadow,#finder #finder_bottom_shadow{position:absolute;background:transparent url("../images/finder.shadows.png") repeat-x 0 0;width:100%;height:5px}
#finder #finder_top_shadow{top:0}
#finder #finder_bottom_shadow{bottom:0;background-position:0 bottom}
.list.filetree{padding:0;}
.list.filetree .folder-wrapper{margin-left:5px}
.list.filetree .list-item{border:none;background-color:transparent;}
.list.filetree .list-item .filetree-item{line-height:22px;}
.list.filetree .list-item .filetree-item span{font-size:11px;padding:1px 4px;-moz-border-radius:9px;-webkit-border-radius:9px;-khtml-border-radius:9px;border-radius:9px}
.list.filetree .list-item .filetree-item.selected span{background-color:#f46500;text-shadow:0 1px 0 #903200;color:#fff}
