.FeedPane
  bg                          color, $gray-19
  size                        100% 100%
  box-sizing                  border-box
  font-size                   $fs-regular
  line-height                 $body-line-height

  .Pane-contentWrapper
    height                    100vh
    vendor                    flex-direction, column

  .Pane-body
    padding                   0
    vendor                    flex, 1
    vendor                    flex-direction, column
    vendor                    justify-content, flex-start
    height                    100%
    dFlex()
    rel()
    > .Scrollable
      opacity                 0
      vendor                  transition, opacity .3s ease

  .FeedList
    borderBox()
    padding-left              34px
    width                     100%
    overflow-x                hidden

.FeedList-tabContainer
  rel()
  dBlock()
  height                      60px
  overflow                    hidden
  max-width                   600px
  margin                      0 0 12px 34px
  vendor                      box-shadow, inset 0 -3px 0 #e0e0e0

  .FeedList-searchInput
    abs()
    borderBox()
    rounded                   16px
    right                     0
    bottom                    15px
    size                      180px, 30px
    padding                   0 25px 0 13px
    border                    1px solid #e8e8e8
    font-size                 12px
    outline                   none
    z-index                   1

  .FeedList-tab
    dIBlock()
    borderBox()
    noTextDeco()
    height                    60px
    font-size                 14px
    color                     $gray-10
    padding                   22px 23px 0

    &.active
      vendor                  box-shadow, inset 0 -3px 0 $blue

.ThreadPane-feedWrapper
  vendor                      flex, 1
  vendor                      transition, flex .177s ease
  bg                          color #f2f2f2

  .PublicFeedPane-header
    bg                        color #f2f2f2
    padding-left              34px
    max-width                 600px
    rel()
    > i
      top                     18px
      left                    50px
      r-sprite                activity widget-icon
      z-index                 2
      abs()

    textarea
      dBlock()
      borderBox()
      padding                 18px 44px 16px !important
      min-height              52px !important
      max-height              60vh
      margin-bottom           0
      width                   100%
      outline                 none
      resize                  none
      border                  1px solid #dfdfdf
      bg                      color, $white !important

  .FeedPaneHeader-buttonBar
    text-align                right
    padding                   8px
    border                    1px solid #dfdfdf
    border-top                none
    bg                        color, #f4f4f4

    .FeedPaneHeader-send
      height                  26px
      line-height             13px
      width                   66px
      margin-left             8px
      color                   $white
      bg                      color, $blue

    .FeedPaneHeader-preview
      outline                 none
      border                  none
      r-sprite                "activity", "markdown"

.FeedPane-previewWrapper
  max-width                   600px
  margin                      10px 0 12px 34px
  rounded                     6px
  padding                     18px
  border                      2px dashed #cfcfcf
  bg                          color, $white
  overflow                    initial
  rel()
  borderBox()

  &:before
    content                   ''
    size                      0 0
    border                    10px solid transparent
    border-bottom-color       #cfcfcf
    abs                       0 89px 100% 0

  &:after
    content                   ''
    size                      0 0
    border                    10px solid transparent
    border-bottom-color       $white
    margin-bottom             -2px
    abs                       0 89px 100% 0

.FeedPreviewItem-body
  padding-top                 12px
  font-size                   14px
  color                       $gray-8
  overflow                    auto
  max-height                  40vh

.FeedPreviewItem-date
  font-size                   12px

.FeedItem-date:before
  hidden()

.FeedPreviewItem-closePreview
  cursor                  pointer
  abs                     14px 14px 0 0
  font-size               12px
  line-height             16px

  &:hover
    noTextDeco()

  &:after
    content               ''
    display               inline-block
    r-sprite              activity, 'add-integration'
    vertical-align        middle
    margin-left           7px
    vendor                transform, rotate(45deg)

