$fs-channels = 20px

.SidebarChannelsSection .SidebarListItem
  margin                    0

  &:before
    height                  28px
    vertical-align          top
    margin-right            3px
    content                 '#'
    font-size               $fs-small
    color                   $gray-10
    text-shadow             none
    dIBlock()
    rel()
