$fs-channels = 20px

.SidebarChannelsSection .SidebarListItem
  margin                    0

.SidebarChannelsSection .SidebarListItem-icon
  height                    28px
  vertical-align            top
  display                   inline-block
  margin-right              3px
  rel()

  &:before
    content                 '#'
    font-size               $fs-small
    color                   $gray-10
    text-shadow             none
