@import "../../Framework/src/themes/default/kdfn"
@import "../../Main/styl/appfn"

@css {
/*
IDE stylesheet
ide.styl
*/
}

// variables
dark-panel-bg         = #2B2B2B
dark-tab-header-bg    = #131313
dark-active-tab-color = #9C9C9C
dark-tab-color        = #5C5C5C
text-color-green      = #4EA04C


// theming
body.ide.dark
  bg                    color, dark-panel-bg

  .kdtabview
    bg                  color, dark-panel-bg

  .kdtabhandlecontainer
    bg                  color, dark-tab-header-bg

  .kdtabhandle
    color               dark-tab-color
    &.active
      bg                color, dark-panel-bg
      color             dark-active-tab-color
    &.plus
      border-left-color transparent

  .ace-koding
    bg                  color, dark-panel-bg
    .ace_gutter
      bg                color, dark-panel-bg
      color             dark-active-tab-color
    .ace_gutter-active-line
      bg                color, dark-tab-header-bg

  .editor-bottom-bar
    bg                  color, dark-tab-header-bg

  .kdsplitview-resizer
    bg                  color, dark-tab-header-bg

  .terminal .green-on-black.console
    bg                  color, dark-panel-bg

  .ace-koding .ace_print-margin
    bg                  color, #3F3F3F

  .kdtabhandle.plus
    r-sprite            'ide', 'tab-plus'
    border-left         none
    margin              4px
    .icon
      bg                image, none
      margin            0

  .ace-find-replace-view
    bottom              0 !important
    bg                  color, dark-tab-header-bg
    border-bottom-color dark-tab-header-bg
    box-shadow          inset 0 -1px 0 dark-tab-header-bg
    a, input
      border-color      dark-panel-bg
      &.active
        border-color    dark-panel-bg !important

    input
      bg                color, dark-panel-bg
      box-shadow        0 1px 0 dark-panel-bg
      color             dark-active-tab-color
      &:hover
        bg              color, dark-panel-bg
        border          1px solid dark-panel-bg
        box-shadow      0 1px 0 dark-panel-bg
      &:focus
        bg              color, dark-panel-bg
        border          1px solid dark-panel-bg
        box-shadow      0 1px 0 dark-panel-bg
    button
      bg                color, dark-panel-bg
      color             dark-active-tab-color
      border            1px solid dark-panel-bg
      &:hover
        bg              color, dark-panel-bg
        opacity         .8

// common app styling
.ide
  .kdsplitview-resizer
    z-index             1000 // yes!
    &.vertical
      width             2px
    &.horizontal
      height            2px

  .ace_editor
    height              100%

  .kdtabhandle.dummy
  .kdview.dummy
    display             none

  .application-tabview
    >.kdtabpaneview
      overflow          visible

      >.pane
        overflow        visible

  .kdselectbox
    bg                  color, transparent
    border              1px solid #555555
    rounded             3px
    width               120px
    borderBox()
    .arrows
      r-sprite          'finder', 'expanded'
      top               8px

  .nfinder.file-container
    min-width           234px

// sidebar icons
.ide-files-tab
  .application-tab-handle-holder
    vendor            transition, none
  .kdtabhandle
    b
      text-indent     -1000px
    &.files
      r-sprite        'ide', 'files-off'
      &.active
        r-sprite      'ide', 'files-on'
    &.vms
      r-sprite        'ide', 'vms-off'
      &.active
        r-sprite      'ide', 'vms-on'
    &.settings
      r-sprite        'ide', 'settings-off'
      &.active
        r-sprite      'ide', 'settings-on'
    &.actions
      r-sprite        'ide', 'share-off'
      &.active
        r-sprite      'ide', 'share-on'


// floating left
.floating.kdsplitview-panel
  .ide-files-tab
    .application-tab-handle-holder
      size              39px, 100%
      fl()
    .kdtabhandle
      float             none
    .application-tabview
      top               0
      left              0
      margin-left       39px
      height            100%
      abs()
      fl()
    .kdtabpaneview.active
      margin-right      39px
      width             auto
      border-right      2px solid dark-tab-header-bg


// vm list pane
.vm-list-pane
  height                auto

  .vm-item
    size                auto, 39px
    bg                  color, dark-tab-header-bg
    position            relative
    margin              13px
    rounded             2px
    .domain-name
      text-decoration   underline
      line-height       39px
      color             #949290
      font-size         13px
      margin-left       14px
      pointer()
    .actions-menu
      border            none
      display           inline-block
      r-sprite          'ide', 'horizontal-dots'
      pointer()
      abs()
      right             12px
      top               11px
      &:focus
        box-shadow      none

  .buy-vm-button
    rounded             2px
    color               #FFF
    margin              0 13px
    font-size           13px
    line-height         39px
    background          none
    display             block
    size                auto, 39px
    position            relative
    border              1px dashed #5A5A5A
    text-decoration     none
    text-align          center
    .icon
      display           inline-block
      r-sprite          'ide', 'add-vm'
      float             none
      vertical-align    sub
      margin-right      4px



// settings pane
.settings-pane
  line-height           20px
  font-size             12px
  .settings-header
    color               text-color-green
    padding             25px 20px 10px
  .kdselectbox
    min-width           100px
    display             block
    float               right
  p
    color               #D4CFC9
    padding             5px 20px
    clear               both
    borderBox()
    &.with-select
      line-height       32px
    .settings-on-off
      display           block
      float             right
      &.on
        bg              color, text-color-green
      &.off
        bg              color, dark-tab-header-bg

// key mappings
.key-mappings
  padding             50px
  font-size           13px
  size                auto, auto
  .container
    min-width         370px
    width             45%
    margin-right      3%
    fl()
    p
      color           text-color-green
      margin-bottom   24px
  .key-map
    margin-bottom     16px
  .keys
    overflow          hidden
    width             230px
    fl()
  .key
    size              60px, 33px
    line-height       33px
    text-align        center
    margin-right      12px
    text-transform    uppercase
    color             dark-tab-color
    border            1px solid #979797
    fl()
  .description
    color             #F4F1ED
    height            33px
    line-height       33px
    fl()

// status bar
.kdsplitcomboview
  > .kdsplitview
    > .panel-1
      .pane-wrapper
        kalc          height, 100% \- 34px

.status-bar
  abs()
  bottom              0
  width               100%
  height              34px
  line-height         34px
  color               dark-tab-color
  background          dark-tab-header-bg
  font-size           13px
  .status
    margin-left       12px
    fl()
    p
      display         inline-block
      &.line
        width         50px

  .actions-button
    abs()
    pointer()
    display           inline-block
    right             2px
    r-sprite          'ide', 'hamburger'

.status-bar-menu
  top                 inherit !important
  bottom              34px
  ul
    bg                color, dark-tab-header-bg !important
    padding           2px !important
    rounded           0 !important
  li
    color             #E6E1DC !important
    rounded           0 !important
    padding-left      15px !important
    &:hover
      bg              color, dark-panel-bg !important
    &.selected
      bg              color, dark-panel-bg !important
    &.separator
      border-bottom   1px solid dark-panel-bg !important
      margin          14px !important

.syntax-selector
  padding             3px 10px 3px 0
  span
    font-size         13px
  .kdselectbox
    height            24px
    margin-left       29px
    span
      line-height     24px !important
      height          24px !important
    .arrows
      top             3px !important
