@import "../../Framework/src/themes/default/kdfn"
@import "../../Main/styl/appfn"

@css {
/*
IDE stylesheet
ide.styl
*/
}

// variables
dark-panel-bg         = #2B2B2B
dark-tab-header-bg    = #131313
dark-active-tab-color = #9C9C9C
dark-tab-color        = #5C5C5C

// theming
body.ide.dark
  bg                    color, dark-panel-bg

  .kdtabview
    bg                  color, dark-panel-bg

  .kdtabhandlecontainer
    bg                  color, dark-tab-header-bg

  .kdtabhandle
    color               dark-tab-color
    &.active
      bg                color, dark-panel-bg
      color             dark-active-tab-color
    &.plus
      border-left-color transparent

  .ace-koding
    bg                  color, dark-panel-bg
    .ace_gutter
      bg                color, dark-panel-bg
      color             dark-active-tab-color
    .ace_gutter-active-line
      bg                color, dark-tab-header-bg

  .editor-bottom-bar
    bg                  color, dark-tab-header-bg

  .kdsplitview-resizer
    bg                  color, dark-tab-header-bg

  .terminal .green-on-black.console
    bg                  color, dark-panel-bg


// common app styling
.ide
  .kdsplitview-resizer
    z-index             1000 // yes!
    &.vertical
      width             2px
    &.horizontal
      height            2px
  .ace_editor
    height              100%
  .kdtabhandle.dummy
  .kdview.dummy
    display             none


// sidebar icons
.ide-files-tab
  .application-tab-handle-holder
    vendor            transition, none
  .kdtabhandle
    b
      text-indent     -1000px
    &.files
      r-sprite        'ide', 'files-off'
      &.active
        r-sprite      'ide', 'files-on'
    &.vms
      r-sprite        'ide', 'vms-off'
      &.active
        r-sprite      'ide', 'vms-on'
    &.settings
      r-sprite        'ide', 'settings-off'
      &.active
        r-sprite      'ide', 'settings-on'
    &.actions
      r-sprite        'ide', 'share-off'
      &.active
        r-sprite      'ide', 'share-on'


// floating left
.floating.kdsplitview-panel
  .ide-files-tab
    .application-tab-handle-holder
      size              39px, 100%
      fl()
    .kdtabhandle
      float             none
    .application-tabview
      top               0
      left              0
      margin-left       39px
      height            100%
      abs()
      fl()
    .kdtabpaneview.active
      margin-right      39px
      width             auto
      border-right      2px solid dark-tab-header-bg


// vm list pane
.vm-list-pane
  .vm-item
    size                auto, 39px
    bg                  color, #131313
    position            relative
    margin              13px
    rounded             2px
    .domain-name
      text-decoration   underline
      line-height       39px
      color             #949290
      font-size         13px
      margin-left       14px
      pointer()
    .actions-menu
      border            none
      display           inline-block
      r-sprite          'ide', 'horizontal-dots'
      pointer()
      abs()
      right             12px
      top               11px
      &:focus
        box-shadow      none

  .buy-vm-button
    rounded             2px
    color               #FFF
    margin              0 13px
    font-size           13px
    line-height         39px
    background          none
    display             block
    size                auto, 39px
    position            relative
    border              1px dashed #5A5A5A
    text-decoration     none
    text-align          center
    .icon
      display           inline-block
      r-sprite          'ide', 'add-vm'
      float             none



// settings pane
.settings-pane
  line-height           20px
  font-size             12px

  .settings-header
    color               #4EA04C
    padding             25px 20px 10px

  .kdselectbox
    min-width           100px
    display             block
    float               right

  p
    color               #D4CFC9
    padding             5px 20px
    clear               both
    borderBox()

    &.with-select
      line-height       32px

    .settings-on-off
      display           block
      float             right

      &.on
        bg              color, #4EA04C
      &.off
        bg              color, #131313

  .kdselectbox
    bg                  color, transparent
    border              1px solid #555555
    rounded             3px
    width               120px
    borderBox()
    .arrows
      r-sprite          'finder', 'expanded'
      top               8px

//Save as dialog
body.ide .kddialogview.save-as-dialog
  right                 auto
  left                  50%
  size                  390px, auto
  margin-left           -195px
  background            #F9F7F3

  .kddialog-wrapper
    padding             25px 32px 0
    margin              0 0 108px 0

  form
    .kdlabel
      font-size         14px
      color             #8B8B8B
      display           block
      margin            0 0 13px
      opacity           .99
      line-height       1em

    .kdinput
      margin            0 0 17px
      background        #fff
      border            1px solid #E6E1DC
      rounded           3px
      color             #9A9A9A
      font-size         14px




  .save-file-container
    background          #2B2B2B
    border              none
    rounded             3px

    .vm-header
      .buttons
        display         none

    .jtreeview-wrapper
      height            100%

    button.finder-mountvm
      display           none

  .kddialog-buttons
    background          transparent
    border              none
    rounded             0 0 4px 4px
    padding             0 32px 32px
    borderBox()

    .kdbutton.green
      background        #4EA04C
      rounded           5px
      width             82px

    .kdbutton.nobg
      background        transparent
      padding           0
      margin            0 25px 0 0

      .button-title
        color           #767676
        text-decoration underline

