.PrivateChatPane .ChatInputWidget
  borderBox()
  bg                        color, #FCFCFC
  border                    none
  size                      100%, 100%
  padding                   0 25px 15px 25px

  &:before
    left                    37px

  > textarea
    borderBox()
    padding-left            44px
    size                    100%, 42px
    min-height              0
    border                  1px solid #dfdfdf

.PrivateChatPane-footer
  height                    70px

