$header-height              = 40px
$video-height               = 400px


.ChannelThreadPane
.ChannelThreadPane-body
  dFlex()
  vendor                    flex-direction, row
  height                    100%

.ChannelThreadPane-content
  dFlex()
  rel()
  vendor                    flex, 1
  vendor                    flex-direction, column
  height                    100vh
  height                    100%

.ChannelThreadPane-header
  bg                        color, #fcfcfc
  padding                   0 20px 0 34px
  vendor                    flex, 0 0 $header-height
  vendor                    align-items, center
  dFlex()
  rel()

  .ButtonWithMenuWrapper
    rel()
    top                     -2px
    margin                  0 15px

.ChannelThreadPane-videoContainer
  vendor                    flex, 0.00001
  vendor                    transition, flex .177s ease

  iframe
    size                    100% $video-height


.ChannelThreadPane.is-withVideo
  .ChannelThreadPane-videoContainer
    vendor                  flex, 0 0 $video-height

  .ChatPane .Pane-contentWrapper
    kalc                    height, 100vh \- ($header-height + $video-height)

  .DateMarker-fixed
    top                     ($header-height + $video-height)


.ChannelThreadPane-purposeWrapper
  .ChannelThreadPane-purpose
    font-style              italic
    color                   $gray-12
    letter-spacing          -0.1px
    font-size               16px

  input
    color                   $gray-12
    padding                 5px
    rounded                 4px
    width                   400px
    outline                 none
    font-size               14px
    border                  1px solid #dfdfdf
    margin-left             -6px
    hidden()

  &.editing
    .ChannelThreadPane-purpose
      hidden()

    input
      visible()

.ChannelThreadPane-menuItems
  margin-left               120px

.ChannelThreadPane-footer
  vendor                    flex, 0 0 1px

.ChannelThreadPane-body
  vendor                    flex, 1

.ChannelThreadPane-chatWrapper
  flex                      1

.ChannelThreadPane.is-withChat
  .ThreadPane-chatWrapper
    vendor                  flex, 1

.ThreadPane-chatWrapper
  height                    100%
  > div
    height                  100%

.ThreadPane-chatWrapper
.ChannelThreadPane-postWrapper
  vendor                    flex, .00001
  vendor                    transition, flex .177s ease

.ChannelThreadPane-sidebar
  bg                        color, #f5f5f5
  vendor                    flex, 0 0 240px

// @media only screen and (max-width : 950px)
//   .ChannelThreadPane-sidebar
//     vendor                  flex, 0 0 40px
