.ChannelListItem
  dBlock()
  overflow                hidden
  border-bottom           1px solid $gray-18
  line-height             25px
  font-size               14px
  padding                 5px 0

  .Button
    fr()
    padding               0 12px
    font-size             11px
    border                none
    height                24px
    line-height           24px
    margin-right          2px
    color                 $white

.ChannelListItem-title
  fl()
  noTextDeco()
  color                   #575757

.ChannelListItem-follow
  bg                      color, $green

.ChannelListItem-unfollow
  bg                      color, $gray-16

.ChannelListItem-button
  color                   $gray-8
  margin-left             5px

  &.cancel
    bg                    color, $gray-12

  &.confirm
    bg                    color, $green