@css {
/*
Stacks Onboarding styles
*/
}

$welcomeTitleColor          = #858585
$titleGreen                 = #01B05A
$linkColor                  = #769ECC

.WelcomeStacksView
  font-family               SoleilFamily

  section

    > h2
    > p
      text-align            center
      color                 $welcomeTitleColor

    > h2
      font-size             24px
      font-weight           bold
      margin                40px 0 15px 0
      letter-spacing        -.2px

    > p
      margin                0 auto 40px
      font-size             16.6px
      line-height           20px
      font-weight           300
  .kdtabhandlecontainer
    background              none
    padding                 0
    height                  62px
    line-height             62px
    box-shadow              inset 0 -3px 0 #f2f2f2
    border                  none

    .kdtabhandle-tabs
      size                  auto, auto
      fl()

    .kdtabhandle
      padding               0 23px
      margin                0
      border                none
      line-height           inherit
      height                62px
      background            none
      color                 #969696
      opacity               0.99
      font-size             14px
      font-weight           600

      a
        display             inline-block
        ellipsis()
        font-weight         400
        letter-spacing      .3px
        width               100%
        color               #969696

      &.active
        box-shadow          inset 0 -3px 0 #01b05a
        color               #575757 !important
        bg                  color, transparent !important
        a
          color             #575757

      p
        font-size           12px

// stack onboarding styling
.stack-onboarding

  .kdbutton
    &.green
      background            #00B057

    &.medium
      height                50px
      padding               0 35px

  .footer
    text-align              center
    margin-left             42px

    .kdbutton
      width                 120px

    .outline
      border                1px solid #A8A1A1

      &.back
        margin-right        8px

      span
        color               #A8A1A1

  .skip-setup
    color                   #A8A1A1
    font-size               16px
    line-height             22px
    margin-top              16px
    text-align              center
    font-weight             300
    pointer()

  .box-wrapper
    width                   525px
    overflow                hidden
    margin                  57px auto

    &.services
      margin                28px 0 0 39px !important

  .box
    size                    256px, 112px
    rounded                 4px
    border                  1px solid #E7E7E7
    background              #fff
    borderBox()
    fl()
    pointer()

    img
      margin                23px 0 0 49px

    &:nth-child(2n -1)
      margin-right          11px

    .label
      font-size             16px
      text-align            center
      font-weight           300
      margin-top            13px

  .services
    .box
      size                  227px, 95px

  .coming-soon
    cursor                  not-allowed
    background              transparent

    img
      opacity               .4

    .label
      color                 #9E9E9E

  .box.selected
    border                  3px solid #00B057

  .provider-selection
    height                  auto

    .provider
      &.koding
        img
          margin            21px 0 0 55px

        .label
          margin-top        9px

      &.engineyard
        rel()
        top                 -9px

        img
          margin            16px 0 0 38px

        .label
          margin-top        4px

      &.vagrant
        img
          margin            38px 0 0 52px

      &.azure
        rel()
        top                 -9px

        img
          margin            25px 0 0 63px

        .label
          margin-top        10px

      &.digitalocean
        rel()
        top                 -9px

        img
          margin            29px 0 0 36px

        .label
          margin-top        13px

      &.googlecloud
        rel()
        top                 -17px

        img
          margin            32px 0 0 34px

      &.rackspace
        rel()
        top                 -17px

        img
          margin            27px 0 0 50px

    .provider.coming-soon

      &.vagrant
        img
          margin            28px 0 0 52px
        .label
          margin-top        3px


  .code-setup

    height                  auto

    .kdtabhandle .title
      position              relative
      top                   15px
      left                  22px

    .description
      width                 350px

    .box-wrapper
      rel()
      top                   1px
      left                  -10px
      height                240px

    .github
      img
        margin              31px 0 0 54px

    .bitbucket
      img
        margin              27px 0 0 37px

    .gitlab
      top                   11px
      rel()

      img
        margin              9px 0 0 42px

    .yourgitserver
      top                   11px
      rel()

      img
        margin              3px 0 0 98px

      .label
        margin              15px 0 0 -3px

    + .footer
      margin                40px 0 0 18px

  .configuration
    height                  auto

    .kdtabview
      border                1px solid #D8D8D8
      size                  523px, 258px
      margin                0 auto 54px
      rounded               0 0 6px 6px
      bg                    color, #fff
      top                   10px
      left                  11px
      rel()

    .kdtabhandlecontainer .kdtabhandle
      height                70px
      box-shadow            none !important
      width                 153px
      max-width             153px !important
      bg                    color, #fff !important
      border                1px solid #D8D8D8
      margin-right          3px
      rounded               6px 6px 0 0

      b
        size                auto, 22px
        line-height         22px
        font-size           16px
        color               #2B2A49
        top                 12px
        left                45px
        abs()

      .title
        margin              0
        padding             0 25px 0 10px
        font-size           12px
        font-weight         200
        color               #606060
        line-height         34px

      .kdselectbox
        border              none
        top                 15px
        left                15px
        rel()

        .arrows
          height            6px
          vendor            transform, rotate(180deg)
          margin-top        4px

      &.active
        bg                  color, #fff !important
        border-bottom       1px solid #fff

      &.plus
        border-left         1px solid #D8D8D8
        width               153px

        span
          display           inline-block !important
          margin            25px 10px 0 20px !important
          opacity           .3

        &:after
          content           'Add another'
          font-size         16px
          line-height       18px
          font-weight       300
          color             #BBBBC4
          top               -6px
          left              -3px
          rel()

    .kdtabhandlecontainer
      box-shadow            none
      width                 526px
      margin                0 auto
      rel()
      top                   11px
      left                  11px

  .server-configuration

    section
      fl()
      width                 150px
      margin-top            38px

      &:first-child
        margin-left         59px

      p
        color               #434343
        font-size           16px
        line-height         22px
        margin-bottom       16px
        font-weight         bold

    .row
      overflow              hidden
      margin-bottom         10px

      .kdcustomcheckbox
        fl()

      .label
        fl()
        margin-left         8px
        font-size           16px
        line-height         22px
        color               #434343
        font-weight         100
        top                 -1px
        pointer()
        rel()
