h6.upload-file-title
  text-align      center
  display         block
  
.upload-file-name
  text-align      center
  margin          5px 0 20px 0
  
.upload-file-modal-error
  border          1px solid #f2778a
  background      #f7f1f2
  border-radius   5px
  padding         20px
  