@css {
/*
Stack Editor Credentials stylesheet
stackeditorcredentials.styl
*/
}

$accentColor                = #F2778A
$titleColor                 = #424242
$subtleColor                = #A59999
$borderColor                = #E3E3E3
$buttonGray                 = #858585


.StackEditorTabs .step-creds
  height                    100%

  .kdformview
    height                  100%
    border-bottom           none
    overflow                auto

    .advanced-field
      display               none

    &.in-advanced-mode
      color                 red

      .advanced-field
        display             block

    button.kdbutton.solid.medium
      margin-left           12px
      outlineButton         $buttonGray

      &.green
        colorizeOutlineButton $accentColor


  .listview-wrapper
    .kdscrollview
      height                calc(100% \- 30px)


  .credential-creation-intro
    margin                  20px 0 40px 160px !important
    hidden()

    p:first-child
      font-size             16px
      font-weight           bold

    + .kdformview
      border-bottom         none !important

  .credentials-form-view
    label
      text-align            right
      margin-right          10px !important

.step-creds.form-open

  .listview-wrapper
    display                 none

  .credential-creation-intro
    visible()

  .credentials-form-view
    height                  auto !important

  .add-credential-scroll
    styleScrollBars         rgba(0,0,0,.15)

    .kdscrolltrack.vertical
      right                 -15px


.StackEditorTabs

  button.kdbutton.add-big-btn
    abs                     0 0px 0px 0
    z-index                 10
    outlineButton           $accentColor
    .icon
      hidden()


.StackEditor-CredentialItem
  borderizeListItems        30px, 1px solid $borderColor

  &:before
    content                 ''
    abs                     30px 0 0 0px

  &:first-of-type:before
    abs                     0px 0 0 0px

  &.aws:before
    r-sprite                'stacks' 'icon_aws'

  &.do:before
    r-sprite                'stacks' 'icon_do'

  .warning-message
    display                 block
    text-align              center
    line-height             1.7em
    margin-top              15px
    padding                 12px
    color                   #555
    font-weight             300
    bg                      color lightgoldenrodyellow

.StackEditor-CredentialItem--flex
  display                   flex
  flex-flow                 row nowrap
  justify-content           space-around

.StackEditor-CredentialItem--info
  margin-left               60px
  line-height               30px
  flex                      0 0 auto

.StackEditor-CredentialItem--buttons
  flex                      1 0 auto
  text-align                right

  button.kdbutton.outline
    display                 inline-block
    float                   none
    margin-left             12px
    border-width            1px !important
    colorizeOutlineButton   #4a4e52

    &.secondary
      vendor                transition, opacity .177s ease
      opacity               0

    span.button-title
      font-family           SoleilFamily
      font-weight           300
      letter-spacing        .3px


.StackEditor-CredentialItem:hover
  button.kdbutton.secondary
    opacity                 1


