@css {
/*
Stack Editor stylesheet
stackeditor.styl
*/
}

.stackeditor
  rel()

  .text
    font-size               14px

    &.header
      color                 #02A74D
      font-size             17px
      // font-family           adelle

      margin-bottom         10px

  .breadcrumb
    font-size               18px
    color                   #00B057

    .active
      font-weight           normal

  .kdloader
    padding                 0

  .main-loader
    top                     42%
    height                  auto
    width                   100%
    text-align              center
    abs()

    .text
      margin-top            10px


  button.solid.compact.nav
    margin-left             10px

    &[disabled]
      opacity               .4

    &.prev
      right                 80px

  form
    .formline
      padding               0

  .no-stack-found
    .text
      margin-bottom         10px

  .providers
    display                 flex
    display                 -webkit-flex
    flex-flow               row wrap
    -webkit-flex-flow       row wrap
    margin                  20px 0 30px

      .button-title
        display             none

      &.selected
        border-color        green

      &[disabled]
        background          #EEE
        opacity             .5
        vendor              filter, grayscale(100%)

      &.github
        bg image,           url("/a/images/vendors/github.png")
        bg size,            auto 100px
        bg position,        50px -2px

      &.bitbucket
        bg image,           url("/a/images/vendors/bitbucket.png")
        bg size,            auto 100px
        bg position,        47px -3px

      &.aws
        bg image,           url("/a/images/vendors/amazon.png")
        bg size,            auto 40px
        bg position,        38px 22px

      &.koding
        bg image,           url("/a/images/vendors/koding.png")
        bg size,            auto 40px
        bg position,        26px

      &.digitalocean
        bg image,           url("/a/images/vendors/digitalocean.png")
        bg size,            180px
        bg position,        7px 33px

      &.rackspace
        bg image,           url("/a/images/vendors/rackspace.png")
        bg size,            180px
        bg position,        8px 25px

      &.engineyard
        bg image,           url("/a/images/vendors/engineyard.png")
        bg size,            auto 40px
        bg position,        25px 28px

      &.google
        bg image,           url("/a/images/vendors/google.png")
        bg size,            200px
        bg position,        0 23px

  .top
    display                 flex
    display                 -webkit-flex
    margin-bottom           10px

    .text.intro
      margin                auto

    button.action
      margin                auto
      margin-left           4px
      margin-top            6px
      min-width             162px


  button
    &[disabled]
      opacity               .5

  .kdtabhandlecontainer
    background              none
    padding                 0
    height                  62px
    line-height             62px
    box-shadow              inset 0 -3px 0 #f2f2f2
    border                  none

    .kdtabhandle-tabs
      size                  auto, auto
      fl()

    .kdtabhandle
      padding               0 23px
      margin                0
      border                none
      line-height           inherit
      height                62px
      background            none
      color                 #969696
      opacity               0.99
      font-size             14px
      font-weight           600

      a
        display             inline-block
        ellipsis()
        font-weight         400
        width               100%
        color               #969696

      &.active
        box-shadow          inset 0 -3px 0 #01b05a
        color               #575757 !important
        bg                  color, transparent !important
        a
          color             #575757

  .kdlabel
    font-size               14px
    color                   #8D8D8D
    float                   none
    line-height             19px
    margin                  0 0 7px !important
    font-weight             200

  .kdinput.text
    rounded                 3px
    background              #fff
    border                  1px solid #C9C9C9
    padding                 5px 13px
    font-size               14px
    line-height             19px
    color                   #4C4C4C
    font-weight             600
    opacity                 .99
    margin                  0 20px 0 0

    &.validation-error
      border-color          #f13a18

  .kdformview
    margin-top              20px

    .kdlabel
      line-height           39px
      min-width             160px
      fl()

  .step-creds
    height                  100%

    .kdformview
      height                100%
      border-bottom         none
      overflow              auto

      .advanced-field
        display             none

      &.in-advanced-mode
        .advanced-field
          display           block

    .listview-wrapper
      .kdscrollview
        height              calc(100% \- 30px)

  &.form-open
    .listview-wrapper
      display               none


  .kdscrollview > .define-stack-view
    overflow                hidden

    > .kdscrollview
      height                calc(100% \- 193px)

  .kdcustomscrollview main .define-stack-view
    height                  calc(100% \- 150px)

  .kdtabpaneview.stack-template
    height                  calc(100% \- 43px)


  .stack-editor-footer
    height                  90px
    background              #FFF
    border                  1px solid #e4e4e4
    border-top              none
    margin-bottom           25px
    rounded                 0 0 4px 4px

    .section
      size                  50%, 90px
      overflow              hidden
      fl()
      borderBox()

      &:last-child

        border-left         1px solid #e4e4e4

        .icon
          r-sprite          'admin', 'manual'

      .icon
        r-sprite            'admin', 'invite'
        display             inline-block
        margin              30px 30px 0 30px
        fl()

      .text
        fl()
        margin-top          23px

      p, a
        font-size           16px
        color               #A8A1A1
        line-height         23px
        font-weight         300

      a
        text-decoration     underline


  .edit-mode

    .step-define-stack
      margin-top            -20px

    .header.title, .description
      hidden()

  .steps-view
    display                 flex
    display                 -webkit-flex
    margin-bottom           30px

    cite.vline
      size                  100%, 1px
      border-top            1px solid #BDBDBD
      left                  0
      top                   20px
      abs()

    div
      width                 300px
      margin                auto
      text-align            center

      .step
        size                40px, 40px
        left                -20px

        color               white
        font-size           20px
        font-family         adelle
        text-align          center
        border-radius       40px
        background-color    #BDBDBD

        padding-top         8px
        margin-left         50%

        borderBox()
        rel()

      .title
        width               auto
        margin-top          5px
        color               #BDBDBD

      &.selected
        .step
          background        #02A74D
        .title
          color             #02A74D

  .repo-listview
    margin-top              20px
    height                  calc(100% \- 60px)

  .select-view

    display                 flex
    display                 -webkit-flex

    margin-top              20px
    borderBox()

    .kdselectbox
      min-width             130px
      padding-top           2px
      border-radius         3px
      borderBox()

      .arrows
        top                 12px

    div, input, button
      margin                auto !important
      margin-right          10px !important
      height                40px
      min-width             80px

    button
      margin-right          0 !important
  .stack-onboarding.main-content
    padding-top             40px

  .ace_gutter-layer
    bg                      color, #FFF

  .define-stack-view
    padding                 15px 25px 25px
    borderBox()

    .kdtabhandle
    .kdtabhandlecontainer
      height                42px !important
      line-height           42px
      box-shadow            none

    .kdtabpaneview
      bg                    color, #FFF
      border                1px solid #E4E4E4
      border-top            none
      borderBox()

      > div
        padding             15px
        borderBox()

      .define-stack-view
        padding             0

    .kdtabhandlecontainer .kdtabhandle.active
      box-shadow            none !important
      bg                    color, #FFF !important
      border-color          #E4E4E4
      border-bottom-color   #FFF
      rounded               4px 4px 0 0

    .kdtabhandlecontainer
      border-bottom         1px solid #E4E4E4

  .credential-creation-intro
    margin                  20px 0 40px 160px !important
    hidden()

    p:first-child
      font-size             16px
      font-weight           bold

    + .kdformview
      border-bottom         none !important
      height                calc(100% \- 180px) !important

  .credentials-form-view
    label
      text-align            right
      margin-right          10px !important

  .kdtabpaneview
    &.custom-variables
    &.readme
    &.credentials
      height                calc(100% \- 43px)

  .stack-name
    min-width               100px !important
    line-height             30px !important
    height                  30px

  .template-title-form
    overflow                hidden
    display                 flex

  .formline.template-title
    flex-grow               1

  .formline.template-title + .buttons
    fl()

  input.template-title
    height                  30px
    line-height             30px
    margin-right            10px !important

  .stacktemplates
    padding-top             40px
    borderBox()

  .kdtabhandle.credentials

    &.warning
      width                 154px

    .warning
      display               inline-block
      r-sprite              'admin', 'warning'
      top                   11px
      left                  110px
      abs()

  .credential-item .buttons
    width                   370px
    text-align              right

  .define-stack-view.edit-mode
    .step-define-stack .editor-pane.editor-view
      margin-top            20px

  .step-creds.form-open
    .credential-creation-intro
      visible()

    .credentials-form-view
      height                auto !important

    .add-credential-scroll
      styleScrollBars       rgba(95, 95, 95, 1)

      .kdscrolltrack.vertical
        right               -15px

  .editor-main > .kdview
    height                  100% !important


  .no-item-view
    text-align              center
    margin-top              70px
    font-size               15px
    color                   #a1a1a1

  .kdbutton.compact
    .kdloader canvas
      margin-top            5px


  .define-stack-view
    .kdtabhandle
    .kdtabhandlecontainer
      height                42px !important
      line-height           42px
      box-shadow            none

    .kdtabpaneview
      bg                    color, #FFF
      border                1px solid #E4E4E4
      border-top            none
      borderBox()

      > div
        padding             15px
        borderBox()

      .define-stack-view
        padding             0

    .kdtabhandlecontainer .kdtabhandle.active
      box-shadow            none !important
      bg                    color, #FFF !important
      border-color          #E4E4E4
      border-bottom-color   #FFF
      rounded               4px 4px 0 0

    .kdtabhandlecontainer
      border-bottom         1px solid #E4E4E4

    .kdtabhandle-tabs
      width                 100%

      .kdtabhandle
        max-width           250px !important
        margin-top          0
        top                 1px
        border              1px solid transparent

    .providers
      .text.header
        margin-bottom       15px

    .buttons
      text-align            right

    .credential-list
      .credential-item
        .inuse-tag
          margin-top        -10px


  .credential-list
    .credential-item
      &.failed
        .buttons
          top               26px !important

    .buttons
      width                 400px

  .custom-variables

    &.kdtabhandle.custom-variables.notification
      b
        rel()
        left                -10px

    .indicator
      size                  18px, 18px
      color                 white
      bg                    color, #F76E6E
      text-align            center
      font-size             11px
      line-height           18px
      font-weight           200
      rounded               18px
      vendor                transition, top .2s ease
      abs                   66px 10px 0 0

      &.in
        top                 11px

      &.red
        bg                  color, darkred

  .readme
    .editor-view
      rounded               4px 4px 0 0

  .readme
    .preview-button
      bg                    color, white !important
      z-index               13
      bottom                0
      right                 15px
      abs()

  .readme
  .custom-variables
    > .kdview
      padding-right         0

  .message-view
    font-size               14px
    height                  50px

    pre
      display               inline
      background-color      #eee
      font-size             12px
      padding               2px 3px
      border                1px solid #ddd
      rounded               2px

  .step-define-stack

    > .kdbutton
      z-index               14

    .editor-view
      rounded               4px 4px 0 0

    .showlogs-button
    .template-preview-button
    .fullscreen-button
      z-index               13
      right                 0
      bottom                0
      margin                0 15px 15px 0
      bg                    color, white !important
      abs()
      &:focus
        vendor              box-shadow, none

    .template-preview-button
      right                 78px

    .fullscreen-button
      right                 175px
      hidden()

  .kdview.output
    bottom                  0
    vendor                  transition, height .2s ease
    background-color        rgb(250, 250, 250)
    border-radius           0 0 2px 2px
    z-index                 15
    height                  0 !important
    rounded                 0 0 4px 4px
    borderBox()
    abs()

    &.raise
      height                calc(70% - 33px) !important
      border-top            1px solid #e4e4e4

    pre.output-view
      height                auto
      margin                0 10px
      white-space           pre-wrap

    .kdlabel
      line-height           49px
      text-indent           17px
      margin                0



.StackEditorTabs
  kalc                      height, (100% \- 175px)