@css {
/*
Stacks Onboarding styles
*/
}

$accentColor                = #F2778A

.StackEditor-OnboardingModal
  font-family               SoleilFamily
  overflow                  hidden
  rounded                   6px
  border                    none

  &.kdmodal
    .kdmodal-inner
    .kdmodal-content
      margin                0

    .kdmodal-inner .close-icon
      r-sprite              app modal_close
      margin                20px 20px 0 0
      background-position   0 !important

  header
    height                  84px
    border-bottom           1px solid #DEDBDB
    bg                      color #fff
    text-align              center

    h1
      color                 #BABABA
      font-size             20px
      font-weight           300
      line-height           20px
      margin                31px 0
      display               inline-block
      fontPrecisionForSoleil()

  main
    text-align              center

    > h2
      color                 #585858
      margin                91px 0 12px
      font-size             27px
      font-weight           300
      line-height           27px
      fontPrecisionForSoleil()

    > p
      margin                0 140px
      width                 auto
      font-size             17px
      font-weight           300
      line-height           27px
      color                 #A59999
      letter-spacing        .2px
      fontPrecisionForSoleil()

  footer
    height                  75px
    border-top              1px solid #DEDBDB
    bg                      color #fff
    rel()

    .HomeAppView--button
      color                 #ababab !important
      abs                   25px 156px

    .StackEditor-OnboardingModal--cancel
      hidden()


  .get-started footer
    button.next
    button.back
    a.HomeAppView--button
      hidden()

    .StackEditor-OnboardingModal--cancel
      visible()

  button.next
  button.back
  .StackEditor-OnboardingModal--cancel
    outlineButton           #BEBEBE
    height                  42px
    padding                 0 37px

    span.button-title
      font-size             14px
      letter-spacing        .2px
      text-transform        uppercase
      line-height           42px
      fontPrecisionForSoleil()

  button.back
    abs                     15px 0 0 26px

  button.next
    colorizeOutlineButton   $accentColor
    abs                     15px 26px

  .StackEditor-OnboardingModal--cancel
    abs                     15px 26px

  .kdtabhandlecontainer
    background              none
    padding                 0
    height                  62px
    line-height             62px
    box-shadow              inset 0 -3px 0 #f2f2f2
    border                  none

    .kdtabhandle-tabs
      size                  auto, auto
      fl()

    .kdtabhandle
      padding               0 23px
      margin                0
      border                none
      line-height           inherit
      height                62px
      background            none
      color                 #969696
      opacity               0.99
      font-size             14px
      font-weight           600

      a
        display             inline-block
        ellipsis()
        font-weight         400
        width               100%
        color               #969696

      &.active
        box-shadow          inset 0 -3px 0 #01b05a
        color               #575757 !important
        bg                  color, transparent !important
        a
          color             #575757



.StackEditor-OnboardingModal--create
  height                    60px
  padding                   12px 34px
  margin                    63px 0 101px

  span.button-title
    font-size               19px
    letter-spacing          .2px
    text-transform          uppercase
    fontPrecisionForSoleil()

// stack onboarding styling
.stack-onboarding

  .kdbutton
    &.green
      background            #00B057

    &.medium
      height                50px
      padding               0 35px

  .footer
    text-align              center
    margin-left             42px

    .kdbutton
      width                 120px

    .outline
      border                1px solid #A8A1A1

      &.back
        margin-right        8px

      span
        color               #A8A1A1

  .skip-setup
    color                   #A8A1A1
    font-size               16px
    line-height             22px
    margin-top              16px
    text-align              center
    font-weight             300
    pointer()

  .box-wrapper
    width                   525px
    margin                  57px auto

    &.services
      margin                28px 0 0 39px !important

  .box
    size                    256px, 112px
    rounded                 4px
    border                  1px solid #E7E7E7
    background              #fff
    borderBox()
    fl()
    pointer()

    img
      margin-top            23px

    &:nth-child(2n -1)
      margin-right          11px

    .label
      font-size             16px
      text-align            center
      font-weight           300
      margin-top            13px

  .services
    .box
      size                  227px, 95px

  .coming-soon
    cursor                  not-allowed
    background              transparent

    img
      opacity               .4

    .label
      color                 #ddd
      font-weight           300
      font-size             12px

  .beta
    color                   white
    background              #A8CEFD
    height                  18px
    width                   42px
    position                absolute
    font-size               10px
    line-height             1.8
    left                    213px
    top                     10px
    letter-spacing          0.7px

  .box.selected
    shadow                  0 0 0 3px $accentColor

  .provider-selection
    height                  auto

    .provider
      margin-top            11px
      rel()

      &:first-child
      &:nth-child(2)
        margin-top            0

      &.koding
        img
          margin-top        21px

        .label
          margin-top        9px

      &.engineyard
        img
          margin-top        16px

        .label
          margin-top        4px

      &.vagrant
        img
          margin-top        38px

      &.azure
        img
          margin-top        25px

        .label
          margin-top        10px

      &.digitalocean
        img
          margin-top        29px

        .label
          margin-top        13px

      &.google
        img
          margin-top        32px

      &.rackspace
        img
          margin-top        27px

    .provider.coming-soon

      &.vagrant
        img
          margin-top        28px
        .label
          margin-top        3px


  .code-setup

    height                  auto

    .kdtabhandle .title
      position              relative
      top                   15px
      left                  22px

    .description
      width                 350px

    .box-wrapper
      rel()
      top                   1px
      left                  -10px
      height                240px

    .github
      img
        margin-top          31px

    .bitbucket
      img
        margin-top          27px

    .gitlab
      top                   11px
      rel()

      img
        margin-top          9px

    .yourgitserver
      top                   11px
      rel()

      img
        margin-top          3px

      .label
        margin              15px 0 0 -3px
        font-weight         300
        font-size           12px

    + .footer
      margin                40px 0 0 18px

  .configuration
    height                  auto
    > main
      padding               57px 0

    .kdtabview
      border                1px solid #D8D8D8
      size                  525px, 260px
      margin                0 auto
      rounded               0 6px 6px 6px
      bg                    color, #fff
      borderBox()
      rel()

    .kdtabhandlecontainer .kdtabhandle
      height                62px
      box-shadow            none !important
      width                 153px
      max-width             153px !important
      bg                    color, #fff !important
      border                1px solid #D8D8D8
      margin-right          3px
      rounded               6px 6px 0 0

      b
        size                auto, 22px
        line-height         22px
        font-size           16px
        color               #2B2A49
        top                 12px
        left                45px
        abs()

      .title
        margin              0
        left                0
        font-size           12px
        font-weight         200
        color               #606060
        line-height         34px

      .kdselectbox
        border              none
        top                 15px
        rel()

        .arrows
          height            6px
          vendor            transform, rotate(180deg)
          margin-top        4px

      &.active
        bg                  color, #fff !important
        border-bottom       1px solid #fff

      &.plus
        border-left         1px solid #D8D8D8
        width               153px

        span
          display           inline-block !important
          margin            23px 10px 0 0 !important
          opacity           .3

        &:after
          content           'Add another'
          font-size         16px
          line-height       18px
          font-weight       300
          color             #BBBBC4
          top               -6px
          left              -3px
          rel()

    .kdtabhandlecontainer
      box-shadow            none
      width                 525px
      margin                0 auto
      top                   1px
      rel()

  .server-configuration

    section
      fl()
      width                 150px
      margin-top            38px

      &:first-child
        margin-left         59px

      p
        color               #434343
        font-size           16px
        line-height         22px
        margin-bottom       16px
        font-weight         bold

    .row
      overflow              hidden
      margin-bottom         10px

      .kdcustomcheckbox
        fl()

      .label
        fl()
        margin-left         8px
        font-size           16px
        line-height         22px
        color               #434343
        font-weight         100
        top                 -1px
        pointer()
        rel()
