@import "../../Framework/themes/default/kdfn"
@import "../../Main/styl/appfn"

@css {
/*
DEVTOOLS stylesheet
app.devtools.styl
*/
}

.devtools

  .application-page
    aside
      height        100%  !important
      top           0     !important
