.UserDropboxItem
  padding-top               4px !important

  .ProfilePicture
    rounded                 3px
    display                 block
    fl()
    margin-right            15px

.UserDropboxItem-names
  padding-top               3px

.UserDropboxItem-secondaryText
  color                     #aaa8aa
  padding-left              7px

