@import "../../Framework/src/themes/default/kdfn"
@import "../../Main/styl/appfn"
@import "../../Main/styl/app.fonts"

@css {
/*
education Landing stylesheet
education.styl
*/
}

body.education
  -webkit-font-smoothing  antialiased
  background              #fff
  font-family             "Asap", "Helvetica Neue", Helvetica, sans-serif

  #dock
  .account-area
    hidden()

  #main-header
    max-width             1280px
    shadow                none
    margin                0
    padding               0 45px
    abs                   45px 0 0 50%
    vendor                transform, translateX(-50%)
    z-index               15
    borderBox()

    .inner-container
      bg                  color, transparent

    .logotype
      font-size           24px
      color               #444
      font-weight         700
      line-height         45px
      noTextDeco()
      visible()
      fl()

    #koding-logo
      margin              0 12px 0 0
      size                45px 45px
      bg                  color, logoBg
      position            static
      fl()

      cite
        r-sprite          home 'logo'
        margin            14px
        display           block

  .content-page.education
    padding               0
    max-width             100%

  section .inner-container
    max-width             1280px
    padding               0px 45px
    margin                0 auto
    display               block
    position              relative
    borderBox()

  //Introduction section

  section.introduction
    padding               90px 0 120px
    text-align            center

    nav
      abs                 -40px 45px 0 0
      line-height         44px
      z-index             20
      font-size           16px
      font-weight         400

      .kdbutton
        margin            10px 0 0 12px
        padding           0 12px

      a
        font-size         inherit
        color             inherit
        font-weight       inherit
        margin-left       16px
        display           inline-block
        noTextDeco()

    article
      font-size           22px
      line-height         34px
      font-weight         400
      padding             50px 15px 0
      width               100%
      borderBox()
      fl()

      h2
        font-weight       700
        font-size         36px
        margin            0 0 34px

      p
        margin            0 0 64px

      span.seperator
        line-height       44px
        display           inline-block
        margin            0 24px

  // screenshots Section

  section.screenshots
    margin                0 0 120px

    >div
      size                60vw, 35vw
      margin              0 auto
      background          #ddd
      rounded             12px
      border              1px solid #aaa
      position            relative

      &:after
      &:before
        content           ""
        display           block
        background        #ddd
        rounded           6px
        border            1px solid #aaa

      &:after
        size              14vw, 25vw
        abs               5vw 0 0 52vw

      &:before
        size              19vw, 30vw
        abs               2.5vw 50vw 0 0


  // Features Section

  section.features
    h3
      font-size           22px
      font-weight         700
      margin              0 0 34px

    .feature
      size                50%, auto
      margin              0 0 90px 0
      borderBox()
      fl()

      &:nth-of-type(odd)
        padding           0 44px 0 60px

      &:nth-of-type(even)
        padding           0 0 0 104px

      h5
        font-size         20px
        font-weight       700
        margin-bottom     14px
        position          relative
        color             #666

      i
        display           block
        abs               -6px 100% 0 0
        margin            0 24px 0 0
        background        #ddd
        size              34px, 34px
        rounded           50%
        border            1px solid #aaa

      p
        font-size         16px
        line-height       22px

  //Testimonials section
  section.testimonials
    padding              0 0 110px

    h3
      font-size           22px
      font-weight         700
      margin              0 0 34px

    article
      width              48%
      position           relative
      margin-left        2%
      fl()
      borderBox()

      .avatar
        display           block
        abs               6px 0 0 0px
        background        #ddd
        size              54px, 54px
        rounded           50%
        border            1px solid #aaa

      p
        padding           0 44px 0 74px
        font-size         16px
        line-height       22px


  footer
    padding               88px 0
    font-size             14px
    font-weight           400
    border-top            1px solid #dedede

    address
      fl()

    nav
      fr()

    a
      font-size           inherit
      color               inherit
      font-weight         inherit
      noTextDeco()

      &~a:before
        content           "•"
        font-size         inherit
        color             inherit
        font-weight       inherit
        display           inline-block
        margin            0 8px 0 6px
