@import "lib/core.fn"

@css {
/*
Commons stylesheet
resurrection.commons.styl
*/
}

body.apps
body.environments
  bg                    color #e4e4e4

html.app
body.activity
body.dashboard
body.account
body.apps
body.environments
  #main-header
    nav
      margin            -37px 18px 0 0

validationRed = rgba(217, 58, 55, 0.65)

.kdtooltip.validation-error
.kdtooltip.validation-error.just-text
  min-width                   none
  max-width                   234px
  min-height                  none

  div.wrapper
    bg                        color, validationRed
    shadow                    none
    padding                   10px 15px
    min-height                auto
    min-width                 auto
    rounded                   4px
    p
      font-size               14px
      font-weight             600
      text-align              center
      line-height             18px
      -webkit-font-smoothing  antialiased

  &.placement-right
    &:after
      border-right-color    validationRed

  &.placement-left
    &:after
      border-left-color     validationRed

  &.placement-bottom
    &:after
      border-bottom-color   validationRed

  &.placement-top
    &:after
      border-top-color      validationRed

    &.direction-left:after
      right                 9px


.avatarview
  background-image          url( imagePath + 'defaultavatar/avatar.svg')
  background-size           100% 100%
  background-repeat         no-repeat
  overflow                  hidden
  display                   block
  vertical-align            top
  img
    rounded                 3px

.content-page
  margin                    0 auto
  size                      auto auto

  > .kdtabview
    height              100%
    font-size           14px
    fl()

a.custom-link-view.border-only-green
  display             block
  margin              0 auto 46px
  background          transparent
  border              2px solid #3bc079
  rounded             4px
  padding             10px 32px
  width               200px
  clear               both
  font-size           16px
  text-transform      uppercase
  text-decoration     none

  .title
    color             #01ae57
    font-size         16px

  &:hover
    background        #3bc079
    text-decoration   none

    .title
      color           #fff

//
// THIN BUTTON STYLES
//
.kdbutton.thin
  bg                   color transparent
  border               2px solid logoBg
  rounded              28px
  padding              0
  height               55px
  borderBox()
  span.button-title
    padding            0
    color              logoBg
    font-size          18px
    text-decoration    uppercase
    letter-spacing     1px
  &:hover
    bg                 color white
  &:active
    bg                 color logoBg
    span.button-title
      color            white
  &:focus
    shadow             0 0 10px -2px logoBg

  // Sizes
  &.medium
    height             42px
    line-height        38px
    rounded            21px

  &.small
    height             26px
    line-height        24px
    rounded            13px

    span.button-title
      font-size        14px

  // Color variatons

  &.red
    border-color       #E94835

    span.button-title
      color            #E94835

    &:active
      bg               color #E94835

      span.button-title
        color          white

  &.gray
    border-color       #929292

    span.button-title
      color            #666666

    &:active
      bg               color #E94835

      span.button-title
        color          white


//
// SOLID BUTTON STYLES
//

.kdbutton.solid
  bg                   color #3c4043
  border               none
  rounded              3px
  padding              0 20px
  margin               0
  height               55px
  borderBox()
  span.button-title
    padding            0
    color              rgba(227, 227, 227, 0.8)
    font-size          18px
    letter-spacing     .6px
    line-height        55px
    text-rendering     geometricPrecision
  span.icon
    margin             18px 0 0 0
  &:hover
    bg                 color #4A4E52
  &:active
    bg                 color logoBg
    span.button-title
      color            white
  &:focus
    shadow             0 0 10px -2px logoBg
  &.icon-only
    span.icon
      margin           0

.kdbutton.solid.green
  bg                   color #61C17F
  span.button-title
    color              white
  &:hover
  &:active
  &:focus
    bg                 color #2DBEA1
    span.button-title
      color            white
  &:focus
    shadow             0 0 10px -2px logoBg

.kdbutton.solid.compact
  height               30px
  padding              0 16px
  span
    line-height        30px
    font-size          12px

.kdbutton.compact.light-gray
  bg                   color, transparent !important
  border               2px solid #CBCBCB
  span
    color              #858585 !important
    line-height        26px

.kdbutton.solid.yellow
  bg                   color #ff9f00
  span.button-title
    color              #ac4a00
  &:hover
  &:active
  &:focus
    bg                 color #ac4a00
    span.button-title
      color            #ff9f00
  &:focus
    shadow             0 0 10px -2px #ff9f00

.kdbutton.solid.clear
  bg                   color transparent
  rounded              0
  span.button-title
    color              #444
  &:hover
  &:active
  &:focus
    background         none
    shadow             none
    span.button-title
      color            #222

.kdbutton.solid.light-gray
  bg                   color #C0C0C0
  span.button-title
    color              white
  &:hover
  &:active
  &:focus
    bg                 color #a0a0a0
    span.button-title
      color            whitesmoke
  &:focus
    shadow             0 0 10px -2px #ff9f00

.kdbutton.solid.small
  margin              0
  padding             0 25px
  size                auto 26px
  rounded             10px
  text-align          center
  span.button-title
    font-size         13px
    line-height       1
  span.icon
    margin            2px 0 0 0

.kdbutton.solid.mini
  margin              0
  padding             0 10px
  size                auto 20px
  rounded             6px
  text-align          center
  span.button-title
    font-size         12px
    line-height       1
  span.icon
    margin            2px 0 0 0

.kdbutton.solid.medium
  margin              0
  padding             0 25px
  size                auto 40px
  text-align          center
  span.button-title
    font-size         14px
    font-weight       400
    line-height       42px
  span.icon
    margin            12px 12px 0 0

.kdbutton.solid.red
  bg                   color #D75B5B
  span.button-title
    color              white
  span.icon
    margin             18px 0 0 0
  &:hover
  &:active
  &:focus
    bg                 color #e14a35
  &:focus
    shadow             0 0 10px -2px logoBg

  &.shadowed
    shadow             0 2px 0 0 #a33e2f
    .button-title
      text-shadow      0 -1px 2px rgba(0, 0, 0, .75)

.kdbutton.w-loader.loading
  .button-title
  .icon
    opacity            0

  .kdloader
    size               auto, auto
    vendor             transform, translateX(-50%) translateY(-50%)


//
// KODING RESURRECTION MODAL THEME
//

// .kdmodal.resurrection

.kdmodal
  bg                    color white
  rounded               6px
  shadow                0 0 32px rgba(0,0,0,.46)
  position              fixed !important

  .kdmodal-inner
    margin              45px

    .close-icon
      r-sprite            app, "modal-close-icon"
      top               14px
      right             14px

      &:hover
        r-sprite          app, "modal-close-icon"

  .kdmodal-title
    cursor              move
    line-height         normal !important
    font-weight         400
    color               #50595a !important
    margin-bottom       15px !important
    padding             0 !important
    background          none !important
    border              none !important

    .title
      font-size         24px !important

  .kdmodal-content
    margin              15px 0 0 0 !important
    padding             0 !important
    font-size           16px !important
    line-height         22px !important

    .modalformline
      padding           0
      overflow          visible

      &:last-child
        border-bottom   1px solid transparent


  .kdmodal-buttons
  .formline.button-field
    margin              24px 0 0 0 !important
    background          none !important
    // looks better i think w/o - SY
    // border-top          2px solid #f3f4f5 !important
    height              73px !important

    .kdbutton
      fr()

      &.to-left
        margin-left     0
        margin-right    12px
        fl()

      &:not(.solid)
        size            auto, 45px
        background      none
        border-width    3px
        border-style    solid
        margin          22px 0 0 12px !important
        padding         0 24px !important
        rounded         23px
        font-size       18px
        text-transform  uppercase
        font-family     'Proxima Nova'

    .modal-clean-red
      border-color      #e94b35
      color             #e94b35

    .modal-clean-green
      border-color      #1aaf5d
      color             #1aaf5d

    .modal-cancel
      border-color      #bdc3c7
      color             #bdc3c7

.kdoverlay
  fix()




@css {
/*
resurrection.commons.styl
FOOTER VIEW
*/
}


footer.main-footer
  padding               56px 0
  font-family           openSansFamily
  font-weight           400
  background            #F0F0F0
  border-top            1px solid #E8E8E8

  .inner-container
    max-width           1290px
    padding             0px 45px
    margin              0 auto
    display             block
    position            relative
    borderBox()

  .footer-block
    width               50%
    font-size           0
    borderBox()
    fl()
    &:last-child
      text-align        right

    a
      vertical-align     middle
      font-size          14px
      line-height        22px
      color              #747474
      display            inline
      margin-right       12px
      noTextDeco()

  a.social
    display             inline-block
    margin-right        8px
    &.tw
      r-sprite          home 'social-tw'
    &.fb
      r-sprite          home 'social-fb'



@media only screen and (min-width : 320px) and (max-width : 568px)
  footer.main-footer
    .footer-block
      width             100%
      float             none

      &~.footer-block
        margin-top      18px
        border-top      1px solid rgba(255,255,255,.05)
