@import "lib/core.fn"

@css {
/*
LOGIN SIGNUP stylesheet
app.login-signup.styl
*/
}

body.login

  #kdmaincontainer
    min-height              400px


#kdmaincontainer #main-tab-view
  height                    100%

#kdmaincontainer.blur
  vendor                    filter, blur(5px)

.login-form

  .kdbutton.solid
    display               block
    width                 100%
    rounded               27px


.accept-tos
  margin-top              10px
  font-size               12px

  a
    font-size             12px    !important
    color                 #6e7879 !important
    text-decoration       underline


.kdview.login-screen
  background                #261a4b
  text-align                center
  position                  relative
  overflow                  auto
  borderBox()
  &:after
    background              -webkit-linear-gradient(274deg,#261a4b 0,#402f7c 48%,#4781c0 100%)
    background              linear-gradient(176deg,#261a4b 0,#402f7c 48%,#4781c0 100%)
    background              -webkit-radial-gradient(56% 135%,140% 196%,#50b5e7 0,#402f7c 48%,#000 100%)
    background              radial-gradient(56% 135%,140% 196%,#50b5e7 0,#402f7c 48%,#000 100%)
    content                 ''
    fix                     0px 0 0 0px
    size                    100% 100%
    z-index                 0

  .koding-logo
    left                    92px
    z-index                 2
    top                     32px
    background-color        transparent
    display                 block
    fix()
    .main-header-logo
      width                 95px


  .tint
    size                100% 100%
    z-index             1
    top                 0
    left                0
    bg                  color, rgba(0,0,0,.6)
    abs()

  .flex-wrapper
    z-index             1
    size                425px auto
    margin              -205px auto 0 auto
    top                 50%
    rounded             4px
    bg                  color #fafafa
    borderBox()
    rel()
    // &.one
    //   height            281px
    // &.three
    //   height            427px

    &.animate

      &.shake
        vendor          animation, shake .5s

    .kdbutton
      border-radius     3px
      bg                color, #1aaf5d !important

    .kdinput
      border-radius     3px !important

    .form-area
      padding           40px

    .inline-footer
      bg                color, #f1f2f2
      padding           10px 20px
      border-radius     0 0 4px 4px

      .oauth-container
        padding         10px 20px

      .text:after
        vertical-align  top
        line-height     30px
        color           #7d7d7d
      .icon
        display         inline-block
        margin-left     10px
        cursor          pointer

      .gl
        r-sprite            app 'icongitlab'
      .gh
        r-sprite            app 'icongithub'
      .go
        r-sprite            app 'icongplus'
      .fb
        r-sprite            app 'iconfacebook'
      .tw
        r-sprite            app 'icontwitter'

  a
    color               #1aaf5d
    font-size           14px

  footer
    bottom              22px
    left                9px
    z-index             2
    fix()
    a
      color             rgba(255, 255, 255, .5)
      margin-left       13px
      font-size         12px

  h4.form-header
    padding             0 0 28px
    margin              0 0 28px
    font-size           15px
    color               #53585c
    rel()

    &:after
      content           ""
      display           block
      abs               100% 0 0
      size              100%, 1px
      opacity           .4
      bg                image, -webkit-linear-gradient(left, transparent 0%, #bdc3c7 50%, transparent 100%)

    a
      color             #1aaf5d
      font-weight       400
      padding-bottom    2px
      border-bottom     1px solid #1aaf5d


  .login-form-holder
  .login-options-holder
  .back-to-login
  .regLink
  .recLink
  .logLink
  >section
    hidden()

  &.join
    .logLink
    .regLink
      visible()
    .flex-wrapper
      overflow            visible
      &.expanded
        width             400px
        height            310px
        p.request-thanks
          height          140px
          font-size       11px
          iframe
            margin-top    12px
          a:hover
            color         #ffb500
            text-decoration underline

    .rqf
      visible()
      >.kdview
        overflow          visible

  &.login
    .lf
    .regLink
    .recLink
    .login-options-holder.log
      visible()
    .oauth-container span.text:after
      content "Or login with:"

  &.register
    .rf
    .logLink
    .login-options-holder.reg
      visible()
    .flex-wrapper
      height                auto
      &.taller
        height              470px
    .oauth-container span.text:after
      content "Or register with:"
    .oauth-container span.tw
      hidden()

  &.finishRegistration
    .frf
    .logLink
    .login-options-holder.reg
      visible()
    .flex-wrapper
      height                525px
      &.taller
        height              600px
    .email
      .placeholder-helper
        display             none
    .kdbutton.github
      hidden()

  &.redeem
    .rdf
      visible()
    .login-footer
      hidden()

  &.recover
    .rcf
    .logLink
      visible()

  &.reset
    .rsf
    .logLink
      visible()
    .reset-link
      hidden()

  &.resendEmail
    .resend-confirmation-form
    .logLink
      visible()

  .login-hint
    color                 #B4B3B3
    margin                0 auto 10px auto
    width                 auto
    font-size             11px
    top                   -14px

  .failure-notice
    size                auto, auto
    background          transparent
    font-size           14px
    font-weight         200
    color               #6e7879
    line-height         18px
    text-shadow         none

    &.registrations-disabled
      margin-top        55px
      p
        margin          0 60px

    b, strong
      display           block
      font-weight       400
      font-size         16px
      line-height       18px
      margin-bottom     12px

    a
      color             logoBg

  .login-footer
    width               100%
    abs                 100% 0 0 0px
    padding             24px 14px 0
    font-size           14px
    color               #cfcfcf
    borderBox()

    b
      font-weight         bold

    a
      font-size           14px
      font-weight         200
      opacity             .9
      letter-spacing      .2px

      strong
        font-weight       500

.login-form-holder
  padding-bottom          0
  height                  auto

.login-form

  > section
  > div
    rel()
    text-align            center
    .kdview
      width               auto
      margin              0 auto 17px auto

      &.half-size
        display           inline-block
        width             39%
        input.kdinput.text
          rounded         0 6px 6px 0
        &:first-child
          padding-right   1px
          borderBox()
          input.kdinput.text
            rounded       6px 0 0 6px

      &.validation-error
        input.kdinput.text
          border          1px solid #e79a8f
          color           red
        // .placeholder-helper
        //   color           #e79a8f
        // .validation-icon
        //   r-sprite        account 'cross_8'
        //   opacity         1

      // &.validation-passed
      //   .validation-icon
      //     r-sprite          app 'login_validation_pass'
      //     opacity         1

  p
    size              auto, 0
    margin            0 auto
    color             #f2f2f2
    font-size         10px
    line-height       18px
    bg                color, rgba(0, 0, 0, 0.2)
    rounded           4px
    padding           0 6px
    text-shadow       0 1px 0 #111
    overflow          hidden
    vendor            transition, height .15s ease-out
    borderBox()

    h5
      font-size       12px
      font-weight     400
      margin          10px 0

  .password-confirm
    margin-bottom       0!important
    vendor              transition, height .15s ease-out

  // .email .login-input-view .validation-icon
  //   right               55px

  // .validation-icon
  //   abs                 18px 15px 0 0
  //   vendor              transition, opacity .15s ease-out
  //   opacity             0
  //   z-index             2

  .kdloader.input-loader
    abs()
    right               6px
    top                 6px
    z-index             100


  div.email
    rel()

    .avatarview
      right               46px
      top                 0
      rounded             0 6px 6px 0
      abs()

  .invitation-field
    rel()
    text-align          left
    color               #B4B3B3
    margin              0 auto
    width               auto
    line-height         36px
    font-size           12px
    overflow            hidden
    border-bottom       1px solid rgba(255,255,255,.15)
    padding-bottom      4px
    margin-bottom       10px
    borderBox()

    .kdview.half-size
      abs()
      right             0
      top               0
      width             49.5%

    span.icon
      bg                position, -480px -80px
      size              40px, 20px
      margin            8px 0 0 2px
      fl()
      // sprite()
    .wrapper
      width             48.5%
      fr()

    .avatarview
      sta()
      border            1px solid #000
      margin            2px 10px 0 0
      padding           0
      shadow            inset 0 0 0 1px rgba(255,255,255,.3)
      fl()

    .profile
      max-width         100px
      display           block
      overflow          hidden
      height            36px
      text-overflow     ellipsis
      white-space       nowrap
      padding-right     5px

  button
    display             block

    &.loading
      color             rgba(255,255,255,.8)
      &:hover
        shadow          0 1px 0 rgba(255,255,255,0.23)

  div.hint
    font-size           14px
    line-height         18px
    color               #6e7879
    margin              18px 0
    strong
      font-weight       600

p.login-tip
  line-height           16px
  color                 white


.kdtooltip.input-validation.just-text

  max-width             none

  div.wrapper
    shadow              none
    border              none
    padding             16px
    font-size           14px
    line-height         22px
    min-height          55px
    borderBox()

  &.placement-right
    margin              11px 0 0 14px
    div.wrapper
      text-align        left

  &.placement-left
    margin-left         -16px
    div.wrapper
      text-align        right

.invite-recovery-notification-bar
  position              fixed
  z-index               5
  width                 100%
  top                   0
  height                0
  text-align            center
  font-size             16px
  padding-top           6px
  color                 white
  cursor                pointer
  border-bottom         1px solid rgba(15,15,15,0.16)
  bg                    color, rgba(15,15,15,0.45)
  vendor                transition, height .4s ease-in-out

  &.show
    height              26px

  span
    color               #ffb500

body.login.koding
  .header-notification
    top                 -29px
    &.in
      top               0

.kdmodal.password
  bg                    color, #DCDCDC
  .kdmodal-title .title
    font-size           18px !important

  div.hint
    margin              15px 0 0
    text-align          left
    opacity             1
    color               white
    font-size           12px

    strong
      font-weight     700
    &.accept-tos
      color           rgba(0, 0, 0, .6)
      font-size       10px
      a
        color         rgba(0, 0, 0, .8)
        borderize     rgba(0, 0, 0, .6)
        noTextDeco()


  .kdmodal-inner
    bg                  color, #DCDCDC
    margin              30px

  .kdinput.half
    margin              0
    width               calc(50% - 5px)
    rounded             4px
    font-size           14px
    text-align          left
    border-color        #bbb
    padding             8px 14px
    fl()
    &:last-child
      fr()
  .button-field
    top                 0
    right               0
    margin              0 !important
    abs()
    .kdbutton
      rounded           4px
      padding           0 25px

  .kdformview .formline.half
    width               425px

  .kdformview .formline .input-wrapper
    margin              0
    overflow            visible

  .kdscrollview.kdtabview
    overflow            hidden

.kdmodal.extra-info
  bg                    color, #f7f7f7

  .kdview
    overflow            visible !important

  .kdmodal-inner
    bg                  color, #f7f7f7
    margin              0 30px 35px

  .kdmodal-content
    margin              0 !important
    overflow            visible

  .formline
    width               100%
    text-align          center
    position            relative

    &.username

      .input-wrapper
        height          44px

      // .validation-icon
      //   abs             15px 12px 0 0
      //   size            20px 20px

      .placeholder-helper
        hidden()


      .kdinput
        padding-right   88px

      .suffix
        line-height     44px
        color           #b6b6b6
        abs             22px 14px 0 0
        z-index         10

    &.email
      margin-top        59px
      margin-bottom     14px
      font-size         14px
      color             #4e4e4e

    &.photo
      abs               -40px 0 0 50%
      vendor            transform, translateX(-50%)
      border            3px solid #f7f7f7
      rounded           8px
      size              80px, 80px

      img
        rounded         5px

    .kdlabel
      float             none
      margin            13px 0 0
      padding           0
      text-align        left
      font-size         12px
      text-transform    uppercase
      color             #a1a1a1

    .kdinput
      background        #fff
      border            1px solid #e8e8e8

  .button-field
    position            static
    height              auto !important
    margin-top          21px !important

    .kdbutton
      width             100%

  .description
    text-align          center
    color               #c6c6c6
    font-size           12px
    margin              30px 0 0

#recaptcha
  padding-top           21px
  box-sizing            border-box
  width                 290px

/* Shake */

@-webkit-keyframes shake
  0%
  100%
    -webkit-transform   translateX(0)
  8%
  41%
    -webkit-transform   translateX(-10px)
  25%
  58%
    -webkit-transform   translateX(10px)
  75%
    -webkit-transform   translateX(-5px)
  92%
    -webkit-transform   translateX(5px)

@-moz-keyframes shake
  0%
  100%
    -moz-transform      translateX(0)
  8%
  41%
    -moz-transform      translateX(-10px)
  25%
  58%
    -moz-transform      translateX(10px)
  75%
    -moz-transform      translateX(-5px)
  92%
    -moz-transform      translateX(5px)
