@import "lib/core.fonts"
@import "lib/core.fn"

@css {
/*
Teams Homepage stylesheet
teams.styl
*/
}

// .content-area-pane.teams
//   overflow                  auto

.content-page.teams
  overflow                  auto
  color                     white

  section.main-wrapper
    bg                      color #2D5EAB
    min-height              600px
    padding                 20px 0
    font-family             adelleSans
    font-size               14px
    line-height             20px
    text-align              center
    borderBox()

    h1
    h2
      width                 60%
      max-width             600px
      margin                0 auto

    h1
      margin-top            180px
      font-family           proximaFamily
      font-weight           600
      font-size             42px
      line-height           50px
      color                 #F4E327

    h2
      font-size             22px
      line-height           40px

  .TeamsModal--middle
    margin-top              30px

    section > div
      &.email
      &.company-name
        width               calc(50% - 54px)

      &.submit:after
        hidden()

      &:before
        hidden()

      .login-input-view
        .placeholder-helper
          padding           0
          text-align        center

        input.kdinput
          text-align        center
          padding           8px 0
  .ribbon
    padding                 .34em 1em
    margin                  0
    color                   #ffffff
    font                    32px adelle
    letter-spacing          .1em
    background              #1eb2df
    display                 inline-block
    rel()

    &:before
    &:after
      content               ""
      width                 .2em
      bottom                -.5em
      position              absolute
      display               block
      border                .9em solid #1eb2df
      box-shadow            0px 1px 0px rgba(0,0,0,0.4)
      z-index               0

    &:before
      left                  -1.35em
      border-right-width    .75em
      border-left-color     transparent

    &:after
      right                 -1.35em
      border-left-width     .75em
      border-right-color    transparent

    > span
      &:before
      &:after
        content             ""
        bottom              -.5em
        position            absolute
        display             block
        border-style        solid
        border-color        #0675b3 transparent transparent transparent
        z-index             1

      &:before
        left                0
        border-width        .5em 0 0 .5em

      &:after
        right               0
        border-width        .5em .5em 0 0
