@import "lib/core.fonts"
@import "lib/core.fn"

modalBackground             = #FAFAFA
greenLink                   = #27ae60

@css {
/*
Team Group Creation stylesheet
team.group.creation.styl
*/
}

.content-page.Team

  // GENERIC SIGNUPFORM CUSTOMIZATIONS

  .kdtabpaneview .TeamsModal.TeamsModal--groupCreation
    margin-bottom           100px

    .login-input-view
      margin                0 0 26px
      rel()
      &.tr
        bg                  color transparent

      input.kdinput
        text-align          left
        bg                  color transparent
        borderBox()

      > span
        bg                  color #EAEAEA
        line-height         44px
        z-index             4

    .TeamsModal-button
      margin-top            52px
      width                 90px
      float                 right

    .TeamsModal-linkButton.skip
      abs                   0 150px 40px 0

  // LOGIN TAB STYLE CUSTOMIZATIONS

  .kdtabpaneview.login .TeamsModal
    margin-bottom           0
    shadow                  none

    > form
      margin-top            10px

    .login-input-view
      margin                0 0 19px

      input.kdinput
        text-align          center

    .TeamsModal-button
      margin-top            19px
      margin-bottom         19px
      float                 none
      width                 100%

  // DOMAIN TAB STYLE CUSTOMIZATIONS

  .kdtabpaneview.domain .TeamsModal

    .login-input-view

      input.kdinput
        padding-right       149px
        text-align          right

      span
        abs                 1px 1px 0 0
        size                130px 42px
        border-left         1px solid #DBDBDB

  // ALLOWED DOMAIN TAB STYLE CUSTOMIZATIONS

  .kdtabpaneview.alloweddomain .TeamsModal

    > h5
      width                 100%

    .login-input-view

      &:first-child
        text-align          left

      input.kdinput.checkbox
        margin-right        12px

      input.kdinput
        padding-left        61px
        text-align          left

      span
        abs                 1px 0 0 1px
        size                42px 42px
        border-right        1px solid #DBDBDB
        text-align          center

  // INVITE TAB STYLE CUSTOMIZATIONS

  .kdtabpaneview.invite .TeamsModal

    .login-input-view
        margin-bottom       5px

    p.dim
      abs                   0 0 26px 44px
      width                 calc(100% - 300px)
      text-align            left


    .TeamsModal-button.add
      float                 none
      margin                15px 0 0
      display               block
      width                 auto

  // USERNAME TAB STYLE CUSTOMIZATIONS

  .kdtabpaneview.register .TeamsModal
  .kdtabpaneview.username .TeamsModal

    > h5
      width                 100%

    .login-input-view
      margin-bottom         5px

      input.kdinput
        padding-left        115px
        text-align          left

      > span
        abs                 1px 0 0 1px
        size                99px 42px
        border-right        1px solid #DBDBDB

      .PasswordStrength
        width               calc(100% - 100px)
        abs                 0 0 0px 100px
        z-index             4

    p.dim
      margin                25px auto

    .TeamsModal-button
      float                 none
      width                 100%
      text-transform        none
