@import "lib/core.fn"

.Teams-findteam
  bg                        color, #3c3b58
  bg                        image, linear-gradient(-180deg,#3c3c57 11%,#8598be 100%)

  .Homepage-Header
    bg                      color, #3C3D58
    height                  69px
    width                   100%
    z-index                 2
    abs                     0, 0, auto, 0
    border-bottom           1px solid rgba(0,0,0,.15)
    display                 flex

    a
      display               flex
      padding-left          40px
      padding-right         40px

    img
      width                 95px
