@import "lib/core.fn"

.Team--ufo.Team
  bg                        color, #3c3b58
  bg                        image, linear-gradient(-180deg,#3c3c57 11%,#8598be 100%)
  min-height                1020px

  a
    color                   #56a2d3
    text-decoration         none

  .main-header.team
    max-width               100%
    border-bottom           1px solid rgba(0,0,0,0.15)
    abs()
    top                     0
    height                  69px
    padding                 0 40px

    .koding-header-logo
      left                  auto
      top                   18px

    .hiring-badge
      top                   21px

    nav.full-menu
      margin-top            21px

  .TeamsModal
    margin-top              180px
    width                   480px
    padding-top             38px

    &.TeamsModal--domain::after
    &.TeamsModal--findTeam::after
      content               ''
      r-sprite              teams, alien
      abs()
      top                   -32px
      kalc                  left, 50% \- 40px

    h4
      font-size             27px
      line-height           32px
      color                 #f2778a
      font-weight           normal

    h5
      font-size             18px
      letter-spacing        .21px
      line-height           27px
      color                 #a59999

    .login-form
      margin-top            40px !important

    .login-input-view
      width                 400px !important
      margin                0 auto
      margin-bottom         19px
      borderBox()

      input.kdinput
        border              1px solid #d9d9d9
        font-size           18px
        letter-spacing      .35px
        color               #4a4a4a !important

      &.validation-error input.kdinput
        border-width        1px !important

    &.TeamsModal--domain
      .login-input-view
        border              1px solid #d9d9d9 !important
        rounded             3px
        text-align          left
        padding-left        15px

    &.TeamsModal--findTeam
      .login-input-view
        .placeholder-helper
          color             #ccc
          font-size         18px
          top               16px

          &.out
            color           #999
            font-size       12px
            top             -15px

    .TeamsModal-button
      margin                0 auto
      bg                    color, #f2778a
      color                 #fff
      rounded               4px
      width                 400px
      font-size             18px
      line-height           21px
      margin-bottom         25px

    .secondary-link
      font-size             14px
      line-height           17px

    &.TeamsModal--domain
      .login-input-view
        span
          display           inline-block
          margin            0
          fr()
          padding           0 15px
          border-left       1px solid #d9d9d9
          bg                color, #fafafa
          font-size         18px !important

        input.kdinput
          font-size         18px

  .additional-info
    margin-top              50px
    padding                 0
    color                   #fff
    font-size               14px
    line-height             17px
    text-align              center
    rel()
    z-index                 10

    a
      color                 #56a2d3
      text-decoration       none

    p
      margin-top            10px

      a.previous-team:hover
        color               #56a2d3

  .ufo-bg
    abs()
    bg                      color, transparent
    bg                      image, url('/a/images/landing/ufo_1600.svg')
    bg                      repeat, no-repeat
    bg                      position, right bottom
    bg                      size, 1051px 528px
    width                   100%
    height                  528px
    bottom                  0
    z-index                 1

  .ground-bg
    abs()
    bg                      color, transparent
    bg                      image, url('/a/images/landing/ground_1600.svg')
    bg                      repeat, no-repeat
    bg                      position, center bottom
    bg                      size, 3184px 334px
    width                   100%
    height                  334px
    bottom                  0
    z-index                 1

  .footer-bg
    width                   100%
    height                  67px
    bg                      color, #fff
    abs()
    bottom                  0
    z-index                 0


@media screen and (max-width : 767px)

  .expand-menu
    .Team--ufo
      .main-header.team
        height              100%

        nav.full-menu
          a.mobile-trigger
            top             26px

  .Team--ufo.Team
    .main-header.team
      nav.full-menu
        margin-top          0

        a.mobile-trigger
          top               26px

    .TeamsModal--domain::after
      margin-left           0
      kalc                  left, 50% \- 40px, !important
