selenium-debug.log
nginx.conf
nginx.pid
*.test
*.dump
*.orig
*.sublime-*
*.swo
*.swp
*.etcd
.cake_task_cache
.DS_Store
.idea/*
.pyc
.rabbitvhost
.revision
.vagrant
.runningpids
.imagesrc
.agignore
/.build
/vault
/generated
/.logs/*
/.deployments
/.pydevproject
/.revision
/.settings
/.coffee
/install/docker-mongo/dump
/broker/apps/broker/src/broker.app.src
/broker/deps
/broker/log
kontrol-data-*
/erl_crash.dump
/go/src/socialapi/db/sql/kontrol/001-schema.sql
/go/src/koding/kites/kloud/kloud/import.go

/go/bin
/go/bin-vagrant
/go/build
/go/pkg
/go/data
/go/binexport
/go/src/github.com
/go/src/socialapi/db/sql/kontrol
/go/src/socialapi/config/*.toml

/node_modules
/node_modules/*
node_modules_koding/processes/src/.tmp*
node_modules_koding/*/node_modules/*
/npm-debug.log
/tags

/install/BUILD_DATA
BUILD_CONFIG.json
ABUSE_REPORT
ebin
sftp-config.json
v8.log
tmp
kontrolUUID-*
/newrelic_agent.log
logs/*.log
/embedly_cache
/run
docs/koding-dep.graph
docs/todo.txt
deployment/generated_files

website/default.html
website/index.html
website/a/site.*
website/a/sprites/*.sprite.png
website/a/out
website/a/p

client/.happypack
client/.sprites
client/.tmp
client/node_modules
client/.config.json
client/.schema.json
client/.nightwatch.json
client/builder/node_modules
client/test/users.json
client/test/build
client/test/output
client/test/logs
client/test/globals.js

supervisor.html
.supervisor/*
supervisord.conf
client/test/*.png
client/test/users-*.json
elektron/lib
elektron/dist
elektron/node_modules

.env.sh
.env.json
package-lock.json
website/apidocs/lang

credential

website/a/klient

deployment/kubernetes/
