[submodule "client/ide"]
	path = client/ide
	url = git@github.com:koding/IDE.git
[submodule "client/finder"]
	path = client/finder
	url = git@github.com:koding/finder.git
[submodule "client/landing"]
	path = client/landing
	url = git@github.com:koding/landing.git
[submodule "go/geoipdb"]
	path = go/geoipdb
	url = https://github.com/mehmetalisavas/geolite2-city.git
