[submodule "client/Framework"]
	path = client/Framework
	url = git@git.sj.koding.com:koding/kdframework.git
[submodule "go/src/koding/kite"]
	path = go/src/koding/kite
	url = git@git.sj.koding.com:koding/kite.git
[submodule "tests"]
  path = tests
  url = https://@github.com/koding/tests
