*.dump
*.orig
*.orig
*.sublime-*
*.swo
*.swp
*conflicted\ copy\ 201*
.cake_task_cache
.DS_Store
.idea/*
.pyc
.rabbitvhost
.revision
.vagrant
/.build
/.deployments
/.pydevproject
/.revision
/.settings
/broker/apps/broker/src/broker.app.src
/broker/deps
/broker/log
/erl_crash.dump
/go/bin
/go/bin-vagrant
/go/build
/go/pkg
/kd-server.js
/node_modules/*
/npm-debug.log
/saltstack
/tags
/website/dev/*.json
/website/dev/sourceClient.json
/website/dev/sourceServer.json
/website/js/requiresReload.txt
/website_nonstatic/index.html
ebin
node_modules/.bin
sftp-config.json
sftp-config.json
v8.log

website/css/__*.css
website/js/__*.js
website/js/*.js.map
website/default.html
website/index.html
kontrolUUID-*

website/sprites/*.json
website/sprites/*-*.png
