[submodule "client/Framework"]
	path = client/Framework
	url = git@github.com:koding/kd.git
[submodule "client/IDE"]
	path = client/IDE
	url = git@github.com:koding/IDE.git
[submodule "client/Finder"]
	path = client/Finder
	url = git@github.com:koding/finder.git
[submodule "tests"]
        path = tests
        url = git@github.com:koding/tests.git
