version: '2'

services:

  backend:
    image: koding/base
    working_dir: /opt/koding
    entrypoint: scripts/bootstrap-container
    command: run backend
    env_file: .env-docker-compose
    volumes:
      - .:/opt/koding
    ports:
      - 8090:8090
    links:
      - mongo
      - postgres
      - rabbitmq
      - redis
      - countly

  client:
    image: koding/base
    working_dir: /opt/koding
    entrypoint: scripts/bootstrap-container is_ready
    command: make -C client development
    env_file: .env-docker-compose
    volumes:
      - .:/opt/koding

  client-landing:
    image: koding/base
    working_dir: /opt/koding
    entrypoint: scripts/bootstrap-container is_ready
    command: make -C client/landing dev
    env_file: .env-docker-compose
    volumes:
      - .:/opt/koding

  mongo:
    image: mongo:3.2.8
    command: --nojournal --noprealloc --smallfiles

  postgres:
    image: koding/postgres

  countly:
    image: countly/countly-server:16.06

  rabbitmq:
    image: rabbitmq:3-management

  redis:
    image: redis
