version: '2'

services:
  backend:
    image: koding/base
    entrypoint: /opt/koding/scripts/bootstrap-container
    command: build
    env_file: .env-docker-compose
    volumes:
      - .:/opt/koding
    ports:
      - 8090:8090
    links:
      - mongo
      - postgres
      - rabbitmq
      - redis

  mongo:
    image: koding/mongo

  postgres:
    image: koding/postgres

  rabbitmq:
    image: rabbitmq:3-management

  redis:
    image: redis
