.SidebarStackWidgets
  .SidebarSection-body
    text-align              center

    label
      dBlock()
      color                 #b3b3b3
      font-size             16px
      line-height           40px

    a
      bg                    color, #01af5b
      color                 #FFF
      dIBlock()
      line-height           32px
      padding               0 16px
      rounded               3px
      noTextDeco()
      width                 auto

    p
      color                 #b3b3b3
      font-size             12px
      line-height           22px
      margin-bottom         15px

