.SidebarStackWidgets
  .SidebarSection-body
    text-align              center

    label
      dBlock()
      color                 #b3b3b3
      font-size             $fs-small
      line-height           32px
      font-weight           $fw-thin

    a
      bg                    color, #01af5b
      color                 #FFF
      line-height           24px
      padding               0 12px
      rounded               3px
      font-size             $fs-small
      font-weight           $fw-thin
      width                 auto
      dIBlock()
      noTextDeco()

    p
      color                 #b3b3b3
      font-size             12px
      line-height           22px
      margin-bottom         15px

  &.--DifferentStackResources
    margin-top              15px !important