.SidebarTeamSection
  rel()
  margin-top                10px

  .SidebarMachinesListItem--MainLink
    width                   211px

  .SidebarSection-headerTitle
    dBlock()
    width                   100%
    text-transform          capitalize
    noTextDeco()

    &:hover .SidebarSection-secondaryLink
      visible()

    .SidebarSection-secondaryLink
      top                   10px

  .SidebarSection
    margin-bottom           0

    .SidebarSection-body
      rel()
      left                  10px

    .SidebarSection-header
      cursor                default

  &:last-of-type
    margin-bottom           0
