#container { position: relative; overflow: hidden; height: 100%; }

#main,#left {   position: relative; display: block; float: left; height: 100%;}
#main { width: 80%; }
    #left_shadow {width: 11px; height: 100%; position: absolute; top:0; left:0; background: transparent url(../images/left.shadow.png) repeat-y scroll 0 0; z-index: 5;}
    #main>iframe {width: 100%; height: 100%; border: none;}
#left { width: 20%; }
    #logo_holder { height: 41px; background: #22282c url(../images/kodingen.logo.bg.png) repeat scroll 0 0; position: relative;}
        #logo { width: 135px; height: 100%; }
            #logo a { display: block; width: 100%; height: 100%; background: transparent url(../images/kodingen.logo.png) no-repeat scroll 0 0;}
        #notifications {}
            #notifications_icon { position: absolute; right: 10px; top:14px; width: 16px; height: 16px; background: transparent url(../images/finder.icons.png) scroll no-repeat 0 -96px;}
            #notifications_amount {}
    #left_resizer { position: absolute; top:41px; right: 0; z-index: 1; margin: 0 auto; width: 15px; height: 57px; background: transparent url(../images/left.resizer.ver.png) scroll no-repeat 0 center; }
    #left_wrapper { position: relative; height: 100%; background: #ddd url(../images/left.wrapper.bg.png) repeat scroll 0 0;}
        #avatar_area { height: 37px; padding: 10px 0; border-top: 1px solid #fff; border-bottom: 1px solid #949494; background: #d9d9d9 url(../images/avatar.area.bg.png) repeat-x scroll 0 0;}
            #avatar {float: left; margin: 0 0 0 12px; width: 32px; height: 32px; border: 2px solid #fff}
                #avatar img {width: 32px; height: 32px}
            #profile {float: left; width: 200px; min-height: 40px; margin-left: 7px;}
                #profile h2 a{color: #f36d1d; font-size: 12px; text-decoration: none; font-weight: normal}
                #profile p {color: #434e53; font-size: 10px;}
/*        #finder{ position: relative; background-color: #fff; }
            .finder_top_shadow, .finder_bottom_shadow { position: absolute; width: 100%; height: 5px; background: transparent url(../images/finder.shadows.png) repeat-x 0 0}
            .finder_bottom_shadow {bottom:0;background-position: 0 bottom;}
*/            .scrollbar_vertical, .scrollbar_horizontal {position: absolute; width: 6px; height: 50px; background-color: rgba(0,0,0,0.2); top: 10px; right: 5px; cursor: move;}
            .scrollbar_horizontal {width: 50px; height: 6px;}
            ul.finder_instance{list-style: none;margin: 0;}
                ul.finder_instance li {display: block; height: 22px; line-height: 23px; padding-left: 24px; font-size: 10.5px; color: #282828; border-top: 1px solid #fff; background-color: #f7f7f7 }
                ul.finder_instance li.title { padding-left: 5px; font-size: 9px; color: #2a3a45; font-weight: bold; background-color: #e4edf3; border-bottom: 1px solid #d3d7cf;}
                ul.finder_instance li.main { padding-left: 13px; background-color: #e9e9e9; border-bottom: 1px solid #d3d7cf;}
                    ul.finder_instance li span { display: block; float: left; }
                    ul.finder_instance li span.icon { height: 16px; margin-top: 3px; width: 20px; background: transparent url(../images/finder.icons.png) scroll no-repeat 0 0;}
                    ul.finder_instance li span.disk { background-position: 0 -32px; }
                    ul.finder_instance li span.folder { background-position: 0 -80px; }
                    ul.finder_instance li span.ftp { background-position: 0 -48px; }
                    ul.finder_instance li span.symlink { background-position: 0 -64px; }
                    ul.finder_instance li span.arrow { background-position: 0 -16px; width: 16px; }
                    ul.finder_instance li span.arrow.expanded { background-position: 0 0; }
        #finder_resizer { margin: 0 auto; width: 30px; height: 11px; background: transparent url(../images/left.resizer.hor.png) scroll no-repeat 0 center; }
        #applications { position: relative; border: 1px solid #999; border-bottom-color: #fff; margin: 0 10px; min-height: 75px; background: #c2c2c2 url(../images/left.app.window.grad.png) repeat-x scroll 0 bottom; }
            #applications_wrapper { position: absolute; width: 100%; height: 100%; background: transparent url(../images/left.app.window.pattern.png) repeat scroll 0 bottom;}
        
.col_wrapper{position: relative; margin: 0 auto; max-width: 600px; background-color: #f5f5f5; border: 5px solid #ddd; border-width: 0 4px 4px;}
.col_wrapper:before{content:"."}
    .col3 {display: block; float: left; width: 32%; margin-right: 2%; background: #ddd; border: 1px solid #999; border-top-color: #fff; border-width: 1px 0; }
    .col3:last-child{margin-right: 0;}
            
        ul.tasks { display: block; margin: 10px 10px 0 10px; background-color: #fff; /* min-height: 400px; */ overflow: hidden; background-color: #626262;}
            ul.tasks li{border-color: #CCC; background-color: #e9e9e9; color: #626262;list-style-type: none;line-height: 1.8em; border-style: solid; border-width: 1px 1px 0 1px; }
            ul.delivered li {border-color: #B5E4A0; background-color: #DCECCF; color: #427625;}
            ul.inThinking li {border-color: #CCC; background-color: #e9e9e9; color: #626262;}
            ul.inProgress li {border-color: #EEE3B1; background-color: #F6F0D9; color: #A47607; }
            ul.tasks li:first-child{ border-top-width: 1px;}
            ul.tasks li:last-child{border-bottom-width: 1px;-moz-box-shadow: 0 2px 3px #111; -webkit-box-shadow: 0 2px 3px #111; box-shadow: 0 2px 3px #111;}
                ul.tasks li span.task_type { position: absolute; display: block; height: 42px; line-height: 48px; font-size: 2.2em; margin: 0 0 0 5px; }
                ul.tasks li h3 { font-weight: normal; cursor: pointer; height: 26px;}
                    ul.tasks li h3 span {display: block; float: left;}
                    ul.tasks li h3 span.arrow { margin: 0 3px 0 33px; height: 16px; line-height: 27px; color: #aaa;}
                    ul.tasks li h3 span.title { height: 26px; line-height: 26px;}
                    ul.tasks li h3 span.owner { float: right; height: 26px; line-height: 26px; margin-right: 10px; font-size: 10px; font-style: italic}
                    
                ul.tasks li div.meta { line-height: 16px; font-size: 10px; color: gray}
                    ul.tasks li div.meta span {margin: 0 0 0 5px;}
                    ul.tasks li div.meta span:first-child {margin: 0 0 0 28px;}
                ul.tasks li p.shortdesc {margin-left: 5px; font-size: 10px;}
                ul.tasks li p.description {margin: 10px 10px 0 10px; padding-bottom: 10px; font-size: 10px; color: #282828; line-height: 1.5em}

    /* Tab Handles On Top */
    #tabHandles { list-style: none; margin: 0 10px; height: 37px; }
        #tabHandles li {display: block; float: left; background: #fff; border:1px solid #ddd; padding: 0 10px; margin-top: 10px; font-size: 14px; line-height: 1.8em; color: #2a3a45; margin-left: 10px; text-shadow: 0 1px 0 #fff; font-weight: bold; text-transform: uppercase;}
        #tabHandles li.ui-state-active { background: #666; border: 1px solid #666; margin-top: 10px; font-size: 14px; line-height: 1.8em; color: #f3f3f3; margin-left: 10px; text-shadow: 0 1px 0 #111; font-weight: bold; text-transform: uppercase; }
            #tabHandles li a { text-decoration: none; color: inherit}
    /* tab handles on right */
    #tabHandlesRight { position: absolute; right: -100px; top:0; }
        #tabHandlesRight li {display: block; }
        #tabHandlesRight li.ui-state-active {  }
            #tabHandlesRight li a { text-decoration: none; color: inherit}

    .tab {display: block; padding-bottom: 10px; border-bottom: 1px dashed #ddd}
    .tab:last-child {border-bottom: none}
        .tab h2, h2.softTitle{color: #aaa; margin: 10px 10px 0 10px; font-weight: normal; font-size: 14px; text-transform: capitalize;}
            .tab h2 .draghandle {background: transparent url(../images/drag.handle.png) no-repeat center center; display: block; float: right; width: 30px; height: 17px; cursor: move}
    #addTaskContainer { position: relative; display: block; margin: 10px 10px 0 10px; background-color: #fff; }
        .input_wrapper { padding: 10px; position: relative;border-bottom: 1px dashed #ccc;}
        #taskDescriptionWrapper { border-bottom: 1px dashed transparent; padding-bottom: 0}
            .input_wrapper label { /* position: absolute; top : 10px; left: 10px; z-index: 1; */ font-style: italic; color: #ccc; }

        .input_wrapper_float {display: block; float: left; margin: 10px 0 10px 10px;}
        .input_wrapper_float label {display: block; line-height: 16px; font-size: 10px; color: gray; text-transform: capitalize;}
        .input_wrapper_float.right {float: right; margin: 10px 10px 10px 0;}
        #taskTitle, #taskDescription { width: 100%; height: 100%; padding: 0; /* outline: none; */ resize: none; top:0; left: 0; background: transparent; border: none; z-index: 0}
        #taskDescription {overflow: auto; height: 30px; padding: 3px 0; line-height: 15px;}
        #taskTitle {font-weight: bold; padding: 3px 0;}
    /* #toggleAddTask { position: absolute; display: block; right: 10px; top:25px; text-align: right; font-size: 11px;} */
    #toggleAddTask { margin-left: 5px; font-size: 11px; line-height: 27px}
    .separator { height: 10px; width: 100%; margin-bottom: 10px; border-bottom: 1px dashed #ddd}
        
.rounded{ -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px;   border-radius: 8px; }
.rounded_small{ -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }
.innershadow { -moz-box-shadow: 0 1px 2px #999 inset; -webkit-box-shadow: 0 1px 2px #999 inset; box-shadow: 0 1px 2px #999 inset; }
.innershadowdark { -moz-box-shadow: 0 2px 4px #111 inset; -webkit-box-shadow: 0 2px 4px #111 inset; box-shadow: 0 2px 4px #111 inset; }
.shadowdark { -moz-box-shadow: 0 1px 2px #666 ; -webkit-box-shadow: 0 0px 3px #666 ; box-shadow: 0 1px 2px #666 ; }
.shadow { -moz-box-shadow: 0 1px 4px #999 ; -webkit-box-shadow: 0 1px 4px #999 ; box-shadow: 0 1px 4px #999 ; }
.ui-tabs .ui-tabs-hide { display: none; visibility: hidden }
.faded {opacity: 0.65}
/*
button.iconed {position: relative;}
button.iconed span.iconic {position: absolute; font-size: 14px; top: 1px; left: 16px;}
*/

.iconic.feature:before { content: "s"; color: #f8d713; text-shadow: 0 0 1px #444 }
.iconic.release:before { content: "o"; color: #7f563c; text-shadow: 0 0 5px #fff }
.iconic.bug:before { content: "w"; color: gray; text-shadow: 0 0 5px #fff }
