/* iPhone, etc portrait ---- */
/*@media only screen and (min-width: 320px) {
  body { background: pink; }
	body:before { content: "320 - 480";color:pink;position:absolute;right:0 }
}*/

/* iPhone, etc landscape ---- */
/*@media only screen and (min-width: 480px) {

  body { background: yellow; }
	body:before { content: "480 - 768";color:yellow;position:absolute;right:0 }
}*/

/* iPad, tablets etc portrait ---- */
/*@media only screen and (min-width: 768px) {
	
  body { background: lime; font-size: 1em;}
	body:before { content: "768 - 900";color:lime;position:absolute;right:0 }
}*/

/* Laptops, Desktops, etc ---- */
/*@media only screen and (min-width: 1024px) {
  body { background: red; }
	body:before { content: "1024 - 1200";color:red;position:absolute;right:0}
}*/
/*
@media only screen and (min-width: 1200px) {
  body { background: cyan; }
	body:before { content: "> 1200";color: cyan;position:absolute;right:0}
}*/