body,html {height: 100%; width: 100%}
#container {position:absolute; height: 100%; width: 100%}

#main-nav ul {height: 15px; color: white; background-color: #333; border-bottom: 1px solid #000;}
#main-nav ul li{ display: block; float: left; padding: 0 10px; border-right: 1px solid #fff }
.page { height: 100%; width: 100%;}

#main-sidebar { position: fixed; min-height: 100%; width: 15%; background-color: #ededed; }
			
	/* 	sidebar navigation		 */
	#main-sidebar nav { padding-top: 10px}
		#main-sidebar nav h2 { color: #aaa; margin: 0; padding: 0 6px; font-weight: normal; font-size: 14px;}
			#main-sidebar nav h2 span {display: block; float: left; width: 14px; height: 27px; line-height: 31px;}
		#main-sidebar nav ul { list-style: none; margin-top: 5px;}
			#main-sidebar nav ul li { padding: 0 10px 0 20px; font-size: 11px; color: #2a3a45; font-weight: normal; text-transform: uppercase; }
				#main-sidebar nav ul li a { text-decoration: none; color: inherit}

		#main-sidebar nav h2, #main-sidebar nav ul li{ border-top:1px solid #ededed; line-height: 2em;	text-shadow: 0 1px 0 #fff; cursor: pointer; }
		#main-sidebar nav .selected, ul.tasks li.selected { 
			color: white;
			text-shadow: 0 1px 0 #333;
			border-top: 1px solid #a4b1cb;
		  background-color: #b3c0d9;
		  background: -moz-linear-gradient(100% 100% 90deg, #8497b9, #b3c0d9);
		  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b3c0d9), to(#8497b9));		
		}
	
#main-wrapper { position: absolute; min-height: 100%; width: 35%; left: 15%;background-color: #f5f5f5; border: 5px solid #ddd; border-width: 0 4px 0 4px; z-index: 10}
	.project {display: none}
	
		.task-list-container {display: block;/*  padding-bottom: 10px; border-bottom: 1px dashed #ddd */}
		.task-list-container:last-child {border-bottom: none}
			a.toggle-add-task { position: absolute; top:0; right: 40px; margin-left: 5px; font-size: 11px; display: block; float: right; background-color: #282828; color: #fff; z-index: 10; text-decoration: none; padding: 2px 10px;}
			.task-list-container h2, h2.soft-title{color: #aaa; margin: 10px 10px 0 10px; font-weight: normal; font-size: 14px;}
				.task-list-container h2 .draghandle {background: transparent url(../images/drag.handle.png) no-repeat center center; display: block; float: right; width: 30px; height: 17px; cursor: move}
	
			ul.tasks { display: block; margin:0; background-color: #fff; /* min-height: 400px; overflow: hidden;*/ background-color: #626262;}
				ul.tasks li{ position: relative; border-color: #CCC; background-color: #e9e9e9; color: #626262;list-style-type: none;line-height: 1.8em; border-style: solid; border-width: 1px 0 1px 0; border-top-color: transparent!important }
				ul.delivered li {border-color: #B5E4A0; background-color: #DCECCF; color: #427625;}
				ul.inThinking li {border-color: #CCC; background-color: #e9e9e9; color: #626262;}
				ul.inProgress li {border-color: #EEE3B1; background-color: #F6F0D9; color: #A47607; }



					ul.tasks li span.select-arrow { position: absolute; display: none; height: 0; width:0; right: -25px; top:0; border-top: 21px solid transparent; border-bottom: 21px solid transparent; border-left: 21px solid #ddd; }
/* 					ul.tasks li.selected span.select-arrow { display: block; } */
					ul.tasks li span.task-type { position: absolute; display: block; height: 42px; line-height: 48px; font-size: 2.2em; margin: 0 0 0 5px; }
					ul.tasks li h3 { font-weight: normal; cursor: pointer; height: 26px;}
						ul.tasks li h3 span {display: block; float: left;}
						ul.tasks li h3 span.arrow { margin: 0 3px 0 33px; height: 16px; line-height: 27px; color: #aaa;}
						ul.tasks li.selected h3 span.arrow { color: white}
						ul.tasks li h3 span.title { height: 26px; line-height: 26px;}
						ul.tasks li h3 span.owner { float: right; height: 26px; line-height: 26px; margin-right: 10px; font-size: 10px; font-style: italic}
						
					ul.tasks li div.meta { line-height: 16px; font-size: 10px; color: gray}
						ul.tasks li.selected div.meta { line-height: 16px; font-size: 10px; color: white}
						ul.tasks li div.meta span {margin: 0 0 0 5px;}
						ul.tasks li div.meta span:first-child {margin: 0 0 0 28px;}
		

	.add-task-container { position: relative; display: block; margin: 10px; background-color: #fff; }
		.input-wrapper { padding: 10px 10px 0 10px; position: relative;border-bottom: 1px dashed #ccc;}
		.task-description-wrapper { border-bottom: 1px dashed transparent; padding-bottom: 0}
			.input-wrapper label { font-style: italic; color: #ccc; }
			.hit-enter { position: absolute; right: 12px; margin-top: -19px; font-size: 11px; font-style: normal; padding: 2px 6px; color: #fff; background-color: #999; cursor: pointer;}

		.input-wrapper-float {display: block; float: left; margin: 10px 0 10px 10px;}
		.input-wrapper-float label {display: block; line-height: 16px; font-size: 10px; color: gray; text-transform: capitalize;}
		.input-wrapper-float.right {float: right; margin: 10px 10px 10px 0;}
		.task-title, .task-description { width: 100%; height: 15px; padding: 0; /* outline: none; */ resize: none; top:0; left: 0; background: transparent; border: none; z-index: 0}
		.task-description {overflow: auto; height: 15px; padding: 3px 0; line-height: 15px;}
		.task-title {font-weight: bold; padding: 3px 0;}
	.separator { height: 10px; width: 100%; margin-bottom: 10px; border-bottom: 1px dashed #ddd}



#content-pane {position: fixed; min-height: 100%; width: 45%; left: 51%; background-color: #fff;}
	#content-pane p.shortdesc {margin-left: 5px; font-size: 10px;}
	#content-pane p.description {margin: 10px 10px 0 10px; padding-bottom: 10px; font-size: 10px; color: #282828; line-height: 1.5em}









.rounded{ -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px;	border-radius: 8px; }
.rounded-small{	-moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }
.inner-shadow { -moz-box-shadow: 0 1px 2px #999 inset; -webkit-box-shadow: 0 1px 2px #999 inset; box-shadow: 0 1px 2px #999 inset; }
.inner-shadow-dark { -moz-box-shadow: 0 2px 4px #111 inset; -webkit-box-shadow: 0 2px 4px #111 inset; box-shadow: 0 2px 4px #111 inset; }
.shadow-dark { -moz-box-shadow: 0 1px 2px #666 ; -webkit-box-shadow: 0 0px 3px #666 ; box-shadow: 0 1px 2px #666 ; }
.shadow { -moz-box-shadow: 0 1px 4px #999 ; -webkit-box-shadow: 0 1px 4px #999 ; box-shadow: 0 1px 4px #999 ; }
.ui-tabs .ui-tabs-hide { display: none; visibility: hidden }
.faded {opacity: 0.65}
.mono-space { font-family: "Monaco", "Courier New", monospace}
/*
button.iconed {position: relative;}
button.iconed span.iconic {position: absolute; font-size: 14px; top: 1px; left: 16px;}
*/

.iconic.feature:before { content: "s"; color: #f8d713; text-shadow: 0 0 1px #444 }
.iconic.release:before { content: "o"; color: #7f563c; text-shadow: 0 0 5px #fff }
.iconic.bug:before { content: "w"; color: gray; text-shadow: 0 0 5px #fff }
