body {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
    font-size: 15px;
    line-height: 22px;
    color: #444;
    margin: 0;
    padding: 0;
}
code {
    padding: 2px 4px;
    border: 1px solid #ccc;
    background: #eee;
    font-size: 12px; line-height: 18px;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    border-radius: 2px;
}

pre {
    padding: 10px;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 4px;
}

pre code {
    border: 0;
    background: none;
    border-radius: 0;
    padding: 0;
}

a, a:visited {
    color: #444;
    text-decoration: none;
}
a:hover {
    color: #666;
}
header {
    width: 100%;
    background-color: #eef;
    border-bottom: 1px solid #ccd;
}
header h1 {
    margin: 0;
    padding: 20px;
    color: #667;
}
#content {
    display: table;
}
#sidebar {
    display: table-cell;
    background-color: #f4f4ff;
    padding: 10px;
    border-right: 1px dotted #ccd;
    min-width: 150px;
}
#main {
    width: 650px;
    display: table-cell;
    padding: 20px;
}
#content > div {
    border-bottom: 1px dotted #ccd;
}
.classlist, .functionlist {
    list-style-type: none;
    padding-left: 5px;
}
