.SidebarSection-header
  position                  relative
  padding                   14px 0
  cursor                    pointer

  > .SidebarListItem-unreadCount
    top                     11px
    margin-top              0

  a
    text-decoration         none

.SidebarSection-headerTitle
  antialiased()
  font-weight               $fw-regular
  font-size                 $fs-small
  height                    1em
  line-height               16px
  color                     $gray-8
  word-spacing              0.2em
  letter-spacing            0.08em
  text-transform            uppercase
  ellipsis()

.SidebarSection-secondaryLink
  abs                       50% 0px 0 0
  hidden()
  margin-top                -8px // icon height is 16px
  r-sprite                  app , 'plus-16'

.SidebarSection:hover
  .SidebarSection-secondaryLink
    visible()

.SidebarSection-header
  &.unread
    .SidebarSection-headerTitle
      max-width             190px

    .SidebarSection-secondaryLink
      hidden()
