active-color = rgb(246,162,32)

@css {
/*
EDITOR stylesheet
app.editor.styl
*/
}
body.ace
  .kdview.kddialogview.save-as-dialog
    margin              0
    right               7px
    width               40%

    .kddialog-wrapper

      input.kdinput.text
        width             100%

      label
        display           block
        margin            10px 0 0 0
        font-size         11px

    .nfinder
      > div
        padding           10px 0
        borderBox()
      ul
        margin-left       0
        
.kdview.files-being-dragged
    rel()
    pointer-events  none
    &:after
      content       ''
      position      absolute
      abs           0px 20px 0px 10px
      border        2px dashed #a7cdff
      z-index       99
      
.kdview.uploading-files-drag *
    pointer-events  none
      

  .kdview.kdcontextmenu.kdbuttonmenu.editor-advanced-settings-menu.split-view-button
    .chevron-ghost-wrapper
      .chevron-ghost
        bg              position,-100px -560px

    span
      display         inline-block
      text-align      center
      width           20px
      &.icon
        display: none

    .kdcontextmenutreeview
      min-width       130px

      .kdview.kdtreeitemview-default
        .context-menu-item
          margin          0

  .kdview.kdcontextmenu.kdbuttonmenu.editor-advanced-settings-menu

    .kdcontextmenutreeview
      min-width       200px


  .kdview.kdcontextmenu.kdbuttonmenu.add-editor-menu
    .chevron-ghost-wrapper
      width             24px
      rounded           0 3px 0 0
      border-top-color  transparent

      .chevron-ghost
        bg              position,-120px -360px
        margin          2px

  .webterm .kdbuttonwithmenu-wrapper.editor-advanced-settings-menu
    abs()
    background-color    #ffffff
    rounded             3px 0 0 0
    // border-left         1px solid #e2e2e2
    bottom              0
    right               0
