@import "../Framework/src/themes/default/kdfn"

.landingapp-view
  .spaceship
    .login, .title
      text-align                center
      line-height               1.1
      font-family               'Raleway', Helvetica, Arial, sans-serif
      font-weight               normal

    .top
      height                    80px

      .logo
        abs                     20px 0 0 20px

      .login
        abs                     20px 20px
        font-size               16px
        font-family             'Raleway', Helvetica, Arial, sans-serif
        font-weight             normal
        color                   #333

    .title
      font-size                 28px
      margin-top                60px

    .middle
      .left
        width                   50%
        margin                  0 auto

        img
          display               block
          size                  100% 100%
          margin                0 auto

      .right
        display                 block
        width                   75%
        margin                  0 auto

        h2
          text-align            center
          font-size             18px
          font-family           'Raleway', Helvetica, Arial, sans-serif
          font-weight           normal
          margin                10px 0

        p
          text-align            center
          font-size             14px
          font-family           "Helvetica Neue", Helvetica, Arial, sans-serif
          color                 #333
          margin                0 auto 10px auto

        .invite-button
          display               block
          width                 100%
          max-width             550px
          margin                0 auto 20px auto

        .invite-by-email
          width                 100%
          max-width             550px
          margin                0 auto

          textarea
            display             inline-block
            size                100%, 45px
            padding             10px
            borderBox()
            resize              none

        .submit-email-addresses, .invitations-sent
          width                 100%
          text-align            center
          font-size             18px
          line-height           1.33
          padding               10px 15px
          color                 white
          borderBox()
          border                1px solid transparent
          border-radius         6px

        .submit-email-addresses
          bg                    color, #F0AD4E
          border                1px solid #EEA236

          &:hover, &:focus, &:active
            bg                  color, #ED9C28
            border-color        #D58512

          &:active
            shadow              inset 0 3px 5px rgba(0, 0, 0, 0.125)

        .invitations-sent
          bg                    color, #5CB85C
          border-color          #4CAE4C
          cursor                default

        hr
          max-width             550px
          margin                10px auto

        .share
          width                 100%
          max-width             550px
          text-align            center
          margin                0 auto

          .share-links
            display             block
            margin-top          10px

          h3
            display             block
            font-size           18px
            font-family         'Raleway', Helvetica, Arial, sans-serif
            font-weight         normal
            margin              10px 0

          .referrer-url
            display             inline-block
            size                100%, 34px
            font-size           14px
            color               #555
            padding             10px 15px
            border              1px solid #CCC
            border-radius       4px
            shadow              inset 0 1px 1px rgba(0, 0, 0, 0.075)
            vendor              transition, border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s

            &:focus
              border-color      #66AFE9
              shadow            inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)

        .error-message
          color                 #B94A48
          font-weight           bold

          .email-list
            font-weight         normal

@media only screen and (min-width: 768px)
  .landingapp-view
    .spaceship
      .top
        .title
          font-size             56px

      .middle
        margin-top              40px

        .left
          display               block
          width                 100%
          margin                0 auto

          img
            size                auto, auto

        .right
          width                 100%
          max-width             680px
          margin                0 auto

          h2
            font-size           28px

          .invite-button
            max-width           550px

          .invite-by-email
            textarea
              width             50%
              max-width         270px

            .submit-email-addresses, .invitations-sent
              fr()
              width             50%
              max-width         270px

          hr
            width               550px

          .share
            .referrer-url
              max-width         435px

            .share-links
              display           inline-block

@media only screen and (min-width: 992px)
  .landingapp-view
    .spaceship
      .middle
        .left
          fl()
          width                 50%

          img
            size                100%, 100%

        .right
          display               inline-block
          width                 50%

          p
            width               80%

          .invite-by-email
            max-width           550px

            textarea
              max-width         240px

            .submit-email-addresses, .invitations-sent
              width             50%
              max-width         240px

          .share
            .referrer-url
              max-width         370px

@media only screen and (min-width: 1200px)
  .landingapp-view
    .spaceship
      .middle
        .left
          width                 50%

          img
            size                auto, auto

        .right
          .invite-button, .invite-by-email, hr, .share
            max-width           485px

          .share
            .referrer-url
              max-width         370px

