.ChannelParticipantAvatars-singleBox
  blockMidTop()
  size                    30px, 30px
  margin                  10px 0 15px 10px
  line-height             28px

  &:first-child
    margin-left           0

.ChannelParticipantAvatars-newParticipantBox
  pointer()
  borderBox()
  text-align              center
  rounded                 4px
  size                    30px, 30px
  border                  1px dashed $gray-10

  &:before
    rel()
    dIBlock()
    content               ''
    r-sprite              'activity', 'reactivity-new-participant-plus'
    vendor                transition, .2s ease

  &.cross
    &:before
      vendor              transform, rotate(45deg)

.ChannelParticipantAvatars .ProfilePicture
  vertical-align          middle
  rounded                 $border-radius

.ChannelParticipantAvatars-moreCount
  pointer()
  borderBox()
  size                    30px, 30px
  border                  1px solid $gray-10
  border-radius           $border-radius
  text-align              center

.ChannelParticipantInput
  input
    borderBox()
    abs()
    outline               none
    rounded               4px
    height                0
    width                 190px
    padding               0 10px
    border                none
    opacity               0
    vendor                transition, .2s ease

  &.slide-down
    input
      rel()
      opacity             1
      height              32px
      border              2px solid $gray-16

.ChannelParticipantAvatars-allParticipantsMenu
  abs()
  rounded                 $border-radius
  border                  1px solid $gray-20
  z-index                 9
  padding                 5px 0
  bg                      color, $white
  right                   25px
  max-height              420px
  shadow                  0 8px 35px rgba(0, 0, 0, 0.22)

  &:before
    abs()
    content               ''
    top                   -7px
    right                 50px
    size                  0, 0
    border-left           7px solid transparent;
    border-right          7px solid transparent;
    border-bottom         7px solid $white;

  .ChannelParticipantAvatars-allParticipantsMenuContainer
    width                 200px
    max-height            420px
    overflow-y            auto
    overflow-x            hidden

  .ChannelParticipantAvatars-allParticipantsMenuTitle
    color                 $gray-14
    border-bottom         1px solid $gray-16
    padding               5px 10px
    font-size             14px

  .ChannelParticipantAvatars-singleBox
    dBlock()
    pointer()
    width                 auto
    color                 $gray-12
    margin                0
    padding               5px 10px

    a
      noTextDeco()
      color               $gray-12

    .ProfilePicture
      fl()
      margin-right        10px

    &:hover
      bg                  color, $gray-12

      a
        color             $white


