<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>This VM is inactive - Koding</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://koding.com/hello/css/style.css">
<!--[if IE]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body class="php">
  <header><a href="http://koding.com">Koding.com</a></header>
  <h2>One more step to access {{.Host}}</h2>

  <div class="wrap">
    <dl>
    	<dt>What happened?</dt>
    	<dd>
        Every visitor to this page needs to click a link. <a href='http://learn.koding.com/faq/one-more-step-to-access-your-domain/'> Why?</a>
      </dd>
      <dd>

      <dt>This page will appear once every hour per visitor.</dt>
      <dd>
         If you think this site is malicious, has inappropriate content, you can report to
         <a href="mailto:support@koding.com?subject=Malicious VM&amp;body={{.Host}} has inappropriate content.">support@koding.com</a>
      </dd>
      <dd>

        <div id="container">
          <pre>Click to continue: <a href="//{{.Url}}">{{.Host}}</a></pre>
        </div>
      </dd>
    </dl>
  </div>
  <footer>

  </footer>
</body>
</html>
