@import "../Framework/themes/default/kdfn"

#koding-logo
  &.black
    span
      bg position, -240px -720px

#header-sign-in
  &.black
    span
      color black !important


.intro-view
  top                   0
  abs()

  .bottom-menu
    text-align          center
    bottom              40px
    width               100%
    z-index             5
    abs()

    a
      background            none
      border                none
      text-shadow           none
      box-shadow            none
      font-size             14px
      text-transform        none
      font-weight           normal
      font-family           'Open Sans'
      padding-left          24px
      &.active
        font-weight         bold

    a:last-of-type
      border                none

    &.black
      a.active
        color               black

.kd-page

  text-align            center
  size                  100%, 100%
  left                  0
  top                   0
  padding               110px
  padding-top           0
  background-color      white
  borderBox()
  abs()

  .slogan
    font-size           50px
    color               #fff
    font-weight         normal
    text-shadow         0 0 10px black
    margin-left        -100px
    margin-top         -160px
    width               100%
    top                 50%
    abs()

  .sub-slogan
    text-shadow         0 0 10px black
    line-height         40px
    font-weight         300
    margin-left        -100px
    margin-top         -60px
    font-size           30px
    width               100%
    color               #fff
    top                 50%
    abs()

  .content
    margin-left   -80px
    margin-top    -15px
    color         white
    font-size     30px
    top           50%
    left          50%
    abs()

  .slider-page
    display             table
    size                100%, 100%
    // bg                  color, #fff
    top                 0
    text-align          left

    figure
      size            641px, 467px
      bg              image, url("../images/homeslide/browser.png")
      bg              repeat, no-repeat
      bg              position, center center
      margin-left     100px
      position        relative
      fr()

      img
        top          66px
        rounded      0 0 4px 4px
        abs()

    &.left-aligned
      figure
        fl()
        margin-left     0
        margin-right    100px

    .wrapper
      display           table-cell
      vertical-align    middle
      width             100%
      max-width         1280px
      margin            0 auto
      padding           60px 20px 0
      borderBox()

    h3
      font-size         42px
      color             #595959
      font-weight       600
      span > span
        color           #ff9e3c

    p
      font-size         18px
      margin            40px 0 0 0
      font-weight       300

    &.active
      opacity           1

    &#you-page
    &#developers-page
    &#business-page
    &#education-page
      text-align        left
      h3
        margin-top      100px

.entryPage

  background-color      rgba(0, 0, 0, 0)

  .buttons
    text-align          center
    bottom              150px
    width               100%
    margin-left         -100px
    abs()

    button.kdbutton
      size              200px, 60px
      rounded           39px
      background        black
      border            2px solid transparent
      text-align        left
      font-size         16px
      line-height       22px
      padding           5px 0 0 0
      vendor            transition, background .3s ease \,\
                                    color      .3s ease
      borderBox()

      i
        display         block
        float           left
        size            40px, 40px
        sprite()
        margin          3px 10px 30px 10px

      span
        display         block
        font-size       20px

      &.email
        border-color    #df7400
        color           #df7400
        i
          bg            position, -680px -1px

        &:hover
          bg            color, #df7400
          color         #5c3108
          span
            color       #1c140c
          i
            bg            position, -680px -45px

      &.github
        border-color    #fff
        color           #a9a7a6
        margin          0 0 0 40px
        i
          bg            position, -630px -1px
        span
          color         #fff

        &:hover
          bg            color, #fff
          color         #b6b6b6
          span
            color       #545454
          i
            bg          position, -630px -45px
