.CreateChannel-Modal
  padding                   30px

  .ChannelParticipantsDropdownItem
    .ProfilePicture
      size                  23px !important, 23px !important
      rounded               3px

  .Button--danger
    bg                      color, $green
    border                  none

  .Button--secondary
    bg                      color, transparent
    border                  none
    color                   $gray-12

  .Modal-title
    color                   $green
    font-weight             normal

  .CreateChannel-description
    margin-bottom           20px

    strong
      dBlock()
      line-height           1.2em
      margin-bottom         5px

    div
      font-size             13px
      text-align            justify

  .CreateChannel-createPrivateGroup
    color                   $green
    font-size               13px
    text-decoration         underline

  .Reactivity-formfield
    &.dropdown
      cf()

      &.invalid
        .CreateChannel-participantsWrapper
          border-color      $red

.CreateChannel-dropbox
  &.Dropbox
    abs()
    z-index                 1
    right                   0px
    top                     auto !important
    border                  1px solid #DFD69A

.CreateChannel-participantsWrapper
  borderBox()
  padding-bottom            2px
  rounded                   4px
  border                    1px solid $gray-16

  .CreateChannel-participants
    padding                 0px 0px 0 5px
    max-height              75px
    overflow                auto

  .ChannelParticipantAvatars-singleBox
    width                   auto
    margin                  5px 10px 0px 0px
    line-height             24px

    &.selected
      span
        text-decoration     line-through
        color               $red

    img
      dIBlock()
      vertical-align        top
      rounded               3px
      size                  23px !important, 23px !important

    span
      margin                0 5px
      color                 $gray-12

  input
    float                   none !important
    border                  none !important
    margin-bottom           0 !important

  &.delete-mode
    input::-webkit-input-placeholder
      color                 $red
      font-weight           100
    input:-moz-input-placeholder
      color                 $red
      font-weight           100

