.ThreadSidebarContentBox
  margin                    0 0 20px

  &.dnd-collaborate .ThreadSidebarContentBox-content
    padding                 20px
    border                  1px dashed #D3D3D3
    rounded                 2px

  &.kd           .ThreadSidebarContentBox-content
  &.help-support .ThreadSidebarContentBox-content
    a
      display               block
      text-decoration       none
      font-size             $fs-small
      color                 #A2A2A2
      text-rendering        geometricPrecision
      margin-bottom         5px
      line-height           1.2em
      &:hover
        text-decoration     underline
      i
        font-style          italic

  &.kd .ThreadSidebarContentBox-content .new
    color                   #00b057



.ThreadSidebarContentBox-header
  font-family               $ff-title
  font-size                 11px
  font-weight               $fw-regular
  letter-spacing            .06em
  text-transform            uppercase
  color                     #9c9c9c
  line-height               $fs-big
  margin                    0 0 10px

.ThreadSidebarContentBox-content
  .ThreadSidebarContentBox-info
    text-align              center
    font-size               $fs-small
    color                   #A2A2A2
  .ThreadSidebarContentBox-info--inviteTeammates
    color                   #A2A2A2
    padding-top             0

    label
      display               block
      font-size             $fs-small
      margin-bottom         10px

    a
      bg                    color #01AF5B
      color                 white
      display               block
      font-weight           600
      line-height           32px
      padding               0 16px
      rounded               3px
      text-align            center
      text-decoration       none
      white-space           nowrap
      width                 auto


// @media only screen and (max-width : 950px)
//   .ThreadSidebarContentBox.secondary
//   .ThreadSidebarContentBox-header
//     hidden()
