@import "../../Framework/themes/default/kdfn"
@import "../../Main/styl/appfn"

@css {
/*
Teamwork stylesheet
app.teamwork.styl
*/
}

.teamwork
  .workspace
    bg                          color, #FFF
  .application-tab-handle-holder
    height                      58px
    bg                          color, #1B2224
    .kdtabhandle
      bg                        color, #21292B
      rounded                   6px 6px 0 0
      margin-right              2px
      &.active
        bg                      color, #282F31
  .user-list-container
    .inner-header
      .title
        text-indent             10px
  .inner-header
    bg                          color, #1B2224
    bg                          image, none
    border-bottom               none
    text-shadow                 none
    color                       #676f71
    height                      58px
    line-height                 58px
    .title
      text-indent               0
    .icon
      background-size           37px 37px !important
      size                      37px 37px
      fl()
    .header-title
      .icon
        size                    10px 24px
  .finder-pane
    &.file-container
      .no-vm-found-widget
        display                 none
    .nfinder
      kalc                      height, 100% \- 140px
  .application-tabview
    kalc                        height, 100% \- 58px
  .kdsplitview-resizer.vertical
    display                     none
  .kdtabhandle-tabs
    top                         18px
    position                    relative
  .previewer-body
    .kdinput
      font-size                 13px !important
      line-height               14px
  .ws-drawing-pane
    bg                          color, #282F32
  .CodeMirror,
  .CodeMirror-gutters,
  .webterm .console
    bg                          color, #282F32 !important
    padding-left                3px
  .CodeMirror-gutters
    border-right                none

.teamwork-loader
  size                          204px, 324px
  left                          50%
  position                      relative
  margin                        -162px 0 0 -102px
  top                           50%

.powered-by-firepad
  display                       none

.tw-fb-revoke
  width                         560px
  p
    span
      display                   inline-block
      width                     100px
  .initial
    display                     inline-block
    color                       #bbb
    margin-bottom               10px

.teamwork .inner-header .help
  display                       none
  &.opacity
    opacity                     .0001
    display                     block

.teamwork-markdown.has-markdown
  &.scale
    vendor                      transform, scale(0.03)
    -webkit-transition          -webkit-transform 0.3s ease, top 0.3s ease, left 0.3s ease
    -moz-transition             -moz-transform    0.3s ease, top 0.3s ease, left 0.3s ease
    transition                  transform         0.3s ease, top 0.3s ease, left 0.3s ease

  .kdmodal-content
    padding                     10px
    font-size                   14px !important
  img
    display                     inline !important
  a
    border-bottom               none
  h1, h2
    border-bottom               1px solid #eee
    margin                      20px 0 15px
  h1
    font-size                   30px
    &:first-child
      margin-top                10px
  h2
    font-size                   24px

.workspace.Facebook
  .user-list-container
    .inner-header
      border                    none
    .title
      top                       2px !important
      left                      0 !important
  .inner-header
    border                      1px solid #3B5998
    .icon
      bg                        image, none
    .title
      size                      75px 17px
      top                       10px
      left                      10px
      position                  relative
  .users
    left                        -68px
  .kdbuttonwithmenu-wrapper
    fr()
    margin                      7px 10px 0 0
    left                        56px
  .help
    display                     block
    left                        -67px

.tw-modal-image
  size                          663px, 210px
  left                          10px
  position                      relative
.tw-modal-line
  padding                       11px 0
  font-size                     13px
.appcanvasurl
  padding-top                   0 !important
  border-bottom                 none !important
.canvasurltext
  padding                       0 20px !important
  border-bottom                 none !important
.formline.image
  border-bottom                 none !important
.formline.appid
  border-bottom                 none !important
  padding                       0 20px !important
.tw-modal-image.step-general
  left                          0

.tw-before-starting-modal .kdscrollview
  overflow                      auto !important

.tw-previewer-button
  position                      absolute
  top                           12px
  rounded                       2px !important
  right                         30px
  padding                       2px 4px !important
  height                        15px
  line-height                   9px
  font-size                     9px !important
  text-transform                uppercase
  color                         #666 !important
  text-shadow                   0 1px 0 #FFF !important
.tw-live-update
  position                      absolute
  top                           11px
  right                         120px
  span
    font-size                   11px

.broadcasting
  .tw-user-avatars
    margin-top                  -19px

.tw-user-avatars
  float                         right
  overflow                      hidden
  .avatarview
    float                       left
    margin                      5px 5px 5px 0
    vendor                      transition, opacity .6s ease-in-out
    &.fade-out
      opacity                   0

.tw-terminal-splash
  background                    #FFF
  p
    font-size                   22px
    text-align                  center
    height                      30px
    position                    relative
    top                         50%
    margin-top                  -15px

.tw-sh-preview
  max-height                    210px
  overflow                      auto

.teamwork.inner-header
  text-shadow                   0px 1px 0px #fff

.tw-dashboard
  vendor                        transition, height .266s ease
  overflow                      auto
  height                        0
  bg                            color, #282F31
  box-sizing                    border-box
  line-height                   1.22em
  .tw-items-container
    overflow                    hidden
    width                       800px
    margin                      50px auto
  &.ready
    .loading
      display                   none
  &.active
    height                      100%
  .actions
    overflow                    hidden
    border-bottom               1px solid #191F21
    .item
      width                     185px
      text-align                center
      padding                   0 30px
      fl()
      h3
        margin                  33px 0 26px
        font-size               18px
        font-weight             normal
        color                   #9F9F9F
      p
        width                   180px
        margin                  0 auto 32px
        color                   #676F71
        font-size               14px
      .badge
        size                    48px, 48px
        margin                  0 auto
      &.team-up .badge
        sprite                  teamwork "teamup"
      &.join-in .badge
        sprite                  teamwork "join"
        position                relative
        left                    -4px
      &.import .badge
        sprite                  teamwork "import"
.tw-dashboard-input
  border                        1px solid #4F4F4F !important
  font-size                     14px !important
  rounded                       14px !important
  size                          186px !important, 47px !important
  line-height                   47px
  text-indent                   10px
  bg                            image, none !important
  text-align                    left !important
.tw-dashboard-button
  abs()
  top                           15px
  right                         0
  size                          20px !important, 20px
  z-index                       22
  sprite                        teamwork "arrow"
  border                        none
.tw-input-container
  position                      relative
.tw-playground-item
  size                          370px, 105px
  margin                        0 50px 50px 0
  position                      relative
  text-align                    left
  fl()
  &:nth-child(2n)
    margin-right                0
  img
    vertical-align              top
    margin-right                20px
    size                        111px, 79px
    fl()
  h4
    font-size                   18px
    color                       #9f9f9f
    margin-bottom               10px
  p
    font-size                   14px
    color                       #676f71
    margin-left                 131px
  .tw-play-button
    size                        111px, 26px
    font-size                   14px
    color                       #626A6C
    bg                          color, #1B2224
    border                      none
    abs()
    top                         81px
    text-transform              uppercase
.tw-playgrounds
  overflow                      hidden
  margin                        0 auto
  width                         800px
  padding                       50px 0
.tw-session-button
  width                         418px
  height                        70px
  border                        none
  background                    #297FB8
  font-size                     26px
  color                         #FFF
  left                          50%
  margin-left                   -209px
  top                           35px
.tw-playgrounds-container
  position                      relative
  .loading
    font-size                   22px
    font-weight                 bold
    text-align                  center
    height                      30px
    top                         50%
    margin-top                  -15px
    position                    absolute
    width                       100%

.tw-share-modal
  &.active
    .content
      border-bottom             1px solid #C5C5C5
      &.export
        padding-bottom          10px
  &.team-up-mode
    .export, .share
      display                   none
  .header
    height                      40px
    border-bottom               1px solid #C5C5C5
    padding                     10px 0
    pointer()
    &.share
      border-bottom             none
    &:hover
      bg                        color, #ECF0F1
    &.active
      bg                        color, #ECF0F1
      border-bottom             none
    .icon
      size                      20px, 40px
      fl()
    .text
      font-size                 17px
      display                   block
    .desc
      font-size                 14px
      margin-top                3px
  .option
    margin                      10px 20px
    font-size                   14px
    font-weight                 300
  .teamwork-modal-input
    margin                      0 10px 0 20px
    font-size                   18px
    border-radius               0 !important
    padding                     20px !important
    size                        235px !important, 30px !important
    display                     inline-block !important
    &.url
      margin-left               0
      width                     250px
  .user-list-container
    .group *, .inner-header, .invite-bar, .kdloader
      display                   none
    .invite-view
      display                   block !important
      visibility                visible
      .session-key, p, .cancel-button
        display                 none
    .kdautocompletewrapper
      margin-left               20px
      .kdinput
        border-radius           0
        padding                 20px
        font-size               18px
        size                    390px, 43px
  .invite-button.cupid-green, .tw-export-button
    border-radius               0
    height                      42px
    margin-top                  -42px
    border                      none
    background                  #2880B9
    box-shadow                  none
    text-transform              uppercase
    font-weight                 600
    font-size                   16px
    text-shadow                 none
    width                       84px
    margin-left                 416px
  .tw-export-button
    margin                      0 0 0 380px
    width                       110px
    color                       #FFF
  .nfinder
    height                      150px
    width                       468px
    margin                      5px 0 6px 0
    border                      1px solid #CCC
    left                        20px
  .shorten
    width                       500px
.teamwork .playground .tw-header-buttons
  .tw-ply-run
    left                        31px
  .users
    left                        -48px

.tw-buttons-container
  top                           0
  right                         0
  position                      absolute
  size                          130px, 58px
  text-align                    right
  button
    background                  none
    border                      none
    top                         20px
    right                       5px
    padding                     10px !important
    &:hover
      background                none
      border                    none
    &:focus
      vendor                    box-shadow, none
      border                    none
  .tw-cog
    display                     block
    sprite                      teamwork, "settings"
  .tw-chat
    display                     block
    sprite                      teamwork, "chat"
  .tw-chat-toggle
    &.active
      background-color          #282F31
      border-radius             6px 6px 0 0

.tw-bot-message
  .avatarview
    sprite                      teamwork, "teampunk"

.tw-tab-avatar-img-context
  top                           5px
  right                         5px
  border-radius                 12px
  abs()

.tw-rounded-button
  size                          186px, 47px
  font-size                     18px
  padding                       5px 30px
  border                        3px solid #1fcd6e
  border-radius                 22px
  color                         #1fcd6e
  background                    transparent
  &.share
    abs                         0 0 20px 30px
  &:focus
    color                       #7dbef1
    border-width                3px

  &.share
    abs             0 0 20px 30px

  &.invite-teammate
    abs             0 0 80px 30px

  &.export-workspace
    abs             0 0 80px 126px

  &.invite-teammate
  &.export-workspace
    size            90px, 30px
    font-size       12px
    padding         0
    border-width    2px

.tw-show-activity-widget
  abs()
  top                           14px
  left                          206px
  background                    transparent
  border                        none
  .icon
    sprite                      app "account-notifications"

.tw-activity-widget
  size                          506px, 100%
  abs()
  top                           0
  left                          0
  vendor                        transition .3s linear
  vendor                        transform translateX(0)
  padding                       20px
  overflow                      visible
  z-index                       10
  background                    #f0f0f0
  shadow                        20px 0 40px rgba(0,0,0,0.5)
  &.collapsed
    vendor                      transform translateX(-546px)
    shadow                      none
    .toggle
      abs                       -2px -6px
      vendor                    transform translate(-2px, -6px)
      padding                   3px 6px 4px 6px
  .close-tab
    abs()
    top                         5px
    right                       2px
    bg                          color transparent
    sprite                      app '20-close-tab'
    border                      none
    &:hover
      pointer()
  .notification
    size                        auto auto
    background                  lightyellow
    font-size                   12px
    margin                      10px 0
    padding                     10px 30px 10px 10px
    border                      1px solid lightgray
    border-radius               5px
    .close-tab
      abs()
      top                       4px
      right                     4px
      bg                        color, transparent
      sprite                    app '20-close-tab'
    a
      color                     #3aaaab
      noTextDeco()
  .activity-item
    height                      auto
    margin                      0
    border                      1px solid #dfddde
    border-radius               0
    box-shadow                  none
    &:nth-child(2)
      margin-top                10px
    .avatarview
      display                   inline-block
      border-radius             25px
    header
      padding                   20px 15px 0 15px
      background                #FFF
      .content
        display                 inline-block
        width                   360px
        vertical-align          middle
        margin-left             12px
        .profile
          color                 #1aaf5d
          font-weight           500
          text-decoration       none
        .status-body
          padding               0
          p
            padding             0
    footer
      .activity-actions
        height                  auto
        padding                 10px 0
      time
        line-height             38px
    .comment-container
      height                    auto
      .kdlistitemview-comment
        background              #fff
        .avatarview
          border-radius         25px
      .item-add-comment-box
        .avatarview
          display               none
        .item-add-comment-form
          textarea
            padding-left        14px
            border-radius       0

.tw-users
  bg                            color, #ededed
  padding                       5px
  font-size                     13px
  overflow                      hidden
  &.has-user
    p
      display                   none
    .avatarview
      fl()
      margin-right              4px
      &.watching
        border                  2px solid green
        box-sizing              border-box

.tw-chat
  width                         280px
  kalc                          height, 100% \- 58px
  bg                            color, #1B2224
  .messages
    kalc                        height, 100% \- 111px

.tw-chat-open
  .application-tabview
    kalc                        width, 100% \- 280px

.teamwork
  .previewer-body
    width                       auto

.tw-embed-image
  max-width                     240px
.tw-chat
  .tw-chat-item a
    color                       #676f71
  .tw-chat-message,
  .tw-chat-body
    line-height                 16px
  .tw-chat-media
    margin                      4px 0
  .tw-chat-para
    margin-bottom               3px

.pulsing
  vendor              transition, margin .6s ease-in-out //\, opacity .3s ease-in-out
  vendor              animation, pulse 1.5s ease-in-out 100
  &.out
    opacity           0
    vendor            animation, pulse-to-fade-out .75s ease-in-out
    vendor            animation-iteration-count, 1

@keyframes pulse-to-fade-out
  0%
    opacity 1
  100%
    opacity 0
