<html>
  <head>
    <title></title>
    <style type ="text/css">
     a {
        color:#1aaf5b;
        text-decoration:none;
     }
    .btn {
        -webkit-border-radius: 5;
        -moz-border-radius: 5;
        border-radius: 5px;
        font-family: HelveticaNeue;
        color: #ffffff;
        font-weight:400;
        background: #1aaf5b;
        padding: 7px 12px 7px 12px;
        text-decoration: none;
    }
    .btn:hover {
        text-decoration: none;
    }
    .p {
        line-height:23px;
        margin:  0px;
        padding: 0px;
        color: #565656;
    }
    .td {
        vertical-align:top;
    }
    </style>
    <meta charset ="UTF-8" />
  </head>
  <body style ="background: #fafafa;">
    <div style ="background: #fafafa; color: #3c3c3c; font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial,  'Lucida Grande', sans-serif; font-size: 16px; padding: 40px  0;">
      <div style ="margin: 0 auto; max-width: 700px; ">
        <div style ="margin: 0 0 31px; text-align: center;">
          <img alt ="Koding logo" src ="http://cdn2.hubspot.net/hubfs/1593820/logo_emailHeader.png" height ="36" />
        </div>
        <div>
          <div style ="color: #565656; background: #fff; border: 1px solid #e0e0e0; border-radius: 3px; padding: 35px 45px 41px; max-width: 575px; margin-right: auto;  margin-left: auto;">
            <style>
body {
  font-size: 12px;
}
body .wysiwyg-text-align-center {
  text-align: center;
}
body .wysiwyg-text-align-left {
  text-align: left;
}
body .wysiwyg-text-align-right {
  text-align: right;
}
body .wysiwyg-font-size-larger {
  font-size: 36px;
}
body .wysiwyg-font-size-large {
  font-size: 30px;
}
body .wysiwyg-font-size-medium {
  font-size: 24px;
}
body .wysiwyg-font-size-small {
  font-size: 16px;
}
body .wysiwyg-font-size-smaller {
  font-size: 12px;
}
</style>

<div style="font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-weight:300;">
    <p style="text-align:center;font-size:14px;margin-bottom:0;color:#565656;">
        You’re invited to try
    </p>
    <table style="width:100%;text-align:center;">
        <tbody>
        <tr>
            <td>
                <span style="color:#565656;font-size:28px;display:block;margin-top:10px;font-weight:600;">Koding For Teams!</span>
            </td>
        </tr>
        </tbody>
    </table>
    <p style="color:#565656;font-size:14px;margin:40px 0 50px;line-height:21px;">Hi {{ .UserID }},
        <br /><br />
        We’d like to invite you to try Koding For Teams (Beta)!
        <br /><br />
        Your team will have access to new features that help you collaborate and get set up faster. Pair program in the cloud or setup a new hire's dev-environment automatically; then use all that timed saved however you want.
    </p>
    <div style="width:100%;text-align:center;">
        <a href="{{ .Link }}" style="width:auto;padding:10px 45px;background:#1aaf5b;font-size:14px;text-decoration:none;color:white;border-radius:3px;line-height:25px;display:inline-block;letter-spacing:1px;" target="_blank">
        GET STARTED
        </a>
    </div>
    <p style="font-style:italic;text-align:center;margin-top:35px;color:#565656;font-weight:100;font-size:15px;letter-spacing:0.6px">
        Features you'll only find on <b style="font-weight:400;">Koding For Teams</b>:
    </p>
    <table style="font-size:14px;color:#565656;font-weight:200;margin-top:40px;width:100%">
        <tbody>
        <tr>
            <td style="width:30%;text-align:center;line-height:20px;">
                <div style="height:60px">
                    <img src="https://koding-email-images.s3.amazonaws.com/v1/teams/creation/clock.png" width="38" height="40">
                </div>
                <span style="height:80px;display:block;">Onboard In Minutes<br> (not weeks)</span>
            </td>
            <td style="width:30%;text-align:center;line-height:20px;">
                <div style="height:60px">
                    <img src="https://koding-email-images.s3.amazonaws.com/v1/teams/creation/windows.png" width="40" height="35">
                </div>
                <span style="height:80px;display:block;">Use IDEs / Terminals<br> you know &amp; love</span>
            </td>
            <td style="width:30%;text-align:center;line-height:20px;">
                <div style="height:60px">
                    <img src="https://koding-email-images.s3.amazonaws.com/v1/teams/creation/pair.png" width="44" height="38">
                </div>
                <span style="height:80px;display:block;">Pair Program<br> with chat &amp; video</span>
            </td>
            </tr>
        </tbody>
    </table>
</div>

            <p style ="line-height: 23px; margin: 0; margin-top: 30px; padding: 0;">
                <span style ="color:#565656;font-size:14px;font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-weight:300;">&#58; &#62;<br />Team Koding</span>
            </p>
          </div>
        </div>
        <div style ="color: #565656; font-size: 12px; line-height: 24px; text-align: center; margin-top:35px;">
          <a style ="color: #1aaf5b; text-decoration: none;" href ="mailto:support@koding.com">Contact us</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
          <a style ="color: #1aaf5b; text-decoration: none;" href="{{ .LinkUnsubscribe }}">Unsubscribe</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
          <a style ="color: #1aaf5b; text-decoration: none;" href ="http://email.koding.com/c/eJxVjDsOwyAQRE9jSmt3gQUK ijS5RoT5xCixiWx8_9BFkaaZN3qTvCKJlkW7-tKuPT1q8hOR5iXIHCiqDICcwAAEJBiTqJ4GAgK HTmqyM2qncJbIxkwKXi3V_TnHtonVO8aiZFKFSwnWZgoaomYNZsnSchRvv_b-OSd5m-g-8rNHSS 2e4vC9rm2rx9_3F2L-NX4" title ="koding.com">F.A.Q.</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
          <a style ="color: #1aaf5b; text-decoration: none;" href ="http://email.koding.com/c/eJxVjDsOwyAQRE8DpbW7_ExB kSbXiFhjbBTbWA6-f-iiSNPMG71JQZPC0cp6N673kV4lBUFkLEc1R5r0DIA2gQOISNAnWQJ1BAQ evTI0Dmi8xkGhdU5oeNdUjmWY6i7XwGDR55SzYzbRuYwO_ITKjjObpFhuYW3t_Aj1EPTs-dm98F YXeYVW1rqX6-_7C3zXNdE" title ="Our blog">Blog</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
          <a style ="color: #1aaf5b; text-decoration: none;" href ="http://email.koding.com/c/eJxVjMEOwiAQRL8Gjs3uAgsc OHjxNwyF1hJtMYTG3xfjyWQuMy_zctCk0LGsZ5_reeRbyUEQGZ6jWiIlvQAgZ7AAEQkGkiXQmID Ao1eG3ITGa5wUsrVCw6PmctynVHe5BWBjnQLOFD261RrneKWUiIE1rko-w9b7S6iLoOtIf5fel_ Z9j_ZTyRZ62epe2p_9A4owNYM" title ="Follow us on twitter">Twitter</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
          <a style ="color: #1aaf5b; text-decoration: none;" href ="http://email.koding.com/c/eJxVjDsOwjAQRE9jl9Hu-l-4 oOEayGsbYoVgFDn3x4gKaZqZp3klalLorezn4H6-yq2VKIiM5aRqoqwrANoCDiAhwUSyRZoTEAQ MypBf0ASNi0LrnNCw9dJejyX3Xa7Ra4XssdTsmIsLkExg9pa0d4lByWdcx3gLdRF0nbmnXLn37X uf9eeSRxxt7Xs7_vQfABU2jg" title ="Follow us on facebook">Facebook</a>
          <br />
          Made in San Francisco:  <a style  ="color: #565656; text-decoration: none;" href ="http://email.ko ding.com/c/eJxVT9FqwzAM_BrnbUaSZVt-yEPZ6Ms-Ytixk4YldWlTUvb1c_swGIgTujuOU-6Z DIrr6n1L9X7OX3PuFZF1KZoSaeACgC6DB4hI0KRu7qlRQBAwGEui0QZGbdB5rxi-a57Pkx7q2p3 6IXIevUQXx1RkCN4PkEsyTCPHkrBb-tO2XW7KHBQd2-z7rqdap6U8ExqxxqbS8bLEobT9-Up_eh mM114geGZF729IpE2wEsS1E_1PM-W4RWU-FKFZsSGnF670x-ANHgJiBbwECI7ZYSsDDwzWWSARM EkS--7ab_OprvP134-_nRZXvw">358 Brannan Street</a>.
          <br />
          <a href ="http://email.koding.com/c/eJxVjT kOwjAURE8Tl9ZfvBYuaLgGimOHGBKMEofzY4kKaZqZJ71JQRGjM6KeLdbzlW4lhYFImzhyHmlSG QBNAgswIkFHogTqExB49KzJSdReoWQ01g4KnjWV111OdRNL8DbNrDyjVXOMjpIzk9M5a-eiyqzF GpbW3sfAl4GuPY8aD7nmT967ofefTeyhlaVuZf87-AJrozdD" target ="_blank" style ="margin: 25px auto; display: inline-block;">
            <span style ="float: left; width: 12px; height: 2px; background: #BCBCBC; margin-top: 10px;"> </span>
            <div style ="color: #4DA0FF; font-weight: 600; margin: 0 15px; font-family: 'HelveticaNeue',  'Helvetica Neue', Helvetica, Arial, 'Lucida Grande'; float: left; margin: 0 15px; ">
              <img src ="https://koding-email-images.s3.amazonaws.com/v1/announcement.png" alt ="Koding" width =" 16" height ="16" style ="margin-right: 7px; margin-top: 5px;  float: left;" />
              <span style ="float: left;"> We're Hiring!</span>
            </div>
            <span style ="float: right; width: 12px; height: 2px; background: #BCBCBC; margin-top: 10px;" ></span>
          </a>
        </div>
      </div>
    </div>
  <img width ="1px" height ="1px" alt ="" src ="http://emai l.koding.com/o/eJxVy00OhCAMQOHTyNK0peVnwVkmQGEkEyUxen_dzvZ9eZqYLAZn5n2VeR_6 GZoWInEl25apcgNAp-ABMhK8ZEaiNwFBxGiFwooSGVeLzvuF4Td1HN-1zt1sqajEyKGKZ2il-Ia 9KfTOFW0WVXOma2xzH-ff-QA10ysw"></body>
</html>