.FeedPane
  bg                          color, $gray-19
  size                        100% 100%
  box-sizing                  border-box
  font-size                   $fs-regular
  line-height                 $body-line-height

  .Pane-contentWrapper
    height                    100vh
    vendor                    flex-direction, column

  .Pane-body
    padding                   0
    vendor                    flex, 1
    vendor                    flex-direction, column
    vendor                    justify-content, flex-start
    height                    100%
    dFlex()
    rel()
    > .Scrollable
      opacity                 0
      vendor                  transition, opacity .3s ease

.FeedPane-tabContainer
  rel()
  dBlock()
  height                      60px
  overflow                    hidden
  max-width                   600px
  margin                      0 0 12px 34px
  vendor                      box-shadow, inset 0 -3px 0 #e0e0e0

  .FeedPane-searchInput
    abs()
    borderBox()
    rounded                   16px
    right                     0
    bottom                    15px
    size                      180px, 30px
    padding                   0 25px 0 13px
    border                    1px solid #e8e8e8
    font-size                 12px
    outline                   none
    z-index                   1

  .FeedPane-tab
    dIBlock()
    borderBox()
    noTextDeco()
    height                    60px
    font-size                 14px
    color                     $gray-10
    padding                   22px 23px 0

    &.active
      vendor                  box-shadow, inset 0 -3px 0 $feed-button

  .FeedPane-searchIcon
    content     ''
    r-sprite                  'activity', 'search'
    z-index                   1
    abs                       22px 12px auto auto
    dBlock()


.ThreadPane-feedWrapper
  vendor                      flex, 1
  vendor                      transition, flex .177s ease
  bg                          color #f2f2f2

