.FeedThreadPane-sidebar
  max-width                 295px !important
  margin                    53px 0 0 0
  abs                       0px 0 0 663px

.ActivitySidebar-widget
  margin-bottom             12px
  background                #fff
  border                    1px solid #E8E8E8
  rounded                   4px
  padding                   15px 26px
  font-size                 12px
  borderBox()

  h3
    line-height           20px
    color                 #6D6D6D
    font-weight           600
    font-size             12px
    margin-bottom         7px

@media (min-width: 0px) and (max-width: 1215px)

  .FeedThreadPane-sidebar
    hidden()


