a{outline:0}
.intro-view{top:0;background:url("../images/gunduz-varligi-yildizli.jpg") no-repeat center center fixed;background-size:cover;z-index:101;opacity:0;-webkit-transition:opacity .6s ease-in , background-position .5s ease;-moz-transition:opacity .6s ease-in , background-position .5s ease;transition:opacity .6s ease-in , background-position .5s ease;position:absolute;}
.intro-view.ghost{background-position-y:-250px}
.intro-view.in{opacity:1}
.intro-view.out{-webkit-animation:moveToTop .6s ease both;-moz-animation:moveToTop .6s ease both;animation:moveToTop .6s ease both}
.intro-view .bottom-menu{text-align:center;bottom:0;padding:40px;padding-top:5px;margin-left:-40px;width:100%;z-index:5;position:absolute;}
.intro-view .bottom-menu a{background:none;border:none;text-shadow:none;box-shadow:none;font-size:14px;text-transform:none;font-weight:normal;font-family:'Open Sans';padding-left:12px;padding-right:12px;}
.intro-view .bottom-menu a.active{font-weight:bold}
.intro-view .bottom-menu a:last-of-type{border:none}
.intro-view .bottom-menu.black a.active{color:#000}
.kd-page{text-align:center;width:100%;height:100%;left:0;top:0;padding-top:0;background-color:#fff;font-weight:300;font-family:'Proxima Nova';-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:absolute;}
.kd-page .slogan{top:90px;left:62px;font-size:22px;color:#595959;font-family:"Ubuntu";position:absolute;}
.kd-page .slogan span > span{color:#ff9e3c}
.kd-page .sub-slogan{text-shadow:0 0 10px #000;line-height:40px;font-weight:300;margin-top:-60px;font-size:30px;width:100%;color:#fff;top:50%;position:absolute}
.kd-page .content{margin-left:-80px;margin-top:-15px;color:#fff;font-size:30px;top:50%;left:50%;position:absolute}
.kd-page .details{width:45%}
.kd-page .slider-page{display:table;width:100%;height:100%;top:0;text-align:left;}
.kd-page .slider-page figure{height:50%;width:50%;position:relative;max-width:600px;display:block;float:right;}
.kd-page .slider-page figure img{width:100%;height:80%;min-height:160px;position:absolute}
.kd-page .slider-page.left-aligned figure{display:block;float:left;margin-left:0;margin-right:100px}
.kd-page .slider-page .wrapper{display:table-cell;vertical-align:middle;width:100%;max-width:1280px;margin:0 auto;padding:40px 60px 40px 60px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.kd-page .slider-page p{margin:40px 0 0 0}
.kd-page .slider-page.active{opacity:1}
.kd-page .slider-page#you-page,.kd-page .slider-page#developers-page,.kd-page .slider-page#business-page,.kd-page .slider-page#education-page{text-align:left;}
.kd-page .slider-page#you-page h3,.kd-page .slider-page#developers-page h3,.kd-page .slider-page#business-page h3,.kd-page .slider-page#education-page h3{margin-top:100px}
.entryPage{background-color:rgba(0,0,0,0);}
.entryPage .login-button{color:#fff;text-align:right;padding:30px 40px 0 0;font-size:24px;cursor:pointer}
.entryPage .top-slogan{font-size:2.4em;color:#fff;text-shadow:0 0 10px #000;width:100%;top:23%;font-weight:100;position:absolute;}
.entryPage .top-slogan > div{font-size:.5em;margin-top:20px;font-weight:100}
.entryPage .buttons{text-align:center;bottom:150px;width:100%;position:absolute;}
.entryPage .buttons button.kdbutton{width:200px;height:60px;-webkit-border-radius:39px;-moz-border-radius:39px;border-radius:39px;background:#000;border:2px solid transparent;text-align:left;font-size:16px;line-height:22px;padding:5px 0 0 0;-webkit-transition:background .3s ease , color .3s ease;-moz-transition:background .3s ease , color .3s ease;transition:background .3s ease , color .3s ease;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.entryPage .buttons button.kdbutton i{display:block;float:left;width:40px;height:40px;background-image:url("../images/_kd.sprites.png");background-color:transparent;background-repeat:no-repeat;margin:3px 10px 30px 10px}
.entryPage .buttons button.kdbutton span{display:block;font-size:20px}
.entryPage .buttons button.kdbutton.email{border-color:#df7400;color:#df7400;}
.entryPage .buttons button.kdbutton.email i{background-position:-680px -1px}
.entryPage .buttons button.kdbutton.email:hover{background-color:#df7400;color:#5c3108;}
.entryPage .buttons button.kdbutton.email:hover span{color:#1c140c}
.entryPage .buttons button.kdbutton.email:hover i{background-position:-680px -45px}
.entryPage .buttons button.kdbutton.github{border-color:#fff;color:#a9a7a6;margin:0 0 0 40px;}
.entryPage .buttons button.kdbutton.github i{background-position:-630px -1px}
.entryPage .buttons button.kdbutton.github span{color:#fff}
.entryPage .buttons button.kdbutton.github:hover{background-color:#fff;color:#b6b6b6;}
.entryPage .buttons button.kdbutton.github:hover span{color:#545454}
.entryPage .buttons button.kdbutton.github:hover i{background-position:-630px -45px}
@media only screen and (max-width: 400px){.kd-page .details{width:100%}
.kd-page .slider-page .slogan{left:55px}
.kd-page .slider-page figure{width:100%;height:30%;}
.kd-page .slider-page figure img{height:30%;min-height:80px}
.kd-page .slider-page .wrapper{padding:20px}
.entryPage .top-slogan{top:15%}
.entryPage .buttons{bottom:100px;}
.entryPage .buttons button{width:70% !important;}
.entryPage .buttons button.github{margin-left:0 !important;margin-top:10px !important}
}@media only screen and (max-height: 420px){.entryPage .buttons{-webkit-transform:scale(.7);-moz-transform:scale(.7);transform:scale(.7);bottom:40px !important}
.kd-page .slider-page p{margin:5px 0 0 0}
.kd-page .slider-page .slogan{top:11px !important;left:133px !important}
.kd-page .slider-page .wrapper{padding:10px}
.kd-page .slider-page figure img{min-height:100px}
.intro-view .bottom-menu{padding:15px !important;margin-left:-15px !important}
}@media only screen and (max-height: 250px){.entryPage .top-slogan{top:15%;}
.entryPage .top-slogan > div{display:none}
.entryPage .buttons{bottom:60px !important}
}@-moz-keyframes fadeIn{100%{opacity:1}
}@-webkit-keyframes fadeIn{100%{opacity:1}
}@-o-keyframes fadeIn{100%{opacity:1}
}@-ms-keyframes fadeIn{100%{opacity:1}
}@keyframes fadeIn{100%{opacity:1}
}
