@font-face{font-family:"Open Sans";font-weight:300;font-style:normal;src:url("fonts/OpenSans-Light.ttf")}
@font-face{font-family:"Open Sans";font-weight:300;font-style:italic;src:url("fonts/OpenSans-LightItalic-small.ttf")}
@font-face{font-family:"Open Sans";font-weight:400;font-style:normal;src:url("fonts/OpenSans-Regular.ttf")}
@font-face{font-family:"Open Sans";font-weight:400;font-style:italic;src:url("fonts/OpenSans-Italic-small.ttf")}
@font-face{font-family:"Open Sans";font-weight:600;font-style:normal;src:url("fonts/OpenSans-Semibold-small.ttf")}
@font-face{font-family:"Open Sans";font-weight:600;font-style:italic;src:url("fonts/OpenSans-SemiboldItalic-small.ttf")}
@font-face{font-family:"Open Sans";font-weight:700;font-style:normal;src:url("fonts/OpenSans-Bold-small.ttf")}
@font-face{font-family:"Open Sans";font-weight:700;font-style:italic;src:url("fonts/OpenSans-BoldItalic-small.ttf")}
@font-face{font-family:"Ubuntu";font-style:normal;font-weight:400;src:url("fonts/Ubuntu-Regular.ttf")}
@font-face{font-family:"SourceCodePro";src:url("fonts/SourceCodePro-Regular-webfont.eot");src:url("fonts/SourceCodePro-Regular-webfont.eot?#iefix") format('embedded-opentype') , url("fonts/SourceCodePro-Regular-webfont.woff") format('woff') , url("fonts/SourceCodePro-Regular-webfont.ttf") format('truetype') , url("fonts/SourceCodePro-Regular-webfont.svg#SourceCodeProRegular") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:"SourceCodePro";src:url("fonts/SourceCodePro-Bold-webfont.eot");src:url("fonts/SourceCodePro-Bold-webfont.eot?#iefix") format('embedded-opentype') , url("fonts/SourceCodePro-Bold-webfont.woff") format('woff') , url("fonts/SourceCodePro-Bold-webfont.ttf") format('truetype') , url("fonts/SourceCodePro-Bold-webfont.svg#SourceCodeProBold") format('svg');font-weight:bold;font-style:normal}
@font-face{font-family:"UbuntuMono";src:url("fonts/UbuntuMono-R-webfont.eot");src:url("fonts/UbuntuMono-R-webfont.eot?#iefix") format('embedded-opentype') , url("fonts/UbuntuMono-R-webfont.woff") format('woff') , url("fonts/UbuntuMono-R-webfont.ttf") format('truetype') , url("fonts/UbuntuMono-R-webfont.svg#UbuntuMonoRegular") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:"UbuntuMono";src:url("fonts/UbuntuMono-B-webfont.eot");src:url("fonts/UbuntuMono-B-webfont.eot?#iefix") format('embedded-opentype') , url("fonts/UbuntuMono-B-webfont.woff") format('woff') , url("fonts/UbuntuMono-B-webfont.ttf") format('truetype') , url("fonts/UbuntuMono-B-webfont.svg#UbuntuMonoBold") format('svg');font-weight:bold;font-style:normal}
@font-face{font-family:"Bree Serif";font-style:normal;font-weight:400;src:local('Bree Serif') , local('BreeSerif-Regular') , url("fonts/BreeSerif-Regular.ttf")}
@font-face{font-family:"PT Sans";font-style:normal;font-weight:400;src:url("https://fonts.googleapis.com/css?family=PT+Sans")}
@font-face{font-family:"Droid Sans";font-style:normal;font-weight:400;src:url("https://fonts.googleapis.com/css?family=Droid+Sans:400")}

html, body {
  margin: 0;
  padding: 0;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #e9e9e7;
}

body > header{
  margin:0;
  width: 100%;
  height: 55px;
  z-index: 10;
  box-shadow: 0 3px 0 rgba(0, 0, 0, .15);
  position: fixed;
  background: #1f2628;
  top: 0;
  left: 0
}
body > .tos {
  padding: 55px 30px;
  font-size: 14px;
  max-width: 800px;
}

body > .tos p{
  border-bottom: 1px dotted #dfdfdf;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
body > .tos p strong{
  display: block;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: 600;
  color: #000;
}

#koding-logo {
  background: #1aaf5d;
  width: 57px;
  height: 55px;
  display: block
}

#koding-logo span {
  display: block;
  width: 57px;
  height: 55px;
  background: url(../images/logos/nav-logo.png) no-repeat center center;
}

#iubenda_policy.iubenda_fluid_policy .iub_container {
  margin-top: 0!important;
  padding-top: 55px;
}
