@import url(http://fonts.googleapis.com/css?family=Asap:700);

@font-face{font-family:"Open Sans";font-weight:300;font-style:normal;src:url("fonts/OpenSans-Light.ttf")}
@font-face{font-family:"Open Sans";font-weight:300;font-style:italic;src:url("fonts/OpenSans-LightItalic-small.ttf")}
@font-face{font-family:"Open Sans";font-weight:400;font-style:normal;src:url("fonts/OpenSans-Regular.ttf")}
@font-face{font-family:"Open Sans";font-weight:400;font-style:italic;src:url("fonts/OpenSans-Italic-small.ttf")}
@font-face{font-family:"Open Sans";font-weight:600;font-style:normal;src:url("fonts/OpenSans-Semibold-small.ttf")}
@font-face{font-family:"Open Sans";font-weight:600;font-style:italic;src:url("fonts/OpenSans-SemiboldItalic-small.ttf")}
@font-face{font-family:"Open Sans";font-weight:700;font-style:normal;src:url("fonts/OpenSans-Bold-small.ttf")}
@font-face{font-family:"Open Sans";font-weight:700;font-style:italic;src:url("fonts/OpenSans-BoldItalic-small.ttf")}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans",  "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
}

#main-header {
  width: 100%;
  height: auto;
  padding: 0 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("/a/images/home-pat.png");
}
#main-header .inner-container {
  width: 100%;
  height: 119px;
  max-width: 1290px;
  margin: 0 auto;
}
#main-header .inner-container nav {
  display: block;
  float: right;
  line-height: 119px;
}
#main-header .inner-container nav a {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 16px;
  margin-left: 12px;
  font-weight: 500;
  color: rgba(255,255,255,0.83);
  padding-bottom: 1px;
  text-decoration: none;
}
#main-header .inner-container nav a:hover {
  text-decoration: none;
}
#main-header .inner-container nav a.login {
  padding: 7px 13px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: nowrap;
  margin-left: 21px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid rgba(255,255,255,0.5);
}
#main-header .logotype {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 24px;
  line-height: 119px;
  color: #fff;
  font-family: 'Asap';
  text-decoration: none;
  display: block;
  float: left;
}
#main-header #koding-logo {
  margin: 0 14px 0 0;
  width: auto;
  height: auto;
  display: block;
  float: left;
}
#main-header #koding-logo cite {
  margin: 48px 0 0;
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/logos/nav-logo.png) no-repeat center center;
}

body > .tos {
  padding: 55px 30px;
  font-size: 14px;
  max-width: 1290px;
  margin: 0 auto;
  color: #555555;
}

body > .tos p {
  margin-bottom: 15px;
  line-height: 22px;
}
body > .tos li {
  margin-bottom: 15px;
}
body > .tos h1 {
  color : #23BE6F;
}
body > .tos p strong{
  display: block;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: 600;
}

#iubenda_policy.iubenda_fluid_policy .iub_container {
  margin-top: 0!important;
  padding-top: 55px;
}
