.wmd-panel
{
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	min-width: 500px;
}

#wmd-editor
{
	background-color: Aquamarine;
}

.wmd-button-bar 
{
	width: 100%;
	/*
	background-color: Silver; 
	*/
}

.wmd-input 
{ 
	height: 500px;
	width: 100%;
	background-color: Gainsboro;
	border: 1px solid DarkGray;
}

.wmd-preview 
{ 
	background-color: #fff; 
	padding:10px 0;
	border-bottom:1px solid #f2f2f2;
}
.wmd-preview-title
{
  color:#F46500;
  font-style:italic;
  font-weight:normal;
  margin:5px 0;
  font-size:.9em;
}

.wmd-output 
{ 
	background-color: Pink;
}

.wmd-button-row 
{
	position: relative; 
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;  
	height: 20px;
}

.wmd-spacer
{
	width: 1px; 
	height: 20px; 
	margin-left: 14px;
	
	position: relative;
	background-color: Silver;
	display: block; 
	float:left;
	list-style: none;
}

.wmd-button
{
	width: 20px; 
	height: 20px; 
	margin-left: 5px;
	margin-right: 5px;
	
	position: relative;
	background-image: url(/images/wmd-buttons.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block; 
	float:left;
	list-style: none;
}

.wmd-button > a
{
	width: 20px; 
	height: 20px; 
	margin-left: 5px;
	margin-right: 5px;
	
	position: absolute;
	display: inline-block; 
}


/* sprite button slicing style information */
.wmd-bold-button    { background-position: 0px 0;}
.wmd-italic-button  { background-position: -20px 0;}
.wmd-link-button    { background-position: -40px 0;}
.wmd-quote-button   { background-position: -60px 0;}
.wmd-code-button    { background-position: -80px 0;}
.wmd-image-button   { background-position: -100px 0;}
.wmd-olist-button   { background-position: -120px 0;}
.wmd-ulist-button   { background-position: -140px 0;}
.wmd-heading-button { background-position: -160px 0;}
.wmd-hr-button      { background-position: -180px 0;}
.wmd-undo-button    { background-position: -200px 0;}
.wmd-redo-button    { background-position: -220px 0;}
.wmd-help-button    { background-position: -240px 0;}


.wmd-prompt-background
{
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}