---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v1/channel-registration/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel-group/Group_AddRemove?add=Channel_AddRemove1%2CChannel_AddRemove2&pnsdk=PubNub-Go%2F3.14.0&uuid=UUID_AddRemove_1
    method: GET
  response:
    body: '{"status": 200, "message": "OK", "service": "channel-registry", "error":
      false}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v1/channel-registration/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel-group/Group_AddRemove?pnsdk=PubNub-Go%2F3.14.0&uuid=UUID_AddRemove_1
    method: GET
  response:
    body: '{"status": 200, "payload": {"channels": ["Channel_AddRemove1", "Channel_AddRemove2"],
      "group": "Group_AddRemove"}, "service": "channel-registry", "error": false}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v1/channel-registration/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel-group/Group_AddRemove?pnsdk=PubNub-Go%2F3.14.0&remove=Channel_AddRemove1&uuid=UUID_AddRemove_2
    method: GET
  response:
    body: '{"status": 200, "message": "OK", "service": "channel-registry", "error":
      false}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v1/channel-registration/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel-group/Group_AddRemove?pnsdk=PubNub-Go%2F3.14.0&uuid=UUID_AddRemove_2
    method: GET
  response:
    body: '{"status": 200, "payload": {"channels": ["Channel_AddRemove2"], "group":
      "Group_AddRemove"}, "service": "channel-registry", "error": false}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
unclosed_requests: {}
