---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v1/channel-registration/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel-group/Group_AlreadySubscribed?add=adsf&pnsdk=PubNub-Go%2F3.14.0&uuid=UUID_AlreadySubscribed
    method: GET
  response:
    body: '{"status": 200, "message": "OK", "service": "channel-registry", "error":
      false}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel/,/leave?uuid=UUID_AlreadySubscribed&channel-group=Group_AlreadySubscribed&pnsdk=PubNub-Go%2F3.14.0
    method: GET
  response:
    body: '{"status": 200, "action": "leave", "message": "OK", "service": "Presence"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v1/channel-registration/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel-group/Group_AlreadySubscribed/remove?pnsdk=PubNub-Go%2F3.14.0&uuid=UUID_AlreadySubscribed
    method: GET
  response:
    body: '{"status": 200, "message": "OK", "service": "channel-registry", "error":
      false}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
unclosed_requests: {}
