---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v2/subscribe/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/,/0?channel-group=Group_NotExistingCG&uuid=UUID_NotExistingCG&tt=0&pnsdk=PubNub-Go%2F3.14.0
    method: GET
  response:
    body: '{"status":400,"service":"PubSub","error":true,"message":"Channel group
      or groups result in empty subscription set"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 400 Error
    code: 400
unclosed_requests: {}
