.terminal-tab {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -o-box-sizing: border-box;
  -icab-box-sizing: border-box;
  box-sizing: border-box;
}
.terminal-tab input.kdinput.text {
  color: #28fe14;
  font-family: mono;
  border: none;
  display: block;
  line-height: initial;
  width: 100%;
  height: initial;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -khtml-border-radius: 0;
  -o-border-radius: 0;
  -icab-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -khtml-box-shadow: none;
  -o-box-shadow: none;
  -icab-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.terminal-tab .terminal-screen {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
  color: #28fe14;
  background: #111;
  background: -moz-radial-gradient(center, ellipse cover, #333 0%, #111 100%);
/* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #333), color-stop(100%, #111));
/* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #333 0%, #111 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #333 0%, #111 100%);
/* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #333 0%, #111 100%);
/* IE10+ */
  background: radial-gradient(center, ellipse cover, #333 0%, #111 100%);
/* W3C */
}
.terminal-tab .terminal-screen span.cursor {
  background: transparent;
  border: 1px solid #b4b4b4;
}
.terminal-tab.terminal-on-focus span.cursor {
  border: 0;
  margin: 0;
  background: transparent url("../../../images/blinking-cursor.gif") no-repeat;
}
.terminal-tab .shell-advanced-settings-wrapper {
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 17px;
  height: 17px;
  border-top: 1px solid rgba(255,255,255,0.20);
  border-left: 1px solid rgba(255,255,255,0.10);
}
.terminal-tab .shell-advanced-settings-wrapper button.kdbutton span.icon.cog-white {
  bg: position, -82px -301px;
}
.kdtabhandle .icon.terminal {
  width: 14px;
  height: 15px;
  margin-top: 4px;
  margin-right: 4px;
  background: transparent url("../../../images/_kd.sprites.png") no-repeat -102px -300px;
  display: block;
  float: left;
}
/* terminal.css => stylused

   This file is part of Anyterm; see http://anyterm.org/
   (C) 2005-2008 Philip Endecott

/* These are the background colours: */
.a {
  background-color: #000;
/* black   */
}
.b {
  background-color: #cd0000;
/* red     */
}
.c {
  background-color: #00cd00;
/* green   */
}
.d {
  background-color: #cdcd00;
/* yellow  */
}
.e {
  background-color: #0000cd;
/* blue    */
}
.f {
  background-color: #cd00cd;
/* magenta */
}
.g {
  background-color: #00cdcd;
/* cyan    */
}
.h {
  background-color: #e5e5e5;
/* white   */
}
/* These are the foreground colours used when bold mode is NOT enabled.
   They're the same as the background colours. */
.i {
  color: #000;
/* black   */
}
.j {
  color: #cd0000;
/* red     */
}
.k {
  color: #00cd00;
/* green   */
}
.l {
  color: #cdcd00;
/* yellow  */
}
.m {
  color: #0000cd;
/* blue    */
}
.n {
  color: #cd00cd;
/* magenta */
}
.o {
  color: #00cdcd;
/* cyan    */
}
.p {
  color: #e5e5e5;
/* white   */
}
/* These are the brighter foreground colours used when bold mode IS enabled.
   The business with !important and .p .z is because the .p default is set
   on the enclosing term element; I can't see a better way to get the desired
   behaviour. */
.z.i {
  color: #4d4d4d !important;
/* black   */
}
.z.j {
  color: #ff2744 !important;
}
.z.k {
  color: #9ef86f !important;
}
.z.l {
  color: #ffb76e !important;
}
.z.m {
  color: #79d2fe !important;
}
.z.n {
  color: #ff92c9 !important;
}
.z.o {
  color: #79d2fe !important;
}
.z.p,
.p .z {
  color: #fff;
/* white   */
}
/* The cursor.  You can make it blink if you really want to (on some browsers). */
.cursor {
  border: 1px solid #f00;
  margin: -1px;
}
/*text-decoration: blink;*/
.termframe {
  float: left;
  background-color: #3f3fa1;
  padding: 0.4ex;
}
.termframe p {
  margin: 0;
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
}
.termframe a {
  cursor: pointer;
}
img.button {
  margin: 0 3px;
  cursor: pointer;
  vertical-align: top;
}
.term {
  margin: 0.4ex 0 0 0;
  padding: 1px;
  overflow: auto;
  overflow-x: visible;
}
.reverse-video {
  color: #000;
  background: #f0f0f0;
}
.errorMessage {
  color: #ff7c00;
}
/* terminal.css => end */
