packages:
  yum:
    git            : []
    nginx          : []
    GraphicsMagick : []
    htop           : []
    patch          : []
    sysstat        : []
    graphviz       : []
    telnet         : []
    curl           : []
    git            : []
    make           : []
    bison          : []
    gcc            : []
    glibc-devel    : []
