commands:
  01-command:
    command: ln -sf /usr/share/zoneinfo/UTC /etc/localtime
  02-command:
    command: "yum install http://dl.fedoraproject.org/pub/epel/6/x86_64/epel-release-6-8.noarch.rpm || echo package added"
  03-command:
    command: "yum install nodejs npm --enablerepo=epel -y || echo node already installed "
