commands:
  01-command:
    command: ln -sf /usr/share/zoneinfo/UTC /etc/localtime
  02-command:
    command: "yum install http://dl.fedoraproject.org/pub/epel/6/x86_64/epel-release-6-8.noarch.rpm || echo package added"
  03-command:
    command: "yum install nodejs npm --enablerepo=epel -y || echo node already installed"
  04-command:
    command: "npm install -g coffee-script || echo coffeescript already installed"
  05-command:
    command: "curl -s https://storage.googleapis.com/golang/go1.3.linux-amd64.tar.gz | tar -v -C /usr/local -xz"
  06-command:
    command: "echo PATH=\\$PATH:/usr/local/go/bin >> /etc/profile"
  07-command:
    command: "echo export PATH >> /etc/profile"
  08-command:
    command: "source /etc/profile"
