commands:
  01-command:
    command: ln -sf /usr/share/zoneinfo/UTC /etc/localtime
  02-command:
    command: "yum install http://dl.fedoraproject.org/pub/epel/6/x86_64/epel-release-6-8.noarch.rpm || echo package added"
  03-command:
    command: "yum -y update || echo yum is uptodate"
  04-command:
    command: "yum -y groupinstall \"Development Tools\" || echo dev tools already installed"
  05-command:
    command: "yum -y install cairo cairo-devel cairomm-devel libjpeg-turbo-devel pango pango-devel pangomm pangomm-devel tcsh scons gcc-c++ glibc-devel openssl-devel git python  || echo dev tools already installed"
  06-command-nodejs:
    command: "curl --silent --location https://nodejs.org/dist/v6.9.4/node-v6.9.4-linux-x64.tar.xz | tar --verbose --extract --xz --directory /usr/local"
  06-command-link:
    command: "ln --force --symbolic --verbose /usr/local/node-v6.9.4-linux-x64/bin/{node,npm} /usr/local/bin/"
  06-command-npm:
    command: "npm install --global npm@4"
  08-command:
    command: "npm install -g coffee-script@1.12.2 || echo coffeescript already installed"
  09-command:
    command: "rm -rf /usr/local/go && curl -s https://storage.googleapis.com/golang/go1.7.1.linux-amd64.tar.gz | tar -v -C /usr/local -xz"
  10-command:
    command: "echo PATH=\\$PATH:/usr/local/go/bin >> /etc/profile"
  11-command:
    command: "echo export PATH >> /etc/profile"
  12-command:
    command: "source /etc/profile"
  13-command:
    command: "pip install superlance psutil pycurl"
  14-install-dstat:
    command: "yum -y install dstat || echo dstat installed"
