files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01init.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # this file here is just to override EBs same file
      exit 0

  "/opt/elasticbeanstalk/hooks/appdeploy/post/02init.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # this file here is just to override EBs same file
      exit 0

  "/opt/elasticbeanstalk/hooks/appdeploy/post/03init.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # this file here is just to override EBs same file
      exit 0

  "/opt/elasticbeanstalk/hooks/appdeploy/post/04init.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # this file here is just to override EBs same file
      exit 0

  "/opt/elasticbeanstalk/hooks/appdeploy/post/05init.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # this file here is just to override EBs same file
      exit 0

  "/opt/elasticbeanstalk/hooks/appdeploy/post/070_configure_supervisord.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # this file here is just to override EBs same file
      exit 0

  "/opt/elasticbeanstalk/hooks/appdeploy/post/080_configure_nginx.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # this file here is just to override EBs same file
      exit 0

  "/opt/elasticbeanstalk/hooks/appdeploy/enact/99_reload_app_server.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # this file here is just to override EBs same file
      exit 0

  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_monitor_httpd_pid.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # this file here is just to override EBs same file
      exit 0
