container_commands:
    01_command:
        command: "echo runnning container commands"
    02_command:
        command: "service httpd stop || echo httpd is not running"
    03_command:
        command: "echo 1 > /proc/sys/net/ipv4/tcp_tw_recycle"
    04_command:
        command: "echo 1 > /proc/sys/net/ipv4/tcp_tw_reuse"
    05_command:
        command: "echo 180000 > /proc/sys/net/ipv4/tcp_max_tw_buckets"
    06_command:
        command: "grep '* - nofile 65535' /etc/security/limits.conf || echo '* - nofile 65535' >> /etc/security/limits.conf"
    07_command:
        command: "sed -i 's/Defaults\\s*requiretty/# &/' /etc/sudoers"
    08_command:
        command: "grep '        PasswordAuthentication no' /etc/ssh/sshd_config || (echo '        PasswordAuthentication no' >> /etc/ssh/sshd_config && service sshd restart)"

