files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01init.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # this file here is just to override EBs same file
      exit 0

  "/opt/elasticbeanstalk/hooks/appdeploy/post/02init.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # this file here is just to override EBs same file
      exit 0

  "/opt/elasticbeanstalk/hooks/appdeploy/post/03init.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # this file here is just to override EBs same file
      exit 0

  "/opt/elasticbeanstalk/hooks/appdeploy/post/04init.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # this file here is just to override EBs same file
      exit 0

  "/opt/elasticbeanstalk/hooks/appdeploy/post/05init.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # this file here is just to override EBs same file
      exit 0
