commands:
  01_ssh_add:
    command: |-
      echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC8u3tdgzNBq51ZNK0zXW1FziMU90drNgvY8uLi/zNOL1QuBwbRMNNGj/1ZyZmY+hV3VdmexA9AxsOofWEyvzUtL/hkJCmYglWGnTtIawOyDqTXi8Wjz4d00WW69zOiQqpAIAah5ejVsq9gpHslBy4amU+ExcxYoMYoz3ozccim++HkovLr9EhctfJuWvoPtrqljg4D9bn10eR0gdKNROxpnHPfX/Ge7NGcYAsvod5GsUI5zOV3lGfqJTKs+N1jxuqPVUKhoDiEimUQ4SoxBDneETdhRCZRVIQV7cwTfgw+kF58DqgTJCbwzyTyl9n7827Qi1Ha38oWhkAK+cB3uUgT cihangir@koding.com
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC91IZEG5dO22T/Gh5M0ABZaQmHDXMm6dL6fa+ZPHlj/uftSqW3mCYcr4607lQt+94LdeAXVn+Xt8JAza0g5yS6YjIKxYOLXGiCvQ9H2E8+Tq3Hpuhh8S3LygqIwXLuPEZoqi/dXDCHkgA8O7hSd78KIc0cpodkh6BkSY4XKGChYtTmSrUIDr6ETo5P2gv2pL+l//XXnRUyIbbZG7Z8LxLSczDJC1Y1J8B143ro0sti2wN3pEfj/35bEQ4QLv6WT3MHtw92YPlhws/BJ/XE9zzQ0LwMg+Fsa+wer8wIFF+l1roDIiwiEKnuJ+WEy0ruzqQm+iWqe/eBeGI9tkFQxmYx dyasar
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC4b4NwD/jNzUc9f2HuKhQHk/UDFFDrIs6SwWcZsO19aUef5D4H9i6VaHAj3foSFTdmU2X/XkJEjB3j09bubPG67OUDhtWnnal2QZOyEHW6dypk+2Aw4FmFfiZcGfS6rAT3vRDeKTTSFOzkFj1eDsEmeHtx9brkS7NxYqX3PNqcW2n29WYg9E4g3JCc4gm7WPSUreXvatvCNZ+Uccs5FZba6JWBwRYfyd0ViPwa2P62dNi7t1hq4rDu1NH7w2nFtIgsVpK/BSUp/VFxYrCBK23igHrJdRgROsNM182+IkSkikbE/HfmY1QdC3RJgB61Oei0Xvp0slMQ48g4+lCJ2FIZ devrim@koding.com
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC5+eCrK8Rl5mIuEjqfsuOrUUUBo4t3afEGCZ2YqJZcodGXpYp+5RNHWRNh13+gqfi9n29kQp+iUzbtbC9oesf8kX8X67yIh7qmGJApI4EovTSW6KTyYnZzndA/8g6VBQfCXr124bifzjGDYLgBCSSStZ0UohrYEAdSdRUmUM3aJrtYvvmLQrd9NoiC+Ct2N3GHwqVNn+KLgPyg8Wy56nTGSb/F30slBRQ2aIRzAty9JBruaWuk8mJ23CPL2EoAoWCqkV275wrZvEKCBntQEtzDeli5k1gkbIFd+YJ+kX7gUTaR69reJrxq0qVPZrTormZglCHOUqYRHftMQnVg7t7/ fatih@koding.com
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDPFWrjX++QrTgzvsrPD4Fw1LAmRNvCkDfCsVU+SquAvJB+viNXHLjE78U+PObIcFwCPFNWIzPsyLRovG64S+Fs9IFYxvNElO9PGaeiBFlcIID34rCVeR418h/P1lts3YonEbC05ZXEVTnqdrVdbrhF6iozxITyWCRBS3TQTUd1TtvJkc6ilI729vmaRA46ncdoxoSLst6XJC+uMkbtlzVvrOPx+bzb8ur0hUh/oL0QgCwxcu385ikBfrjc9zLy3xN6yTjEbWGRT6W/lkkTTakNHzkBxeQu3pFXBYgk16RwjAkDINJxkY91WEE6cB+Q7kQ+WVQQuBh5JrrDaVevhHGN fatih@Fatihs-iMac.local
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDjwunxsCEoP/JY6zcPUvEDJpscq9JyUxslZpXxXvsOYpML/pw9zBFKTxN8e92OYw33uj9H4ntsFYbAa0ugOTN30klDWa4hi2ZlI5lwBArWcwjiEa+cuUZvOhf6YjSd95slHplNETf/ft6tv+1p3vKNtxcgRMydzc7nW0CDLgZMxEVcUFhuzSYmZWRN+oswXnObS8b/LGX6JCnMsjSUq2wN/D3yMrY8HYgQC1Xvmrhxpt5rQv6x9WPdOf1SZFtCpwJUr0QZy/2cQBPbv0Z0DoVcooYIom1yE4C7rBThJUbUyDXjsISVyEBRHi/abVEWIaGyn4p4aFmnOjKl4u3nIO5f ggoksel
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCd4eOfTnyZdXRD/zsGYeqhRrNsitS1fFlr0QADy+xcAWg/SC1x65uyw1QwzukvWfWG/87kjFmulPYglSI6NJtluDOJ+2n5RviVTsMAq+vdmvfl7iZmLYrscXZQg4ZkWlN4aAQbcLPNvCKcSzlPNi7j7GK+4Lb/UnZYktie0vM62uZBVmGF32Tkij8VwDItYoUKSs6779Xf8Jp/jp6ZcCDnrCzuuZ1aCBukwhLKHfXjIda68udAIawgAH7TXtPzx4osfWCB4KH2ZEhucpT86RW1Z26EP6kOn70KSCo6m1yRhaNBNgjccxoP83slF+Dvn+tqsnofPdXzWa0/twqWk5ij gokmen@Mopho.local
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDh9FHr0Tbw9yytTTdAeYXAbCB9b2Tfj7UVkpAvyJASOq1lO930Lnx0dEP7FDpolJADubgOM9W4QsOHgFwC8npJ50tiGwrRopajc79w6UYkQ0+g0ae5ddlaeeyI1c9b6+vRBTfzW8zJCeLU86BGZpBTlEE514kvREEZjTPBx4e0jUJGG7WRzIo1VhjMo4QoAQukO0mJ7oiLljZ4us4KW9Satfi5rIb5PZy7MLg/sc1m87SwWlPatFZSJFbqzKuuqddR2nbYCZiDQd9ee0D2nKbm/w783cyGo1l2Nj7eZThtUUqux9Tamrj3IgytVtpAtnNcd6GfI2r12oLPrFN6eF3x senthil@senthils-MacBook-Air.local
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+4uTQBmO8GyixUhADqenxDpYTb1D/GmC5zPpHmlAPL6hTINGhcF6xGK1ncVbFJOBgN/iXSr+XwwU42lrYwMrzQ/2Qe4VBEuxiMQ6vFTiyMGNmdJHVEHswI8fYKo+iuJMPWEgap50Jl8xsYX6lhjDFCz8s31Lyo1U6skOSiFMfYmDAFo5PRUrTb4F8ERaV6KDWqpoSCsztbqLCBHiRcsOyXsrPMXbF6+0Wk913iejwcCpEkNawRfkyOxKVxbgV9r6wVTaEucDbRCI/KStsVG1AaDbuEvXH5g/Wsrh05m3kA6UkAbjzbLIlGQ5raN3NcTsZ/G2x2awlYhUFMCzdK++V senthil@senthils-MacBook-Pro.local
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDO2eXDayW69cFGqe4VnMq+T5hCwTjtJxeH7sKL5JTJ1x5KwVFPFQvklzC6nIBmT0vN+N7fzqP/YTUdYwCzxe05SeW1vxf6MCySBm4gPbz5EsJRmYc9qgwjchqgwV2QmSmQliAQ6AMqTfXAtF5PVDNJ8DWCvog9qFCgR+FlCgQF1WGmj026oWcUmuOqhVdC65zwu3qOqY1b54MiCUQ0u7vUSrsEYA2ouUK/bagiiG596GZDJo0jSlXpl1tolJBbLPrztFSPSkj8D7i9u8U98dLslnJBmzW3yGPAX037Wg9MLwVFEfalDecpfaoMniuP5khyJOzKCsd0dS/lTcT3JyFp sinan@koding.com
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDrLvWTozcvXzJkUrMVoTdf2j4zY6dZ7nst9Ro2zXSHlnFtUeRmbYH4cd87LleqkgBRoJ5Wy6Ai9nqH3MJq6XSVWp21xyU4DEmq27+6eVvBHENfdQQPq3imiC7sejwH8Yslx7reVi90/ZSwEEKA6rNOoD0InRN1zUCFWoKMQFY0aw9GAxBeDAStQR3H+Zr8nhaSZw4gySLZ3Ps3j45sAeIMjNk0MUZprTHKjIpz5Ni+5OpT4cxC8Ji2aCC3Xvc8sLndZ7mHWFrM0RuBh2GJ0e8juTBAt7D+IOZi2y41NfQA6LQr1N9DHdBDpMqUjby0jJZsMiwtD7730n0xcoKhSqAr Sonmez's iMac
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDQ/AmtyJ+hk7PO2/zVED/U+odhSpuwm2shIcR5yOTH30l6dkr2vUrdq9uZHUpcey7dS1RK0Ji5I6mUSWVZK4oVd526Hb3QtnRx6Ev7Tt4KRlh/LG82Jvk91UjFAuD2AtkcumfN6V2ZcItlfWTZW9qQtoHhqrlyR2ZbEJ++ZJteF0NxmH65bWB7aJdVvQeOXpTBJNrp5GnJjuOb9cUzaaDrYHcc7L69s+EW4E5tP1XOrHuVeHduIVV0ZKy/rA/ElsBtQV5Zjtq9gGTCD0BMQnHtzQxc6THau9jiUA+nrKQgVN/scc6l2+JDLdms3VjKp0pBSAc0g6jaH5EdnWR9gTeF Sonmez's MacBook Pro
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDW/OI6Z8XrS0oHpyVhUgMQxmt6MUrKbgFHT2bukPcL+KqYTDhYFOseTvFzb8TESIIbPG6SNj81CkXXVJEFT9ysQxpB9aomPRnkQdcLEM8xsVjfgvgdKScK9F7kfUfmBNNEvdDUfAgRF0K/Sco7GH8OAyqLrFXOI8TzMr+ePQ66SdJibEfPYJv247LY38wRa9WpXxBL89B8R0NT0YNZXGJZCcMJZ8cJGZVySKx+Dsfs2nkmE4CdQkwNLNtVQSJ6xMik6G9PBB07FNIwxjC+lEU3V9tdkVQ+jkTSHdAZ8RdUxKr1Z8wTR9BPG4qWATWILGri5pZ2FS2hdbhniOgFJRuP Sonmez's iPad
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDDhSDP9z7BaEVxi/Eq3nzNo6Mlcc+UrKMwXjhZdbBYj756o/U9bpWX54A4My58qM8OwbA5guWp01+wNL0whlPYBoeC2cQYmip69dq0sq+JkZ+SkMJyyzVkU3kaZGh4Orm7wtsZyGV911SYDmqk0HoM1sRqRraeDU5RI+BDE1JFUO0EqM9QFna6oWEX4msDHzNokFlR58TZMFyuLbWDDZVls91V722BJ9VvtPVrKTEbRGDJnPLXsFCDqJYi0zNqWvCv3t/btKokf3jNDX273T0nump4813pwEx4swaUA6Vihcb0tUxaYZTpKWaQ7UuNChbTp1HXrkYsMtKl09xPRGHp Sonmez's iPhone
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDq23WWuax9BXSWb2/y/X/M+U7GVQMjXBBzSMIj282hIRu6pyAMg4qiV5PAYZ/ixkTAQd1+Nhxv56kCCU1dc00PAL3vV15BVYK2oD7iXNSB3GWUCbuVvhAoc+yDRT2GAw9zYWHkO2ivDY1Hn8oQKg8RPZdRzozQ2CZeBuA8f6RUQl42bDXIjoWIiPECoLbgYMOq0bOAsWul7uUcmZ28MKJITWa+9TolGdnSeu1nhbhuazruZ+n6FhjDITGEi6+yKuq8BcPa1OD2UQfAWoZqWyrf9htzd5FsNH7VvMQv0jOD1YtN9+IGNRKvooTCeZsikr6TDy+HOTBBb8DGWvPV5mVT nitin@Nitin-at-Koding.local
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDKRmCE/MTCaPGxAkUZ+8LDrVELW6h637igplNP4eAPUD/HFwZr3v4uqFTRjxMrSJLWOHXYZ08esGO1OO7GeVHb1xxkrDL/QsZAEd51E0ZqtDYE3ucs+r6Cmg2/clHX+LYSeNboIBC/7+J7Pwit6ERPAUZEGlERX6RliBUfnWApugldNKswXBquBofetrfPNthOuvkm5tcAUdtVNbK2Pja2ZSK71/BETZuldZ5TLHi84UZ5+I4YfdifSMU4ML3ziDz1T9u/m3IqoKbYnb9R08Nh6XOzCBPLAuSEqy88Hp3wJdoHgF+0nW5fZm1ExzJPYoRYQmgPiHdMUXTkpxDnUt4T ogunduz@gmail.com
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDbmk/WqURIt5VCGryubAEcCnA0XuSY+dowIkI6caaEhAw/sbB6p4Pv2LptGuSR1/iRMBbU+ZJ5NzFbtqtcvu7JOBXVYzhj767mo8qIZLoy2JDIkZ6PIhUClYrDbriuXRxFcBM+m6u/1UCeX2f539eKFKyhnIfUbABEBTmJCdEZ+0RyZCJyDGnl2n0S3rcHfF2hK87oEti7rKeQifIlQUNADhDaQAno5xS6ppwtJTbZcsov/d35vvQy2dyn6RhEpSuf6B7uj4yWLJuHLYSNtAVlyJw+qQhcre8stJ8uB0wAiuCDE3U7rXsS3i1RfqeLtAEKQOIze3prA17Zex+K4UrJ canthefason@emektar.local" >> /home/ec2-user/.ssh/authorized_keys

  02_deployment_key:
    command: |-
      echo "# Use deployment key to clone private repositories via npm
      Host github.com
        IdentityFile ~/.ssh/deployment_rsa
        User git
        StrictHostKeyChecking no
      " > ~/.ssh/config

      echo "-----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEA0CXN9tVV0+mL8WhegE6nPtVcwBpbUQHGqWOL9peW+w3c42su
      TWFp0jjgUnSilvFTUAeFMKyINzg5MpvVoaz11tu5wv0pHzUGKbOLK+cHGcJISFWY
      ZpzHIlePkl7rccmBPQ4KJvZRsh1tSF4k+8VA6EKhOr/6zQ5WmqdRmFZ1oZVbA7hK
      UGUhesPKrBjBfukjH4jmdOw4vNWYtocGikcoMAhiBg2bMbLOW1WabiC0JNVcv1ff
      /kNqv1kQC3MArzdDMZanz0kuJt9qNmRPnpsuAl1ixTrUUbTgjil7g8yqAwEdzjcx
      5iWyK/0YAAudeWwtFynqGBaJYZOcx3GXGafmqQIDAQABAoIBAQC3HTsH9oBOMHz7
      wJy6dfduMJgrLES/jDdwV3IPWybo8DYuH+GZE6Tb20uFXrSW4/EuS59hxbcEFUNE
      gZG8bQPNpHnUz5C4spYcY6aA1fsKL0AV2q97Plt1m+BjnXu2G9bFlq9ZvYL7liXI
      74HLuKm0asGahMAoW3/XCHGg+hb8MWm5JpQURyGzUFH8xv6kzlhLMY38ZNyfgUxB
      kpaZUpX49CJ0uw/jLx0sbrun2CE1C4KZpBip+R5cUCj5T5ekMLU2oL65kbmihtwg
      EKLFvLCvQsSNimTc7OqOvifx37Yfr3mI0zs+gjPEn+GhDnV67CP09MRL7/CwoEF3
      FG49EIYNAoGBAOhkG97AOafPHPF+eqKHwyjmogxF5tKH3Tb9Dy8veOBwHLhtlByc
      zHdN1SXUwwoZH1CVx7H7UpEOCNPoOONUEzmpY6Xg2yVPPqiaqOJ/waU235zBZYMV
      8CfGW5RPzwejJlL0kEUWMzpu2RzCRE6bXaQPIZtM3rAyFsNvYsOu6eJfAoGBAOVL
      MCUOy23m6R8bRncKziCmXMP7nhWg/w+UzllWcLOfP8IVfHrfe1xQ/2w3xWjOF1oK
      +dnOoJZ2KcOCK11RcRqkoUvVLkpBGAxht6zM3kHBmvtjqXkS8jkOGTS5eCKVZXxS
      5/yv6v+B+xcnGPu2yOwa8Kh7mq8+yNDpGQBapKP3AoGBAJOxQ/Euc7YNsBRe0KvI
      4qR051ordsYoaNQQwny3i/f/6JDhu3bvxBaylZtke8xIKRm7B147Hr9njv62IKmB
      fnJwEA+VN1Gf6m+XU2wXy8cnd7gVRWGpKKburrc0fZwZ+TpRifsOX+JsHnnjkSvw
      G/QvValwkjqiqsrsWHWLDcO7AoGAMJKD6WW/7FEdEyzY+YC9d6cmQZH8xAIt5eQU
      7lHkX/idLgUVMIZFAKJb6VXLKM93nOh0UxJ1bEotwK/Ddeo5tnYngQPw4WP2rzDI
      Ev/3GSDlLtnG3dIIo9N7vXKIo3LYY8TARgQSGPw074ulvDTVTUbLsjU06Gi5a5/l
      XvDUrbMCgYEAoTBgoaQ7Xkrbk6gnS7+aoU7Ex7Quab22Jyn916CP2lXcHilrMS9M
      20bsCcUm9Ekxb0nZpZHFQLs7N5GIjsU6fQ7WuSYPmlhXvXWMGfhGEodbf7N2QfrF
      lKAciZ7eB6z95ftsFUgk0FdL7b8xYg1i+oqFAcEdja1BJ1KNFAyO3jw=
      -----END RSA PRIVATE KEY-----
      " > ~/.ssh/deployment_rsa

      echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDQJc321VXT6YvxaF6ATqc+1VzAGltRAcapY4v2l5b7Ddzjay5NYWnSOOBSdKKW8VNQB4UwrIg3ODkym9WhrPXW27nC/SkfNQYps4sr5wcZwkhIVZhmnMciV4+SXutxyYE9Dgom9lGyHW1IXiT7xUDoQqE6v/rNDlaap1GYVnWhlVsDuEpQZSF6w8qsGMF+6SMfiOZ07Di81Zi2hwaKRygwCGIGDZsxss5bVZpuILQk1Vy/V9/+Q2q/WRALcwCvN0MxlqfPSS4m32o2ZE+emy4CXWLFOtRRtOCOKXuDzKoDAR3ONzHmJbIr/RgAC515bC0XKeoYFolhk5zHcZcZp+ap" > ~/.ssh/deployment_rsa.pub

      chmod 644 ~/.ssh/config
      chmod 600 ~/.ssh/deployment_rsa
      chmod 644 ~/.ssh/deployment_rsa.pub
