commands:
    01_senthil:
        command: "echo 'AAAAB3NzaC1yc2EAAAADAQABAAABAQC+4uTQBmO8GyixUhADqenxDpYTb1D/GmC5zPpHmlAPL6hTINGhcF6xGK1ncVbFJOBgN/iXSr+XwwU42lrYwMrzQ/2Qe4VBEuxiMQ6vFTiyMGNmdJHVEHswI8fYKo+iuJMPWEgap50Jl8xsYX6lhjDFCz8s31Lyo1U6skOSiFMfYmDAFo5PRUrTb4F8ERaV6KDWqpoSCsztbqLCBHiRcsOyXsrPMXbF6+0Wk913iejwcCpEkNawRfkyOxKVxbgV9r6wVTaEucDbRCI/KStsVG1AaDbuEvXH5g/Wsrh05m3kA6UkAbjzbLIlGQ5raN3NcTsZ/G2x2awlYhUFMCzdK++V senthil@senthils-MacBook-Pro.local' >> ~/.ssh/authorized_keys"
