commands:
  01_deployment_key:
    command: |-
      echo "# Use deployment key to clone private repositories via npm
      Host github.com
        IdentityFile ~/.ssh/deployment_rsa
        User git
        StrictHostKeyChecking no
      " > ~/.ssh/config

      echo "-----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAp7hQt9kXu7Td+OnnvmKWHEJQaP48FQpYfkiszrLY9TtEz/Y2
      rvdQ14iABaTld/U0D8C4v1w9DgJxhBfTftJhSygylTyuf64VgA2doyLhrGgAXJuY
      6s72c3yuLEtXeYwQoY238Xnt4QIJok6wolbi4EsDxqCGPwKh52MzrgwdenHTIHNC
      +RYKtaMqghceGn5Y2JLfFjxXZHr5TfRKwJMY0Oi989XmTQDdDKSRN6Mykwe3hSG2
      6kuAoPWOt9Xr/cLAaoa0sg25j7cTNdzjLD6abxrGlu8lBKfnt/dW8Kn83JJ7Db4q
      FgyoY6OeGplWIweEvwD5sFTMSI1auxphy6FalwIDAQABAoIBAH0Iehxk2j2UG3rK
      HXqgElok0b9D8NSartgOI83AJN/E/IqweZm8Q+c6Gn6arHreMJ6hxNjb0aRVC/02
      qfO8sM2PvQ3mfAwxYlPhUqhgg668pbBkSv6Zpb74rvvUevThBzD47q01gbIhi78V
      PLb5YQ9mvPzhhNMKilpuaQOSgpNZfOCSqSBGb/1povpurJq9EsdhiOrDBghFMH44
      7jCympEO1USHjAZ7Nu+9GJGU5MdrEPpP7Gt1oZLQvYulxqzIeWMUl91Sk7MX/l1R
      Q8/8R5uOIn36mT985XJw3lC2Ms9mgP+5Vc/2c91LavieW8gCnVK1nQFBraV4LEWu
      8ktSGNkCgYEA0AQ7zLrh9mgjojdzkai/kfA4lgrpzhfMYzyYP7ZJeo8yxVvj7mUD
      KiA8jgYrxW72I1mwdQTfGp4ZKX2LRDsH9KbgFUabgqjQ0tDz0pwiiMmai7C5Q84v
      bMMZ+rXufmNh56bXNKDLuwXohcJ1Dzv+OMyHm3EtFFBXkuOzlm4ETxMCgYEAzmh+
      m/WSZjOIIlHfH+54LGexhVjp1LLN3RtKvTyTKDol0VcmqXYXtlW1w5QnxkdGi7CT
      RoVaDcgJmN0cZD+Wb6wVGpNzFuIkr7Yyc9BFMV/NfDO6MYnFnDeErvkXSXr4OZ9S
      iLG+2b0+zlvADF9IMCH5GYxxjuI4O/SqIYWiAu0CgYASo054WYZFfa8zqaRBOM1x
      VgS77N5mCNvXSGabzslmoc36wPD7OzG9ZIYIc6UYW4jSQgb9dSJIUEIQ5Z7EzkU4
      Nnt9bIYift23BeHSzQqLFwUx3vO6j47QP+rj+8kSqfTrvJcrr/yRFUZwNawnYUi1
      7h14X/uaBljSYHSG1fSs4QKBgBmZXBp7mmySd4/KF6IeMUlQkvO200lN47pIaDyQ
      BrA2hfowlNrvioFSn/hhp40vydAJVjqoz0JmTMpoodzNBhtTfEqPfvaXlXU1Y4x5
      iBtXhmShBbafH6MAP7RzsC+s0JxU5ieN492dWuy89FSUfJ97lylUAcF2zQKilXcS
      28UBAoGBAIPuNkUmcNZWAgRwzAc8OnnbcVbjY6ctsrWpFCgLvbXUNHTEINFS2rM/
      m3Fy7k272AeZdr1zAiEHQ2Mft+MKUL0UJI4tCX8qODY2jHV5/DLPNEu/IBC4nfbt
      /tdthm0hJJoa1HLBTTE9ry7B6sAzl9nfgg2DhoqXnmmA4KI7fzXp
      -----END RSA PRIVATE KEY-----
      " > ~/.ssh/deployment_rsa

      echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCnuFC32Re7tN346ee+YpYcQlBo/jwVClh+SKzOstj1O0TP9jau91DXiIAFpOV39TQPwLi/XD0OAnGEF9N+0mFLKDKVPK5/rhWADZ2jIuGsaABcm5jqzvZzfK4sS1d5jBChjbfxee3hAgmiTrCiVuLgSwPGoIY/AqHnYzOuDB16cdMgc0L5Fgq1oyqCFx4afljYkt8WPFdkevlN9ErAkxjQ6L3z1eZNAN0MpJE3ozKTB7eFIbbqS4Cg9Y631ev9wsBqhrSyDbmPtxM13OMsPppvGsaW7yUEp+e391bwqfzcknsNvioWDKhjo54amVYjB4S/APmwVMxIjVq7GmHLoVqX" > ~/.ssh/deployment_rsa.pub

      chmod 644 ~/.ssh/config
      chmod 600 ~/.ssh/deployment_rsa
      chmod 644 ~/.ssh/deployment_rsa.pub
