files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01update-supervisor-config.sh":
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/bin/sh
      echo  "installing supervisord"
      easy_install supervisor || echo "supervisord is allready installed"
      echo "adding supervisord to startup scripts"
      cp /var/app/current/deployment/supervisord_initd.conf /etc/rc.d/init.d/supervisord
      chmod +x /etc/rc.d/init.d/supervisord
      chkconfig --add supervisord

      echo "create log folders"
      mkdir -p /var/log/supervisord/
      mkdir -p /var/log/koding/
      echo "created log folders"

      echo "running with new supervisord config"
      cp /var/app/current/deployment/generated_files/supervisord.conf /etc/supervisord.conf
      service supervisord restart
      echo "updated supervisord config"


  "/opt/elasticbeanstalk/hooks/appdeploy/post/02update-nginx-config.sh":
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/bin/sh
      echo "stopping httpd if exists"
      service httpd stop || echo "httpd is stopped"

      echo "updating ngnix configuration"

      echo "moving nginx config"
      cp /var/app/current/deployment/generated_files/nginx.conf /etc/nginx/
      echo "updated nginx config"

      echo "restarting ngnix with current config"
      service nginx restart
      echo "restarted nginx"

