commands:
  create_post_dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/04env.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      echo $EB_ENV_NAME > /var/app/current/EB_ENV_NAME

      cp /home/ec2-user/remote_syslog/remote_syslog /usr/local/bin || echo remote_syslog already installed

      /sbin/chkconfig remote_syslog on

      /sbin/service remote_syslog stop || echo not running
      /sbin/service remote_syslog start
