commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/04env.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      echo $EB_ENV_NAME > /var/app/current/EB_ENV_NAME
