files:
  "/usr/local/bin/connection_count_metric_cron.sh" :
    mode: "000777"
    owner: root
    group: root
    content: |
        #!/bin/bash
        # \`curl -s localhost/nginx_status | grep Waiting | awk '{printf \"%s\", \$6}'\`
        # returns current connection count
        #!/bin/bash
        PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/opt/aws/bin:/usr/local/go/bin:/usr/local/go/bin:/root/bin
        export DISPLAY=:0.0

        export EC2_AMITOOL_HOME=/opt/aws/amitools/ec2
        export EC2_HOME=/opt/aws/apitools/ec2
        export JAVA_HOME=/usr/lib/jvm/jre
        export AWS_CLOUDWATCH_HOME=/opt/aws/apitools/mon
        export AWS_IAM_HOME=/opt/aws/apitools/iam
        export HOME=/root
        export AWS_AUTO_SCALING_HOME=/opt/aws/apitools/as
        export AWS_ELB_HOME=/opt/aws/apitools/elb
        export AWS_RDS_HOME=/opt/aws/apitools/rds

        /opt/aws/bin/mon-put-data --metric-name NginxConnectionCount --namespace CustomMetrics --timestamp `date +"%Y-%m-%dT%H:%M:%SZ"` --value `curl -s localhost/nginx_status | grep "Active connections:" | awk '{printf "%s", $3}'` --unit Count --aws-credential-file /opt/koding/deployment/.monitoring_user.properties > /var/log/koding/connection_count_metric_cron.log 2>&1

  "/opt/elasticbeanstalk/hooks/appdeploy/enact/007_01_add_cron_jobs.sh" :
    mode: "000777"
    owner: root
    group: root
    content: |
        #!/bin/bash
        # this bash script adds this cronjob only once

        # set sh
        conf="SHELL=/bin/sh"
        cat <(fgrep -i -v "$conf" <(crontab -l)) <(echo "$conf") | crontab -

        # set paths
        conf="PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/opt/aws/bin:/usr/local/go/bin:/usr/local/go/bin:/root/bin"
        cat <(fgrep -i -v "$conf" <(crontab -l)) <(echo "$conf") | crontab -

        # set cron
        command="/usr/local/bin/connection_count_metric_cron.sh"
        job="* * * * * $command"
        cat <(fgrep -i -v "$command" <(crontab -l)) <(echo "$job") | crontab -
