files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/007_01_add_cron_jobs.sh" :
    mode: "000777"
    owner: root
    group: root
    content: |
        #!/bin/bash
        # this bash script adds this cronjob only once
        # \`curl -s localhost/nginx_status | grep Waiting | awk '{printf \"%s\", \$6}'\` returns current connection count
        command="mon-put-data --metric-name NginxConnectionCount --namespace CustomMetrics --timestamp \`date +\"%Y-%m-%dT%H:%M:%SZ\"\` --value \`curl -s localhost/nginx_status | grep Waiting | awk '{printf \"%s\", \$6}'\` --unit Count --aws-credential-file /opt/koding/deployment/.monitoring_user.properties"
        job="* * * * * $command"
        cat <(fgrep -i -v "$command" <(crontab -l)) <(echo "$job") | crontab -

