files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01sumologic.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      wget "https://collectors.us2.sumologic.com/rest/download/linux/64" -O SumoCollector.sh && chmod +x SumoCollector.sh && ./SumoCollector.sh -q -VskipDefaultSources=true -Vsumo.token_and_url=Z2t0N3B6TFllNEY4QkZyZ09tRmVsekZ6OVUwQ2x3RWhodHRwczovL2NvbGxlY3RvcnMudXMyLnN1bW9sb2dpYy5jb20=
