commands:
  recache_static_pages:
    command:
      EB_ENV_NAME=$(cat EB_ENV_NAME)
      if [ "$EB_ENV_NAME" == "koding-latest" ]
      then
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://latest.koding.com"}' http://api.prerender.io/recache
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://latest.koding.com/#!/Features"}' http://api.prerender.io/recache
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://latest.koding.com/#!/Features/IDE"}' http://api.prerender.io/recache
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://latest.koding.com/#!/Features/Terminal"}' http://api.prerender.io/recache
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://latest.koding.com/#!/Features/Community"}' http://api.prerender.io/recache
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://latest.koding.com/#!/Pricing"}' http://api.prerender.io/recache
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://latest.koding.com/#!/About"}' http://api.prerender.io/recache
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://latest.koding.com/#!/Legal"}' http://api.prerender.io/recache
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://latest.koding.com/#!/Legal/Privacy"}' http://api.prerender.io/recache
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://latest.koding.com/#!/Legal/Terms"}' http://api.prerender.io/recache
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://latest.koding.com/#!/Legal/Copyright"}' http://api.prerender.io/recache
      elif [ "$EB_ENV_NAME" == "koding-latest" ]
      then
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://koding.com"}' http://api.prerender.io/recache
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://koding.com/#!/Features"}' http://api.prerender.io/recache
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://koding.com/#!/Features/IDE"}' http://api.prerender.io/recache
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://koding.com/#!/Features/Terminal"}' http://api.prerender.io/recache
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://koding.com/#!/Features/Community"}' http://api.prerender.io/recache
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://koding.com/#!/Pricing"}' http://api.prerender.io/recache
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://koding.com/#!/About"}' http://api.prerender.io/recache
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://koding.com/#!/Legal"}' http://api.prerender.io/recache
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://koding.com/#!/Legal/Privacy"}' http://api.prerender.io/recache
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://koding.com/#!/Legal/Terms"}' http://api.prerender.io/recache
        curl -H "Content-Type: application/json" -d '{"prerenderToken": "St4CU4a5hvfYCEOboftc", "url": "https://koding.com/#!/Legal/Copyright"}' http://api.prerender.io/recache
      fi