container_commands:
    01chmod:
        command: "chmod +x .ebextensions/datadog/hooks/*"
    02mkdir_appdeploy_post:
        test: '[ ! -d /opt/elasticbeanstalk/hooks/appdeploy/post ]'
        command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    02mkdir_configdeploy_post:
        test: '[ ! -d /opt/elasticbeanstalk/hooks/configdeploy/post ]'
        command: "mkdir /opt/elasticbeanstalk/hooks/configdeploy/post"
    10appdeploy_pre_stop:
        command: "cp .ebextensions/datadog/hooks/99stop_datadog.sh /opt/elasticbeanstalk/hooks/appdeploy/pre/"
    11appdeploy_post_start:
        command: "cp .ebextensions/datadog/hooks/99start_datadog.sh /opt/elasticbeanstalk/hooks/appdeploy/post/"
    20preinit_stop:
        command: "cp .ebextensions/datadog/hooks/99stop_datadog.sh /opt/elasticbeanstalk/hooks/preinit"
    21postinit_start:
        command: "cp .ebextensions/datadog/hooks/99start_datadog.sh /opt/elasticbeanstalk/hooks/postinit"
    30configdeploy_pre_stop:
        command: "cp .ebextensions/datadog/hooks/99stop_datadog.sh /opt/elasticbeanstalk/hooks/configdeploy/pre/"
    31configdeploy_post_start:
        command: "cp .ebextensions/datadog/hooks/99start_datadog.sh /opt/elasticbeanstalk/hooks/configdeploy/post/"
    90install_datadog:
        command: "cp .ebextensions/datadog/datadog.repo /etc/yum.repos.d/datadog.repo; yum -y makecache; yum -y install datadog-agent; /etc/init.d/datadog-agent stop"
    91setup_datadog:
        test: '[ ! -e /etc/dd-agent/datadog.conf ]'
        command: "sh -c \"sed 's/api_key:.*/api_key: da163c47df4e1bdec0645604a129846c/' /etc/dd-agent/datadog.conf.example > /etc/dd-agent/datadog.conf\""
