files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/999_deployment_done.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      source /etc/profile

      PUBLIC_HOSTNAME=`/opt/aws/bin/ec2-metadata --public-hostname | awk '{print $2}'`
      $EB_APP_DEPLOY_DIR/scripts/notify-cebeci.sh "TOTAL_DEPLOYMENT_FINISHED" "$PUBLIC_HOSTNAME" "finished" 100
