@import "../../../Framework/themes/default/kdfn"
@import "../../../Main/styl/appfn"


@css {
/*
Activity stylesheet
resurrection.activity.styl
*/
}


// .feeder-header
// .common-inner-nav
// .system-message
.activity-status-context
// .comment-container.no-comment
  display               none

.content-page.activity
.member.content-display
  .lazy-loader
    margin              30px auto !important
    text-align          center

.status.content-display
  article
    max-height          100%

.content-page.activity
  max-width             100%
  min-height            1026px
  margin                85px auto
  padding               0
  position              static
  overflow              visible

  > main
    size                  689px, auto
    kalc                  margin-right, 50% \- 122px
    fr()

    >.activity-input-widget
      margin-left       80px
      display           block

      .input-view
        border            none
        border-top        1px solid #CDCCC2
        border-left       1px solid #CDCCC2

      button[type=submit]
        &.solid.green .icon
          margin        1px 0 0 7px
          r-sprite        activity, "update-bubble"

        &[disabled=disabled]
          bg            color, #DDD !important

      .bug-notification
        display         block
        size            600px 38px
        margin          -40px 5px 0
        line-height     38px
        color           #f5f5f5
        font-weight     300
        text-align      left
        font-size       14px
        rounded         0 0 3px 3px
        bg              color #E94B35
        z-index         0
        vendor          transition, margin-top .177s ease
        borderBox()
        figure
          sprite        app 'nav-bugs-frameless'
          margin        5px 18px 0 4px
          fl()
        strong
          font-weight   400
          color         white
        a
          font-weight   400
          color         white

      &.bug-tagged
        .bug-notification
          margin-top    -1px

      //   &:after
      //     content         "You tagged this as a #bug, this will appear on our bug tracker app!"

    .filter-warning
      background        rgba(37, 46, 48, 1.0)
      width             calc( 100% \- 10px)
      padding           10px 0 10px 10px
      margin            25px 0 10px 0
      border-radius     2px
      color             #89A5A8

      .goback-button
        right           10px
        top             8px
        r-sprite          app '20-close-tab'
        border          none
        abs()

    .activity-content
      size              auto, auto
      margin            0 0 0 80px
      font-size         14px
      overflow          visible

      .kdview
        overflow        visible

    .feeder-header
      margin-top        31px
      text-align        right
      overflow          visible

    .new-updates
      padding           4px 10px
      bg                color logoBg
      color             white
      margin            -2px 10px 0 0
      font-weight       400
      display           inline-block
      rounded           11px
      min-width         22px
      text-align        center
      font-weight       300
      letter-spacing    .5px
      noTextDeco()
      borderBox()
      &:hover
        bg              color, socialColor


    .kdbutton.live-updates
      bg              color transparent
      border          none
      border-right    1px solid #ccc
      outline         none
      margin          -2px 17px 0 0
      padding         0 10px 0 0
      &:focus
        shadow        none
      .icon.broken
        r-sprite      activity 'thunder-broken'
      .icon.live
        r-sprite      activity 'thunder'

    .feed-type-selection
      margin-right      3px
      fr()

      a
        font-weight     300
        padding-left    18px
        color           #838987
        font-size       20px
        noTextDeco()

        &:first-child
          padding-left  0

        &.active
          color         logoBg


  > aside
    right               0
    top                 55px
    padding             0 0 0 35px
    bg                  color, #ebebeb
    height              100%
    kalc                width, 50% \- 156px
    border-left         1px solid #d5d5d5
    borderBox()
    abs()

    > div
      size              269px, auto

    .referal-box
      margin-top        33px
      color             #5b5b5b
      overflow          visible

      strong
        color           #1aaf5d
        font-size       26px
        margin-bottom   5px
        font-weight     300
        display         inline-block

      &:hover .hide
        visible()

      .hide
        bottom          0
        right           20px
        line-height     31px
        font-size       14px
        color           #999
        z-index         3
        hidden()
        abs()

      > p
        overflow        hidden
        width           auto
        font-size       18px
        line-height     1.4em
        padding-bottom  14px
        font-weight     300
        borderBox()

        a
          display       inline-block
          color         logoBg
          noTextDeco()

      .progressbar-container
        overflow            hidden
        size                100% 31px
        border              none
        rounded             16px
        margin-top          10px
        gradient            #cfcece #cfcece
        borderBox()
        rel()
        span
          display           block
          size              100% 100%
          line-height       31px
          font-size         14px
          text-align        left
          color             white
          text-shadow       none
          padding           0 20px
          abs()
        .bar
          rounded           15px
          gradient          logoBg logoBg
          shadow            none
          vendor            transition, width 400ms ease
          overflow          hidden
          z-index           3
          abs()

    .right-block-box
      size              auto, auto
      margin            33px 0 0

      h3
        display         block
        font-size       14px
        font-weight     400
        color           logoBg
        margin          0
        padding         0 0 7px
        border-bottom   1px solid #2eb398
        letter-spacing  .2px

        .show-all-link
          color         #a1a1a1
          font-weight   200
          font-size     12px
          noTextDeco()
          fr()

      .kdscrollview
        size            auto, 203px
        padding         0

    .kdlistitemview-activity-ticker-item
    .kdlistitemview-member
      size              auto 60px
      position          relative
      padding           14px 0 11px
      margin            0 0 0 42px
      overflow          visible
      border-bottom     1px solid #d3d3d3
      color             #3c4752
      font-weight       400
      font-size         13px
      letter-spacing    .2px
      borderBox()

      .action
        overflow        visible
        size            100% auto
        line-height     18px
        abs             50% 0 0
        vendor          transform, translateY(-50%)

        .kdview
          font-weight   300

      .text-overflow
        overflow        hidden
        text-overflow   ellipsis

      a
        color           inherit
        white-space     nowrap
        display         inline
        noTextDeco()

        &.profile
          font-weight   500

        &.ttag.expandable
          display       block
          overflow      hidden
          text-overflow ellipsis
          width         240px

      .avatarview
        display         block
        left            -41px
        top             1px
        abs()

      .follow-btn
        size            25px, 25px
        padding         0
        rounded         13px
        bg              color, transparent
        border          2px solid #b5b5b5
        right           4px
        vendor          transition, width .1s ease \,\
                                    border-color .3s ease
        abs()
        .icon
          padding       0
          r-sprite      activity, "follow-check"
          top           6px
          left          8px
          abs()

        .button-title
          z-index       -1
          opacity       0
          right         0
          top           4px
          font-size     12px
          color         #b5b5b5
          vendor        transition, opacity .4s ease
          abs()

        &:hover
          width         64px
          background    #ebebeb
          .button-title
            right       4px
            z-index     1
            opacity     1

        &.following-account
        &.following-topic
          border-color  #2eb398
          .icon
            r-sprite      activity, "following-check"
          .button-title
            color       #2eb398
          &:hover
            width       78px

    .activity-ticker
      &.fixed
        top           55px
        fix()

      .kdscrollview
        height        240px

      .profile
        display       inline

      .avatarview
        abs           50% 0 0
        vendor        transform, translateY(-50%)

      .action
        a.ttag
          font-weight 400
          color       #3c4752
          display     inline
          width       auto

    .active-users
      .kdscrollview
        height        240px

      .profile
      .user-numbers
        width           170px

    .active-topics
      h3
        margin-bottom   4px

      .kdscrollview
        height          252px

      .kdlistitemview-activity-ticker-item
        margin          0
        padding-top     9px

      .follow-btn
        top             16px

      .tag-info
        line-height     19px
        margin          6px 0 0

        .avatarview
          position      static
          margin        0 1px 0
          fl()

        .total-following
          margin        0 0 0 5px
          font-size     12px
          font-weight   200
          color         #9a9a9a
          fl()

    .kdbuttonwithmenu-wrapper.ticker-settings-menu
        abs()
        top                 26px
        right               2px
        size                21px 21px
        padding             0
        button.kdbutton
          size              21px 21px
          bg                color transparent
          border            none
          padding           0
          padding-right     0 !important
          span.icon
            hidden()
        .chevron-separator
          hidden()
        .chevron
          r-sprite    activity chevron-icon

.activity-input-widget
  size                auto auto
  position            relative
  margin              0

  .avatarview
    top               6px
    left              6px
    z-index           2
    abs()

  .input-view
    rounded           5px
    borderBox()

    > div
      size            100% auto
      min-height      45px
      line-height     16px
      font-size       14px
      color           #3c4752
      padding         15px 100px 14px 56px
      background      #fff
      borderBox()

    &.placeholder
      > div
        color         #acacac

    .preview-icon
      display         block
      abs             0 48px 16px 0
      r-sprite        "activity", "preview-eye"
      cursor          pointer

    button[type=submit]
      size            30px, 30px
      abs             0 9px 8px 0
      padding         0
      z-index         1
      text-align      center

      &.solid.green .icon
        margin        0 !important
        abs           7px 0 0 7px
        r-sprite      activity, "update-bubble"

      &[disabled=disabled]
        bg            color, #DDD !important

  &.preview-active
    .input-view > div
      &:not(.update-preview)
        display       none

    .preview-icon
      r-sprite        "activity", "preview-eye-active"


  &.edit-widget
    .input-view
      button[type=submit]
        size          auto auto
        rel()
        right         initial
        bottom        initial
        padding       0 10px

span.collapsedtext
  borderBox()
  vendor              transition, font-size .2s linear
  a.more-link
  a.less-link
    font-size         11px
    font-weight       400
    // padding           0 5px
    margin-left       5px
    color             linkColor1
    vendor            transition, font-size .2s linear
    // bg                color, linkColor1
    // rounded           8px

  &.hide
    font-size         0!important
    *
      visibility      hidden
      display         none
    a.more-link
      font-size       11px!important
      visibility      visible
      display         inline

  &.show
    a.more-link
      font-size       0
      margin-left     0
      padding         0

/* Activity items */
.kdlistitemview-activity.hidden-item
  hidden()

.activity-item
  background      #fff
  rounded         5px
  overflow        visible
  position        relative
  margin          31px 0 11px 0
  border          1px solid #d8d8d8
  shadow          1px 1px 0 rgba(196, 196, 196, .75)
  borderBox()

  &.content-display-main-section /* Content display */
    kalc          width, 100% \- 100px
    margin-left   100px

  a.ttag
    color         #3aaaab
    noTextDeco()
    span:before
      content     '#'

  .kdbuttonwithmenu-wrapper.activity-settings-menu
    abs()
    top                 8px
    right               11px
    size                21px 21px
    padding             0
    button.kdbutton
      size              21px 21px
      bg                color transparent
      border            none
      padding           0
      padding-right     0 !important
      span.icon
        hidden()
    .chevron-separator
      hidden()
    .chevron
      r-sprite    activity chevron-icon

  .author-avatar
    display       block
    top           0
    right         100%
    margin        0 11px 0 0
    borderBox()
    abs()

  .profile
  > article
    display       block
    color         #3c4752
    font-weight   200
    word-break    break-word

  > article
    // to avoid too long posts
    // until we find a better solution - SY
    overflow          auto
    max-height        400px
    line-height       22px
    margin-bottom     16px

    > *
      padding       0 21px

    > ol
    > ul
      padding       10px 42px

    > blockquote
      padding       0 10px

    > pre
      padding       10px 0

  >.profile
    color         #1aaf5d
    font-weight   400
    padding       18px 20px 5px
    display       inline-block
    noTextDeco()

  .edit-widget-wrapper
    margin        14px
    border        1px solid #ececec
    background    #f6f6f6

    div[contenteditable = "true"]
      bg             color, #fdfdfd
      padding        14px
      border-bottom  1px solid #ececec
      color          #3c4752
      borderBox()

    button
      size        auto, 25px
      padding     0 10px
      margin      8px 8px 8px 0
      fr()

      .button-title
        line-height     25px
        font-size       12px
        font-weight     300

    &:not(.hidden) ~ .status-body
      display      none

  footer
    size          100%, 25px
    borderBox()

    time
      width       auto
      line-height 19px
      font-size   12px
      color       #dadcdd
      padding     0 19px 0 0
      fr()

    .activity-actions
      width       auto
      padding     0 0 0 8px
      fl()

    .action-link
      display         inline-block
      opacity         .9
      font-size       12px
      color           #a6abb1
      noTextDeco()

    .action-container
      size            auto 18px
      margin          0 0 0 13px
      fl()

      &.liked .action-link
        color         #2db66a
        opacity       .8

    .count
      font-size       12px
      display         inline-block
      color           #9da0a4
      margin          0 0 0 6px
      noTextDeco()

  .comment-container
    bg                color, #f6f6f6
    rounded           0 0 5px 5px

    .activity-settings-menu
      top           22px
      right         21px
      opacity       0
      transition    opacity .2s ease
      abs()


  .comment-container.commented
    border-top        1px solid #d8d8d8

    .show-more-comments
      size            auto, 40px
      line-height     40px
      bg              color, #ececec
      border-top      1px solid #d8d8d8
      border-bottom   1px solid #d8d8d8
      text-align      center
      margin          -1px 0 0 0

      a
        display         block
        width           auto 55px
        color           rgba(78, 78, 78, .78)
        font-size       13px
        letter-spacing  .2px
        noTextDeco()

      &.new
        bg              color, #2eb398

        a
          color         #fff

  .kdlistitemview-comment
    padding           22px 22px 17px 20px
    borderBox()

    &:hover
      .activity-settings-menu
        opacity         .5
        &:hover
          opacity       1

    &:last-of-type
      padding-bottom  26px

    .avatarview
      // border          1px solid #bdc3c7
      top             22px
      left            20px
      borderBox()
      abs()

    .comment-contents
      size            auto, auto
      margin          0 0 0 56px
      font-size       13px  !important
      font-weight     400   !important
      color           #515b65

      .profile
        display       inline-block
        color         #1aaf5d
        font-weight   500
        margin        3px 0 6px 0
        font-weight   400
        noTextDeco()

      .comment-body-container
        > p
          word-break  break-word
          line-height 17px
          font-weight 200

          a
            color     inherit

      .edited
        display       block
        font-size     12px
        color         #cacaca
        margin        6px 0 0

      .like-view
      .reply-link
      time
        font-size         11px
        display           inline-block
        margin            12px 0 0
        width             auto
        font-weight       200

      .reply-link
        margin-left       15px
        position          relative

        &:before
          content         "\2022"
          display         block
          font-size       14px
          left            -14px
          top             -1px
          color           #d8d8d8
          abs()

      .like-view a
      .reply-link
        color           #a6abb1
        noTextDeco()

        &.count
          display       inline-block
          margin        0 0 0 9px
          font-weight   500

      .like-view.liked a
        color           #1aaf5d

      time
        fr()
        opacity         0
        vendor          transition, opacity .2s ease
        color           #a5acad

    &:hover
      time
        opacity         1

    &~.kdlistitemview-comment
      padding-top       0
      border-top        1px solid #d8d8d8

      .comment-contents
        padding-top     22px

    &.deleted
      width           auto
      padding         16px 0
      margin          0 23px 0 81px
      font-size       12px
      color           #717e80
      .profile
        display       inline

    &~.deleted
      border-top      1px solid #eeeeef


  .item-add-comment-box
  .edit-comment-box
    borderBox()

    .avatarview
      size        35px, 35px
      display     block
      left        5px
      top         5px
      z-index     10
      abs()

    .item-add-comment-form
      margin      -1px
      size        auto, auto

      textarea
        size        100% 47px
        min-height  47px
        border      1px solid #d1d3d3
        box-shadow  none
        background  #fff
        line-height 24px
        padding     9px 9px 8px 54px
        color       #50595a
        font-size   13px
        rounded     0 0 5px 5px
        vendor      transition, line-height .2s ease
        borderBox()

        &::-webkit-input-placeholder
          color     #acacac
        &::-moz-placeholder
          color     #acacac

        &:focus
          line-height     24px

    &.edit-comment-box
      textarea
        padding           9px
        rounded           5px
        margin            4px 0

      .cancel-description
        font-size         12px
        color             #cacaca

/* Embed Styles */
.embed-image-view
  margin                0 0 18px
  border-top            2px solid #e4e4e4

  a
  img
    display             block
    margin              0
    padding             0

.embed-link-view
  padding               1px 19px 19px
  border-top            1px solid transparent

  .preview-image
    overflow            hidden
    size                144px, 100px
    fl()

    img
      max-width         100%

    &+.preview-text
      kalc              width, 100% \- 144px

  .preview-text
    font-size           12px
    font-weight         300
    color               #50595a
    bg                  color, #f3f3f3
    height              100px
    padding             15px
    borderBox()
    fl()

    .preview-text-link
      size              auto, auto
      color             inherit
      display           block
      word-break        break-word
      overflow          visible
      noTextDeco()

      .preview-title
        font-weight     500

      &.description
        padding         13px 0
        line-height     15px
        height          45px
        overflow        hidden !important
        borderBox()

        .description-input
          width         100%
          margin        15px 0 0 0

    .provider-info
      size              auto, auto
      margin-top        8px
      font-size         12px
      color             #a9aeaf

  .preview-link-pager
    .preview-link-switch
      size                  24px 24px
      margin                9px 0 0
      rounded               5px 0 0 5px
      background            #f7f7f7
      position              relative
      cursor                pointer
      fl()

      &:hover
        opacity             .9

      &:after
        content             ""
        size                0 0
        border              6px solid transparent
        border-right-color  #aab5bc
        left                3px
        top                 6px
        abs()

      &:nth-child(2)
        margin-left         2px
        rounded             0 5px 5px 0

        &:after
          left              9px
          border-right      none
          border-left-color #aab5bc

    .thumb-count
      margin                9px 0 0 7px
      line-height           24px
      font-size             14px
      color                 #7a8287
      fl()

    .thumb-text
      font-size             12px
      vertical-align        middle
      color                 #aab5bc

.activity-input-widget
  .link-embed-box
    margin                  18px 0 0
    rounded                 5px
    position                relative
    borderBox()

  .embed-link-view
    margin                  0
    border                  none

  .embed-image-view
    margin                  0 0 -18px
    border                  none

    &:after
      content               ""
      display               block
      size                  38px 38px
      rounded               0 0 0 60%
      bg                    color rgba(255, 255, 255, .6)
      top                   0
      right                 0
      abs()

  .embed-link-view
    padding                 0

  .preview-image
    rounded                 5px 0 0 5px
  .preview-text
    rounded                 0 5px 5px 0

  .hide-embed
    right                   7px
    top                     7px
    border                  none
    outline                 none
    shadow                  none
    z-index                 10
    r-sprite                  app "20-close-tab"
    abs()

.activity-item.status
  .link-embed-box
    .preview-text-link
      input.preview-title-input
        display             none
      textarea.description-input
        display             none

/* Activity item menu */
body.activity
body.profile
  .kdbuttonmenu.jcontextmenu
    margin              4px 0 0 14px
    rounded             6px
    border              1px solid #e4e4e4
    shadow              0 8px 35px rgba(0, 0, 0, .22)
    padding             5px 0

    &:after
      content             ""
      display             block
      size                0 0
      right               19px
      bottom              100%
      border              7px solid transparent
      border-bottom-color #fff
      z-index             600
      abs()

    &:before
      content             ""
      display             block
      size                0 0
      right               18px
      bottom              100%
      border              8px solid transparent
      border-bottom-color #e4e4e4
      z-index             599
      abs()

    &.comment-menu
      margin              0 0 0 16px

    .kdlistitemview-contextitem
      color               #50595f
      font-size           12px
      line-height         24px
      cursor              pointer
      padding             0 0 0 12px

      .icon
        margin            0 7px 0 0
        display           inline-block
        vertical-align    sub
        &.edit
          r-sprite          activity "edit-icon"
        &.delete
          r-sprite          activity "delete-icon"

      &:hover
      &.selected
        bg                color #F8f8f8
        text-shadow       none


    .chevron-ghost-wrapper
      opacity           0

/** Markdown Styling **/
.activity-item > article
.activity-input-widget .update-preview

  /* Headings */
  h1, h2, h3, h4, h5, h6
    color         #50595a
    font-size     14px

  /* Lists */
  ol
  ul
    padding               0 25px 12px
    list-style            none
    display               block
    position              relative
    li
      position            relative
    li:before
      color               #c4c4c9
      left                -20px
      abs()
  ol
    counter-reset         i 0
    li:before
      content             counter(i)
      counter-increment   i
  ul
    li:before
      content             "\2022"
      font-size           20px

  /* Paragraphs and other text */
  p  p
    padding               0 0 12px
    word-wrap             break-word
  em
    font-style            italic
  strong
    font-weight           600
  a
    color                 inherit
  hr
    height                1px
    background            #c4c4c9
    border                none
  blockquote
    border-left           4px solid #DDD
    margin                4px 21px
  p
    code
      padding             2px 5px
      border              1px solid #DDD
      background-color    #F8F8F8
      font-family         monoFamily
      border-radius       3px
      vertical-align      top
      font-size           12px
  pre
    code
      display             block
      line-height         16px
      font-size           12px
      font-family         monoFamily
      padding             14px
      color               white
      bg                  color, #28292A

      .hljs-comment
      .hljs-string
      .hljs-regexp
        color             #96B486

      .hljs-keyword
        color             #9B8298

      .hljs-title
      .hljs-variable
        color             #6096BE

      .hljs-literal
      .hljs-number
        color             #D17819

      .hljs-constant
      .hljs-decorator
      .hljs-typename
        color             #DEB63A

      &.lang-go
        .built_in
          color           #6096BE

      &.lang-css
        .hljs-pseudo
          color           #DEB63A

        .hljs-id
        .hljs-tag
        .hljs-class
          color           #9B8298

        .hljs-attribute
          color           #6096BE

.activity-share-popup
  bg                      color, #ececec
  margin                  4px 0 0 14px
  rounded                 3px 11px 11px 3px
  size                    176px, 22px

  &:after
    content             ""
    display             block
    size                0 0
    left                -12px
    top                 5px
    border              6px solid transparent
    border-right-color  #ececec
    z-index             600
    abs()

  .context-list-wrapper
    padding               0

  input.share-input
  input.share-input:hover
  input.share-input:focus
  input.share-input:active
    background            transparent
    border                none
    margin                0 2px 0 0
    font-size             12px
    color                 #6e6e6e
    line-height           22px
    size                  106px, 22px
    outline               0
    fl()

  .icon-link
    margin                3px 0 0 4px
    fl()

    &.share-twitter
      r-sprite              activity, "twitter-16"
    &.share-facebook
      r-sprite              activity, "facebook-16"
    &.share-linkedin
      r-sprite              activity, "linkedin-16"



/* Temp style for contentdisplay */

.content-display

  .sub-header
    margin                22px 0 0
    display               inline-block
    padding               5px 15px
    border                1px solid #c4c4c9
    rounded               3px
    &:hover
      opacity             .5
    a
      color               #50595a
      noTextDeco()


  // quick fix:
  // burak please check and fix if necessary - SY
  &.activity-related.status
    kalc                  width, (100% \- 100px)
    margin-left           100px
    overflow              visible

    .sub-header
      margin-left         -78px


/* Bug reports */
.bugs
  .content-page.bugreports
    min-height            1026px
    margin                85px auto
    padding               0
    position              static
    overflow              visible

  .item-add-comment-form
    textarea
      rounded             0 !important

  .on-off
    margin                0 -1px -2px -1px

    a
      kalc                width, 20%
      height              35px
      line-height         35px
      padding             0
      shadow              none
      font-weight         300
      font-size           12px
      border-color        #d8d8d8 !important
      background          #f6f6f6
      text-transform      capitalize
      color               #a0a7af
      text-shadow         none
      borderBox()

      &.active
        background        #6ccab7
        color             #fff
        shadow            inset 0 0 0 1px #2eb398

      &:first-of-type
        rounded           0 0 0 4px

      &:last-of-type
        rounded           0 0 4px 0

  .kdlistview-all
    margin-left          80px
    overflow             visible

  .bug-status
    width                269px !important

    .bug-status-title
      display            block
      line-height        45px
      color              #3c4752
      padding            0 0 0 18px
      borderBox()
      noTextDeco()

      &:hover
        color            #73899e

      &~.bug-status-title
        border-top       1px solid #d3d3d3

// Crawlable //
nav.crawler-pagination
  size                    100%, auto
  margin                  25px 0 50px

  a
    margin                0 5px 5px
    padding               3px 5px
    border                1px solid #cdcdcd
    background            #fafafa
    color                 #b1b1b1
    noTextDeco()
    fl()
