@import "../../../Framework/themes/default/kdfn"
@import "../../../Main/styl/appfn"


@css {
/*
Activity stylesheet
resurrection.activity.styl
*/
}


.feeder-header
.common-inner-nav
.system-message
.activity-status-context
// .comment-container.no-comment
  display               none

.content-page.activity
  max-width             1165px
  min-height            1000px
  margin                96px auto
  padding               0
  position              relative

  .activity-left-block
    size                auto, auto
    margin              0 337px 0 0

    .activity-update-widget-wrapper
      size              auto, auto
      margin            0 0 0 100px

      .small-input input
      .large-input textarea
        size            100%, 55px
        border          none
        border-top      1px solid #cdccc2
        margin          0
        padding         22px
        font-size       16px
        color           #9d998e
        line-height     16px
        vendor          transition, height .2s ease
        rounded         3px
        borderBox()

        &::-webkit-input-placeholder
          color     #9d998e
        &::-moz-placeholder
          color     #9d998e

      .large-input textarea
        color           #536067

      button[type=submit]
        bottom          0
        right           0
        abs()

    .activity-content
      size              auto, auto
      margin            0 0 0 100px
      font-size         16px
      overflow          visible

      .kdview
        overflow        visible

      .activity-item
        background      #fff
        rounded         3px
        overflow        visible
        position        relative
        margin          30px 0 0 0
        borderBox()

        .author-avatar
          display       block
          size          86px, 86px
          rounded       3px
          top           0
          right         100%
          margin        0 14px 0 0
          abs()

        .author-name
        .status-body
          display       block
          padding       22px 22px 0
          color         #50595a
          font-weight   400

        .author-name a
          color         #50595a
          font-weight   500
          noTextDeco()

        footer
          size          100%, 42px
          rounded       0 0 3px 3px
          bg            color, #f8f8f6
          border-top    2px solid #e9e7e1
          margin        22px 0 0 0
          borderBox()

          .action-link
          .comment-icon
          .share-icon
            size            20px, 20px
            display         inline-block
            vertical-align  text-top

            &.like-icon
              margin-top    1px
              sprite        app, like-icon

            &.comment-icon
              margin-top    2px
              sprite        app, comment-icon

            &.share-icon
              sprite        app, share-icon

          .action-container
            size            auto, 20px
            margin          10px 0 0 22px
            fl()

            &.liked .like-icon
              sprite        app, like-icon-liked

          .count
            display         inline-block
            color           #697576
            font-size       14px
            margin          0 0 0 12px
            noTextDeco()

        .comment-container.commented
          border-top    2px solid #e9e7e1

        .kdlistitemview-comment
          padding           20px
          borderBox()

          .avatarview
            size            43px, 43px
            top             20px
            left            20px
            abs()

          .comment-contents
            size            auto, auto
            margin          0 0 0 61px
            font-size       14px
            font-weight     400
            color           #50595a

            .profile
              display       block
              color         #50595a
              font-weight   500
              margin        0 0 14px 0
              noTextDeco()

          &~.kdlistitemview-comment
            padding-top     0

            .avatarview
              top           12px

            .comment-contents
              padding-top   12px
              border-top    1px solid #eeeeef

        .item-add-comment-box
          bg            color, #f7f7f8
          border-top    2px solid #e9e7e1
          padding       20px
          borderBox()

          .avatarview
            size        43px, 43px
            display     block
            left        20px
            top         20px
            abs()

          .item-add-comment-form
            size        auto, auto
            margin      0 0 0 43px

            textarea
              size        100%, 43px
              border      1px solid #d1d3d3
              border-left none
              box-shadow  none
              background  #fff
              line-height 43px
              padding     0 0 0 17px
              color       #50595a
              font-size   14px
              rounded     0
              vendor      transition, line-height .2s ease
              borderBox()

              &::-webkit-input-placeholder
                color     #50595a
              &::-moz-placeholder
                color     #50595a

              &:focus
                line-height     24px

  .activity-right-block
    size                302px, auto
    right               0
    top                 0
    borderBox()
    abs()

    .activity-right-box
      size              auto, auto
      background        #fff
      border-radius     6px
      border            1px solid #e1e1e4
      margin            0 0 0 0
      padding           18px 18px 10px
      borderBox()

      &~.activity-right-box
        margin-top      29px

      h3
        display         block
        margin          0
        padding         0
        font-size       16px
        font-weight     400
        color           #485259
        margin          0 0 15px 0

        .cog-icon
          display       block
          sprite        app cog-icon
          fr()

      .activity
      .friend
        height          44px
        border-top      1px solid #eeeef2
        .avatarview
          margin        8px 10px 8px 0
          fl()

        .activity-content
        .friend-name
          line-height   44px
          color         #485259
          font-size     14px
          font-weight   200
          fl()

          a
            font-weight   400
            color         #485259
            noTextDeco()

      .friend
        cursor            pointer
        i
          size            10px, 10px
          border-radius   100%
          background      #cfcfcf
          margin          17px 6px 0 0
          fr()

        &.online
          i
            background    #2eb398



// .activity-update-widget-wrapper
//   size                  auto, auto
//   min-height            68px
//   background            #fff
//   border-radius         0 0 6px 6px
//   border                1px solid #e1e1e4
//   margin                35px 28% 0 78px
//   position              relative
//   borderBox()

//   .update-type-select-icons
//     display             none

//   .kdtabpaneview
//     display             none

//     &.active
//       display           block

//     .large-input textarea
//     .small-input input
//       width             100%
//       height            68px
//       line-height       68px
//       font-size         16px
//       color             #a0abb2
//       font-weight       200
//       background        none
//       border            none
//       padding           0 0 0 20px
//       borderBox()
//       vendor            transition, height .3s ease \,\
//                                     line-height .3s ease \,\
//                                     padding .3s ease

//       &:focus
//         padding         20px
//         color           #7a868d
//         height          140px
//         line-height     18px



// .content-page.activity
//   .activity-content
//     width               72%

//   .kdlistitemview-activity
//     size                auto, auto
//     margin              16px 0 0 78px
//     position            relative
//     overflow            visible
//     borderBox()

//     .activity-item
//       background        #fff
//       border            1px solid #e1e1e4
//       border-radius     6px 6px 0 0
//       overflow          visible
//       position          static
//       borderBox()

//     .status-body
//       font-size       16px
//       font-weight     400
//       line-height     22px
//       color           #485259
//       margin          20px 24px 24px

//     .comment-container
//       size            auto, auto

//       .kdlistitemview-comment
//         padding         20px
//         font-size       14px
//         color           #485259
//         line-height     18px
//         font-weight     400
//         border-top      1px solid #eeeeef
//         position        relative
//         borderBox()

//         .avatar
//           size          28px, 28px
//           left          20px
//           top           20px
//           abs()
//           fl()

//           a
//             display     block

//         .comment-contents
//           padding         0 0 0 40px

//           a.profile
//             margin        0 0 12px 0
//             display       block
//             font-size     12px
//             color         #485259
//             noTextDeco()

//       .item-add-comment-form
//         border-top      1px solid #dfdfe2
//         background      #f8f8f9
//         size            auto, auto
//         padding         10px

//         textarea
//           display             block
//           border-radius       0
//           border              1px solid #e1e1e4
//           size                100%, 40px
//           font-size           12px
//           color               #7a868d
//           borderBox()

//     footer
//       size              auto, 38px
//       line-height       36px
//       background        #f8f8f9
//       border            1px solid #e5e5e7
//       border-top        1px solid #e1e1e4
//       margin            0 -1px -1px

//       .action-container
//         size            auto, 36px
//         min-width       36px
//         text-align      center
//         border-right    1px solid #e5e5e7
//         fl()

//         &:last-of-type
//           border-right none
//           border-left  1px solid #e5e5e7
//           fr()

//         a
//           fl()
//           noTextDeco()

//           &.share-icon
//             sprite     app share-icon

//           &.like-icon
//             sprite     app like-icon

//           &.comment-icon
//             sprite     app comment-icon

//           &.count
//             margin     0 14px 0 -5px
//             font-size  12px
//             color      #7a868d

//         &.liked a.like-icon
//           sprite       app like-icon-liked

//     .avatarview.author-avatar
//       size              65px, 65px
//       display           block
//       border-radius     3px
//       border            1px solid #cbc6c6
//       left              -78px
//       top               1px
//       abs()
//       borderBox()

//     .author-name
//       display           block
//       margin            24px 24px 0

//       a.profile
//         color           #91979b
//         font-size       15px
//         font-weight     400
//         noTextDeco()

//     .codesnip
//       .code-container
//         position        relative

//         pre
//           margin        0
//           padding       0

//         code
//           border-radius 6px
//           padding       20px
//           max-height    240px
//           overflow      scroll

//         >strong
//           bottom        10px
//           right         10px
//           color         #7a868d
//           font-size     12px
//           abs()

//     .blog-post
//       .blog-post-title
//         margin          20px 24px 0
//         font-size       16px

//         a
//           color         #91979b
//           font-weight   normal

//       .body
//           font-size     14px
//           font-weight   400
//           line-height   20px
//           color         #485259
//           margin        20px 24px 24px