@import "../../Framework/src/themes/default/kdfn"
@import "../../Core/styl/appfn"

@css {
/*
Pricing stylesheet
pricing.styl
*/
}

body.pricing
  #main-header
    .inner-container
      -webkit-font-smoothing  antialiased

    .logotype
      color             #424242
      line-height       20px
      font-size         26px

    nav
      a
        color           #3B3B3B

        &.login
          border-color  #ADADAD

    #koding-logo
      margin            0 7px 0 0

      cite
        r-sprite        home, 'logo-black'

.content-page.pricing
  width                 auto
  max-width             100%
  padding               0
  border-top            1px solid transparent

  .pricing-heading
    font-size           38px
    color               #37B542
    line-height         52px
    margin              178px auto 17px
    text-align          center
    padding             0 40px
    border              none
    font-weight         200
    opacity             .99

  p.pricing-description
    max-width           678px
    font-size           18px
    line-height         28px
    color               #5A5A5A
    font-weight         200
    opacity             .99
    text-align          center
    margin              0 auto 115px

  p.pricing-footer
    margin-top         68px
    text-align         center
    color              #5A5A5A
    font-weight        200
    font-size          14px
    line-height        28px
    opacity            .99

    span
      font-weight      400
      color            #5a5a5a

  .learn-more
    line-height        28px
    font-size          14px
    margin-top         4px
    display            block
    text-align         center
    color              #01B05A

  section.plans
    margin              0 auto
    max-width           882px
    padding             0 45px
    width               auto
    borderBox()

    .single-plan
      background        #FAFAFA
      width             25%
      z-index           10
      border            1px solid #E3E3E3
      border-left       none
      overflow          hidden
      borderBox()
      fl()

      &:first-of-type
        border-left     1px solid #E3E3E3
        rounded         7px 0 0 7px

      &.current
        &:after
          content       'Current Plan'
          display       block
          size          107px, 17px
          vendor        transform, rotateZ(-45deg)
          font-size     10px
          color         #959595
          background    #E8E8E8
          text-align    center
          line-height   17px
          abs           23px 0 0 -23px
          borderBox()

        *
          color         #ddd !important
          &:before
            color       #ddd !important

        .plan-buy-button
          border-color  #ddd


      &:nth-of-type(4)
        rounded         0 7px 7px 0

      .plan-title
        border          none
        color           #8B8B8B
        font-size       12px
        text-align      center
        height          auto
        margin          0
        letter-spacing  .16em

        span
          padding       0
          margin        0

        cite
          display       block
          font-size     38px
          color         #35B040
          line-height   38px
          margin        40px 0 4px
          position      relative

          &:before
            content     '$'
            display     inline-block
            color       #35B040
            font-size   19px
            vertical-align super
            line-height 26px

      .plan-summary
        padding         17px 20px
        text-align      center
        font-size       10px
        color           #575757
        line-height     14px
        font-weight     400
        opacity         .99
        borderBox()

      .plan-features
        padding         0 47px
        color           #575757
        line-height     23px
        font-size       14px
        borderBox()

      .plan-buy-button
        background      transparent
        border          1px solid #37B542
        outline         none
        shadow          none
        margin          29px auto 34px
        display         block
        color           #37B542
        padding         8px 34px
        font-size       14px
        letter-spacing  .16em
        rounded         3px
        vendor          transition, background .2s ease


      &:nth-of-type(2)
        background      #fff
        vendor          transform, scale(1.05)
        border          1px solid #909090
        rounded         7px
        z-index         100

        .plan-title cite
          color         #F8AC1D

          &:before
            color       #F8AC1D

        .plan-buy-button
          border-color  #F8AC1D
          background    #F8AC1D
          color         #fff
          margin-top    23px
          margin-bottom 40px

.payment-modal
  .kdmodal-content
    // max-height          389px !important

  .kdmodal-inner
    margin              36px 51px 51px

    .kdmodal-title
      text-align        center
      padding           0 0 29px !important
      margin            0 0 22px !important
      border-bottom     1px solid #E8E8E8 !important

      span.title
        font-weight     500
        color           #00B156
        line-height     34px
        margin          0 0 6px

      span.subtitle
        color           #848484
        font-size       14px
        line-height     19px
        font-weight     400
        opacity         .99

    .interval-toggle
      width             100%
      text-align        center

      button
        background      #fff
        size            66px, 33px
        line-height     32px
        border          1px solid #DEDEDE
        border-left     none
        border-right    none
        padding         0
        margin          0
        color           #9E9E9E
        font-weight     600
        font-size       12px
        shadow          none
        text-shadow     none

        &:first-of-type
          rounded       15px 0 0 15px
          border-left   1px solid #DEDEDE

        &:last-of-type
          rounded       0 15px 15px 0
          border-right  1px solid #DEDEDE


        .button-title
          color         inherit
          font-size     inherit
          font-weight   inherit
          display       inline-block
          line-height   25px
          size          58px, 25px
          rounded       13px

        &.toggle .button-title
          background    #01B05A
          color         #fff

    .interval-toggle-message
      font-size         12px
      color             #BCBCBC
      font-style        italic
      text-align        center
      margin-top        8px

      strong
        font-weight     bold

    .summary
      margin            18px 0
      line-height       24px

      .plan-name
        font-size       14px
        color           #6F6F6F
        font-weight     600
        fl()

      .plan-price
        color           #00B156
        font-size       18px
        font-weight     600
        fr()

        &:before
          content       '$'

    .payment-method-entry-form
      background        #F8F8F8
      border            1px solid #E5E5E5
      padding           0 31px 31px 17px
      rounded           3px

      .kdlabel
        display         block
        float           none
        margin-top      19px
        margin-bottom   11px
        font-size       14px
        color           #575757

      .kdinput
        background      #fff
        rounded         3px
        border          1px solid #D7D7D7
        margin          0
        height          36px
        transition      border-color .3s linear

        &.text
          font-size     14px

        &.validation-error
          border-color  #D95F5F !important

      .input-wrapper
        margin          0

      &.american-express .input-wrapper:after
        r-sprite      'pricing', 'american-express'

      &.visa .input-wrapper:after
        r-sprite      'pricing', 'visa'

      &.mastercard .input-wrapper:after
        r-sprite      'pricing', 'mastercard'

      &.discover .input-wrapper:after
        r-sprite      'pricing', 'discover'

      .formline
        margin-left     13px
        fl()

        &.cardnumber
          width         292px

          .input-wrapper:after
            content     ''
            display     block
            right       8px
            top         59px
            width       36px
            height      22px
            z-index     1
            abs()

        &.cardcvc
        &.cardmonth
        &.cardyear
          width         64px

        &.cardname
          width         215px

    .price-summary
      font-size         18px
      color             #7f7f7f
      font-style        italic
      text-align        center
      margin-top        30px

      strong
        font-weight     bold


    .submit-btn
      size              100%, 50px
      background        #01B05A
      margin            15px 0 0
      shadow            0 2px 0 0 #008E48
      color             #fff
      font-size         14px
      font-weight       600

      span.button-title
        font-size       inherit
        font-weight     inherit
        color           inherit

    .security-note
      font-size         12px
      color             #A7A7A7
      text-align        center
      line-height       17px
      margin            51px

      span
        display         block
        font-size       14px
        color           #7F7F7F
        line-height     19px
        margin          0 0 4px

      &:before
        content         ''
        display         block
        r-sprite        'pricing', 'lock'
        margin          0 auto 10px
