@import "../../Framework/src/themes/default/kdfn"
@import "../../Main/styl/appfn"

@css {
/*
Pricing stylesheet
pricing.styl
*/
}

body.pricing

  #main-header .inner-container
    -webkit-font-smoothing  antialiased

.content-page.pricing
  width                 auto
  max-width             100%
  padding               0
  font-family           openSansFamily

  //Commons

  section
    h2.general-title
      font-size         22px
      font-weight       400
      text-align        center
      border-bottom     none
      margin            0
      padding           82px 0
      color             #656565

      span
        margin          0

    .inner-container
      max-width             1290px
      padding               0px 45px
      margin                0 auto
      display               block
      position              relative
      borderBox()

    .resource-pack
      border-right      1px solid #e9e9e9
      border-bottom     2px solid #f8f8f8
      border-top        2px solid #f8f8f8
      width             20%
      z-index           10
      borderBox()
      fl()

      &:first-of-type
        border-left     1px solid #e9e9e9
        position        relative
        overflow        visible

        &:before
          content       ""
          display       block
          size          500%, 2px
          abs           1px 0 0 -2px
          border-right  13px solid #f43500
          z-index       4
          bg            image, -webkit-linear-gradient(left, #1aaf5d 0%, #ffd400 50%, #f43500 100%) /,
                                  -moz-linear-gradient(left, #1aaf5d 0%, #ffd400 50%, #f43500 100%)

      h2.pack-title
        padding-left    75px
        height          78px
        line-height     78px
        border-bottom   2px solid #f8f8f8
        font-size       18px
        font-weight     600
        borderBox()

        span
          margin        0

        cite
          font-size     14px
          display       block
          abs           21px 0 0 29px
          size          32px, 32px
          rounded       18px
          border        2px solid #e9e9e9
          text-align    center
          line-height   32px
          background    #fff

      .pack-features
        padding         38px 8px 38px 31px
        border-bottom   2px solid #f8f8f8
        borderBox()

        dd
          font-size     18px
          line-height   28px
          color         #505050
          font-weight   400

          em
            font-weight 600

      .pack-buy-button
        background      #fff
        display         block
        kalc            width, 100% \- 8px
        margin          4px
        rounded         3px
        border          none
        outline         none
        shadow          none
        padding         23px 0
        font-size       18px
        color           #3e3e3e
        font-weight     400

        .button-title
          font-size     inherit
          color         inherit
          line-height   inherit
          font-weight   inherit
          position      relative
          display       inline-block
          text-decoration underline

          cite
            font-weight 600
            display     block
            abs         0 100% 0 0
            margin      0 10px 0 0
            noTextDeco()

        .icon
          r-sprite      "pricing", "buy-arrow"
          display       block
          margin        0
          padding       0
          abs           22px 22px 0 0


      &.blue //.resource-pack
        h2.pack-title
          color           #64d2c8
          cite
            border-color  #64d2c8

      &.green //.resource-pack
        h2.pack-title
          color           #5ecb66
          cite
            border-color  #5ecb66

      &.yellow //.resource-pack
        h2.pack-title
          color           #efc860
          cite
            border-color  #efc860

      &.orange //.resource-pack
        h2.pack-title
          color           #f4a360
          cite
            border-color  #f4a360

      &.red //.resource-pack
        h2.pack-title
          color           #f35f51
          cite
            border-color  #f35f51

      &:hover //.resource-pack
        background        url("/a/images/stripe.png")

        *:not(cite)
          border-color    transparent

  //\Commons

  section.introduction
    background          #3eac75
    padding             134px 0 85px
    text-align          center
    bg                  image, url("/a/images/pricing-pat.png")
    overflow            hidden

    &:after
      content           ""
      display           block
      size              100vw, 3px
      abs               0 0 0px 0
      bg                image, url("/a/images/wave-bg.png")
      bg                repeat, repeat-x

    h2
      border-bottom     none
      color             #fefefe
      font-size         34px
      font-weight       600
      line-height       38px
      height            auto
      opacity           .99
      overflow          visible

      span
        margin          0
        padding         0

    p
      color             #fefefe
      font-size         20px
      line-height       24px
      font-weight       300
      max-width         760px
      letter-spacing    .03em
      margin            28px auto 56px auto

    .multiple-choice
      font-family       openSansFamily
      rounded           0

      a
        size            188px, 43px
        line-height     43px
        letter-spacing  .05em
        background      transparent
        rounded         4px
        padding         0
        border          2px solid #89dfb4
        shadow          none
        text-shadow     none
        font-size       16px
        font-weight     400
        color           #f7fffb

        &:hover
          background    rgba(255, 255, 255, .2)

        &~a
          margin-left   14px

        &.active
          background    #f5f5f5
          border        2px solid #f5f5f5
          color         #5ca782

          &:hover
            opacity     .9


  .kdtabview.pricing-type-tab
    margin              0
    padding             0
    width               100%
    float               none

    .kdtabpaneview.developer
      padding-bottom    100px


  section.packs
    margin                0 auto
    max-width             1290px
    padding               0 45px
    width                 auto
    borderBox()


  section.team-plan
    margin                0 auto
    max-width             1290px
    padding               0 45px
    width                 auto
    borderBox()

    .custom-plan-container
      border              1px solid #e9e9e9
      position            relative

    .sliders-container
      kalc                width, 100% \- 278px
      padding             59px
      borderBox()
      fl()

    .resource-pack
      size                278px, 100%
      border              none
      border-left         1px solid #efefef
      borderBox()
      fr()

      .pack-buy-button
        .button-title
          cite
            margin-right  30px

    .plan-selection-box
      &:first-of-type
        margin-bottom     68px

      h4
        font-size         22px
        color             #6a6a6a
        font-weight       400
        display           block
        margin            0 0 40px 0

      .sliderbar-container
        size              100%, 3px
        border            none
        bg                image, -webkit-linear-gradient(left, #00c052 0%, #ffd800 50%, #fe0000 100%) /,
                          -moz-linear-gradient(left, #00c052 0%, #ffd800 50%, #fe0000 100%)

        .opposite
          background      #cecece
          border          none
          shadow          inset 0 2px 3px rgba(0, 0, 0, .14)


        .handle
          size            33px, 33px
          rounded         50%
          background      #fff
          border          1px solid #e0e0e0
          shadow          0 3px 5px rgba(0, 0, 0, .13)
          top             -16px
          margin-left     -16px

          &:after
            display       none

          &:before
            display       none

        .sliderbar-label
          color           transparent
          top             -9px

          &:after
            size          3px, 7px
            background    #e0e0e0

  section.custom-quote
    z-index               5
    text-align            center
    padding-bottom        128px

    h2.general-title
      clear               both
      padding             128px 0 36px

    .kdbutton.border-only
      margin              0 auto
      border              2px solid #00d067
      background          transparent
      rounded             4px

      .button-title
        color             #01ae57
        font-weight       400
        font-size         16px


  section.features
    background            #f8f8f8

    .inner-container
      margin              0 auto
      max-width           1290px
      padding             0 45px
      width               auto
      letter-spacing      0
      word-spacing        0
      borderBox()

    .feature
      letter-spacing      normal
      word-spacing        normal
      size                49%
      padding             0 35px 74px 108px
      position            relative
      display             inline-block
      vertical-align      top
      borderBox()

      h5
        font-size         24px
        font-weight       400
        color             #2fbd72
        display           block
        margin-bottom     10px

      p
        font-size         14px
        color             #505050
        line-height       21px
        font-weight       400

      p.description
        font-size         12px
        color             #a0a0a0
        line-height       16px
        margin-top        18px

      .icon
        display           block
        abs               0px 0 0 0px

        &.cpu
          r-sprite       "pricing", "cpu-icon"

        &.ram
          r-sprite       "pricing", "ram-icon"

        &.disk
          r-sprite       "pricing", "disk-icon"

        &.always-on
          r-sprite       "pricing", "always-on-icon"



  // .payment-workflow
  //   min-height            600px

  //   .kdview.kdloader
  //     top                 160px
  //     left                50%
  //     margin              0 0 0 -20px
  //     z-index             10
  //     abs()

  //   .kdbutton .kdloader
  //     margin              0

  h3.pricing-title
    text-align          center
    display             block
    font-size           28px
    font-weight         200
    color               #666666
    margin              56px 0 8px

  h6.pricing-subtitle
    text-align          center
    display             block
    font-size           18px
    font-weight         400
    color               #666666
    opacity             .5
    margin-bottom       55px


.pricing .product-form
  size                  100%, auto
  min-height            100vh
  padding               0
  borderBox()

  h1
    font-size       32px

  h2
    font-size       28px

  h3
    font-size       24px

  h1
  h2
  h3
    font-weight     200
    color           #1c2021
    margin-bottom   8px

  .inner-container
    max-width           1096px
    margin              0 auto

    >header
      padding-bottom    41px
      border-bottom     1px solid #d4d4d4

      p
        font-size       20px
        color           #757575
        font-weight     200
        line-height     26px
        width           702px
        fl()

      a
        color           #3c4752

      .pricing-toggle
        font-family     inherit
        rounded         12px
        background      emphasized
        size            302px, 59px
        shadow          inset 0 0 13px rgba(0, 0, 0, .36)
        fr()

        a
          background    transparent
          border        none
          shadow        none
          height        55px
          kalc          width, 50% \- 2px
          margin        2px 2px 0 0
          padding       0
          line-height   55px
          text-shadow   none
          color         #fff
          font-size     16px
          font-weight   200

          &:first-child
            margin      2px 0 0 2px

        a.active
          background    #27ae60
          color         emphasized
          rounded       10px
          font-weight   400


    .plan-selection
      .developer-plan
        height          300px
        overflow        visible

        &.initial
          opacity       0

    .plan-selection-box
      width           715px
      padding-top     42px
      position        relative
      fl()

      &:nth-of-type(2)
        margin-left   70px

      h4
        font-size     28px
        color         #1c2021
        font-weight   200
        line-height   34px
        display       inline-block
        position      relative

        cite
          display     block
          abs         -4px -53px 0 0
          size        43px, 43px
          line-height 43px
          text-align  center
          font-size   18px
          background  emphasized
          rounded     50%
          color       #fff

      h5
        font-size     22px
        font-weight   400
        color         #757575
        margin        4px 0 0

      .sliderbar-container
        width         100% !important
        background    #dadada
        shadow        inset 1px 1px 0 rgba(0, 0, 0, .16)
        height        7px
        border        none
        margin        67px auto 0

        .handle
          size        26px, 26px
          shadow      none
          border      none
          rounded     50%
          background  #00ba4e
          shadow      inset 0 -1px 2px 1px rgba(0, 0, 0, .1) \,
                      inset 0 -8px 17px #00ba4e \,
                      inset 0  0 0 1px #00ba4e \,
                      inset 0 1px 0 2px rgba(255, 255, 255, .3)
          top         -10px
          margin      0 0 0 -12px

          &:after
          &:before
            hidden()

        .sliderbar-label
          color           transparent
          margin-top      -45px
          margin-bottom   0

          &:after
            size          2px, 14px
            background    #bababa

      .description
        display           block
        font-size         12px
        font-weight       400
        color             #727575
        line-height       23px
        margin            20px 0 0
        span
          color           #999
        cite
          bg              color, #d3d3d3
          rounded         12px
          font-size       10px
          display         inline-block
          min-width       33px
          height          23px
          line-height     23px
          text-align      center
          padding         0 5px
          margin          0 5px 0 15px
          borderBox()

      a.pricing-show-details
        font-size         12px
        font-weight       200
        color             #747474
        abs               174px -30px 0 0

      &.selected
        margin              0
        padding             40px 0 0 50px
        width               275px
        border-left         1px solid #d4d4d4
        fr()

        h5
          font-size         24px
          color             #27ae60
          margin            16px 0
          cite
            font-size       18px
            font-style      italic
            font-weight     200

        .description
          min-height        18px
          margin            0
          color             rgba(242, 242, 242, .3)

        .kdbutton.solid.buy-now
          size              126px, 48px
          line-height       48px
          font-size         18px
          color             #056233
          padding           0
          rounded           6px
          font-weight       600
          margin            29px 0 0
          text-align        center
          text-transform    uppercase
          fl()

          .button-title
            line-height     inherit
            color           inherit
            font-size       inherit
            font-weight     inherit

    .developer-plan

      .sliderbar-container
        shadow                inset 1px 1px 0 rgba(0, 0, 0, .16) !important
        background            -webkit-linear-gradient(left, #00c052 0%, #ffd800 50%, #fe0000 100%) !important

        .opposite.bar
          background          #dadada
          shadow              inset 1px 1px 0 rgba(0, 0, 0, .16) \,
                              0 0 0 1px #dadada

      .pricing-show-details
          abs                 174px -30px 0 0

  .how-it-works
    bg                        color, #f1f1f1
    border                    1px solid #d3d3d3
    border-radius             12px
    max-width                 913px
    padding                   24px
    color                     #747474
    vendor                    column-count, 3
    vendor                    column-gap, 24px
    position                  relative
    margin-top                -88px
    borderBox()

    &:after
      content                 ""
      display                 block
      border                  11px solid transparent
      border-bottom-color     #f1f1f1
      abs                     -22px 192px 0 0

    &:before
      content                 ""
      display                 block
      border                  11px solid transparent
      border-bottom-color     #d3d3d3
      abs                     -23px 192px 0 0

    &.team
      margin-top              0

      &:before
      &:after
        right                 612px

    .item
      font-size               12px
      font-weight             200

      &:not(.cpu)
        vendor                column-break-inside, avoid

      h4
        font-size             18px
        font-weight           400
        margin                0 0 24px

      p
        margin-bottom         24px
        line-height           1.2em

.pricing-horizontal-divider
  size                656px, 1px
  background          -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgb(207,207,207) 50%, rgba(0,0,0,0) 100%)
  background          -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgb(207,207,207) 50%,rgba(0,0,0,0) 100%)
  display             block
  margin              13px auto
  position            relative

  &:after
    content           ""
    size              13px, 13px
    abs               50% 0 0 50%
    background        #cfcfcf
    rounded           50%
    display           block
    vendor            transform, translateX(-50%) translateY(-50%)

.pricing-breadcrumb
  size                100%, 480px
  background          #323232
  abs                 0px 0 0 0px

  ul
    display           block
    size              100%, auto
    text-align        center
    color             #7f7f80
    padding-top       200px

    li
      display         inline-block
      margin          0 16px
      opacity         .6
      position        relative

      &:after
        content       ''
        display       block
        rounded       50%
        size          6px, 6px
        background    #7f7f80
        abs           -32px 0 0 50%
        margin-left   -3px

      &.active
        color         #fff
        opacity       1

        &:after
          background  #fff

        & ~ li
          opacity     1

  section
    display           none

.pricing-breadcrumb:not(.hidden) ~ .payment-workflow
  border-top          1px solid transparent

  .kdbutton.solid // Move these to fw [BC]
    rounded           3px

    &.green
      background      #61C17F

    &.red
      background       #D75B5B

    &.medium
      height           40px
      line-height      42px

  .formline
    padding            0 17px 0 0
    margin             0 0 16px
    borderBox()

    .input-wrapper
      margin           0

    &.button-field
      clear            both
      border           none
      margin-top       6px

      .kdbutton
        margin-left    6px

  .kdlabel
    font-size            14px
    color                #8D8D8D
    float                none
    line-height          19px
    margin               0 0 7px
    font-weight          200

  .kdinput.text
    rounded              3px
    background           transparent
    border               1px solid #C9C9C9
    padding              8px 13px 10px
    font-size            14px
    line-height          19px
    color                #4C4C4C
    font-weight          600
    opacity              .99
    margin               0

  .placeholder-helper
    top                  12px

    &.out
      top                -15px

  h3.pricing-title
    font-size            16px
    color                #222
    line-height          21px
    margin               0 0 24px
    font-weight          400

  section
    background           #fff
    width                auto
    margin               250px auto 0
    padding              36px
    rounded              3px

    &.pricing-sign-in
      max-width          330px

      .kdbutton
        width            100%
        margin-bottom    16px

// /* Pricing sign-in - register */
// section.pricing-sign-in
//   kalc                padding-left, \(100% \- 1030px\)/2
//   kalc                padding-right, \(100% \- 1030px\)/2
//   margin-bottom       56px

//   .form-wrapper
//     width               720px
//     margin              0 auto

//   .pricing-title
//     margin-bottom     54px !important

//   .kdformview
//     size              521px, 49px
//     borderBox()
//     fl()

//     &~.kdformview
//       width           418px

//     >div
//       overflow        visible
//       fl()

//       >div
//         bg            color, #fff
//         size          auto, auto
//         margin        0
//         rounded       6px
//         margin-right  8px

//     .kdinput
//       width           200px

//       &[name="email"]
//         width         310px
//         text-align    center

//     .kdbutton
//       size            98px, 42px
//       line-height     42px
//       font-size       14px
//       margin          1px 0 0 2px
//       rounded         6px
//       background      #1aaf5d

//       .button-title
//         line-height   inherit
//         font-size     inherit

//     .formline
//       margin          0
//       padding         0

//   .kdbutton
//     size            98px, 42px
//     line-height     42px
//     font-size       14px
//     margin          1px 0 0 2px
//     rounded         6px
//     background      #1aaf5d

//     .button-title
//       line-height   inherit
//       font-size     inherit

//   .divider
//     size              91px, 44px
//     line-height       44px
//     text-align        center
//     font-size         14px
//     color             #666666
//     fl()

// /* Pricing - choose a payment method */
// .pricing-payment-choice
//   .billing-link
//     pre:first-child
//       font-size       26px
//       text-align      center
//       margin-left     0
//       margin-bottom   20px

//   .payment-methods
//     max-width         810px
//     margin            0 auto

//   .payment-method
//     size            384px, 251px
//     rounded         12px
//     background      #fff
//     padding-top     91px
//     margin          0 0 42px 42px
//     cursor          pointer
//     -webkit-transition -webkit-transform .1s ease \,
//                               box-shadow .1s ease
//     -moz-transition    -moz-transform .1s ease \,
//                            box-shadow .1s ease
//     borderBox()
//     fl()

//     &:hover
//       vendor        transform, scale(1.02) translateY(-2px)
//       shadow        0 2px 4px rgba(0, 0, 0, .2)

//     &:nth-of-type(2n-1)
//       margin-left   0

//     &:not(.new):before
//       content       ""
//       abs           43px 0 0 0px
//       size          100%, 48px
//       background    #b4b4b4

//     &:not(.new):after
//       content       ""
//       abs           49px 5px 0 0
//       rounded       12px
//       bg            color, #828282

//     &.new
//       color         #858585
//       background    #f2f2f2
//       font-size     17px
//       font-weight   400
//       text-align    center
//       padding-top   138px
//       position      relative

//       &:after
//         content     ""
//         r-sprite    "pricing", "plus"
//         display     block
//         abs         96px 0 0 50%
//         vendor      transform, translateX(-50%)

//     &.american-express:after
//       r-sprite      "pricing", "amex"

//     &.cirrus:after
//       r-sprite      "pricing", "cirrus"

//     &.discover:after
//       r-sprite      "pricing", "discover"

//     &.mastercard:after
//       r-sprite      "pricing", "mastercard"

//     &.paypal:after
//       r-sprite      "pricing", "paypal"

//     &.visa:after
//       r-sprite      "pricing", "visa"

//     .billing-link
//       margin        46px 0 0

//     pre
//       font-family   "Courier"
//       font-size     16px
//       font-weight   400
//       margin        0 0 14px 40px

// /* Pricing add payment method form */
// .payment-method-entry-form
//   size                538px, auto
//   rounded             12px
//   padding             28px
//   bg                  color, #fff
//   margin              50px auto
//   borderBox()

//   .input-wrapper
//     margin-bottom     16px

//   input.kdinput.text
//   textarea.kdinput.text
//     background        #fff
//     color             #4c555f


//   .formline
//     clear             both

//     &.card-name
//       .input-wrapper
//         size          231px, auto
//         fl()
//         &:nth-child(2)
//           margin-left 20px

//     &.cardcity
//       fl()
//       .input-wrapper
//         size          231px, auto
//         fl()
//         &:nth-child(2)
//           margin-left 20px

//         .kdinput
//           text-align  center

//     &.cardnumber
//       span.icon
//         top             6px
//         right           6px
//         size            60px 38px
//         z-index         1
//         abs()
//         &.visa
//           r-sprite      pricing visa
//         &.mastercard
//           r-sprite      pricing mastercard
//         &.discover
//           r-sprite      pricing discover
//         &.cirrus
//           r-sprite      pricing cirrus
//         &.amex
//           r-sprite      pricing amex

//     &.cardmonth
//       fl()
//       .input-wrapper
//         size          63px, auto
//         fl()
//         &:nth-child(2)
//           margin-left 20px

//     &.cardcv
//       clear           none
//       fr()
//       .input-wrapper
//         size          63px, auto
//         .kdinput
//           text-align  center

//     &.cardcity
//       fl()
//       .input-wrapper
//         size          397px, auto
//         fl()
//         &:nth-child(2)
//           margin-left 20px
//           width       65px

//         .kdinput
//           text-align  left


// /* Confirm payment */
// .plan-upgrade-confirm-form
//   .generic-plan-view
//   .coupon-options
//     size              auto, auto
//     max-width         805px
//     padding           22px 30px
//     rounded           8px
//     background        #fff
//     margin            0 auto 2px
//     color             #666
//     borderBox()

//   .generic-plan-view
//     h4
//       font-size       16px
//       font-weight     400
//       display         block

//     div
//       font-size       14px
//       font-weight     200
//       margin          4px 360px 0 0
//       display         block
//       line-height     17px

//     .price
//       abs             50% 31px 0 0
//       vendor          transform, translateY(-50%)
//       font-size       20px
//       font-weight     500

//     &.old-plan
//       margin-bottom   28px
//       background      #d7d7d7

//   .mini-title
//     display         block
//     max-width       796px
//     margin          16px auto
//     font-size       15px
//     color           #666
//     font-weight     500

//   .coupon-options
//     .kdlabel.select-gift
//       size            auto, auto
//       clear           none
//       font-size       16px
//       font-weight     400
//       fl()

//     fieldset
//       fr()

//       .kd-radio-holder
//         position        relative
//         height          26px
//         line-height     27px
//         font-size       14px
//         font-weight     200
//         margin-left     44px
//         fl()

//         input[type=radio]
//           visibility    hidden

//         &:before
//           content       ""
//           display       block
//           abs           0px 0 0 -16px
//           size          26px, 26px
//           border        1px solid #a7a7a7
//           shadow        inset 0 0 0 4px #fff
//           rounded       100%

//         &.active:before
//           background    #1aaf5d

//   .total-wrapper
//     size                auto, auto
//     max-width           805px
//     padding             0 8px
//     margin              14px auto 0
//     text-align          right
//     font-size           16px
//     color               #666
//     font-weight         200
//     line-height         36px
//     borderBox()

//     label
//       color             #666
//       margin-right      6px

//     span
//       display           inline-block
//       min-width         70px

//     .discount
//       padding-right     12px

//     .subtotal
//       display           inline-block
//       font-weight       400
//       padding           0 12px 0 38px
//       border-top        1px solid #c8c8c8

//   .button-field
//     size                auto, auto
//     max-width           805px
//     margin              14px auto 50px

//     .kdbutton.light-gray
//       fl()

// .pricing-final
//   padding               10px
//   text-align            center

//   .error-icon
//     display             block
//     margin              62px auto 0
//     r-sprite            "pricing" "error"

//   .check-icon
//     display             block
//     margin              62px auto 0
//     r-sprite            "pricing" "check"


//   h3.pricing-title
//     margin-top          25px !important

//   h6.pricing-subtitle
//     margin-bottom       0 !important
//     line-height         1.4
//     a
//       color             #F13A18

//   .kdbutton.solid
//     margin              40px 0 0

// /* Pricing - Create group form */
// .kdformview.pricing-create-group
//   size              auto, auto
//   max-width         550px
//   padding           22px 30px
//   rounded           8px
//   background        #fff
//   margin            44px auto 0
//   color             #666
//   border            1px solid #c7c7c7
//   borderBox()

//   .input-wrapper
//     margin-bottom     16px

//   .kdinput.text
//     size              100%, 50px !important
//     border            1px solid #bcbcbc
//     background        #fff !important
//     color             #4c555f !important
//     font-size         14px !important
//     min-width         0 !important
//     borderBox()

//   .kdlabel
//     min-width         120px
//     margin-top        0
//     margin-right      22px
//     line-height       50px
//     color             #969696
//     font-size         14px
//     font-weight       400

//   .formline
//     &.slug
//     &.visibility
//       line-height     30px

//       .kdlabel
//         line-height   30px


// /* Recaptcha */
// #recaptcha
//   .recaptchatable
//     border            none !important
//     tr
//       height          auto

//     td
//       padding         0 !important
//       margin          0 !important

//     td.recaptcha_image_cell
//     td.recaptcha_image_cell ~ td
//       padding         0 20px 16px 0 !important

//   .recaptcha_input_area
//     padding           0 !important
//     margin            0 !important

//   #recaptcha_response_field
//     background        #fff
//     color             #4c555f
//     height            auto
//     line-height       22px
//     border            1px solid #d7d7d7 !important
//     rounded           6px
//     padding           10px 14px
//     color             #3E4F55
//     font-size         16px
//     font-weight       300
//     outline           none
//     borderBox()

//     &::-webkit-input-placeholder
//       color           #93979a
//       font-weight     300
//     &:-moz-placeholder
//       color           #93979a
//       font-weight     300

//     &:hover
//       border          1px solid #aaa !important

//     &:focus
//       border          1px solid rgba(125,190,241,1) !important
//       shadow          0 0 3px rgba(125,190,241,.7)

//       &::-webkit-input-placeholder
//         opacity       0.5
//       &:-moz-placeholder
//         opacity       0.5

//   a //Hope this will work :( [bc]
//     color             #d7d7d7
//     noTextDeco()
//     font-size         12px

// /* Create a new VM modal (Environments) */
// .kdmodal.create-vm
//   .kdmodal-content
//     h2
//       font-size       16px
//       color           rgba(102, 102, 102, .5)

//   .kdlistitemview-vm-product
//     padding           14px 0 0
//     margin            14px 0 0
//     line-height       26px
//     border-top        1px solid #eee
//     color             #666
//     borderBox()

//     h3
//       fl()

//     .kdbutton
//       fr()

//   .plan-upgrade-confirm-form
//     h3
//       margin          14px 0 0
//       font-size       16px
//       font-weight     200
//       color           rgba(102, 102, 102, .5)

//     p
//       font-size       14px
//       color           #666

//     .generic-plan-view
//       margin          18px 0 0
//       padding         18px
//       background      #efefef

//       .price
//         right         18px

//   .formline.button-field
//     height            auto !important


//   .kdbutton.buy-packs
//     display           block
//     margin            34px auto 0

// /* Pricing Breadcrumb */
// .pricing-breadcrumb
//   size                100%, auto
//   background          #2d3b3e
//   color               #a4a5a7
//   font-size           14px
//   font-weight         400
//   kalc                padding-left, \(100% \- 1096px\)\/2
//   borderBox()

//   ul
//     fl()
//     margin              40px 0

//     li
//       size              138px, 100px
//       rounded           8px
//       text-align        center
//       line-height       144px
//       position          relative
//       opacity           .4
//       fl()

//       &:after
//         content         ""
//         display         block
//         size            14px, 14px
//         background      #888
//         rounded         50%
//         abs             25px 0 0 62px

//       &.active
//         color           #dddee3
//         background      #232e30
//         opacity         1

//         &:after
//           background    #07b65b

//         &~li
//           opacity       1

//           &:after
//             background  #1e282a
//             opacity     1

//     &.logged-in
//       li.login
//         display       none

//   &.team
//     .details
//       display         block !important
//       visibility      visible !important

//   section
//     size              142px, auto
//     abs               50% 0 0
//     kalc              right, \(100% \- 1096px\)\/2
//     vendor            transform, translateY(-50%)
//     padding           0 0 0 22px
//     border-left       2px solid #404e51
//     color             #dddee3
//     font-size         14px
//     line-height       17px
//     fr()

//     &:before
//       content         ""
//       abs             50% 188px 0 0
//       vendor          transform, translateY(-50%)
//       r-sprite        "pricing", "shopping-bag"

//     h4
//       font-size       inherit
//       color           #00b757
//       margin          0 0 6px

//     span
//       display         block

//     .products
//       font-size       12px
//       opacity         .9

//     .price
//       font-size       12px
//       color           #a4a5a7

//     .checkout-button
//       display         inline-block
//       margin          6px 0 0 !important
//       rounded         4px !important


@media only screen and (min-width : 320px) and (max-width : 568px)
  .content-page.pricing

    section.introduction
      padding-top           174px

      h2
        font-size         26px

      p
        font-size         18px
        line-height       24px

      .multiple-choice a
        width             43%

    section.packs
      h2
        font-size         18px

      .resource-pack
        width             100%
        margin-bottom     24px

        &:first-of-type:before
          display         none


    section.features
      h2
        font-size         18px

      .feature
        display             block
        width               auto
        padding             0 35px 44px 61px

        h5
          font-size         18px

        i
          vendor            transform, scale(.6)
          vendor            transform-origin, 0px 0px


