.CommentListItem
  margin-bottom             15px
  > a
    color                   $feed-link
    font-size               12px
    font-weight             600

  .MediaObject-media
    fl()
    margin-right            8px

  .ProfilePicture
    width                   30px !important
    height                  30px !important

.CommentListItem-body
  padding-left              38px
  font-size                 12px
  color                     $gray-8

  .MessageBody p
    padding                 0
    font-size               12px

.CommentListItem-footer
  padding-left              38px

  a
    pointer()
    dIBlock()
    font-size               14px
    color                   $gray-12
    font-weight             400

    &:before
      dIBlock()
      content:              ""
      size                  3px 3px
      rounded               50%
      bg                    color, $gray-12
      font-size             12px
      margin                0 8px
      vertical-align        middle

.CommentListItem-likeCount
  rel()
  top                       -2px
  height                    16px
  line-height               16px
  rounded                   2px
  font-size                 11px
  padding                   0 4px
  margin-left               5px
  bg                        color, $gray-16
  color                     $gray-6

.CommentListItem-date
  font-size                 $fs-small

