.CommentInputWidget
  rel()
  borderBox()
  padding                   0 16px 16px 16px
  width                     100%

  .MediaObject-media
    fl()
    margin-right            8px

  .ProfilePicture
    width                   30px !important
    height                  30px !important

  .CommentInputWidget-input
    borderBox()
    outline                 none
    border                  1px solid #EAEAEA
    resize                  none
    width                   100%
    height                  30px
    min-height              30px
    padding                 5px 55px 5px 5px
    font-size               12px
    width                   calc(100% \- 50px)

    &:hover
      border                1px solid #dadada

  button
    abs                     0 32px 23px 0
    bg                      color, $gray-18
    color                   $gray-8
    border                  none
    rounded                 3px
    size                    45px 22px
    cursor                  not-allowed
    outline                 none

  button.green
    pointer()
    color                   $white
    bg                      color, $green

    &:hover
      bg                    color, #2dbea1
