.SidebarMessagesSection .SidebarListItem-icon
  display                   inline-block
  width                     10px
  height                    10px
  background-color          $gray-10
  border-radius             100%
  margin                    0 8px 0 2px
  rel()
  top                       4px
  float                     left
