.SidebarMessagesSection .SidebarListItem-icon
  background-color          $gray-10
  border-radius             50%
  display                   inline-block
  height                    10px
  margin                    0 8px 0 2px
  width                     10px