@font-face
  font-family       "Open Sans"
  font-weight       300
  font-style        normal
  src               url("../fonts/OpenSans-Light.woff")

@font-face
  font-family       "Open Sans"
  font-weight       300
  font-style        italic
  src               url("../fonts/OpenSans-LightItalic-small.woff")

@font-face
  font-family       "Open Sans"
  font-weight       400
  font-style        normal
  src               url("../fonts/OpenSans-Regular.woff")

@font-face
  font-family       "Open Sans"
  font-weight       400
  font-style        italic
  src               url("../fonts/OpenSans-Italic-small.woff")

@font-face
  font-family       "Open Sans"
  font-weight       600
  font-style        normal
  src               url("../fonts/OpenSans-Semibold.woff")

@font-face
  font-family       "Open Sans"
  font-weight       600
  font-style        italic
  src               url("../fonts/OpenSans-SemiboldItalic.woff")

@font-face
  font-family       "Open Sans"
  font-weight       700
  font-style        normal
  src               url("../fonts/OpenSans-Bold.woff")

@font-face
  font-family       "Open Sans"
  font-weight       700
  font-style        italic
  src               url("../fonts/OpenSans-BoldItalic.woff")

@font-face
  font-family       "Proxima Nova"
  font-weight       300
  font-style        normal
  src               url("../fonts/ProximaNova-Light.otf")

@font-face
  font-family       "Proxima Nova"
  font-weight       300
  font-style        italic
  src               url("../fonts/ProximaNova-LightItalic.otf")

@font-face
  font-family       "Proxima Nova"
  font-weight       400
  font-style        normal
  src               url("../fonts/ProximaNova-Regular.otf")

@font-face
  font-family       "Proxima Nova"
  font-weight       400
  font-style        italic
  src               url("../fonts/ProximaNova-RegularItalic.otf")

@font-face
  font-family       "Proxima Nova"
  font-weight       600
  font-style        normal
  src               url("../fonts/ProximaNova-Semibold.otf")

@font-face
  font-family       "Proxima Nova"
  font-weight       600
  font-style        italic
  src               url("../fonts/ProximaNova-SemiboldItalic.otf")

@font-face
  font-family       "Proxima Nova"
  font-weight       700
  font-style        normal
  src               url("../fonts/ProximaNova-Bold.otf")

@font-face
  font-family       "Proxima Nova"
  font-weight       700
  font-style        italic
  src               url("../fonts/ProximaNova-BoldItalic.otf")

@font-face
  font-family       "Proxima Nova"
  font-weight       800
  font-style        normal
  src               url("../fonts/ProximaNova-Extrabold.otf")

@font-face
  font-family       "Proxima Nova"
  font-weight       900
  font-style        normal
  src               url("../fonts/ProximaNova-Black.otf")

@font-face
  font-family       "Ubuntu"
  font-style        normal
  font-weight       400
  src               url("fonts/Ubuntu-Regular.ttf")

@font-face
    font-family     "SourceCodePro"
    src             url('fonts/SourceCodePro-Regular-webfont.eot')
    src             url('fonts/SourceCodePro-Regular-webfont.eot?#iefix') format('embedded-opentype')\,
                    url('fonts/SourceCodePro-Regular-webfont.woff') format('woff')\,
                    url('fonts/SourceCodePro-Regular-webfont.ttf') format('truetype')\,
                    url('fonts/SourceCodePro-Regular-webfont.svg#SourceCodeProRegular') format('svg')
    font-weight     normal
    font-style      normal

@font-face
    font-family     "SourceCodePro"
    src             url('fonts/SourceCodePro-Bold-webfont.eot')
    src             url('fonts/SourceCodePro-Bold-webfont.eot?#iefix') format('embedded-opentype')\,
                    url('fonts/SourceCodePro-Bold-webfont.woff') format('woff')\,
                    url('fonts/SourceCodePro-Bold-webfont.ttf') format('truetype')\,
                    url('fonts/SourceCodePro-Bold-webfont.svg#SourceCodeProBold') format('svg')
    font-weight     bold
    font-style      normal

@font-face
    font-family     "UbuntuMono"
    src             url('fonts/UbuntuMono-R-webfont.eot')
    src             url('fonts/UbuntuMono-R-webfont.eot?#iefix') format('embedded-opentype')\,
                    url('fonts/UbuntuMono-R-webfont.woff') format('woff')\,
                    url('fonts/UbuntuMono-R-webfont.ttf') format('truetype')\,
                    url('fonts/UbuntuMono-R-webfont.svg#UbuntuMonoRegular') format('svg')
    font-weight     normal
    font-style      normal

@font-face
    font-family     "UbuntuMono"
    src             url('fonts/UbuntuMono-B-webfont.eot')
    src             url('fonts/UbuntuMono-B-webfont.eot?#iefix') format('embedded-opentype')\,
                    url('fonts/UbuntuMono-B-webfont.woff') format('woff')\,
                    url('fonts/UbuntuMono-B-webfont.ttf') format('truetype')\,
                    url('fonts/UbuntuMono-B-webfont.svg#UbuntuMonoBold') format('svg')
    font-weight     bold
    font-style      normal

@font-face
  font-family       "Bree Serif"
  font-style        normal
  font-weight       400
  src               local('Bree Serif')\, local('BreeSerif-Regular')\, url('fonts/BreeSerif-Regular.ttf')

@font-face
  font-family       "PT Sans"
  font-style        normal
  font-weight       400
  src               url('https://fonts.googleapis.com/css?family=PT+Sans')

@font-face
  font-family       "Droid Sans"
  font-style        normal
  font-weight       400
  src               url('https://fonts.googleapis.com/css?family=Droid+Sans:400')

@font-face
  font-family 'Asap'
  font-style normal
  font-weight 400
  src local('Asap'), local('Asap-Regular'), url(https://themes.googleusercontent.com/static/fonts/asap/v2/nvGvEwsMAvkIa6w2U-PXffesZW2xOQ-xsNqO47m55DA.woff) format('woff')

@font-face
  font-family 'Asap'
  font-style normal
  font-weight 700
  src local('Asap Bold'), local('Asap-Bold'), url(https://themes.googleusercontent.com/static/fonts/asap/v2/QGN0GG0540fyG6NL_PpOpgLUuEpTyoUstqEm5AMlJo4.woff) format('woff')

@font-face
  font-family 'Asap'
  font-style italic
  font-weight 400
  src local('Asap Italic'), local('Asap-Italic'), url(https://themes.googleusercontent.com/static/fonts/asap/v2/QnZU7dKCBgkkMBlac2djsOvvDin1pK8aKteLpeZ5c0A.woff) format('woff')
