.EmbedBox-container
  margin                    14px 0 0
  rel()
  width                     auto
  display                   inline-block

  .close-button
    top                     -8px
    right                   -8px
    border                  none
    outline                 none
    shadow                  0 0 0 2px #ffffff
    z-index                 10
    r-sprite                app "20-close-tab"
    background-color        #ffffff
    rounded                 50%
    abs()
    pointer()

