.EmbedBoxImage
  display                   inline-block
  border                    1px solid lightGray
  overflow                  hidden
  rounded                   3px
  text-align                center
  bg                        color #fafafa

  img
    size                    100% 100%
    vertical-align          text-bottom

