---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v1/auth/grant/sub-key/sub-c-90c51098-c040-11e5-a316-0619f8945a4f?pnsdk=PubNub-Go%2F3.14.0&r=1&timestamp=1457161956&ttl=4&uuid=3a3053a7407da58980129ac89a598c3f&w=1&signature=GsQFhb1S7SW8uR0VTnHLhnbxHfSiJQ_BpUjCx0UPhzw=
    method: GET
  response:
    body: '{"message":"Success","payload":{"level":"subkey","subscribe_key":"sub-c-90c51098-c040-11e5-a316-0619f8945a4f","ttl":4,"r":1,"w":1,"m":0},"service":"Access
      Manager","status":200}'
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v1/auth/grant/sub-key/sub-c-90c51098-c040-11e5-a316-0619f8945a4f?pnsdk=PubNub-Go%2F3.14.0&r=0&timestamp=1457161961&uuid=3a3053a7407da58980129ac89a598c3f&w=0&signature=yO1RPSW9PleUmgt7j_ETv3usQCx8TgSphX8hrDGHdKg=
    method: GET
  response:
    body: '{"message":"Success","payload":{"level":"subkey","subscribe_key":"sub-c-90c51098-c040-11e5-a316-0619f8945a4f","ttl":1,"r":0,"w":0,"m":0},"service":"Access
      Manager","status":200}'
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    status: 200 OK
    code: 200
