


@css {
/*
Account SETTINGS stylesheet
app.settings.styl
*/
}


// Account AppModal Styles

.AppModal--account
  .AppModal-navItem:before
    content                 ''
    display                 inline-block
    vertical-align          sub
    margin-right            13px

  .AppModal-navItem.profile
    &:before
      r-sprite              'account' 'editprofile'

    &.selected:before
      r-sprite              'account' 'editprofile-active'

  .AppModal-navItem.email
    &:before
      r-sprite              'account' 'notifications'

    &.selected:before
      r-sprite              'account' 'notifications-active'

  .AppModal-navItem.externals
    &:before
      r-sprite              'account' 'linkedacc'

    &.selected:before
      r-sprite              'account' 'linkedacc-active'

  .AppModal-navItem.billing
    &:before
      margin-right          19px
      r-sprite              'account' 'billing'

    &.selected:before
      r-sprite              'account' 'billing-active'

  .AppModal-navItem.ssh
    &:before
      r-sprite              'account' 'sshkeys'

    &.selected:before
      r-sprite              'account' 'sshkeys-active'

  .AppModal-navItem.referral
    &:before
      r-sprite              'account' 'referrals'

    &.selected:before
      r-sprite              'account' 'referrals-active'

  .AppModal-navItem.delete
    margin-right            15px
    &:before
      r-sprite              'account' 'terminate'

    &.selected:before
      r-sprite              'account' 'terminate-active'

  .AppModal-content
    min-height               570px

  .AppModal-form
    padding-top              20px

    .formline
      margin-bottom          15px

      &.AppModal-form-sectionHeader
        padding-top          20px

.AppModal--account-avatarArea
  overflow                  hidden
  overflow                  _visible
  zoom                      1

.AppModal--account-avatar
  float                     left
  padding                   0
  margin-right              26px
  background                none

  img
    display                 block
    margin                  0

.AppModal--account-avatarArea-buttons
  overflow                  hidden
  overflow                  _visible
  zoom                      1
  padding-top               16px
  width                     122px

  button.kdbutton.solid.small
    padding                 0
    margin-top              10px
    width                   112px

.AppModal--account-avatarArea-buttons-upload
  opacity                   0
  display                   block
  size                      122px 29px
  abs                       26px 0 0 116px
  cursor                    pointer
  z-index                   10

.AppModal--account-switchList
  div.input-wrapper > ul
    float                   left
  .koding-on-off
    float                   right
    margin-left             75px

  .email-on-off-loader
    display                 none

  li > .title
    overflow                hidden
    overflow                _visible
    zoom                    1
    width                   auto
    color                   #434343
    font-size               14px
    line-height             20px
    margin-top              2px

    small
      font-size             12px
      line-height           18px
      color                 #808080
      margin-top            6px
      display               block

  .kdselectbox
    float                   right
    margin-left             75px
    height                  29px

    .title
      line-height           29px

  li
    display                 block
    overflow                hidden
    overflow                _visible
    zoom                    1
    padding                 16px 0

    & ~ li
      border-top            1px solid #EFEFEF

    &.sub
      border-top            none
      padding-top           0

      > .title
        color               #939393
        margin-top          4px

.kdlistitemview-oauth
  padding                   16px 0 14px !important

  .title
    margin-top              0 !important

    cite
      display               inline-block
      vertical-align        middle

  .icon
    display                 inline-block
    vertical-align          middle
    margin-right            19px

  &.google .icon
    r-sprite                'account' 'ext-gplus'

  &.linkedin .icon
    r-sprite                'account' 'ext-linkedin'

  &.twitter .icon
    r-sprite                'account' 'ext-twitter'

  &.odesk .icon
    r-sprite                'account' 'ext-odesk'

  &.facebook .icon
    r-sprite                'account' 'ext-facebook'

  &.github .icon
    r-sprite                'account' 'ext-github'

.AppModal--account .settings-list-wrapper
  h4.kdheaderview
    font-size               14px
    color                   #787878
    line-height             30px
    padding                 0 0 17px

    > span
      margin                0

    .kdbutton
      float                 right

  section
    margin-bottom           40px

  .subscription
    color                   #434343
    font-size               14px
    line-height             20px
    margin-top              15px

  .no-item-found
    text-align              center
    padding-top             34px
    font-size               14px
    color                   #CBCBCB

  &.ssh-keys
    position                relative

    ul.keys
      padding-top           38px

    h4.kdheaderview
      abs                   0px 0 0 0px
      width                 100%

    .AppModal-form
      margin-bottom         24px

      textarea.kdinput
        height                   180px

  li ~ li
    .ssh-key-item
      border-top            1px solid #EFEFEF

  .ssh-key-item
    font-size               14px
    font-weight             400
    overflow                hidden
    overflow                _visible
    zoom                    1
    padding                 12px 0

    .ssh-key-info
      margin-right          90px

    h4
      display               block
      color                 #434343
      float                 left
      margin-right          15px

    p
      overflow              hidden
      overflow              _visible
      zoom                  1
      display               block
      white-space           nowrap
      text-overflow         ellipsis
      color                 #B3B3B3

    .buttons
      opacity               0
      vendor                transition, opacity .2s ease
      abs                   15px 0px 0 0
      height                16px

      .kdbutton
        background          none
        margin              0 0 0 11px
        padding             0
        height              16px
        border              none
        outline             none

      .kdbutton .icon
        display             inline-block

      .delete .icon
        r-sprite            'account', 'ssh-delete'

      .edit .icon
        r-sprite            'account', 'ssh-edit'

    &:hover .buttons
      opacity               1

  .ssh-key-help
    padding-top                15px
    font-size                  14px
    text-align                 center

    a
      color                    #52a840

  .add-ssh-key-view

    .no-machines-text
      margin-bottom            30px

    .ssh-machine-list

      .ssh-machine-list-header
        padding-bottom         8px
        position               relative

        .ssh-machine-list-tooltip-icon
          display              inline-block
          width                15px
          height               25px
          r-sprite             account help
          margin-left          7px
          vertical-align       text-top

      .ssh-machine-item
        width                  30%
        float                  left

        .checkbox
          display              inline
          width                auto
          position             relative
          margin               0px
          vertical-align       middle

        .kdlabel
          display              inline

      .ssh-machine-list-footer
        clear                  left

.ssh-machine-list-tooltip
  line-height                  18px
  text-align                   left!important

.AppModal--account-tabSpinner
  display                   block !important
  width                     40px
  margin                    0 auto

.AppModal--account .kdbutton.delete-account
  margin-top                14px
  -webkit-transition        -webkit-transform .3s ease
  -moz-transition           -moz-transform .3s ease
  transition                transform .3s ease

  &.escape
    -webkit-transform       translateX(-200px)
    -moz-transform          translateX(-200px)
    transform               translateX(-200px)

.AppModal--account .referral-system

  font-size                 14px

  .initial-loader
    text-align              center
    margin-top              230px

  .top
    height                  150px

  .total-space

    size                    150px, 150px

    border                  1px solid #ccc
    padding                 40px 10px
    text-align              center
    border-radius           4px

    borderBox()
    fl()

    div
      width                 auto
      height                auto

    .total
      font-size             33px
      color                 #449940

    .text
      line-height           20px
      font-size             15px
      color                 #aaa
      padding               15px 5px

  .share-box
    size                    320px, 150px
    margin                  0 20px
    fl()

    > div
      height                auto

    a
      color                 #888
      noTextDeco()

    .subtitle
      color                 #888

    .custom-link-view

      span.icon
        display             inline-block
        margin              7px 3px 3px
        size                26px, 26px

      .google
        r-sprite            'account' 'ext-gplus'

      .linkedin
        r-sprite            'account' 'ext-linkedin'

      .twitter
        r-sprite            'account' 'ext-twitter'

      .facebook
        r-sprite            'account' 'ext-facebook'

      .mail
        r-sprite            'account' 'ext-mail'

  .bottom
    margin                  25px 0
    border-top              1px solid #ddd
    padding-top             25px

  .progress
    padding                 1px 0
    clear                   both
    height                  34px

    .text
      line-height           34px
      fl()

      &.label
        width               170px

      &.value
        width               auto
        text-align          right
        padding-right       15px
        fr()

    .progressbar-container
      background            none
      border                none
      size                  270px, 34px
      fl()

      .bar
        box-shadow          none

  .kdcustomscrollview
    &.has-vertical
      padding-right         0
    .kdscrolltrack.vertical
      right                 -5px
    .lazy-loader
      text-align            center

  .kdscrollview
    max-height              205px
    margin-top              25px
    border-top              1px solid #ddd
    border-bottom           1px solid #ddd

    borderBox()

  .no-referral
    padding                 20px 0
    opacity                 .6

  .referral-item
    display                 flex
    display                 -webkit-flex

    border-bottom           1px solid #ccc
    cursor                  default

    &.header
      padding               10px 0 5px
      > div
        opacity             .6
        color               initial !important

    &.waiting
      > div
        &:nth-child(2)
          color             #F7B91A

    > div
      margin                auto
      width                 120px
      padding               8px 0
      white-space           nowrap
      text-overflow         ellipsis
      overflow              hidden

      span
        opacity             .6
      &:nth-child(1)
        width               240px

      &:nth-child(2)
      &:nth-child(4)
        color               #409531

      &:nth-child(3)
        opacity             .6

      &:nth-child(4)
        text-align          right
        padding-right       15px


.kdmodal.payments-modal
  .kdmodal-content
    overflow-x          hidden

  .payment-method-entry-form

    .kdbutton.solid
      rounded           3px

      &.green
        background      #61C17F

      &.red
        background       #D75B5B

      &.medium
        height           40px
        line-height      42px

    .formline
      padding            0
      margin             0 0 16px
      borderBox()

      .input-wrapper
        margin           0

      &.section-header
        width            100%
        clear            both
        margin-bottom    21px
        margin-top       21px

      &.button-field
        clear            both
        border           none
        margin-top       6px

        .kdbutton
          margin-left    6px

        .to-left
          margin-left    0

      .kdheaderview
        display          block
        font-size        14px
        line-height      19px
        size             auto, auto
        color            #4C4C4C
        margin           0
        padding          0
        border           none
        font-weight      600

        span
          margin         0
          padding        0

    .kdlabel
      font-size            14px
      color                #8D8D8D
      float                none
      line-height          19px
      margin               0 0 7px
      font-weight          200

    .kdinput.text
      rounded              3px
      background           transparent
      border               1px solid #C9C9C9
      padding              8px 13px 10px
      font-size            14px
      line-height          19px
      color                #4C4C4C
      font-weight          600
      opacity              .99
      margin               0


    .formline
      width              50%
      padding-right      17px
      fl()

      &.cardstate
        width            25%

      &.cardcountry
        width            25%

      &.cardmonth
        width            16.6%

      &.cardyear
        width            16.6%

      &.cardcv
        width            16.6%

      &.captcha
        width            100%
        border           none

        .recaptchatable
          border            none !important
          tr
            height          auto

          td
            padding         0 !important
            margin          0 !important

          td.recaptcha_image_cell
          td.recaptcha_image_cell ~ td
            padding         0 20px 16px 0 !important

        .recaptcha_input_area
          padding           0 !important
          margin            0 !important

        #recaptcha_response_field
          rounded           3px
          background        transparent
          border            1px solid #C9C9C9 !important
          padding           8px 13px 10px
          font-size         14px
          line-height       19px
          color             #4C4C4C
          font-weight       600
          opacity           .99
          margin            0
          height            auto
          outline           none
          borderBox()

          &::-webkit-input-placeholder
            color           #93979a
            font-weight     300
          &:-moz-placeholder
            color           #93979a
            font-weight     300

          &:hover
            border          1px solid #aaa !important

          &:focus
            border          1px solid rgba(125,190,241,1) !important
            shadow          0 0 3px rgba(125,190,241,.7)

            &::-webkit-input-placeholder
              opacity       0.5
            &:-moz-placeholder
              opacity       0.5

    .section-header
      width              100%

    .button-field
      width              100%
