.Homepage-Columns {
  padding: 28px 0 74px 0;
}
.Homepage-Columns .Homepage--container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Homepage-Column {
  flex: 0 0 auto;
  width: 30%;
  box-sizing: border-box;
  padding-left: 48px;
  position: relative;
  margin-bottom: 94px;
  img {
    position: absolute;
    left: 0;
    top: 0;
  }
  h4 {
    font-weight: 500;
    font-size: 20px;
    color: $title-color;
    letter-spacing: 0;
    margin-bottom: 13px;
  }
  p {
    line-height: 26px;
  }
}