.Homepage-LogoBar {
  padding: 27px 0;
  .Homepage--container {
    max-width: 1200px;
  }
  h3 {
    margin-top: -4px;
    margin-bottom: 58px;
    font-size: 14px;
    color: #B3B3B3;
    letter-spacing: 0px;
    text-align: center;
    padding: 0 28px;
    line-height: 22px;
  }
  .Homepage-LogoBar--content {
    flex: 1;
    max-width: 500px;
    margin-right: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 15px;
    flex-direction: row;
    h3 {
      color: #DB881F;
      font-family: "fira-sans", "proxima-nova", Helvetica, Arial, sans-serif;
      font-size: 32px;
      font-weight: 400;
      padding: 0;
      line-height: 1.4;
      text-align: left;
      margin-bottom: 40px;
    }
    .Homepage-LogoBar--logos {
      flex: 1;
      img {
        margin: 0 25px 50px;
      }
    }
  }
  p {
    color: #1E2E42;
    opacity: 0.8;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.4;
  }
}

.Homepage-LogoBar--logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  img {
    flex: 0 0 auto;
    margin: 0 30px 30px;
  }
}

.Homepage-LogoBar-Gray {
  background-color: #FBF9FC;
  padding: 90px 0;
}

.Homepage-LogoBar-Gray h3 {
  font-family: "fira-sans", "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 28px;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 40px;
  color: #9B75B0;
}

@media (max-width: 1200px) {
  .Homepage-LogoBar--logos {
    img {
      margin: 0 0 30px;
      width: 30%;
    }
  }
  .Homepage-LogoBar {
    &.features {
      flex-direction: column;
      .Homepage-LogoBar--content {
        max-width: none;
        margin: 0 0 50px;
        h3, p {
          text-align: center;
        }
      }
      .Homepage-LogoBar--logos {
        img {
          margin: 0 0 30px;
        }
      }
    }
  }
}

@media (max-width: 660px) {
  .Homepage-LogoBar--logos {
    img {
      width: 100%;
    }
  }
}
