.Homepage-LogoBar {
  padding: 27px 0;
  .Homepage--container {
    max-width: 1200px;
  }
  h3 {
    margin-top: -4px;
    margin-bottom: 58px;
    font-size: 14px;
    color: #B3B3B3;
    letter-spacing: 0px;
    text-align: center;
    padding: 0 28px;
    line-height: 22px;
  }
}
.Homepage-LogoBar--logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  img {
    flex: 0 0 auto;
  }
}
@media (max-width: 1199px) {
  .Homepage-LogoBar--logos img {
    max-width: 110px;
  }
}
.Homepage-LogoBar-Gray {
  background-color: #F5F9FB;
  border-top: 1px solid #E8ECEE;
  border-bottom: 1px solid #E8ECEE;
  padding-bottom: 75px;
}

.Homepage-LogoBar-Gray h3 {
  font-size: 18px;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 40px;
  color: #989898;
}
@media (max-width: 767px) {
  .Homepage-LogoBar--logos {
    flex-direction: column;
    justify-content: center;
  }
  .Homepage-LogoBar--logos img {
    max-width: none;
    max-height: 40px;
    height: 40px;
  }
  .Homepage-LogoBar-Gray {
    padding-bottom: 30px;
  }
  .Homepage-LogoBar h3 {
    letter-spacing: -1px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 25px;
    margin-right: 25px;
  }
}
