.Homepage-outro {
  background-color: #FFFFFF;
  padding: 83px 0 85px;
  text-align: center;
  > h3 {
    margin: 22px auto 40px;
  }
  h4 {
    font-weight: 600;
    font-size: 18px;
    color: #AAB2B9;
    letter-spacing: 1px;
  }
}