.Homepage-use-cases {
  background-image: linear-gradient(-45deg, #2A3445 0%, #62476B 100%);
  padding: 114px 0 80px;
  text-align: center;
  > h4 {
    font-weight: 600;
    font-size: 18px;
    color: #AAB2B9;
    letter-spacing: 1.5px;
  }
  > h3 {
    font-size: 32px;
    color: #FFFFFF;
    margin: 16px 0 33px;
  }
  hr {
    height: 1px;
    border: 0;
    background: rgba(255,255,255,.1);
    margin: 100px 0 74px;
  }
  h6 {
    font-size: 22px;
    color: #989898;
    line-height: 28px;
  }
  .actions {
    margin: 59px 0 0;
    a.secondary {
      margin-left: 20px;
    }
  }
  .cases {
    display: flex;
    justify-content: space-between;
    > div {
      flex: 0 0 auto;
      width: 260px;
    }
    h3 {
      font-weight: 600;
      font-size: 20px;
      color: #FFFFFF;
      margin-bottom: 15px;
    }
    p {
      color: #AAB2B9;
      line-height: 26px;
    }
  }
}