{{define "content"}}
<tr class="content">
  <td class="time">
    <a href='#'>{{.ActivityTime}}</a>
  </td>
  <td style="padding-left: 10px; color: #666; " colspan="2">
      {{template "gravatar" . }}
      <div style="line-height: 20px; padding-left:28px; padding-top:4px;">
        <a href="{{.Uri}}/{{.ActorContact.Username}}">
          {{.ActorContact.FirstName}} {{.ActorContact.LastName}}
        </a>
        {{.Action}}
        {{template "object" . }}
        {{template "group" . }}
      </div>
      {{template "preview" . }}
  </td>
</tr>
{{end}}