{{define "footer"}}
<!-- FOOTER -->
<tr height="90%" class="footer-before">
  <td></td>
  <td height="40px" colspan="2"></td>
</tr>
<tr class="footer">
  <td></td>
  <td colspan="2">
    {{template "unsubscribe" . }}
    <br/>
    <a href="{{.Uri}}">Koding</a>,
     Inc. 358 Brannan, San Francisco, CA 94107
  </td>
</tr>
{{end}}