
{{define "gravatar"}}
<img width="{{.Size}}px" height="{{.Size}}px" style="border:none; margin-right:8px; float:left; margin-top:3px;"
          src="https://gravatar.com/avatar/{{.ActorContact.Hash}}?size={{.Size}}&d=https%3A%2F%2Fapi.koding.com%2Fimages%2Fdefaultavatar%2Fdefault.avatar.{{.Size}}.png" />
{{end}}