
{{define "gravatar"}}
<img width="{{.Size}}px" height="{{.Size}}px" class="gravatar"
          src="https://gravatar.com/avatar/{{.ActorContact.Hash}}?size={{.Size}}&d=https%3A%2F%2Fkoding-cdn.s3.amazonaws.com%2Fimages%2Fdefault.avatar.{{.Size}}.png" />
{{end}}