<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
        "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head><title>[Koding]</title></head>
<body>
  <table class="main-table" cellspacing="0">
    <!-- HEADER -->
    <tr>
      <td style="width: 58px; text-align:right; border-right: 1px
                 solid #CCC; margin-left:12px; vertical-align:top;">
        <!-- Koding Logo with pure table -->
        <table width="40px" height="40px" class="logo" cellspacing="2" cellpadding="2">
          <tr class="bar-0">
              <td height="1px" colspan="3">&nbsp;</td>
          </tr>
          <tr class="bar-1">
              <td height="1px">&nbsp;</td>
              <td height="1px" colspan="2">&nbsp;</td>
          </tr>
          <tr class="bar-2">
              <td height="1px" colspan="3">&nbsp;</td>
          </tr>
        </table><br/>
      </td>
      <td style="padding: 6px 0 0 10px; padding-bottom:20px; margin-top: 0;">
        <h2 style="margin-top:0; ">Hello {{.FirstName}},</h2>
        <p>{{.Description}}</p>
      </td>
      <td style="text-align:center; width:90px; vertical-align:top;">
        <p style="font-size: 11px; color: #999;
                  padding: 0 0 2px 0; margin-top: 4px;">{{.CurrentDate}}</p>
      </td>
    </tr>
    {{.Content}}
    {{template "footer" . }}
  </table>
</body>
</html>