<div style="padding:10px; margin-left:28px; color:#777;
            margin-bottom:6px; margin-top: 4px;
            font-size:12px; background-color:#F8F8F8;
            border-radius:4px;">
{{.Message}}</div>