{{define "unsubscribe"}}
Unsubscribe from <a href="{{.Uri}}/Unsubscribe/{{.Unsubscribe.Token}}/{{.Unsubscribe.Recipient}}">{{.Unsubscribe.ContentType}}</a> notifications / Unsubscribe from <a href="{{.Uri}}/Unsubscribe/{{.Unsubscribe.Token}}/{{.Unsubscribe.Recipient}}/all">all</a> emails from Koding.
{{end}}