{{define "unsubscribe"}}
Unsubscribe from <a href="{{.Uri}}/Unsubscribe/{{.Token}}/{{.Recipient}}" style="text-decoration:none; color:#1AAF5D;">{{.ContentType}}</a> notifications / Unsubscribe from <a href="{{.Uri}}/Unsubscribe/{{.Token}}/{{.Recipient}}/all" style="text-decoration:none; color:#1AAF5D;">all</a> emails from Koding.
{{end}}