{{define "unsubscribe"}}
Unsubscribe from <a href="{{.Uri}}/Unsubscribe/{{.Unsubscribe.Token}}/{{.Unsubscribe.Recipient}}" style="text-decoration:none; color:#1AAF5D;">{{.Unsubscribe.ContentType}}</a> notifications / Unsubscribe from <a href="{{.Uri}}/Unsubscribe/{{.Unsubscribe.Token}}/{{.Unsubscribe.Recipient}}/all" style="text-decoration:none; color:#1AAF5D;">all</a> emails from Koding.
{{end}}