.previewer-body
  width               100%
  height              100%

// 
// .previewer-wrapper
//   
//   .previewer-header
//     width               100%
//     height              40px
//     border              1px solid #ddd
//     
//   .previewer-body
//     width               100%
//     height              100%
//     border              1px solid #ddd
//     border-top-width    0
//     box-sizing          border-box