@import "./kdfn"
@import "./client/stylus/appfn"

@css {
/*
CONTEXT MENU stylesheet
app.contextmenu.styl
*/
}

.jcontextmenu .kdtreeitemview.disabledForBeta
  opacity         .5


.kdview.jcontextmenu.kdbuttonmenu.top-menu.editor-advanced-settings-menu
  rounded                 5px 5px 0 5px

.editor-advanced-settings-menu
  background              #f5f5f5
  shadow                  0 0 20px rgba(100, 100, 100, .75)

  .ace-settings-view
    padding               5px 0
    min-width             250px
    line-height           20px
    borderBox()

    hr
      margin              3px 10px

    p
      font-size           12px
      padding             3px 20px
      borderBox()
      .on-off
        width             52px
        margin            0
        fr()
        a
          padding         5px 0px 4px 0px
          width           24px
      a.shortcuts
        color             #444
        noTextDeco()

    .kdview.section
      margin              0 10px 0 0
      size                auto,auto
      display             inline-block
      fr()
      .kdselectbox
        width             110px
        margin            0
        display           block

    .kdselectbox
      min-width           110px
      fr()
      span.title
        font-weight       normal
        height            19px
        line-height       20px
      span.arrows
        top               0

    &.webterm-settings-view
      .kdselectbox
          min-width           130px

  .context-menu-item
    margin-left           10px
    line-height           19px
    fl()
    a
      font-size           12px
      color               #444
      cursor              default
      noTextDeco()

.editor-button.save-menu
  .kdtreeitemview
    min-width           140px
    padding             3px 0
  .context-menu-item
    margin-left       10px
    line-height       19px
    fl()
    a
      font-size       12px
      color           #444
      cursor          default
      noTextDeco()
  .on-off
    width             52px
    margin            0 10px 0 0
    fr()
    a
      padding         5px 0px 4px 0px
      width           24px
