@import "./kdfn"
@import "./client/stylus/appfn"

@media only screen and (min-width: 1024px) and (max-width: 1200px)

  #kdmaincontainer.home > header
    bg              position, 45% -211px

  .content-area-pane.activity
    #content-page-activity
      &.fixed
        .update-widget-tabs
          .kdtabpaneview
            kalc            width, 100% \- 50px

  .kdview.login-screen.home
    .flex-wrapper
      margin-bottom       30px
