@import "../../Framework/src/themes/default/kdfn"
@import "../styl/appfn"

@css {
/*
Account Menu Dropdowns stylesheet
resurrection.account.dropdown.styl
*/
}
.avatararea-popup
  size                    232px, auto
  bottom                  59px
  left                    26px
  bg                      color, #1A1A1A
  z-index                 100
  display                 none
  shadow                  0 2px 13px rgba(0, 0, 0, 0.5)
  borderBox()
  fix()

  &.active
    display               block

  .content
    padding               13px
    width                 auto

    > a
      size                auto, 31px
      line-height         31px
      rounded             3px
      display             block
      color               #fff
      font-size           14px
      font-weight         400
      opacity             .99
      text-indent         9px
      noTextDeco()

      &:hover
        bg                color, #424242


.go-back-survey
  a
    color #3aaaab
    noTextDeco()
