@import "../../Framework/themes/default/kdfn"
@import "../styl/appfn"
@import "../styl/app.fonts"

@css {
/*
MAIN APP stylesheet
resurrection.styl
*/
}

// When app class is added to html tag
// layout becomes 100% width and height
// so that apps can control their own
// scrollviews and add their chrome frames
html.app
  height            100%
  body
    height          100%

body
  font-family       'Helvetica Neue'
  bg                color, #EEEEEF

.no-anim
  noAnim()

#kdmaincontainer
  width             auto

#main-header
  margin            0
  bg                color, #111617
  size              100%,61px
  z-index           1000
  overflow          visible
  fix()

#dock
  size              auto, auto
  kalc              width, 100% \- 380px
  overflow          visible
  position          relative
  fl()


#main-panel-wrapper
  overflow          visible
  display           block
  top               0
  left              0

#koding-logo
  size              61px, 61px
  fl()

  cite
    sprite          app logo
    margin          21px 0 0 21px
    display         block

#main-nav
  size              100%, 61px
  overflow          visible
  fl()
  > a
    abs()
    display         block
    size            61px, 61px
    vendor          transition, top .2s linear\,\
                                left .2s linear
    cite
      hidden()
    .icon
      margin        14px 17px 15px 12px
      display       block
    &.selected
      bg            color, #EEEEEF
      &.editor
      &.terminal
        bg          color, #252E30
    &.activity .icon
      sprite      app nav-activity
    &.develop .icon
      sprite      app nav-develop
    &.topics .icon
      sprite      app nav-topics
    &.editor .icon
      sprite      app nav-editor
    &.terminal .icon
      sprite      app nav-terminal
    &.apps .icon
      sprite      app nav-apps
    &.finder .icon
      sprite      app nav-apps

.account-area
  vendor            transform-style, preserve-3d
  vendor            perspective, 300px
  vendor            transition, right .5s ease
  top               0
  right             0
  abs()
  > div
    display         inline-block
    width           auto
    vertical-align  top

  .acc-dropdown-icon
    size            45px, 61px
    display         inline-block
    .count
      cite
        display     none
    .icon
      margin        20px 12px 21px 13px
      size          20px, 20px
      display       block
    &.account .icon
      sprite        app account-cog
    &.notifications .icon
      sprite        app account-notifications
    &.messages .icon
      sprite        app account-messages
    &.search .icon
      sprite        app account-search
    &.groups
      abs()
      top           20px
      right         10px
      size          20px, 20px
      .icon
        margin      0
        sprite      app '20-chevron-gray'

  .search-form-container
    bg                 color, #445053
    size               400px, 61px
    opacity            0
    vendor             transform, rotateY(90deg)
    vendor             transform-origin-x, 0
    vendor             backface-visibility, hidden
    -webkit-transition -webkit-transform .5s ease \,\
                       opacity .5s ease
    top                0
    left               100%
    abs()
    borderBox()

    .kdinput
      size             100%, 61px
      border           none
      shadow           none
      text-indent      14px
      bg               color, transparent
      color            #9caeb3
      font-size        16px

      &:hover
        border         none

      &:focus
        shadow         none
        border         none

  .account-menu
    vendor             transform-origin-x, 274px
    vendor             backface-visibility, hidden
    -webkit-transition -webkit-transform .5s ease \,\
                       opacity .5s ease

  .avatar-area
    bg                 color, #445053
    padding            10px 12px
    height             61px
    min-width          180px
    opacity            1
    vendor             transform-origin-x, 100%
    vendor             backface-visibility, hidden
    -webkit-transition -webkit-transform .5s ease \,\
                       opacity .5s ease
    borderBox()
    rel()

    .avatarview
      margin-right    10px
      fl()
    section
      width           auto
      display         block
      overflow        hidden
      h2, h3
        margin        0
        line-height   20px
      h2
        font-size     13px
        font-weight   400
        a
          color       rgba(255, 255, 255, .8)
          noTextDeco()
      h3
        color         rgba(255, 255, 255, .5)
        font-size     12px
        font-weight   300

  &.search-open
    right             400px

    .account-menu
    .avatar-area
      vendor          transform, rotateY(-90deg)
      opacity         0

    .search-form-container
      vendor          transform, rotateY(0deg)
      opacity         1


#kdmaincontainer.logout-tv
  vendor                  animation, logoutTv .5s 1 forwards ease
  &~.turn-off-line
    top                   50%
    left                  0
    size                  100%, 2px
    background            #fff
    opacity               0
    z-index               1000
    vendor                animation, logoutTvLine .3s .35s 1 forwards ease
    abs()
    &:after
      content             ""
      display             block
      margin              -3px auto 0
      size                50%, 6px
      background          #fff
      rounded             100%
      box-shadow          0 0 20px 10px rgba(255,255,255,.6)
  &~.turn-off-dot
    top                   50%
    left                  50%
    bg                    color, #fff
    rounded               20px
    size                  10px, 10px
    margin-top            -5px
    vendor                transform, scaleX(0) scaleY(0)
    shadow                0 0 8px #fff
    vendor                animation, logoutTvDot .3s .6s 1 forwards ease
    z-index               1000
    abs()

#kdmaincontainer.scale
    vendor            animation, shrink 1s ease-out
    vendor            animation-iteration-count, 1
    vendor            transform-style, preserve-3d
    vendor            transform, scale(0)
