@import "../../Framework/src/themes/default/kdfn"
@import "../../Core/styl/appfn"

@css {
/*
Account Menu Dropdowns stylesheet
resurrection.account.dropdown.styl
*/
}
.avatararea-popup
  size                    258px, auto
  bottom                  60px
  left                    0
  bg                      color, #1D1D1D
  z-index                 100
  display                 none
  borderBox()
  fix()

  &.active
    display               block

  .content
    padding               13px
    width                 auto
    color                 #A0A0A0

    > a
      size                auto, 31px
      line-height         30px
      rounded             3px
      display             block
      color               #fff
      font-size           14px
      font-weight         400
      opacity             .99
      text-indent         9px
      noTextDeco()

      &:hover
        bg                color, #424242

      &.support
        border-bottom     1px solid #424242


.notification-list
  .no-item-found
    font-size     12px
    text-align    center
    padding       10px
    borderBox()

  .lazy-loader
    display       none

.notification-list .kdlistitemview
  display         block
  min-height      35px
  font-size       12px
  cursor          pointer
  line-height     12px

  &:hover
    bg            color, #1A1A1A

  .right-overflow
    width         198px

  .avatar-wrapper
    margin-right  10px

  .link-group
    display       inline-block

  a.profile
    color         #1aaf5d
    font-weight   400
    noTextDeco()

  time
    color         #6A6A6A
    font-size     10px
    font-weight   600
    opacity       .99

.go-back-survey
  a
    color #3aaaab
    noTextDeco()
