@import "../../Framework/themes/default/kdfn"
@import "../styl/appfn"
@import "../styl/app.fonts"

@css {
/*
Account Menu Dropdowns stylesheet
resurrection.account.dropdown.styl
*/
}

.avatararea-popup
  height                    auto
  border                    none
  overflow                  visible
  top                       68px
  width                     280px
  z-index                   -1
  opacity                   0
  transition                opacity .2s ease-out, z-index .01s .2s
  vendor                    perspective, 600px
  vendor                    transform-style, preserve-3d
  fix()
  &.active
    z-index                 1000
    opacity                 1
    transition-delay        0s

    .content
      vendor                transform, rotateX(0deg)

  .kdview.kdlistview
    margin                  0
  .tab
    cursor                  pointer
    border-bottom           none
    rel()
    top                     -67px
    text-align              center
    z-index                 1
    size                    70px, 70px
    bg                      color,#212932
    span
      margin-top            22px
      size                  20px, 20px
      blockMid()
  .content
    margin-top              -68px
    shadow                  0 0 21px 10px rgba(0,0,0,0.18)
    size                    100%, auto
    bg                      color, #212932
    rounded                 0 0 5px 5px
    vendor                  transform, rotateX(-90deg)
    vendor                  transform-origin-y, 0
    -webkit-transition      -webkit-transform .3s ease
    -moz-transition         -moz-transform .3s ease
    transition              transform .3s ease
    borderBox()

  &.notifications
    .content
      right                 209px

  &.notifications
    right                   99px
    .tab span
      margin                24px 0 0 7px
      sprite                app account-notifications

  &.group-switcher
    right                   70px
    width                   238px
    rounded                 0 0 5px 5px
    .tab
      hidden()
    .content
      margin-top            2px
      bg                    color, #212932
      color                 rgba(255, 255, 255, .8)
      shadow                none

    a.separator
      border-top           1px solid #3c4647

    .avatararea-popup-list li a
    a.bottom
      display               block
      padding               10px 12px
      color                 white
      font-size             13px
      font-weight           300
      text-decoration       none
      &:hover
        text-decoration     underline
      span
        font-weight         300
        color               white

    .avatararea-popup-list
      li
        padding             0
        border-bottom       none
        a.fr
          abs()
          top               7px
          right             10px
        span.avatar
          border            1px solid #e3e3e3
          margin-right      10px
          size              20px, 20px
        .custom-link-view .icon.new-page
          bg                position, -180px -520px
          opacity           .2
        .custom-link-view .icon.dashboard-page
          bg                position, -180px -440px
          opacity           .2
        .buttons
          fr()
          button span.accept
            bg              position, -80px -500px
          button span.ignore
            bg              position, -80px -480px

  .sublink
    font-size             11px
    padding               7px 12px
    font-weight           400
    width                 auto
    text-align            center
    rounded               0 0 3px 3px
    bg                    color, #12171c
    &.top
      color               #8f98a1
      bg                  color, #212932
      border-top-width    0
      rounded             0
    span.icon
      top                 4px
      right               4px
      size                20px, 20px
      opacity             .5
      // sprite()
      abs()
      &.help
        bg                position, -140px -460px

  .sublink a
    color                 #8f98a1
    noTextDeco()

  .input-with-extras
    textarea
      font-size             12px !important
      color                 #5a5a5a !important


.avatararea-popup-list
  margin              0
  li
    border-bottom       1px solid #e0e0df
    padding             8px 10px
    list-style          none
    font-size           11px
    line-height         15px
    color               #8e8e8e
    cursor              default
    borderBox()
    span.icon.notification-type
      abs()
      top               33px
      left              35px
      size              20px, 20px
      display           block
      z-index           1

      // sprite()
    &.comment
      span.icon
        bg              position, -80px -580px
    &.like
      span.icon
        bg              position, -80px -560px
    &.follow
      span.icon
        bg              position, -100px -580px
    &.reply
      span.icon
        bg              position, -140px -540px
    &.groupJoined, &.groupLeft
      span.icon
        bg              position, -60px -580px


    span.avatar
      border            1px solid #e3e3e3
      padding           1px
      margin-right      10px
      display           block
      bg                size, cover
      bg                position, center
      size              40px, 40px
      fl()
    &.unread
      background          rgba(250, 239, 223, .5)
      border-left         3px solid #ff9200
      padding             8px 10px 8px 7px
    p
      max-height          46px
      overflow            hidden
      color               #8e8e8e
      span.profile
        color             linkColor1
    a
      color               linkColor1
      text-decoration     none
      font-weight         600
      &:hover
        text-decoration   underline
      span
        color             linkColor1
    footer
      div
        color             #8e8e8e
      div > span
        color             #393939
        margin-top        0px
        font-size         10px
        // blockMid()
      time
        display           block
        // blockMid()
