@import "../../Framework/src/themes/default/kdfn"
@import "../styl/appfn"
@import "../styl/app.fonts"

@css {
/*
Commons stylesheet
resurrection.commons.styl
*/
}

body.dashboard
body.account
body.apps
body.environments
body.profile
  bg                    color #e4e4e4

html.app
body.activity
body.dashboard
body.account
body.apps
body.environments
  #main-header
    nav
      margin            -37px 18px 0 0


.avatarview
  background-image          url('/a/images/defaultavatar/avatar.svg')
  background-size           100% 100%
  background-repeat         no-repeat
  overflow                  hidden
  display                   block
  vertical-align            top
  rounded                   50%
  img
    // to avoid chrome's weird rendering bug
    // where it first shows the image as a square
    // then hides the corners to make them rounded - SY
    // - fixed the line below.
    rounded                 50%
    vendor                  transition, opacity .3s ease

.content-page
  max-width                 1146px
  margin                    0 auto
  padding                   55px 20px 0
  size                      auto auto

  > aside.kdview

    width                 190px
    height                auto
    padding               3px
    fl()
    borderBox()

    nav
      width               190px
      border-right        1px solid #D6D6D6
      fix()

  .kdlistview-inner-nav

    hr
      margin              10px 20px 10px 0
      height              1px
      bg                  color #E0E0E0
      border              none

    a
      display             block
      color               #828B8B
      line-height         40px
      noTextDeco()
      &.selected
        color             #65AE62

  > .kdtabview
    margin-left         64px
    height              100%
    kalc                width, 100% \- 254px
    font-size           14px
    fl()


.application-page
  width                     100%
  z-index                   10
  borderBox()

.application-tabview
  kalc                      height, 100% \- 40px
  bg                        color, #1b2224


a.custom-link-view.border-only-green
  display             block
  margin              0 auto 46px
  background          transparent
  border              2px solid #3bc079
  rounded             4px
  padding             10px 32px
  width               200px
  clear               both
  font-size           16px
  text-transform      uppercase
  text-decoration     none

  .title
    color             #01ae57
    font-size         16px

  &:hover
    background        #3bc079
    text-decoration   none

    .title
      color           #fff

/* Activity item menu */

.kdcontextmenu.resurrection
  width                 130px
  margin                7px 0 0 18px
  rounded               6px
  border                1px solid #e4e4e4
  shadow                0 8px 35px rgba(0, 0, 0, .22)
  padding               5px 0

  &:after
    content             ""
    display             block
    size                0 0
    right               19px
    bottom              100%
    border              7px solid transparent
    border-bottom-color #fff
    z-index             600
    abs()

  &:before
    content             ""
    display             block
    size                0 0
    right               18px
    bottom              100%
    border              8px solid transparent
    border-bottom-color #e4e4e4
    z-index             599
    abs()

  &.comment-menu
    margin              0 0 0 16px

  .kdlistitemview-contextitem.default
    color               #50595f
    font-size           12px
    line-height         24px
    cursor              pointer
    padding             0 0 0 12px

    .icon
      margin            0 7px 0 0
      display           inline-block
      vertical-align    sub
      &.edit
        r-sprite        app "edit-icon"
      &.delete
        r-sprite        app "delete-icon"

    &:hover
    &.selected
      bg                color, #F8f8f8
      text-shadow       none
      color             #50595f

  .chevron-ghost-wrapper
    opacity           0

.kdtabhandlecontainer.application-tab-handle-holder

  bg                        color, #252E30
  border-bottom             none
  padding-top               3px
  height                    40px
  overflow                  hidden
  noTextSelection()
  borderBox()

  .kdtabhandle-tabs
    vendor                  transition, margin-left .3s ease

  .kdtabhandle-movenav
    width                   33px
    height                  40px
    padding                 8px
    background              #252E30
    right                   0
    top                     3px
    z-index                 11
    abs()

    .leftButton
      bg                    color, transparent
      r-sprite                app 'previous'
      fl()

    .rightButton
      bg                    color, transparent
      r-sprite                app 'next'
      margin-left           10px
      fl()


  .kdtabhandle
    border                  none
    height                  37px
    line-height             37px
    font-size               14px
    font-family             'Proxima Nova'
    font-weight             300
    color                   #5e7074
    &:hover
      span.close-tab
        opacity             1
    span.close-tab
      top                   8px
      right                 8px
      bg                    color, transparent
      r-sprite                app '20-close-tab'
      opacity               0

    &.plus
      bg                    color, transparent
      border-left           2px solid #1b2224
      width                 37px
      padding               0
      .icon
        r-sprite              app '20-tab-plus'
        margin              8px 9px 9px 8px
        display             block
    &.active
      bg                    color, #1b2224
      color                 #eeeeee
      span.close-tab
        top                 8px
        right               8px
        bg                  color, transparent
        r-sprite              app '20-close-tab'
    &.modified:before
      content               ""
      size                  5px, 5px
      rounded               50%
      background            #616f74
      abs                   14px 0 0 5px
      fl()


.header-facets
  right                     0
  top                       67px
  size                      auto auto
  z-index                   3
  line-height               28px
  height                    28px
  abs()
  span.title
    margin-right            8px
    text-transform          uppercase
    font-size               10px
    font-weight             600
    color                   #ddd
  a.active-facet
    rel()
    display                 inline-block
    text-decoration         none
    font-weight             600
    margin-right            20px
    padding-right           16px
    font-size               12px
    line-height             28px
    color                   linkColor1
    cite
      abs()
      top                   4px
      right                 0
      display               block
      r-sprite              app '20-chevron-orange'
      size                  16px 20px

div.copy-url-wrapper
  width 320px
  padding 2px 5px 2px 10px

  div.public-url-warning
    color black

  label.public-url-label
    display inline-block
    vertical-align bottom
    font-size 12px
    font-weight 400
    margin-bottom 1px
    color black

  input.kdinput.public-url-input
    borderBox()
    // text-align center
    // margin 10px
    display inline-block
    min-width 233px

  .icon-link
    abs                     4px, 4px
    .icon.new-page
      opacity               .4
      background-position   -180px -280px
      &:hover
        opacity             1
        background-position -180px -260px

button.app-settings-menu
  background-color    transparent !important
  z-index             100
  position            absolute
  top                 55px
  right               0
  width               40px !important
  height              40px
  rounded             0
  box-shadow          none
  padding             0
  border              none
  .icon
    padding           0
    bg                color, red
    r-sprite            app 'global-app-settings'
  &:focus
    border            none
    shadow            none

//
// THIN BUTTON STYLES
//
.kdbutton.thin
  bg                   color transparent
  border               2px solid logoBg
  rounded              28px
  padding              0
  height               55px
  borderBox()
  span.button-title
    padding            0
    color              logoBg
    font-size          18px
    text-decoration    uppercase
    letter-spacing     1px
  &:hover
    bg                 color white
  &:active
    bg                 color logoBg
    span.button-title
      color            white
  &:focus
    shadow             0 0 10px -2px logoBg

//
// SOLID BUTTON STYLES
//

.kdbutton.solid
  bg                   color #3c4043
  border               none
  rounded              4px
  padding              0 20px
  margin               0
  height               55px
  borderBox()
  span.button-title
    padding            0
    color              rgba(227, 227, 227, 0.8)
    font-size          18px
    letter-spacing     .6px
    line-height        55px
    text-rendering     geometricPrecision
  span.icon
    margin             18px 0 0 0
  &:hover
    bg                 color #4A4E52
  &:active
    bg                 color logoBg
    span.button-title
      color            white
  &:focus
    shadow             0 0 10px -2px logoBg
  &.icon-only
    span.icon
      margin           0

.kdbutton.solid.green
  bg                   color logoBg
  span.button-title
    color              white
  &:hover
  &:active
  &:focus
    bg                 color #2DBEA1
    span.button-title
      color            white
  &:focus
    shadow             0 0 10px -2px logoBg

.kdbutton.solid.compact
  height               30px
  padding              0 16px
  span
    line-height        30px
    font-size          12px

.kdbutton.compact.light-gray
  bg                   color, transparent !important
  border               2px solid #CBCBCB
  span
    color              #858585 !important
    line-height        26px

.kdbutton.solid.yellow
  bg                   color #ff9f00
  span.button-title
    color              #ac4a00
  &:hover
  &:active
  &:focus
    bg                 color #ac4a00
    span.button-title
      color            #ff9f00
  &:focus
    shadow             0 0 10px -2px #ff9f00

.kdbutton.solid.clear
  bg                   color transparent
  rounded              0
  span.button-title
    color              #444
  &:hover
  &:active
  &:focus
    background         none
    shadow             none
    span.button-title
      color            #222

.kdbutton.solid.light-gray
  bg                   color #C0C0C0
  span.button-title
    color              white
  &:hover
  &:active
  &:focus
    bg                 color #a0a0a0
    span.button-title
      color            whitesmoke
  &:focus
    shadow             0 0 10px -2px #ff9f00

.kdbutton.solid.small
  margin              0
  padding             0 25px
  size                auto 26px
  rounded             10px
  text-align          center
  span.button-title
    font-size         13px
    line-height       1
  span.icon
    margin            2px 0 0 0

.kdbutton.solid.mini
  margin              0
  padding             0 10px
  size                auto 20px
  rounded             6px
  text-align          center
  span.button-title
    font-size         12px
    line-height       1
  span.icon
    margin            2px 0 0 0

.kdbutton.solid.medium
  margin              0
  padding             0 25px
  size                auto 44px
  rounded             10px
  text-align          center
  span.button-title
    font-size         14px
    font-weight       400
    line-height       1
  span.icon
    margin            2px 0 0 0

.kdbutton.solid.red
  bg                   color #E94835
  span.button-title
    color              white
  span.icon
    margin             18px 0 0 0
  &:hover
  &:active
  &:focus
    bg                 color #e14a35
  &:focus
    shadow             0 0 10px -2px logoBg

  &.shadowed
    shadow             0 2px 0 0 #a33e2f
    .button-title
      text-shadow      0 -1px 2px rgba(0, 0, 0, .75)

.kdbutton.w-loader.loading
  .button-title
  .icon
    opacity            0

  .kdloader
    size               auto, auto
    vendor             transform, translateX(-50%) translateY(-50%)


/*  */


/* editor-advanced-settings-menu-button
*******************************************************************************/

.kdbuttonwithmenu-wrapper.editor-advanced-settings-menu
  button.editor-advanced-settings-menu
    text-indent       -1000px
    padding           0!important
    margin            0
    size              20px,20px
    shadow            none
    border            none
    bg                color,transparent
    rounded           3px
    &:hover
      border          none
      cursor          pointer
    &:active
      border          none
      shadow          none
    &.icon-only
      height          18px
      padding         0
      contentBox()
    &.small
      padding         0
    span.icon
      left            0
      margin          0
      padding         0
      abs()
      size            17px,17px
      top             0

.kdview.kdcontextmenu.kdbuttonmenu
  &.editor-advanced-settings-menu
    .chevron-ghost-wrapper
      border-color    #bababa
      .chevron-ghost
        margin-top    0
        bg            position,-60px -300px
        bg            color,#f5f5f5

.kdcontextmenu .kdtreeitemview.disabledForBeta
  opacity         .5


.kdview.kdcontextmenu.kdbuttonmenu.top-menu.editor-advanced-settings-menu
  rounded                 5px 5px 0 5px

.editor-advanced-settings-menu
  background              #f5f5f5
  shadow                  0 0 20px rgba(100, 100, 100, .75)

  .ace-settings-view
    padding               5px 0
    min-width             250px
    line-height           20px
    borderBox()

    hr
      border              none
      border-top          1px solid #cacaca
      margin              12px 10px

    p
      font-size           12px
      padding             3px 20px
      clear               both
      vertical-align      center
      borderBox()

      &.with-select
        line-height       32px

      .koding-on-off
        fr()
      a.shortcuts
        color             #444
        noTextDeco()


    .kdview.section
      margin              0 10px 0 0
      size                auto,auto
      display             inline-block
      fr()
      .kdselectbox
        width             134px
        margin            0
        display           block

    .kdselectbox
      min-width           112px
      fr()

    &.webterm-settings-view
      .kdselectbox
          min-width           134px

  .context-menu-item
    margin-left           10px
    line-height           19px
    fl()
    a
      font-size           12px
      color               #444
      cursor              default
      noTextDeco()

.editor-button.save-menu
  .kdtreeitemview
    min-width           140px
    padding             3px 0
  .context-menu-item
    margin-left       10px
    line-height       19px
    fl()
    a
      font-size       12px
      color           #444
      cursor          default
      noTextDeco()
  .on-off
    width             52px
    margin            0 10px 0 0
    fr()
    a
      padding         5px 0px 4px 0px
      width           24px

.tag-context-menu-item
  .ttag
    display             inline-block
    padding             2px 5px
    border-radius       5px
    color               white
    background          #3aaaab

.selected
  .tag-context-menu-item
    .ttag
      color             #3aaaab
      background        white

//
// KODING ON-OFF SWITCH STYLES
//

.koding-on-off
  size                  66px 34px
  rounded               18px
  bg                    color, #989F9C
  vendor                transition, background-color .3s ease
  cursor                pointer
  padding               2px
  noTextSelection()
  borderBox()
  rel()
  &.on
    bg                  color, #6bb198
    a.knob
      vendor            transform, translateX(32px)
  a.knob
    bg                  color, #F4F4F4
    size                30px 30px
    display             block
    rounded             50%
    -webkit-transition  -webkit-transform .1s ease
    -moz-transition     -moz-transform .1s ease
    transition          transform .1s ease

  &.small
    size                52px 28px
    rounded             14px
    &.on a.knob
      vendor            transform, translateX(24px)
    a.knob
      size              24px 24px

  &.tiny
    size                  34px 18px
    rounded               9px
    &.on a.knob
      vendor              transform, translateX(16px)
    a.knob
      size                14px 14px

//
// KODING RESURRECTION MODAL THEME
//

// .kdmodal.resurrection

.kdmodal
  bg                    color white
  rounded               6px
  shadow                0 0 32px rgba(0,0,0,.46)
  position              fixed !important

  .kdmodal-inner
    margin              45px

    .close-icon
      r-sprite            app, "modal-close-icon"
      top               14px
      right             14px

      &:hover
        r-sprite          app, "modal-close-icon"

  .kdmodal-title
    cursor              move
    line-height         normal !important
    font-weight         400
    color               #50595a !important
    margin-bottom       15px !important
    padding             0 !important
    background          none !important
    border              none !important

    .title
      font-size         24px !important

  .kdmodal-content
    margin              15px 0 0 0 !important
    padding             0 !important
    font-size           16px !important
    line-height         22px !important

    .modalformline
      padding           0
      overflow          visible

      &:last-child
        border-bottom   1px solid transparent


  .kdmodal-buttons
  .formline.button-field
    margin              24px 0 0 0 !important
    background          none !important
    // looks better i think w/o - SY
    // border-top          2px solid #f3f4f5 !important
    height              73px !important

    .kdbutton
      fr()

      &.to-left
        margin-left     0
        margin-right    12px
        fl()

      &:not(.solid)
        size            auto, 45px
        background      none
        border-width    3px
        border-style    solid
        margin          22px 0 0 12px !important
        padding         0 24px !important
        rounded         23px
        font-size       18px
        text-transform  uppercase
        font-family     'Proxima Nova'

    .modal-clean-red
      border-color      #e94b35
      color             #e94b35

    .modal-clean-green
      border-color      #1aaf5d
      color             #1aaf5d

    .modal-cancel
      border-color      #bdc3c7
      color             #bdc3c7

.kdoverlay
  fix()


.kdnotification.mini.tray
  bg                  color, #fff
  rounded             10px
  padding             17px
  shadow              0 3px 18px rgba(0, 0, 0, .10)
  border              1px solid #c4c4c4
  fix()

  .kdnotification-close
    background          none
    size                16px !important, 16px !important
    r-sprite            app, "notification-close"

  .avatarview
    fl()

  .kdnotification-title
    fr()
    line-height       26px
    color             #3c4752


// Delete Multiple files modal
.kdmodal
  .file-container
    .delete-file
      display         block
      size            100% auto
      clear           both


.kdlistitemview-contextitem
  .toggle-menu
    font-size .8em
    padding   8px 10px
    border    none
    color     #444
    width     auto

    .toggle-item
      right   10px
      top      5px
      abs()

// File upload
.file-droparea
  kalc            height, 100% \- 90px
  width           100%
  borderBox()
  border          3px dashed #afafaf
  border-radius   5px
  noTextSelection()

  &.hover
    border-color  #444
    shadow        inset 0 0 0 6px rgba(26, 175, 93, .2)

  .file-drop
    width         100%
    position      absolute
    top           50%
    text-align    center
    font-size     20px
    margin-top    -10px
    z-index       0

    small
      display     block
      font-size   12px
      font-weight 200
      word-wrap   break-word
      max-width   400px
      margin      10px auto
      color       #888

  .cancel
    width         100%
    position      absolute
    bottom        20px
    text-align    center
    color         #EEE

a.action-link.verify-email
  color             #888
  margin            250px
  line-height       50px
  text-decoration   none
  span
    color           logoBg

.animated-modalview

  z-index                       10001
  background                    white
  overflow                      hidden

  size                          640px, 480px
  top                           0
  left                          0

  abs()

  vendor                transform-style, preserve-3d
  vendor                transform, translate3d(0, 0, 0)

  -webkit-transition    -webkit-transform .4s ease
  -moz-transition       -moz-transform    .4s ease
  transition            transform         .4s ease

  &.inresize
    noAnim()

  .close-icon
    r-sprite            app, "modal-close-icon"
    top                 14px
    right               14px

.kdhelp-modal

  text-align                    center
  box-shadow                    0 0 60px rgba(0, 0, 0, .5)
  padding-top                   20px
  rounded                       10px

  a
    noTextDeco()


  > .header
    height                      100px
    background                  #504E4B
    margin-bottom               40px

  > div > h2
    font-size                   36px

  > div > p

    padding                     20px 70px 10px 70px
    font-size                   15px
    font-weight                 300

  div.button

    background                  #2E7FA1
    text-shadow                 none
    color                       white
    font-size                   20px
    font-weight                 300
    padding                     10px
    width                       210px
    margin                      20px auto
    border-radius               4px
    cursor                      pointer

  footer
    h4
      line-height               30px
      font-size                 14px
      color                     #222
      a
        text-decoration         underline
        color                   socialColor

    div.warning
      border-top                  1px solid #f2f2f2
      margin                      0 30px
      padding                     15px 0
      borderBox()

      span.icon
        r-sprite                  app '25-warning'
        margin                    4px 20px 0 100px
        fl()

      p
        overflow                  hidden
        width                     auto
        text-align                left
        font-size                 14px
        line-height               1.3
        color                     footerLinkColor
        i
          color                   socialColor
          font-weight             400

  div.feature
    width                       200px
    margin-bottom               50px
    margin-top                  30px
    fl()

    p
      padding                   0

  div.button
    background                  #40AF96
    clear                       both

  .button-container
    background                  #1F2628
    height                      80px

    a
      display                   inline-block
      color                     white
      margin                    14px 14px 14px 0
      text-align                center
      padding                   10px 20px
      bg                        color, #33383A
      min-width                 130px
      rounded                   6px
      noTextDeco()

      &:hover
        bg                      color socialColor

      &.active
        bg                      color logoBg

      &:last-child
        margin-right            0

  .help-content
    height                      220px

    .help-page

      h3

        margin                  15px 30px
        font-size               22px
        font-weight             300
        border-bottom           1px solid #f2f2f2
        padding-bottom          15px
        code
          display               inline
          bg                    color homeHeaderBg
          font-family           monoFamily
          padding               0 6px
          font-weight           300
          rounded               6px

      ul
        margin                  0 30px
        line-height             22px
        li
          display               inline-block
          padding               4px 12px
          margin                0 6px 6px 0
          bg                    color homeHeaderBg
          rounded               6px
          a
            font-size           13px
            color               headerLinkColor
            i
              color             socialColor
              font-weight       400
          &:hover
            bg                  color logoBg
            a
              color             white
              i
                color           #ddd

/* Memberlistitemview */
.kdlistitemview-member
  size              auto auto
  min-height        60px
  position          relative
  padding           14px 0 11px
  margin            0 0 0 42px
  overflow          visible
  color             #3c4752
  font-weight       400
  font-size         13px
  letter-spacing    .2px
  borderBox()

  .text-overflow
    overflow        hidden
    text-overflow   ellipsis

  a
    color           inherit
    white-space     nowrap
    display         inline
    noTextDeco()

    &.profile
      font-weight   500

  .avatarview
    display         block
    left            -41px
    top             15px
    abs()

  .follow-btn
    size            25px, 25px
    padding         0
    rounded         13px
    bg              color, transparent
    border          2px solid #b5b5b5
    right           4px
    top             17px
    z-index         0 //This line is the meaning of the life... [BC]
    vendor          transition, width .1s ease \,\
                                border-color .3s ease
    abs()
    .icon
      padding       0
      r-sprite      activity, "follow-check"
      top           6px
      left          8px
      abs()

    .button-title
      z-index       -1
      opacity       0
      right         0
      top           4px
      font-size     12px
      color         #b5b5b5
      vendor        transition, opacity .4s ease
      abs()

    &:hover
      width         64px
      background    #ebebeb
      .button-title
        right       4px
        z-index     1
        opacity     1

    &.following-account
      border-color  #2eb398
      .icon
        r-sprite    activity, "following-check"
      .button-title
        color       #2eb398
      &:hover
        width       78px

  .profile
  .user-numbers
    white-space     nowrap
    overflow        hidden
    text-overflow   ellipsis
    color           #9a9a9a
    letter-spacing  0
    line-height     15px
    fl()

  .profile
    color           #3c4752

  .user-numbers
    height          18px
    margin          3px 0 0
    font-weight     200
    span
      font-weight   400

.modal-topic-wrapper
  .kdlistitemview-member
    .profile
    .user-numbers
      width         340px

.kdmodal.github-modal
.kdmodal.machines-modal

  a
    text-decoration none
    color           green

  .kdmodal-inner
    margin          20px

    .loader
      top           10px
      right         10px
      abs()

  .message
    margin-top      10px
    font-size       14px
    span
      color         green
      cursor        pointer

  .warning
    font-size       11px
    text-decoration italic

  .listview-wrapper
    margin-top    10px
    height        260px
    border-top    1px solid #eee
    border-bottom 1px solid #eee

  .noitem-warning
    text-align    center
    margin-top    115px
    font-size     12px
    opacity       .6


.kdmodal.github-modal

  .refresh-button
    background    none
    border        none
    position      absolute
    right         3px
    padding       0
    margin        0
    top           2px
    z-index       1

    span.icon
      rel()
      display         block
      padding         0
      margin          0
      border          none
      visibility      visible
      r-sprite        app '30-refresh-icon-green'

  .kdlistitemview-repo
    height        32px
    width         482px
    border        1px solid #eee
    border-radius 4px
    padding       4px
    margin        4px

    &:hover
      background  #eee

      .action-button
        visibility visible

      p
        width      420px

    h1
      font-weight 400

    p
      text-overflow   ellipsis
      white-space     nowrap
      font-size       12px
      overflow        hidden
      width           480px

    .action-button
      top         10px
      right       10px
      visibility  hidden
      abs()


// onboarding
.onboarding-item
  padding               28px 30px
  rounded               5px
  bg                    color, #FFF
  max-width             440px
  height                auto
  z-index               10001 // this is required because overlay is 10000
  h3
    color               #1AAF5D
    margin-bottom       15px
    font-size           18px
    font-weight         400
  p
    font-size           14px
    line-height         20px
    color               #595959
  .buttons
    text-align          right
    position            relative
    button
      margin-top        25px !important
      &.compact.light-gray
        margin-right    6px
  .steps
    abs()
    top                 30px
    span
      size              8px, 8px
      rounded           8px
      margin-right      8px
      display           inline-block
      bg                color, #E4E4E4
      &.active
        bg              color, #1AAF5D

.onboarding-wrapper
  .kdlistview-contextmenu
    rounded             5px !important
  .arrow
    bg                  image, none !important
    top                 -5px !important
    &.top
      size              0, 0
      border-left       10px solid transparent
      border-right      10px solid transparent
      border-bottom     10px solid #fff
      left              25px !important
      top               -15px !important
      abs()
  .close-icon
    r-sprite            "app", "20-close-tab"
    top                 10px
    right               10px

.kdcontextmenu.dock
  border             2px solid #4F595C
  border-radius      4px
  box-shadow         0 0 40px #1F2628

  ul
    background-color #1F2628 !important

    .kdlistitemview-contextitem
      color          #eee
      padding        7px 10px

      &:first-child
        background   #4F595C
        opacity      1
        cursor       default
        color        #fff
        font-weight  400

        &:hover
          background   #4F595C

        &.selected
          text-shadow  none


  > span.arrow
    border 15px solid transparent
    border-bottom-color #4F595C

.kdmodal.run-app-dialog

  background       #333
  color            rgba(255,255,255,.7)

  .kdmodal-inner
    background     #333
    margin         25px
    .kdmodal-title > span
      color        white

  p
    padding       4px 0 4px 0
    font-size     15px

    &:first-child
      margin-bottom 10px

    span
      color         white

  strong
    font-weight   500
    font-size     16px

  a
    color         white
    padding       0 2px 2px 2px
    background    rgba(255,255,255,0.2)
    border-radius 4px
    noTextDeco()

    &:hover
      color       black
      background  white

  .kdmodal-buttons
    border        none !important

  .run-warning
    color         white
    width         300px
    top           35px
    font-weight   500
    abs()

.kdcontextmenu
  .links-menu-item
    a
      display     inline-block
      width       100%
      noTextDeco()
      &:active
        color     #049C53

@css {
/*
resurrection.commons.styl
Markdown widget
*/
}

.md-widget
  .md-input
    max-height          200px !important
    min-height          100px !important
    overflow            auto  !important
  .tools
    text-align          right
    margin-top          5px
    .preview-toggle
      display           inline-block
    .toggle-label
      font-size         13px
      color             #989F9C
      position          relative
      top               -5px
    .help-link
      font-size         13px
      color             #989F9C
      text-decoration   none
      left              0
      position          absolute
  .preview-area
    border              1px solid #d7d7d7
    rounded             4px
    padding             10px
    margin-top          10px
    max-height          250px
    overflow            auto
    .preview-label
      font-size         20px
      font-weight       100
      text-align        center

  .md-preview
    h1, h2, h3, h4, h5, h6
      font-size         20px
      line-height       40px
      margin-bottom     10px
      border-bottom     1px solid #eee
    p
      margin-bottom     15px
    a
      color             #4183c4
      text-decoration   none
    img
      width             650px

.kites
  .kdlistitemview-kite-product
    overflow              hidden
    margin                1px 0 0
    size                  auto, 70px
    padding               10px
    bg                    color, #fff
    box-sizing            border-box
    p
      padding             0 !important
      margin-bottom       0 !important
    .price
      right               10px
      top                 10px
      font-size           16px
      font-weight         400
      abs()
    .title
      font-size           14px
      font-weight         400
    .subscribe-button
      top                 35px
      right               10px
      rounded             20px

  .payment-workflow
    .kdloader
      display             none

  .app-extras.pricing
    .readme
      bg                  color, transparent !important
    h2
      bg                  color, #FFF

  .kite-details
    .run
      text-align          center !important



@css {
/*
resurrection.commons.styl
Testimonials view that is used on landing pages
*/
}
section.testimonials
  margin-top           63px
  padding              63px 0 40px
  border-top           1px solid #e6e6e6

  h4.general-subtitle
    margin-bottom      76px

  article
    width              46%
    position           relative
    font-family        openSansFamily
    padding            2px 0 32px 69px
    margin-bottom      26px
    rounded            0 0 12px 12px
    borderBox()
    fl()

    &:nth-of-type(2n)
      fr()

    &:before
      content           ""
      display           block
      r-sprite          app quote
      opacity           .4
      abs               0px 0 0 0px

    p
      font-size         16px
      line-height       22px
      color             #6d6d6d
      font-size         16px
      font-weight       600
      padding           0 0 24px 19px
      margin            0 0 0 -19px
      border            1px solid #e2e2e2
      border-top        none
      rounded           0 0 12px 12px
      position          relative

      &:after
        content           ""
        display           block
        width             1px
        kalc              height, 100% \- 10px
        background        #fff
        abs               0px 0 0 -1px

      &:before
        content           ""
        display           block
        width             1px
        kalc              height, 100% \- 10px
        background        #fff
        abs               0px -1px 0 0

    .person
      font-size         13px
      color             #6d6d6d
      font-weight       600
      text-transform    uppercase
      display           block
      margin            23px 0 0 0
      position          relative

      &:before
        content           ""
        display           block
        size              0 0
        border            8px solid transparent
        border-top-color  #e2e2e2
        abs               -24px 0 0 26px

      &:after
        content           ""
        display           block
        size              0 0
        border            8px solid transparent
        border-top-color  #fff
        abs               -26px 0 0 26px

      img
        rounded         15px
        abs             -3px 0 0 19px

      span
        display         block
        margin-left     60px

      .title
        color           #a8a8a8
        font-size       10px
        margin-top      2px



@css {
/*
Activity stylesheet
resurrection.commons.styl
FOOTER VIEW
*/
}


footer.main-footer
  padding               56px 0
  font-size             13px
  font-weight           400
  background            #2c3134

  .inner-container
    max-width             1290px
    padding               0px 45px
    margin                0 auto
    display               block
    position              relative
    borderBox()

  .footer-block
    width               25%
    borderBox()
    fl()

    a
      color              #b3b3b3
      display            inline
      noTextDeco()

    h5
      margin             0 0 6px 0
      color              #858585

  .about-koding
    h5
      font-weight        600
      color              #c5c5c5

    p
      padding-right      72px
      margin             2px 0 4px 0
      line-height        18px
      color              #838485
      borderBox()

    a
      color              #525658
      text-decoration    underline

  nav
    a
      line-height        22px

      &:after
        content         '\A'
        display         block
        white-space     pre
        line-height     0
        padding         0
        margin          0
        height          0

  cite
    display             block
    clear               both

  address
    clear                both
    display              block
    text-align           center
    margin               50px auto 0 auto
    padding              25px 0 0
    font-size            14px
    color                #b3b3b3
    position             relative

    &:before
      content           ""
      display           block
      size              80%, 1px
      background-image  -webkit-linear-gradient(left, rgba(59, 64, 67, 0) 0%, rgba(59, 64, 67, 1) 10%, rgba(59, 64, 67, 1) 90%, rgba(59, 64, 67, 0) 100%)
      abs               0px 0 0 50%
      vendor            transform, translateX(-50%)

  .social-links
    color               #838485
    display             block
    text-align          center
    margin              30px 0 0
    word-spacing        5px

    a
      color             #838485
      font-size         13px
      font-weight       400
      noTextDeco()

@media only screen and (min-width : 320px) and (max-width : 568px)
  footer.main-footer
    .footer-block
      width             100%
      float             none

      &~.footer-block
        margin-top      18px
        padding-top     18px
        border-top      1px solid rgba(255,255,255,.05)

      &.about-koding p
        padding         0
