@import "../../Framework/src/themes/default/kdfn"
@import "../styl/appfn"

@css {
/*
MAIN SIDEBAR stylesheet
resurrection.styl
*/
}

sidebarGray       = #A0A0A0
sidebarActive     = #F4F1ED
sidebarSubtitle   = #979087
sidebarSelectedBg = #15171A

#main-sidebar

  size            258px 100%
  z-index         100
  bg              color #323232
  top             0
  left            0
  styleScrollBars()
  fix()

  > main > div:last-child
    margin-bottom     60px



#sidebar-toggle
  bg              color #262626
  size            18px 18px
  margin-top      -9px
  margin-left     -9px
  display         block
  z-index         11
  rounded         9px
  cursor          pointer
  top             50%
  fix()
  &:after
    abs()
    top           4px
    left          5px
    display       block
    content       ' '
    r-sprite      app sidebar-toggle


#kdmaincontainer

  &.collapsed

    #main-panel-wrapper
      kalc            width, 100% \- 63px
      margin-left     63px

    #sidebar-toggle:after
      left               7px
      -moz-transform     scaleX(-1)
      -webkit-transform  scaleX(-1)
      transform          scaleX(-1)




.activity-sidebar
  font-family         openSansFamily
  padding             1px 16px
  borderBox()

  li + ul.kdlistview-main-nav.expanded
    bg                color sidebarSelectedBg
    padding-bottom    8px
    rounded           0 0 4px 4px

  li.kdlistitemview-main-nav
    z-index           1
    vendor            transition, top .2s  linear \,\
                                left .2s linear
    font-size         14px
    line-height       18px
    rounded           4px
    ellipsis()
    borderBox()

    &.has-sub-items cite
      font-style      normal
      display         block
      size            20px 26px
      abs             0px 0 0 0px
      z-index         2
      cursor          pointer
      &:after
        content       ' '
        border        5px solid sidebarGray
        border-color  transparent transparent transparent sidebarGray
        size          10px 10px
        abs           8px 0 0 8px
        borderBox()

    &.expanded.has-sub-items
      bg              color sidebarSelectedBg
      rounded         4px 4px 0 0
      cite
        &:after
          border-color  sidebarGray transparent transparent transparent
          abs           12px 0 0 5px

    &.sub-title
      padding         8px 0 6px 22px
      color           sidebarSubtitle
      font-size       12

    &.app
    &.workspace
      color           sidebarActive
      font-size       12px
      line-height     18px
      padding         0 0 6px 43px

      figure
        display       block
        width         16px
        height        16px
        bg            color #222
        abs           2px 0 0 22px
        r-sprite      activity nav-workspace
      a
        padding           0
        display           block
        size              auto 26px
        opacity           1
        color             sidebarActive
        borderBox()
        noTextDeco()

    &.app
      figure
        r-sprite      activity nav-app-store

    .fake-icon
      width           30px
      height          20px
      left            13px
      top             14px
      text-align      center
      padding-top     4px
      padding-bottom  4px
      font-size       20px
      color           white
      border-radius   3px
      abs()
      hidden()

    &.selected
      bg              color sidebarSelectedBg

    a
      padding           5px 8px 5px 42px
      display           block
      size              auto 26px
      opacity           1
      color             sidebarActive
      borderBox()
      noTextDeco()
      &.add-app
      &.add-vm
        padding         5px 8px
        opacity         .5
        &:hover
          opacity       1

      > figure
        display       block
        width         16px
        height        16px
        bg            color #222
        abs           6px 0 0 20px


      &.social > figure
      &.activity > figure
        r-sprite      app new-nav-activity
      // &.editor > figure
      //   r-sprite      app nav-editor
      &.terminal > figure
        r-sprite      app new-nav-terminal
      &.ide > figure
        r-sprite      app new-nav-ide
      &.vm
        > figure
          r-sprite    app new-nav-vm
        > span
          r-sprite    app vm-settings-icon
          right       0
          top         5px
          opacity     .5
          abs()
        &:hover > span
          opacity     1
        &.terminated
        &.notinitialized
          opacity     .5
        &.running > figure
          r-sprite    app new-nav-vm-green
        > .progressbar-container
          height      2px
          background  none
          border      none


  > section
    size              auto auto
    overflow          visible
    margin            0 0 3px 0


    .lazy-loader
      margin            0
      top               -28px
      right             36px
      abs()

    .kdlistview
      overflow        visible

      .nothing
        background    #3B3B3B
        width         auto
        font-size     14px
        margin        0 6px
        padding       16px 18px
        rounded       3px
        line-height   19px
        text-align    center
        font-weight   400
        color         #787878
        margin-bottom 16px
        borderBox()

        a
          color             #929292
          text-decoration   underline

  a.public-feed-link.selected
    color               #fff

  .kdlistitemview-sidebar-item
    size              auto 28px
    padding           5px 8px
    rounded           4px
    font-size         12px
    overflow          visible
    position          relative
    display           block
    color             sidebarGray
    borderBox()
    &:hover
      bg              color rgba(0,0,0,.01)
      pointer()
      .profile
      .ttag
        text-decoration underline

    cite.count
      size            auto 20px
      line-height     20px
      color           #fff
      padding         0 10px
      abs             4px 7px 0 0
      font-size       10px
      font-weight     700
      background      #E06F6F
      rounded         3px
      fr()

    .ttag
      display       block
      font-weight   500
      color         sidebarActive
      line-height   18px
      font-size     14px

    .profile
      ellipsis()
      color         sidebarGray

    .topic-follow-btn
      size          24px 18px
      abs           5px 7px 0 0
      border        1px solid #b1b1b1
      background    transparent
      shadow        none
      outline       none
      rounded       3px
      margin        0
      padding       0
      borderBox()
      &:hover
        border          none
        .icon
          r-sprite      activity 'check-gray'

      .icon
        margin          0 6px 0 0
        padding         0
        fr()

      .button-title
        hidden()

      &.following
        bg              color transparent
        border-color    transparent

        .icon
          r-sprite      activity 'check-gray'

        &:hover
          border        1px solid #b1b1b1
          .icon
            display     none

  .kdlistitemview-sidebar-item.selected
    background          #15171A

    // .profile
    //   color             #F9F7F3

    // .user-numbers
    //   color             sidebarGray !important

    // .ttag
    //   color             #F9F7F3

    // .tag-info
    //   color             sidebarGray

    .topic-follow-btn
      border-color      #e9e9e9

      &.follow:before
        color           #d1efdf

      &.following
        bg              color transparent
        border-color    transparent

        &:hover
          border          1px solid #b1b1b1
          .icon
            display       none

  .conversations
  .messages

    .kdlistitemview-sidebar-item
      height        40px
      min-height    0
      margin        0
      borderBox()

      > .profile
        display     block
        float       none
        padding     0 0 0 36px
        line-height 18px
        width       auto
        color       sidebarGray
        font-weight 600
        borderBox()

      > .user-numbers
        padding     0 0 0 36px
        margin      -1px 0 0
        width       auto
        font-weight 400
        font-size   12px
        color       #919297
        font-weight 600
        overflow    hidden
        text-overflow ellipsis
        display     block
        line-height 18px
        white-space nowrap
        borderBox()

        span
          font-weight inherit
          color       inherit

      .avatarview
        top           6px
        left          8px
        abs()

      &.unread
        > .profile
          color       #F9F7F3

        > .user-numbers
          color       #C9C9CC

  .messages

    .kdlistitemview-sidebar-item
      height            28px

      > .profile
        color           sidebarActive

      .avatarview
        size            24px 24px
        top             2px
        left            8px


  .conversations

    .kdlistitemview-sidebar-item

      > .user-numbers
        color           sidebarActive

      cite.count
        abs             10px 7px 0 0

  a.kdlistitemview-sidebar-item

    noTextDeco()

    &.public-feed-link
      margin-top      13px
      padding         0 8px
      height          28px
      line-height     28px


.account-area
  bottom            0
  left              0
  size              258px 59px
  fix()

  > div
    display         inline-block
    width           auto
    vertical-align  top

  .acc-dropdown-icon
    size            auto 59px
    display         block
    abs             0px 0px 0 0

    .icon
      display         block
      padding-bottom  1px
      r-sprite        app 'account-arrow'
      margin          26px 23px 26px 11px

    &.main-nav
      right           44px
      .icon
        margin        26px 11px 26px 23px

  .avatar-area
    bg                 color, #1A1A1A
    padding            10px 12px
    size               100% 100%
    borderBox()
    rel()

    .avatarview
      margin-right    14px
      fl()

    a.profile
      font-size     14px
      line-height   18px
      font-weight   400
      margin        11px 0
      white-space   nowrap
      width         100px
      display       block
      color         white
      overflow      hidden
      text-overflow ellipsis
      noTextDeco()

    h3
      margin        0
      color         #828a93
      font-size     12px
      font-weight   300
      margin-top    2px

  .header-sign-in
    font-size         16px
    color             #e9e9e9
    line-height       55px
    margin-right       8px
    noTextDeco()

    &:last-of-type
      margin-right    18px


h3.sidebar-title
  font-weight     600
  size            auto 1em
  padding         0 6px
  line-height     1em
  font-size       14px
  color           #7F7F80
  // text-transform  uppercase
  word-spacing    .2em
  margin          19px 0 9px
  pointer()

  a
    font-size       10px
    font-weight     600
    color           #7F7F80
    margin          0 5px 0 0
    fr()

    &.add-icon
      margin        -2px 0 0 0
      r-sprite      app , 'circle-plus-16'

  &:hover
    a
      color         sidebarGray
