@import "../../Framework/themes/default/kdfn"
@import "../styl/appfn"
@import "../styl/app.fonts"

@-webkit-keyframes lineRotate
  20%
    -webkit-transform translateZ(-60px) rotateX(40deg)
    opacity           .5

@-moz-keyframes lineRotate
  20%
    -moz-transform translateZ(-60px) rotateX(40deg)
    opacity           .5


/* Logout animation (old tv turn off) */
@-webkit-keyframes logoutTv
  0%
    -webkit-transform   scaleX(1) scaleY(1)
  40%
    -webkit-transform   scaleX(2) scaleY(0.0005)
  100%
    -webkit-transform   scaleX(0) scaleY(0.0005)

@-webkit-keyframes logoutTvLine
  10%
    opacity             1
    border-radius       100%
  100%
    opacity             1
    -webkit-transform   scale(0)

@-webkit-keyframes logoutTvDot
  75%
    opacity             1
    -webkit-transform   scaleX(2) scaleY(2)
  100%
    opacity             0
    -webkit-transform   scaleX(0) scaleY(0)

@-moz-keyframes logoutTv
  0%
    -moz-transform   scaleX(1) scaleY(1)
  40%
    -moz-transform   scaleX(2) scaleY(0.0005)
  100%
    -moz-transform   scaleX(0) scaleY(0.0005)
@-moz-keyframes logoutTvLine
  10%
    opacity             1
    border-radius       100%
  100%
    opacity             1
    -moz-transform   scale(0)
@-moz-keyframes logoutTvDot
  75%
    opacity             1
    -moz-transform      scaleX(2) scaleY(2)
  100%
    opacity             0
    -moz-transform      scaleX(0) scaleY(0)

