@import "../../Framework/src/themes/default/kdfn"

.troubleshoot-modal
  .close-icon
    hidden()

  .check
    label
      hidden()

  .feedback
    label
      hidden()

  .kdformview
    .formline
      margin-bottom 20px

    .kdlabel.feedback
      margin-top 10px

    .troubleshoot-status
      .success
        color       #1aaf5d

      .waiting
        color       #444

      .fail
        color       #ff7379

      .pending
        color       #444

      .slow
        color       #eba612

    .input-wrapper
      color         #444
      margin-bottom 0

      .troubleshoot-result
      .status-message
        line-height 1.7
        font-size 14px

      .troubleshoot-result
        padding           10px
        background-color  #4ed393
        text-align        center
        color             #ffffff

      .status
        fr()

      .kdloader
        margin-right 10px
        fr()

      .troubleshoot-errors
        background-color #ff7379;
        padding  10px 30px 10px 30px

        .status-message.pending
        .status-message.fail
          background-color #ff7379
          color #ffffff

        .status-message.slow
            // background-color #eba612
            color #ffffff

        .status-message
          div
            font-weight 400
            font-family 'Monaco','Courier New','Courier','Andale Mono',monospace,sans-serif
            font-size 13px

  .troubleshootitem
    line-height 1.6em