@import "../../Framework/src/themes/default/kdfn"

.troubleshoot-modal
  .kdformview
    .formline
      > label
        margin-top  0px

    .kdlabel.feedback
      margin-top 10px

    .troubleshoot-status
      padding-left  40px
      margin-top     1px

      .success
        color       #1aaf5d

      .waiting
        color       #444

      .fail
        color       #ff7379

      .pending
        color       #444

      .slow
        color       #eba612

    .input-wrapper
      color         #444

      .troubleshoot-result
        margin-bottom 20px
        padding 10px
        background-color #4ed393
        line-height 1.7
        font-size 14px
        text-align   center
        color      #ffffff

      .status
        float  right
        padding-right 10px

      .kdloader
        float  right
        padding-right 80px

      .kdloader.hidden
        visibility  hidden
        display     initial !important

      .troubleshoot-errors
        background-color #ff7379;
        padding  10px 30px 10px 30px

        .status-message.pending
        .status-message.fail
            background-color #ff7379
            color #ffffff

        .status-message.slow
            // background-color #eba612
            color #ffffff

        .status-message
          div
            font-weight 400
            font-family 'Monaco','Courier New','Courier','Andale Mono',monospace,sans-serif
            font-size 13px

