@import "../../Framework/src/themes/default/kdfn"

.troubleshoot-modal
  .kdformview
    .formline
      > label
        margin-top  0px

    .troubleshoot-status
      padding-left  40px
      margin-top     1px

    .input-wrapper
      color         #444

      .success
        color       #1aaf5d

      .waiting
        color       #444

      .down
        color       #ff7379

      .troubleshoot-result
        margin-bottom 20px
        padding 10px
        background-color rgba(244,204,0,0.5)
        line-height 1.7
        font-size 14px
        text-align   center

      .status
        float  right
        padding-right 10px

      .kdloader
        float  right
        padding-right 80px

      .kdloader.hidden
        visibility  hidden
        display     initial !important

      .troubleshoot-errors
        background-color: #ff7379;
        padding: 10px 30px 10px 30px;


    .status-message
      background-color #ff7379

      strong
        font-weight 400
        font-family 'Monaco','Courier New','Courier','Andale Mono',monospace,sans-serif
        font-size 13px

