.Scrollable
  position                  relative
  overflow                  auto

  &.padded
    abs()
    width                   100%
    height                  auto !important
    bottom                  70px