$white: #FFFFFF;
$alabaster: #F7F7F7;
$porcelain: #F5F6F7;
$gallery: #EBEBEB;
$gallery2: #EFEFEF;
$mercury: #E1E1E1;
$alto: #DCDCDC;
$alto2: #D2D2D2;
$alto3: #D8D8D8;
$dusty-gray: #989898;
$dusty-gray2: #A59999;
$dusty-gray3: #949494;
$dusty-gray4: #989898;
$dove-gray: #727272;
$emperor: #515151;
$shuttle-gray: #5A606F;
$gray: #8D8D8D;

$shakespeare: #56A2D3;
$onahau: #D0EFFF;
$froly: #F2778A;
$froly2: #F47689;
$ocean-green: #48BA7D;
$boston-blue: #308AB2;
$boston-blue2: #358BB0;
$morning-glory: #9ECDDF;
$blumine: #216081;
$half-baked: #8ABFD6;
$cornflower-blue: #67A2EE;
$anakiwa: #A8CEFF;
$waterloo: #7F7E9E;