.Homepage--container {
  max-width: $content-width;
  margin: 0 auto;
}

.Homepage--mobile-cta {
  display: none;
  width: 100%;
  font-size: 16.6px;
  color: #FFFFFF;
  background: #FFC442;
  text-align: center;
  border: 1px solid rgba(0,0,0,.15);
  border-width: 1px 0;
  text-decoration: none;
  padding: 21px 0 16px;
  &:active,
  &:hover,
  &:visited {
    color: #FFFFFF;
    text-decoration: none;
  }
  :active,
  :hover {
    background: #FEBE30;
  }
}

@media (max-width: 1600px) {

  .Homepage--container {
    max-width: 995px;
  }

}

@media (max-width: 119px) {

  .Homepage--container {
    max-width: 734px;
  }

}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .Homepage--container {
    max-width: 315px;
  }
  .Homepage--mobile-cta {
    display: block;
  }

}