@import "../Framework/src/themes/default/kdfn"
@import "../Core/styl/appfn"

@css {
/*
Legals stylesheet
legal.styl
*/
}

imagePath = '/a/site.landing/images/'

body.legal
  -webkit-font-smoothing antialiased

  #main-panel-wrapper
    bg                        color #f9f9f9
    height                    auto

  #main-header
    max-width                 100%
    top                       0
    padding-right             calc((100% \- 1200px) / 2)
    height                    73px
    background                #fff
    position                  fixed
    shadow                    0 1px 16px rgba(0,0,0,.1)

    .logotype
      display                 none

    #koding-logo
      margin-top              25px

      cite
        r-sprite              'app', 'logo-full-dark'

    nav
      line-height             73px

      a
        color                 #6f6f6f

      a.login
        border-color          #bcbcbc

  .content-page.legal
    padding-top               73px
    font-family               sloganFont

    section.introduction
      bg                      image, url(imagePath + "about/introbg.jpg")
      bg                      size, cover
      bg                      repeat, no-repeat
      bg                      position, center
      size                    100%, 210px
      border-top              1px solid transparent
      line-height             210px
      text-align              center
      color                   #fff
      font-size               38px
      font-weight             600


    section.content
      nav.handles
        max-width             1200px
        margin                50px auto 0
        line-height           76px
        shadow                inset 0 -2px 0 #d5d5d5

        a
          color               #7b7b7b
          font-weight         600
          font-size           16px
          display             inline-block
          padding             0 10px
          margin-right        10px
          noTextDeco()

          &.active
            color             #00a82f
            shadow            inset 0 -2px 0 #00a82f

      > article
        max-width             1200px
        padding               66px 0
        margin                0 auto
        font-size             14px
        color                 #494949
        line-height           22px
        borderBox( )

        p
          margin-bottom       34px

        .last-modified
          opacity             .5
          font-weight         600

        ul
          list-style-type     circle

        li
          margin-bottom       24px
          margin-left         15px

        a
          color               inherit

        li ul
          margin-top          24px

        strong
          font-weight         600

        b
          font-weight         600


// body > .tos {
//   padding: 55px 30px;
//   font-size: 14px;
//   max-width: 1290px;
//   margin: 0 auto;
//   color: #555555;
// }

// body > .tos p {
//   margin-bottom: 15px;
//   line-height: 22px;
// }
// body > .tos li {
//   margin-bottom: 15px;
// }
// body > .tos h1 {
//   color : #23BE6F;
// }
// body > .tos p strong{
//   display: block;
//   font-size: 16px;
//   padding-bottom: 10px;
//   font-weight: 600;
// }

// #iubenda_policy.iubenda_fluid_policy .iub_container {
//   margin-top: 0!important;
//   padding-top: 55px;
// }