.TopicChatPane
  bg                        color, $gray-19
  size                      100% 100%
  box-sizing                border-box
  font-family               $adelle-family
  font-size                 $fs-regular
  line-height               $body-line-height

.TopicChatPane-contentWrapper
  display                   flex
  flex-direction            column

.TopicChatPane-header
.TopicChatPane-footer
  flex: 1 auto

.TopicChatPane-NameLabel
  border-bottom             1px dashed $gray-10
  display                   inline-block

