.Reactivity
  font-family                 $ff-normal-text

  mark
  .u-mark
    padding                   .2em
    background-color          $color-marked-text-bg

  a
  .u-a
    color                     $blue
    outline-color             $blue
    text-decoration           none

    &:hover
      text-decoration         underline

  small
  .u-small
    font-size                 85%

  strong
  .u-strong
    font-weight               $fw-semibold

  em
  .u-em
    font-style                italic

  code
  .u-code
    font-family               $monospace-family
    padding                   .2em
    border-radius             $border-radius
    background-color          $color-code-bg
    color                     $color-code

  pre
    border                  1px solid $gray-18
    background-color        $white
    padding                 .2em
    code
    .u-code
      background-color      $white
      display               block
      line-height           1.4em
      font-size             $fs-small



  /* Headings */
  h1, h2, h3, h4, h5, h6,
  .u-h1, .u-h2, .u-h3, .u-h4, .u-h5, .u-h6
    display                   block
    font-family               $ff-title
    font-weight               $fw-semibold
    line-height               $body-line-height
    color                     $color-primary-text
    margin                    0 0 10px

    &:first-child
      margin-top              0

    small
    .u-small
      font-size               65%
      font-weight             $fw-light
      margin-left             8px
      color                   $color-light-text

  h1
  .u-h1
    font-size                 36px
    line-height               36px

  h2
  .u-h2
    font-size                 30px
    line-height               30px

  h3
  .u-h3
    font-size                 24px
    line-height               24px

  h4
  .u-h4
    font-size                 18px

  h5
  .u-h5
    font-size                 14px

  h6
  .u-h6
    font-size                 12px


  /* Paragraphs */
  p
  .u-p
    font-size                 $fs-regular
    font-weight               $fw-regular
    line-height               $body-line-height
    color                     $color-primary-text
    padding                   0.5em 0
    text-rendering            geometricPrecision

  /* Info Bars */
  p.u-infoBar
  .u-infoBar
    color                     $white
    padding                   .4em .6em
    margin-top                .5em
    margin-bottom             .5em
    border-radius             $border-radius


  /* Blockquotes */
  blockquote
  .u-blockquote

    p
      font-size               $fs-regular

    footer
      font-size               1.4rem
      color                   $color-light-text
      padding                 0 0 0.5em

      &:before
        content               ''
        display               inline-block
        vertical-align        super
        margin-right          0.5em
        width                 0.5em
        height                1px
        background-color      $color-light-text
