

@css {
/*
Activity PrivateMessage stylesheet
activity.pm.styl
*/
}

deleteRed  = rgba(217, 58, 55, 0.9)
timeColor  = #d2d2d2
timeColor2 = #5F9E5E

headsHeight                = 25px
headsBasePadding           = 5px
headsListFontColor         = #6d6d6d
headsListBgColor           = #fff
headsListSelectedFontColor = #fff
headsListSelectedBgColor   = #7a7a7a

.kdcontextmenu.ParticipantHeads-moreList

  padding                   headsBasePadding 0 !important
  font-size                 14px

  .kdlistview-contextmenu.default
    background-color        headsListBgColor
    color                   headsListFontColor

  .kdlistitemview-contextitem
    padding                 headsBasePadding headsBasePadding * 2
    cursor                  pointer
    borderBox()
    cf()

  .kdlistitemview-contextitem.selected
    bg                      color headsListSelectedBgColor
    color                   headsListSelectedFontColor

  .moreList-singleItem
    bg                      color transparent
    border                  none
    line-height             headsHeight
    borderBox()
    cf()

    &:last-child
      padding-bottom        0

  .moreList-singleItemAvatar
    float                   left
    margin                  0 headsBasePadding * 2 0 0

    .avatarview
      display               inline-block
      size                  headsHeight headsHeight

  .moreList-singleItemText
    overflow                hidden


.kdlistview-collaboration
.kdlistview-privatemessage
  opacity                   1
  vendor                    transition, opacity .177s ease-in
  margin-top                0

  &.padded
    height                  auto
    abs                     0 0 0px 0
    kalc                    width (100%\-34px)


  > section
    &:last-child
      margin-bottom         16px

    > time
      color                 timeColor2
      display               block
      margin                8px 0 0 34px
      line-height           30px
      font-size             11px
      z-index               1
      text-transform        uppercase

#content-page-activity

  > .kdtabview.privatemessage
    height              100%
    overflow            hidden
    max-width           600px
    bg                  color white

.kdtabpaneview.privatemessage
  min-height            100vh
  margin                0

  &.translucent

    .chat-heads:after
      opacity             .5
      left                50%

    .kdlistview-privatemessage
      opacity             0.01


  .message-pane-scroller
    vendor                transition, opacity .3s .3s ease\, background-color .177s ease
    padding               0
    height                calc(100% \- 85px)

    &.has-vertical
      padding-right       0

    .kdview.kdscrolltrack
      bg                  color transparent
      overflow            visible

      &.out
        opacity           1

      &:hover
        background-color  rgba(0,0,0,.02) !important

      .kdscrollthumb
        bg                color rgba(0,0,0,.15)
        margin            0 4px
        width             7px
        rounded           6px

    > .kdscrollview
      padding           0 34px 0 0
      borderBox()


  .new-message-form
    width               100%
    height              100%
    padding             34px
    max-width           600px
    bg                  color white
    abs()
    borderBox()
    &:after
      left              50% !important
      opacity           .5 !important
      margin            -72px 0 0 -72px !important

    &.inline
      bg                color, white
      width             100%
      height            auto
      z-index           10
      padding           12px 34px
      border-bottom     1px solid #f2f2f2
      abs               -50px 0 0 0px
      vendor            transition, top .3s ease
      vendor            pointer-events, none
      shadow            0 0 0 0 transparent

      &.active
        top             40px
        opacity         1
        vendor          pointer-events, auto

      .formline.recipient
        padding-left    16px
        rounded         3px


    .kdautocompletewrapper
      width             100%
      min-width         0
      &.delete-mode
        .kdinput.text::-webkit-input-placeholder
          color         deleteRed
        .kdinput.text:-moz-input-placeholder
          color         deleteRed

    .autocomplete-heads
      width             auto
      fl()

      .chat-head
        white-space     nowrap
        line-height     25px
        margin          1px 14px 1px 0
        padding         5px
        fl()

        &.selected
          > span
            text-decoration   line-through
            color             deleteRed

        > span
          display       inline-block
          font-size     14px
          color         #8B8B8B

        .avatarview
          height        25px
          margin        0 7px 0 0


    .input-wrapper
      margin            0
      padding           0

    .kdinput.text
      background        transparent
      border            none
      height            40px
      font-size         14px
      shadow            none
      outline           none
      padding-left      5px
      fr()

      &::-webkit-input-placeholder
        color           #D0D0D0
      &:-moz-input-placeholder
        color           #D0D0D0

    .input-view.hitenterview
      padding           14px 14px 14px 54px

    .formline
      position          relative
      background        #fff
      height            auto
      border            1px solid #E8E8E8
      rounded           3px 3px 0 0
      padding-left      47px

      &.purpose
        height          40px
        padding-left    85px
        rounded         0 0 3px 3px
        border-top      none

    .kdlabel
      abs               0px 0 0 0px
      line-height       40px
      z-index           20
      padding           0 0 0 17px
      margin            0
      color             #9A9A9A
      font-size         12px
      font-weight       600
      min-width         0

  .new-message-form:after
  .chat-heads:after
      content           ''
      r-sprite          activity 'messages-loading'
      abs               50vh 0 0 -10000px
      margin            -72px 0 0 -89px
      vendor            transition, opacity .2s ease-in \,\
                                    left .1s .5s linear
      opacity           .01

  .new-message-form.inline:after
    opacity             .01 !important
    hidden()

  .list-previous-link
    size                auto 34px
    border-radius       3px
    line-height         34px
    font-size           12px
    font-weight         300
    font-style          italic
    color               logoBg
    display             block
    margin              4px 0 0 34px
    noTextDeco()

  .kdlistitemview-activity.privatemessage
    padding               0
    border                none
    margin                0 0 0 34px

    .settings-menu-wrapper
      top                   10px
      right                 0px

    .chevron
      hidden()

    time
      display           inline-block
      width             auto
      overflow          visible
      color             timeColor
      font-size         10px
      // hidden()

    &.editing
      background        paleYellow

      .settings-menu-wrapper
      .meta
        hidden()

      .edit-widget-wrapper
        margin            5px 0 0 -12px
        padding           6px
        rounded           3px
        &:after
          content

        .edit-widget
          padding         0

          .input-view.hitenterview
            min-height        34px
            padding           6px
            border-color      #dfcc97
            margin-bottom     0

          .link-embed-box
            hidden()


    &.edited
      .meta time:after
        display         none

      .activity-content-wrapper > article > p:after
        content        ' (edited)'
        display        inline
        font-size      11px
        color          #ccc

    &:hover
      .chevron
        display       inline-block !important
        visibility    visible !important

    .activity-content-wrapper
      margin            0 0 0 56px
      max-width         475px
      padding           0

      .show-more

        bottom          1px
        left            0
        width           100%
        display         block
        font-size       11px
        color           logoBg
        text-transform  uppercase
        bg              color #fafafa
        padding         3px 0
        text-align      center
        border-top      1px solid #eaeaea
        border-bottom   none
        z-index         1


      .meta
        margin          8px 0 4px 0px

    .comment-time
      cursor            pointer
      font-size         11px
      font-weight       300
      margin-top        0

      &:hover
        text-decoration underline

    &.consequent

      .activity-content-wrapper
        padding         0

      .avatarview
      a.profile
        hidden()


      &:hover
        .comment-time
          display       inline-block !important
          visibility    visible !important

        .action-link.like-link:after
          r-sprite      activity heart-dim

      .meta
        display         inline-block
        margin          4px 0 0 0
        height          16px
        width           90px
        top             2px
        left            -90px
        text-align      right
        abs()

        time
          hidden()

        .action-link.like-link

          &:after
            content       ''
            display       block
            height        9px

          &.has-likes:after
            r-sprite      activity heart-outline !important

          &.liked:after
            r-sprite      activity heart-solid !important



      .comment-body-container

        p
          line-height   20px


    &.status
      margin-bottom       0

    &.with-parent
      .activity-content-wrapper
        visible()

    .author-avatar
      abs                   10px 0 0 -56px
      border                none

    .activity-content-wrapper
      background            none
      hidden()

      .meta
        .action-link.like-link
          display         inline-block
          padding         5px
          vertical-align  text-bottom

          &:after
            content       ''
            display       block
            height        9px

          &.has-likes:after
            r-sprite      activity heart-outline !important

          &.liked:after
            r-sprite      activity heart-solid !important


      &:hover
        .action-link.like-link:after
          r-sprite        activity heart-dim

      > article
        margin-top          7px
        padding-top         0
        margin-bottom       0
        &.tall
          &:after
            top             calc(100% \- 17px)

        p:first-of-type
          padding-top       0

        p
          padding-left      0
          padding-right     34px

        p:last-of-type
          padding-bottom    6px

      .like-view

        a.like-link
          font-size         11px
          color             #838383
          noTextDeco()

        .like-count
          noTextDeco()
          display           inline-block
          height            16px
          line-height       16px
          padding           0 4px
          background        #dfdfdf
          color             #747474
          rounded           2px
          margin-left       7px
          font-size         11px

    .meta
      .profile:after
        display             none

    .comment-container
      margin-left           -50px
      kalc                  width (100% \+ 50px)

      .kdlistitemview-comment
        padding             10px 15px 0 52px

        &:hover
          .action-link.like-link:after
            r-sprite        activity heart-dim

        .comment-menu
          right             0


        .profile
          font-weight       600

        .comment-body-container
          font-size         14px
          padding           0 0 7px
          opacity           .99

        .reply-link
          display           none

        .stats
          display           inline-block
          margin            0 0 7px 7px

          .action-link.like-link
            display         inline-block
            padding         5px
            vertical-align  middle

            &:after
              content       ''
              display       block
              height        8px

            &.has-likes:after
              r-sprite      activity heart-outline

            &.liked:after
              r-sprite      activity heart-solid

        time
          display           inline-block
          width             auto
          overflow          visible
          color             #d2d2d2
          font-size         10px

        .avatarview
          hidden()

        textarea
          rounded           0
          border            1px solid #EAEAEA
          height            53px !important
          margin            0 0 -2px 0
          padding           16px 16px 16px 46px


          &::-webkit-input-placeholder
          &::-moz-placeholder
            line-height     39px
            font-weight     400
            color           #b2b2b2

    &.join-leave
      article
        font-style          italic
        opacity             .5

.reply-input-widget.private
  width               calc(100% \- 69px)
  height              auto
  min-height          44px
  padding             0
  margin              0 0 0 34px
  bg                  color white
  border-top          1px solid #f2f2f2
  rounded             0
  z-index             100
  cursor              text
  font-size           0
  abs                 0 0 0px 0px
  borderBox()

  &:before
    content           ""
    r-sprite          activity widget-icon
    z-index           2
    abs               15px 0 0 21px

  .input-view.hitenterview
    bg              color transparent
    bg              image none
    border          none
    margin          0
    width           100%
    font-size       14px
    line-height     19px
    min-height      44px
    padding         13px 14px 12px 54px
    font-weight     400
    rounded         0
    &:focus
      outline       none
      shadow        none

.collaboration .reply-input-widget.private
  .input-view.hitenterview
    font-size       12px

#kdmaincontainer.collapsed .reply-input-widget
  kalc                width, 100% \- 131px


.reply-like-tooltip
  p
    text-align              left

.chat-heads
  height              40px
  margin              0
  width               100%
  z-index             11
  bg                  color white
  rel()

  .kdbuttonwithmenu-wrapper.activity-settings-menu
    z-index             1
    size                15px 10px
    padding             0
    cursor              pointer
    abs                 14px 19px 0 0
    opacity             .5
    &:hover
      opacity           1

    button.kdbutton
      size              15px 10px
      bg                color transparent
      border            none
      padding           0
      padding-right     0 !important
      cursor            pointer
    .chevron-separator
      hidden()
    .chevron
      r-sprite          activity cog-icon

  .description
    margin-left           34px
    color                 #4a4a4a
    font-size             13px
    line-height           22px
    padding-top           10px
    display               block
    overflow              visible
    fl()

    &:before
      content             ''
      display             inline-block
      r-sprite            'activity', 'lock-16'
      vertical-align      text-top
      margin              0 8px 0 0

  .ParticipantHeads
    margin                8px 0 0 14px
    fl()

    .avatarview
      size                auto, auto
      margin              0 6px 0 0
      fl()

      img
        border            1px solid #d4d4d4
        display           block
        margin            0
        padding           0

  .ParticipantHeads-previewContainer
  .ParticipantHeads-extrasContainer
  .ParticipantHeads-newButtonContainer
    float                 left

  .ParticipantHeads-button
    margin-right          6px
    display               block
    size                  27px, 27px
    border                1px solid #b2b2b2
    background            transparent
    rounded               3px
    line-height           26px
    padding               0
    text-align            center
    fl()

  .MoreParticipantsButton-wrapper
    margin-right        6px

  .MoreParticipantsButton
    color               #7a7a7a

    &:focus
      outline           none
      shadow            none

    &.is-moreListActive
      // is default outline color for focus, this is to imitate it.
      shadow            rgba(125, 190, 241, 0.701961) 0px 0px 3px 0px


  .ParticipantHeads-button--new

    &.active .icon
      vendor            transform, rotate(45deg)

    .icon
      display           inline-block
      r-sprite          'activity', 'new-participant-plus'
      -webkit-transition -webkit-transform .2s ease
      -moz-transition    -moz-transform .2s ease
