

@css {
/*
Activity stylesheet
activity.styl
*/
}

.activity-status-context
  display               none

body.activity
  #main-panel-wrapper
    background              lightGray

.kdlistview-topic
.kdlistview-announcement
  margin-top            12px

#content-page-activity

  .message-pane-scroller

    &.has-vertical
      padding-right       0

    .kdview.kdscrolltrack
      vendor              transition, opacity .3s .3s ease\, background-color .177s ease
      bg                  color transparent
      overflow            visible

      &:hover
        bg                color rgba(0,0,0,.05)

      .kdscrollthumb
        bg                color rgba(0,0,0,.15)
        margin            0 4px
        width             7px
        rounded           6px
        min-height        50px

    > main > *
      max-width         600px

  > .kdtabview
    height              100%
    overflow            hidden

    .search-input
      right             0
      bottom            15px
      width             180px
      height            30px
      z-index           1
      padding           0 25px 0 13px
      background        #fff
      border            1px solid #E8E8E8
      border-radius     16px
      font-size         12px
      outline           0
      borderBox()
      abs()

      &::-webkit-input-placeholder
        color           #ddd
        opacity         .99

      &:-moz-placeholder
        color           #ddd
        opacity         .99

    cite.search-icon
      abs         23px 12px
      opacity     .6


    .announcement-pane .kdtabhandlecontainer.filters
        height          auto

    .message-pane > .kdlistview
      margin-top        34px

    .message-pane > .activity-input-widget + .kdlistview
      margin-top        0

    .channel-title
      font-size         18px
      line-height       24px
      font-weight       600
      color             #9D9D9D
      margin            9px 0 0

      &.logged-out
        margin-bottom   20px

      .topic-follow-btn
        margin          4px 0 0 13px

        &.following:hover
          margin-left  14px

  cite.search-icon
    content     ''
    display     block
    r-sprite    'activity', 'search'
    z-index     2

.activity-pane

  &.single-activity
    .kdlistitemview-activity
      margin-top      34px

  main.kdscrollview
    padding-left      34px
    borderBox()

  .kdtabhandle
    padding           0

  .kdtabhandlecontainer.filters
    background-color  transparent !important
    border            none
    margin            0 0 13px 0
    max-width         600px
    padding           0
    height            62px
    borderBox()
    shadow            inset 0 -3px 0 #e0e0e0

    &.search-active
      cite.search-icon
        cursor            pointer
        abs               22px 8px
        r-sprite          app '20-close-tab'

    .filter
      border              none
      opacity             .99
      height              62px
      noTextDeco()
      fl()

      a
        display             block
        text-decoration     none
        height              62px
        padding             22px 23px 0
        font-weight         600
        line-height         20px
        color               #969696
        text-align          center
        font-size           14px
        borderBox()

        span
          display           block

      &.active
        shadow            inset 0 -3px 0 #01B05A
        color             #575757
        background        none


.topic-pane
  .lazy-loader
    top                 -137px !important

.content-page.activity
.member.content-display
  .lazy-loader
    top                 -201px
    left                -21px
    z-index             100
    abs()

  .no-item-found
    text-align            center
    color                 #B4B4B4
    padding               40px 0
    font-size             16px
    font-weight           300
    letter-spacing        .02em

.status.content-display
  article
    max-height          100%

.content-page.activity
  max-width             100%
  margin                0 auto
  padding               0
  overflow              hidden
  min-height            100vh

  &.group
    margin-top          55px
    min-height          2070px

    > main
      margin-top        24px
      margin-left       24px
      padding-left      0
      size              637px, auto
      fl()

    > aside
      margin-top           24px
      top                  0
      fl()
      rel()

      .group-description
        font-size          13px
        line-height        17px
        letter-spacing     .2px
        color              #4a4a4a
        padding            0 8px
        font-weight        400
        opacity            .9

      .group-members
        .kdscrollview
          height           auto
          max-height       217px
        .kdlistview
          padding          20px 0 0
        .kdlistitemview
          display          inline-block
          size             auto auto
        .avatarview
          margin           0 8px 8px 0
          fl()
          rounded          4px
          img
            rounded        4px

          &:nth-of-type(4n)
            margin-right   0

  &.fixed > aside
    margin-top         24px
    top                55px
    float              none
    fix()



.activity-modal

  .listview-wrapper
    margin-top        15px
    height            200px

    .lazy-loader
      size            16px 16px
      margin          10px auto

    styleScrollBars()


  textarea.kdinput.text

    height            44px
    bg                image none

.activity-modal.conversations

  .kdlistitemview-member
    margin-left       33px
    size              213px 30px
    min-height        0

    .avatarview
      top             5px
      left            -30px

    .profile
      float           none

    .user-numbers
      float           none

.kdmodal.sidebar-white-modal
  .lazy-loader
    text-align        center
    margin            22px 0

  .kdmodal-content
    margin            0 !important
    overflow          visible

  .search-input
    height            35px
    width             calc(100% \- 15px)
    margin-right      15px
    background        #fdfdfd
    border            1px solid #D5D5D5
    rounded           3px
    font-size         12px

    &::-webkit-input-placeholder
      font-size       12px
      color           #848484
      font-weight     400
      opacity         .99
    &:-moz-placeholder
      font-size       12px
      color           #848484
      font-weight     400
      opacity         .99

  .search-input + cite.search-icon
    abs               9px 24px

  .listview-wrapper
    styleScrollBars   rgba(0,0,0,.15)

  .kdcustomscrollview
    margin            20px 0
    padding-right     15px

  .kdscrollview
    height            400px

  .topics-list

    .nothing
      font-size       12px
      padding         16px
      line-height     16px
      text-align      center
      color           #7a7a7a

    a.kdlistitemview-sidebar-item
      font-size       14px
      color           #575757
      line-height     25px
      display         block
      border-bottom   1px solid #efefef
      padding         5px 0
      noTextDeco()

      .participant-count
        display       inline-block !important
        visibility    visible
        opacity       .49
        color         #848484
        font-size     12px
        margin-left   15px

      .count
        display       none

      .kdbutton
        size          auto, 23px
        background    #61C17F
        padding       0 10px
        margin-top    1px
        fr()

        &.following
          background  #cacaca

        .button-title
          display     inline
          visibility  visible
          color       #fff
          font-size   10px
          text-transform uppercase

        .icon
          display     none

        &:hover
          border      none !important

  .tag-description
    margin-right      15px
    line-height       17px
    font-size         12px
    color             #BDBDBD

    em
      font-style      italic


.sidebar-dark-modal
  background          #2A2929

  .arrow
    position          fixed !important
    border            8px solid transparent
    border-right      8px solid #2A2929
    margin            1px 0 0 -6px

  .lazy-loader
    text-align        center
    margin-top        22px

  .kdmodal-inner
    background        inherit
    margin            18px

    .kdmodal-content
      margin          0 !important

    .close-icon
      hidden()

  .kdmodal-title
    font-size         14px !important
    margin-bottom     18px !important
    color             #F4F1ED !important
    font-weight       600 !important
    border            none

    span.title
      font-size       inherit !important

  .search-input
    height            30px !important
    rounded           40px !important
    border            1px solid #CECECE
    font-size         14px !important
    font-weight       600 !important

    .text
      bg              color, white

    &::-webkit-input-placeholder
      font-weight       600 !important

    &:-moz-placeholder
      font-weight       600 !important

  .search-input + cite.search-icon
    abs                 7px, 17px

  .search-input ~ .listview-wrapper
    margin-top        20px
    height            95px

    .kdcustomscrollview.has-vertical
      padding-right   0

      .kdscrolltrack
        display       none

    .kdlistitemview-sidebar-item
      color           #F4F1ED
      line-height     23px
      font-size       14px
      padding         4px 0
      display         block
      noTextDeco()

    .topic-follow-btn
      size            auto, 23px
      background      #61C17F
      padding         0 10px
      fr()

      &.following
        background    #686868

      .button-title
        display       inline
        visibility    visible
        color         #fff
        font-size     14px
        font-weight   600

      .icon
        display       none

      &:hover
        border        none !important

  &.more-channels

    .kdmodal-content
      overflow        hidden

    .search-input ~ .listview-wrapper
      height          auto

    .topics-list
      max-height      310px

.kdmodal.chat-search

  .listview-wrapper .kdlistitemview-sidebar-item
    height            23px

  .sidebar-message-icon
    hidden()

  .kdbutton.leave-channel
    background      #686868 !important

    &:hover
      border        none !important

  .sidebar-message-text
    width           80%
    overflow        hidden
    ellipsis()
    fl()

div.kdtooltip.activity-helper
  code
    font-weight       400
    font-family       monoFamily
    font-size         12px
    padding           5px


span.collapsedtext
  borderBox()
  &.hide
    font-size         0!important
    >*
      visibility      hidden
      display         none
    a.more-link
      size            38px 15px
      visibility      visible
      display         inline-block
      vertical-align  middle
      overflow        visible

      i
        background    #d2d2d2
        rounded       100%
        size          5px 5px
        position      relative
        margin        4px 0 0 16px
        fl()

        &:before
        &:after
          content     ''
          size        5px 5px
          background  #d2d2d2
          rounded     100%
          abs         0px 0 0 0
          fl()

        &:before
          right       8px

        &:after
          left        8px

  &.show
    a.more-link
      display         none


.activity-share-popup
  bg                      color, #fff
  margin                  -10px 0 0 19px
  rounded                 4px
  size                    auto, auto
  border                  1px solid #c0c0c0
  padding                 8px 12px 8px 8px
  shadow                  0 0 27px rgba(0,0,0,.2)

  &:after
    content             ""
    display             block
    size                0 0
    left                -12px
    top                 50%
    vendor              transform, translateY(-50%)
    border              6px solid transparent
    border-right-color  #fff
    z-index             600
    abs()
  &:before
    content             ""
    display             block
    size                0 0
    left                -13px
    top                 50%
    vendor              transform, translateY(-50%)
    border              6px solid transparent
    border-right-color  #c0c0c0
    z-index             599
    abs()

  .context-list-wrapper
    padding               0

  input.share-input
  input.share-input:hover
  input.share-input:focus
  input.share-input:active
    margin                0 4px 0 0
    background            #e4e4e4
    border-radius         2px
    font-size             12px
    line-height           12px
    size                  135px, 27px
    padding               7px 0 7px 6px
    outline               0
    fl()

  .icon-link
    margin                3px 0 0 4px
    fl()

    &.share-gplus
      r-sprite              activity, "gplus-21"
    &.share-twitter
      r-sprite              activity, "twitter-21"
    &.share-facebook
      r-sprite              activity, "facebook-21"
    &.share-linkedin
      r-sprite              activity, "linkedin-21"



/* Temp style for contentdisplay */

.content-display

  .sub-header
    margin                22px 0 0
    display               inline-block
    padding               5px 15px
    border                1px solid #c4c4c9
    rounded               3px
    &:hover
      opacity             .5
    a
      color               #50595a
      noTextDeco()


  // quick fix:
  // burak please check and fix if necessary - SY
  &.activity-related.status
    kalc                  width, (100% \- 100px)
    margin-left           100px
    overflow              visible

    .sub-header
      margin-left         -78px

  .kdcustomscrollview
    styleScrollBars       rgba(0,0,0,.15)

    .kdview.kdscrolltrack:hover
      background          rgba(0,0,0,0.05)


/* Bug reports */
.bugs
  .content-page.bugreports
    min-height            1026px
    margin                85px auto
    padding               0
    position              static
    overflow              visible

  .item-add-comment-form
    textarea
      rounded             0 !important

  .on-off
    margin                0 -1px -2px -1px

    a
      kalc                width, 20%
      height              35px
      line-height         35px
      padding             0
      shadow              none
      font-weight         300
      font-size           12px
      border-color        #d8d8d8 !important
      background          #f6f6f6
      text-transform      capitalize
      color               #a0a7af
      text-shadow         none
      borderBox()

      &.active
        background        #6ccab7
        color             #fff
        shadow            inset 0 0 0 1px #2eb398

      &:first-of-type
        rounded           0 0 0 4px

      &:last-of-type
        rounded           0 0 4px 0

  .kdlistview-all
    margin-left          80px
    overflow             visible

  .bug-status
    width                269px !important

    .bug-status-title
      display            block
      line-height        45px
      color              #3c4752
      padding            0 0 0 18px
      borderBox()
      noTextDeco()

      &:hover
        color            #73899e

      &~.bug-status-title
        border-top       1px solid #d3d3d3


// Group Activity

body.group.activity

  .group-cover-view
    max-width            948px
    line-height          0
    height               316px
    bg                   color, #e6e6e6
    margin               0 auto
    kalc                 margin-right, 50% \- 478px
    z-index              3
    bg                   size, 948px \, 316px
    bg                   image, -webkit-linear-gradient(90deg\, rgba(0, 0, 0, .1) 50%\, transparent 50%) \,
                                -webkit-linear-gradient(0deg\, rgba(0, 0, 0, .1) 50%\, transparent 50% \, transparent 100% \, rgba(0, 0, 0, .1) 100%)
    bg                   image, -moz-linear-gradient(90deg\, rgba(0, 0, 0, .1) 50%\, transparent 50%) \,
                                -moz-linear-gradient(0deg\, rgba(0, 0, 0, .1) 50%\, transparent 50% \, transparent 100% \, rgba(0, 0, 0, .1) 100%)
    .avatarview
    .avatarview img
      rounded            0

    .kdscrollview
      overflow           hidden


    figure
      abs                0 0 0 0
      size               100%, 100%
      bg                 size cover

    .kdlistview-collage
      width              100%

      .kdlistitemview
        display          inline-block
        size             auto auto

    .kdbutton.update-cover
      abs                0 27px 27px 0
      margin             0
      padding            0 0 0 14px
      font-size          13px
      font-weight        400
      color              #fff
      size               auto, 36px
      line-height        35px
      z-index            5
      rounded            12px
      bg                 color, #1aaf5d
      border             1px solid #159950

      .button-title
        padding          0
        line-height      35px
        color            inherit
        font-size        inherit
        font-weight      inherit

      .icon
        r-sprite         activity image
        margin           9px 13px 0 9px
        padding          0
        fr()

  .kdmodal.group-cover-uploader
    .kdmodal-content
      .file-droparea
        height            315px
      figure
        bg                size, cover
      .kdloader
        abs               50% 0 0 50%
        margin            -47px 0 0 -47px
        padding           15px
        rounded           50%
        background        rgba(255,255,255,.8)


// Crawlable //
nav.crawler-pagination
  size                    100%, auto
  margin                  25px 0 50px
  font-size               12px

  a
    margin                0 5px 5px 0
    padding               3px 5px
    border                1px solid #cdcdcd
    border-radius         2px
    background            #fafafa
    color                 #b1b1b1
    noTextDeco()
    fl()


// Group Members //
body.group.members
  .content-page
    .header-view-section
      margin              42px 0 12px
      border              none

      .section-title
        font-size         20px
        color             #1aaf5d
        font-weight       400

  .kdlistitemview-member
    margin                0 0 1px
    background            #fff
    rounded               6px
    padding               24px 28px 20px 88px

    .avatarview
      left                20px
      top                 17px !important

    .profile
      margin              6px 0 0
      padding             0
      font-size           14px
      font-weight         400
      color               #616161

    .user-numbers
      padding             0
      font-size           12px
      color               #b0b0b0
      margin              24px 0 0
      line-height         14px

    .follow-button
      fr()

      &.light-gray:hover
        bg                   color #E94835
        span.button-title
          color              white

// referral-modal
.referrer-modal
  line-height         1.8em
  p
    margin-bottom     15px
    &.center
      color           #999
      font-size       13px
      text-align      center
  .content .title
    margin-bottom     36px !important

  .share-url-input
    width           320px !important

  .share-url-label
    display         block
    font-weight     400
    font-size       12px

  .share-links
    size            140px 30px
    margin-top      -30px
    position        relative
    left            330px
    top             -13px

    .share-icon
      border        none
      size          30px 30px
      rounded       50%
      padding       0
      margin        0 0 0 8px
      background    none

      &.twitter
        r-sprite    "activity", "inv-twitter"
      &.facebook
        r-sprite    "activity", "inv-facebook"
      &.linkedin
        r-sprite    "activity", "inv-linkedin"

  a.mail
    color           #606060
    font-weight     500
    position        relative
    line-height     40px

// your topics modal
.kdmodal.topics.your

  h3
    hidden()

  input.kdinput
    border        none
    shadow        none
    &:focus
      shadow      none

dropdownShadow = 0 1px 1px rgba(0,0,0,.1)
dropdownBorder = 1px solid #E0E0E0

.kdcontextmenu.tags-autocomplete
  margin-top          -1px
  .kdlistview-contextmenu
    bg                color white
    border            dropdownBorder
    border-top-color  transparent
    padding           5px 0
    rounded           0 0 4px 4px
    shadow            dropdownShadow

@media (min-width: 0px) and (max-width: 1215px)

  .activity-widgets-bar
    hidden()

@media (min-width: 0px) and (max-width: 414px)
  #kdmaincontainer.with-sidebar
    -webkit-transition      -webkit-transform .3s ease
    -moz-transition         -moz-transform .3s ease

    #main-sidebar
      vendor                transform, translateX(-100%)

      .logo-wrapper
        display             none

      section.vms
        display             none

    #main-panel-wrapper
      width                 100%
      margin-left           0 !important

    #main-header
      display               block
      visibility            visible
      z-index               100
      background            #2A2929
      height                61px
      line-height           61px
      top                   0
      left                  0
      vendor                transform, none
      padding               0
      text-align            center
      vendor                transition, top .3s ease
      shadow                0 0px 10px rgba(0,0,0,.2)

      .hamburger-menu
        display             block
        abs                 0px 0 0 0px
        size                61px, 61px
        background          none
        border              none
        shadow              none
        text-align          center
        line-height         61px
        padding             0
        vendor              transition, background .3s .3s ease

        .icon
          width             14px
          height            3px
          background        #fff
          display           inline-block
          position          relative
          vertical-align    middle
          opacity           .3
          -webkit-transition -webkit-transform .3s ease
          -moz-transition   -moz-transform .3s ease

          &:after
          &:before
            content         ''
            display         block
            width           100%
            height          3px
            background      inherit
            position        absolute
            left            0

          &:before
            top             -5px

          &:after
            top             5px

      .logo-wrapper
        size                90px auto
        bg                  color #262626
        margin              21px auto
        borderBox()

        > a
          margin            0
          display           block
          r-sprite          app logo-full
          cursor            default

      nav
        display             none

  #kdmaincontainer.with-sidebar.mobile-menu-active
    vendor                  transform, translateX(258px) !important

    #main-header .hamburger-menu
      background            #454545
      vendor                pointer-events, none

      .icon
        vendor              transform, rotateZ(45deg)

        &:before
          vendor            transform, rotateZ(-90deg)
          top               0

        &:after
          opacity           0

  .reply-input-widget.private
    margin-left             0
    width                   100%

  .messages h3.sidebar-title a.add-icon
    opacity                 1

  .kdtabpaneview.privatemessage
    .kdlistitemview-activity.privatemessage
      margin-left           14px

    .message-pane-scroller > .kdscrollview
      padding-right         14px

    .message-pane-scroller
      kalc                  height, 100% \- 146px

    .new-message-form
      padding               84px 14px

    .new-message-form.inline
      padding               12px 14px

      &.active
        top                 96px

  .chat-heads
    margin-top              61px

    .description
      margin-left           14px

  .activity-pane
    main.kdscrollview
      padding               61px 14px

    &.single-activity
      .kdlistitemview-activity
        margin-top          14px

  #content-page-activity
    .search-input
      display               none

    cite.search-icon
      display               none

  .activity-input-widget textarea.input-view.hitenterview
    min-height              65px

  .link-embed-box
    .preview-image
      margin                4px 0 0 4px
      border-radius         4px
      overflow              hidden

    div.embed-link-view
      height                auto

    div.preview-text
      height                auto
      padding               10px 10px 32px

      a.description
        height              auto
