.PublicChatPane-ModalContainer
  .Modal-overlay
    fix()
    top                           0
    left                          0
    size                          100%, 100%
    bg                            color, rgba(0,0,0,.2)
    z-index                       8

  .Modal-wrapper
    abs()
    rounded                       3px
    border                        1px solid #979797
    shadow                        0 12px 19px rgba(0, 0, 0, 0.5)
    top                           calc(50% \- 85px)
    left                          50%
    margin-left                   -300px
    z-index                       9
    bg                            color, #FAFAFA
    box-sizing                    border-box
    size                          600px, 170px
    padding                       15px 25px 25px

    .Modal-title
      color                       #00B057
      font-size                   20px
      margin-bottom               15px

    .Modal-body
      margin-top                  15px
      font-size                   16px
      line-height                 22px

    .Modal-buttons
      overflow                    hidden
      margin-top                  24px

    button
      fr()
      pointer()
      outline                     none
      height                      37px
      line-height                 37px
      padding                     0 10px
      color                       #FFF
      rounded                     3px
      box-sizing                  border-box
      border                      none
      font-size                   14px
      margin-left                 6px

    .Modal-buttonYES
      bg                          color, #D75B5B

    .Modal-buttonNO
      bg                          color, #A0A0A0

    .Modal-closeButton
      abs()
      top                         10px
      right                       10px
      r-sprite                    app, "modal-close-icon"
      bg                          color, transparent
