<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Koding Overview</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
		<style>
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
		</style>
		<link href="./bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="./bootstrap/js/bootstrap.js"></script>

		<script type="text/javascript" language="javascript" >
          $('.dropdown-toggle').dropdown();
 		</script>

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="../assets/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">Koding Overview</a>
					<ul class="nav">
						<li class="divider-vertical"></li>
					</ul>
					<form class="navbar-search pull-left">
						<input name="build" type="text" class="search-query">
					</form>
				</div>
			</div>
		</div><!-- navbar -->

		<div class="row-fluid">
			<div class="span5 offset1">
				<h2>Status</h2>

				<table class="table table-hover table-bordered">
					<tbody>
						<tr>
				<td rowspan="2"><a target="_blank" href="http://koding.com/">koding.com</a> is using</td> 
						  <td>server</td>
						  <td>
						<a target="_blank" href="http://{{.Status.Koding.ServerHost}}">{{.Status.Koding.ServerHost}}</a></td>
						</tr>
						<tr>
						  <td>broker</td>
						  <td>{{.Status.Koding.BrokerHost}}</td>
						</tr>
						<tr>
						</tr>
					</tbody>
				</table>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<td>Last Jenkins builds</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a target="_blank" href="{{.Jenkins.LastCompletedBuild.Url}}">Completed</a></td>
							<td><span class="label">{{.Jenkins.LastCompletedBuild.Number}}</span></td>
						</tr>
						<tr>
							<td><a target="_blank" href="{{.Jenkins.LastStableBuild.Url}}">Stable</a></td>
							<td><span class="label label-success">{{.Jenkins.LastStableBuild.Number}}</span></td>
						</tr>
						<tr>
							<td><a target="_blank" href="{{.Jenkins.LastFailedBuild.Url}}">Failed</a></td>
							<td><span class="label label-important">{{.Jenkins.LastFailedBuild.Number}}</span></td>
						</tr>
					</tbody>
				</table>
				<h2>Workers</h2>
				<table class="table table-bordered">
					<tr>
						<td><span class="badge badge-success">{{.Status.Workers.Started}}</span> workers are started</td>
						<td><span class="badge badge-important">{{.Status.Workers.Dead}}</span> workers are dead</td>
					</tr>
				</table>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<td><strong>Name</strong></td>
							<td><strong>Pid</strong></td>
							<td><strong>Port</strong></td>
							<td><strong>Uptime</strong></td>
							<td><strong>State</strong></td>
						</tr>
					</thead>
					<tbody>
						{{range .Workers}} 
						<tr class="{{.Info}}">
							<td>{{.Name}}</td>
							<td>{{.Pid}}</td>
							<td>{{.Port}}</td>
							<td>{{.Clock}}</td>
							<td>{{.State}}</td>
						</tr>
						{{end}}
					</tbody>
				</table>
				<span class="label label-info">Info</span>
				Kontrold is cleaning up death workers in one hour intervals.
			</div>
			<div class="span4">
				<h2>Deployment
				<div class="btn-group">
					<a class="btn btn-success dropdown-toggle" data-toggle="dropdown">{{.Status.BuildNumber}}<span class="caret"></span> </a>
					<ul class="dropdown-menu">
						<li><a href="?build=latest#">latest</a></li>
    					<li class="divider"></li>
						{{range .Builds}} 
						<li><a href="?build={{.}}">{{.}}</a></li>
						{{end}}
					</ul>
                </div><!-- /btn-group -->
				</h2>
				<table class="table table-hover table-bordered table-condensed">
					<tr>
						<td>Build Number</td>
						<td>{{.Server.BuildNumber}}</td>
					</tr>
					<tr>
						<td>Git branch</td>
						<td>{{.Server.GitBranch}}</td>
					</tr>
					<tr>
						<td>Git commit</td>
						<td>{{.Server.GitCommit}}</td>
					</tr>
					<tr>
						<td>Config used</td>
						<td>{{.Server.ConfigUsed}}</td>
					</tr>
				</table>
				<table class="table table-hover table-bordered table-condensed">
					<tr>
						<td>Hostname</td>
						<td>{{.Server.Hostname.Public}}</td>
					</tr>
					<tr>
						<td>IP</td>
						<td>{{.Server.IP.Public}}</td>
					</tr>
				</table>
				<h4>MongoDB</h4>
				<table class="table table-hover table-bordered table-condensed">
					<tr>
						<td>Login</td>
						<td>{{.Server.Config.Mongo}}</td>
					</tr>
					<tr>
						<td>Shell</td>
						<td><span class="label label-inverse">{{.Server.MongoLogin}}</span></td>
					</tr>
				</table>

				<h4>RabbitMQ <a target="_blank" class="btn btn-mini btn-success" href="http://{{.Server.Config.Mq.Host}}:15672/">management login</a></h4>
				<table class="table table-hover table-bordered table-condensed">
					<tr>
						<td>Host</td>
						<td>{{.Server.Config.Mq.Host}}</td>
					</tr>
					<tr>
						<td>Port</td>
						<td>{{.Server.Config.Mq.Port}}</td>
					</tr>
					<tr>
						<td>ComponentUser</td>
						<td>{{.Server.Config.Mq.ComponentUser}}</td>
					</tr>
					<tr>
						<td>Password</td>
						<td>{{.Server.Config.Mq.Password}}</td>
					</tr>
					<tr>
						<td>Vhost</td>
						<td>{{.Server.Config.Mq.Vhost}}</td>
					</tr>
				</table>
			</div>
		</div> <!-- rows -->

		<div class="row">
		</div>
	</body>
</html>

