.CommandDropboxItem
  padding-left              12px
  padding-top               8px
  height                    34px

.CommandDropboxItem-description
  fr()
  color                     #ababac
  padding-right             12px
  
