---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v2/subscribe/sub-c-642a6fca-f5b9-11e5-9086-02ee2ddab7fe/Channel_NotPermitted/0?uuid=UUID_NotPermitted&tt=0&pnsdk=PubNub-Go%2F3.14.0
    method: GET
  response:
    body: |
      {"message":"Forbidden","payload":{"channels":["Channel_NotPermitted"]},"error":true,"service":"Access Manager","status":403}
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    status: 403 Forbidden
    code: 403
unclosed_requests: {}
