@import "../../../Framework/src/themes/default/kdfn"
@import "../../../Main/styl/appfn"
@import "../../../Main/styl/app.fonts"

@css {
/*
TOPICS stylesheet
app.topics.styl
*/
}

body.topics

  bg                      color, #eaeae8

  .header-facets
    display                     none

  h4.header-view-section
    border                none
    margin                2% 2% 0 0
    size                  auto, auto
    overflow              visible

    .header-search-input
      size                293px, 42px
      rounded             21px
      shadow              none
      border              none
      border-top          1px solid #d2d2d0
      padding             0 40px 0 22px
      font-size           16px
      color               #9ea3a6
      font-weight         500
      bg                  image, url("../images/search-icon.png")
      bg                  repeat, no-repeat
      bg                  position, 255px 10px
      fr()
      borderBox()

  .kdlistview
    .lazy-loader
      text-align          center
      display             block
      line-height         42px
      font-size           14px
      font-weight         400
      color               #9ea3a6
      margin              24px auto

      .kdloader
        display           block
        margin            6px auto

.kdlistitemview-topics.topic-item
  size                    23%, 300px
  bg                      color, #fff
  margin                  2% 2% 0 0
  padding                 26px
  position                relative
  fl()
  borderBox()

  &:nth-child(4n+1)
    margin-right          0

  &:after
    content               ""
    display               block
    bottom                55px
    left                  0
    size                  100%, 70px
    gradient              rgba(255, 255, 255, 0), #fff //fuck saf*ri
    abs()

  .edit-topic
    abs()
    top                   5px
    right                 5px
    font-size             13px
    color                 #999
    hidden()
  &:hover
    .edit-topic
      visible()

  header
    size                  100%, auto
    word-break            break-word
    borderBox()

    h3
      display             block
      size                100%, auto
      margin              0 0 14px 0
      padding             0

      a
        display           block
        size              100%, auto
        position          relative
        font-size         18px
        font-weight       400
        color             #536067
        text-transform    capitalize
        noTextDeco()

  .stats
    font-size             12px
    color                 #9db0b3

    a
      color               #9db0b3
      noTextDeco()

      &~a
        margin-left       14px

  article
    size                  100%, 128px
    margin                26px 0 0 0
    font-size             14px
    line-height           18px
    overflow              hidden
    color                 #50595a

  .follow-btn
    size                  115px, 30px
    line-height           32px
    rounded               15px
    bg                    color, #1aaf5d
    bottom                23px
    left                  23px
    padding               0
    text-align            center
    abs()

    &.following-btn
      bg                  color, #2d97de

    span
      line-height         inherit
      font-size           14px
      font-family         'Proxima Nova'
      text-transform      uppercase
      font-weight         600







