.EmojiSelectorItem
  fl()
  size                      16px 16px
  padding                   5px
  margin-left               5px
  margin-bottom             5px
  pointer()
  rounded                   5px
  bg                        color, #fff

  .emoji
    size                    16px 16px

.EmojiSelectorItem-firstInRow
  margin-left               0px
  clear                     left

.EmojiSelectorItem-selected
  bg                        color, rgba(249,204,13,0.4)