.EmojiSelectorItem
  fl()
  padding                   2px
  rounded                   4px

  &.DropboxItem-selected
    bg                      color, #FEEC99

  .emojiSpriteIcon
    transform               scale(0.625, 0.625)
    size                    32px 32px

