/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$about_box__2x_x = 1985px;
$about_box__2x_y = 340px;
$about_box__2x_offset_x = -1985px;
$about_box__2x_offset_y = -340px;
$about_box__2x_width = 95px;
$about_box__2x_height = 108px;
$about_box__2x_total_width = 2265px;
$about_box__2x_total_height = 689px;
$about_box__2x_image = '/a/out/images/sprite@2x.png';
$about_box__2x = 1985px 340px -1985px -340px 95px 108px 2265px 689px '/a/out/images/sprite@2x.png';
$about_card__2x_x = 2183px;
$about_card__2x_y = 561px;
$about_card__2x_offset_x = -2183px;
$about_card__2x_offset_y = -561px;
$about_card__2x_width = 64px;
$about_card__2x_height = 52px;
$about_card__2x_total_width = 2265px;
$about_card__2x_total_height = 689px;
$about_card__2x_image = '/a/out/images/sprite@2x.png';
$about_card__2x = 2183px 561px -2183px -561px 64px 52px 2265px 689px '/a/out/images/sprite@2x.png';
$about_download__2x_x = 1486px;
$about_download__2x_y = 561px;
$about_download__2x_offset_x = -1486px;
$about_download__2x_offset_y = -561px;
$about_download__2x_width = 56px;
$about_download__2x_height = 63px;
$about_download__2x_total_width = 2265px;
$about_download__2x_total_height = 689px;
$about_download__2x_image = '/a/out/images/sprite@2x.png';
$about_download__2x = 1486px 561px -1486px -561px 56px 63px 2265px 689px '/a/out/images/sprite@2x.png';
$about_lines__2x_x = 346px;
$about_lines__2x_y = 591px;
$about_lines__2x_offset_x = -346px;
$about_lines__2x_offset_y = -591px;
$about_lines__2x_width = 52px;
$about_lines__2x_height = 36px;
$about_lines__2x_total_width = 2265px;
$about_lines__2x_total_height = 689px;
$about_lines__2x_image = '/a/out/images/sprite@2x.png';
$about_lines__2x = 346px 591px -346px -591px 52px 36px 2265px 689px '/a/out/images/sprite@2x.png';
$about_map__2x_x = 1815px;
$about_map__2x_y = 170px;
$about_map__2x_offset_x = -1815px;
$about_map__2x_offset_y = -170px;
$about_map__2x_width = 109px;
$about_map__2x_height = 111px;
$about_map__2x_total_width = 2265px;
$about_map__2x_total_height = 689px;
$about_map__2x_image = '/a/out/images/sprite@2x.png';
$about_map__2x = 1815px 170px -1815px -170px 109px 111px 2265px 689px '/a/out/images/sprite@2x.png';
$about_pin__2x_x = 2211px;
$about_pin__2x_y = 340px;
$about_pin__2x_offset_x = -2211px;
$about_pin__2x_offset_y = -340px;
$about_pin__2x_width = 48px;
$about_pin__2x_height = 64px;
$about_pin__2x_total_width = 2265px;
$about_pin__2x_total_height = 689px;
$about_pin__2x_image = '/a/out/images/sprite@2x.png';
$about_pin__2x = 2211px 340px -2211px -340px 48px 64px 2265px 689px '/a/out/images/sprite@2x.png';
$about_talent__2x_x = 2090px;
$about_talent__2x_y = 340px;
$about_talent__2x_offset_x = -2090px;
$about_talent__2x_offset_y = -340px;
$about_talent__2x_width = 111px;
$about_talent__2x_height = 93px;
$about_talent__2x_total_width = 2265px;
$about_talent__2x_total_height = 689px;
$about_talent__2x_image = '/a/out/images/sprite@2x.png';
$about_talent__2x = 2090px 340px -2090px -340px 111px 93px 2265px 689px '/a/out/images/sprite@2x.png';
$app_16-close-white__2x_x = 534px;
$app_16-close-white__2x_y = 591px;
$app_16-close-white__2x_offset_x = -534px;
$app_16-close-white__2x_offset_y = -591px;
$app_16-close-white__2x_width = 32px;
$app_16-close-white__2x_height = 32px;
$app_16-close-white__2x_total_width = 2265px;
$app_16-close-white__2x_total_height = 689px;
$app_16-close-white__2x_image = '/a/out/images/sprite@2x.png';
$app_16-close-white__2x = 534px 591px -534px -591px 32px 32px 2265px 689px '/a/out/images/sprite@2x.png';
$app_20-chevron-gray__2x_x = 170px;
$app_20-chevron-gray__2x_y = 591px;
$app_20-chevron-gray__2x_offset_x = -170px;
$app_20-chevron-gray__2x_offset_y = -591px;
$app_20-chevron-gray__2x_width = 40px;
$app_20-chevron-gray__2x_height = 40px;
$app_20-chevron-gray__2x_total_width = 2265px;
$app_20-chevron-gray__2x_total_height = 689px;
$app_20-chevron-gray__2x_image = '/a/out/images/sprite@2x.png';
$app_20-chevron-gray__2x = 170px 591px -170px -591px 40px 40px 2265px 689px '/a/out/images/sprite@2x.png';
$app_20-chevron-orange__2x_x = 550px;
$app_20-chevron-orange__2x_y = 487px;
$app_20-chevron-orange__2x_offset_x = -550px;
$app_20-chevron-orange__2x_offset_y = -487px;
$app_20-chevron-orange__2x_width = 40px;
$app_20-chevron-orange__2x_height = 40px;
$app_20-chevron-orange__2x_total_width = 2265px;
$app_20-chevron-orange__2x_total_height = 689px;
$app_20-chevron-orange__2x_image = '/a/out/images/sprite@2x.png';
$app_20-chevron-orange__2x = 550px 487px -550px -487px 40px 40px 2265px 689px '/a/out/images/sprite@2x.png';
$app_20-close-tab__2x_x = 487px;
$app_20-close-tab__2x_y = 541px;
$app_20-close-tab__2x_offset_x = -487px;
$app_20-close-tab__2x_offset_y = -541px;
$app_20-close-tab__2x_width = 40px;
$app_20-close-tab__2x_height = 40px;
$app_20-close-tab__2x_total_width = 2265px;
$app_20-close-tab__2x_total_height = 689px;
$app_20-close-tab__2x_image = '/a/out/images/sprite@2x.png';
$app_20-close-tab__2x = 487px 541px -487px -541px 40px 40px 2265px 689px '/a/out/images/sprite@2x.png';
$app_20-cog-gray__2x_x = 614px;
$app_20-cog-gray__2x_y = 403px;
$app_20-cog-gray__2x_offset_x = -614px;
$app_20-cog-gray__2x_offset_y = -403px;
$app_20-cog-gray__2x_width = 41px;
$app_20-cog-gray__2x_height = 41px;
$app_20-cog-gray__2x_total_width = 2265px;
$app_20-cog-gray__2x_total_height = 689px;
$app_20-cog-gray__2x_image = '/a/out/images/sprite@2x.png';
$app_20-cog-gray__2x = 614px 403px -614px -403px 41px 41px 2265px 689px '/a/out/images/sprite@2x.png';
$app_20-cog-white__2x_x = 202px;
$app_20-cog-white__2x_y = 541px;
$app_20-cog-white__2x_offset_x = -202px;
$app_20-cog-white__2x_offset_y = -541px;
$app_20-cog-white__2x_width = 40px;
$app_20-cog-white__2x_height = 40px;
$app_20-cog-white__2x_total_width = 2265px;
$app_20-cog-white__2x_total_height = 689px;
$app_20-cog-white__2x_image = '/a/out/images/sprite@2x.png';
$app_20-cog-white__2x = 202px 541px -202px -541px 40px 40px 2265px 689px '/a/out/images/sprite@2x.png';
$app_20-cog__2x_x = 587px;
$app_20-cog__2x_y = 541px;
$app_20-cog__2x_offset_x = -587px;
$app_20-cog__2x_offset_y = -541px;
$app_20-cog__2x_width = 40px;
$app_20-cog__2x_height = 40px;
$app_20-cog__2x_total_width = 2265px;
$app_20-cog__2x_total_height = 689px;
$app_20-cog__2x_image = '/a/out/images/sprite@2x.png';
$app_20-cog__2x = 587px 541px -587px -541px 40px 40px 2265px 689px '/a/out/images/sprite@2x.png';
$app_20-diagonal-pattern__2x_x = 402px;
$app_20-diagonal-pattern__2x_y = 394px;
$app_20-diagonal-pattern__2x_offset_x = -402px;
$app_20-diagonal-pattern__2x_offset_y = -394px;
$app_20-diagonal-pattern__2x_width = 40px;
$app_20-diagonal-pattern__2x_height = 40px;
$app_20-diagonal-pattern__2x_total_width = 2265px;
$app_20-diagonal-pattern__2x_total_height = 689px;
$app_20-diagonal-pattern__2x_image = '/a/out/images/sprite@2x.png';
$app_20-diagonal-pattern__2x = 402px 394px -402px -394px 40px 40px 2265px 689px '/a/out/images/sprite@2x.png';
$app_20-home-icon__2x_x = 434px;
$app_20-home-icon__2x_y = 341px;
$app_20-home-icon__2x_offset_x = -434px;
$app_20-home-icon__2x_offset_y = -341px;
$app_20-home-icon__2x_width = 40px;
$app_20-home-icon__2x_height = 40px;
$app_20-home-icon__2x_total_width = 2265px;
$app_20-home-icon__2x_total_height = 689px;
$app_20-home-icon__2x_image = '/a/out/images/sprite@2x.png';
$app_20-home-icon__2x = 434px 341px -434px -341px 40px 40px 2265px 689px '/a/out/images/sprite@2x.png';
$app_20-tab-plus__2x_x = 254px;
$app_20-tab-plus__2x_y = 591px;
$app_20-tab-plus__2x_offset_x = -254px;
$app_20-tab-plus__2x_offset_y = -591px;
$app_20-tab-plus__2x_width = 40px;
$app_20-tab-plus__2x_height = 40px;
$app_20-tab-plus__2x_total_width = 2265px;
$app_20-tab-plus__2x_total_height = 689px;
$app_20-tab-plus__2x_image = '/a/out/images/sprite@2x.png';
$app_20-tab-plus__2x = 254px 591px -254px -591px 40px 40px 2265px 689px '/a/out/images/sprite@2x.png';
$app_23-close-white__2x_x = 405px;
$app_23-close-white__2x_y = 206px;
$app_23-close-white__2x_offset_x = -405px;
$app_23-close-white__2x_offset_y = -206px;
$app_23-close-white__2x_width = 47px;
$app_23-close-white__2x_height = 47px;
$app_23-close-white__2x_total_width = 2265px;
$app_23-close-white__2x_total_height = 689px;
$app_23-close-white__2x_image = '/a/out/images/sprite@2x.png';
$app_23-close-white__2x = 405px 206px -405px -206px 47px 47px 2265px 689px '/a/out/images/sprite@2x.png';
$app_25-cog-gray__2x_x = 493px;
$app_25-cog-gray__2x_y = 403px;
$app_25-cog-gray__2x_offset_x = -493px;
$app_25-cog-gray__2x_offset_y = -403px;
$app_25-cog-gray__2x_width = 51px;
$app_25-cog-gray__2x_height = 51px;
$app_25-cog-gray__2x_total_width = 2265px;
$app_25-cog-gray__2x_total_height = 689px;
$app_25-cog-gray__2x_image = '/a/out/images/sprite@2x.png';
$app_25-cog-gray__2x = 493px 403px -493px -403px 51px 51px 2265px 689px '/a/out/images/sprite@2x.png';
$app_25-down-chevron__2x_x = 2211px;
$app_25-down-chevron__2x_y = 414px;
$app_25-down-chevron__2x_offset_x = -2211px;
$app_25-down-chevron__2x_offset_y = -414px;
$app_25-down-chevron__2x_width = 36px;
$app_25-down-chevron__2x_height = 18px;
$app_25-down-chevron__2x_total_width = 2265px;
$app_25-down-chevron__2x_total_height = 689px;
$app_25-down-chevron__2x_image = '/a/out/images/sprite@2x.png';
$app_25-down-chevron__2x = 2211px 414px -2211px -414px 36px 18px 2265px 689px '/a/out/images/sprite@2x.png';
$app_25-warning__2x_x = 287px;
$app_25-warning__2x_y = 206px;
$app_25-warning__2x_offset_x = -287px;
$app_25-warning__2x_offset_y = -206px;
$app_25-warning__2x_width = 50px;
$app_25-warning__2x_height = 50px;
$app_25-warning__2x_total_width = 2265px;
$app_25-warning__2x_total_height = 689px;
$app_25-warning__2x_image = '/a/out/images/sprite@2x.png';
$app_25-warning__2x = 287px 206px -287px -206px 50px 50px 2265px 689px '/a/out/images/sprite@2x.png';
$app_30-plus-icon-green__2x_x = 1763px;
$app_30-plus-icon-green__2x_y = 561px;
$app_30-plus-icon-green__2x_offset_x = -1763px;
$app_30-plus-icon-green__2x_offset_y = -561px;
$app_30-plus-icon-green__2x_width = 60px;
$app_30-plus-icon-green__2x_height = 60px;
$app_30-plus-icon-green__2x_total_width = 2265px;
$app_30-plus-icon-green__2x_total_height = 689px;
$app_30-plus-icon-green__2x_image = '/a/out/images/sprite@2x.png';
$app_30-plus-icon-green__2x = 1763px 561px -1763px -561px 60px 60px 2265px 689px '/a/out/images/sprite@2x.png';
$app_30-plus-icon-white__2x_x = 1693px;
$app_30-plus-icon-white__2x_y = 561px;
$app_30-plus-icon-white__2x_offset_x = -1693px;
$app_30-plus-icon-white__2x_offset_y = -561px;
$app_30-plus-icon-white__2x_width = 60px;
$app_30-plus-icon-white__2x_height = 60px;
$app_30-plus-icon-white__2x_total_width = 2265px;
$app_30-plus-icon-white__2x_total_height = 689px;
$app_30-plus-icon-white__2x_image = '/a/out/images/sprite@2x.png';
$app_30-plus-icon-white__2x = 1693px 561px -1693px -561px 60px 60px 2265px 689px '/a/out/images/sprite@2x.png';
$app_30-refresh-icon-green__2x_x = 1623px;
$app_30-refresh-icon-green__2x_y = 561px;
$app_30-refresh-icon-green__2x_offset_x = -1623px;
$app_30-refresh-icon-green__2x_offset_y = -561px;
$app_30-refresh-icon-green__2x_width = 60px;
$app_30-refresh-icon-green__2x_height = 60px;
$app_30-refresh-icon-green__2x_total_width = 2265px;
$app_30-refresh-icon-green__2x_total_height = 689px;
$app_30-refresh-icon-green__2x_image = '/a/out/images/sprite@2x.png';
$app_30-refresh-icon-green__2x = 1623px 561px -1623px -561px 60px 60px 2265px 689px '/a/out/images/sprite@2x.png';
$app_30-refresh-icon-white__2x_x = 1833px;
$app_30-refresh-icon-white__2x_y = 561px;
$app_30-refresh-icon-white__2x_offset_x = -1833px;
$app_30-refresh-icon-white__2x_offset_y = -561px;
$app_30-refresh-icon-white__2x_width = 60px;
$app_30-refresh-icon-white__2x_height = 60px;
$app_30-refresh-icon-white__2x_total_width = 2265px;
$app_30-refresh-icon-white__2x_total_height = 689px;
$app_30-refresh-icon-white__2x_image = '/a/out/images/sprite@2x.png';
$app_30-refresh-icon-white__2x = 1833px 561px -1833px -561px 60px 60px 2265px 689px '/a/out/images/sprite@2x.png';
$app_account-arrow__2x_x = 1368px;
$app_account-arrow__2x_y = 310px;
$app_account-arrow__2x_offset_x = -1368px;
$app_account-arrow__2x_offset_y = -310px;
$app_account-arrow__2x_width = 20px;
$app_account-arrow__2x_height = 12px;
$app_account-arrow__2x_total_width = 2265px;
$app_account-arrow__2x_total_height = 689px;
$app_account-arrow__2x_image = '/a/out/images/sprite@2x.png';
$app_account-arrow__2x = 1368px 310px -1368px -310px 20px 12px 2265px 689px '/a/out/images/sprite@2x.png';
$app_account-cog__2x_x = 600px;
$app_account-cog__2x_y = 487px;
$app_account-cog__2x_offset_x = -600px;
$app_account-cog__2x_offset_y = -487px;
$app_account-cog__2x_width = 40px;
$app_account-cog__2x_height = 40px;
$app_account-cog__2x_total_width = 2265px;
$app_account-cog__2x_total_height = 689px;
$app_account-cog__2x_image = '/a/out/images/sprite@2x.png';
$app_account-cog__2x = 600px 487px -600px -487px 40px 40px 2265px 689px '/a/out/images/sprite@2x.png';
$app_account-messages__2x_x = 650px;
$app_account-messages__2x_y = 657px;
$app_account-messages__2x_offset_x = -650px;
$app_account-messages__2x_offset_y = -657px;
$app_account-messages__2x_width = 32px;
$app_account-messages__2x_height = 22px;
$app_account-messages__2x_total_width = 2265px;
$app_account-messages__2x_total_height = 689px;
$app_account-messages__2x_image = '/a/out/images/sprite@2x.png';
$app_account-messages__2x = 650px 657px -650px -657px 32px 22px 2265px 689px '/a/out/images/sprite@2x.png';
$app_account-notifications__2x_x = 291px;
$app_account-notifications__2x_y = 541px;
$app_account-notifications__2x_offset_x = -291px;
$app_account-notifications__2x_offset_y = -541px;
$app_account-notifications__2x_width = 40px;
$app_account-notifications__2x_height = 40px;
$app_account-notifications__2x_total_width = 2265px;
$app_account-notifications__2x_total_height = 689px;
$app_account-notifications__2x_image = '/a/out/images/sprite@2x.png';
$app_account-notifications__2x = 291px 541px -291px -541px 40px 40px 2265px 689px '/a/out/images/sprite@2x.png';
$app_account-search__2x_x = 391px;
$app_account-search__2x_y = 541px;
$app_account-search__2x_offset_x = -391px;
$app_account-search__2x_offset_y = -541px;
$app_account-search__2x_width = 40px;
$app_account-search__2x_height = 40px;
$app_account-search__2x_total_width = 2265px;
$app_account-search__2x_total_height = 689px;
$app_account-search__2x_image = '/a/out/images/sprite@2x.png';
$app_account-search__2x = 391px 541px -391px -541px 40px 40px 2265px 689px '/a/out/images/sprite@2x.png';
$app_account-settings__2x_x = 554px;
$app_account-settings__2x_y = 403px;
$app_account-settings__2x_offset_x = -554px;
$app_account-settings__2x_offset_y = -403px;
$app_account-settings__2x_width = 50px;
$app_account-settings__2x_height = 50px;
$app_account-settings__2x_total_width = 2265px;
$app_account-settings__2x_total_height = 689px;
$app_account-settings__2x_image = '/a/out/images/sprite@2x.png';
$app_account-settings__2x = 554px 403px -554px -403px 50px 50px 2265px 689px '/a/out/images/sprite@2x.png';
$app_app-arrow__2x_x = 462px;
$app_app-arrow__2x_y = 206px;
$app_app-arrow__2x_offset_x = -462px;
$app_app-arrow__2x_offset_y = -206px;
$app_app-arrow__2x_width = 20px;
$app_app-arrow__2x_height = 32px;
$app_app-arrow__2x_total_width = 2265px;
$app_app-arrow__2x_total_height = 689px;
$app_app-arrow__2x_image = '/a/out/images/sprite@2x.png';
$app_app-arrow__2x = 462px 206px -462px -206px 20px 32px 2265px 689px '/a/out/images/sprite@2x.png';
$app_circle-plus-14__2x_x = 498px;
$app_circle-plus-14__2x_y = 657px;
$app_circle-plus-14__2x_offset_x = -498px;
$app_circle-plus-14__2x_offset_y = -657px;
$app_circle-plus-14__2x_width = 28px;
$app_circle-plus-14__2x_height = 28px;
$app_circle-plus-14__2x_total_width = 2265px;
$app_circle-plus-14__2x_total_height = 689px;
$app_circle-plus-14__2x_image = '/a/out/images/sprite@2x.png';
$app_circle-plus-14__2x = 498px 657px -498px -657px 28px 28px 2265px 689px '/a/out/images/sprite@2x.png';
$app_circle-plus-16__2x_x = 380px;
$app_circle-plus-16__2x_y = 657px;
$app_circle-plus-16__2x_offset_x = -380px;
$app_circle-plus-16__2x_offset_y = -657px;
$app_circle-plus-16__2x_width = 32px;
$app_circle-plus-16__2x_height = 32px;
$app_circle-plus-16__2x_total_width = 2265px;
$app_circle-plus-16__2x_total_height = 689px;
$app_circle-plus-16__2x_image = '/a/out/images/sprite@2x.png';
$app_circle-plus-16__2x = 380px 657px -380px -657px 32px 32px 2265px 689px '/a/out/images/sprite@2x.png';
$app_delete-gray-16__2x_x = 294px;
$app_delete-gray-16__2x_y = 657px;
$app_delete-gray-16__2x_offset_x = -294px;
$app_delete-gray-16__2x_offset_y = -657px;
$app_delete-gray-16__2x_width = 32px;
$app_delete-gray-16__2x_height = 32px;
$app_delete-gray-16__2x_total_width = 2265px;
$app_delete-gray-16__2x_total_height = 689px;
$app_delete-gray-16__2x_image = '/a/out/images/sprite@2x.png';
$app_delete-gray-16__2x = 294px 657px -294px -657px 32px 32px 2265px 689px '/a/out/images/sprite@2x.png';
$app_delete-icon__2x_x = 252px;
$app_delete-icon__2x_y = 657px;
$app_delete-icon__2x_offset_x = -252px;
$app_delete-icon__2x_offset_y = -657px;
$app_delete-icon__2x_width = 32px;
$app_delete-icon__2x_height = 32px;
$app_delete-icon__2x_total_width = 2265px;
$app_delete-icon__2x_total_height = 689px;
$app_delete-icon__2x_image = '/a/out/images/sprite@2x.png';
$app_delete-icon__2x = 252px 657px -252px -657px 32px 32px 2265px 689px '/a/out/images/sprite@2x.png';
$app_edit-gray-16__2x_x = 210px;
$app_edit-gray-16__2x_y = 657px;
$app_edit-gray-16__2x_offset_x = -210px;
$app_edit-gray-16__2x_offset_y = -657px;
$app_edit-gray-16__2x_width = 32px;
$app_edit-gray-16__2x_height = 32px;
$app_edit-gray-16__2x_total_width = 2265px;
$app_edit-gray-16__2x_total_height = 689px;
$app_edit-gray-16__2x_image = '/a/out/images/sprite@2x.png';
$app_edit-gray-16__2x = 210px 657px -210px -657px 32px 32px 2265px 689px '/a/out/images/sprite@2x.png';
$app_edit-icon__2x_x = 126px;
$app_edit-icon__2x_y = 657px;
$app_edit-icon__2x_offset_x = -126px;
$app_edit-icon__2x_offset_y = -657px;
$app_edit-icon__2x_width = 32px;
$app_edit-icon__2x_height = 32px;
$app_edit-icon__2x_total_width = 2265px;
$app_edit-icon__2x_total_height = 689px;
$app_edit-icon__2x_image = '/a/out/images/sprite@2x.png';
$app_edit-icon__2x = 126px 657px -126px -657px 32px 32px 2265px 689px '/a/out/images/sprite@2x.png';
$app_filter-arrow__2x_x = 1337px;
$app_filter-arrow__2x_y = 310px;
$app_filter-arrow__2x_offset_x = -1337px;
$app_filter-arrow__2x_offset_y = -310px;
$app_filter-arrow__2x_width = 21px;
$app_filter-arrow__2x_height = 12px;
$app_filter-arrow__2x_total_width = 2265px;
$app_filter-arrow__2x_total_height = 689px;
$app_filter-arrow__2x_image = '/a/out/images/sprite@2x.png';
$app_filter-arrow__2x = 1337px 310px -1337px -310px 21px 12px 2265px 689px '/a/out/images/sprite@2x.png';
$app_global-app-settings__2x_x = 1369px;
$app_global-app-settings__2x_y = 460px;
$app_global-app-settings__2x_offset_x = -1369px;
$app_global-app-settings__2x_offset_y = -460px;
$app_global-app-settings__2x_width = 80px;
$app_global-app-settings__2x_height = 80px;
$app_global-app-settings__2x_total_width = 2265px;
$app_global-app-settings__2x_total_height = 689px;
$app_global-app-settings__2x_image = '/a/out/images/sprite@2x.png';
$app_global-app-settings__2x = 1369px 460px -1369px -460px 80px 80px 2265px 689px '/a/out/images/sprite@2x.png';
$app_login-github__2x_x = 755px;
$app_login-github__2x_y = 561px;
$app_login-github__2x_offset_x = -755px;
$app_login-github__2x_offset_y = -561px;
$app_login-github__2x_width = 72px;
$app_login-github__2x_height = 72px;
$app_login-github__2x_total_width = 2265px;
$app_login-github__2x_total_height = 689px;
$app_login-github__2x_image = '/a/out/images/sprite@2x.png';
$app_login-github__2x = 755px 561px -755px -561px 72px 72px 2265px 689px '/a/out/images/sprite@2x.png';
$app_login-right-arrow__2x_x = 220px;
$app_login-right-arrow__2x_y = 591px;
$app_login-right-arrow__2x_offset_x = -220px;
$app_login-right-arrow__2x_offset_y = -591px;
$app_login-right-arrow__2x_width = 24px;
$app_login-right-arrow__2x_height = 40px;
$app_login-right-arrow__2x_total_width = 2265px;
$app_login-right-arrow__2x_total_height = 689px;
$app_login-right-arrow__2x_image = '/a/out/images/sprite@2x.png';
$app_login-right-arrow__2x = 220px 591px -220px -591px 24px 40px 2265px 689px '/a/out/images/sprite@2x.png';
$app_login-validation-fail__2x_x = 1270px;
$app_login-validation-fail__2x_y = 561px;
$app_login-validation-fail__2x_offset_x = -1270px;
$app_login-validation-fail__2x_offset_y = -561px;
$app_login-validation-fail__2x_width = 66px;
$app_login-validation-fail__2x_height = 64px;
$app_login-validation-fail__2x_total_width = 2265px;
$app_login-validation-fail__2x_total_height = 689px;
$app_login-validation-fail__2x_image = '/a/out/images/sprite@2x.png';
$app_login-validation-fail__2x = 1270px 561px -1270px -561px 66px 64px 2265px 689px '/a/out/images/sprite@2x.png';
$app_login-validation-pass__2x_x = 1194px;
$app_login-validation-pass__2x_y = 561px;
$app_login-validation-pass__2x_offset_x = -1194px;
$app_login-validation-pass__2x_offset_y = -561px;
$app_login-validation-pass__2x_width = 66px;
$app_login-validation-pass__2x_height = 64px;
$app_login-validation-pass__2x_total_width = 2265px;
$app_login-validation-pass__2x_total_height = 689px;
$app_login-validation-pass__2x_image = '/a/out/images/sprite@2x.png';
$app_login-validation-pass__2x = 1194px 561px -1194px -561px 66px 64px 2265px 689px '/a/out/images/sprite@2x.png';
$app_logo-full-white__2x_x = 170px;
$app_logo-full-white__2x_y = 487px;
$app_logo-full-white__2x_offset_x = -170px;
$app_logo-full-white__2x_offset_y = -487px;
$app_logo-full-white__2x_width = 180px;
$app_logo-full-white__2x_height = 44px;
$app_logo-full-white__2x_total_width = 2265px;
$app_logo-full-white__2x_total_height = 689px;
$app_logo-full-white__2x_image = '/a/out/images/sprite@2x.png';
$app_logo-full-white__2x = 170px 487px -170px -487px 180px 44px 2265px 689px '/a/out/images/sprite@2x.png';
$app_logo-full__2x_x = 360px;
$app_logo-full__2x_y = 487px;
$app_logo-full__2x_offset_x = -360px;
$app_logo-full__2x_offset_y = -487px;
$app_logo-full__2x_width = 180px;
$app_logo-full__2x_height = 44px;
$app_logo-full__2x_total_width = 2265px;
$app_logo-full__2x_total_height = 689px;
$app_logo-full__2x_image = '/a/out/images/sprite@2x.png';
$app_logo-full__2x = 360px 487px -360px -487px 180px 44px 2265px 689px '/a/out/images/sprite@2x.png';
$app_logo-login__2x_x = 1969px;
$app_logo-login__2x_y = 561px;
$app_logo-login__2x_offset_x = -1969px;
$app_logo-login__2x_offset_y = -561px;
$app_logo-login__2x_width = 56px;
$app_logo-login__2x_height = 58px;
$app_logo-login__2x_total_width = 2265px;
$app_logo-login__2x_total_height = 689px;
$app_logo-login__2x_image = '/a/out/images/sprite@2x.png';
$app_logo-login__2x = 1969px 561px -1969px -561px 56px 58px 2265px 689px '/a/out/images/sprite@2x.png';
$app_logo__2x_x = 1903px;
$app_logo__2x_y = 561px;
$app_logo__2x_offset_x = -1903px;
$app_logo__2x_offset_y = -561px;
$app_logo__2x_width = 56px;
$app_logo__2x_height = 58px;
$app_logo__2x_total_width = 2265px;
$app_logo__2x_total_height = 689px;
$app_logo__2x_image = '/a/out/images/sprite@2x.png';
$app_logo__2x = 1903px 561px -1903px -561px 56px 58px 2265px 689px '/a/out/images/sprite@2x.png';
$app_modal-close-icon__2x_x = 537px;
$app_modal-close-icon__2x_y = 541px;
$app_modal-close-icon__2x_offset_x = -537px;
$app_modal-close-icon__2x_offset_y = -541px;
$app_modal-close-icon__2x_width = 40px;
$app_modal-close-icon__2x_height = 40px;
$app_modal-close-icon__2x_total_width = 2265px;
$app_modal-close-icon__2x_total_height = 689px;
$app_modal-close-icon__2x_image = '/a/out/images/sprite@2x.png';
$app_modal-close-icon__2x = 537px 541px -537px -541px 40px 40px 2265px 689px '/a/out/images/sprite@2x.png';
$app_nav-ace__2x_x = 1145px;
$app_nav-ace__2x_y = 340px;
$app_nav-ace__2x_offset_x = -1145px;
$app_nav-ace__2x_offset_y = -340px;
$app_nav-ace__2x_width = 110px;
$app_nav-ace__2x_height = 110px;
$app_nav-ace__2x_total_width = 2265px;
$app_nav-ace__2x_total_height = 689px;
$app_nav-ace__2x_image = '/a/out/images/sprite@2x.png';
$app_nav-ace__2x = 1145px 340px -1145px -340px 110px 110px 2265px 689px '/a/out/images/sprite@2x.png';
$app_nav-activity__2x_x = 905px;
$app_nav-activity__2x_y = 340px;
$app_nav-activity__2x_offset_x = -905px;
$app_nav-activity__2x_offset_y = -340px;
$app_nav-activity__2x_width = 110px;
$app_nav-activity__2x_height = 110px;
$app_nav-activity__2x_total_width = 2265px;
$app_nav-activity__2x_total_height = 689px;
$app_nav-activity__2x_image = '/a/out/images/sprite@2x.png';
$app_nav-activity__2x = 905px 340px -905px -340px 110px 110px 2265px 689px '/a/out/images/sprite@2x.png';
$app_nav-apps__2x_x = 1265px;
$app_nav-apps__2x_y = 340px;
$app_nav-apps__2x_offset_x = -1265px;
$app_nav-apps__2x_offset_y = -340px;
$app_nav-apps__2x_width = 110px;
$app_nav-apps__2x_height = 110px;
$app_nav-apps__2x_total_width = 2265px;
$app_nav-apps__2x_total_height = 689px;
$app_nav-apps__2x_image = '/a/out/images/sprite@2x.png';
$app_nav-apps__2x = 1265px 340px -1265px -340px 110px 110px 2265px 689px '/a/out/images/sprite@2x.png';
$app_nav-bugs__2x_x = 1025px;
$app_nav-bugs__2x_y = 340px;
$app_nav-bugs__2x_offset_x = -1025px;
$app_nav-bugs__2x_offset_y = -340px;
$app_nav-bugs__2x_width = 110px;
$app_nav-bugs__2x_height = 110px;
$app_nav-bugs__2x_total_width = 2265px;
$app_nav-bugs__2x_total_height = 689px;
$app_nav-bugs__2x_image = '/a/out/images/sprite@2x.png';
$app_nav-bugs__2x = 1025px 340px -1025px -340px 110px 110px 2265px 689px '/a/out/images/sprite@2x.png';
$app_nav-develop__2x_x = 2054px;
$app_nav-develop__2x_y = 170px;
$app_nav-develop__2x_offset_x = -2054px;
$app_nav-develop__2x_offset_y = -170px;
$app_nav-develop__2x_width = 110px;
$app_nav-develop__2x_height = 110px;
$app_nav-develop__2x_total_width = 2265px;
$app_nav-develop__2x_total_height = 689px;
$app_nav-develop__2x_image = '/a/out/images/sprite@2x.png';
$app_nav-develop__2x = 2054px 170px -2054px -170px 110px 110px 2265px 689px '/a/out/images/sprite@2x.png';
$app_nav-editor__2x_x = 1865px;
$app_nav-editor__2x_y = 340px;
$app_nav-editor__2x_offset_x = -1865px;
$app_nav-editor__2x_offset_y = -340px;
$app_nav-editor__2x_width = 110px;
$app_nav-editor__2x_height = 110px;
$app_nav-editor__2x_total_width = 2265px;
$app_nav-editor__2x_total_height = 689px;
$app_nav-editor__2x_image = '/a/out/images/sprite@2x.png';
$app_nav-editor__2x = 1865px 340px -1865px -340px 110px 110px 2265px 689px '/a/out/images/sprite@2x.png';
$app_nav-finder__2x_x = 1412px;
$app_nav-finder__2x_y = 561px;
$app_nav-finder__2x_offset_x = -1412px;
$app_nav-finder__2x_offset_y = -561px;
$app_nav-finder__2x_width = 64px;
$app_nav-finder__2x_height = 64px;
$app_nav-finder__2x_total_width = 2265px;
$app_nav-finder__2x_total_height = 689px;
$app_nav-finder__2x_image = '/a/out/images/sprite@2x.png';
$app_nav-finder__2x = 1412px 561px -1412px -561px 64px 64px 2265px 689px '/a/out/images/sprite@2x.png';
$app_nav-ide__2x_x = 1745px;
$app_nav-ide__2x_y = 340px;
$app_nav-ide__2x_offset_x = -1745px;
$app_nav-ide__2x_offset_y = -340px;
$app_nav-ide__2x_width = 110px;
$app_nav-ide__2x_height = 110px;
$app_nav-ide__2x_total_width = 2265px;
$app_nav-ide__2x_total_height = 689px;
$app_nav-ide__2x_image = '/a/out/images/sprite@2x.png';
$app_nav-ide__2x = 1745px 340px -1745px -340px 110px 110px 2265px 689px '/a/out/images/sprite@2x.png';
$app_nav-logo__2x_x = 1625px;
$app_nav-logo__2x_y = 340px;
$app_nav-logo__2x_offset_x = -1625px;
$app_nav-logo__2x_offset_y = -340px;
$app_nav-logo__2x_width = 110px;
$app_nav-logo__2x_height = 110px;
$app_nav-logo__2x_total_width = 2265px;
$app_nav-logo__2x_total_height = 689px;
$app_nav-logo__2x_image = '/a/out/images/sprite@2x.png';
$app_nav-logo__2x = 1625px 340px -1625px -340px 110px 110px 2265px 689px '/a/out/images/sprite@2x.png';
$app_nav-note__2x_x = 1505px;
$app_nav-note__2x_y = 340px;
$app_nav-note__2x_offset_x = -1505px;
$app_nav-note__2x_offset_y = -340px;
$app_nav-note__2x_width = 110px;
$app_nav-note__2x_height = 110px;
$app_nav-note__2x_total_width = 2265px;
$app_nav-note__2x_total_height = 689px;
$app_nav-note__2x_image = '/a/out/images/sprite@2x.png';
$app_nav-note__2x = 1505px 340px -1505px -340px 110px 110px 2265px 689px '/a/out/images/sprite@2x.png';
$app_nav-search__2x_x = 1120px;
$app_nav-search__2x_y = 561px;
$app_nav-search__2x_offset_x = -1120px;
$app_nav-search__2x_offset_y = -561px;
$app_nav-search__2x_width = 64px;
$app_nav-search__2x_height = 64px;
$app_nav-search__2x_total_width = 2265px;
$app_nav-search__2x_total_height = 689px;
$app_nav-search__2x_image = '/a/out/images/sprite@2x.png';
$app_nav-search__2x = 1120px 561px -1120px -561px 64px 64px 2265px 689px '/a/out/images/sprite@2x.png';
$app_nav-teamwork__2x_x = 785px;
$app_nav-teamwork__2x_y = 340px;
$app_nav-teamwork__2x_offset_x = -785px;
$app_nav-teamwork__2x_offset_y = -340px;
$app_nav-teamwork__2x_width = 110px;
$app_nav-teamwork__2x_height = 110px;
$app_nav-teamwork__2x_total_width = 2265px;
$app_nav-teamwork__2x_total_height = 689px;
$app_nav-teamwork__2x_image = '/a/out/images/sprite@2x.png';
$app_nav-teamwork__2x = 785px 340px -785px -340px 110px 110px 2265px 689px '/a/out/images/sprite@2x.png';
$app_nav-terminal__2x_x = 665px;
$app_nav-terminal__2x_y = 340px;
$app_nav-terminal__2x_offset_x = -665px;
$app_nav-terminal__2x_offset_y = -340px;
$app_nav-terminal__2x_width = 110px;
$app_nav-terminal__2x_height = 110px;
$app_nav-terminal__2x_total_width = 2265px;
$app_nav-terminal__2x_total_height = 689px;
$app_nav-terminal__2x_image = '/a/out/images/sprite@2x.png';
$app_nav-terminal__2x = 665px 340px -665px -340px 110px 110px 2265px 689px '/a/out/images/sprite@2x.png';
$app_nav-topics__2x_x = 1934px;
$app_nav-topics__2x_y = 170px;
$app_nav-topics__2x_offset_x = -1934px;
$app_nav-topics__2x_offset_y = -170px;
$app_nav-topics__2x_width = 110px;
$app_nav-topics__2x_height = 110px;
$app_nav-topics__2x_total_width = 2265px;
$app_nav-topics__2x_total_height = 689px;
$app_nav-topics__2x_image = '/a/out/images/sprite@2x.png';
$app_nav-topics__2x = 1934px 170px -1934px -170px 110px 110px 2265px 689px '/a/out/images/sprite@2x.png';
$app_new-nav-activity__2x_x = 574px;
$app_new-nav-activity__2x_y = 657px;
$app_new-nav-activity__2x_offset_x = -574px;
$app_new-nav-activity__2x_offset_y = -657px;
$app_new-nav-activity__2x_width = 28px;
$app_new-nav-activity__2x_height = 28px;
$app_new-nav-activity__2x_total_width = 2265px;
$app_new-nav-activity__2x_total_height = 689px;
$app_new-nav-activity__2x_image = '/a/out/images/sprite@2x.png';
$app_new-nav-activity__2x = 574px 657px -574px -657px 28px 28px 2265px 689px '/a/out/images/sprite@2x.png';
$app_new-nav-ide__2x_x = 536px;
$app_new-nav-ide__2x_y = 657px;
$app_new-nav-ide__2x_offset_x = -536px;
$app_new-nav-ide__2x_offset_y = -657px;
$app_new-nav-ide__2x_width = 28px;
$app_new-nav-ide__2x_height = 28px;
$app_new-nav-ide__2x_total_width = 2265px;
$app_new-nav-ide__2x_total_height = 689px;
$app_new-nav-ide__2x_image = '/a/out/images/sprite@2x.png';
$app_new-nav-ide__2x = 536px 657px -536px -657px 28px 28px 2265px 689px '/a/out/images/sprite@2x.png';
$app_new-nav-terminal__2x_x = 612px;
$app_new-nav-terminal__2x_y = 657px;
$app_new-nav-terminal__2x_offset_x = -612px;
$app_new-nav-terminal__2x_offset_y = -657px;
$app_new-nav-terminal__2x_width = 28px;
$app_new-nav-terminal__2x_height = 28px;
$app_new-nav-terminal__2x_total_width = 2265px;
$app_new-nav-terminal__2x_total_height = 689px;
$app_new-nav-terminal__2x_image = '/a/out/images/sprite@2x.png';
$app_new-nav-terminal__2x = 612px 657px -612px -657px 28px 28px 2265px 689px '/a/out/images/sprite@2x.png';
$app_new-nav-vm-green__2x_x = 408px;
$app_new-nav-vm-green__2x_y = 591px;
$app_new-nav-vm-green__2x_offset_x = -408px;
$app_new-nav-vm-green__2x_offset_y = -591px;
$app_new-nav-vm-green__2x_width = 32px;
$app_new-nav-vm-green__2x_height = 32px;
$app_new-nav-vm-green__2x_total_width = 2265px;
$app_new-nav-vm-green__2x_total_height = 689px;
$app_new-nav-vm-green__2x_image = '/a/out/images/sprite@2x.png';
$app_new-nav-vm-green__2x = 408px 591px -408px -591px 32px 32px 2265px 689px '/a/out/images/sprite@2x.png';
$app_new-nav-vm__2x_x = 450px;
$app_new-nav-vm__2x_y = 591px;
$app_new-nav-vm__2x_offset_x = -450px;
$app_new-nav-vm__2x_offset_y = -591px;
$app_new-nav-vm__2x_width = 32px;
$app_new-nav-vm__2x_height = 32px;
$app_new-nav-vm__2x_total_width = 2265px;
$app_new-nav-vm__2x_total_height = 689px;
$app_new-nav-vm__2x_image = '/a/out/images/sprite@2x.png';
$app_new-nav-vm__2x = 450px 591px -450px -591px 32px 32px 2265px 689px '/a/out/images/sprite@2x.png';
$app_next__2x_x = 452px;
$app_next__2x_y = 394px;
$app_next__2x_offset_x = -452px;
$app_next__2x_offset_y = -394px;
$app_next__2x_width = 22px;
$app_next__2x_height = 40px;
$app_next__2x_total_width = 2265px;
$app_next__2x_total_height = 689px;
$app_next__2x_image = '/a/out/images/sprite@2x.png';
$app_next__2x = 452px 394px -452px -394px 22px 40px 2265px 689px '/a/out/images/sprite@2x.png';
$app_notification-close__2x_x = 576px;
$app_notification-close__2x_y = 591px;
$app_notification-close__2x_offset_x = -576px;
$app_notification-close__2x_offset_y = -591px;
$app_notification-close__2x_width = 32px;
$app_notification-close__2x_height = 32px;
$app_notification-close__2x_total_width = 2265px;
$app_notification-close__2x_total_height = 689px;
$app_notification-close__2x_image = '/a/out/images/sprite@2x.png';
$app_notification-close__2x = 576px 591px -576px -591px 32px 32px 2265px 689px '/a/out/images/sprite@2x.png';
$app_previous__2x_x = 170px;
$app_previous__2x_y = 541px;
$app_previous__2x_offset_x = -170px;
$app_previous__2x_offset_y = -541px;
$app_previous__2x_width = 22px;
$app_previous__2x_height = 40px;
$app_previous__2x_total_width = 2265px;
$app_previous__2x_total_height = 689px;
$app_previous__2x_image = '/a/out/images/sprite@2x.png';
$app_previous__2x = 170px 541px -170px -541px 22px 40px 2265px 689px '/a/out/images/sprite@2x.png';
$app_private__2x_x = 304px;
$app_private__2x_y = 591px;
$app_private__2x_offset_x = -304px;
$app_private__2x_offset_y = -591px;
$app_private__2x_width = 32px;
$app_private__2x_height = 39px;
$app_private__2x_total_width = 2265px;
$app_private__2x_total_height = 689px;
$app_private__2x_image = '/a/out/images/sprite@2x.png';
$app_private__2x = 304px 591px -304px -591px 32px 39px 2265px 689px '/a/out/images/sprite@2x.png';
$app_question-mark__2x_x = 252px;
$app_question-mark__2x_y = 541px;
$app_question-mark__2x_offset_x = -252px;
$app_question-mark__2x_offset_y = -541px;
$app_question-mark__2x_width = 29px;
$app_question-mark__2x_height = 40px;
$app_question-mark__2x_total_width = 2265px;
$app_question-mark__2x_total_height = 689px;
$app_question-mark__2x_image = '/a/out/images/sprite@2x.png';
$app_question-mark__2x = 252px 541px -252px -541px 29px 40px 2265px 689px '/a/out/images/sprite@2x.png';
$app_quit-icon__2x_x = 2239px;
$app_quit-icon__2x_y = 510px;
$app_quit-icon__2x_offset_x = -2239px;
$app_quit-icon__2x_offset_y = -510px;
$app_quit-icon__2x_width = 24px;
$app_quit-icon__2x_height = 24px;
$app_quit-icon__2x_total_width = 2265px;
$app_quit-icon__2x_total_height = 689px;
$app_quit-icon__2x_image = '/a/out/images/sprite@2x.png';
$app_quit-icon__2x = 2239px 510px -2239px -510px 24px 24px 2265px 689px '/a/out/images/sprite@2x.png';
$app_quote__2x_x = 919px;
$app_quote__2x_y = 561px;
$app_quote__2x_offset_x = -919px;
$app_quote__2x_offset_y = -561px;
$app_quote__2x_width = 101px;
$app_quote__2x_height = 68px;
$app_quote__2x_total_width = 2265px;
$app_quote__2x_total_height = 689px;
$app_quote__2x_image = '/a/out/images/sprite@2x.png';
$app_quote__2x = 919px 561px -919px -561px 101px 68px 2265px 689px '/a/out/images/sprite@2x.png';
$app_red-close__2x_x = 618px;
$app_red-close__2x_y = 591px;
$app_red-close__2x_offset_x = -618px;
$app_red-close__2x_offset_y = -591px;
$app_red-close__2x_width = 32px;
$app_red-close__2x_height = 32px;
$app_red-close__2x_total_width = 2265px;
$app_red-close__2x_total_height = 689px;
$app_red-close__2x_image = '/a/out/images/sprite@2x.png';
$app_red-close__2x = 618px 591px -618px -591px 32px 32px 2265px 689px '/a/out/images/sprite@2x.png';
$app_select-arrows__2x_x = 464px;
$app_select-arrows__2x_y = 657px;
$app_select-arrows__2x_offset_x = -464px;
$app_select-arrows__2x_offset_y = -657px;
$app_select-arrows__2x_width = 24px;
$app_select-arrows__2x_height = 30px;
$app_select-arrows__2x_total_width = 2265px;
$app_select-arrows__2x_total_height = 689px;
$app_select-arrows__2x_image = '/a/out/images/sprite@2x.png';
$app_select-arrows__2x = 464px 657px -464px -657px 24px 30px 2265px 689px '/a/out/images/sprite@2x.png';
$app_share-gray-16__2x_x = 42px;
$app_share-gray-16__2x_y = 657px;
$app_share-gray-16__2x_offset_x = -42px;
$app_share-gray-16__2x_offset_y = -657px;
$app_share-gray-16__2x_width = 32px;
$app_share-gray-16__2x_height = 32px;
$app_share-gray-16__2x_total_width = 2265px;
$app_share-gray-16__2x_total_height = 689px;
$app_share-gray-16__2x_image = '/a/out/images/sprite@2x.png';
$app_share-gray-16__2x = 42px 657px -42px -657px 32px 32px 2265px 689px '/a/out/images/sprite@2x.png';
$app_sidebar-toggle__2x_x = 637px;
$app_sidebar-toggle__2x_y = 541px;
$app_sidebar-toggle__2x_offset_x = -637px;
$app_sidebar-toggle__2x_offset_y = -541px;
$app_sidebar-toggle__2x_width = 12px;
$app_sidebar-toggle__2x_height = 20px;
$app_sidebar-toggle__2x_total_width = 2265px;
$app_sidebar-toggle__2x_total_height = 689px;
$app_sidebar-toggle__2x_image = '/a/out/images/sprite@2x.png';
$app_sidebar-toggle__2x = 637px 541px -637px -541px 12px 20px 2265px 689px '/a/out/images/sprite@2x.png';
$app_users-gray-16__2x_x = 168px;
$app_users-gray-16__2x_y = 657px;
$app_users-gray-16__2x_offset_x = -168px;
$app_users-gray-16__2x_offset_y = -657px;
$app_users-gray-16__2x_width = 32px;
$app_users-gray-16__2x_height = 32px;
$app_users-gray-16__2x_total_width = 2265px;
$app_users-gray-16__2x_total_height = 689px;
$app_users-gray-16__2x_image = '/a/out/images/sprite@2x.png';
$app_users-gray-16__2x = 168px 657px -168px -657px 32px 32px 2265px 689px '/a/out/images/sprite@2x.png';
$app_verified__2x_x = 441px;
$app_verified__2x_y = 541px;
$app_verified__2x_offset_x = -441px;
$app_verified__2x_offset_y = -541px;
$app_verified__2x_width = 36px;
$app_verified__2x_height = 40px;
$app_verified__2x_total_width = 2265px;
$app_verified__2x_total_height = 689px;
$app_verified__2x_image = '/a/out/images/sprite@2x.png';
$app_verified__2x = 441px 541px -441px -541px 36px 40px 2265px 689px '/a/out/images/sprite@2x.png';
$app_vm-settings-icon__2x_x = 0px;
$app_vm-settings-icon__2x_y = 657px;
$app_vm-settings-icon__2x_offset_x = 0px;
$app_vm-settings-icon__2x_offset_y = -657px;
$app_vm-settings-icon__2x_width = 32px;
$app_vm-settings-icon__2x_height = 32px;
$app_vm-settings-icon__2x_total_width = 2265px;
$app_vm-settings-icon__2x_total_height = 689px;
$app_vm-settings-icon__2x_image = '/a/out/images/sprite@2x.png';
$app_vm-settings-icon__2x = 0px 657px 0px -657px 32px 32px 2265px 689px '/a/out/images/sprite@2x.png';
$app_zoomin-gray-16__2x_x = 492px;
$app_zoomin-gray-16__2x_y = 591px;
$app_zoomin-gray-16__2x_offset_x = -492px;
$app_zoomin-gray-16__2x_offset_y = -591px;
$app_zoomin-gray-16__2x_width = 32px;
$app_zoomin-gray-16__2x_height = 32px;
$app_zoomin-gray-16__2x_total_width = 2265px;
$app_zoomin-gray-16__2x_total_height = 689px;
$app_zoomin-gray-16__2x_image = '/a/out/images/sprite@2x.png';
$app_zoomin-gray-16__2x = 492px 591px -492px -591px 32px 32px 2265px 689px '/a/out/images/sprite@2x.png';
$home_alwayson__2x_x = 554px;
$home_alwayson__2x_y = 342px;
$home_alwayson__2x_offset_x = -554px;
$home_alwayson__2x_offset_y = -342px;
$home_alwayson__2x_width = 51px;
$home_alwayson__2x_height = 51px;
$home_alwayson__2x_total_width = 2265px;
$home_alwayson__2x_total_height = 689px;
$home_alwayson__2x_image = '/a/out/images/sprite@2x.png';
$home_alwayson__2x = 554px 342px -554px -342px 51px 51px 2265px 689px '/a/out/images/sprite@2x.png';
$home_appstore__2x_x = 174px;
$home_appstore__2x_y = 287px;
$home_appstore__2x_offset_x = -174px;
$home_appstore__2x_offset_y = -287px;
$home_appstore__2x_width = 168px;
$home_appstore__2x_height = 166px;
$home_appstore__2x_total_width = 2265px;
$home_appstore__2x_total_height = 689px;
$home_appstore__2x_image = '/a/out/images/sprite@2x.png';
$home_appstore__2x = 174px 287px -174px -287px 168px 166px 2265px 689px '/a/out/images/sprite@2x.png';
$home_cpu__2x_x = 493px;
$home_cpu__2x_y = 342px;
$home_cpu__2x_offset_x = -493px;
$home_cpu__2x_offset_y = -342px;
$home_cpu__2x_width = 51px;
$home_cpu__2x_height = 51px;
$home_cpu__2x_total_width = 2265px;
$home_cpu__2x_total_height = 689px;
$home_cpu__2x_image = '/a/out/images/sprite@2x.png';
$home_cpu__2x = 493px 342px -493px -342px 51px 51px 2265px 689px '/a/out/images/sprite@2x.png';
$home_disk__2x_x = 615px;
$home_disk__2x_y = 342px;
$home_disk__2x_offset_x = -615px;
$home_disk__2x_offset_y = -342px;
$home_disk__2x_width = 36px;
$home_disk__2x_height = 51px;
$home_disk__2x_total_width = 2265px;
$home_disk__2x_total_height = 689px;
$home_disk__2x_image = '/a/out/images/sprite@2x.png';
$home_disk__2x = 615px 342px -615px -342px 36px 51px 2265px 689px '/a/out/images/sprite@2x.png';
$home_dollar__2x_x = 1385px;
$home_dollar__2x_y = 340px;
$home_dollar__2x_offset_x = -1385px;
$home_dollar__2x_offset_y = -340px;
$home_dollar__2x_width = 110px;
$home_dollar__2x_height = 110px;
$home_dollar__2x_total_width = 2265px;
$home_dollar__2x_total_height = 689px;
$home_dollar__2x_image = '/a/out/images/sprite@2x.png';
$home_dollar__2x = 1385px 340px -1385px -340px 110px 110px 2265px 689px '/a/out/images/sprite@2x.png';
$home_group-of-people__2x_x = 1661px;
$home_group-of-people__2x_y = 170px;
$home_group-of-people__2x_offset_x = -1661px;
$home_group-of-people__2x_offset_y = -170px;
$home_group-of-people__2x_width = 144px;
$home_group-of-people__2x_height = 126px;
$home_group-of-people__2x_total_width = 2265px;
$home_group-of-people__2x_total_height = 689px;
$home_group-of-people__2x_image = '/a/out/images/sprite@2x.png';
$home_group-of-people__2x = 1661px 170px -1661px -170px 144px 126px 2265px 689px '/a/out/images/sprite@2x.png';
$home_input-email__2x_x = 84px;
$home_input-email__2x_y = 657px;
$home_input-email__2x_offset_x = -84px;
$home_input-email__2x_offset_y = -657px;
$home_input-email__2x_width = 32px;
$home_input-email__2x_height = 32px;
$home_input-email__2x_total_width = 2265px;
$home_input-email__2x_total_height = 689px;
$home_input-email__2x_image = '/a/out/images/sprite@2x.png';
$home_input-email__2x = 84px 657px -84px -657px 32px 32px 2265px 689px '/a/out/images/sprite@2x.png';
$home_input-username__2x_x = 422px;
$home_input-username__2x_y = 657px;
$home_input-username__2x_offset_x = -422px;
$home_input-username__2x_offset_y = -657px;
$home_input-username__2x_width = 32px;
$home_input-username__2x_height = 32px;
$home_input-username__2x_total_width = 2265px;
$home_input-username__2x_total_height = 689px;
$home_input-username__2x_image = '/a/out/images/sprite@2x.png';
$home_input-username__2x = 422px 657px -422px -657px 32px 32px 2265px 689px '/a/out/images/sprite@2x.png';
$home_logo__2x_x = 336px;
$home_logo__2x_y = 657px;
$home_logo__2x_offset_x = -336px;
$home_logo__2x_offset_y = -657px;
$home_logo__2x_width = 34px;
$home_logo__2x_height = 32px;
$home_logo__2x_total_width = 2265px;
$home_logo__2x_total_height = 689px;
$home_logo__2x_image = '/a/out/images/sprite@2x.png';
$home_logo__2x = 336px 657px -336px -657px 34px 32px 2265px 689px '/a/out/images/sprite@2x.png';
$home_logotype__2x_x = 352px;
$home_logotype__2x_y = 287px;
$home_logotype__2x_offset_x = -352px;
$home_logotype__2x_offset_y = -287px;
$home_logotype__2x_width = 130px;
$home_logotype__2x_height = 44px;
$home_logotype__2x_total_width = 2265px;
$home_logotype__2x_total_height = 689px;
$home_logotype__2x_image = '/a/out/images/sprite@2x.png';
$home_logotype__2x = 352px 287px -352px -287px 130px 44px 2265px 689px '/a/out/images/sprite@2x.png';
$home_plan-equal__2x_x = 352px;
$home_plan-equal__2x_y = 341px;
$home_plan-equal__2x_offset_x = -352px;
$home_plan-equal__2x_offset_y = -341px;
$home_plan-equal__2x_width = 72px;
$home_plan-equal__2x_height = 43px;
$home_plan-equal__2x_total_width = 2265px;
$home_plan-equal__2x_total_height = 689px;
$home_plan-equal__2x_image = '/a/out/images/sprite@2x.png';
$home_plan-equal__2x = 352px 341px -352px -341px 72px 43px 2265px 689px '/a/out/images/sprite@2x.png';
$home_plan-plus__2x_x = 837px;
$home_plan-plus__2x_y = 561px;
$home_plan-plus__2x_offset_x = -837px;
$home_plan-plus__2x_offset_y = -561px;
$home_plan-plus__2x_width = 72px;
$home_plan-plus__2x_height = 72px;
$home_plan-plus__2x_total_width = 2265px;
$home_plan-plus__2x_total_height = 689px;
$home_plan-plus__2x_image = '/a/out/images/sprite@2x.png';
$home_plan-plus__2x = 837px 561px -837px -561px 72px 72px 2265px 689px '/a/out/images/sprite@2x.png';
$home_play__2x_x = 0px;
$home_play__2x_y = 0px;
$home_play__2x_offset_x = 0px;
$home_play__2x_offset_y = 0px;
$home_play__2x_width = 277px;
$home_play__2x_height = 277px;
$home_play__2x_total_width = 2265px;
$home_play__2x_total_height = 689px;
$home_play__2x_image = '/a/out/images/sprite@2x.png';
$home_play__2x = 0px 0px 0px 0px 277px 277px 2265px 689px '/a/out/images/sprite@2x.png';
$home_post-head__2x_x = 1337px;
$home_post-head__2x_y = 170px;
$home_post-head__2x_offset_x = -1337px;
$home_post-head__2x_offset_y = -170px;
$home_post-head__2x_width = 162px;
$home_post-head__2x_height = 130px;
$home_post-head__2x_total_width = 2265px;
$home_post-head__2x_total_height = 689px;
$home_post-head__2x_image = '/a/out/images/sprite@2x.png';
$home_post-head__2x = 1337px 170px -1337px -170px 162px 130px 2265px 689px '/a/out/images/sprite@2x.png';
$home_ram__2x_x = 1552px;
$home_ram__2x_y = 561px;
$home_ram__2x_offset_x = -1552px;
$home_ram__2x_offset_y = -561px;
$home_ram__2x_width = 61px;
$home_ram__2x_height = 61px;
$home_ram__2x_total_width = 2265px;
$home_ram__2x_total_height = 689px;
$home_ram__2x_image = '/a/out/images/sprite@2x.png';
$home_ram__2x = 1552px 561px -1552px -561px 61px 61px 2265px 689px '/a/out/images/sprite@2x.png';
$home_resources__2x_x = 493px;
$home_resources__2x_y = 171px;
$home_resources__2x_offset_x = -493px;
$home_resources__2x_offset_y = -171px;
$home_resources__2x_width = 162px;
$home_resources__2x_height = 161px;
$home_resources__2x_total_width = 2265px;
$home_resources__2x_total_height = 689px;
$home_resources__2x_image = '/a/out/images/sprite@2x.png';
$home_resources__2x = 493px 171px -493px -171px 162px 161px 2265px 689px '/a/out/images/sprite@2x.png';
$home_right-arrow__2x_x = 2239px;
$home_right-arrow__2x_y = 460px;
$home_right-arrow__2x_offset_x = -2239px;
$home_right-arrow__2x_offset_y = -460px;
$home_right-arrow__2x_width = 24px;
$home_right-arrow__2x_height = 40px;
$home_right-arrow__2x_total_width = 2265px;
$home_right-arrow__2x_total_height = 689px;
$home_right-arrow__2x_image = '/a/out/images/sprite@2x.png';
$home_right-arrow__2x = 2239px 460px -2239px -460px 24px 40px 2265px 689px '/a/out/images/sprite@2x.png';
$home_social-fb__2x_x = 341px;
$home_social-fb__2x_y = 541px;
$home_social-fb__2x_offset_x = -341px;
$home_social-fb__2x_offset_y = -541px;
$home_social-fb__2x_width = 40px;
$home_social-fb__2x_height = 40px;
$home_social-fb__2x_total_width = 2265px;
$home_social-fb__2x_total_height = 689px;
$home_social-fb__2x_image = '/a/out/images/sprite@2x.png';
$home_social-fb__2x = 341px 541px -341px -541px 40px 40px 2265px 689px '/a/out/images/sprite@2x.png';
$home_social-tw__2x_x = 352px;
$home_social-tw__2x_y = 394px;
$home_social-tw__2x_offset_x = -352px;
$home_social-tw__2x_offset_y = -394px;
$home_social-tw__2x_width = 40px;
$home_social-tw__2x_height = 40px;
$home_social-tw__2x_total_width = 2265px;
$home_social-tw__2x_total_height = 689px;
$home_social-tw__2x_image = '/a/out/images/sprite@2x.png';
$home_social-tw__2x = 352px 394px -352px -394px 40px 40px 2265px 689px '/a/out/images/sprite@2x.png';
$home_social__2x_x = 0px;
$home_social__2x_y = 287px;
$home_social__2x_offset_x = 0px;
$home_social__2x_offset_y = -287px;
$home_social__2x_width = 164px;
$home_social__2x_height = 190px;
$home_social__2x_total_width = 2265px;
$home_social__2x_total_height = 689px;
$home_social__2x_image = '/a/out/images/sprite@2x.png';
$home_social__2x = 0px 287px 0px -287px 164px 190px 2265px 689px '/a/out/images/sprite@2x.png';
$home_teamwork__2x_x = 287px;
$home_teamwork__2x_y = 0px;
$home_teamwork__2x_offset_x = -287px;
$home_teamwork__2x_offset_y = 0px;
$home_teamwork__2x_width = 196px;
$home_teamwork__2x_height = 196px;
$home_teamwork__2x_total_width = 2265px;
$home_teamwork__2x_total_height = 689px;
$home_teamwork__2x_image = '/a/out/images/sprite@2x.png';
$home_teamwork__2x = 287px 0px -287px 0px 196px 196px 2265px 689px '/a/out/images/sprite@2x.png';
$home_text-balloons__2x_x = 1509px;
$home_text-balloons__2x_y = 170px;
$home_text-balloons__2x_offset_x = -1509px;
$home_text-balloons__2x_offset_y = -170px;
$home_text-balloons__2x_width = 142px;
$home_text-balloons__2x_height = 130px;
$home_text-balloons__2x_total_width = 2265px;
$home_text-balloons__2x_total_height = 689px;
$home_text-balloons__2x_image = '/a/out/images/sprite@2x.png';
$home_text-balloons__2x = 1509px 170px -1509px -170px 142px 130px 2265px 689px '/a/out/images/sprite@2x.png';
$home_used-by-logos__2x_x = 665px;
$home_used-by-logos__2x_y = 0px;
$home_used-by-logos__2x_offset_x = -665px;
$home_used-by-logos__2x_offset_y = 0px;
$home_used-by-logos__2x_width = 1600px;
$home_used-by-logos__2x_height = 160px;
$home_used-by-logos__2x_total_width = 2265px;
$home_used-by-logos__2x_total_height = 689px;
$home_used-by-logos__2x_image = '/a/out/images/sprite@2x.png';
$home_used-by-logos__2x = 665px 0px -665px 0px 1600px 160px 2265px 689px '/a/out/images/sprite@2x.png';
$home_users__2x_x = 493px;
$home_users__2x_y = 0px;
$home_users__2x_offset_x = -493px;
$home_users__2x_offset_y = 0px;
$home_users__2x_width = 162px;
$home_users__2x_height = 161px;
$home_users__2x_total_width = 2265px;
$home_users__2x_total_height = 689px;
$home_users__2x_image = '/a/out/images/sprite@2x.png';
$home_users__2x = 493px 0px -493px 0px 162px 161px 2265px 689px '/a/out/images/sprite@2x.png';
$landings_box-open__2x_x = 1190px;
$landings_box-open__2x_y = 460px;
$landings_box-open__2x_offset_x = -1190px;
$landings_box-open__2x_offset_y = -460px;
$landings_box-open__2x_width = 84px;
$landings_box-open__2x_height = 80px;
$landings_box-open__2x_total_width = 2265px;
$landings_box-open__2x_total_height = 689px;
$landings_box-open__2x_image = '/a/out/images/sprite@2x.png';
$landings_box-open__2x = 1190px 460px -1190px -460px 84px 80px 2265px 689px '/a/out/images/sprite@2x.png';
$landings_box__2x_x = 2174px;
$landings_box__2x_y = 170px;
$landings_box__2x_offset_x = -2174px;
$landings_box__2x_offset_y = -170px;
$landings_box__2x_width = 80px;
$landings_box__2x_height = 92px;
$landings_box__2x_total_width = 2265px;
$landings_box__2x_total_height = 689px;
$landings_box__2x_image = '/a/out/images/sprite@2x.png';
$landings_box__2x = 2174px 170px -2174px -170px 80px 92px 2265px 689px '/a/out/images/sprite@2x.png';
$landings_browser__2x_x = 1030px;
$landings_browser__2x_y = 561px;
$landings_browser__2x_offset_x = -1030px;
$landings_browser__2x_offset_y = -561px;
$landings_browser__2x_width = 80px;
$landings_browser__2x_height = 68px;
$landings_browser__2x_total_width = 2265px;
$landings_browser__2x_total_height = 689px;
$landings_browser__2x_image = '/a/out/images/sprite@2x.png';
$landings_browser__2x = 1030px 561px -1030px -561px 80px 68px 2265px 689px '/a/out/images/sprite@2x.png';
$landings_bubble__2x_x = 665px;
$landings_bubble__2x_y = 561px;
$landings_bubble__2x_offset_x = -665px;
$landings_bubble__2x_offset_y = -561px;
$landings_bubble__2x_width = 80px;
$landings_bubble__2x_height = 72px;
$landings_bubble__2x_total_width = 2265px;
$landings_bubble__2x_total_height = 689px;
$landings_bubble__2x_image = '/a/out/images/sprite@2x.png';
$landings_bubble__2x = 665px 561px -665px -561px 80px 72px 2265px 689px '/a/out/images/sprite@2x.png';
$landings_bubbles__2x_x = 834px;
$landings_bubbles__2x_y = 460px;
$landings_bubbles__2x_offset_x = -834px;
$landings_bubbles__2x_offset_y = -460px;
$landings_bubbles__2x_width = 80px;
$landings_bubbles__2x_height = 80px;
$landings_bubbles__2x_total_width = 2265px;
$landings_bubbles__2x_total_height = 689px;
$landings_bubbles__2x_image = '/a/out/images/sprite@2x.png';
$landings_bubbles__2x = 834px 460px -834px -460px 80px 80px 2265px 689px '/a/out/images/sprite@2x.png';
$landings_gameplan__2x_x = 665px;
$landings_gameplan__2x_y = 460px;
$landings_gameplan__2x_offset_x = -665px;
$landings_gameplan__2x_offset_y = -460px;
$landings_gameplan__2x_width = 68px;
$landings_gameplan__2x_height = 91px;
$landings_gameplan__2x_total_width = 2265px;
$landings_gameplan__2x_total_height = 689px;
$landings_gameplan__2x_image = '/a/out/images/sprite@2x.png';
$landings_gameplan__2x = 665px 460px -665px -460px 68px 91px 2265px 689px '/a/out/images/sprite@2x.png';
$landings_ruler__2x_x = 997px;
$landings_ruler__2x_y = 460px;
$landings_ruler__2x_offset_x = -997px;
$landings_ruler__2x_offset_y = -460px;
$landings_ruler__2x_width = 80px;
$landings_ruler__2x_height = 80px;
$landings_ruler__2x_total_width = 2265px;
$landings_ruler__2x_total_height = 689px;
$landings_ruler__2x_image = '/a/out/images/sprite@2x.png';
$landings_ruler__2x = 997px 460px -997px -460px 80px 80px 2265px 689px '/a/out/images/sprite@2x.png';
$landings_settings__2x_x = 1284px;
$landings_settings__2x_y = 460px;
$landings_settings__2x_offset_x = -1284px;
$landings_settings__2x_offset_y = -460px;
$landings_settings__2x_width = 75px;
$landings_settings__2x_height = 80px;
$landings_settings__2x_total_width = 2265px;
$landings_settings__2x_total_height = 689px;
$landings_settings__2x_image = '/a/out/images/sprite@2x.png';
$landings_settings__2x = 1284px 460px -1284px -460px 75px 80px 2265px 689px '/a/out/images/sprite@2x.png';
$landings_starflag__2x_x = 924px;
$landings_starflag__2x_y = 460px;
$landings_starflag__2x_offset_x = -924px;
$landings_starflag__2x_offset_y = -460px;
$landings_starflag__2x_width = 63px;
$landings_starflag__2x_height = 80px;
$landings_starflag__2x_total_width = 2265px;
$landings_starflag__2x_total_height = 689px;
$landings_starflag__2x_image = '/a/out/images/sprite@2x.png';
$landings_starflag__2x = 924px 460px -924px -460px 63px 80px 2265px 689px '/a/out/images/sprite@2x.png';
$landings_team-small__2x_x = 743px;
$landings_team-small__2x_y = 460px;
$landings_team-small__2x_offset_x = -743px;
$landings_team-small__2x_offset_y = -460px;
$landings_team-small__2x_width = 81px;
$landings_team-small__2x_height = 83px;
$landings_team-small__2x_total_width = 2265px;
$landings_team-small__2x_total_height = 689px;
$landings_team-small__2x_image = '/a/out/images/sprite@2x.png';
$landings_team-small__2x = 743px 460px -743px -460px 81px 83px 2265px 689px '/a/out/images/sprite@2x.png';
$landings_team__2x_x = 1087px;
$landings_team__2x_y = 460px;
$landings_team__2x_offset_x = -1087px;
$landings_team__2x_offset_y = -460px;
$landings_team__2x_width = 93px;
$landings_team__2x_height = 80px;
$landings_team__2x_total_width = 2265px;
$landings_team__2x_total_height = 689px;
$landings_team__2x_image = '/a/out/images/sprite@2x.png';
$landings_team__2x = 1087px 460px -1087px -460px 93px 80px 2265px 689px '/a/out/images/sprite@2x.png';
$pricing_always-on-icon__2x_x = 835px;
$pricing_always-on-icon__2x_y = 170px;
$pricing_always-on-icon__2x_offset_x = -835px;
$pricing_always-on-icon__2x_offset_y = -170px;
$pricing_always-on-icon__2x_width = 160px;
$pricing_always-on-icon__2x_height = 160px;
$pricing_always-on-icon__2x_total_width = 2265px;
$pricing_always-on-icon__2x_total_height = 689px;
$pricing_always-on-icon__2x_image = '/a/out/images/sprite@2x.png';
$pricing_always-on-icon__2x = 835px 170px -835px -170px 160px 160px 2265px 689px '/a/out/images/sprite@2x.png';
$pricing_amex__2x_x = 1719px;
$pricing_amex__2x_y = 460px;
$pricing_amex__2x_offset_x = -1719px;
$pricing_amex__2x_offset_y = -460px;
$pricing_amex__2x_width = 120px;
$pricing_amex__2x_height = 76px;
$pricing_amex__2x_total_width = 2265px;
$pricing_amex__2x_total_height = 689px;
$pricing_amex__2x_image = '/a/out/images/sprite@2x.png';
$pricing_amex__2x = 1719px 460px -1719px -460px 120px 76px 2265px 689px '/a/out/images/sprite@2x.png';
$pricing_buy-arrow__2x_x = 2117px;
$pricing_buy-arrow__2x_y = 561px;
$pricing_buy-arrow__2x_offset_x = -2117px;
$pricing_buy-arrow__2x_offset_y = -561px;
$pricing_buy-arrow__2x_width = 56px;
$pricing_buy-arrow__2x_height = 56px;
$pricing_buy-arrow__2x_total_width = 2265px;
$pricing_buy-arrow__2x_total_height = 689px;
$pricing_buy-arrow__2x_image = '/a/out/images/sprite@2x.png';
$pricing_buy-arrow__2x = 2117px 561px -2117px -561px 56px 56px 2265px 689px '/a/out/images/sprite@2x.png';
$pricing_check__2x_x = 2035px;
$pricing_check__2x_y = 561px;
$pricing_check__2x_offset_x = -2035px;
$pricing_check__2x_offset_y = -561px;
$pricing_check__2x_width = 72px;
$pricing_check__2x_height = 56px;
$pricing_check__2x_total_width = 2265px;
$pricing_check__2x_total_height = 689px;
$pricing_check__2x_image = '/a/out/images/sprite@2x.png';
$pricing_check__2x = 2035px 561px -2035px -561px 72px 56px 2265px 689px '/a/out/images/sprite@2x.png';
$pricing_cirrus__2x_x = 1979px;
$pricing_cirrus__2x_y = 460px;
$pricing_cirrus__2x_offset_x = -1979px;
$pricing_cirrus__2x_offset_y = -460px;
$pricing_cirrus__2x_width = 120px;
$pricing_cirrus__2x_height = 76px;
$pricing_cirrus__2x_total_width = 2265px;
$pricing_cirrus__2x_total_height = 689px;
$pricing_cirrus__2x_image = '/a/out/images/sprite@2x.png';
$pricing_cirrus__2x = 1979px 460px -1979px -460px 120px 76px 2265px 689px '/a/out/images/sprite@2x.png';
$pricing_cpu-icon__2x_x = 1005px;
$pricing_cpu-icon__2x_y = 170px;
$pricing_cpu-icon__2x_offset_x = -1005px;
$pricing_cpu-icon__2x_offset_y = -170px;
$pricing_cpu-icon__2x_width = 160px;
$pricing_cpu-icon__2x_height = 160px;
$pricing_cpu-icon__2x_total_width = 2265px;
$pricing_cpu-icon__2x_total_height = 689px;
$pricing_cpu-icon__2x_image = '/a/out/images/sprite@2x.png';
$pricing_cpu-icon__2x = 1005px 170px -1005px -170px 160px 160px 2265px 689px '/a/out/images/sprite@2x.png';
$pricing_discover__2x_x = 2109px;
$pricing_discover__2x_y = 460px;
$pricing_discover__2x_offset_x = -2109px;
$pricing_discover__2x_offset_y = -460px;
$pricing_discover__2x_width = 120px;
$pricing_discover__2x_height = 76px;
$pricing_discover__2x_total_width = 2265px;
$pricing_discover__2x_total_height = 689px;
$pricing_discover__2x_image = '/a/out/images/sprite@2x.png';
$pricing_discover__2x = 2109px 460px -2109px -460px 120px 76px 2265px 689px '/a/out/images/sprite@2x.png';
$pricing_disk-icon__2x_x = 0px;
$pricing_disk-icon__2x_y = 487px;
$pricing_disk-icon__2x_offset_x = 0px;
$pricing_disk-icon__2x_offset_y = -487px;
$pricing_disk-icon__2x_width = 160px;
$pricing_disk-icon__2x_height = 160px;
$pricing_disk-icon__2x_total_width = 2265px;
$pricing_disk-icon__2x_total_height = 689px;
$pricing_disk-icon__2x_image = '/a/out/images/sprite@2x.png';
$pricing_disk-icon__2x = 0px 487px 0px -487px 160px 160px 2265px 689px '/a/out/images/sprite@2x.png';
$pricing_error__2x_x = 1175px;
$pricing_error__2x_y = 170px;
$pricing_error__2x_offset_x = -1175px;
$pricing_error__2x_offset_y = -170px;
$pricing_error__2x_width = 152px;
$pricing_error__2x_height = 152px;
$pricing_error__2x_total_width = 2265px;
$pricing_error__2x_total_height = 689px;
$pricing_error__2x_image = '/a/out/images/sprite@2x.png';
$pricing_error__2x = 1175px 170px -1175px -170px 152px 152px 2265px 689px '/a/out/images/sprite@2x.png';
$pricing_mastercard__2x_x = 1849px;
$pricing_mastercard__2x_y = 460px;
$pricing_mastercard__2x_offset_x = -1849px;
$pricing_mastercard__2x_offset_y = -460px;
$pricing_mastercard__2x_width = 120px;
$pricing_mastercard__2x_height = 76px;
$pricing_mastercard__2x_total_width = 2265px;
$pricing_mastercard__2x_total_height = 689px;
$pricing_mastercard__2x_image = '/a/out/images/sprite@2x.png';
$pricing_mastercard__2x = 1849px 460px -1849px -460px 120px 76px 2265px 689px '/a/out/images/sprite@2x.png';
$pricing_paypal__2x_x = 1459px;
$pricing_paypal__2x_y = 460px;
$pricing_paypal__2x_offset_x = -1459px;
$pricing_paypal__2x_offset_y = -460px;
$pricing_paypal__2x_width = 120px;
$pricing_paypal__2x_height = 76px;
$pricing_paypal__2x_total_width = 2265px;
$pricing_paypal__2x_total_height = 689px;
$pricing_paypal__2x_image = '/a/out/images/sprite@2x.png';
$pricing_paypal__2x = 1459px 460px -1459px -460px 120px 76px 2265px 689px '/a/out/images/sprite@2x.png';
$pricing_plus__2x_x = 347px;
$pricing_plus__2x_y = 206px;
$pricing_plus__2x_offset_x = -347px;
$pricing_plus__2x_offset_y = -206px;
$pricing_plus__2x_width = 48px;
$pricing_plus__2x_height = 48px;
$pricing_plus__2x_total_width = 2265px;
$pricing_plus__2x_total_height = 689px;
$pricing_plus__2x_image = '/a/out/images/sprite@2x.png';
$pricing_plus__2x = 347px 206px -347px -206px 48px 48px 2265px 689px '/a/out/images/sprite@2x.png';
$pricing_ram-icon__2x_x = 665px;
$pricing_ram-icon__2x_y = 170px;
$pricing_ram-icon__2x_offset_x = -665px;
$pricing_ram-icon__2x_offset_y = -170px;
$pricing_ram-icon__2x_width = 160px;
$pricing_ram-icon__2x_height = 160px;
$pricing_ram-icon__2x_total_width = 2265px;
$pricing_ram-icon__2x_total_height = 689px;
$pricing_ram-icon__2x_image = '/a/out/images/sprite@2x.png';
$pricing_ram-icon__2x = 665px 170px -665px -170px 160px 160px 2265px 689px '/a/out/images/sprite@2x.png';
$pricing_shopping-bag__2x_x = 1346px;
$pricing_shopping-bag__2x_y = 561px;
$pricing_shopping-bag__2x_offset_x = -1346px;
$pricing_shopping-bag__2x_offset_y = -561px;
$pricing_shopping-bag__2x_width = 56px;
$pricing_shopping-bag__2x_height = 64px;
$pricing_shopping-bag__2x_total_width = 2265px;
$pricing_shopping-bag__2x_total_height = 689px;
$pricing_shopping-bag__2x_image = '/a/out/images/sprite@2x.png';
$pricing_shopping-bag__2x = 1346px 561px -1346px -561px 56px 64px 2265px 689px '/a/out/images/sprite@2x.png';
$pricing_visa__2x_x = 1589px;
$pricing_visa__2x_y = 460px;
$pricing_visa__2x_offset_x = -1589px;
$pricing_visa__2x_offset_y = -460px;
$pricing_visa__2x_width = 120px;
$pricing_visa__2x_height = 76px;
$pricing_visa__2x_total_width = 2265px;
$pricing_visa__2x_total_height = 689px;
$pricing_visa__2x_image = '/a/out/images/sprite@2x.png';
$pricing_visa__2x = 1589px 460px -1589px -460px 120px 76px 2265px 689px '/a/out/images/sprite@2x.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
