.EmojiSelector-container
  position         relative
  width            100%

.EmojiSelector
  abs()
  top              -375px
  right            0px
  border           1px solid #dcdcdc
  shadow           0 5px 15px rgba(0,0,0,0.2)
  rounded          3px
  bg               color, #fff

.EmojiSelector-emojiList
  size             298px 298px
  overflow         auto
  padding          18px
  borderBox()

.EmojiSelector-footer
  padding          16px
  bg               color, #f8f8f8

.EmojiSelector-selectedEmojiIcon
  fl()
  margin-right     15px
  size             32px 32px

  .emoji
    size           32px 32px

.EmojiSelector-selectedEmojiName
  color            #646565
  font-size        16px
  padding-top      6px
