.EmojiSelector
  width                     365px !important

  .Dropbox
    right                   0px
    rounded                 3px
    width                   auto

  .Dropbox-scrollable
    max-height              none

.EmojiSelector-list
  max-height                306px
  width                     363px
  padding                   18px 0 18px 18px
  borderBox()

  .ListView
    min-height              231px

.EmojiSelector-emptyCategory
  color                     #aaa
  text-align                center
  padding-top               75px

.EmojiSelector-footer
  padding                   16px 17px
  bg                        color, #f8f8f8

.EmojiSelector-selectedItemIcon
  fl()
  margin-right              15px
  size                      36px 36px

  .emoji-wrapper
    size                    32px 32px

    .emoji-sprite
      size                  32px 32px
      sta()
      transform             none

    .emoji
      size                  32px 32px

.EmojiSelector-selectedItemName
  color                     #646565
  font-size                 16px
  line-height               36px

.EmojiSelector-categorySection
  clear                     left

.EmojiSelector-categorySectionHeader
  padding-top               10px
  padding-bottom            5px
  font-size                 20px
  font-weight               bold
  text-transform            capitalize

  &.fixedHeader
    abs()
    top                     41px
    left                    18px
    z-index                 100
    bg                      color, #fcfcfc
    width                   328px
    opacity                 0.97

.EmojiSelector-categoryTabs
  bg                        color, #f7f7f7
  border-bottom             1px solid rgba(0, 0, 0, 0.15);
  padding                   4px 0 0 7px
  boxSizing()

.EmojiSelector-categoryTab
  border-bottom             3px solid transparent
  border-radius             5px 5px 0 0
  color                     #9e9ea6
  display                   inline-block
  margin-right              3px
  padding                   4px 5.8px 6px
  pointer()

  &.activeTab
    background              #fbfaf8
    border-bottom           3px solid #2ab27b
    color                   #9e9ea6
    padding-top             3px

.EmojiSelector-searchInput
  display                   block
  boxSizing()
  border-radius             3px
  padding                   5px 10px
  width                     305px
  bg                        color, #fff
  border                    1px solid #ccc
  margin-bottom             10px

