.formworkflow-visualization-container
  width             502px
  height            auto
  z-index           100000
  position          absolute
  top               20px
  right             20px
  .controls
    position  relative
    top       5px
    right     5px

.formworkflow-visualization
  width             500px
  height            500px
  background-color  white
  border            solid 1px gray