.SidebarModalThreadList
  padding                 0 5px
  overflow                hidden
  margin-top              20px
  rel()

  .Scrollable
    height                360px
    overflow              auto

