[
  {
    "follower": [
      {
        "systemInfo": {
          "defaultToLastUsedEnvironment": "true"
        },
        "profile": {
          "nickname": "aadaoopa",
          "hash": "66c0c85bb9754385221d4bc198518a73",
          "lastName": "oopa",
          "firstName": "aada"
        },
        "meta": {
          "modifiedAt": "2013-04-16T19:08:07Z",
          "likes": "0",
          "createdAt": "2013-05-09T05:31:50Z"
        },
        "counts": {
          "topics": "0",
          "likes": "0",
          "following": "0",
          "followers": "1"
        },
        "_id": "516da19792b0d52e85000004",
        "name": "JAccount",
        "id": "516da19792b0d52e85000004"
      }
    ],
    "relationship": [
      {
        "createdAt": "2013-05-09T05:31:49.125Z"
      }
    ],
    "followee": [
      {
        "systemInfo": {
          "defaultToLastUsedEnvironment": "true"
        },
        "profile": {
          "nickname": "1234",
          "hash": "3213857e6a0c56960d8be00c5c21fd42",
          "lastName": "Debe",
          "firstName": "Hede"
        },
        "meta": {
          "modifiedAt": "2013-05-09T05:26:45Z",
          "likes": "0",
          "createdAt": "2013-05-09T05:31:51Z"
        },
        "counts": {
          "topics": "0",
          "likes": "0",
          "following": "2",
          "followers": "0"
        },
        "_id": "518b33956e33880000000013",
        "name": "JAccount",
        "id": "518b33956e33880000000013"
      }
    ]
  },
  {
    "follower": [
      {
        "systemInfo": {
          "defaultToLastUsedEnvironment": "true"
        },
        "profile": {
          "nickname": "bahadir",
          "hash": "b32a9ce37d2503792174c896225cd464",
          "lastName": "Kandemir",
          "firstName": "Bahadir"
        },
        "meta": {
          "modifiedAt": "2013-04-16T18:06:11Z",
          "likes": "0",
          "createdAt": "2013-05-09T08:27:24Z"
        },
        "globalFlags": {
          "0": "test"
        },
        "counts": {
          "topics": "15",
          "likes": "95",
          "following": "2",
          "followers": "1"
        },
        "_id": "50b3e4e23cd3d35e23000035",
        "name": "JAccount",
        "id": "50b3e4e23cd3d35e23000035"
      }
    ],
    "relationship": [
      {
        "createdAt": "2013-05-09T05:28:56.603Z"
      }
    ],
    "followee": [
      {
        "systemInfo": {
          "defaultToLastUsedEnvironment": "true"
        },
        "profile": {
          "nickname": "1234",
          "hash": "3213857e6a0c56960d8be00c5c21fd42",
          "lastName": "Debe",
          "firstName": "Hede"
        },
        "meta": {
          "modifiedAt": "2013-05-09T05:26:45Z",
          "likes": "0",
          "createdAt": "2013-05-09T05:31:51Z"
        },
        "counts": {
          "topics": "0",
          "likes": "0",
          "following": "2",
          "followers": "0"
        },
        "_id": "518b33956e33880000000013",
        "name": "JAccount",
        "id": "518b33956e33880000000013"
      }
    ]
  }
]
