.terminal .gray-on-black
  foreground    = #E6E1DC
  background    = #2B2B2B

  black         = #000000
  red           = #CC0000
  green         = #4E9A06
  yellow        = #C4A000
  blue          = #3465A4
  magenta       = #75507B
  cyan          = #06989A
  white         = #D3D7CF

  brightBlack   = #555753
  brightRed     = #EF2929
  brightGreen   = #8AE234
  brightYellow  = #FCE94F
  brightBlue    = #729FCF
  brightMagenta = #AD7FA8
  brightCyan    = #34E2E2
  brightWhite   = #EEEEEC

  @import "webterm" // version 2 (change this to invalidate cache)