.SidebarListItem
  antialiased()
  display                   block
  font-size                 $fs-regular
  font-weight               $fw-regular
  height                    28px
  line-height               28px
  color                     $gray-14
  text-decoration           none

  &:hover
  &.active
    width                   100%
    rounded                 0 4px 4px 0
    left                    -20px
    padding-left            20px
    color                   $white
    .SidebarListItem-icon:before
      color                 $white

  &:hover
    bg                      color, $gray-6

  &.active
    bg                      color, $gray-5

.SidebarListItem-title
  display                   inline-block
  ellipsis()
  kalc                      width, (100% \- 40px)
  vertical-align            top


.SidebarListItem-unreadCount
  abs                       0 5px 0 0
  bg                        color, $red
  color                     white
  font-size                 11px
  font-weight               $fw-bold
  height                    20px
  line-height               20px
  margin-top                4px
  min-width                 20px
  padding                   0 2px
  rounded                   3px
  text-align                center
