.ChannelInfoContainer
  padding                   10px 20px 10px 34px
  line-height               22px
  max-width                 610px

.ChannelInfoContainer-description
  color                     $gray-8

.ChannelInfoContainer-name
  font-size                 20px
  color                     $gray-8
  margin-bottom             10px

.ChannelInfoContainer-actions
  margin-top                10px

.ChannelInfoContainer-action
  rel()
  dIBlock()
  margin-right              20px

  &:before
    rel()
    dIBlock()
    top                     2px
    content                 ''
    margin-right            5px

.ChannelInfoContainer-action .Tooltip-wrapper
  hidden()
  left                      50%
  margin-left               -38px
  top                       -1px

  &:after
    border-top-color        #000

  span
    bg                      color, #000

  &.visible
    visible()

.ChannelInfoContainer-action
  &.StartCollaborationLink:before
    r-sprite                'activity', 'start-collaboration'

  &.AddIntegrationLink:before
    r-sprite                'activity', 'add-integration'

  &.InviteOthersLink:before
    r-sprite                'activity', 'invite-people'

