@import "../../Framework/themes/default/kdfn"
@import "../../Main/styl/appfn"
@import "../../Main/styl/app.fonts"



@css {
/*
Account SETTINGS stylesheet
app.settings.styl
*/
}

body.account
  bg                      color, #E9E9E7

  // THIS IS TEMP - SY

  textarea.kdinput.text
    rel()
    z-index             1
    padding             11px 6px
    color               #3E4F55
    font-size           16px
    box-shadow          none
    font-weight         300
    height              150px
    line-height         33px
    rounded             6px
    width               100%
    text-align          left
    bg                  color #f4f4f4
    borderBox()

    input.kdinput.text.thin::-webkit-input-placeholder
      color               #93979a
      font-weight         300
    input.kdinput.text.thin:-moz-placeholder
      color               #93979a
      font-weight         300


.kdtabpaneview.account

  color                   #828B8B

  .content-page
    min-height            100%
    max-width             850px
    padding-top           150px

  h2.kdheaderview
    border                none
    margin-bottom         60px
    line-height           40px
    color                 #828B8B
    span
      margin              0
      font-weight         300

  .kdinput.text.thin
    text-align            left
    bg                    color #F4F4F4
    padding               11px 20px

    &[readonly=true]
      opacity             .5

    &.half
      fl()
      width               50%
      &:first-child
        kalc              width, 50% \- 1px
        margin-right      1px

  .avatarview
    margin-top            11px
    rounded               6px
    fl()

  section
    overflow              hidden
    width                 auto
    padding               0 20px
    borderBox()

  .kdformview
    .formline
      border              none
      padding             11px 0
      input.kdinput.text
        min-width         0

  .button-field
    bg                    color transparent
    .kdbutton.solid.green
      width               100%


  .email-notifications
    line-height           55px
    form.kdformview
      rel()
      border-bottom       1px solid #E1E1DF

    .koding-on-off
      abs()
      top                 10px
      right               0

.linked-accounts

  ul
    margin                0
    padding               0
    li
      list-style          none
      padding             13px 0
      borderBox()
      .title
        width             296px
        line-height       22px
        fl()
        cite
          font-size       16px
          font-weight     400
          margin-left     16px

      .kdinput.koding-on-off
        margin-top        6px
        fr()

      &.github .icon
        r-sprite          account 'ext-github'
      &.odesk .icon
        r-sprite          account 'ext-odesk'
      &.facebook .icon
        r-sprite          account 'ext-facebook'
      &.twitter .icon
        r-sprite          account 'ext-twitter'
      &.google .icon
        r-sprite          account 'ext-google'
      &.linkedin .icon
        r-sprite          account 'ext-linkedin'

      span
      cite
      a
        font-style        normal
        blockMid()

button.kdbutton.solid.green.account-header-button
  abs()
  top               6px
  right             0
  margin            0
  color             #666
  height            40px
  &.with-icon
    padding         0 6px
  &.icon-only
    padding         0 6px
  span.icon
    rel()
    display         block
    padding         0
    margin          0
    border          none
    visibility      visible
    r-sprite        app '30-refresh-icon-white'
    &.plus
      r-sprite      app '30-plus-icon-white'

.delete-account-view
  padding                 10px 0
  color                   #888
  borderBox()
  button.delete-account
    left                  0
    vendor                transition, left .1s ease-in\, \
                                      width .1s ease-in
    &.escape
      left                -160px

.referrer-modal
  line-height         1.8em

  .kdtabpaneview.share

    p
      margin-bottom     15px

      &.center
        color           #999
        font-size       13px
        text-align      center


    .left-column
    .right-column
      width             50%
      borderBox()

    .left-column
      padding-right     20px
      border-right      1px solid #ddd
      fl()

      .share-url-label
        display         block
        font-weight     400
        font-size       12px

      .share-links
        size            100% 30px
        line-height     30px
        margin-top      25px
        font-size       14px

        .share-icon
          border        none
          size          30px 30px
          rounded       50%
          padding       0
          margin        0 0 0 8px
          background    none

          &.twitter
            r-sprite    "account", "inv-twitter"
          &.facebook
            r-sprite    "account", "inv-facebook"
          &.linkedin
            r-sprite    "account", "inv-linkedin"

    .right-column
      padding-left      20px
      fl()

      .invite-button
        size            100%, 50px
        line-height     50px
        rounded         3px
        background      #5d5d5d
        border          none
        padding         0

        .icon
          padding       0
          margin        14px

        &.gmail .icon
          r-sprite      "account", "inv-gmail"

        .button-title
          size          auto 50px
          font-size     14px
          color         #eee
          padding       0
          font-weight   400
          border-left   1px solid #545454
          line-height   50px
          fl()

  .kdtabpaneview.invite
    .kdlistitemview-gmail
      width             50%
      height            58px
      background        #fff
      clear             none
      border-bottom     1px solid #ebebeb
      vendor            transition, background .3s ease
      cursor            pointer
      position          relative
      borderBox()
      fl()

      &:nth-child(2n)
        border-left     1px solid #ebebeb

      &:nth-last-of-type(1)
      &:nth-last-of-type(2)
        border-bottom   none

      .avatar
        size            25px, 25px
        margin          16px 10px 16px 16px
        rounded         50%
        background      #f0f0f0
        fl()

      .contact-info
        kalc            width, 100% \-\ 51px
        padding-top     10px
        overflow        hidden
        borderBox()
        fl()

        span
          width         100%
          font-size     12px
          line-height   14px
          white-space   nowrap
          text-overflow ellipsis
          overflow      hidden
          display       block
          color         #959595

        .full-name
          line-height   19px
          font-size     16px
          color         #393939

      &:hover:before
        content           "Send an Invite?"
        size              100%
        height            100%
        line-height       58px
        font-size         16px
        background        rgba(242, 242, 242, .95)
        color             #737373
        text-align        center
        abs               0 0 0 0
        z-index           5


      .invitation-sent-overlay
        size              100%, 100%
        abs               0 100% 0 0
        line-height       16px
        padding           16px 0
        font-size         16px
        text-align        center
        color             #fff
        background        #a8e071
        z-index           6
        vendor            transition, right .3s ease

        span
          display         block

        .email
          font-size       12px
          white-space     nowrap
          text-overflow   ellipsis

      &.invitation-sent .invitation-sent-overlay
        right             0

.settings-list-wrapper
  height              auto
  min-height          50px

  header
    bg                color, rgba(0,0,0,.1)
    border-bottom     1px solid rgba(0,0,0,0.3)
    a.custom-link-view
      margin-left     15px
      text-decoration underline
      fl()
      span.title
        line-height   24px
        font-size     11px !important

  .no-item-found
    padding           10px 20px
    color             #888

  &.ssh-keys
    ul
      margin-top      50px

  &.koding-keys
    .no-item-found
      font-size       14px
      line-height     1.5
      h2
        font-weight   400
        font-size     16px
        margin-bottom 20px
    a
      font-weight         300
      color               logoBg
      &:hover
        text-decoration   underline

    ul
      margin            0
      padding           0
      li
        list-style      none
        line-height     40px
        borderBox()
        a
          margin-left   10px
          fr()
        .lightText
          color         rgba(255,255,255,.8)
        .darkText
          color         rgba(255,255,255,.5)

.koding-keys
  code
    margin              10px 0
    display             block
    line-height         16px
    font-size           12px
    font-family         monoFamily
    padding             14px
    color               white
    bg                  color #28292A


.new-kdmodal.koding-keys
  p
    margin              10px 0
  strong
    font-weight         600
