@import "../../Framework/src/themes/default/kdfn"
@import "../../Main/styl/appfn"



@css {
/*
Account SETTINGS stylesheet
app.settings.styl
*/
}

body.account

  #main-tab-view
    overflow                      visible

  .app-sidebar
    background                    #EFEFEF
    padding                       21px 16px 16px 34px

    nav
      a
        display                   block
        line-height               24px
        font-size                 14px
        color                     #4C4C4C
        font-weight               600
        opacity                   .99
        noTextDeco()

        &.selected
          text-decoration         underline

      .divider
        height                    24px

  .app-content
    padding                       34px 34px 0 0
    overflow                      visible

  .settings-list-wrapper

    .kdbutton.solid // Move these to fw [BC]
      rounded             3px

      &.green
        background        #61C17F

      &.red
        background        #D75B5B

      &.medium
        height            40px
        line-height       42px

    form
      .formline
        padding            0 17px 0 0
        margin             0 0 16px
        borderBox()

        .input-wrapper
          margin           0

        &.button-field
          clear            both
          border           none
          margin-top       6px

    .kdlabel
      font-size            14px
      color                #8D8D8D
      float                none
      line-height          19px
      margin               0 0 7px
      font-weight          200

    .kdinput.text
      rounded              3px
      background           #fff
      border               1px solid #C9C9C9
      padding              8px 13px 10px
      font-size            14px
      line-height          19px
      color                #4C4C4C
      font-weight          600
      opacity              .99
      margin               0

    .lazy-loader
      text-align          center
      padding             40px 0

    .no-item-found
      color               #878787
      font-size           14px
      padding             24px 0
      text-align          center

    &.user-profile
      .account-avatar-area
        margin                    0 0 44px

      .avatar-buttons
        margin                    30px 0 0 24px
        position                  relative
        fl()

        .kdbutton
          display                 block
          float                   none
          text-align              left
          width                   205px
          margin                  0 0 7px
          padding                 0 0 0 15px

          canvas
            vertical-align        middle

          .icon
            padding               0
            margin                12px 12px 0 0
            fl()


        .upload-avatar .icon
          r-sprite                'account', 'photo-16'

        .use-gravatar .icon
          margin-left             1px
          r-sprite                'account', 'import-16'

        .upload-input
          display                 block
          size                    205px
          height                  40px
          abs                     0px 0 0 0px
          opacity                 0
          cursor                  pointer


      .avatarview
        display                   block
        size                      150px, 150px
        fl()

        img
          display                 block
          margin                  0

      form
        .formline
          width                   50%
          fl()

          &.section-header
            width                 100%
            clear                 both
            margin-bottom         21px

          &.button-field
            width                 100%

        .kdheaderview
          display                 block
          font-size               14px
          line-height             19px
          size                    auto, auto
          color                   #4C4C4C
          margin                  0
          padding                 0
          border                  none
          font-weight             600


          span
            margin                0
            padding               0


    &.email-notifications
    &.linked-accounts
      li
        size                      100%, 65px
        line-height               65px
        border-bottom             1px solid #DEDEDE
        padding                   0 4px 0 4px
        borderBox()

        &:last-of-type
          border-bottom           none

        .title
          fl()

        .koding-on-off
          margin-top              18px
          fr()

    &.payment-methods
      .add-method-btn
        size                      100%, 40px
        border                    1px dashed #D0D0D0
        background                #fff
        rounded                   3px
        margin                    0 0 16px 0
        padding                   0
        line-height               40px

        .button-title
          font-size               14px
          line-height             inherit
          font-weight             600
          color                   #878787
          opacity                 .99

        .icon
          padding                 0
          margin                  0 12px 0 0
          display                 inline-block
          float                   none
          r-sprite                'account', 'plus-10'


      .payment-method
        height                    62px
        border-bottom             1px solid #DEDEDE
        line-height               19px
        font-size                 14px
        padding                   13px 0 0
        borderBox()

        .billing-link
          fl()

        .card-type
          color                   #7B7B7B
          opacity                 .99

        pre
          color                   #4C4C4C
          font-weight             600
          opacity                 .99

        .payment-method-controls
          fr()

          a
            display               block
            margin                10px 0 0 16px
            fr()

            &.edit
              r-sprite            'app', 'edit-gray-16'

            &.remove
              r-sprite            'app', 'delete-gray-16'

    &.your-subscriptions

      .kdlistitemview-subscription
        size                      100%, auto
        padding                   23px 0
        margin                    0
        border-bottom             1px solid #DEDEDE

        .kdview
          height                  auto

        .subscription-info
          width                   auto
          font-size               14px
          line-height             19px
          fl()

          h4
            color                 #7B7B7B
            font-weight           400
            margin                0 0 1px
            padding               0

            .price
              font-weight         200

          p
            font-weight           600
            color                 #4C4C4C

        .controls
          fr()

          .kdbutton
            margin-left           6px

    &.billing-history
      .kdlistitemview
        padding                   21px 0
        border-bottom             1px solid #DEDEDE

      .status-icon
        size                      38px, 38px
        border                    1px solid #EAEAEA
        rounded                   3px
        margin                    0 18px 0 0
        text-align                center
        line-height               38px
        fl()

        span
          display                 inline-block
          r-sprite                'account', 'cross-8'

        &.success span
          r-sprite                'account', 'check-8'

      .billing-info
        line-height               19px
        font-size                 14px
        color                     #7B7B7B
        fl()

        strong
          font-weight             600

        .invoice-date
          color                   #4C4C4C

        .card-number
          margin                  6px 0 0
          display                 block
          color                   #919191

      .invoice-btn
        fr()

    &.terms-of-service
    &.privacy-policy
      margin                      -38px 0 0 -34px
      kalc                        width, 100% \+ 66px

      iframe
       size                       100%, 100%
       display                    block
       margin                     0
       padding                    0
