{
  "provider": {
    "aws": {
      "access_key": "${var.aws_access_key}",
      "secret_key": "${var.aws_secret_key}",
      "region": "${var.aws_region}"
    }
  },
  "output": {
    "vpc": {
      "value": "${aws_vpc.vpc.id}"
    },
    "cidr_block": {
      "value": "${aws_vpc.vpc.cidr_block}"
    },
    "rtb": {
      "value": "${aws_vpc.vpc.main_route_table_id}"
    },
    "acl": {
      "value": "${aws_vpc.vpc.default_network_acl_id}"
    },
    "igw": {
      "value": "${aws_internet_gateway.main_vpc_igw.id}"
    },
    "subnet": {
      "value": "${aws_subnet.main_koding_subnet.id}"
    },
    "sg": {
      "value": "${aws_security_group.allow_all.id}"
    },
    "ami": {
      "value": "${lookup(var.aws_amis, var.aws_region)}"
    },
    "key_pair": {
      "value": "${aws_key_pair.koding_key_pair.key_name}"
    }
  },
  "resource": {
    "aws_vpc": {
      "vpc": {
        "cidr_block": "${var.cidr_block}",
        "tags": {
          "Name": "${var.environment_name}"
        }
      }
    },
    "aws_internet_gateway": {
      "main_vpc_igw": {
        "tags": {
          "Name": "${var.environment_name}"
        },
        "vpc_id": "${aws_vpc.vpc.id}"
      }
    },
    "aws_subnet": {
      "main_koding_subnet": {
        "availability_zone": "{{.AvailabilityZone}}",
        "cidr_block": "${var.cidr_block}",
        "map_public_ip_on_launch": true,
        "tags": {
          "Name": "${var.environment_name}",
          "subnet": "public"
        },
        "vpc_id": "${aws_vpc.vpc.id}"
      }
    },
    "aws_route_table": {
      "public": {
        "route": {
          "cidr_block": "0.0.0.0/0",
          "gateway_id": "${aws_internet_gateway.main_vpc_igw.id}"
        },
        "tags": {
          "Name": "${var.environment_name}",
          "routeTable": "koding",
          "subnet": "public"
        },
        "vpc_id": "${aws_vpc.vpc.id}"
      }
    },
    "aws_route_table_association": {
      "public-1": {
        "route_table_id": "${aws_route_table.public.id}",
        "subnet_id": "${aws_subnet.main_koding_subnet.id}"
      }
    },
    "aws_security_group": {
      "allow_all": {
        "description": "Allow all inbound and outbound traffic",
        "ingress": {
          "from_port": 0,
          "to_port": 0,
          "protocol": "-1",
          "cidr_blocks": [
            "0.0.0.0/0"
          ],
          "self": true
        },
        "egress": {
          "from_port": 0,
          "to_port": 0,
          "protocol": "-1",
          "self": true,
          "cidr_blocks": [
            "0.0.0.0/0"
          ]
        },
        "name": "allow_all",
        "tags": {
          "Name": "${var.environment_name}"
        },
        "vpc_id": "${aws_vpc.vpc.id}"
      }
    },
    "aws_key_pair": {
      "koding_key_pair": {
        "key_name": "${var.key_name}",
        "public_key": "${var.public_key}"
      }
    }
  },
  "variable": {
    "cidr_block": {
      "default": "10.0.0.0/16"
    },
    "environment_name": {
      "default": "{{.EnvironmentName}}"
    },
    "aws_availability_zones": {
      "default": {
        "ap-northeast-1": "ap-northeast-1b",
        "ap-southeast-1": "ap-southeast-1b",
        "ap-southeast-2": "ap-southeast-2b",
        "eu-central-1": "eu-central-1b",
        "eu-west-1": "eu-west-1b",
        "sa-east-1": "sa-east-1b",
        "us-east-1": "us-east-1b",
        "us-west-1": "us-west-1b",
        "us-west-2": "us-west-2b"
      }
    },
    "aws_amis": {
      "default": {
        "ap-northeast-1": "ami-9e5cff9e",
        "ap-southeast-1": "ami-ec7879be",
        "ap-southeast-2": "ami-2fce8b15",
        "eu-central-1": "ami-60f9c27d",
        "eu-west-1": "ami-7c4b0a0b",
        "sa-east-1": "ami-cd9518d0",
        "us-east-1": "ami-cf35f3a4",
        "us-west-1": "ami-b33dccf7",
        "us-west-2": "ami-8d5b5dbd"
      }
    },
    "key_name": {
      "default": "{{.KeyPairName}}"
    },
    "public_key": {
      "default": "{{.PublicKey}}"
    }
  }
}
