---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel/Channel_ConnectStatus_14,Channel_ConnectStatus_992/leave?uuid=UUID_ConnectStatus&pnsdk=PubNub-Go%2F3.14.0
    method: GET
  response:
    body: '{"status": 200, "action": "leave", "message": "OK", "service": "Presence"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
unclosed_requests: {}
