---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/publish/pub-c-071e1a3f-607f-4351-bdd1-73a8eb21ba7c/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/0/Channel_SubscriptionConnectedForMessageFiltering2/0/%22Test%20message%22?pnsdk=PubNub-Go%2F3.14.0&uuid=UUID_SubscriptionConnectedForMessageFiltering2&seqn=1
    method: GET
  response:
    body: '[1,"Sent","14586613280726392"]'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
    url: http://ps.pndsn.com/v2/presence/sub-key/sub-c-5c4fdcc6-c040-11e5-a316-0619f8945a4f/channel/Channel_SubscriptionConnectedForMessageFiltering2/leave?uuid=UUID_SubscriptionConnectedForMessageFiltering2&pnsdk=PubNub-Go%2F3.14.0
    method: GET
  response:
    body: '{"status": 200, "action": "leave", "message": "OK", "service": "Presence"}'
    headers:
      Content-Type:
      - text/javascript; charset="UTF-8"
    status: 200 OK
    code: 200
unclosed_requests: {}
