---
---

:root {
  --icon-docsBackground: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAANFJREFUKBV9kYtxwzAMQ/mRM3hWyAzdsqaCR0eu3buWZ/0BEoT9+fqa5mbb9rCIsP+iarcAbFOfDnNq80fwRuaRuWmpBs8qUxlzJ8tPNJikIo0xUptQhbKjpIAX0gLXLAsPG+TpjALRwZXEGyoXmMJN4OE3yUEqI8rJDBjMzRYuHKe07vt3D7pZYBLfCFwQ7qlJT9Ldmo7rnk9JnFaDyMjEDNeQg6U6HyNOwgIfDUor0ixb1tWIJtzBcitQfkTm0F/aT/cGzdHKcuMKXqSQPIJKb66+effPDPYoAAAAAElFTkSuQmCC');
  --icon-docsBackground-2: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAATFJREFUSA2llQuywiAMRUPQnbuFt4W3SQXMTZtOrfyCcRRKh3MItDE8/v5LzoUoEHG8UQhBv7y3tBClFMrpRWgZcP3sg+D9Asd8LBKLRTBWfoQkIurj8ucOR+JjW8TEvNksvVWBbpHsCEJ2I1C83SlGSUb6iPMe6oDjx+BoEZuAWSUmwI0VyRWuAjtQO5hVSQ2uzDNwVdKBy1N0Ca+kB1fWha+Xs5IRHLCvDEw4kszAuwLcbEnS60kpZ33SPhZUKS/NDD4m7jUKY1h5SpkgQR+hC6nAcW8oOAB7bfHWrikBJBpSW7y1a0pgBwqJt3YNBQY/77endnUFVzgywIFGR+1qClpwb+2qCkZwZIJovSfn/5MvwSx8U4wlDKCFF27zepmwpbMKH0k0A09tMWCtrWXyBuRwYwHWLdw8AAAAAElFTkSuQmCC');
}

.DocsIndex-Hero {
  background-image: var(--icon-docsBackground);
  padding-bottom: 105px;

  span {
    padding-top: 50px;
    padding-bottom: 45px;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.25;
    color: #ffffff;
    width: 650px;
    text-align: center;
    margin: 0 auto;
    display: block;
  }
}

.DocsIndex-Featured {
  text-align: center;
  float: none !important;
  max-width: 1176px;
  margin: -106px auto -116px;
  background-color: #ffffff;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;

  > div {
    box-sizing: border-box;
    overflow: hidden;
    padding: 1.5rem;
    width: 25%;
    padding-top: 41px;
    padding-bottom: 43px;
    position: relative;

    &:last-child:before {
      display: none;
    }
    &:before {
      content: "";
      width: 1px;
      height: 121px;
      background-color: #E8E8E8;
      position: absolute;
      top: 50px;
      right: 0;
    }
    &:last-child {
      border-bottom: 1px solid #f6f6f9;
    }

    svg {
      display: block;
      margin: 0 auto;
    }

    > a {
      color: #67A2EE;
      font-size: 22px;
      font-weight: 600;
      margin-top: 18px;
      text-decoration: none;
    }
    span {
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      color: #727272;
      margin: 8px auto 0;
      width: 195px;
      max-width: 100%;
      display: block;
    }
  }
}

.docs .main {
  margin-bottom: 3.75rem;
  margin-top: 2.25rem;
}

.docs__index__body {
  background: #F1F2F3;
  padding: 126px 38px 70px;
}

.docs__index__body__header {
  color: #727272;
  font-size: 22px;
  font-weight: 300;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 19px;
  position: relative;

  .docs__search {
    float: right;

    input {
      width: 400px;
    }
  }
}

.docs__index__body__title {
  float: left;
  padding: 9px 0;
}

.docs__index__body__content {
  background-color: #ffffff;
  width: 1174px;
  max-width: 100%;
  margin: 0 auto;
  padding: 21px 61px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.10);

  ul ul a,
  ul.terraform-docs ul ul a,
  ul.terraform-docs li.load-more a {
    color: #67A2EE;
    font-size: 15px;
    text-decoration: none;
    line-height: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 400;
  }

  ul.terraform-docs {
    width: 50%;
    max-height: 808px;
    overflow: hidden;
    position: relative;

    li.load-more {
      position: absolute;
      bottom: 9px;
      left: 50%;
      background-color: white;
      z-index: 10;
      padding-right: 20px;

      a {
        display: block;
        font-weight: 600;
      }
    }

    > li {
      max-height: inherit;

      > ul {
        display: flex;
        flex-flow: column wrap;
        max-height: inherit;
        align-items: center;
        justify-content: center;
        align-content: flex-start;

        > li {
          width: 50%;
          max-height: inherit;
        }
      }
    }
  }
  a, ul.terraform-docs ul a {
    color: #727272;
    font-weight: 700;
    font-size: 17px;
    display: block;
    text-decoration: none;
    padding-bottom: 8px;
    line-height: 17px;
    padding-top: 38px;
  }

  ul.terraform-docs > li > a,
  ul.terraform-docs ul ul ul {
    display: none;
  }

  .docs__index__results__row {
    padding: 14px 20px;
  }
}

.docs__index__body__sections {
  display: flex;
  flex-flow: column wrap;
  max-height: 1510px;
  align-items: center;
  justify-content: center;
  align-content: flex-start;

  > div {
    display: flex;
    flex-flow: column wrap;
    max-height: 800px;
    width: 50%;
  }

  > div > ul {
    width: 50%;
    padding-right: 20px;
    box-sizing: border-box;
  }
}

.docs__search {
  input.expanded {
    width: 775px;
  }
  .docs__index__results {
    right: 0;
  }
}

.clearfix:after {
  content:"";
  display:block;
  clear:both;
}

@media screen and (min-width: 701px) {
  .DocsIndex-Featured > div {
    &:nth-child(2n+2) {
      border-left: 0;
    }
    &:nth-last-child(-n+4) {
      border-bottom: 1px solid #f6f6f9;
    }
  }
}

@media (max-width: 1250px) {
  .DocsIndex-Featured {
    margin-left: 38px;
    margin-right: 38px;
  }
}

@media screen and (max-width: 1000px) {
  .DocsIndex-Featured {
    margin-bottom: -338px;

    > div {
      width: 50%;
    }
  }

  .docs__index__body {
    padding-top: 348px;

    .docs__index__body__sections {
      max-height: 1200px;
    }
  }

}

@media screen and (max-width: 660px) {
  .DocsIndex-Featured {
    margin: -177px 19px -222px;
    padding: 0 40px;

    > div {
      width: 100%;
      padding: 33px 0 23px;
      border-bottom: 1px solid #E8E8E8;

      &:before {
        display: none;
      }

      &:last-child {
        border-bottom: 0;
      }

      svg {
        float: left;
        margin: 0;
      }

      > a, span {
        text-align: left;
        margin-left: 56px;
        display: block;
      }

      > a {
        margin-top: 0;
        font-size: 20px;
      }

      span {
        width: auto;
        margin-top: 0;
      }
    }
  }

  .DocsIndex-Hero {
    padding-bottom: 176px;
    padding-left: 30px;
    padding-right: 30px;

    span {
      width: 100%;
      font-size: 26px;
      font-weight: 500;
    }
  }

  .docs__index__body {
    padding-top: 233px;
    padding-left: 19px;
    padding-right: 19px;

    .docs__index__body__content {
      padding-left: 40px;
      padding-right: 40px;

      .docs__index__body__header {

        .docs__index__body__title {
          float: none;
          text-align: center;
          padding-top: 4px;
          padding-bottom: 20px;
        }

        .docs__search {
          float: none;

          input, input.expanded {
            width: 100%;
          }
        }
      }

      .docs__index__body__sections {
        flex-flow: row wrap;
        max-height: 1300px;

        ul {
          display: block;
          width: 100%;
        }

        > div > ul {
          width: 50%;
        }
      }
    }
  }

  .docs__index__results {
    left: 0;
    width: 100% !important;
  }
}

@media screen and (max-width: 1100px) {
  .docs__index__body__sections {
    max-height: 2150px;

    > div {
      max-height: inherit;

      ul {
        width: 100%;
      }
    }
  }

  .docs__search input.expanded {
    width: 600px;
  }

  .docs__index__body__content ul.terraform-docs {
    width: 100%;
    max-height: 1212px;

    > li > ul {
      justify-content: initial;
      align-items: flex-start;
      flex-flow: column;
    }

    li.load-more {
      left: 0;
      bottom: 0;
    }
  }
}

@media screen and (max-width: 900px) {
  .docs__search input.expanded {
    width: 500px;
  }
}

@media screen and (max-width: 750px) {
  .docs__index__body__sections {
    max-height: none;

    > div {
      width: 100%;
    }
  }
  .docs__index__body__content ul.terraform-docs {
    max-height: none;

    li.load-more {
      display: none;
    }
  }
}

@media screen and (max-width: 530px) {
  .DocsIndex-Featured {
    padding: 0 20px;
  }

  > a, span {
    margin-left: 30px;
    width: calc(100% - 70px);
  }
}