---
---

@import "colors";

.Dropdown {
  letter-spacing: 0.32px;
  position: relative;

  &.is-shown {
    .Dropdown-selection {
      border-bottom-left-radius: 0;
    }
    .Dropdown-options {
      display: block;
    }
  }
  .Dropdown-selection {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background-color: $alabaster;
    position: relative;
    color: $dusty-gray;
    text-decoration: none;
    width: inherit;
    box-sizing: border-box;
    padding: 22px 16px 20px 25px;
    display: inline-block;
    z-index: 1;

    &:after {
      content: "";
      width: 14px;
      height: 7px;
      vertical-align: 2px;
      display: inline-block;
      position: absolute;
      top: 26px;
      right: 19px;
      background: var(--icon-dropdown);
    }
  }
  .Dropdown-options {
    position: absolute;
    left: 0px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    width: inherit;

    label {
      cursor: pointer;
    }
    a {
      display: block;
      padding: 18px 0 16px 20px;
      text-decoration: none;
      font-size: 15px;
      background-color: $white;
      border-top: 1px solid $gallery;
      color: $emperor;

      &:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
      }
      &:hover {
        background-color: $cornflower-blue;
        color: $white;
      }

      &.disabled {
        color: #989898;

        &:hover {
          background-color: $white;
        }
      }
    }
  }
}