language: go

go:
 - 1.2
 - 1.3
 - 1.4
 - 1.5
 - 1.6
 - tip

before_install:
  - go get -v golang.org/x/tools/cmd/vet
  - go get -v github.com/golang/lint/golint

install:
  - go get gopkg.in/check.v1

script:
  - go test -race -cpu 1,4 -v
  - go test -race -v -tags appengine
  - go vet ./...
  - golint .

sudo: false
