webfont('Proxima Nova', 'ProximaNova-Light.otf', normal, 300)
webfont('Proxima Nova', 'ProximaNova-LightItalic.otf', italic, 300)
webfont('Proxima Nova', 'ProximaNova-Regular.otf', normal, 400)
webfont('Proxima Nova', 'ProximaNova-RegularItalic.otf', italic, 400)
webfont('Proxima Nova', 'ProximaNova-Semibold.otf', normal, 600)
webfont('Proxima Nova', 'ProximaNova-SemiboldItalic.otf', italic, 600)
webfont('Proxima Nova', 'ProximaNova-Bold.otf', normal, 700)
webfont('Proxima Nova', 'ProximaNova-Extrabold.otf', normal, 800)
webfont('Proxima Nova', 'ProximaNova-Black.otf', normal, 900)

webfont2('SourceCodePro', 'SourceCodePro-Regular-webfont', normal)
webfont2('SourceCodePro', 'SourceCodePro-Bold-webfont', bold)

webfont2('UbuntuMono', 'UbuntuMono-R-webfont', normal)
webfont2('UbuntuMono', 'UbuntuMono-B-webfont', bold)
