@css {
/*
Chatlio box Styling
chatlio.styl
*/
}

#chatlio-widget .chatlio-widget
  .chatlio-message-container
    kalc                    height, (100% \- 84px)
    bottom                  48px

  .chatlio-new-message-container
    border-top              1px solid #dedede
    background-color        #f6f6f6
    padding                 6px 8px
    abs                     0 0 -5px 0
    width                   100%

  textarea.chatlio-new-message
    margin                  0 0 6px
    rounded                 0
    border                  1px solid #ddd

  .chatlio-powered-by
    display                 none !important