@css {
/*
Generic stylesheet
generic.styl
*/
}

$accentColor                = #F2778A
$accentActiveColor          = #DF6E7F
$dangerColor                = #D75B5B
$dangerActiveColor          = #E14A35
$secondaryColor             = #858585
$secondaryActiveColor       = #656565

.GenericButton
  color                     white
  bg                        color, $accentColor
  padding                   12px 24px
  border                    none
  rounded                   4px
  &:active
  &:hover
    bg                      color, $accentActiveColor

  &.danger
    bg                      color, $dangerColor
    &:active
    &:hover
      bg                    color, $dangerActiveColor

  &.secondary
  &.alternate
    bg                      color, $secondaryColor
    &:active
    &:hover
      bg                    color, $secondaryActiveColor

  &:focus
    border          1px solid rgba(125,190,241,1)
    shadow          0 0 3px rgba(125,190,241,.7), 0 0 0px 1px #7dbef1 !important

  span.button-title
    font-size               13.5px
    font-weight             400
    letter-spacing          .3px

  &.medium
    padding                 12px 32px

    span.button-title
      font-size             14px
      font-weight           500
      letter-spacing        .3px

.GenericButton[disabled]
.GenericButton[disabled]:hover
.GenericButton[disabled]:active
  bg                        color, $accentColor !important


.text-center
  text-align                center