@css {
/*
Markdown Styling
activity.markdown.styl
*/
}

/** Markdown Styling **/
.has-markdown
  /* Headings */
  h1, h2, h3, h4, h5, h6
    color                   inherit
    font-size               inherit
    padding                 4px 0 8px 0
    font-size               1.1em
    font-weight             600
    margin                  0
    display                 inline-block

  /* Lists */

  ol
  ul
    padding                 0 32px
    list-style              none
    display                 block
    position                relative
    li
      position              relative
      padding               0 0 8px 0
    li:before
      color                 #c4c4c9
      left                  -20px
      abs()
  ol
    counter-reset           i 0
    li:before
      content               counter(i)
      counter-increment     i
  ul
    li:before
      content               "\2022"
      font-size             20px

  /* Paragraphs and other text */
  em
    font-style              italic
  strong
    font-weight             600
  a
    color                   logoBg
    font-weight             400
    noTextDeco()
  hr
    height                  1px
    background             #c4c4c9
    border                  none
  blockquote
    border-left             4px solid #DDD
    padding                 0 10px
    margin                  12px 0
  p
    padding                 0 0 8px 0
    word-wrap               break-word
    img
      size                  auto auto
      max-width             100%
      max-height            450px
      vertical-align        text-bottom

  ul li p
    padding                 0

  p code,
  ul code
    font-family             monoFamily
    font-size               12px
    color                   #8959a8
    padding                 2px 4px
    background-color        rgba(0, 0, 0, .02)
    border                  1px solid #eaeaea
    rounded                 2px

  /* Code */
  pre
    padding                 12px 0
    word-wrap               break-word

    code
      display               block
      line-height           16px
      font-size             12px
      font-family           monoFamily
      padding               8px
      bg                    color, rgba(0,0,0,.02)
      border                1px solid #eaeaea
      rounded               2px

      .hljs-comment
      .hljs-title
        color               #8e908c

      .hljs-variable
      .hljs-attribute
      .hljs-tag
      .hljs-regexp
      .ruby .hljs-constant
      .xml .hljs-tag .hljs-title
      .xml .hljs-pi
      .xml .hljs-doctype
      .html .hljs-doctype
      .css .hljs-id
      .css .hljs-class
      .css .hljs-pseudo
        color               #c82829

      .hljs-number
      .hljs-preprocessor
      .hljs-pragma
      .hljs-built_in
      .hljs-literal
      .hljs-params
      .hljs-constant
        color               #f5871f

      .ruby .hljs-class .hljs-title
      .css .hljs-rules .hljs-attribute
        color               #eab700

      .hljs-string
      .hljs-value
      .hljs-inheritance
      .hljs-header
      .ruby .hljs-symbol
      .xml .hljs-cdata
        color               #718c00

      .css
        .hljs-hexcolor
          color             #3e999f

      .hljs-function
      .python .hljs-decorator
      .python .hljs-title
      .ruby .hljs-function .hljs-title
      .ruby .hljs-title .hljs-keyword
      .perl .hljs-sub
      .javascript .hljs-title
      .coffeescript .hljs-title
        color               #4271ae

      .hljs-keyword
      .javascript .hljs-function
        color               #8959a8

      .hljs
        display             block
        overflow-x          auto
        background          white
        color               #4d4d4c
        padding             .5em
        vendor              'text-size-adjust', none

      .coffeescript .javascript
      .javascript .xml
      .tex .hljs-formula
      .xml .javascript
      .xml .vbscript
      .xml .css
      .xml .hljs-cdata
        opacity             .5

  /* Tables */

  table
    border-collapse         collapse
    text-align              left
    width                   100%

    th,
    td
      padding               10px

    thead
      th
        background          #efefef
        color               #777
        font-size           14px
        border-left         1px solid #dadada

        &:first-child
          border            none

    tbody
      td
        border-left         1px solid #efefef
        font-size           14px

        &:first-child
          border-left       none

      tr
        &:nth-of-type(2n)
          td
            background      #fafafa
