@css {
/*
OnBoarding Congrat Modal styles
*/
}
.kdmodal.Congratulation-modal
  left calc(50% \- 135px) !important
  border-radius             6px
  border                    0px
  font-family               proxima-nova, sans-serif
  text-align                center

  .kdmodal-inner
    .close-icon.closeModal
      opacity               .5

  .kdmodal-title
    margin-top 50px
    span.title
      font-size             27px
      color                 #48BA7D
      letter-spacing        0px
      line-height           32px

  .description
    padding 0px 50px
    color #A59999
    font-size 18px
    font-weight 300

  .image-wrapper
    r-sprite                app managed_vm_success
    margin 20px auto

  .kdmodal-inner .close-icon
    r-sprite              app content_modal_close_icon
    margin                20px 20px 0 0
    background-position   0 !important

  button.GenericButton
    margin-bottom           30px

  .alien
    abs()
    top                     -32px
    left                    260px
