$warningColor               = #f2778a
$regularColor               = #989898

/* General page structure and common styles */
.resource-state-modal.kdmodal
  -webkit-font-smoothing    antialiased
  -moz-osx-font-smoothing   grayscale
  width                     auto !important

  /* Overrides for specific page flows */
  .build-stack-flow

    header
      height                70px
      line-height           70px

      h1
        font-size           20px

    footer
      height                70px

      .GenericButton
        position            relative
        float               right
        right               14px
        top                 14px

      a.back-link
        position            relative
        float               left
        top                 26px
        left                20px
        font-weight         300

    section.main
      width                 780px
      height                400px

      h2
        font-size           18px
        letter-spacing      .21px
        line-height         20px

      p
        letter-spacing      .15px
        color               $regularColor

      .GenericButton
        text-transform      uppercase
        margin              0 auto
        display             block

      .GenericButton.secondary
        width               165px
        height              41px
        padding             0
        text-transform      none
        color               #57a2d2
        bg                  color, #f7f7f7
        border              1px solid #e4e4e4
        display             block
        margin              0 auto

        .button-title
          font-size         14px
          font-weight       300


  .start-machine-flow,
  .stop-machine-flow

    header
      height                50px

      h1
        font-size           17px
        line-height         20px
        padding-top         14px
        color               $regularColor

    section.main
      width                 600px
      rounded               6px
      color                 $regularColor

      p
        color               $regularColor

      .GenericButton
        height              42px
        min-width           160px
        borderBox()
        display             block

        span.button-title
          font-size         16px
          line-height       18px
          text-transform    uppercase


  /* Loader */
  .loader-container
    width                   400px
    height                  200px
    text-align              center
    borderBox()
    padding-top             50px

    .loader-text
      font-size             20px
      letter-spacing        .2px
      color                 #424242
      margin-bottom         15px


  /* Wizard pane */
  .wizard-progress-pane
    bg                      color, #efefef
    border-bottom           1px solid #e4e4e4
    text-align              center

    .wizard-step
      display               inline-block
      borderBox()
      width                 200px
      height                35px
      font-size             16px
      font-weight           300
      line-height           35px
      bg                    color, #fff
      color                 #c6c6c6
      letter-spacing        .5px
      rel()
      border-left           1px solid #e4e4e4

      .alien
        hidden()
        abs()
        top                 -103px
        left                60px
        r-sprite            'app' 'login_alien'

      .icon
        rel()
        top                 1px
        display             inline-block
        margin-right        5px

      .index
        padding-right       5px

      &:first-child
        border-left         none !important

      &:last-child
        border-right        none !important

      &.current
        bg                  color, #57a2d2
        color               #fff

        .alien
          visible()

      &.completed
        bg                  color, #57a2d2
        color               #000
        border-right        1px solid #5095C2
        font-weight         400

        .icon
          r-sprite          'app', 'check_mark'

      &.current, &.completed
        border-left         1px solid #70AED6


  /* Logs pane */
  .logs-pane
    margin                  0 auto

    .editor-main
      bg                    color, #000

    .description-view
      height                0
      padding               0
      overflow              hidden

    .ace_editor
      color                 #fff


  /* Error page coomon styles */
  .error-page

    section.main

      > h2
        color               $warningColor
        font-size           22px
        letter-spacing      .22px

      > p
        margin-top          5px
        line-height         16px

    .wizard-progress-pane

      .wizard-step
        &.completed
          bg                color, $warningColor
          color             #000
          border-right      1px solid #E97587

        &.current
          bg                color, $warningColor
          color             #fff

          .alien
            hidden()

        &.current, &.completed
          border-left       1px solid #EB8292

    .error-container
      max-height            240px
      width                 720px
      margin                0 auto
      styleScrollBars       rgba(0, 0, 0, .15)
      border                1px solid $warningColor
      rounded               4px
      bg                    color, rgba(242,119,138,0.05)

      &:not(.has-vertical)
        height              auto

      .error-content
        padding             15px 15px 20px 15px
        color               $regularColor
        font-size           13px
        line-height         16px

        p
          padding-top       12px

        ul
          list-style-type   disc
          padding-left      20px

          li
            padding-top     12px

      &.has-vertical
        border              1px solid $warningColor
        rounded             5px

        .error-content
          border            none


  /* progress bar */
  section.main

    .progressbar-container
      height                20px
      rounded               4px
      margin-top            40px

      .bar
        rounded             4px

    .status-text
      ellipsis()
      margin                0 auto
      padding-top           7px


  /* Styles for specific pages */
  .readme-page

    section.main

      .kdcustomscrollview
        height              296px
        width               720px
        bg                  color, #fff
        styleScrollBars     rgba(0, 0, 0, .15)
        rounded             8px
        border              1px solid #e4e4e4
        margin              0 auto

        .kdscrolltrack
          rounded           0 5px 5px 0

      .description
        padding             20px
        font-size           12px
        color               #333

      .GenericButton.secondary
        abs                 105px, 50px


  .stack-template-page

    section.main

      .editor-view
        width               720px
        height              296px
        margin              0 auto
        rounded             8px
        border              1px solid #e4e4e4
        overflow            hidden
        borderBox()

        .ace_gutter-layer
          bg                color, #FFF

      .GenericButton.secondary
        abs                 105px, 50px
        z-index             11


  .credentials-page

    section.main
      > p
        margin-bottom       24px

    .credential-form
      font-family           $helvetica-family
      color                 #929292
      width                 350px
      height                290px
      borderBox()
      float                 none
      margin                0 auto
      padding               20px 5px 0 20px
      rounded               4px
      bg                    color, #fff
      overflow              hidden

      .kdcustomscrollview
        styleScrollBars     rgba(0, 0, 0, .15)
        max-height          220px
        padding-right       15px !important

        .kdscrolltrack.vertical
          right             -2px

      a
        color               #57a2d2
        font-size           13.7px
        text-decoration     none !important
        font-weight         normal

      h3
        font-family         SoleilFamily
        font-weight         400
        font-size           16px
        letter-spacing      .45px
        margin-bottom       10px
        padding-right       15px
        color               #f2778a

      .kdlabel
        display             block
        font-size           11.7px
        letter-spacing      .3px
        margin-bottom       3px
        float               none
        color               inherit
        margin-top          7px

      .formline:first-child .kdlabel
        margin-top          0px

      .formline .input-wrapper
        margin-bottom       0px

      .kdinput.text
        font-size           13.7px
        rounded             3px
        bg                  color, #fff
        border              1px solid #ececec
        padding             5px 13px

      .validation-error
        border              1px solid #f13a18 !important

      div.kdselectbox
        rounded             3px
        border              1px solid #ececec
        width               308px

        span.title
          line-height       31px
          padding           0 10px

        span.arrows
          top               8px
          right             8px

      a.create-new .plus
        font-size           16px

      a.cancel-new
        float               right

      form
        clear               both

        .advanced-field,
        .formline.button-field .save-btn.kdbutton,
        .formline.button-field .cancel.kdbutton
          hidden()

        &.in-advanced-mode
          .advanced-field
            visible()

      .selection-container
        padding-right       15px

        .kdselectbox
          width             100%
          borderBox()
          margin-bottom     11px

        a.show-link
          font-size         11px !important
          fr()

          &:before
            content         'Show Details'

          &.loading
            cursor          default
            color           #999
            &:before
              content       'Loading...'

        .kdlabel.selection-label
          fl()
          margin-top        0px
          clear             none

      .advanced-mode-btn
        height              22px !important
        background-color    #666
        margin-bottom       20px
        box-shadow          none

        .button-title
          font-size         12px !important
          line-height       22px !important

      article
        font-size           13px
        font-family         SoleilFamily
        font-weight         300
        color               #9f9f9f
        line-height         19px
        margin-bottom       15px

        code
          bg                color, #f2f2f2
          border            1px solid #cacaca
          borderBox()
          color             $warningColor
          font-weight       400
          font-style        normal
          font-size         12px
          line-height       18px
          padding           0 6px
          rounded           4px

          &.block
            bg              color, #fff
            color           #858585
            line-height     20px
            padding         8px 13px
            margin          20px 0
            display         block
            rel()
            width           310px

            div
              ellipsis()
              width         230px

            cite
              abs           8px 13px

        a
          color             $warningColor
          text-decoration   underline !important

      .form-container
        hidden()
        height              220px

      &.form-visible
        .form-container
          visible()

        .selection-container
          hidden()

      &.left-form
      &.right-form
        a.show-link
          abs               44px, 20px

      &.left-form
        fl()
        margin-left         30px

      &.right-form
        fr()
        margin-right        30px


  .credentials-error-page

    section.main
      .background
        abs()
        bottom              0px
        r-sprite            'app', 'buildstack__art_fail'


  .build-stack-page

    section.main > h2 span
      font-weight           bold

    .progressbar-container
      .bar
        bg                  color, $warningColor

    .status-text
      borderBox()
      height                70px
      width                 600px

    .logs-pane
      width                 720px
      height                255px


  .build-stack-error-page

    .wizard-progress-pane
      .wizard-step
        &.completed
          bg                color, #d4d4d4
          border-right      1px solid rgba(0,0,0,0.1)

        &.completed, &.current
          border-left       0


  .build-stack-success-page

    .wizard-step.current
      bg                    color, #57a2d2
      color                 #000
      font-weight           400

      .icon
        r-sprite            'app', 'check_mark'

      .alien
        hidden()

    section.main
      padding-left          385px
      padding-top           120px

      h1
        color               #48ba7d
        font-size           40px
        letter-spacing      .4px
        line-height         43px

      h2
        font-size           20px
        font-weight         300
        letter-spacing      .21px
        line-height         16px
        color               #989898
        text-align          left
        padding-top         5px
        padding-bottom      45px

      .GenericButton.secondary
        margin              0
        bg                  color, #fff

      .background
        abs()
        top                 93px
        left                125px
        r-sprite            'app', 'buildstack__art_success'

    footer
      .GenericButton
        float               none
        right               0
        margin              0 auto
        display             block


  .build-stack-logs-page

    section.main
      padding-top           65px

    .wizard-step.current
      bg                    color, #57a2d2
      color                 #000

      .icon
        r-sprite            'app', 'check_mark'

      .alien
        hidden()

    .logs-pane
      width                 720px
      height                320px

    footer
      .GenericButton
        float               none
        right               0
        margin              0 auto
        display             block


  .start-machine-page

    section.main
      height                390px

      h2
        color               #358bb0
        font-size           22px
        letter-spacing      .22px
        line-height         43px
        padding-top         50px

      > p
        font-size           18px
        line-height         20px
        letter-spacing      .19px
        margin-bottom       44px

      .GenericButton
        margin              0 auto

      .background
        abs()
        r-sprite            'app', 'buildstack__art_boot'
        bottom              0



  .start-machine-progress-page

    section.main
      height                460px

      h2
        color               #515151
        font-size           20px
        letter-spacing      .2px
        line-height         43px
        padding-top         30px
        margin-bottom       -10px

      .progressbar-container
        width               500px

        .bar
          bg                color, #67a2ee

      .background
        abs()
        bottom              0
        r-sprite            'app', 'buildstack__art_building'


  .start-machine-success-page

    section.main
      height                320px
      padding-left          300px
      padding-top           85px

      h2
        color               #48ba7d
        font-size           22px
        letter-spacing      .22px
        line-height         43px
        text-align          left
        padding-top         0

      > p
        text-align          left
        line-height         16px
        margin-bottom       27px

      .background
        abs()
        top                 50px
        left                40px
        r-sprite            'app', 'buildstack__art_success'



  .start-machine-error-page

    section.main
      min-height            390px

      h2
        line-height         43px
        padding-top         30px
        margin-bottom       -10px

      > p
        margin-bottom       20px

      .error-container
        max-height          205px
        width               520px

      .GenericButton
        margin              40px auto 90px auto

      .background
        abs()
        bottom              0
        r-sprite            'app', 'buildstack__art_fail'


  .stop-machine-progress-page

    section.main
      height                250px

      h2
        color               #515151
        font-size           20px
        letter-spacing      .2px
        line-height         43px
        padding-top         30px

      .progressbar-container
        width               500px

        .bar
          bg                color, #f2778a


  .stop-machine-error-page

    section.main
      min-height            390px

      h2
        line-height         43px
        padding-top         30px
        margin-bottom       -10px

      > p
        margin-bottom       20px

      .error-container
        max-height          205px
        width               520px

      .GenericButton
        margin              40px auto 90px auto

      .background
        abs()
        bottom              0
        r-sprite            'app', 'buildstack__art_fail'


  .no-stack-page
    width                   400px
    height                  200px
    borderBox()

    section.main
      padding               20px


.credential-modal.resources
  margin-left               128px
