.resource-state-modal.kdmodal
  font-family               SoleilFamily
  overflow                  hidden
  rounded                   6px
  border                    none
  width                     920px !important

  .kdmodal-inner,
  .kdmodal-inner .kdmodal-content
    margin                  0

  .kdmodal-inner .close-icon
    hidden()

  .kdmodal-title
    hidden()

  header
    height                  100px
    border-bottom           1px solid #DEDBDB
    bg                      color #fff
    text-align              center

    h1
      display               inline-block
      color                 #BABABA
      font-size             20px
      font-weight           300
      padding-top           40px

  section.main
    height                  500px

    > h2
      color                 #424242
      padding-top           29px
      font-size             20px
      text-align            center
      letter-spacing        .2px

    > p
      text-align            center
      font-size             14px
      letter-spacing        .2px
      text-align            center
      color                 #a59999
      margin-bottom         29px

  footer
    height                  100px
    border-top              1px solid #DEDBDB
    bg                      color #fff
    rel()

    .GenericButton
      abs                   29px 29px
      text-transform        uppercase
      width                 146px
      height                42px
      padding               0

    a.back-link
      abs()
      top                   39px
      left                  30px
      color                 #c6c6c6
      text-decoration       none !important
      font-size             14px
      line-height           18px

      .arrow:after
        content             "\2190"
        font-size           24px
        font-family         Helvetica,Arial,sans-serif
        color               #afafaf

  .GenericButton.secondary
    width                   165px
    height                  41px
    padding                 0
    font-size               13.7px
    color                   #57a2d2
    bg                      color, #fafafa
    border                  1px solid #dedbdb
    display                 block
    margin                  0 auto


  .wizard-progress-pane
    bg                      color, #efefef
    border-bottom           1px solid #dedbdb
    text-align              center

    .wizard-step
      display               inline-block
      borderBox()
      width                 230px
      height                58px
      font-size             16px
      padding-top           15px
      bg                    color, #fff
      color                 #c6c6c6
      letter-spacing        .2px

      &:first-child
        border-left         1px solid #e6e6e6

      &:last-child
        border-right        1px solid #e6e6e6

      &.current
        bg                  color, #57a2d2
        color               #fff

      &.completed
        bg                  color, #57a2d2
        color               rgba(0,0,0,0.3)
        border-right        1px solid #c7c7c7


  .error-page

    section.main

      > h2
        color               #F06969
        font-weight         bold

    .wizard-progress-pane

      .wizard-step
        &.completed
          bg                color, #f3f3f3
          color             #fff
          border-right      1px solid #e6e6e6

        &.current
          bg                color, #F06969
          color             #fff

    .error-container
      max-height            250px
      width                 450px
      margin                0 auto
      styleScrollBars       rgba(0, 0, 0, .15)

      .error-content
        padding             15px 15px 20px 15px
        color               #5e5e5e
        font-size           13px
        line-height         16px
        border              1px solid #f2778a
        bg                  color, rgba(242,119,138,0.05)
        rounded             5px

        p
          padding-top       12px

        ul
          list-style-type   disc
          padding-left      20px

          li
            padding-top     12px

      &.has-vertical
        border              1px solid #f2778a
        rounded             5px

        .error-content
          border            none


    footer

      a.back-link
        color               #F06969

        .arrow:after
          color             #F06969

  .readme-page

      .kdcustomscrollview
        max-height          310px
        width               700px
        bg                  color, #fff
        styleScrollBars     rgba(0, 0, 0, .15)
        rounded             5px
        margin              0 auto

      .description
        padding             30px
        font-size           12px
        color               #333

      .GenericButton.secondary
        margin-top          20px


  .stack-template-page

    .editor-view
      width                 700px
      height                310px
      margin                0 auto

    .GenericButton.secondary
      margin-top            20px


  .credentials-page

    section.main
      padding               0 115px

      > p
        margin-bottom       60px

    .form-scroll-wrapper
      width                 325px
      borderBox()

      &.credential-wrapper
        fl()

      &.requirements-wrapper
        fr()

      &.kdcustomscrollview
        styleScrollBars     rgba(0, 0, 0, .15)
        max-height          270px
        padding-right       15px !important

    .credential-only

      .credential-wrapper
        float               none
        margin              0 auto

      .requirements-wrapper
        hidden()

    .credential-form
      font-family           $helvetica-family
      color                 #929292

      a
        color               #57a2d2
        font-size           13.7px
        text-decoration     none !important
        font-weight         normal

      h3
        font-weight         bold
        font-size           15px
        letter-spacing      .4px
        margin-bottom       20px

      .kdlabel
        display             block
        font-size           11.7px
        letter-spacing      .3px
        margin-bottom       3px
        float               none
        color               inherit

      .formline .input-wrapper
        margin-bottom       12px

      .kdinput.text
        font-size           13.7px
        line-height         .3px
        rounded             3px
        bg                  color, #fff
        border              1px solid #d9d9d9
        padding             5px 13px

      .validation-error
        border              1px solid #f13a18 !important

      div.kdselectbox
        span.title
          font-size         13.7px

      a.create-new .plus
        font-size           16px

      a.cancel-new
        float               right

      form
        clear               both

      .advanced-field,
      .formline.button-field .save-btn.kdbutton,
      .formline.button-field .cancel-btn.kdbutton
        hidden()

      &.in-advanced-mode
        .advanced-field
          visible()

      .selection-container
        .kdselectbox
          width             100%
          borderBox()
          margin-bottom     11px

      .form-container
        hidden()

      &.form-visible
        .form-container
          visible()

        .selection-container
          hidden()

      article
        font-size           13px
        font-family         SoleilFamily
        color               #9f9f9f
        line-height         19px

        code
          bg                color, #f2f2f2
          border            1px solid #cacaca
          borderBox()
          color             #f2778a
          font-weight       400
          font-style        normal
          font-size         12px
          line-height       18px
          padding           0 6px
          rounded           4px

          &.block
            bg              color, #fff
            color           #858585
            line-height     20px
            padding         8px 13px
            margin          20px 0
            display         block
            rel()
            width           310px

            div
              ellipsis()
              width         230px

            cite
              abs           8px 13px

        a
          color             #f2778a
          text-decoration   underline


  .build-stack-page

    section.main > h2 span
      font-weight           bold

    .progressbar-container
      bg                    color, #efefef
      bg                    image, none
      border                none
      rounded               0
      width                 600px
      height                40px
      margin                0 auto

      .bar
        rounded             0
        bg                  image, none
        bg                  color, #f2778a
        shadow              none

    .status-text
      text-align            center
      color                 #585858
      padding               25px 0


  .build-stack-success-page

    .wizard-step.current
      bg                    color, #74E4F4
      color                 #93a1a1
      border-right          1px solid #c7c7c7

    section.main

      h1
        color               #57a2d2
        font-size           50px
        line-height         44px
        text-align          center
        padding-top         150px

      h2
        font-size           32px
        color               rgba(0,0,0,0.5)
