

/*  */

.animate
  &.shake
    vendor          animation, shake .5s
  &.rotate-and-shake
    vendor          animation, rotateAndShake .6s


/*  */
@-webkit-keyframes lineRotate
  20%
    -webkit-transform translateZ(-60px) rotateX(40deg)
    opacity           .5

@-moz-keyframes lineRotate
  20%
    -moz-transform translateZ(-60px) rotateX(40deg)
    opacity           .5

@keyframes explode
  100%
    opacity 0
    -webkit-transform scale(3) rotate(30deg) translateY(60px)
    -moz-transform scale(3) rotate(30deg) translateY(60px)

@keyframes fade-in-out
  0%
    opacity      0
  16%
    opacity      1
  84%
    opacity      1
  100%
    opacity      0

/* Shake */

@-webkit-keyframes shake
  0%
  100%
    -webkit-transform   translateX(0)
  8%
  41%
    -webkit-transform   translateX(-10px)
  25%
  58%
    -webkit-transform   translateX(10px)
  75%
    -webkit-transform   translateX(-5px)
  92%
    -webkit-transform   translateX(5px)

@-moz-keyframes shake
  0%
  100%
    -moz-transform      translateX(0)
  8%
  41%
    -moz-transform      translateX(-10px)
  25%
  58%
    -moz-transform      translateX(10px)
  75%
    -moz-transform      translateX(-5px)
  92%
    -moz-transform      translateX(5px)

/* Rotate and shake */

@-webkit-keyframes rotateAndShake
  0%
  100%
    -webkit-transform   translateX(0)
    -webkit-transform-origin-y 100%
  8%
  41%
    -webkit-transform   translateX(-10px) rotateZ(-4deg)
  25%
  58%
    -webkit-transform   translateX(10px) rotateZ(4deg)
  75%
    -webkit-transform   translateX(-5px) rotateZ(-2deg)
  92%
    -webkit-transform   translateX(5px) rotateZ(2deg)

@-moz-keyframes rotateAndShake
  0%
  100%
    -moz-transform      translateX(0)
    -moz-transform-origin-y 100%
  8%
  41%
    -moz-transform      translateX(-10px) rotateZ(-4deg)
  25%
  58%
    -moz-transform      translateX(10px) rotateZ(4deg)
  75%
    -moz-transform      translateX(-5px) rotateZ(-2deg)
  92%
    -moz-transform      translateX(5px) rotateZ(2deg)


/* Logout animation (old tv turn off) */
@-webkit-keyframes logoutTv
  0%
    -webkit-transform   scaleX(1) scaleY(1)
  40%
    -webkit-transform   scaleX(2) scaleY(0.0005)
  100%
    -webkit-transform   scaleX(0) scaleY(0.0005)

@-webkit-keyframes logoutTvLine
  10%
    opacity             1
    border-radius       100%
  100%
    opacity             1
    -webkit-transform   scale(0)

@-webkit-keyframes logoutTvDot
  75%
    opacity             1
    -webkit-transform   scaleX(2) scaleY(2)
  100%
    opacity             0
    -webkit-transform   scaleX(0) scaleY(0)

@-moz-keyframes logoutTv
  0%
    -moz-transform   scaleX(1) scaleY(1)
  40%
    -moz-transform   scaleX(2) scaleY(0.0005)
  100%
    -moz-transform   scaleX(0) scaleY(0.0005)
@-moz-keyframes logoutTvLine
  10%
    opacity             1
    border-radius       100%
  100%
    opacity             1
    -moz-transform   scale(0)
@-moz-keyframes logoutTvDot
  75%
    opacity             1
    -moz-transform      scaleX(2) scaleY(2)
  100%
    opacity             0
    -moz-transform      scaleX(0) scaleY(0)


/* Home markers */
@-webkit-keyframes homeMarkers
  5%
    opacity                .6
  27%
    -webkit-transform      scale(1.8)
    opacity                0
  100%
    opacity                0

@-moz-keyframes homeMarkers
  5%
    opacity                .6
  27%
    -moz-transform         scale(1.8)
    opacity                0
  100%
    opacity                0

/* background slide for header notifications */
@-webkit-keyframes progress
  0%
    bg                     position, 0 0
  100%
    bg                     position, 100% 0

@-moz-keyframes progress
  0%
    bg                     position, 0 0
  100%
    bg                     position, 100% 0

/* pulse animation */
@keyframes pulse
  0%
    -webkit-transform scale(0)
    opacity 0
  8%
    -webkit-transform scale(0)
    opacity: 0
  15%
    -webkit-transform scale(0.1)
    opacity 1
  30%
    -webkit-transform scale(0.5)
    opacity 1
  100%
    opacity 0
    -webkit-transform scale(1)

@-webkit-keyframes pulse
  0%
    -webkit-transform scale(0)
    opacity 0
  8%
    -webkit-transform scale(0)
    opacity: 0
  15%
    -webkit-transform scale(0.1)
    opacity 1
  30%
    -webkit-transform scale(0.5)
    opacity 1
  100%
    opacity 0
    -webkit-transform scale(1)

@-moz-keyframes pulse
  0%
    -moz-transform scale(0)
    opacity 0
  8%
    -moz-transform scale(0)
    opacity: 0
  15%
    -moz-transform scale(0.1)
    opacity 1
  30%
    -moz-transform scale(0.5)
    opacity 1
  100%
    opacity 0
    -moz-transform scale(1)
