

@css {
/*
MAIN SIDEBAR stylesheet
resurrection.styl
*/
}

sidebarGray               = #A0A0A0
sidebarGrayPale           = #777
sidebarActive             = #fff
sidebarSubtitle           = #979087
sidebarSelectedBg         = #262626
sidebarCountBg            = #e94835
sidebarSectionHeaderColor = #666666


sidebarTextShadow()
  text-shadow     1px 1px 1px rgba(0, 0, 0, .75)

#main-sidebar

  // + 1 is required for devices which has decimal point
  // devicePixelRatio (e.g 1.25 on samsung chromebook).
  size            (sidebarWidth + 1) 100%
  z-index         100
  bg              color #333339
  top             0
  left            0
  fix()

  &.team
    > .kdcustomscrollview
      kalc                  height, 100% \- 40px

    .avatar-area
      .avatarview
        left                initial

  &.static > .kdcustomscrollview
    kalc                    height, 100% \- 28px

  > main > div:last-child
    margin-bottom           60px

  > .kdcustomscrollview
    width                   100%
    kalc                    height, 100% \- 88px
    styleScrollBars()

  .logo-wrapper
    bg                      color #262626
    borderBox()
    padding                 10px 0 0 12px
    size                    100% 40px
    rel()
    > a
      margin                0
      display               block
      r-sprite              app logo_full
      cursor                default
      rel()
      left                  5px
      top                   -1px

  .more-items
    size                    238px 20px
    line-height             20px
    color                   #fff
    font-size               10px
    font-weight             700
    background              #E06F6F
    shadow                  0 0 5px 5px #323232
    text-align              center
    vendor                  transition, all .2s ease

    &:after
      content               ' '
      border                5px solid transparent
      size                  10px 10px
      borderBox()

    &.above
      rounded         0 0 3px 3px
      abs             0px 0 0 10px
      z-index         10
      &:after
        border-bottom-color white
        abs           3px 0 0 8px

    &.below
      rounded         3px 3px 0 0
      abs             0 0 0px 10px
      z-index         1
      &:after
        border-top-color white
        abs           8px 0 0 10px


#sidebar-toggle
  bg              color #262626
  size            18px 18px
  margin-top      -9px
  margin-left     -9px
  display         none
  z-index         11
  rounded         9px
  cursor          pointer
  top             50%
  fix()
  // hidden()
  &:after
    abs()
    top           4px
    left          5px
    display       block
    content       ' '
    r-sprite      app sidebar_toggle


#kdmaincontainer

  &.collapsed
    &.with-sidebar
      #main-sidebar
        width               50px


    #sidebar-toggle:after
      left               7px
      -moz-transform     scaleX(-1)
      -webkit-transform  scaleX(-1)
      transform          scaleX(-1)

    .activity-sidebar

      cite.count
        size            auto 16px
        line-height     16px
        padding         0 5px
        abs             0px 208px 0 0
        font-size       9px
        font-weight     400
        rounded         3px
        shadow          none
        z-index         1000

.activity-sidebar
  font-family         adelleSans
  padding             1px 18px
  borderBox()

  cite.count
    size                    24px 19px
    line-height             16px
    color                   #fff
    abs                     0px 0px 0 0
    font-size               10px
    font-weight             700
    background              sidebarCountBg
    rounded                 3px
    text-align              center
    vendor                  transition, all .354s .177s ease
    padding-top             1px
    fr()

  .more-link
    font-size         12px
    color             sidebarSectionHeaderColor
    padding           0 !important
    borderize(#6B6B71)
    noTextDeco()
    sidebarTextShadow()

  .workspace.has-sub-items
    cite
      display         none !important

  .kdlistitemview-main-nav
    z-index           1
    vendor            transition, top .2s linear \,\
                                 left .2s linear
    font-size         14px
    line-height       18px
    rounded           4px
    ellipsis()
    borderBox()

    &:hover
      .ws-add-icon
      .ws-settings-icon
        opacity       1
        vendor        transition, opacity .1s .1s ease


    &.expanded.selected.has-sub-items
      rounded         4px 4px 0 0
      cite
        &:after
          border-color  sidebarGray transparent transparent transparent
          abs           12px 0 0 5px

    &.sub-title
      padding         2px 0 0 20px
      color           sidebarSubtitle
      font-size       11px
      margin-bottom   1px
      text-transform  uppercase

      .more-link
        display       inline
        height        16px
        border-bottom none
        font-size     11px
        color         sidebarSectionHeaderColor

        &:hover
          color       sidebarActive

    // &.app
    &.workspace
      color           sidebarGray
      font-size       12px
      line-height     22px
      padding         0 0 0 35px
      rounded         0
      overflow        hidden

      figure
        display       block
        width         6px
        height        6px
        abs           8px 0 0 23px
        rounded       100%
        border        2px solid rgba(255, 255, 255, .2)
        borderBox()

      cite.count
        right               0

      a
        padding           0
        display           block
        size              auto 22px
        line-height       23px
        opacity           1
        color             sidebarGray
        max-width         136px
        ellipsis()
        borderBox()
        noTextDeco()

      // copy paste - SY
      // temp fix
      cite.count
        size                24px 19px
        line-height         17px
        color               #fff
        abs()
        font-size           10px
        font-weight         400
        background          sidebarCountBg
        rounded             3px
        text-align          center
        vendor              transition, all .354s .177s ease

        fr()


      &:hover a
      &.selected a
        color             #fff

    &.app
      figure
        r-sprite      activity nav_app_store

    .fake-icon
      width           30px
      height          20px
      left            13px
      top             14px
      text-align      center
      padding-top     4px
      padding-bottom  4px
      font-size       20px
      color           white
      border-radius   3px
      abs()
      hidden()

    &.selected a
      color             sidebarActive

    .shared-by
      font-size       12px
      color           sidebarGrayPale

    a
      padding           5px 8px 5px 19px
      display           block
      size              218px 26px
      opacity           1
      color             sidebarGray
      borderBox()
      noTextDeco()
      &.add-app
      &.add-vm
        padding         5px 8px
        opacity         .5
        &:hover
          opacity       1

      > figure
        display       block
        width         16px
        height        16px
        bg            color #222
        abs           3px 0 0 3px

      &.running:hover > div
        width         180px

      > div
        position      relative
        width         200px
        vendor        transition, width .1s ease .05s
        ellipsis()

      &.social > figure
      &.activity > figure
        r-sprite      app new_nav_activity
      // &.editor > figure
      //   r-sprite      app nav_editor
      &.terminal > figure
        r-sprite      app new_nav_terminal
      &.ide > figure
        r-sprite      app new_nav_ide
      &.vm
        > figure
          // r-sprite    app new_nav_vm
          display       block
          width         13px
          height        13px
          bg            color, transparent
          abs           7px 0 0 0px
          rounded       3px
          border        3px solid sidebarGray
          borderBox()
        > span
          r-sprite    app vm_settings_icon
          right       2px
          top         5px
          opacity     0
          vendor      transition, opacity .1s .1s ease
          abs()
        &:hover > span
          opacity     1
        &.terminated
        &.notinitialized
          opacity     .5
        &.running > figure
          border-color   #24B463
          // bg          color, #8CEE71
          // border      2px solid #8CEE71
        > .progressbar-container
          abs               0 0 0px 0px
          background        none
          border            none
          rounded           1px
          size              95% 3px
          .bar
            background      #4BA148
            border          none
            shadow          none

  .ws-add-icon
  .ws-settings-icon
    display           inline-block
    r-sprite          app circle_plus_14
    right             8px
    top               5px
    opacity           0
    vendor            transition, opacity .1s .1s ease
    pointer()
    abs()

  .ws-settings-icon
    r-sprite          app vm_settings_icon
    right             2px
    top               5px
    opacity           0

  .vm > span.move-left
  .ws-settings-icon.move-left
    right            28px !important

  .add-workspace-view
    .cancel
      display         inline-block
      r-sprite        'app', 'circle_plus_14'
      vendor          transform, rotate(45deg)
      top             2px
      position        relative
      pointer()

    .kdinput
      border-radius   3px
      bg              image, none
      size            104px, 22px
      margin-right    5px
      font-size       12px
      padding         5px

    figure
      top             12px !important
      left            -12px !important
      position        relative !important

  section
    size              auto auto
    overflow          visible
    margin            0 0 22px 0

    &:hover h3.sidebar-title a
      opacity       1

    .lazy-loader
      margin          0
      top             -28px
      right           36px
      abs()

    .sidebar-machine-box
      &:last-child
        .listview-wrapper
          margin-bottom 0px

      .listview-wrapper
        margin-bottom   8px

        .kdscrollview
          overflow          hidden

    .kdlistview
      margin-top      6px
      overflow        visible

      .nothing
        background    #3B3B3B
        width         auto
        font-size     14px
        margin        0 6px
        padding       16px 18px
        rounded       3px
        line-height   19px
        text-align    center
        font-weight   400
        color         #787878
        margin-bottom 16px
        borderBox()

        a
          color             #929292
          text-decoration   underline

  a.public-feed-link.selected
    color               #fff

  .kdlistitemview-sidebar-item
    antialiased()
    size                    auto 16px
    padding                 0px 15px
    margin-bottom           8px
    rounded                 4px
    font-size               14px
    font-weight             400
    overflow                visible
    position                relative
    display                 block
    color                   sidebarGray
    vendor                  transition, margin-top .2s ease-out\,\
                                  transform .2s ease-out

    // .purpose
    // .profile
    // .ttag
    //   sidebarTextShadow()

    &.selected
      color                 sidebarActive

      .ttag:before
        color               sidebarActive

      .ttag
        color               sidebarActive


    borderBox()
    &:hover
      bg              color rgba(0,0,0,.01)
      color           sidebarActive
      pointer()

    &.activity
      font-size       14px
      padding-left    30px
      margin-top      13px
      line-height     18px
      span.icon
        display       block
        width         16px
        height        16px
        bg            color #222
        abs           7px 0 0 7px
        r-sprite      app new_nav_activity

    &.out
      margin-top      -28px
      vendor          transform, translateX(-300px)

    .ttag
      display               block
      line-height           16px
      font-size             16px
      margin-left           6px
      color                 #b3b3b3

      em
        rel()
        top                 -2px

      &:before
        display             block
        content             '#'
        font-size           20px
        color               #808080
        top                 -2px
        left                0
        text-shadow         none
        abs()

    .profile
      ellipsis()

    .topic-follow-btn
      size           24px 16px
      abs            0px 1px 0 0

      &.following
        right        6px
        hidden()

  .kdlistitemview-sidebar-item.selected
    color               sidebarActive

    .topic-follow-btn
      border-color      #e9e9e9
      border            1px solid #b1b1b1
      right             0px

  .messages

    h3.sidebar-title
      padding-bottom    16px
      padding-top       18px

    .nothing
      hidden()

    .kdlistitemview-sidebar-item
      height        16px
      min-height    0
      borderBox()

      cite.count
        abs         0px 0px 0 0

      > .user-numbers
        padding     0 0 0 36px
        margin      -1px 0 0
        width       auto
        font-size   12px
        color       #919297
        font-weight 600
        overflow    hidden
        text-overflow ellipsis
        display     block
        line-height 18px
        white-space nowrap
        borderBox()

        span
          font-weight inherit
          color       inherit

      &.unread
        > .profile
          color       #F9F7F3

        > .user-numbers
          color       #C9C9CC

      &.selected

        .sidebar-message-text
          > .purpose
          > .user-numbers
          > .profile
          > .profile > .profile
            color       sidebarActive

          &:before
            bg        color, sidebarActive

      .sidebar-message-text
        > .purpose
        > .profile
          display           block
          float             none
          line-height       18px
          font-size         16px
          size              170px 19px
          margin-left       4px
          rel()
          top               -2px
          borderBox()
          ellipsis()
          color             #b3b3b3

        &:before
          content       ''
          display       block
          size          10px, 10px
          bg            color, #808080
          border-radius 100%
          abs           2px 0 0 -14px

      .avatarview
        size            24px 24px
        top             5px


  .sidebar-join
    abs                   50% 0 0 0px
    vendor                transform, translateY(-50%)
    text-align            center
    font-size             14px
    line-height           19px
    color                 #cecece
    font-weight           400
    padding-right         16px
    padding-left          16px
    width                 100%
    borderBox()

    .kdbutton.solid.medium.green
      margin              24px 0 18px
      rounded             3px

    a.login-link
      color                 #fff

  .sidebar-bottom-links
    text-align              center
    abs                     0 0 26px 0px
    font-size               14px
    font-weight             400
    width                   100%

    a
      color                 #777777
      noTextDeco()

      &~a
        margin-left         12px


  a.kdlistitemview-sidebar-item

    noTextDeco()

    &.public-feed-link
      margin-top            13px
      padding               0 8px
      height                28px
      line-height           28px

.account-area
  bottom                    0
  left                      0
  size                      258px 45px
  fix()
  vendor                    transition, width .3s ease

  > div
    width                   auto
    vertical-align          top
    dIBlock()

  .acc-icon
    size                    50px 46px
    top                     -10px
    right                   -10px
    rel()
    borderBox()
    fr()

  .acc-icon.active
    bg                      color, #1D1D1D
    border-left             1px solid #323232

  .acc-icon .icon
    display                 block
    padding-bottom          1px
    margin                  21px auto

  .acc-notification-icon
    &.active
      border-right    1px solid #1d1d1d
    .icon
      r-sprite        app 'account_notifications'
      // size            20px 21px
      margin          15px auto
    &.active .count
      left            27px !important
    .count
      position              absolute
      width                 14px
      height                14px
      font-size             8px
      line-height           14px
      background            sidebarCountBg
      border-radius         7px
      text-align            center
      top                   7px
      left                  28px
    .count cite
      color           #fff

  .acc-dropdown-icon
    &.active
      border-right          1px solid #323232

  .acc-dropdown-icon .icon
    r-sprite                app 'account_arrow'

  .avatar-area
    bg                color, #262626
    font-family       adelleSans
    padding           10px
    size              100% 100%
    borderBox()
    rel()

    .avatarview
      margin-right          14px
      fl()
      rel()
      left                  3px

      cite.staff
        hidden()

    a.profile
      font-size       14px
      line-height     30px
      font-weight     400
      white-space     nowrap
      width           90px
      display         block
      color           white
      overflow        hidden
      text-overflow   ellipsis
      noTextDeco()
      fl()

    h3
      margin        0
      color         #828a93
      font-size     12px
      font-weight   300
      margin-top    2px

  .header-sign-in
    font-size         16px
    color             #e9e9e9
    line-height       55px
    margin-right       8px
    noTextDeco()

    &:last-of-type
      margin-right    18px
// MEGA HACK STARTS
// this is to put sidebar footer next to the logo
.logo-wrapper

  .account-area
    abs                     0px 0px 0 initial
    size                    60px 100%
    .avatar-area
      padding               8px
      .avatarview
        abs                 8px 13px 0 0
        float               none
        margin-right        0
        opacity             .65
        pointer()
        vendor              filter, grayscale(1)
        vendor              transition, filter .3s linear, opacity .3s linear

        &:hover
          opacity           1
          vendor            filter, grayscale(0)

      .acc-notification-icon
        size                14px 14px
        abs                 0px 4px initial initial
        span.count
          abs               0px 0px initial initial
          border            2px solid #262626
          rounded           8px

      .acc-notification-icon span.icon
      .acc-dropdown-icon
      .profile
        hidden()
// MEGA HACK ENDS


h3.sidebar-title
  antialiased()
  font-weight               400
  size                      auto 1em
  line-height               16px
  font-size                 14px
  color                     sidebarSectionHeaderColor
  text-transform            uppercase
  word-spacing              .2em
  letter-spacing            .05em
  padding                   14px 20px 16px 0
  pointer()
  position                  relative
  white-space               nowrap
  ellipsis()

  a
    font-size               10px
    font-weight             600
    color                   #7F7F80
    margin                  0 5px 0 0
    opacity                 0
    vendor                  transition, opacity .1s .1s ease
    fr()

    &.add-icon
    &.buy-vm
      margin                -2px 2px 0 0
      r-sprite              app , 'plus_16'

    &.add-icon
    &.buy-vm
      abs                   18px 3px 0 0

  cite.count
    top                     11px




//Coming soon modal
.coming-soon-modal
  text-align        center

  .modal-arrow
    position        relative
    top             41px
    left            -21px

  .kdmodal-content
    h4
      color         #404040
      font-size     18px
      font-weight   200
      line-height   24px
      padding       13px 0 0

      &:before
        content     ""
        display     block
        r-sprite    dashboard, 'coming_soon'
        margin      0 auto 14px

    p
      padding       24px 28px 28px
      color         #5e5e5e
      font-size     14px
      line-height   19px
      font-weight   400

      strong
        font-weight 600
        color       #3e3e3e



// buy-machine-modal
.buy-machine-modal
  &.loading
    .kdloader
      margin          105px 0 0 90px

  .kdbutton
    padding           0 20px !important
    rounded           4px !important
    bg                color, #4EA04C !important
    &:focus
      vendor          box-shadow, none !important
    &.create-machine
      margin          20px 0 0 136px !important

  .modal-arrow
    position          relative
    top               41px
    left              -21px

  .add-vm-box
    size               220px, 227px
    padding            25px 35px 0
    color              #50595a
    rounded            2px
    borderBox()
    fl()

    &~.add-vm-box
      margin-left      18px

    &.passive
      opacity          .3

    &.selected
      shadow           inset 0 0 0 3px rgba(17, 175, 94, .4)


    h3
      line-height      24px
      display          block
      border-bottom    1px solid #d7dcdf
      font-size        16px
      font-weight      500
      padding          6px 0 12px

      cite
        display        inline-block
        size           24px, 24px
        line-height    24px
        text-align     center
        color          #fff
        background     #646c6d
        rounded        50%
        font-size      12px
        font-weight    200
        margin         0 0 0 6px

    ul
      margin           20px 0 0
      font-weight      200
      line-height      34px
      font-size        14px

      strong
        font-weight    500
        font-size      16px

  h5.coming-soon-title
    display            block
    abs                0px 0px 0 0
    size               476px, 100%
    text-align         center
    line-height        227px
    font-size          22px
    color              rgba(80, 89, 90, 0.5)
    font-weight        400



// refactored, moved to outer scope

.activity-sidebar
  font-family               SoleilFamily

  a.vm
    antialiased()
    color                   sidebarGray
    borderBox()
    display                 block
    font-size               $fs-regular
    line-height             20px
    noTextDeco()
    margin-bottom           8px
    padding                 0px 8px 0px 19px
    opacity                 1
    size                    218px 20px
    rel()

    &.add-app
    &.add-vm
      padding         5px 8px
      opacity         .5
      &:hover
        opacity       1

    > figure
      abs                   50% 0 0 0px
      display               block
      width                 16px
      height                16px
      bg                    color #222
      vendor                transform, translateY(-50%)

    &.running:hover > div
      width         180px

    > div
      ellipsis()
      font-size             16px
      line-height           20px
      size                  200px 20px
      vendor                transition, width .1s ease .05s
      width                 200px
      abs()
      top                   0

    &.social > figure
    &.activity > figure
      r-sprite      app new_nav_activity
    // &.editor > figure
    //   r-sprite      app nav_editor
    &.terminal > figure
      r-sprite      app new_nav_terminal
    &.ide > figure
      r-sprite      app new_nav_ide
    &.vm
      > figure
        display             block
        width               13px
        height              13px
        bg                  color, transparent
        rounded             3px
        border              3px solid sidebarGray
        borderBox()
      > span
        abs                 4px 1px 0 0
        opacity             0
        r-sprite            app vm_settings_icon
        vendor              transition, opacity .1s .1s ease
      &:hover > span
        opacity     1
      &.running > figure
        border-color   #24B463
        // bg          color, #8CEE71
        // border      2px solid #8CEE71
      &.reconnecting > figure
        border-color   #FFC884
      > .progressbar-container
        abs                 24px 0 0 0
        background          none
        border              none
        rounded             1px
        size                95% 3px
        .bar
          background        #4BA148
          border            none
          shadow            none

  .workspaces-link
    antialiased()
    border-bottom           none
    color                   $gray-8
    display                 inline
    font-weight             $fw-regular
    font-size               $fs-extra-small
    height                  16px
    line-height             16px
    margin-bottom           1px
    letter-spacing          0.08em
    padding                 2px 0 0 20px
    text-transform          uppercase
    word-spacing            0.2em
    pointer()

    &:hover
      color                 sidebarActive

  .warning-section
    margin                  0 0 32px
    text-align              center

    &.re-init
      color                 #b3b3b3
      font-size             14px
      line-height           18px
      bg                    color, #2b2b2b
      padding               10px
      border-radius         5px
      text-decoration       underline
      pointer()

    .SidebarSection-header
      text-align            left

    .no-stacks
      margin-left           -10px

    label
      color                 #b3b3b3
      display               block
      font-size             16px
      line-height           40px

    a
      bg                    color #01AF5B
      color                 white
      display               inline-block
      line-height           32px
      padding               0 16px
      rounded               3px
      text-decoration       none
      width                 auto

    p
      color                 #b3b3b3
      font-size             12px
      line-height           22px
      margin-bottom         16px

    // &.invite
    //   abs                   0 0 10px 0


  .sidebar-machine-box.selected
    .vm
      color         #FFF

.delete-ws-modal
  .kdloader
    top             22px !important


.shared-machines

  h3.sidebar-title
    cursor                  default

  .workspaces-link
    cursor          default
    &:hover
      color         sidebarSectionHeaderColor



// sidebar share modalz
.share-modal

  .footnote
    font-size               11px
    line-height             16px
    margin-top              5px
    dBlock()

  &.activity-modal
    bg                      color, #FFF
    .kdmodal-content
      overflow              hidden
    .modal-arrow
      border-right-color    #FFF
      &:before
        border-right-color  #FFF

  &.approved
    .title
      margin-top            0
    .user-view
      margin-bottom         15px
    button.solid.red
      margin-left           0 !important
      width                 210px

  .close-icon
    hidden()

  button.solid.medium
    width                   100px
    &:last-child
      margin-left           10px

  .kdmodal-inner
    margin                  20px !important

  .title
    color                   #909090
    font-size               14px
    margin                  10px 0

  .avatarview
    display                 inline-block
    size                    30px, 30px

  .user-view
    height                  30px

  .user-details
    display                 inline-block
    margin-left             10px

    div
      font-size             13px
      margin-top            -5px

    .fullname
      color                 #52a840

    .nickname
      color                 #626262

.approve-overlay
  left                      260px



.sidebar-info-modal

  text-align                center
  bg                        color, #FFF !important

  .modal-arrow
    border-right-color      #FFF !important
    &:before
      border-right-color    #FFF !important

  .kdmodal-inner
  .kdmodal-content
    margin                  0 !important
    overflow                hidden !important

  .close-icon
    hidden()

  .artboard
    r-sprite                'activity', 'vm_added_bg'
    margin                  23px auto 0

    img
      margin                16px 0 0 -10px

  h2
    font-size               24px
    line-height             36px
    color                   #00B057
    margin                  21px 0 12px 0

  p
    font-size               14px
    line-height             22px
    color                   #434343
    margin                  0 auto 25px
    width                   492px

  .kdbutton.close
    width                   165px
    bg                      color, #00B057

    .button-title
      padding               0 11px
      margin-left           -10px

    .check
      r-sprite              'activity', 'check'
      display               inline-block
      left                  120px
      top                   4px
      abs()

