.shortcuts-modal
  .kd-modal-title
    margin-bottom: 12px !important


.shortcuts-head
  padding: 0px 0px 12px

  p
    color: #000 !important
    font-size: 16px !important


  
  


.shortcuts-tab

  .kdtabpaneview
    background transparent !important
    border-top 1px solid #ccc

    .list-head
      padding 8px 16px
      background-color #ddddda
      border-bottom 1px solid #ccc

      p
        margin 7px 0px
        font-size 12px
        line-height 18px

      p b
        font-weight bold
        

  .kdtabhandlecontainer
    background transparent !important
    border-bottom 0px
    height 29px !important
    
    .kdtabhandle
      color #888 !important
      border-radius 3px 3px 0px 0px
      height 30px !important

      &.active
        background-color #ddddda !important
        color #333 !important
        border 1px solid #ccc
        border-bottom 0px

      b
        display inline !important
        font-size 14px

