.shortcuts-modal
  overflow-y hidden !important

  .kd-modal-title
    margin-bottom: 12px !important

  .buttons
    .kdbutton:last-child
      margin-left: 10px


.shortcuts-pane
  max-height: 400px
  /*overflow-y hidden !important*/
  .listview-wrapper
    max-height 300px
    overflow-y auto !important


.shortcuts-head
  padding: 0px 0px 12px

  p
    color: #000 !important
    font-size: 16px !important


.shortcuts-list

  display table
  width 100%
  background-color #eee

  .row
    display table-row
    width 100%
    clear both

    div
      display table-column
      background-color #ddddd2
      width: 40%
      float left

      span
        display inline-table

    div:nth-child(3)
      width 20% !important


.shortcuts-tab

  .kdtabpaneview
    background transparent !important
    border-top 1px solid #ccc

    .list-head

      .shortcuts-list
        .row div
          font-size 12px
          font-weight bold

          span
            padding 4px 16px

      .description
        padding 8px 16px
        background-color #ddddda
        border-bottom 1px solid #ccc

        p
          margin 7px 0px
          font-size 12px
          line-height 18px

        p b
          font-weight bold

  .kdtabhandlecontainer
    background transparent !important
    border-bottom 0px
    height 29px !important
    
    .kdtabhandle
      color #888 !important
      border-radius 3px 3px 0px 0px
      height 30px !important

      &.active
        background-color #ddddda !important
        color #333 !important
        border 1px solid #ccc
        border-bottom 0px

      b
        display inline !important
        font-size 14px
