@import "core.fn"

@css {
/*
home Landing stylesheet
home.styl
*/
}

body.home
  -webkit-font-smoothing  antialiased
  background              #fff

  #kdmaincontainer.blur
    vendor                filter, blur(5px)

  .login-form.register
    margin                0 auto 50px auto
    max-width             600px
    rel()

    &.focused
      div.hint
        opacity           1
        strong
          font-weight     700
        &.accept-tos
          color           rgba(255, 255, 255, .6)
          a
            color         rgba(255, 255, 255, .8)


    &.noanim .login-input-view .placeholder-helper
      vendor              transition, none!important
      position            absolute

    div.hint
      vendor              transition, opacity .4s .3s ease
      margin              0
      text-align          left
      opacity             0
      color               white
      font-size           12px

    div.accept-tos
      a
        color             white
        borderize         rgba(255, 255, 255, .6)
        noTextDeco()


    section

      > div
        width             calc(50% - 64px)
        padding-right     10px
        rel()
        borderBox()

        &:before
          content         ''
          z-index         10
          abs             12px 0 0 18px

        &.email:before
          r-sprite        home 'input-email'

        &.username:before
          r-sprite        home 'input-username'

        &:last-child
          padding-right   0
          width           128px

        .kdbutton.solid.medium
          bg                color #F6E556
          width             100%
          rounded           4px
          span.button-title
            text-transform  uppercase
            color           #4c6153
            font-size       12px
            font-weight     700
            opacity         .99

        .login-input-view
          rounded         4px
          bg              color white
          input
            rounded       4px
            margin        0
            font-size     14px
            font-weight   400
            font-family   openSansFamily
            text-align    left
            padding       8px 14px 8px 43px
          .placeholder-helper
            text-align    left
            top           4px
            padding       0 15px 0 44px
            borderBox()
            &.out
              top         -26px
              color       white
              &.puff
                opacity   1



  //Introduction section

  .content-page.home
    padding               0
    max-width             100%

    > section > div
      max-width             1290px
      padding               0px 45px
      margin                0 auto
      display               block
      position              relative
      borderBox()

    &.anim section.introduction
      vendor              transition, background-color .5s ease
    &.green section.introduction
      bg                  color, #1AAF5E
    &.gray section.introduction
      bg                  color, #7E8C8D
      &:before
        opacity           .5
    &.blue section.introduction
      bg                  color, #2E97DE
    &.dark-blue
      section.introduction
        bg                color, #2C3E51
        &:before
          opacity         .3
      section.introduction > div:after
        shadow            0 0 400px rgba(255, 255, 179, .5)

    &.orange section.introduction
      bg                  color, #F59D00
    &.red section.introduction
      bg                  color, #EA4B36

    // shining effect behind the screenshots
    section.introduction > div:after
      content           ''
      abs               0 0 0px 50%
      margin-left       -369px
      size              738px 400px
      rounded           50%
      shadow            0 0 400px rgba(255, 255, 179, 1)
      z-index           0



  section.introduction
    height                970px
    padding               154px 0 0
    text-align            center
    bg                    color, #FFFFFF
    position              relative
    overflow              hidden
    borderBox()

    &:before
      content             ""
      display             block
      size                100% 100%
      bg                  image, url(imagePath + "home-pat.png")
      abs                 0px

    > div
      size                100% 100%

    article
      font-size           22px
      line-height         32px
      font-weight         400
      padding             0
      width               100%
      borderBox()
      fl()

      h1, h2
        color             white
        text-shadow       0 1px rgba(0, 0, 0, .4)

      h1
        font-size         42px
        font-weight       bold
        font-family       tagLineFont
        margin            0 0 39px
        letter-spacing    .02em

      h2
        font-family       sloganFont
        margin            0 auto 34px auto
        max-width         650px
        font-weight       400


  // screenshots Section

  section.screenshots
    abs                   487px 0 0
    size                  100% 483px
    overflow              hidden
    borderBox()

    > div
      height              483px
      max-height          575px
      width               838px
      margin              0 auto
      rel()


    figure
      display             block
      top                 0px
      // overflow            hidden
      size                738px 100%
      contentBox()
      abs()
      &:after
        content           ''
        size              6px 6px
        rounded           3px
        bg                color rgba(255, 255, 255, .3)
        abs               13px 0 0 15px
        shadow            9px 0 0 rgba(255, 255, 255, .3),\
                          18px 0 0 rgba(255, 255, 255, .3)
      &:before
        rounded           6px 6px 0 0
        content           ''
        display           block
        bg                color rgba(0, 0, 0, .1)
        size              100% 31px

      img
      div
        shadow            0 5px 21px rgba(0, 0, 0, .75)
        width             100%
        height            calc(100% - 33px)
        opacity           .85
        bg                color #3A3E41
        margin-top        2px

      &.first
        z-index           4
        left              50px

        div
        img
          opacity         1

      &.second
        left              0

      &.third
        right             0

      &.third
      &.second
        z-index           3
        margin-top        123px
        height            360px

  // Features Section

  section.used-at
    margin                0 auto
    height                224px
    bg                    color #F0F0F0

    > div
      &:after
        content           ''
        top               77px
        size              838px 1px
        background        #f0f0f0
        background        -moz-linear-gradient(left,  #f0f0f0 0%, #d8d8d8 20%, #d8d8d8 80%, #f0f0f0 100%)
        background        -webkit-gradient(linear, left top, right top, color-stop(0%,#f0f0f0), color-stop(20%,#d8d8d8), color-stop(80%,#d8d8d8), color-stop(100%,#f0f0f0))
        background        -webkit-linear-gradient(left,  #f0f0f0 0%,#d8d8d8 20%,#d8d8d8 80%,#f0f0f0 100%)
        background        linear-gradient(to right,  #f0f0f0 0%,#d8d8d8 20%,#d8d8d8 80%,#f0f0f0 100%)
        z-index           0
        abs               0 0 0 50%
        margin-left       -419px

    h3
      margin-top          66px
      font-family         sloganFont
      font-size           22px
      font-weight         300
      letter-spacing      5px
      display             inline-block
      bg                  color #F0F0F0
      color               #747474
      z-index             1
      width               410px
      text-align          center
      left                50%
      margin-left         -205px
      opacity             .99
      rel()

    figure
      margin              28px auto
      display             block
      r-sprite            home 'used-by-logos'




//TEMP
// @media only screen and (min-width : 320px) and (max-width : 568px)
//   body.home
//     section.introduction
//       padding-bottom        102px

//       article
//         padding-top         98px

//         h2
//           font-size         26px

//         p
//           font-size         18px
//           line-height       24px

//         .kdbutton
//           width             100%
//           display           block
//           float             none
//           clear             both
//           margin            12px 0 16px

//     section.screenshots
//       display               none

//     section.features
//       > div
//         margin-top          82px

//       .feature
//         display             block
//         width               auto
//         padding             0 35px 44px 61px

//         h5
//           font-size         18px

//         i
//           vendor            transform, scale(.6)
//           vendor            transform-origin, 0px 0px

//     section.testimonials

//       > div
//         .general-title
//           font-size           26px

//         .general-subtitle
//           font-size           18px
//           line-height         24px

//       article
//         display               block
//         width                 auto
//         padding               2px 0 2px 50px

//         p
//           font-size           14px
//           line-height         20px

//         &:before
//           vendor              transform, scale(.6)
//           vendor              transform-origin, 0px 0px

//     section.check-out
//       h3
//         font-size             18px
//         line-height           24px
