@import "../Framework/src/themes/default/kdfn"

a
  outline           0

@keyframes fadeIn
  100%
    opacity 1

.intro-view
  top                   0
  background            url("../images/gunduz-varligi-yildizli.jpg") \
                        no-repeat center center fixed
  background-size       cover
  z-index               101
  opacity               0
  vendor                transition, opacity .6s ease-in\, background-position .5s ease

  abs()

  &.ghost
    background-position-y   -250px

  &.in
    opacity 1

  &.out
    vendor              animation, moveToTop .6s ease both

  .bottom-menu
    text-align          center
    bottom              0
    padding             40px
    padding-top          5px
    margin-left        -40px
    width               100%
    z-index             5
    abs()

    a
      background            none
      border                none
      text-shadow           none
      box-shadow            none
      font-size             14px
      text-transform        none
      font-weight           normal
      font-family           'Open Sans'
      padding-left          12px
      padding-right         12px
      &.active
        font-weight         bold

    a:last-of-type
      border                none

    &.black
      a.active
        color               black

.kd-page

  text-align            center
  size                  100%, 100%
  left                  0
  top                   0
  padding-top           0
  background-color      white
  font-weight           300
  font-family           'Proxima Nova'

  borderBox()
  abs()

  .slogan
    top                 90px
    left                62px
    font-size           22px
    color               #595959
    font-family         "Ubuntu"
    abs()

    span > span
      color           #ff9e3c

  .sub-slogan
    text-shadow         0 0 10px black
    line-height         40px
    font-weight         300
    margin-top         -60px
    font-size           30px
    width               100%
    color               #fff
    top                 50%
    abs()

  .content
    margin-left   -80px
    margin-top    -15px
    color         white
    font-size     30px
    top           50%
    left          50%
    abs()

  .details
    width          45%

  .slider-page
    display             table
    size                100%, 100%
    top                 0
    text-align          left

    figure
      height          50%
      width           50%
      position        relative
      max-width       600px
      fr()

      img
        size         100%, 80%
        min-height   160px
        abs()

    &.left-aligned
      figure
        fl()
        margin-left     0
        margin-right    100px

    .wrapper
      display           table-cell
      vertical-align    middle
      width             100%
      max-width         1280px
      margin            0 auto
      padding           40px 60px 40px 60px
      borderBox()

    p
      margin            40px 0 0 0

    &.active
      opacity           1

    &#you-page
    &#developers-page
    &#business-page
    &#education-page
      text-align        left
      h3
        margin-top      100px

.entryPage

  background-color      rgba(0, 0, 0, 0)

  .login-button
    color               white
    text-align          right
    padding             30px 40px 0 0
    font-size           24px
    cursor              pointer


  .top-slogan
    font-size           2.4em
    color               #fff
    text-shadow         0 0 10px black
    width               100%
    top                 23%
    font-weight         100
    abs()

    > div
      font-size         .5em
      margin-top        20px
      font-weight       100

  .buttons
    text-align          center
    bottom              150px
    width               100%
    abs()

    button.kdbutton
      size              200px, 60px
      rounded           39px
      background        black
      border            2px solid transparent
      text-align        left
      font-size         16px
      line-height       22px
      padding           5px 0 0 0
      vendor            transition, background .3s ease \,\
                                    color      .3s ease
      borderBox()

      i
        display         block
        float           left
        size            40px, 40px
        kdfsprite()
        margin          3px 10px 30px 10px

      span
        display         block
        font-size       20px

      &.email
        border-color    #df7400
        color           #df7400
        i
          bg            position, -680px -1px

        &:hover
          bg            color, #df7400
          color         #5c3108
          span
            color       #1c140c
          i
            bg            position, -680px -45px

      &.github
        border-color    #fff
        color           #a9a7a6
        margin          0 0 0 40px
        i
          bg            position, -630px -1px
        span
          color         #fff

        &:hover
          bg            color, #fff
          color         #b6b6b6
          span
            color       #545454
          i
            bg          position, -630px -45px


@media only screen and (max-width: 400px)

  .kd-page
    .details
      width            100%
    .slider-page
      .slogan
        left           55px
      figure
        width          100%
        height         30%
        img
          height       30%
          min-height   80px
      .wrapper
        padding        20px

  .entryPage
    .top-slogan
      top              15%
    .buttons
      bottom           100px
      button
        width          70%   !important
        &.github
          margin-left  0     !important
          margin-top   10px  !important

@media only screen and (max-height: 420px)

  .entryPage
    .buttons
      vendor           transform, scale(.7)
      bottom           40px !important

  .kd-page
    .slider-page
      p
        margin          5px 0 0 0
      .slogan
        top             11px !important
        left           133px !important
      .wrapper
        padding        10px
      figure
        img
          min-height   100px

  .intro-view
    .bottom-menu
      padding             15px !important
      margin-left        -15px !important

@media only screen and (max-height: 250px)

  .entryPage
    .top-slogan
      top              15%
      > div
        display        none
    .buttons
      bottom           60px !important
