@import "lib/core.fn"

@css {
/*
home Landing stylesheet
home.styl
*/
}

body, input, textarea, select, button
  text-rendering          optimizeLegibility
  -webkit-font-smoothing  antialiased
  vendor                  font-kerning, normal

strong
  font-weight             bold

#main-panel-wrapper
  background              none

body.home
  font-family             FocoFamily
  background              black

  .video-wrapper
    left                  0
    bottom                0
    z-index               0
    size                  100% 100%
    fix()

    &:after
      content             ''
      z-index             1
      bg                  color rgba(0, 0, 0, .6)
      size                100% 100%
      abs()

    video
      z-index             0
      min-width           100%
      min-height          100%
      size                auto auto
      bg                  size cover
      abs()



  section.introduction
    size                  100%, auto
    padding               149px 45px 198px
    text-align            center
    position              relative
    overflow              hidden
    borderBox()

    > *
      position            relative
      z-index             20

    h2
      font-family         HelveticaFamily
      font-weight         bold
      font-size           138px
      color               #fff
      text-shadow         1px 1px 1px rgba(0,0,0,.28)
      margin-bottom       46px

      span
        font-size         41px
        font-weight       300
        display           block

        &.bottom
          font-size       52px

    h3
      font-weight         light
      font-size           26px
      line-height         32px
      color               #fff
      text-shadow         1px 1px 1px rgba(0,0,0,.28)

    .form-wrapper
      margin              69px -45px 0 -45px
      padding             26px
      background          rgba(0,0,0,.2)
      rounded             4px
      borderBox()

      .avatar-background
        abs               -50px 0 0 50%
        bg                color rgba(0,0,0,.2)
        // bg                color red
        size              80px 30px
        margin            0 0 0 -50px
        padding           10px
        rounded           10px 10px 0 0
        z-index           0

      .avatar
        rounded           8px
        size              80px 80px
        z-index           1


      section
        width             504px
        margin            0 auto

        &.logged-in
          margin-top      20px

        .kdlabel
          color           white
          width           100%
          text-align      center
          margin-right    0
          a
            color         #aaa
            font-size     .8em
          a:before
            content       ''
            display       block

        .kdview
          margin          0

        .login-input-view
          background      #fff
          rounded         3px

        .placeholder-helper
          top             15px
          font-size       12px
          color           #989898

          &.out
            font-size     12px
            top           -18px
            color         #fff

        > div
          width           200px
          margin          0 4px 0 0
          padding         0

        .submit
          width           96px
          margin          0

      .input-wrapper
        margin            0
        padding           0

      .kdinput
        width             100%
        rounded           3px
        text-align        center
        border            1px solid transparent
        background        transparent
        margin            0
        padding           10px 14px
        font-size         12px


      .kdbutton
        padding           0
        text-align        center
        width             100%
        line-height       44px
        height            44px
        background        #ffec18
        color             #313131
        font-size         14px

        .button-title
          color           inherit

  section.content
    background            #fff
    rounded               8px
    max-width             960px
    margin                -109px auto 0
    border                1px solid #dfdfdf
    padding               72px 0 0
    position              relative
    z-index               30
    borderBox()


    .counters
      font-weight         bold
      font-style          italic
      color               #fff
      font-size           16px
      white-space         nowrap
      abs                 -64px 0 0 50%
      vendor              transform, translateX(-50%)
      background          rgba(255,255,255,.2)
      rounded             19px
      height              38px
      line-height         38px
      padding             0 26px

      i
        r-sprite          'home', 'love'
        display           inline-block
        vertical-align    middle
        margin            -2px 12px 0

      .buttons
        display           inline-block

    article
      padding             43px 359px 43px 112px
      font-size           16px
      color               #4a4a4a

      a
        color             #1563BC
        borderize(#1563BC)

      h4
        font-weight       bold
        font-size         26px

      p
        padding           32px 0 0
        line-height       21px
        borderBox()

        &.note
          font-style      italic

      ul
        padding           28px 0 0

        ul
          padding         18px 0 18px 32px

        li
          line-height     22px
          margin-bottom   5px

      ol
        padding           28px 0 0
        counter-reset     list

        li
          line-height     32px
          counter-increment list

          &:before
            content      counter(list) "."
            font-weight  bold
            margin-right 12px

      &.judges
        background        #f8f8f8
        border            1px solid #fff
        padding-right     112px
        vendor            transform, skewY(-2deg) translateY(-50px)

        h4
          margin-bottom   32px

        .judge
          width           20%
          margin-bottom   32px
          fl()

        figure
          padding-bottom  110%
          bg              position, center center
          bg              size, cover
          bg              repeat, no-repeat

        .info
          text-align      center
          padding         21px 0 0
          font-weight     bold
          line-height     18px

          span
            display       block
            font-weight   normal
            font-size     11px

    aside.partners
      width               162px
      abs                 0px 0px 0 0
      padding             42px 42px 0
      border-left         1px solid #f2f2f2

      &:after
        content           ''
        display           block
        abs               0 0 0px -1px
        height            120px
        width             1px
        background-image  -webkit-linear-gradient(#f2f2f2, rgba(255,255,255,0))
        background-image  -moz-linear-gradient(#f2f2f2, rgba(255,255,255,0))
        background-image  linear-gradient(#f2f2f2, rgba(255,255,255,1))

      img
        width             100%
        margin            0 0 30px

  footer
    text-align            center
    line-height           217px
    font-size             14px
    color                 #909090

    a
      color               inherit
      margin-left         3px
      noTextDeco()

      &:hover
        borderize(#909090)

.social-buttons
  display         block
  list-style      none
  padding         0
  margin          0
  abs             0px 125px 0 0
  z-index         16
  opacity         0.01
  vendor          transition, opacity .3s ease
  &.loaded
    opacity       1


  > li
    display       block
    margin        0 13px 0 0
    padding       0
    float         left

    .vhidden
      hidden()

  .socialite
    display block
    position relative


@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
  body.home
    section.introduction
      padding             119px 25px 288px

      h2
        font-size         58px
        margin-bottom     16px

        span
          font-size       19px

        span.bottom
          font-size       22px

      h3
        font-size         17px
        line-height       22px

      .form-wrapper
        margin            29px -25px 0 -25px

        section
          width           100%

          > div
            width         100%
            margin-bottom 20px

          .submit
            width         100%
            margin-bottom 0

    section.content
      padding             32px 0 0

      .counters
        padding           18px
        height            auto
        line-height       20px
        top               -146px

        span
          display         block
          height          0
          font-size       0
          line-height     0

      article
        padding           24px

        h4
          font-size       21px

        p
          padding         16px 0 0

      article.judges
        padding-right     25px

        .judge
          width           100%

      aside.partners
        position          static
        width             100%
        borderBox()