.code-mirror
  background-color  #f3f3f3
  padding           5px
  
  .cursor-position
    float         left
    width         auto

    > .line-number
    > .column-number
      background        none
      color             #333
      display           inline-block
      margin-right      17px
      padding           0
      width             auto
        
  .top-bar
    height          auto
    padding         5px
    .save-menu
      float           right
      line-height     1
    
  .editor-bottom-bar
    box-sizing          border-box
    height              30px
    margin-top          -65px
    padding             3px 6px
    position            relative
    width               100%
    z-index             1000
    .cursor-position
      margin              0
      height              17px
      font-size           11px
      line-height         19px
      margin-top          1px
      padding             0 10px
      
    .bottom-right-wrapper
      width               auto
      float               right
      margin-top          2px
  
  .code-mirror-wrapper
    box-sizing        border-box
    padding-bottom    65px
    .CodeMirror
      box-sizing      border-box
      height          100%
      width           auto
      
      .CodeMirror-scroll
        height      100%

.kdcontextmenu.editor-advanced-settings-menu  
  .kdcontextmenutreeview
    .kdtreeitemview
      input.kdinput.text
      	display   block
	      float     right
      	margin    0 10px 0 0
	      width     52px

