.react-spinner
  size                    32px 32px
  abs                     calc(50% \- 16px) 0 0 calc(50% \- 16px)

  .react-spinner_bar
    -webkit-animation     react-spinner_spin 1.2s linear infinite
    -moz-animation        react-spinner_spin 1.2s linear infinite
    border-radius         5px
    bg                    color, #000
    abs                   15px 0 0 12px
    width                 7px
    height                7.8%

    @-webkit-keyframes react-spinner_spin
      0% { opacity: 1 }
      100% { opacity: 0.15 }

    @-moz-keyframes react-spinner_spin
      0% { opacity: 1; }
      100% { opacity: 0.15; }
