.ide-collab-pane
  height                    100%

.CollaborationPane
  .ChannelParticipantAvatars
    margin-top              5px
    bg                      color, #fcfcfc

  .ChannelParticipantAvatars-allParticipantsMenu
    right                   auto
    left                    140px

  .ShareLink
    margin-left             20px
    position                relative

  .ShareLink-tooltip
    abs                     35px 0 0 -155px
    color                   #8F8F8F
    font-style              italic
    font-weight             300
    text-align              center
    z-index                 1

    > div
    > div cite
      bg                    color, white
      border                1px solid #DADADA
      rel()

    > div
      borderBox()
      padding               10px
      rounded               4px

    > div span
      bg                    color, rgba(223, 240, 149, .1)
      color                 $welcomeTitleColor
      display               inline-block
      font-family           $source-sans-family
      font-size             14px
      font-weight           400
      line-height           21px
      padding               6px 10px
      margin-top            5px


    > div cite
      abs                   -8px 0 0 50%
      margin-left           -7px
      border-right-width    0
      border-bottom-width   0
      display               block
      font-style            normal
      size                  13px 13px
      vendor                transform, rotate(45deg)

.kdtabhandlecontainer.application-tab-handle-holder
  .kdtabhandle.ide-collab-pane-handle.active
    bg                      color, white
    color                   #2b2b2b
