.ide-collab-pane
  height                    100%

.kdtabhandlecontainer.application-tab-handle-holder
  .kdtabhandle.ide-collab-pane-handle.active
    bg                      color, white
    color                   #2b2b2b