.BlogHome-Header {
  height: 400px;
  background-color: rgba(49,66,93,0.6);
}
.BlogHome-Header--wrapper {
  max-width: 1176px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.BlogHome-Header--wrapper h1 {
  font-size: 52px;
  text-align: center;
  color: white;
}

.BlogHome-Listing {
  max-width: 574px;
  width: 100%;
  padding: 48px 0;
  margin: 0 auto;
}

.BlogHome-Listing--item {
  border-bottom: 1px solid #f1f2f4;
}
.BlogPost-Meta {
  width: 100%;
  display: flex;
  margin: 48px 0 24px;
}

.BlogPost-Meta > figure {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.BlogPost-Meta > figure img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.BlogPost-Meta > div {
  flex: 1 0 auto;
  padding-left: 12px;
}

.BlogPost-Meta h4 {
  font-weight: 600;
  margin: 7px 0 4px;
  color: #495870;
}

.BlogPost-Meta time {
  font-weight: 300;
  color: #989898;
  font-size: 14px;
}

.BlogPost-Excerpt {
  margin-bottom: 48px;
  text-decoration: none;
  display: block;
}

.BlogPost-Excerpt > figure {
  width: 100%;
  height: 242px;
  background-size: cover;
  background-position: center;
  margin-bottom: 24px;
}

.BlogPost-Excerpt > h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2em;
  margin-bottom: 24px;
  color: #F2778A;
}

.BlogPost-Excerpt > p {
  font-weight: 300;
  color: #31425d;
  line-height: 1.6em;
  font-size: 16px;
}

.BlogPost-Excerpt > cite {
  display: block;
  font-weight: 300;
  color: #989898;
  font-size: 14px;
  margin-top: 12px;
}

.BlogHome-Pagination {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 48px 0 0;
}

.BlogHome-Pagination span,
.BlogHome-Pagination em,
.BlogHome-Pagination a {
  flex: 0 0 auto;
  color: #989898;
  text-decoration: none;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  text-align: center;
  display: block;
  width: 22px;
  line-height: 1;
  font-size: 14px;
  margin-right: 3px;
  padding: 5px 0 3px;
  font-weight: 300;
}


.BlogHome-Pagination span:first-child,
.BlogHome-Pagination em:first-child,
.BlogHome-Pagination a:first-child,
.BlogHome-Pagination span:last-child,
.BlogHome-Pagination em:last-child,
.BlogHome-Pagination a:last-child {
  border-color: transparent;
  width: auto;
  padding: 5px 3px 3px 3px;
}

.BlogHome-Pagination a {
  color: #F2778A;
  border-color: rgba(242, 119, 138, 0.4);
}