.Feature3ColsContainer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.Feature3ColsContainer .feature-title {
  margin-bottom: 0;
}

.Feature3ColsContainer h3 {
  text-transform: uppercase;
  color: #727272;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 6px;
}
.Feature3Cols {
  display: flex;
}

.Feature3ColsColor {
  background-color: #FFFBFC;
  border-top: 1px solid #F4F1F2;
  border-bottom: 1px solid #F4F1F2;
}

.Feature3Cols >div {
  width: 33%;
  padding-left: 20px;
  padding-right: 20px;
  color: #617283;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.Feature3Cols h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: inherit;
  text-transform: none;
  margin-bottom: 20px;
  margin-top: 80px;
  color: #1E2E42;
  font-family: "fira-sans", "proxima-nova", Helvetica, Arial, sans-serif;
}

 @media (max-width: 767px) {
  .Feature3Cols {
    flex-direction: column;
  }
  .Feature3Cols >div {
    width: auto;
    text-align: center;
  }
  .Feature3ColsContainer h3 {
    font-size: 14px;
    letter-spacing: 4px;
  }

  .Feature3Cols h3 {
    margin-top: 40px;
    font-size: 20px;
    letter-spacing: 0;
  }
}
