{% assign ufoPath = site.url | append: '/assets/img/landing/ufo-hero' %}

main.Micropage {
    height: calc(100vh - 134px);
    width: 100%;
    background-color: #3c3b58;
    position: relative;
    background-image: linear-gradient(-180deg,#3c3c57 11%,#8598be 100%);
    min-height: 750px;
    padding-top: 100px;
}
.Micropage--container {
    position: relative;
    z-index: 1;
    background: #F7F7F7;
    border-radius: 6px;
    padding: 50px;
    max-width: 400px;
    margin: 0 auto;
}
.Micropage--Ground {
    position: absolute;
    background-color: transparent;
    background-image: url('{{ ufoPath }}/ground_1600.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    height: 334px;
    bottom: -67px;
    background-size: 3184px 334px;
    z-index: 0;
}
.Micropage--UFO {
    position: absolute;
    background-color: transparent;
    background-image: url('{{ ufoPath }}/ufo_1600.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 100%;
    height: 528px;
    bottom: 0;
    background-size: 1051px 528px;
    z-index: 0;
}

@media (max-width: 1600px) {

    main.Micropage {
        height: calc(100vh - 143px);
    }
    .Micropage--container {
    }
    .Micropage--Ground {
        background-image: url('{{ ufoPath }}/ground_1200.svg');
        height: 260px;
        bottom: -76px;
        background-size: 1614px 260px;
    }
    .Micropage--UFO {
        background-image: url('{{ ufoPath }}/ufo_1200.svg');
        height: 528px;
        background-size: 1051px 528px;
    }

}
@media (max-width: 1200px) {

    main.Micropage {
      height: calc(100vh - 94px);
    }
    .Micropage--container {
    }
    .Micropage--Ground {
        background-image: url('{{ ufoPath }}/ground_768.svg');
        height: 248px;
        bottom: -50px;
        background-size: 1457px 248px;
    }
    .Micropage--UFO {
        background-image: url('{{ ufoPath }}/ufo_1200.svg');
        height: 528px;
        background-size: 1051px 528px;
    }

}
@media (max-width: 768px) {

    main.Micropage {
        height: calc(100vh - 137px);
    }
    .Micropage--container {
        max-width: 480px;
        margin: 0 30px;
    }
    .Micropage--Ground {
        background-image: url('{{ ufoPath }}/ground_ufo_375.svg');
        height: 637px;
        background-size: 798px 637px;
        bottom: -50px;
    }
    .Micropage--UFO {
        display: none;
    }

}
