@import "../../../Framework/src/themes/default/kdfn"
@import "../../../Main/styl/appfn"

@css {
/*
MEMBERS stylesheet
app.members.styl
*/
}

.members-list-scroller
  padding-top  29px
  borderBox()
  .kdtabhandlecontainer
    display       none

.members-list-wrapper
  // border-left        1px solid #E8E8E8

.content-display.member
  .home-links
    text-align            right
    > ul
      gradient            #666, #505050


.content-display.followers
.content-display.following
.content-display.followings
.content-page.members
.modal-topic-wrapper .kdmodal-content
  borderBox()

  .feeder-header
    margin-left   0
    border-left   none
    span.member-numbers-all
    span.member-numbers-followers
    span.member-numbers-following
      padding-left 5px
      font-size   13px
      color #A5A5A5

  .search-area
    background-image    -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f2f2f2))
    background-image    -khtml-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f2f2f2))
    background-image    -o-linear-gradient(#fff, #f2f2f2)
    border-bottom       1px solid #E5E5E5
    padding             0 0 0 25px
    height              83px

    .searchbox-holder
      width         29.6%
      margin-right  3%
      float         left
      margin-top    11px
      span.line
        color       #757575
        font-size   11px

    span.nameicon
    span.skillicon
    span.placeicon
      kdfsprite()
    span.nameicon
      bg(position,-100px -340px)
    span.skillicon
      bg(position,-100px -362px)
    span.placeicon
      bg(position,-100px -380px)

    form
      .common-view.input-with-extras
        margin-top    4px
        height        30px
        > div
          padding       6px 10px 6px 30px
          border        1px solid #c3c3c3
          margin        10px 0
          width         185px
          rel()
          shadow(inset 0 1px 1px rgba(0,0,0,0.1))
          rounded(8px)
          span
            display     inline-block
            size(16px,16px)
            abs()
            left        7px
            top         8px
          a
            float             right
            display           inline-block
            text-align        center
            font-weight       bold
            font-size         18px
            text-shadow       0 0 2px rgba(0,0,0,.5)
            line-height       24px
            color             white
            text-decoration   none
            border            1px solid #ccc
            rounded           4px
            bg                position,-100px -308px
            kdfsprite()
            size(26px,22px)

        input
          min-width         154px
          border        none
          font-size     12px
          color         #b2b2b2
          padding       8px 39px 6px 40px
          float left
          bg(color,transparent)
        h2
          font-size     14px
        &:last-child
          margin-right  0
        button
          size(25px !important,10px)
          top         4px
          right       4px
          padding     0
          span
            float     none
            display   inline-block

  .member-item
    border-bottom        1px solid rgba(0, 0, 0, 0.075)
    padding              24px 20px 27px 20px
    margin-bottom        0
    borderBox()
    > span
      padding         1px
      border          1px solid #E3E3E3
      float           left
      display         block
      size(60px,60px)
      a.avatarview
        display         block
        text-decoration   none
        background-size   cover
        background-position   center
        size(60px,60px)

    .member-details
      max-width           700px
      margin-left         86px
      a
        text-decoration   none
        margin-right      4px
      header
        margin          0 0 7px 0
        h3
          line-height     18px
          font-size       15px
          font-weight     700
          display         inline-block
          rel()
        a > span
          color           #E80
          font-weight     700
          margin-right    2px
        span
          color         #A5A5A5
          font-size     12px
          font-weight   300
      > p
        margin-bottom   13px
        line-height     18px
        font-size       12px
      footer
        color           #a5a5a5
        button
          margin-right  30px
        a.following
        a.followers
          color             #7F7F7F
          display           inline-block
          font-size         11px
          letter-spacing    -1px
          line-height       11px
          margin            0 30px 0 0
          padding           5px 0px
          cite
            width             18px
            height            10px
            margin            0 4px 0 0
            display           inline-block
            kdfsprite()
            bg(position,-141px -444px)
          span
            font-weight       700
            margin-right      3px
        a.following
         cite
            height            15px
            bg(position,0px -709px)

        .timeago
          background-color    #FEF6E8
          color               #A5A5A5
          padding             2px 8px 2px 5px
          font-size           11px
          line-height         14px
          rounded             4px
          vertical-align      middle
          display             inline-block
          > span
          cite
            display         inline-block
            font-style      normal
          .icon
            width           10px
            height          16px
            margin-right    6px
            vertical-align  middle
            kdfsprite()
            bg(position,-104px -404px)


// members inner page

.content-display-wrapper .content-display.member

  section
    .profileinfo
      .profile-about
        font-size       15px
        font-weight     300
        line-height     140%
        margin          0px 0px
        padding         20px 0px 0px 0px
        max-width       750px
        rel()

  .profilestats
    .fing
      a
        cite
          bg                position, -160px -580px
        span.data
          color             #4c4c4c
          font-size         14px
          font-weight       700
    .fers
      a
        cite
          bg                position, -180px -580px
        span.data
          color             #4c4c4c
          font-size         14px
          font-weight       700
    .liks
      a
        cite
          bg                position, -140px -580px
        span.data
          color             #4c4c4c
          font-size         14px
          font-weight       700

    .contact
      a
        cite
          bg                position, -200px -580px
        span
          color             #FF9200

  .skilltags
    margin              20px 0
    label
      width             58px
      margin            0
      display           inline-block
      text-transform    uppercase
      font-size         10px
      color             #a5a5a5

    span.noskilltags
      bg                color,transparent
      color             #222
      font-size         13px
      font-weight       300
      text-transform    none
      vertical-align    middle
    .tag-group
      display           inline-block

  .members-contentpage-list
    margin-top 0

.troll-switch
  display               inline-block
  abs()
  text-decoration       none
  top                   10px
  right                 10px

.search-tags span
  color         white
  display       inline-block
  padding       3px 4px 3px 5px
  margin-right  10px
  bg(color,finderSelectedColor1)
  rounded(4px)
  cursor        pointer
  cite
    font-style      normal
    rounded(16px)
    padding         0 3px 1px 3px
    color           finderSelectedColor1
    line-height     10px
    font-size       9px
    font-weight     bold
    vertical-align  middle
    rel()
    top             -1px
    display         inline-block
    margin-left     4px
    bg(color,#f9c169)
  &:hover
    color         white

.profilename-input-wrapper
  input
    font-size        30px
    font-weight      700
    margin-right     20px
    border           1px solid #DADADA
  a
    abs()
    right           0
    top             -10px
    line-height     10px

.profilelocation-input-wrapper
  a
    abs()
    right           0
    top             -10px
    line-height     10px

.profileabout-input-wrapper
  textarea
    padding         10px
  a
    abs()
    right           0
    top             20px
    line-height     10px



.convertible-input-view
  .convertible-edit
    abs()
    color           linkColor1
    abs             0,0,none,none
    noTextDeco()

.content-display.likes
.content-display.followers
.content-display.following
.content-display.followings
  .header-view-section
    cite
      display           none
