@import "../../../Framework/themes/default/kdfn"
@import "../../../Main/styl/appfn"


@css {
/*
Profile page stylesheet
resurrection.profile.styl
*/
}

.header-facets
  display                   none

.member.content-display

  .profilearea.profile-right-block
    top                 30px

  .medium
  .wide
    size                auto, auto
    margin              0 337px 0 0

    .author-avatar
      display           none