@import "../../../Framework/themes/default/kdfn"
@import "../../../Main/styl/appfn"


@css {
/*
Profile page stylesheet
resurrection.profile.styl
*/
}

.header-facets
  display                     none

body.profile
  bg                          color, #e2e8e4

  #kdmaincontainer
  .kdtabpaneview.content-display
    overflow                  visible

  .kdtabpaneview.content-display
    max-width                 100%
    padding                   55px 28px 0 0
    borderBox()

  .feeder-tabs
    padding-left               386px
    borderBox()


  .member.content-display
    overflow                  visible

    .profilearea
      width                   354px
      bg                      color, #282a2b
      left                    0
      top                     0
      z-index                 100
      abs()

      .users-profile
        size                  100%, 385px
        text-align            center
        position              relative
        border-top            1px solid transparent
        bg                    image, url("../images/default-cover.jpg")
        bg                    repeat, no-repeat

        .avatarview
          display             block
          margin              39px auto 20px
          size                81px, 81px
          rounded             12px
          z-index             1

        .full-name
          size                100%, auto
          overflow            visible
          padding             0 10px
          font-weight         300
          font-size           24px
          color               #e9e7e1
          borderBox()

          span
            display           inline

        .bio
          size                100%, auto
          padding             0 10px
          color               rgba(233, 231, 225, .8)
          font-size           18px
          font-weight         200
          margin-top          9px
          borderBox()

        .follow-btn
          bg                  color, transparent
          size                137px, 42px
          line-height         38px
          border              2px solid #1fce6e
          margin              31px 0 0
          rounded             21px

          span
            line-height       inherit
            color             #1fce6e
            text-transform    uppercase
            font-size         16px
            font-weight       500
            font-family       'Proxima Nova'

        .profilestats
          size                100%, 87px
          bg                  color, #363839
          bottom              0
          left                0
          abs()

          a
            color             #e9e7e1
            font-family       'Proxima Nova'
            display           block
            size              33%, 100%
            padding           24px 0 0
            border-left       1px solid #2a2826
            borderBox()
            noTextDeco()
            fl()

            span
              display         block
              font-size       14px
              font-weight     200
              text-transform  uppercase

            .data
              font-size       18px
              font-weight     600
              padding         0 0 8px

      .user-menu
        padding               26px 52px 0 44px
        a
          display             block
          size                100%, 51px
          font-size           18px
          line-height         51px
          font-weight         300
          color               #a3a3a3
          noTextDeco()
          borderBox()

          &~a
            border-top        1px solid #424445

          &.active
            color             #ffffff
            font-weight       400

          .count
            font-weight       300
            size              auto, 22px
            line-height       22px
            margin            14px 0 0
            bg                color, #363839
            rounded           11px
            padding           0 10px
            font-size         14px
            color             #707879
            fr()

  /* Profile page specific color changes to activity items */
  .activity-item
    max-width             728px
    footer
      bg                  color, #f6f8f7
      border-top-color    #e2e8e4

    .comment-container.commented
      border-top-color    #e2e8e4


      .kdlistitemview-comment~.kdlistitemview-comment
        .comment-contents
          border-top-color #e2e8e4

    .item-add-comment-box
      border-top-color     #e2e8e4
