.BlockUserModal
  display                     block
  .duration
    label
      color                   $gray-12
    input
      borderBox()
      rounded                 6px
      text-align              left
      font-weight             300
      border                  1px solid $gray-18
      margin-left             10px
      size                    393px, auto
      padding                 10px 14px
      font-size               16px
      line-height             22px
      outline                 none
      color                   #3E4F55
      bg                      color, #F4F4F4