.ChannelDropupItem
  color                     #716f6d !important
  padding                   5px 16px
  margin                    1px 0px

  &:first-child
    margin-top              0px

.ChannelDropupItem-hash
  color                     #9c9a9a

