.ChannelDropupItem
  color                     #716f6d
  padding                   5px 16px
  display                   block

  &.DropupItem-selected
    bg                      color, #ffeb9c

.ChannelDropupItem-hash
  color                     #9c9a9a
