.DateMarker
  rel()
  padding                   0 0 20px
  border-bottom             1px solid $gray-18
  margin                    0 20px 15px

.DateMarker-content
  abs()
  left                      50%
  bottom                    -8px
  min-width                 80px
  color                     $gray-16
  bg                        color, #fcfcfc
  margin-left               -40px
  text-align                center


