.DateMarker
  rel()
  margin                    0 20px 0
  bg                        color, #fcfcfc
  z-index                   1
  height                    40px

  &:after
    rel()
    dBlock()
    content                 ''
    top                     20px
    border-bottom           1px solid $gray-18

  .fixedDateMarker
    display                 none

.fixedDateMarker
  fix()
  top                       40px

.DateMarker-content
  abs()
  top                       10px
  z-index                   1
  padding                   0 15px
  left                      50%
  line-height               20px
  bottom                    10px
  color                     $gray-16
  bg                        color, #fcfcfc
  text-align                center
  vendor                    transform, translateX(-50%)

