.AnnouncementWidget
  text-align                center

  .AnnouncementWidget-icon
    r-sprite                'activity', 'announce'
    margin                  0 auto 10px auto

  h3
    font-size               15px !important
    color                   #F5A623 !important
    white-space             nowrap

  p
    font-size               13px
    color                   #747474
    margin                  10px 0
    line-height             17px

  a
    color                   #00B057
    font-size               12px
    display                 inline-block
    margin-bottom           10px

