.MostReadArticlesWidget
  li:before
    content               '•'
    margin-right          6px
    color                 #a4a4a4
    dIBlock()

  a
    color                 $gray-10
    line-height           18px
    noTextDeco()
    dIBlock()

    &:hover
      text-decoration     underline

