.ChannelDropContainer
  abs()
  borderBox()
  margin                    10px
  rounded                   6px
  border                    2px dashed $gray-10
  top                       0
  left                      0
  size                      calc(100% \- 20px), calc(100% \- 20px)
  bg                        color, rgba(255, 255, 255, 0.9)
  z-index                   3
  font-size                 30px
  text-align                center

.ChannelDropContainer-content
  rel()
  line-height             40px
  top                     50%
  margin-top              -65px
  color                   $gray-10

  &:before
    rel()
    dBlock()
    margin                0 auto 20px
    content               ''
    r-sprite              'activity', 'cloud-icon'