.ChatPane
  bg                        color, $gray-19
  size                      100% 100%
  box-sizing                border-box
  font-size                 $fs-regular
  line-height               $body-line-height

.ChatPane-contentWrapper
  dispFlex()
  bg                        color, #fcfcfc
  height                    100vh
  flex-direction            column

.ChatPane-body
  rel()
  dispFlex()
  flex                      1
  overflow                  auto
  padding                   10px 0
  flex-direction            column
  justify-content           flex-end

.PublicChatList
  max-width                 100vw
  overflow-y                auto

.ChatList
  width                     100%

  &.padded
    height                  auto
    abs                     0 0 0px 0

.ChatPane-footer
  rel()
  height                    70px
  flex                      0 0 120px

.ChatPane .ChatInputWidget
  abs()
  borderBox()
  bg                        color, #FCFCFC
  border                    none
  size                      100%, 100%
  padding                   0 25px 25px 25px
  right                     auto
  left                      0

  &:before
    left                    37px

  > textarea
    borderBox()
    padding-left            44px
    size                    100%, 42px
    min-height              0
    border                  1px solid #F2F2F2

