.ChatPane
  bg                        color, $gray-19
  size                      100% 100%
  box-sizing                border-box
  font-size                 $fs-regular
  line-height               $body-line-height

.ChatPane-contentWrapper
  bg                        color, #fcfcfc
  kalc                      height, 100vh \- 52px
  vendor                    flex-direction, column

.ChatPane-infoContainer
  padding                   10px 20px 10px 34px
  line-height               22px
  max-width                 610px

  .ChatPane-channelName
    font-size               20px
    color                   $gray-8
    margin-bottom           10px

  .ChatPane-channelDescription
    color                   $gray-8

  .ChatPane-actionContainer
    margin-top              10px

    a
      rel()
      dIBlock()
      margin-right          20px

      &:before
        rel()
        dIBlock()
        top                 2px
        content             ''
        margin-right        5px

      .Tooltip-wrapper
        hidden()
        left                50%
        margin-left         -38px
        top                 -1px

        &:after
          border-top-color  #000

        span
          bg                color, #000

        &.visible
          visible()

    .ChatPane-inviteOthersAction:before
      r-sprite              'activity', 'invite-people'

    .ChatPane-startCollaborationAction:before
      r-sprite              'activity', 'start-collaboration'

    .ChatPane-addIntegrationAction:before
      r-sprite              'activity', 'add-integration'

.ChatPane-body
  padding                   0
  vendor                    flex, 1
  vendor                    flex-direction, column
  vendor                    justify-content, flex-end
  kalc                      height, 100vh \- 52px
  dFlex()
  rel()

.PublicChatList
  max-width                 100vw

.ChatList
  width                     100%

  &.padded
    height                  auto
    abs                     0 0 0px 0

