.EmojiDropup-container
  position                  relative
  width                     100%

.EmojiDropup
  abs()
  max-height                200px
  overflow                  auto
  width                     100%
  border                    1px solid #dcdcdc
  shadow                    0 5px 15px rgba(0,0,0,0.2)
  bg                        color, #fff
  padding                   15px 12px 12px 12px
  borderBox()

.EmojiDropup-header
  color                     #aeaba9
  text-transform            uppercase
  font-size                 11px
  padding-bottom            9px
  padding-left              5px

  strong
    color                   #4f4f4f
    text-transform          none
    padding-left            3px
