.EmojiDropup-header
  strong
    color                   #4f4f4f
    text-transform          none
    padding-left            3px

.EmojiDropup-list
  padding                   12px
  padding-top               0px