


@css {
/*
TERMINAL stylesheet
app.terminal.styl
*/
}
body.terminal
  #main-header
    shadow        none

  .app-settings
    width  252px !important

.offscreen
  position      absolute
  bottom        0
  left          -100px
  opacity       0

.terminal

  .console
    > div[contenteditable="true"]
      height     100%
      &:focus
        outline  none

  .message-pane
    z-index                 1
    top                     0
    size                    100%, 100%
    word-wrap               break-word
    white-space             normal !important
    cursor                  pointer
    overflow                hidden

    abs()

    a
      color     inherit
      noTextDeco()


  .kdtabpaneview.intro
    overflow        auto

    main
      size          100% auto
      margin        0 auto
      max-width     984px

      > figure
        size        524px 295px
        margin      0 auto
        border      3px solid #252e30
        borderBox()

      ul
        size            530px auto
        color           #999
        margin          0 auto 40px

    h1
      font-size     32px
      font-weight   100
      line-height   1
      padding       30px 0 0
      text-align    center
      color         logoBg

    h2
    h3
      font-size     16px
      font-weight   200
      line-height   1
      padding       10px 0 30px
      text-align    center
      color         #3F493F

    h3
      margin        0 auto
      size          530px auto
      padding       20px 0 10px 6px
      text-align    left
      borderBox()


.application-tab-handle-holder.terminal

  .kdtabhandle.intro
    padding         0
    bg              color #252e30
    size            40px 37px
    max-width       40px !important

    span.home
      display       block
      r-sprite      'app' '20_home_icon'
      margin        8px 10px

.terminal
  .vm-info

    padding      5px
    font-family  monospace
    font-size    13px

    &:hover
      cursor     pointer
      color      green


div.kdmodal.terminal

  background        rgba(0,0,0,.9)
  border-radius     2px

  .kdcustomscrollview
    padding         0 !important
    .kdview.kdscrolltrack
      hidden()

  .kdmodal-inner
    margin          5px
    background      none
    color           white

    .kdmodal-title
      height      27px

  .kdmodal-content
    margin      0 !important
    height      400px
    overflow    hidden

  .webterm
    height  400px !important

  .kdmodal-title
    span.title
      color         rgba(255,255,255,0.7)
      padding       3px 7px
      font-weight   300

  .kdnotification
    abs()
