.UserDropupItem
  color                     #716f6d !important
  padding                   3px 16px
  margin-top                2px

  &:first-child
    margin-top              0px

  .ProfilePicture
    rounded                 3px
    display                 block
    fl()
    margin-right            15px

.UserDropupItem-names
  padding-top               3px

.UserDropupItem-fullName:before
  content                   ""
  size                      3px 3px
  rounded                   50%
  bg                        color, #b1b1b1
  margin                    0 6px
  blockMid()
