.DropboxItem
  font-size                 14px
  pointer()
  border-top                1px solid #dfdfdf
  color                     #4e4d4e

.DropboxItem-selected
  bg                        color, #ffeb9c

