.DropboxItem
  font-size                 14px
  pointer()
  color                     #4e4d4e

.DropboxItem-selected
  bg                        color, #ffeb9c

.DropboxItem-separated
  border-top                1px solid #dfdfdf

.DropboxItem-separated:first-child
  border-top                0px

.DropboxItem-singleLine
  padding-left              12px
  height                    34px
  padding-top               8px
  borderBox()

