
.MenuList
  abs()
  bg                          color, #FFF
  padding                     5px 0
  right                       -20px
  top                         24px
  rounded                     6px
  size                        136px, 120px
  z-index                     1
  shadow                      0 8px 35px rgba(0, 0, 0, 0.22)

  &:before
    abs()
    content                   ''
    display                   block
    border                    7px solid rgba(0, 0, 0, 0);
    border-bottom-color       #FFF
    top                       -14px
    right                     20px
    z-index                   600

  li
    pointer()
    padding-left              12px
    font-size                 12px
    line-height               24px

    &:hover
      color                   #FFFFFF
      bg                      color, #494949