.ChannelList-tabs
  box-shadow                inset 0 -3px 0 #f2f2f2

.ChannelList-tab
  padding                   0 23px
  border                    none
  height                    62px
  line-height               62px
  color                     #969696
  font-size                 14px
  font-weight               600
  borderBox()
  fl()
  pointer()

  &.active-tab
    box-shadow              inset 0 -3px 0 #01b05a
    color                   #575757 !important

