.ThreadSidebar
  borderBox()
  height                    100%
  max-height                100vh
  overflow                  auto
  padding                   14px 25px


// @media only screen and (max-width : 950px)
//   .ThreadSidebar
//     padding                 5px
