generateColorClasses('color-brand')
generateColorClasses('color-link')
generateColorClasses('color-text')
generateColorClasses('color-success')
generateColorClasses('color-warning')
generateColorClasses('color-danger')
generateColorClasses('color-info')
generateColorClasses('color-disabled')
generateColorClasses('color-cancel')
generateColorClasses('color-primary-text')
generateColorClasses('color-light-text')

.Reactivity
  generateColorClasses('color-brand')
  generateColorClasses('color-link')
  generateColorClasses('color-text')
  generateColorClasses('color-success')
  generateColorClasses('color-warning')
  generateColorClasses('color-danger')
  generateColorClasses('color-info')
  generateColorClasses('color-disabled')
  generateColorClasses('color-cancel')
  generateColorClasses('color-primary-text')
  generateColorClasses('color-light-text')

