@font-face
  font-family       "Open Sans"
  font-weight       300
  font-style        normal
  src               url("../fonts/OpenSans-Light.woff")

@font-face
  font-family       "Open Sans"
  font-weight       400
  font-style        normal
  src               url("../fonts/OpenSans-Regular.woff")

@font-face
  font-family       "Open Sans"
  font-weight       600
  font-style        normal
  src               url("../fonts/OpenSans-Semibold.woff")

@font-face
  font-family       "Open Sans"
  font-weight       700
  font-style        normal
  src               url("../fonts/OpenSans-Bold.woff")

@font-face
  font-family       "Oxygen"
  font-weight       300
  font-style        light
  src               url("../fonts/Oxygen-Light.ttf")

@font-face
  font-family       "Oxygen"
  font-weight       400
  font-style        normal
  src               url("../fonts/Oxygen-Regular.ttf")

@font-face
  font-family       "Oxygen"
  font-weight       700
  font-style        bold
  src               url("../fonts/Oxygen-Bold.ttf")

@font-face
  font-family       "Source Sans Pro"
  font-weight       200
  font-style        extra-light
  src               url("../fonts/SourceSansPro-ExtraLight.ttf")

@font-face
  font-family       "Source Sans Pro"
  font-weight       300
  font-style        light
  src               url("../fonts/SourceSansPro-Light.ttf")

@font-face
  font-family       "Source Sans Pro"
  font-weight       400
  font-style        normal
  src               url("../fonts/SourceSansPro-Regular.ttf")

@font-face
  font-family       "Source Sans Pro"
  font-weight       600
  font-style        semibold
  src               url("../fonts/SourceSansPro-Semibold.ttf")

@font-face
  font-family       "Source Sans Pro"
  font-weight       700
  font-style        bold
  src               url("../fonts/SourceSansPro-Bold.ttf")
