$helvetica-family           = 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'
$monospace-family           = 'Andale Mono', 'AndaleMono', 'monospace'
$source-sans-family         = 'Source Sans Pro', sans-serif
$oxygen-family              = 'Oxygen',  sans-serif

mainFontFamily              = 'Proxima Nova', 'proxima-nova', Helvetica, Arial
// future is here:
// mainFontFamily              = -apple-system, BlinkMacSystemFont, 'Proxima Nova', 'proxima-nova', Helvetica, Arial
monoFamily                  = 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace

$ff-normal-text             = $source-sans-family
$ff-title                   = $oxygen-family

$fs-extra-small             = 10px
$fs-smaller                 = 12px
$fs-small                   = 14px
$fs-regular                 = 16px
$fs-big                     = 18px
$fs-bigger                  = 20px

$fw-heavy                   = 900
$fw-extrabold               = 800
$fw-bold                    = 700
$fw-semibold                = 600
$fw-regular                 = 400
$fw-light                   = 300
$fw-thin                    = 100
