$helvetica-family           = 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'
$adelle-family              = 'adelle-sans', 'sans-serif'
$monospace-family           = 'Andale Mono', 'AndaleMono', 'monospace'

$fs-small                   = 12px
$fs-regular                 = 14px
$fs-big                     = 16px

$fw-heavy                   = 900
$fw-extrabold               = 800
$fw-bold                    = 700
$fw-semibold                = 600
$fw-regular                 = 400
$fw-light                   = 300
$fw-thin                    = 100
