// Appwise variables

$body-font-size             = $fs-regular
$body-line-height           = 18px

$border-radius              = 4px

// Colors by usage type //

$color-brand                = $green

$color-channel              = $blue
$color-channel-secondary    = #95A5B8

$color-primary-text         = #393939
$color-light-text           = #A2A2A2
$color-marked-text-bg       = #fcf8e3
$color-code                 = rgba($color-primary-text, 0.8)
$color-code-bg              = rgba($color-primary-text, 0.2)
$color-link                 = $color-brand
$color-text                 = $color-primary-text

$color-success              = $green
$color-secondary            = #AFAFAF
$color-warning              = $orange
$color-danger               = $red
$color-info                 = $color-channel-secondary
$color-disabled             = $gray-17
$color-cancel               = $gray-10

$color-primary-action       = $color-success
$color-secondary-action     = $color-secondary
$color-opposite-action      = $color-danger
$color-remove-action        = $color-danger
$color-danger-action        = $color-danger
$color-cancel-action        = $color-cancel
$color-warning-action       = $color-warning
$color-disabled-action      = $color-disabled
