@import "../../Framework/src/themes/default/kdfn"
@import "../../Main/styl/appfn"

@css {
/*
TERMINAL stylesheet
app.terminal.styl
*/
}
body.terminal
  #main-header
    shadow        none

  .app-settings
    width  252px !important

.offscreen
  position      absolute
  bottom        0
  left          -100px
  opacity       0

.terminal

  .console
    > div[contenteditable="true"]
      height     100%
      &:focus
        outline  none

  .message-pane
    color       #aaa
    top         50%
    margin-top  5px
    z-index     1
    width       100%
    text-align  center
    abs()

    &.light
      color        #eee
      a
        color      #fff
        &:visited
          color    #eee
    a
      color      #eee
      &:hover
        color    #fff
      &:visited
        color    #eee

  .kdtabpaneview.intro
    overflow        auto

    main
      size          100% auto
      margin        0 auto
      max-width     984px

      > figure
        size        524px 295px
        margin      0 auto
        border      3px solid #252e30
        borderBox()

      ul
        size            530px auto
        color           #999
        margin          0 auto 40px

    h1
      font-size     32px
      font-weight   100
      line-height   1
      padding       30px 0 0
      text-align    center
      color         logoBg

    h2
    h3
      font-size     16px
      font-weight   200
      line-height   1
      padding       10px 0 30px
      text-align    center
      color         #3F493F

    h3
      margin        0 auto
      size          530px auto
      padding       20px 0 10px 6px
      text-align    left
      borderBox()

li.vm-loader-item
  display             block
  line-height         40px
  font-size           14px
  font-weight         200
  padding-left        30px
  cursor              pointer
  borderBox()
  rel()

  &:before
    content           ""
    display           block
    border-top        2px solid #252e30
    width             100%
    abs               34px 0 0 0px

  cite
    font-size         11px
    margin            0 0 0 8px
    color             #7e8080

  &:hover
    figure
      opacity         1
  &.ready
    i
      color           logoBg
    &:hover
      i
        &:before
          margin-right    10px
          text-transform  none
          color           #757575
          content         'click to open terminal'

  &.off
    i
      color           #FF7379
    &:hover
      i:before
        margin-right    10px
        text-transform  none
        color           #757575
        content         'click to turn on your VM'

  figure
    top               13px
    left              6px
    opacity           .4
    display           block
    r-sprite          environments 'terminal'
    abs()
  .kdloader
    top               -2px
    left              0
    bg                color #1D2628
    size              30px 30px
    display           block
    abs()
  i
    text-transform    uppercase
    right             6px
    top               1px
    font-size         11px
    font-weight       400
    min-width         200px
    text-align        right
    abs()

  cite.vm-loader
    abs()
    height            2px
    bg                color transparent
    left              0
    top               34px
    margin-left       0
    vendor            transition, width .1s linear \,\
                                  opacity .1s linear\,\
                                  background-color .1s linear
    width             0%
    opacity           .3

  .terminal-session-stack
    margin             0 0 12px -1% !important
    padding-right      44px
    width              auto !important

    li
      opacity         .7
      padding         3px 16px
      margin          1% 0 0 1%
      line-height     22px
      vendor          transition, background .1s ease
      width           24%
      background      #252e30
      rounded         4px
      font-size       12px
      text-align      center
      borderBox()
      fl()

      cite
        font-size     11px
        margin        0 0 0 8px
        color         #7e8080
        background    rgba(0,0,0,.3)
        border-radius 30px
        height        16px
        width         16px
        line-height   14px
        right         5px
        top           6px
        display       none

        abs()

      &:hover
        opacity       1
        cite
          display     block

.kdmodal.vm-selection
  ul
    size                  auto auto
    overflow              hidden
    li
      height              40px
      line-height         40px
      border-bottom       1px solid #eee
      padding-left        0

      &:before
        display           none

      &.ready
        color             logoBg
      &.off
        color             #FF7379
      figure
      .kdloader
      i
        hidden()
      cite
        height            1px
        top               39px

.application-tab-handle-holder.terminal

  .kdtabhandle.intro
    padding         0
    bg              color #252e30
    size            40px 37px
    max-width       40px !important

    span.home
      display       block
      r-sprite      'app' '20-home-icon'
      margin        8px 10px

.terminal
  .vm-info

    padding      5px
    font-family  monospace
    font-size    13px

    &:hover
      cursor     pointer
      color      green

.kdmodal.terminal-command-warning
  strong
    font-weight         400

  p
    padding             0 0 12px

  pre
    padding             10px 0
    display             block
    line-height         16px
    font-size           12px
    font-family         monoFamily
    padding             14px
    color               white
    bg                  color, #28292A


.terminal-bottom-message
  color                 #999
  max-width             524px
  margin                0 auto
  font-size             12px
  line-height           18px
  letter-spacing        .06em
  border                2px solid #252e30
  padding               14px
  rounded               4px
  borderBox()

  a
    color               #1aaf5d


div.kdmodal.terminal

  background        rgba(0,0,0,.9)
  border-radius     2px

  .kdmodal-inner
    margin          5px
    background      none
    color           white

    .kdmodal-title
      height      27px

  .kdmodal-content
    margin      0 !important
    height      400px

  .kdview.webterm
    min-height  400px

  .kdmodal-title
    span.title
      color         rgba(255,255,255,0.7)
      padding       3px 7px
      font-weight   300

  .kdnotification
    abs()
