.NewMessageMarker
  rel()
  padding                   0 0 20px
  border-bottom             1px solid lighten($color-success, 50%)
  margin                    0 20px 15px

.NewMessageMarker-content
  abs()
  right                     30px
  bottom                    -8px
  min-width                 80px
  color                     $color-success
  bg                        color, #fcfcfc
  margin-left               -40px
  text-align                center
  font-size                 $fs-smaller


