@css {
/*
IDE Status Bar stylesheet
ide.statusbar.styl
*/
}

dark-panel-bg               = #2B2B2B
dark-tab-header-bg          = #131313
dark-tab-color              = #5C5C5C

.IDE-StatusBar
  bottom                    0
  width                     100%
  height                    40px
  line-height               40px
  color                     dark-tab-color
  background                dark-tab-header-bg
  font-size                 13px
  abs()

  .status
    margin-left             12px
    fl()
    ellipsis()
    max-width               45%

    p
      display               inline-block

      &.line
        width               50px

  .collaboration-link-container
    padding-left            12px
    pointer()
    fl()

  .collaboration-link::selection
    color                   white
  .collaboration-link::-moz-selection
    color                   white

  .share
    height                  24px
    margin-top              8px
    margin-right            6px
    rel()

    &.not-started:not(.loading)
      width                 160px
      button.kdbutton
        width               160px
      .progressbar-container
        visible()

    &.red button.kdbutton:hover
      color                 #fff
      background            #e14a35

  .share button.kdbutton
    color                   #b9b9b9
    rounded                 3px
    noTextDeco()

    &:hover
    &:active
    &:focus
      border                none
      color                 #fff
      background            #24b444

    &[disabled]
    &[disabled]:active
    &[disabled]:hover
      color                 #b9b9b9
      background            transparent

  .share button.kdbutton
  .progressbar-container span
    padding                 3px 8px
    font-size               12px
    line-height             20px
    font-weight             600
    text-shadow             none
    text-transform          uppercase
    borderBox()

  .progressbar-container
    hidden()
    size                    140px, 3px
    border                  none
    background              #C4C4C4
    z-index                 10
    abs                     23px 0 0 10px

    .bar
      background            #24b444
      z-index               1
      shadow                none

    span
      text-align            center
      color                 #FFF
      z-index               1

    .kdloader
      left                  80px
      top                   -3px
      z-index               2

  .appear-in-button
    background              transparent url('/a/images/vendors/appearin-logo.svg') no-repeat center center
    bg                      size, 26px 22px
    width                   36px

  .icon
    size                    auto 37px
    padding                 0
    margin-top              3px
    margin-right            12px
    pointer()
    fr()

    &:before
      dBlock()
      content               ''

    &.shortcuts:before
      r-sprite              'ide', 'keyboard'

    &.github cite
      r-sprite              'ide', 'github'

    &.help:before
      margin-top            -1px
      r-sprite              'ide', 'help'

  .shortcut
    color                   #999 !important
    letter-spacing          .1em
    font-size               11px
    right                   10px
    abs()

  .avatarview.waiting
    opacity                 .5

  .host .avatars

    .avatarview.offline
      display               inline-block
      img
        opacity             .2 !important
        &:hover
          opacity           .5 !important


  .avatars
    margin-right            5px

    .avatarview
      display               inline-block
      margin                7px 3px 0
      size                  24px 24px
      overflow              visible
      borderBox()
      rel()
      &:after
        content             ''
        abs                 0px 0 0 0px
        size                24px 1px
        vendor              transition, all .3s ease
        shadow              0 0 0 0 #ff9200
        bg                  color transparent

      &.watching:after
        content             ''
        size                2px 1px
        abs                 28px 0 0 11px
        shadow              0 0 5px 2px #ff9200
        z-index             2
        background          #ff9200

      &.offline
        display             none
        &.watching:after
          display           none
      img
        vertical-align      top
        borderBox()

      .badge
        display             none


.IDE-StatusBarMenu
  &.editor-context-menu
    width                   220px!important

    span.shortcut
      float                 right

  &.terminal-context-menu
    width                   130px!important

  ul
    bg                      color, dark-tab-header-bg !important
    padding                 2px !important
    rounded                 0 !important

  li
    color                   #E6E1DC !important
    rounded                 0 !important

    &:hover
      bg                    color, dark-panel-bg !important

    &.selected
      bg                    color, dark-panel-bg !important

    &.separator
      border-bottom         1px solid dark-panel-bg !important
      margin                14px !important


.IDE-StatusBarContextMenu.kdcontextmenu

  > span.arrow.bottom
    margin-top              -2px
    border-top-color        #131313
    border-left-color       transparent !important

  > span.arrow.top
    margin-top              -2px
    border-bottom-color     #131313
    border-left-color       transparent !important

  span.arrow
    border-left-color       #fff !important

  .kdlistview-contextmenu.default
    bg                      color #131313
    rel()

  .kdlistitemview-contextitem
    font-size               12px
    line-height             1.4em
    color                   #aaa
    padding                 6px 10px
    text-overflow           ellipsis
    overflow                hidden
    pointer()
    borderBox()

    &.separator
      padding               0
      &:last-child
        border-bottom       none

    &.selected
    &.active
      color                 white
      bg                    color, #131313 !important

    &.disabled
    &.selected.disabled
      color                 #aaa
      pointer-events        none


  .kdlistitemview-contextitem.default.separator
    border-bottom           1px solid #444

  .koding-on-off.tiny
    vendor                  transform, scale(.6)
    abs                     5px -5px 0 0

    &.off
      bg                    color #665

  .custom-link-view.info
    size                    15px 25px
    display                 block
    abs                     2px 27px 0
    vendor                  transform, scale(.8)

    &:after
      content               ''
      r-sprite              ide help
      margin-top            -6px
      display               block
