html {
	font-size:100%;
	overflow-y:scroll;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
body {
	margin:0;
	font-size:13px;
	line-height:1.231;
	background:#393630;
}
body,button,input,select,textarea {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	color:#222;
}
/*a {
	color:#00e;
}
a:visited {
	color:#551a8b;
}
a:hover {
	color: #06e;
}
*/
a:focus {
	outline:thin dotted;
}
a:hover,a:active {
	outline:0;
}
b,strong {
	font-weight:bold;
}
pre,code {
	font-family:monospace,monospace;
	_font-family:'courier new',monospace;
	font-size:1em;
}
pre {
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
}
ul,ol {
	margin:1em 0;
	padding:0 0 0 40px;
}
dd {
	margin:0 0 0 40px;
}
nav ul,nav ol {
	list-style:none;
	list-style-image:none;
	margin:0;
	padding:0;
}
img {
	border:0;
	-ms-interpolation-mode:bicubic;
	vertical-align:middle;
}
header a {
	display:block;
	text-indent:-6000px;
	color:#fff;
	overflow:hidden;
	width:45px;
	height:45px;
	background: #00b858 url('../img/nav-logo.png') no-repeat center center;
	margin:40px;
}
@-webkit-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
.hellobox {
	height:520px;
	margin:0;
	text-align:center;
	-webkit-animation:fadeIn 1s;
	background:#000 no-repeat center bottom;
}
.python .hellobox {
	background-image:url('../img/hellopython.jpg');
}
.php .hellobox {
	background:#000 url('../img/hellojtree.jpg') no-repeat center top;
}
.ruby .hellobox {
	background:#000 url('../img/hellojtree2.jpg') no-repeat center top;
}
.node .hellobox {
	background:#000 url('../img/cloudy.jpg') no-repeat center top;
}
.perl .hellobox {
	background:#000 url('../img/hellodesert.jpg') no-repeat center top;
}
.wrap {
	width: 660px;
	margin: 0 auto;
}

@-webkit-keyframes shakey {
	0% {
		-webkit-transform:rotate3d(0,0,0,0deg)
	}
	25% {
		-webkit-transform:rotate3d(0,0,0,2deg)
	}
	75% {
		-webkit-transform:rotate3d(0,0,0,-2deg)
	}
	100% {
		-webkit-transform:rotate3d(0,0,0,0deg)
	}
}
@-moz-keyframes shakey {
	0% {
		-moz-transform:rotate(0deg)
	}
	25% {
		-moz-transform:rotate(2deg)
	}
	75% {
		-moz-transform:rotate(-2deg)
	}
	100% {
		-moz-transform:rotate(0deg)
	}
}
h1 {
	font-weight:900;
	font-size:8em;
	letter-spacing:-5px;
	color:#fff;
	text-align:center;
	margin:0 0 10px 0;
	padding:135px 0 0 0;
	text-shadow:0 0 30px rgba(58,93,125,0.67);
	line-height:1em;
	-webkit-animation:shakey .2s ease-in-out alternate;
	-moz-animation:shakey .2s ease-in-out alternate;
	-webkit-animation-delay:1s;
	-webkit-transform:translate3d(0,0,0) transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}
h1:hover,h1:focus {
	-webkit-animation:shakey .25s ease-in-out alternate;
	-moz-animation:shakey .25s ease-in-out alternate;
	-webkit-transform:translate3d(0,0,0);
}
h2 {
	font-weight:100;
	font-size:2em;
	color:#fff;
	text-align:center;
	border-radius:4px;
	padding:0;
	margin:0;
	margin: 2em 0;
	line-height: 3em;
	text-shadow:0 0 5px rgba(58,93,125,1);
	transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}
h4 {
	font-size:1.7em;
	font-weight:200;
	margin:40px 20px 10px 20px;
	transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}
nav {
	background:rgba(0,0,0,0.4);
	text-align:center;
}
p {
	color:rgba(255,255,255,0.5);
	font-size:1.1em;
}
nav ul li {
	display:inline-block;
	margin:22px 10px 23px;
	color:#fff;
	font-size:1.4em;
	font-weight:200;
	color:#999;
	text-transform:uppercase;
	font-size:.9em;
}
nav ul li a {
	color:#fff;
	text-decoration:none;
	font-size:1.4em;
	padding:6px 12px;
	border-radius:4px;
	transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}
nav ul li a.active {
	color:#ff9200;
	background:rgba(255,255,255,0.3);
}
.navbar {
}
footer {
	color:#fff;
	text-align:center;
}
pre {
	margin:20px auto 40px;
	width:70%;
	background:rgba(0,0,0,0.4);
	display:block;
	color:#fff;
	border-radius:8px;
	text-align:left;
	font-size:1.3em;
	padding:20px 30px;
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);
	transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}
.clearfix:before,.clearfix:after {
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}
.clearfix {
	zoom: 1;
}

.wrap {
  width: 600px;
  margin: 0 auto;
}

dl {
  color: rgba(255,255,255,0.5);
}
dl dt {
  font-weight: 600;
  line-height: 2em;
  font-size: 1.4em;
  color: #E8E6E2;
}
dl dd {
  margin-left: 0;
  font-size: 1.1em;
  line-height: 1.4em;
}

a, a:link {
  color: #ff9400;
}

/* 404 page */
body#unsupported-page,
body#not-found-page {
	background: #f8f8f8;
	text-align: center;
}
#unsupported-page h2,
#not-found-page h2 {
	font-size: 60px;
	color: #626262;
	text-shadow: none;
	font-weight: 600;
	margin: 50px 0 20px 0;
	line-height: normal;
}
#not-found-page a.return-home {
	display: inline-block;
	color : #9a9a9a;
	letter-spacing: .04em;
	margin: 0 0 100px 0;
	text-decoration: none;
	border-bottom: 1px solid #9a9a9a;
}
#unsupported-page p,
#not-found-page a.return-home p {
	font-size: 25px;
	font-weight: 100;
	color: #9a9a9a;
	margin: 0;
}
.astronaut-problem-wrapper {
	width: 664px;
	height: 455px;
	margin: 0 auto 50px;
	background: url(../img/space.gif) no-repeat center center;
	position: relative;
}
.astronaut-problem-wrapper .astronaut-problem {
	left: 155px;
	top: 30px;
	position: absolute;
	-webkit-transform: translateY(10px);
	-webkit-animation: astronautHover 5s infinite ease;
	-moz-transform: translateY(10px);
	-moz-animation: astronautHover 5s infinite ease;
	transform: translateY(10px);
	animation: astronautHover 5s infinite ease;
}
#unsupported-page .browsers {
	width: 200px;
	height: 60px;
	margin: 30px auto 10px;
}
#unsupported-page .browsers .browser-icon {
	width: 60px;
	height: 60px;
	float: left;
	display: block;
}
#unsupported-page .browsers .browser-icon~.browser-icon {
	margin-left: 10px;
}
.browser-icon.safari {
	background: url(../img/safari.png);
}
.browser-icon.chrome {
	background: url(../img/chrome.png);
}
.browser-icon.firefox {
	background: url(../img/firefox.png);
}

@-webkit-keyframes astronautHover {
	0% {
		-webkit-transform: translateY(10px) translateX(0);
	}
	50% {
		-webkit-transform: translateY(-10px)  translateX(-10px);
	}
	100% {
		-webkit-transform: translateY(10px)  translateX(0);
	}
}
@-moz-keyframes astronautHover {
	0% {
		-moz-transform: translateY(10px) translateX(0);
	}
	50% {
		-moz-transform: translateY(-10px)  translateX(-10px);
	}
	100% {
		-moz-transform: translateY(10px)  translateX(0);
	}
}
@keyframes astronautHover {
	0% {
		transform: translateY(10px) translateX(0);
	}
	50% {
		transform: translateY(-10px)  translateX(-10px);
	}
	100% {
		transform: translateY(10px)  translateX(0);
	}
}

/* ==|== media queries ====================================================== PLACEHOLDER Media Queries for Responsive Design. These override the primary ('mobile first') styles Modify as content requires. ========================================================================== */
@media only screen and (min-width:480px) {
	/* Style adjustments for viewports 480px and over go here */
}
@media only screen and (max-width:600px) {
	/* Style adjustments for viewports 480px and over go here */
	.kdlogo {
		background-size:auto 25px;
		width:99px;
		height:25px;
	}
	h1 {
		font-size:4em;
		letter-spacing:-2px;
		margin:0 0 10px 0;
		padding:80px 0 0 0;
	}
	h2 {
		font-size:1.5em;
	}
	h4 {
		font-size:1.4em;
	}
	.hellobox {
		height:320px;
		background-size:auto 330px;
	}
	.wrap {
		box-sizing: border-box;
		width: 100%;
		padding: 0 1em;
	}

	dl dt {
		font-size: 1.2em;
	}

	dl dd {
		font-size: 1em;
	}
	nav ul li a {
		font-size:1.2em;
		padding:4px 6px;
		border-radius:4px;
	}
	pre {
		margin:20px auto 40px;
		width:70%;
		font-size:1.1em;
		padding:20px 30px;
	}
	@media only screen and (min-width: 768px) {
		/* Style adjustments for viewports 768px and over go here */
	}

