$base-padding               = 18px

.FeedItem
  width                     100%
  background                $white
  border-radius             $border-radius
  // border                    1px solid #EAEAEA
  margin-bottom             10px
  padding                   0
  font-size                 $fs-regular

  &.is-disabled
    opacity                 .5 !important

.FeedItem-header
  padding                   $base-padding $base-padding 0 $base-padding

.FeedItem-date
  font-size                 $fs-small
  color                     $color-light-text


.FeedItem-date:before
  content                   ""
  display                   inline-block
  size                      3px, 3px
  rounded                   50%
  background                $color-light-text
  font-size                 8px
  margin                    0 6px
  vertical-align            middle

.FeedItem-body
  padding                   ($base-padding/2) $base-padding

.FeedItemAction
  float                     left
  margin-right              0
  font-size                 $fs-small

.FeedItemAction a
  color                     $color-light-text

.FeedItem-footer
  dFlex()
  border                    1px solid #EAEAEA
  bg                        color #FBFAF9
  border-radius             0 0 $border-radius $border-radius
  padding                   $base-padding

.FeedItem-summary
  dFlex()
  vendor                    flex, 6
  vendor                    align-items, center

.FeedItem-summaryItem
  cite
    font-weight             $fw-semibold
    margin-right            3px

.FeedItem-summaryItem~.FeedItem-summaryItem:before
  content                   ""
  display                   inline-block
  size                      3px, 3px
  rounded                   50%
  background                $gray-5
  margin                    0 6px
  vertical-align            middle

.FeedItem-footerActionContainer
  dFlex()
  vendor                    flex, 4
  vendor                    justify-content, flex-end

