.ChannelListItem
  dBlock()
  overflow                hidden
  border-bottom           1px solid $gray-18
  line-height             25px
  font-size               14px
  padding                 5px 0

  .button
    fr()
    pointer()
    outline               none
    rounded               3px
    border                none
    height                23px
    color                 $white
    text-align            center

.ChannelListItem-title
  fl()
  noTextDeco()
  color                   #575757

.ChannelListItem-follow
  bg                      color, $green

.ChannelListItem-unfollow
  bg                      color, $gray-16

.ChannelListItem-delete
  bg                      color, #686868