EventExchangeName="BrokerMessageBus"
Mongo="dev:k9lc4G1k32nyD72@68.68.97.107:27017/koding"
Environment="staging"
Redis="172.16.10.16:6379"
# slave one is not used, just here for future ref
RedisSlave="172.16.10.17:6379"
Uri="https://koding.com"

[postgres]
Host=     "172.16.3.18"
Port=     5432
Username= "socialapplication"
Password= "socialapplication"
DBName=   "social"

[mq]
Host=     "172.16.6.14"
Port=     5672
Username= "guest"
Password= "djfjfhgh4455__5"
Vhost=    "new"

[limits]
MessageBodyMinLen=5

[Notification]
CacheEnabled = false

[emailnotification]
templateRoot="go/src/socialapi/workers/emailnotifier/templates/"

[sendgrid]
Username= "koding"
Password= "DEQl7_Dr"
FromName= "Koding"
FromMail= "hello@koding.com"

[sitemap]
XMLRoot="go/src/socialapi/workers/sitemap/files/"