.ChannelList
  padding                 0 5px
  overflow                hidden
  margin-top              20px

  .Scrollable
    height                360px
    overflow              auto

  .ChannelList-emptySearch
    font-size             12px
    text-align            center
    margin-top            20px
    color                 $gray-10

.ChannelList-title
  margin-bottom           15px
  color                   $green !important
  font-size               20px
  font-weight             400

.ChannelList-searchInput
  dBlock()
  borderBox()
  outline                 none
  rounded                 3px
  padding                 5px 10px
  size                    100%, 34px
  bg                      color, $white
  border                  1px solid $gray-16

