@import "../../Framework/src/themes/default/kdfn"
@import "../styl/appfn"
@import "../styl/app.fonts"

@css {
/*
MAIN APP stylesheet
resurrection.styl
*/
}

// When app class is added to html tag
// layout becomes 100% width and height
// so that apps can control their own
// scrollviews and add their chrome frames
html.app
  height            100%
  body
    height          100%

body
  font-family       openSansFamily
  font-weight       400

  &.noscroll
    overflow        hidden

  &.logged-in
    #main-header
      nav
        hidden()

  > .invisible
    display         none

input
textarea
button
  font-family       openSansFamily

pre
  font-family       monoFamily

.kdview
  overflow          visible

.no-anim
  noAnim()

#kdmaincontainer
  width             auto
  // vendor            transform, translateX(0)
  #main-sidebar
    z-index           0
    hidden()

  &.fullscreen
    width             100%!important
    left              0!important
    top               0!important
    bottom            0!important
    right             0!important
    z-index           10
    .application-page
      padding         0!important
    .app-settings-menu
      top             0
      right           0
    #main-header
      hidden()


  &.with-sidebar

    #main-sidebar
      visible()

    #main-header
      hidden()

    #main-panel-wrapper
      kalc            width, 100% \- 258px
      margin-left     258px


#main-panel-wrapper
  min-height          100%
  z-index             1
  bg                  color, white
  vendor              transition, box-shadow .177s ease

#main-panel-wrapper
aside.app-sidebar
  vendor              transition, width .177s ease \,
                                  left .177s ease

#main-header
  margin                0
  size                  100%,55px
  z-index               1000
  overflow              visible
  max-width             1290px
  shadow                none
  padding               0 45px
  abs                   48px 0 0 50%
  vendor                transform, translateX(-50%)
  z-index               15
  borderBox()


  .inner-container
    bg                  color, transparent

  .logotype
    font-size               24px
    color                   #444
    font-weight             700
    line-height             16px
    color                   #fff
    font-family             asapFamily
    -webkit-font-smoothing  antialiased
    noTextDeco()
    visible()
    fl()

  #koding-logo
    margin              0 14px 0 0
    size                auto auto
    bg                  color, transparent
    position            static
    letter-spacing      .01em
    fl()

    cite
      r-sprite          home 'logo'
      margin            0
      display           block

  nav
    line-height         18px
    fr()

    a
      -webkit-font-smoothing  antialiased
      font-smoothing          antialiased

      font-size         16px
      margin-left       12px
      font-weight       500
      font-family       openSansFamily
      color             rgba(255,255,255,.83)
      padding-bottom    1px
      noTextDeco()

      &.active
        font-weight     600
        border-bottom   1px solid rgba(255,255,255,.83)

      &:last-child
        visibility      visible

      &.login
        padding         7px 13px
        rounded         4px
        white-space     nowrap
        margin-left     21px
        font-size       14px
        font-weight     600
        border          1px solid rgba(255, 255, 255, .5)


.header-notification
  size                100% 26px
  bg                  color rgba(24, 148, 83, .9)
  bg                  image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAQAAAAngNWGAAAAT0lEQVQ4y43SOxIAIAxCQUruf+HYqBPNj6HdjgdjHLJpzCLMWYAV+2DNHtgxB3t24cQ2nJkRGjNCYyksThXZD5tERObhEJzIDhTyFRkhMi6JHdO5oh57CwAAAABJRU5ErkJggg==')
  bg                  repeat repeat
  bg                  scroll no-scroll
  vendor              transition, top .077s ease-in
  left                0
  top                 29px
  z-index             0
  color               white
  letter-spacing      .05em
  text-align          center
  line-height         26px
  font-size           12px
  borderBox()
  abs()
  &.in
    top               55px
  &.warn
    bg                color rgba(187, 159, 9, .9)
  &.err
    bg                color rgba(238, 100, 98, .9)
  &.fx
    vendor            animation, progress 60s linear infinite
  strong
    font-weight       600
  .cancel
    right             10px
    top               3px
    abs()
  a
    border-bottom     1px solid white
    color             white
    noTextDeco()
  .custom-link-view
    display           inline-block
    size              16px 16px
    vertical-align    top
    border-bottom     none
    margin            5px 0 0 5px
    span.close.icon
      display         block
      r-sprite        app '16-close-white'


#koding-logo
  size              57px 55px
  bg                color, logoBg
  z-index           11
  top               0
  left              0
  abs()

  &.staging
    bg              color #ff9200 // old koding orange

  &.sandbox
    bg              color #0099cc

  &.vagrant
    bg              color purple

  &.custom
    bg              color transparent
    bg              position, center center
    bg              repeat, no-repeat
    cite
      hidden()

  cite
    r-sprite        app 'nav-logo'
    margin          0 0 0 1px
    display         block


#kdmaincontainer.logout-tv
  vendor                  animation, logoutTv .5s 1 forwards ease
  abs                     0px 0 0 0px
  size                    100vw, 100vh

  &~.turn-off-line
    top                   50%
    left                  0
    size                  100%, 2px
    background            #fff
    opacity               0
    z-index               1000
    vendor                animation, logoutTvLine .3s .35s 1 forwards ease
    abs()
    &:after
      content             ""
      display             block
      margin              -3px auto 0
      size                50%, 6px
      background          #fff
      rounded             100%
      box-shadow          0 0 20px 10px rgba(255,255,255,.6)
  &~.turn-off-dot
    top                   50%
    left                  50%
    bg                    color, #fff
    rounded               20px
    size                  10px, 10px
    margin-top            -5px
    vendor                transform, scaleX(0) scaleY(0)
    shadow                0 0 8px #fff
    vendor                animation, logoutTvDot .3s .6s 1 forwards ease
    z-index               1000
    abs()

#kdmaincontainer.scale
    vendor            animation, shrink 1s ease-out
    vendor            animation-iteration-count, 1
    vendor            transform-style, preserve-3d
    vendor            transform, scale(0)


#kdmaincontainer > .pointer
  abs()
  bottom                380px
  left                  500px
  top                   auto
  display               block
  z-index               99999
  size                  20px, 20px
  border                3px solid white
  opacity               1
  bg                    color, #ff9200
  gradient              #FFAB23, #F27500
  vendor                transition, left 2s ease-in-out\,\
                                    top 2s ease-in-out\,\
                                    opacity .4s
  border-radius         50%
  shadow                0px 1px 3px 0px rgba(0,0,0,.2)
  &.clickPulse
    vendor              animation, clickAnimate 1s forwards ease-in-out
  &.out
    opacity             0

.kdnotification
  a
    color               inherit

@-webkit-keyframes clickAnimate
  0%
    -webkit-transform   scale(1)
    shadow              0 0 0 0 rgba(255,146,0,0)
  15%
    -webkit-transform   scale(0.6)
  25%
    -webkit-transform   scale(1)
  50%
    shadow              0 0 0 10px rgba(255,146,0,.8)
  100%
    shadow              0 0 0 25px rgba(255,146,0,0)

@-moz-keyframes clickAnimate
  0%
    -moz-transform      scale(1)
    shadow              0 0 0 0 rgba(255,146,0,0)
  15%
    -moz-transform      scale(0.6)
  25%
    -moz-transform      scale(1)
  50%
    shadow              0 0 0 10px rgba(255,146,0,.8)
  100%
    shadow              0 0 0 25px rgba(255,146,0,0)

// Intro animation for 'Show me how!' button

.cta_button
  vendor                animation, bounceIn .6s ease-in-out

@-webkit-keyframes bounceIn
  0%
    -webkit-transform   scale(0)
    opacity             0
  50%
    -webkit-transform   scale(1.1)
    opacity             1
  75%
    -webkit-transform   scale(0.9)
  100%
    -webkit-transform   scale(1)

@-moz-keyframes bounceIn
  0%
    -moz-transform      scale(0)
    opacity             0
  50%
    -moz-transform      scale(1.1)
    opacity             1
  75%
    -moz-transform      scale(0.9)
  100%
    -moz-transform      scale(1)


.nominate-modal

  z-index                       10001
  background                    white
  border-radius                 7px
  text-align                    center
  box-shadow                    0 0 20px

  a
    text-decoration             none

  .logo

    background                  url("../images/icon_rocket.png") no-repeat
    height                      160px
    top                         -20px
    left                        130px
    width                       160px
    abs()

  .header

    height                      100px
    background                  #504E4B
    border-top-right-radius     5px
    border-top-left-radius      5px
    margin-bottom               40px

  p

    padding                     20px 70px 10px 70px
    font-size                   15px

  div.button

    background                  #2E7FA1
    text-shadow                 none
    color                       white
    font-size                   20px
    padding                     10px
    width                       210px
    margin                      20px auto
    border-radius               4px
    cursor                      pointer

div.nominateicon
  width                         45px
  height                        55px
  background                    url("../images/icon_medal.png") no-repeat
  background-position           12px 0px
  background-color              #2B3335
  border-radius                 3px
  cursor                        pointer
  right                         285px
  z-index                       1
  top                           0
  abs()

.kdmodal.redeem-modal

  .formline
    overflow              visible
    padding               15px 0 0
    .input-wrapper
      overflow            visible
      margin-right        8px
      fr()
    label
      margin              0

#editor-modal
  &.loading
    .kdmodal-inner
    .kdmodal-content
      height                 400px
    .kdloader
      margin                 -18px 0 0 -18px
      top                    50%
      left                   50%

  .kdbutton.disabled
    cursor                   not-allowed

  h4 span
    font-size                12px
    color                    #747474

  .kdmodal-inner
  .kdmodal-content
    margin                    0 !important
    position                  relative
  .close-icon
    display                   none
  .editor-pane > div:first-child
    overflow                  hidden
    padding                   6px
    bg                        color, rgba(204, 204, 204, .4)
    color                     #333
    h4
      fl()
      font-size               18px
      position                relative
      top                     6px
    button
      fr()
      margin-left             6px
  figure
    height                    358px
    border-radius             0 0 6px 6px
    .code-wrapper
      height                  358px


  .kdnotification
    abs()
    top                       8px !important
    vendor                    shadow, none
    vendor                    rounded, 4px

    &.mini
      top                     8px !important

    &.tray
      max-width               50%
      padding                 5px 10px

      .kdnotification-content
        font-size             13px

.kdmodal.ws-settings
.kdmodal.vm-settings

  background              #242424 !important
  border-color            #242424 !important

  .kdmodal-title
    hidden()

  .kdmodal-content
    overflow              visible
    margin                0 !important

  .close-icon
    hidden()

  .modal-arrow
    left                  -41px !important
    border-right-color    #242424 !important
    vendor                filter, drop-shadow(-5px 1px 4px rgba(0,0,0,0.35))

    &:before
      border-right-color  #242424 !important

  &.activity-modal
    .kdmodal-inner
      margin              21px

  .kdformview .formline

    min-height            29px
    cf()

    .input-wrapper

      margin-bottom       0
      width               153px
      text-overflow       ellipsis
      color               #F3EDE0
      fr()

      .koding-on-off
        margin-top        1px
        &.on
          background      #387635
        &.off
          background      #494949

      .kdselectbox
        margin-top        4px

      color               #F3EDE0
      font-size           12px
      line-height         21px
      font-weight         600
      noTextDeco()

      a
        text-decoration   underline
        color             #F3EDE0

    &.nickname

      .custom-link-view

        cite
          size            12px 12px
          r-sprite        app edit-icon
          margin-left     5px
          cursor          pointer
          display         inline-block
          abs()

      input
        padding           0 0 0 2px
        position          absolute
        width             170px
        top               -3px
        left              140px


    &.specs
    &.guides
      .input-wrapper
        width             100%
        .kdview
          font-size       14px
          padding         0 0 9px 2px

    &.domains

      label.kdlabel

        span
          top             2px
          left            2px
          position        relative
          display         inline-block
          r-sprite        app 'add-12'
          cursor          pointer

        &.expanded
          span
            r-sprite      app 'cancel-12'

      .input-wrapper
        width             100%
        overflow          visible


    &.specs
      label.kdlabel
        padding-top       2px

    &.guides
      label.kdlabel
        padding-top       5px

    &.moreview
    &.advancedview

      .input-wrapper
        width             100%
        border-bottom     1px solid #333
        z-index           -1
        top               24px
        abs()

      label.kdlabel
        font-size         14px
        width             100%
        text-align        center
        padding           14px 0 3px
        cursor            pointer

        &:before
          content         'More'
          background      #242424
          size            55px 20px
          padding-right   15px
          margin-left     -15px
          abs()

        &.expanded

          &:after
            border-bottom-color #aaa
            border-top-color    transparent
            top                 -2px

        &:after
          margin-left         2px
          display             inline-block
          content             ' '
          border              5px solid transparent
          size                10px 10px
          left                0

          border-bottom-color transparent
          border-top-color    #aaa
          top                 4px

          borderBox()
          rel()

    &.advancedview
      label.kdlabel
        &:after
          left            5px !important
        &:before
          content         'Advanced'
          width           93px

    &.button-field
      margin              0 !important


  .domains-view

    padding               2px 0
    borderBox()

    .in-progress
      top                 -16px
      right               2px
      display             block
      width               auto
      height              auto
      abs()

    .warning
      top                 -14px
      right               4px
      r-sprite            environments, 'warning'
      abs()

    .input-view
      border-radius       4px
      background          white
      height              22px

      input
        padding           0
        margin-right      0
        text-align        right
        background        none
        border            none
        color             black
        width             auto
        height            21px
        shadow            none
        fl()

      .domain-suffix
        color             #999
        width             auto
        display           inline-block
        float             left
        box-shadow        none
        ellipsis()

    .listview-wrapper
      margin-top          4px
      height              auto
      padding             0 4px

    .kdlistitemview-domain
      a
        text-decoration   none !important

      .koding-on-off
        right             2px
        vendor            transform, scale(.7)
        display           inline-block
        abs()

      &:hover
        span.remove-domain
          display         block

      span.remove-domain
        top               4px
        right             36px
        display           none
        r-sprite          app 'delete-12'
        cursor            pointer
        abs()

  label.kdlabel

    font-size             12px
    line-height           20px
    margin                0
    font-weight           600
    padding-left          3px
    color                 #99999B

  .kdbutton.solid
    font-weight           600
    &.red
      background          #D43130
    &.reinit
      background          #F69D03

  .button-container

    text-align            center

    button
      margin              10px 10px 0 10px !important
      width               124px


  .kdbutton.subdomain-toggler
    padding-right           0
    .button-title
      color                 #aaa

  .more-form
    padding-top           18px

.kdmodal.ws-settings

  .kdtabview
    border-bottom         1px solid #333

  .modal-arrow
    left                  -36px !important
    border-right-color    #242424 !important
    vendor                filter, drop-shadow(-5px 1px 4px rgba(0,0,0,0.35))
    &:before
      left                -5px

  .kdbutton.solid.red
    left                  50%
    width                 180px
    margin                12px 0 10px -90px
    font-weight           600
    background            #D43130

  &.activity-modal
    .kdmodal-inner
      margin              5px 16px

  &.guides
    label.kdlabel
      padding-top         0



body.account
  .input-validation
    margin-left         30px !important

  .input-validation div.wrapper
    background-color    rgba(217, 95, 95, .75)
    shadow              none
    font-size           14px
    font-weight         600
    text-align          center
    line-height         18px
    -webkit-font-smoothing antialiased

  .input-validation.placement-top:after
    border-top-color    rgba(217, 95, 95, .75)

  .kdoverlay
    background          rgba(255, 255, 255, .75)

.payment-modal
  .kdmodal-content
    // max-height          389px !important

  .kdmodal-inner
    margin              36px 51px 51px

    h3
      text-align          center
      margin-bottom       10px
      color               #6f6f6f

    .kdmodal-title
      text-align        center
      margin            0 0 30px !important

      span.title
        font-weight     500
        color           #00B156
        line-height     34px
        margin          0 0 6px

      span.subtitle
        color           #848484
        font-size       14px
        line-height     19px
        font-weight     400
        opacity         .99

    .summary
      margin            0 0 30px
      line-height       24px
      border            1px solid #E5E5E5
      border-radius     3px
      padding           15px 25px

      .plan-name
        font-size       16px
        color           #6F6F6F
        fl()

      .plan-price
        color           #01B05A
        font-size       16px
        fr()

        span
          color         #A7A7A7
          font-size     14px

        &:before
          content       '$'

        &:after
          content       '@'
          left          263px
          color         #6F6F6F
          abs()

    .payment-method-entry-form
      background        #F8F8F8
      border            1px solid #E5E5E5
      padding           0 31px 31px 17px
      rounded           3px

      .kdlabel
        display         block
        float           none
        margin-top      19px
        margin-bottom   11px
        font-size       14px
        color           #616161
        opacity         .99

      .kdinput
        background      #fff
        rounded         3px
        border          1px solid #D7D7D7
        margin          0
        height          36px
        transition      border-color .3s linear

        &.text
          font-size     14px

        &.validation-error
          border-color  #D95F5F !important

      .input-wrapper
        margin          0

      &.american-express .input-wrapper:after
        r-sprite      'pricing', 'american-express'

      &.visa .input-wrapper:after
        r-sprite      'pricing', 'visa'

      &.mastercard .input-wrapper:after
        r-sprite      'pricing', 'mastercard'

      &.discover .input-wrapper:after
        r-sprite      'pricing', 'discover'

      .formline
        margin-left     13px
        fl()

        &.cardnumber
          width         292px

          .input-wrapper:after
            content     ''
            display     block
            right       8px
            top         59px
            width       36px
            height      22px
            z-index     1
            pointer-events none
            abs()

        &.cardcvc
        &.cardmonth
        &.cardyear
          width         64px

        &.cardmonth input
          text-align    center

        &.cardyear input
          text-align    center

        &.cardname
          width         215px

    .existing-cc-msg
      color             #7f7f7f
      font-size         16px
      line-height       24px
      text-align        center
      padding           40px
      border-radius     3px
      background        #f8f8f8
      border            1px solid #e5e5e5

    .success-msg
      color             #7f7f7f
      font-size         16px
      line-height       24px
      text-align        center
      padding           40px
      border-radius     3px
      background        #f8f8f8
      border            1px solid #e5e5e5

      a
        color           #01B05A

    .downgrade-error-msg
      color             #7f7f7f
      font-size         16px
      line-height       24px
      text-align        left

      .description
        margin-top      20px

        strong
          font-weight   600

    .submit-btn
      width             100% !important
      height            50px !important
      background        #01B05A
      margin            20px 0 0 !important
      shadow            0 2px 0 0 #008E48
      color             #fff
      font-size         14px
      font-weight       300

      span.button-title
        font-size       inherit
        font-weight     inherit
        color           inherit

      cite.total-price
        font-size       16px
        font-weight     400
        margin-left     5px

        &:before
          content       '$'
          display       inline-block

        span
          font-size     12px
          opacity       .99

    .year-price-msg
      display           block
      font-size         16px
      color             #6f6f6f
      line-height       19px
      margin            25px 0 0px
      opacity           .99
      text-align        center


    .security-note
      font-size         12px
      color             #A7A7A7
      text-align        center
      line-height       17px
      margin            80px 0 10px
      opacity           .99

      span
        display         block
        font-size       14px
        color           #7F7F7F
        line-height     19px
        margin          0 0 4px
        opacity         .99

      &:before
        content         ''
        display         block
        r-sprite        'pricing', 'lock'
        margin          0 auto 10px


.kdmodal.help-support-modal

  bg                      color, #FCFCFC

  .kdmodal-inner
    margin                10px
    bg                    color, #FCFCFC

    a
      color               #0DA84C
      font-weight         700
      line-height         27px

    .kdmodal-title
      text-align          center

      span.title
        font-size         17px !important
        font-weight       bold
        color             #0DA84C
        padding-top       28px
        padding-bottom    11px

      span.subtitle
        color             #222
        margin-top        -5px


    .kdmodal-content
      font-size           14px !important;
      padding             16px 10px 0 !important;


  .kdscrollview.kdtabview
    float                 right
    width                 46%
    padding-left          18px
    border-left           1px solid #EEE

    label.kdlabel
      width               100%
      float               none !important
      font-weight         bold
      color               #666
      margin-top          0
      margin-bottom       4px

    textarea
      min-height          85px

    .input-wrapper
      margin-bottom       12px

    input.kdinput.text,
    textarea.kdinput.text
      font-size           12px
      border-radius       4px
      background          white
      font-weight         500
      width               274px

    .kdtabpaneview.main
      padding-left        2px

    .button-field
      height              40px !important

      button.kdbutton
        top               -13px
        right             13px
        width             68px
        height            33px
        background        #04A84C
        abs()

        span.button-title
          line-height     36px

  .container
    float                 left
    width                 45%
    padding               0 10px 10px 20px

    .topics-header
      margin-bottom       10px
      color               #666
      font-weight         bold

    .message-footer
      bottom              20px
      abs()

.kdmodal.welcome-modal
  overflow                hidden
  rounded                 3px

  .kdmodal-inner
    margin                0

  .kdmodal-content
    margin                0 !important
    max-height            100% !important

  .decoration-image
    size                  258px, 519px
    background            url('../images/welcome-decoration.jpg') no-repeat center center #45a66c
    fl()

  .content
    size                  508px, 519px
    padding               38px
    borderBox()
    fl()

    h1
      font-size           24px
      line-height         1em
      color               #27ae60
      font-weight         600
      border              none
      padding             0
      margin              0 0 4px
      height              auto

      span
        padding           0
        margin            0

    h2
      font-size           18px
      line-height         1em
      color               #848484
      font-weight         200
      border              none
      padding             0
      margin              0 0 26px
      height              auto

      span
        padding           0
        margin            0

    p
      display             block
      margin              0
      padding             16px 0 20px
      border-top          1px dashed #cccccc
      font-size           14px
      color               #4b4b4b
      line-height         27px

      span
        font-size         12px
        color             red

    .welcome-btn
      display             block
      size                100%, 55px
      margin-top          -1px
      border              1px solid #dcdcdc
      line-height         55px
      padding-left        25px
      font-size           14px
      color               #525252
      font-weight         400
      noTextDeco()
      borderBox()

      &:first-of-type
        rounded           3px 3px 0 0

      &:last-of-type
        rounded           0 0 3px 3px

      &:hover
        color             #27ae60
        border-color      #27ae60

        & + .welcome-btn
          border-top-color transparent

      &:after
        content           ''
        display           block
        r-sprite          'app', 'welcome-btn-chevron'
        margin            21px 24px 0 0
        fr()


.kdmodal.domain-assign-modal
  b
    font-weight           bold
