
// FontAwesome
$fa-font-path = "http://netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts"
@import "../../../node_modules/font-awesome-stylus/stylus"

@css {
/*
New Stack Editor stylesheet
stackeditor.styl
*/
}

.new-stack-editor

  .flex-split
    background              #232327
    vendor                  transition, all .5s ease

    &.ondrag
      vendor                transition, none

    &.vertical
      > .flex-resizer
        width               2px
    &.horizontal
      > .flex-resizer
        height              2px

  .flex-resizer
    background              #000

    &:hover
    &.ondrag
      background            #6EA3E5

  .toolbar
    background              #232327
    height                  40px
    min-height              40px !important
    border-bottom           2px solid #000
    borderBox()

  .content
    background              #999
    &.safari-fix
      // just because of a bug in safari
      // https://bugs.webkit.org/show_bug.cgi?id=137730 ~ GG
      height                calc(100% \- 70px)

  .mainview
    border-left             2px solid #000
    border-right            2px solid #000
    borderBox()

  .statusbar
    background              #000 !important
    height                  30px
    min-height              30px !important

  .flex-view

    background              #232327
    color                   #59595C
    vendor                  transition, all .5s ease

    .ace_gutter-layer
      background-color      #232327 !important

    .ace_gutter
      border-right          1px solid #191919
      .ace_gutter-active-line
        background          rgba(114, 114, 114, .2) !important
        z-index             1

    .ace_marker-layer
      .ace_active-line
        background          #333339 !important

    &.with-title
      .editor
        height              calc(100% - 52px)

    &.ondrag
      vendor                transition, none

    &.expanded
      > .wrapper > .kdbutton
        &.expand
          visibility        hidden
        &.collapse
          visibility        visible

    .wrapper

      height                inherit
      abs                   0px, 0px

      &.expanding
        height              100vh

      .title
        padding             15px 20px
        font-size           13px
        font-weight         600
        color               #999
        position            static
        z-index             7
        background          #232327
        width               100%
        borderBox()

      borderBox()

    .kdbutton.expand
    .kdbutton.collapse
      margin                0
      padding               0
      background            none
      border                none
      color                 #59595C
      z-index               10

      &.expand
        fa                  expand
      &.collapse
        visibility          hidden
        fa                  compress

      abs                   10px, 10px

#intercom-container
  display                   none