
// FontAwesome
$fa-font-path = "http://netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts"
@import "../../../node_modules/font-awesome-stylus/stylus"

@css {
/*
New Stack Editor stylesheet
stackeditor.styl
*/
}

$dark-panel-bg              = #2B2B30
$dark-tab-header-bg         = #131315
$dark-active-tab-color      = #9C9C9C
$dark-tab-color             = #5C5C5C

$resize-handle-color        = #6EA3E5
$stack-bg-color             = #232327
$stack-fg-color             = #59595C

.new-stack-editor

  .flex-split
    background              $stack-bg-color
    vendor                  transition, all .5s ease

    &.ondrag
      vendor                transition, none

    &.vertical
      > .flex-resizer
        width               2px
    &.horizontal
      > .flex-resizer
        height              2px

  .flex-resizer
    background              #000

    &:hover
    &.ondrag
      background            $resize-handle-color

  .toolbar
    background              $stack-bg-color
    height                  40px
    min-height              40px !important
    border-bottom           2px solid #000
    borderBox()

  .content
    background              $stack-bg-color
    &.safari-fix
      // just because of a bug in safari
      // https://bugs.webkit.org/show_bug.cgi?id=137730 ~ GG
      height                calc(100% \- 70px)

  .mainview
    border-left             2px solid #000
    border-right            2px solid #000
    borderBox()

  .statusbar
    background              #000 !important
    height                  30px
    min-height              30px !important

  .flex-view

    background              $stack-bg-color
    color                   $stack-fg-color
    vendor                  transition, all .5s ease

    &.with-title
      .editor
        height              calc(100% - 42px)

    &.ondrag
      vendor                transition, none

    &.expanded
      > .wrapper > .kdbutton
        &.expand
          visibility        hidden
        &.collapse
          visibility        visible

    .wrapper

      height                inherit
      abs                   0px, 0px

      &.expanding
        height              100vh

      .title
        padding             15px 20px
        font-size           13px
        font-weight         600
        color               #999
        position            static
        z-index             7
        background          $stack-bg-color
        width               100%
        borderBox()

      borderBox()

    .kdbutton.expand
    .kdbutton.collapse
      margin                0
      padding               0
      background            none
      border                none
      color                 $stack-fg-color
      z-index               10

      &.expand
        fa                  expand
      &.collapse
        visibility          hidden
        fa                  compress

      abs                   10px, 10px


  .editor-view

    .ace-find-replace-view
      bottom                0
      bg                    color, $dark-tab-header-bg
      border-bottom-color   $dark-tab-header-bg
      box-shadow            inset 0 -1px 0 $dark-tab-header-bg

      a, input
        border-color        $dark-panel-bg

        &.active
          border-color      $dark-panel-bg !important

      input
        bg                  color, $dark-panel-bg
        box-shadow          0 1px 0 $dark-panel-bg
        color               $dark-active-tab-color

        &:hover
          bg                color, $dark-panel-bg
          border            1px solid $dark-panel-bg
          box-shadow        0 1px 0 $dark-panel-bg

        &:focus
          bg                color, $dark-panel-bg
          border            1px solid $dark-panel-bg
          box-shadow        0 1px 0 $dark-panel-bg

      button
        bg                  color, $dark-panel-bg
        color               $dark-active-tab-color
        border              1px solid $dark-panel-bg

        &:hover
          bg                color, $dark-panel-bg
          opacity           .8

    .ace_gutter-layer
      background-color      $stack-bg-color !important

    .ace_gutter
      border-right          1px solid #191919
      .ace_gutter-active-line
        background          rgba(114, 114, 114, .2) !important
        z-index             1

    .ace_marker-layer
      .ace_active-line
        background          #333339 !important


#intercom-container
  display                   none