@import "./client/Framework/themes/default/kdfn"

/* 
**  KDInput STYLES
*/
.kdview.kddialogview
  position        absolute
  top             0
  margin          0 10%
  z-index         10001
  bg(color,browser-bg)
  size(80%,auto)
  rounded(0,0,5px,5px)
  shadow(0 3px 6px rgba(0,0,0,.5))
  
  .kdheaderview
    margin-top        10px
  
  .kddialog-wrapper
    padding           0 20px
    margin-bottom     60px
    z-index           0
    size(auto,auto)
  
  .kddialog-buttons
    height            auto
    position          absolute
    border-top        1px solid #ddd
    background-color  #eee
    bottom            0
    z-index           1
    rounded(0,0,5px,5px)
    
    .kdbutton
      padding-right   10px
      padding-left    10px
      margin-left     0
      width           auto
      fr()
  