@import "./client/Framework/themes/default/kdfn"

div.kd-page

  // TODO: Add a function for this to kdfn ~ GG
  -webkit-transition  left .6s ease-in-out, top .6s ease-in-out, -webkit-transform .3s ease-out
  -moz-transition     left .6s ease-in-out, top .6s ease-in-out, -moz-transform .3s ease-out
  -o-transition       left .6s ease-in-out, top .6s ease-in-out, -o-transform .3s ease-out
  transition          left .6s ease-in-out, top .6s ease-in-out, transform .3s ease-out
  abs()
