@import "./client/Framework/themes/default/kdfn"

div.kdtooltip
  background-color transparent
  borderBox()
  position: absolute
  top 0
  left 0
  width auto
  height auto
  min-width 200px
  min-height 50px
  overflow visible
  // z-index 9000

  div.tooltip-wrapper
    padding 5px
    border 1px solid rgba(0,0,0,0.275)
    background-color white
    width 100%
    height 100%
    position relative
    min-height 50px
    min-width 200px
    z-index 9001
    vendor box-shadow, 0px 10px 20px 5px rgba(0,0,0,0.15)

  &.placement-above
    div.tooltip-arrow-below
      sprite()
      z-index 9002
      background-color transparent
      size 15px 15px
      margin-top:-10px
      background-position -220px -32px

    &.direction-right
      div.tooltip-arrow-below
        margin-left 5px
    &.direction-left
      div.tooltip-arrow-below
        margin-left 95%
    &.direction-center
      div.tooltip-arrow-below
        margin-left 48%

    div.tooltip-arrow-above
      display none

  &.placement-below
    div.tooltip-arrow-above
      sprite()
      z-index 9002
      background-color transparent
      size 15px 15px
      margin-top:-10px
      margin-bottom -1px
      margin-left 5px
      background-position -200px -31px
    &.direction-right
      div.tooltip-arrow-above
        margin-left 5px
    &.direction-left
      div.tooltip-arrow-above
        margin-left 95%
    &.direction-center
      div.tooltip-arrow-above
        margin-left 48%

    div.tooltip-arrow-below
      display none

