@css {
/*
Admin main styles
*/
}

#content-page-admin > .kdtabview
  padding                   34px 34px 0 0
  overflow                  visible

.AppModal.AppModal--admin

  .kdcustomscrollview
    styleScrollBars         rgba(0, 0, 0, .15)

  .kdmodal-inner
    height                  calc(100% \- 40px)
    rel()

  .kdmodal-content
    width                   100%
    height                  calc(100% \- 45px)

  .group-logo
    figure
      size                    55px, 55px
      rounded                 6px 6px 0 0
    &.default
      figure
        r-sprite              "admin", "group-default-logo-bg"
        background-color      #CACACA !important

  .upload-button
    size                      55px, 25px
    rounded                   0
    padding                   0
    span
      font-size               10px !important
      line-height             25px !important
      text-align              center
      text-transform          uppercase
      width                   55px
      display                 block
    &.save, &.cancel
      margin-top              3px
      rounded                 36px
      margin-right            10px

  .group-image-preview
    vendor                    transform, translate(-50%, -50%)
    abs()
    left                      50%
    top                       50%
    max-width                 120px

  .group-logo-uploader
    size                      100% 110px
    .file-drop
      font-size               14px
      margin-top              -14px

  form
    .formline
      padding               0 17px 0 0
      margin                0 0 16px
      borderBox()

      .input-wrapper
        margin              0

      &.button-field
        clear               both
        border              none
        margin-top          6px

  .kdlabel
    font-size               14px
    color                   #8D8D8D
    float                   none
    line-height             19px
    margin                  0 0 7px
    font-weight             200

  .kdinput.text
    rounded                 3px
    background              #fff
    border                  1px solid #C9C9C9
    padding                 8px 13px 10px
    font-size               14px
    line-height             19px
    color                   #4C4C4C
    font-weight             600
    opacity                 .99
    margin                  0 20px 0 0

    &.validation-error
      border-color          #f13a18

  .lazy-loader
  .kdloader
    text-align              center
    padding                 20px 0

  .loading-text
    text-align          center

  .kdtabpaneview

    &.invitations

      .invitations-tabs
        overflow          visible

      .listview-wrapper > .kdscrollview
        padding-right     34px
        kalc              height, 100vh \- 73px
        kalc              width, 100% \+ 34px
        borderBox()

      .button-bar
        size            auto, auto
        margin          18px 0 0 0
        fr()

        .show-resolved
          size          auto, auto
          padding       3px 18px 0 0
          fl()

          .kdlabel
            fl()

          .kdinput
            margin     1px 0 0 6px
            fr()

        .kdbutton
          fl()

      .kdlistitemview-invitation-request
        padding           23px 0
        border-bottom     1px solid #DEDEDE
        font-size         14px
        line-height       19px
        borderBox()

        .status
          size             38px, 38px
          border           1px solid #EAEAEA
          rounded          3px
          margin           0 18px 0 0
          text-align       center
          line-height      38px
          fl()

          .icon
            display        inline-block
            r-sprite       'account', 'cross-8'

          &.sent .icon
            r-sprite       'account', 'check-8'

        .details
          color             #4c4c4c
          font-weight       600

          .requested-at
          .usage
            color           #7b7b7b
            font-weight     400

        .buttons
          fr()

          .kdbutton
            margin-left     6px
            fr()


    &.permissions

      .permissions-view
        borderBox()
        overflow                auto
        font-size               14px

        &.not-koding
          .header .header-item
            &:first-child
              margin-left       294px

            &:last-child
              hidden()

          .switcher
            &:last-child
              hidden()

          .text + .switcher
            margin-left         154px


        .button-field
          .kdbutton
            margin-right        6px
            fr()

        .header
          z-index               99
          width                 714px
          position              fixed
          color                 #787878
          height                50px
          line-height           50px
          bg                    color, #FAFAFA

          .header-item
            text-align          center
            color               #969696
            width               140px
            border-bottom       1px solid #EFEFEF
            fl()

            &:first-child
              margin-left       150px

        .permissions-form
          overflow              visible
          margin-top            62px

          .switcher
            text-align          center
            float               left
            width               140px

            .koding-on-off
              display           inline-block

          .formline
            height              50px
            line-height         50px
            margin              0
            padding             0
            border-top         1px solid #EFEFEF

            .input-wrapper
              > .kdview
                width           140px
                ellipsis()
                fl()

          .permissions-module
            color               #00B057
            border              none

            &.formline
              margin-top        30px

    &.membership-policy
      .policy-view-wrapper
        height                95vh

        .koding-on-off
          margin-top          14px
          fl()

        > .kdbutton.edit-link
          size                auto, 33px
          rounded             24px
          bg                  color, #1aaf5d
          margin              14px 0 0 0
          fl()

          span
            line-height       33px
            font-size         12px

      .button-bar
        margin-right          20px

      section.formline
        margin-left           100px
        margin-top            10px
        padding               10px

        h2
          padding-left        0
          padding-bottom      0px
          height              17px
          // font-weight 600
          font-size           14px
          // border none
        h3
          font-size           12px
          padding-bottom      10px

        > div > p
          margin-top          0px
          margin-bottom       15px
          padding-left        0px

        > a
          margin-left         10px

        button
          height              24px
          line-height         8px

        .policylanguage-editor
          width               auto
          display             block
          clear               both
          button
            margin            10px 10px 0 0
          textarea
            width             100%
            min-width         400px
            min-height        100px

        div.formline
          borderBox()
          margin              0
          padding             10px 0
          bg color,           transparent
          border              none

          > span
            margin-left       20px
            display           inline-block
            hidden()

      .policy-overlay
        size                  100%, 100vh
        position              fixed
        top                   0
        margin-left           -34px
        z-index               10
        bg                    color, rgba(255,255,255,.75)

      p.coming-soon
        size              460px, 128px
        rounded           6px
        top               55px
        left              50%
        margin            0 0 0 -230px
        font-size         30px
        color             #1aaf5d
        line-height       128px
        z-index           11
        text-align        center
        background-color  rgba(0,0,0,.05)
        abs()

        .icon
          r-sprite        "admin", "coming-soon"
          display         inline-block
          margin-right    22px
          top             4px
          rel()

      .policy-language-image-wrapper
        fr()
        width                       auto
        border                      1px solid #e8e8e8
        rounded                     5px
        bg                          color, #fbfbfb
        margin-left                 10px
        img
          width                     auto
          height                    auto
          margin                    3px 3px 0
        span
          border-top                1px solid #e8e8e8
          display                   block
          padding                   10px
          font-size                 11px

.billing-history
.your-subscriptions
  height            auto
  min-height        70px

.subscription-gauges
  position          initial !important

.kdmodal-content
  .billing-link
    padding         10px 50px
    display         block
    color           #999
    text-decoration none
    span
      &.description
        font-style  italic
        font-size   14px
        color       #444

.billing-link
  a
    color                 linkColor1

.vm-description
.alloc-description
.overage-description
  section
    padding-left          95px
    color                 #aaa

.no-title
  span
    display               none

.billing-history-modal
  .labelish
    font-weight       bold
    font-size         12px
    line-height       26px

  span.ttag
    // -webkit-font-smoothing          antialiased
    display           inline-block
    padding           3px 5px 1px 5px
    font-size         9px
    font-weight       bold
    color             white
    text-transform    uppercase
    text-shadow       none
    rounded(3px)

  span.ttag.paid
    bg(color,positiveGreen)
  span.ttag.pending
    bg(color,darkorange)
  span.ttag.cancelled
  span.ttag.declined
    bg(color,crimson)

  .swappable-wrapper
    span,strong,cite
      padding-left        5px
      font-style          normal


// outline button styling
.AppModal--admin

  .outline.kdbutton
    background              none
    border                  2px solid #4a4e52

    &:active
      span
        color               #4a4e52

    span
      color                 #4a4e52
      line-height           26px

    &.red
      border-color          #e14a35

      span
        color               #e14a35

      &:hover span
        color               #FFF



.AppModal--admin .apitokens

  &.member-related
    margin-top              40px

    .details
      size                  300px, 40px

      .code
        font-size           14px
        color               #434343

      .time
        font-size           12px
        color               #999
        font-style          italic

  .kdlistitemview-member
    height                  40px

  .settings-row
    margin-bottom           15px
    border-bottom           1px solid #dedede
    padding                 15px 0
    font-size               14px
    color                   #434343

  .koding-on-off
    abs                     16px, 10px

  .delete
    margin-top              5px

  .add-new
    abs                     16px, 0px

    &[disabled=disabled]
      opacity               .5


// members tab styling
.AppModal--admin .member-related

  .kdtabpaneview
    kalc                    height, (100% \- 62px)

  .listview-wrapper
    kalc                    height, (100% \- 151px)

  .members-commonview

    main.kdscrollview > .kdlistview
      padding-right         25px
      borderBox()

  .clear-search
    font-size               13px
    color                   #8d8d8d
    pointer()

  .search
    margin                  25px 0

    .label
      font-size             14px
      color                 #727272
      line-height           40px
      margin-right          15px

    .kdselectbox
      size                  180px, 40px
      margin-right          15px
      border-color          #DBDBDB
      borderBox()

      .title
        line-height         40px
        font-size           14px
        color               #727272

      .arrows
        top                 13px

    .kdinput
      size                  230px, 40px
      border-color          #DBDBDB

  .kdlistitemview-member
    padding                 15px 0
    border-top              1px solid #DEDEDE
    font-size               14px
    color                   #4c4c4c
    button
      margin-right          15px

  .avatarview
    margin                  0 12px 0 0
    fl()

  a
    color                   #4c4c4c
    height                  40px
    noTextDeco()

  .details
    fl()
    size                    250px, 40px

  .fullname
    font-size               14px
    color                   #434343

  .nickname
    font-size               14px
    color                   #8D8D8D

  .email
    size                    250px, 40px
    line-height             40px
    color                   #8D8D8D
    fl()
    ellipsis()

  .role
    abs()
    right                   0
    line-height             40px
    height                  40px
    font-size               14px
    color                   #434343
    vendor                  user-select, none
    pointer()

  .role.active
  .settings-visible
    .settings-icon
      vendor                transform, rotate(270deg)
      width                 10px
      margin-left           6px

  .clear
    clear                   both

  .settings-icon
    display                 inline-block
    r-sprite                'app', 'sidebar-toggle'
    vendor                  transform, rotate(180deg)
    margin-left             10px

  .settings
    padding-top             15px

  .invite-view
    .kdcustomscrollview
      kalc                  height, (100% \- 70px)
      margin-bottom         20px


.AppModal--admin .general-settings-view

  fieldset
    margin-top              0

  .warning-text
    font-size               12px
    color                   #afafaf
    top                     -24px
    rel()

  .kdinput[disabled]
    opacity                 .5

  .kdinput.file
    z-index                 1
    top                     110px
    left                    142px
    line-height             30px
    size                    118px, 30px
    opacity                 0
    pointer()
    abs()

  .AppModal-section.deletion
  .AppModal-section.avatar-upload

    margin-top              30px
    padding-top             30px
    border-top              1px solid #ECECEC

  .AppModal-section.deletion

    .AppModal-sectionDescription
      margin-bottom         14px

    fieldset
      button
        fl()

      p
        margin-left         26px
        width               500px

  .AppModal-section.avatar-upload

    .remove
      hidden()

    &.with-logo

      .avatar
        border-color        transparent !important // override computed

      .upload
        margin-top          40px !important

      .remove
        visible()
        display             inline-block
        margin              80px 0 0 -120px

      .upload-input
        top                 70px

      .avatar
        bg                  size, 110px 110px

    .avatar
      size                  110px, 110px
      rounded               7px
      border                1px inset transparent
      margin-right          35px
      display               inline-block
      borderBox()

    .kdbutton
      width                 120px

      &.upload
        margin-top          80px

      canvas
        margin-top          7px


// Topic tab styling
.AppModal--admin .moderation

  .kdtabpaneview
    kalc                    height, (100% \- 62px)

  .listview-wrapper
    kalc                    height, (100% \- 91px)

    .kdlistview
      padding-right         20px

  .search
    margin                  25px 0
    position                relative

    &:before
      display               block
      abs                   0 0 11px 200px
      content               ''
      z-index               5
      r-sprite              'admin', 'search'

    .label
      font-size             14px
      color                 #727272
      line-height           40px
      margin-right          15px

    .kdselectbox
      size                  180px, 40px
      margin-right          15px
      border-color          #DBDBDB
      borderBox()

      .title
        line-height         40px
        font-size           14px
        color               #727272

      .arrows
        top                 13px

    .kdinput
      size                  230px, 40px
      border-color          #DBDBDB

  .kdlistitemview-topic
    padding                 5px 0
    border-top              1px solid #EFEFEF
    font-size               14px
    color                   #4c4c4c


  a
    color                   #4c4c4c
    height                  40px
    noTextDeco()

  .details
    fl()
    size                    250px, 40px
    line-height             40px


  .topicname
    font-size               14px
    color                   #434343
    font-weight             400

  .type-label
    float                   left
    line-height             40px

    &:before
      display               block
      abs                   22px 0 0 220px
      r-sprite              'admin', 'linked'
      content               ''

  .moderate-role
    abs()
    right                   0
    line-height             40px
    height                  40px
    font-size               14px
    color                   #D0D0D0
    vendor                  user-select, none
    pointer()

    &:hover
    &.active
      color                 #00B057

  .moderate-role.active .settings-icon
    vendor                  transform, rotate(270deg)
    width                   10px
    margin-left             6px

  .clear
    clear                   both

  .settings-icon
    display                 inline-block
    r-sprite                'app', 'sidebar-toggle'
    vendor                  transform, rotate(180deg)
    margin-left             10px

  .settings
    padding                 23px 18px
    bg                      color, #F2F2F2
    border                  1px solid #E4E4E4

  .delete-topic
    abs                     8px 100px 0 0
    size                    32px 32px

    &:before
      abs                   8px 0 0 8px
      content               ''
      display               block
      r-sprite              'admin', 'delete-topic'

  .topics-connected
  .topics-similar
    color                   #B8B8B8
    letter-spacing          0.8px
    font-size               12px

  .topics-similar
    margin-top              26px

  .similar-item
    height                  34px
    line-height             34px
    border-top              1px solid #E2E2E2

    &:first-child
      border-top            none

  .remove-topic
    bg                      color, #FF6B5D
    margin-top              12px

    &:focus
      box-shadow            0 0 10px -2px #FF6B5D

    span
      color                 #FFFFFF

  .link-topic
    bg                      color, #00B057
    margin-top              12px
    margin-right            15px

    span
      color                 #FFFFFF

  .whitelist-topic
    margin-top              12px
    border-color            #00B057

    span
      color                 #00B057

  .topics-empty
    color                   #A9A9A9
    text-align              center
    padding                 30px 0 43px 0


.AppModal--admin

  .no-item-view
    text-align              center
    margin-top              70px
    font-size               15px
    color                   #a1a1a1

  .kdbutton.compact
    .kdloader canvas
      margin-top            5px

  .define-stack-view

    .kdtabhandle-tabs
      width                 100%

      .kdtabhandle
        max-width           250px !important
        margin-top          0

    .providers
      .text.header
        margin-bottom       15px

    .buttons
      text-align            right

    .credential-list
      .credential-item
        .inuse-tag
          margin-top        -10px

.AppModal--admin .invitations

  .invite-view
  .members-commonview
    height                  calc(100% \- 40px)

    main
      padding               5px 25px 5px 5px
      borderBox()

  .kdlistitemview-member
    height                  40px

    &.settings-visible
      height                85px

  .kdbutton

    &.invite-members
      margin-right          25px
      fr()

  .information
    font-size               14px
    color                   #3E3E3E
    margin                  20px 0 0

    p
      color                 #7B7B7B
      font-size             15px
      line-height           1.5em
      margin-bottom         25px
      max-width             550px
      text-rendering        geometricPrecision

    label
      color                 #929292
      display               inline-block
      font-size             11px
      font-family           Soleil
      letter-spacing        0.05em
      size                  30%, 20px
      text-transform        uppercase
      text-rendering        geometricPrecision
      &:first-of-type
        width               40%
      &:last-of-type
        width               30%

      span
        fr()

  .invite-inputs
    margin-bottom           10px
    rel()

    .kdcustomcheckbox
      abs                   10px 10px
      z-index               1

    .kdinput
      border-color          #DDDCDD
      size                  30%, 40px
      margin-right          0
      rounded               0
      z-index               0
      &:first-of-type
        border-right-width  0
        rounded             3px 0 0 3px
        width               40%
      &:last-of-type
        border-left-width   0
        rounded             0 3px 3px 0
        padding-right       37px

    .user-email
      width                 240px

    &:hover
      .cancel
        display             inline !important

    .icon
      abs()
      margin-top            12px

      &.cancel
        r-sprite            'app', 'red-close'
        display             none
        pointer()


  .kdlistitemview-member
    &.accepted
      time
        right               0

    &.pending
      time
        pointer()

    .details
      width                 520px
      line-height           40px

      span
        color               #8d8d8d

    time
      display               block
      right                 15px
      line-height           40px
      text-align            right
      size                  auto, 40px
      vendor                user-select, none
      abs()


    .settings-icon
      abs()
      top                   30px
      right                 0
      margin-left           0
      pointer()


// stack settings styling
.AppModal--admin .stacks

  .text
    font-size               14px

    &.header
      color                 #02A74D
      font-size             17px
      // font-family           adelle

      margin-bottom         10px

  .kdloader
    padding                 0

  .main-loader
    top                     42%
    height                  auto
    width                   100%
    text-align              center
    abs()

    .text
      margin-top            10px


  button.solid.compact.nav
    margin-left             10px

    &[disabled]
      opacity               .4

    &.prev
      right                 80px

  form
    .formline
      padding               0

  .no-stack-found
    .text
      margin-bottom         10px

  .providers
    display                 flex
    display                 -webkit-flex
    flex-flow               row wrap
    -webkit-flex-flow       row wrap
    margin                  20px 0 30px

      .button-title
        display             none

      &.selected
        border-color        green

      &[disabled]
        background          #EEE
        opacity             .5
        vendor              filter, grayscale(100%)

      &.github
        bg image,           url("/a/images/vendors/github.png")
        bg size,            auto 100px
        bg position,        50px -2px

      &.bitbucket
        bg image,           url("/a/images/vendors/bitbucket.png")
        bg size,            auto 100px
        bg position,        47px -3px

      &.aws
        bg image,           url("/a/images/vendors/amazon.png")
        bg size,            auto 40px
        bg position,        38px 22px

      &.koding
        bg image,           url("/a/images/vendors/koding.png")
        bg size,            auto 40px
        bg position,        26px

      &.digitalocean
        bg image,           url("/a/images/vendors/digitalocean.png")
        bg size,            180px
        bg position,        7px 33px

      &.rackspace
        bg image,           url("/a/images/vendors/rackspace.png")
        bg size,            180px
        bg position,        8px 25px

      &.engineyard
        bg image,           url("/a/images/vendors/engineyard.png")
        bg size,            auto 40px
        bg position,        25px 28px

      &.google
        bg image,           url("/a/images/vendors/google.png")
        bg size,            200px
        bg position,        0 23px

  .top
    display                 flex
    display                 -webkit-flex
    margin-bottom           10px

    .text.intro
      margin                auto

    button.action
      margin                auto
      margin-left           4px
      margin-top            6px
      min-width             162px


  button
    &[disabled]
      opacity               .5

  .kdformview
    margin-top              20px

    .kdlabel
      line-height           39px
      min-width             160px
      fl()

  .step-creds
    height                  100%

    .kdformview
      height                100%
      border-bottom         none
      overflow              auto

      .advanced-field
        display             none

      &.in-advanced-mode
        .advanced-field
          display           block

    .listview-wrapper
      .kdscrollview
        height              calc(100% \- 30px)

  &.form-open
    .listview-wrapper
      display               none


  .kdscrollview > .define-stack-view
    overflow                hidden

    > .kdscrollview
      height                calc(100% \- 193px)

  .kdcustomscrollview main .define-stack-view
    height                  calc(100% \- 150px)

  .kdtabpaneview.stack-template
    height                  calc(100% \- 43px)


  .stack-editor-footer
    height                  90px
    background              #FFF
    border                  1px solid #e4e4e4
    border-top              none
    margin-bottom           25px
    rounded                 0 0 4px 4px

    .section
      size                  50%, 90px
      overflow              hidden
      fl()
      borderBox()

      &:last-child

        border-left         1px solid #e4e4e4

        .icon
          r-sprite          'admin', 'manual'

      .icon
        r-sprite            'admin', 'invite'
        display             inline-block
        margin              30px 30px 0 30px
        fl()

      .text
        fl()
        margin-top          23px

      p, a
        font-size           16px
        color               #A8A1A1
        line-height         23px
        font-weight         300

      a
        text-decoration     underline


  .edit-mode

    .step-define-stack
      margin-top            -20px

    .header.title, .description
      hidden()

  .steps-view
    display                 flex
    display                 -webkit-flex
    margin-bottom           30px

    cite.vline
      size                  100%, 1px
      border-top            1px solid #BDBDBD
      left                  0
      top                   20px
      abs()

    div
      width                 300px
      margin                auto
      text-align            center

      .step
        size                40px, 40px
        left                -20px

        color               white
        font-size           20px
        font-family         adelle
        text-align          center
        border-radius       40px
        background-color    #BDBDBD

        padding-top         8px
        margin-left         50%

        borderBox()
        rel()

      .title
        width               auto
        margin-top          5px
        color               #BDBDBD

      &.selected
        .step
          background        #02A74D
        .title
          color             #02A74D

  .repo-listview
    margin-top              20px
    height                  calc(100% \- 60px)

  .select-view

    display                 flex
    display                 -webkit-flex

    margin-top              20px
    borderBox()

    .kdselectbox
      min-width             130px
      padding-top           2px
      border-radius         3px
      borderBox()

      .arrows
        top                 12px

    div, input, button
      margin                auto !important
      margin-right          10px !important
      height                40px
      min-width             80px

    button
      margin-right          0 !important


.AppModal--admin .stacks-v2

  .private-variables

    &.kdtabhandle.private-variables.notification
      b
        rel()
        left                -10px

    .indicator
      size                  18px, 18px
      color                 white
      bg                    color, #F76E6E
      text-align            center
      font-size             11px
      line-height           18px
      font-weight           200
      rounded               18px
      vendor                transition, top .2s ease
      abs                   66px 10px 0 0

      &.in
        top                 11px

      &.red
        bg                  color, darkred

  .readme
    .editor-view
      rounded               4px 4px 0 0

  .readme
    .preview-button
      bg                    color, white !important
      z-index               13
      bottom                0
      right                 15px
      abs()

  .readme
  .private-variables
    > .kdview
      padding-right         0

  .message-view
    font-size               14px
    height                  50px

    pre
      display               inline
      background-color      #eee
      font-size             12px
      padding               2px 3px
      border                1px solid #ddd
      rounded               2px


  .step-define-stack

    > .kdbutton
      z-index               14

    .editor-view
      rounded               4px 4px 0 0

    .showlogs-button
    .template-preview-button
      z-index               13
      right                 0
      bottom                0
      margin                0 15px 15px 0
      bg                    color, white !important
      abs()
      &:focus
        vendor              box-shadow, none

    .template-preview-button
      right                 78px

  .kdview.credential-status
    width                   200px
    line-height             49px
    font-size               13px
    text-align              right
    right                   10px
    top                     0
    z-index                 1
    abs()

    .link
    .message
      display               inline-block

    .link
      color                 #02A74D
      text-decoration       underline
      cursor                pointer

    .icon
    .kdloader
      width                 8px
      display               inline-block
      margin-right          10px

    .icon
      &.not
        r-sprite            account, 'cross-8'
      &.verified
        r-sprite            account, 'check-8'

  .kdview.output
    bottom                  0
    vendor                  transition, height .2s ease
    background-color        rgb(250, 250, 250)
    border-radius           0 0 2px 2px
    z-index                 15
    height                  0 !important
    rounded                 0 0 4px 4px
    borderBox()
    abs()

    &.raise
      height                calc(70% - 33px) !important
      border-top            1px solid #e4e4e4

    pre.output-view
      height                auto
      margin                0 10px

    .kdlabel
      line-height           49px
      text-indent           17px
      margin                0

.AppModal--admin .members
  .label
  .kdselectbox
    hidden()


// integrations view

.AppModal--admin .integrations

  .integration-details
    overflow-y              scroll

  .all-integrations
    height                  calc(100% \- 100px)

  .kdtabhandle
    max-width               230px !important // override element style

  .error-view
    text-align              center
    margin-top              70px
    font-size               15px
    color                   #a1a1a1

  .configured-list
    margin-top              20px

    .integration
      border-top            1px solid #dedede
      margin-left           60px
      padding               15px 0
      rel()
      borderBox()

      &:hover
        .edit
          visible()

      .tag
        font-size           10px
        display             inline-block
        margin-left         6px
        line-height         10px
        padding             3px 6px
        color               #FFF
        background          #434343
        border-radius       2px

      .by
        fl()
        color               #8d8d8d
        font-size           12px
        line-height         25px

      time
        color               #8d8d8d
        margin-left         4px
        font-size           12px
        line-height         25px

      .edit
        abs()
        pointer()
        hidden()
        line-height         78px
        right               15px
        top                 0
        vendor              user-select, none

        span
          r-sprite          'app', 'sidebar-toggle'
          display           inline-block
          vendor            transform, rotate(180deg)

  .integration-view
    border-top              1px solid #dedede
    padding                 15px 0
    font-size               14px
    color                   #4c4c4c

    &.list-visible
      padding-bottom        0

    img
      size                  48px, 48px
      margin-right          10px
      fl()

    p
      color                 #434343
      font-size             15px

    .kdbutton.add
    .kdbutton.configure
      abs()
      right                 15px
      top                   22px

      .kdloader
        margin              0 !important
        padding             0

  .integration-channels
    font-size               14px

  header
    p
      font-size             17px !important

    span
      color                 #9e9ea6

  .description
    margin-bottom           10px
    font-size               14px

    p
      line-height           25px

  .setup
    margin                  30px 0
    padding                 30px 30px 40px 30px
    rounded                 6px
    border                  1px solid #e8e8e8
    shadow                  0 1px 0 rgba(0, 0, 0, .25)
    overflow                hidden
    width                   729px
    borderBox()

    h4
      font-size             18px
      margin-bottom         20px

    label
      display               block
      width                 260px
      fl()

    .kdselectbox
      fl()
      margin-top            8px
      width                 400px

  .buttons
    text-align              right

    .cancel
      margin-right          10px

  section.instructions
  section.settings
    border                  1px solid #e8e8e8
    rounded                 6px
    margin                  30px 0
    padding                 30px
    shadow                  0 1px 0 rgba(0,0,0,.25)
    borderBox()

    h4.title
      font-size             24px
      font-weight           400
      margin-bottom         8px
      color                 #555459

    p.subtitle
      font-size             18px
      color                 #6E6D71
      margin-bottom         20px

    hr
      margin                20px 0
      bg                    color, #E8E8E8
      height                1px
      border                none

  section.settings

    margin-bottom           100px

    .AppModal-form
      margin                0
      padding               0

    .formline
      overflow              hidden
      margin-bottom         30px
      padding-right         5px

      &.button-field
       border-top           none !important
       padding              5px !important

    label
      fl()
      width                 255px
      margin-right          40px

      p
        font-size           18px
        color               #555459
        margin-bottom       10px


    .input-wrapper
      fl()
      width                 367px

      .kdinput
        borderBox()
        margin-top          20px

      .kdinput.select
        size                367px, 34px
        bg                  color, #FFF
        margin-top          26px

  .formline
    .link
      color                 #00b057
      display               inline-block
      padding               5px 0 0 10px
      pointer()
      fr()

      &.label
        cursor              default

    .status
      display               inline-block
      padding               0 10px
      text-transform        uppercase
      height                29px
      line-height           29px
      color                 #FFF
      margin-top            20px
      rounded               3px
      pointer()

      &.disable
        bg                  color, #d75b5b

      &.enable
        bg                  color, #61c17f

  .event-cbes
    fl()

    .event-cb
      overflow              hidden

      input
        display             inline-block
        width               auto
        vendor              user-select, none

      label
        display             inline-block
        float               none
        width               auto
        top                 1px
        rel()


.kdmodal.content-modal
  overflow                  auto
  .kdmodal-content
    font-size               14px !important

.stack-template-list
  height                    auto


// stack onboarding styling
.stack-onboarding
.step-define-stack

  .header
    text-align              center

  .title
  .header.title.text
    font-size               24px
    color                   #00B057
    margin-bottom           18px

  .description
    font-size               18px
    color                   #565656
    font-weight             300
    width                   450px
    margin                  0 auto


// stack onboarding styling
.stack-onboarding

  .kdbutton
    &.green
      background            #00B057

    &.medium
      height                50px
      padding               0 35px

  .footer
    text-align              center
    margin-left             42px

    .kdbutton
      width                 120px

    .outline
      border                1px solid #A8A1A1

      &.back
        margin-right        8px

      span
        color               #A8A1A1

  .skip-setup
    color                   #A8A1A1
    font-size               16px
    line-height             22px
    margin-top              16px
    text-align              center
    font-weight             300
    pointer()

  .box-wrapper
    width                   525px
    overflow                hidden
    margin                  57px 0 0 123px !important

    &.services
      margin                28px 0 0 39px !important

  .box
    size                    256px, 112px
    rounded                 4px
    border                  1px solid #E7E7E7
    background              #fff
    borderBox()
    fl()
    pointer()

    img
      margin                23px 0 0 49px

    &:nth-child(2n -1)
      margin-right          11px

    .label
      font-size             16px
      text-align            center
      font-weight           300
      margin-top            13px

  .services
    .box
      size                  227px, 95px

  .coming-soon
    cursor                  not-allowed
    background              transparent

    img
      opacity               .4

    .label
      color                 #9E9E9E

  .box.selected
    border                  3px solid #00B057

  .get-started

    .description
      width                 400px
      margin-bottom         30px

    .item
      width                 290px
      text-align            center
      margin-left           35px
      fl()

      p
        font-size           18px
        color               #434343
        margin-bottom       15px

      span
        color               #B2B2B2
        font-size           18px
        font-weight         300

      .icon
        r-sprite            'admin', 'document'
        margin              0 auto 38px

        &.invite-users
          r-sprite          'admin', 'team'

    .artwork
      margin-top            98px
      overflow              hidden
      margin-left           12px

    .arrow
      r-sprite              'admin', 'arrow'
      margin                0 auto 40px
      rel()
      left                  -8px

  .provider-selection

    height                  auto

    .providers
      height                396px

    .provider
      &.koding
        img
          margin            21px 0 0 55px

        .label
          margin-top        9px

      &.engineyard
        rel()
        top                 -9px

        img
          margin            16px 0 0 38px

        .label
          margin-top        4px

      &.azure
        rel()
        top                 -9px

        img
          margin            25px 0 0 63px

        .label
          margin-top        10px

      &.digitalocean
        rel()
        top                 -9px

        img
          margin            29px 0 0 36px

        .label
          margin-top        13px

      &.googlecloud
        rel()
        top                 -17px

        img
          margin            32px 0 0 34px

      &.rackspace
        rel()
        top                 -17px

        img
          margin            27px 0 0 50px

  .code-setup

    height                  auto

    .kdtabhandle .title
      position              relative
      top                   15px
      left                  22px

    .description
      width                 350px

    .box-wrapper
      rel()
      top                   1px
      left                  -10px
      height                240px

    .github
      img
        margin              31px 0 0 54px

    .bitbucket
      img
        margin              27px 0 0 37px

    .gitlab
      top                   11px
      rel()

      img
        margin              9px 0 0 42px

    .yourgitserver
      top                   11px
      rel()

      img
        margin              3px 0 0 98px

      .label
        margin              15px 0 0 -3px

    + .footer
      margin                40px 0 0 18px

  .configuration

    height                  auto

    .footer
      margin-left           22px

    .description
      width                 350px
      margin-bottom         31px

    .kdtabview
      border                1px solid #D8D8D8
      size                  523px, 258px
      margin                0 auto 54px
      rounded               0 0 6px 6px
      bg                    color, #fff
      top                   10px
      left                  11px
      rel()

    .kdtabhandle
      height                70px
      box-shadow            none !important
      width                 153px
      max-width             153px !important
      bg                    color, #fff !important
      border                1px solid #D8D8D8
      margin-right          3px
      rounded               6px 6px 0 0

      b
        size                auto, 22px
        line-height         22px
        font-size           16px
        color               #2B2A49
        top                 12px
        left                45px
        abs()

      .title
        margin              0
        padding             0 25px 0 10px
        font-size           12px
        font-weight         200
        color               #606060
        line-height         34px

      .kdselectbox
        border              none
        top                 15px
        left                15px
        rel()

        .arrows
          height            6px
          vendor            transform, rotate(180deg)
          margin-top        4px

      &.active
        bg                  color, #fff !important
        border-bottom       1px solid #fff

      &.plus
        border-left         1px solid #D8D8D8
        width               153px

        span
          display           inline-block !important
          margin            25px 10px 0 20px !important
          opacity           .3

        &:after
          content           'Add another'
          font-size         16px
          line-height       18px
          font-weight       300
          color             #BBBBC4
          top               -6px
          left              -3px
          rel()

    .kdtabhandlecontainer
      box-shadow            none
      size                  526px, 70px
      margin                0 auto
      rel()
      top                   11px
      left                  11px

  .server-configuration

    section
      fl()
      width                 150px
      margin-top            38px

      &:first-child
        margin-left         59px

      p
        color               #434343
        font-size           16px
        line-height         22px
        margin-bottom       16px
        font-weight         bold

    .row
      overflow              hidden
      margin-bottom         10px

      .kdcustomcheckbox
        fl()

      .label
        fl()
        margin-left         8px
        font-size           16px
        line-height         22px
        color               #434343
        font-weight         100
        top                 -1px
        pointer()
        rel()

  .stack-preview

    width                   626px
    min-height              320px
    padding-bottom          20px
    margin                  0 auto
    bg                      color, #EFEFEF
    rounded                 4px 4px 0 0
    line-height             24px
    font-size               15px
    color                   #474747
    margin-top              27px
    left                    11px
    rel()

    .line
      overflow              hidden

    .header
      line-height           45px
      height                45px
      font-size             14px
      color                 #BCBCBC
      text-align            left
      border-bottom         1px solid #DEDEDE
      text-indent           16px

    .number
      color                 #C5C5C5
      width                 28px
      text-align            right
      margin-right          15px
      font-size             12px
      line-height           18px
      fl()

    .has-markdown
      pre
        padding             0
        font-size           12px
        line-height         18px
        fl()

      code
        bg                  color, transparent
        border              none
        line-height         18px
        padding             0


  &.main-content.get-started
    .footer
    .stack-preview
      hidden()

.AppModal.AppModal--admin
  .TeamInvite
    padding                 5px
    borderBox()
    textarea
      size                  100% 300px

    button
      display               block
      margin                20px 0

    .kdscrollview
      kalc                  height, (100% \- 80px)

    .red
      margin-right          20px

@keyframes hilite

  0%
    background              rgba(249, 230, 182, .40)
  25%
    background              rgba(249, 230, 182, .80)
  50%
    background              rgb(249, 230, 182)
  75%
    background              rgba(249, 230, 182, .80)
  100%
    background              none

.hilite
  vendor                    animation, hilite 1.5s


// white stack, beware !importants here..

.AppModal--admin

  &.team-settings
    .kdmodal-content
       margin-top           -40px !important

    .kdmodal-inner
      > .close-icon
        right               20px

  .kdmodal-content
    height                  100% !important

  .AppModal-nav
    margin-top              40px

  .kdtabpaneview
    &.general
    &.members
    &.invitations
    &.integrations
      padding-top           40px

  .breadcrumb
    font-size               18px
    color                   #00B057

    .active
      font-weight           regular

.stacks

  .stack-onboarding.main-content
    padding-top             40px

  .ace_gutter-layer
    bg                      color, #FFF

  .define-stack-view
    .kdtabhandle
    .kdtabhandlecontainer
      height                42px !important
      line-height           42px
      box-shadow            none

    .kdtabpaneview
      bg                    color, #FFF
      border                1px solid #E4E4E4
      border-top            none
      borderBox()

      > div
        padding             15px
        borderBox()

      .define-stack-view
        padding             0

    .kdtabhandlecontainer .kdtabhandle.active
      box-shadow            none !important
      bg                    color, #FFF !important
      border                1px solid #E4E4E4
      border-bottom         1px solid #FFF
      top                   1px
      rounded               4px 0 4px 0

    .kdtabhandlecontainer
      border-bottom         1px solid #E4E4E4

  .credential-creation-intro
    margin                  20px 0 40px 160px !important
    hidden()

    p:first-child
      font-size             16px
      font-weight           bold

    + .kdformview
      border-bottom         none !important
      height                calc(100% \- 180px) !important

  .credentials-form-view
    label
      text-align            right
      margin-right          10px !important

  .kdtabpaneview
    &.private-variables
    &.readme
    &.credentials
      height                calc(100% \- 43px)

  .stack-name
    min-width               100px !important
    line-height             30px !important
    height                  30px

  .template-title-form
    overflow                hidden
    display                 flex

  .formline.template-title
    flex-grow               1

  .formline.template-title + .buttons
    fl()

  input.template-title
    height                  30px
    line-height             30px
    margin-right            10px !important

  .stacktemplates
    padding-top             40px
    borderBox()

  .kdtabhandle.credentials

    &.warning
      width                 154px

    .warning
      display               inline-block
      r-sprite              'admin', 'warning'
      top                   11px
      left                  110px
      abs()

  .credential-item .buttons
    width                   370px
    text-align              right

  .define-stack-view.edit-mode
    .step-define-stack .editor-pane.editor-view
      margin-top            20px

  .step-creds.form-open
    .credential-creation-intro
      visible()

    .credentials-form-view
      height                auto !important

    .add-credential-scroll
      styleScrollBars       rgba(95, 95, 95, 1)

      .kdscrolltrack.vertical
        right               -15px

  .editor-main > .kdview
    height                  100% !important


.kdtooltip.stack-tooltip > .wrapper
  font-size                 13px !important
  font-weight               400 !important
  border-radius             6px !important
  padding                   10px 15px
  line-height               18px
