%%-*- mode: erlang -*-
%% Erlang compiler options

{erl_opts, [
            %% fail_on_warning,
            bin_opt_info,
            %% warn_missing_spec,
            debug_info,
            warn_export_all
]}.

%% == ErlyDTL Compiler ==

%% Options for the ErlyDTL compiler
{erlydtl_opts, []}.

%% == EUnit ==

%% Options for eunit:test()
{eunit_opts, []}.

%% Additional compile options for eunit. erl_opts from above is also used
{eunit_compile_opts, []}.

%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, false}.

%% Whether to print coverage report to console. Default is `false'
{cover_print_enable, false}.

%% == Dependencies ==

%% Where to put any downloaded depandencies. Default is `deps'
%{deps_dir, ["./deps"]}.

%% What dependancies we have, depandencies can be of 3 forms, an application
%% name as an atom, eg. mochiweb, a name and a version (from the .app file), or
%% an application name, a version and the SCM details on how to fetch it (SCM
%% type, location and revision). Rebar currently support git, hg, bzr and svn.

{deps, [
  {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.6.1"}}},
  {sockjs, ".*", {git, "git://github.com/sockjs/sockjs-erlang.git", "master"}},
  {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
  {amqp_client, ".*", 
   {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-2.8.1-community"}}},
  {rabbit_common, ".*", 
   {git, "git://github.com/jbrisbin/rabbit_common.git", {tag, "rabbitmq-2.8.1-community"}}},
  {uuid, ".*",
    {git, "git://gitorious.org/avtobiff/erlang-uuid.git", "master"}},
  {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}}
]}.

%% == Subdirectories ==

%% Subdirectories?
{sub_dirs, ["apps/*"]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used]}.