.ThreadHeader-navLink~.ThreadHeader-navLink:before
  color                     #3D3C40
  content                   "/"
  display                   inline-block
  margin                    0 5px

.ThreadHeader-navLink a
  color                     #3D3C40
  text-decoration           none
  font-weight               $fw-bold

  &:hover
    text-decoration         underline


