{
  "swagger": "2.0",
  "basePath": "/remote.api",
  "host": "koding.com",
  "info": {
    "title": "Koding API",
    "version": "0.0.3",
    "description": "Koding API for integrating your application with Koding services",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "tags": [
    {
      "name": "system",
      "description": "System endpoints for various purposes"
    },
    {
      "description": "Model JAccount",
      "name": "JAccount"
    },
    {
      "description": "Model JApiToken",
      "name": "JApiToken"
    },
    {
      "description": "Model Collaboration",
      "name": "Collaboration"
    },
    {
      "description": "Model JCombinedAppStorage",
      "name": "JCombinedAppStorage"
    },
    {
      "description": "Model ComputeProvider",
      "name": "ComputeProvider"
    },
    {
      "description": "Model JCredential",
      "name": "JCredential"
    },
    {
      "description": "Model JCredentialData",
      "name": "JCredentialData"
    },
    {
      "description": "Model Kloud",
      "name": "Kloud"
    },
    {
      "description": "Model JMachine",
      "name": "JMachine"
    },
    {
      "description": "Model JProvisioner",
      "name": "JProvisioner"
    },
    {
      "description": "Model JStackTemplate",
      "name": "JStackTemplate"
    },
    {
      "description": "Model JCounter",
      "name": "JCounter"
    },
    {
      "description": "Model JCustomPartials",
      "name": "JCustomPartials"
    },
    {
      "description": "Model DataDog",
      "name": "DataDog"
    },
    {
      "description": "Model JProposedDomain",
      "name": "JProposedDomain"
    },
    {
      "description": "Model JDomainAlias",
      "name": "JDomainAlias"
    },
    {
      "description": "Model JForeignAuth",
      "name": "JForeignAuth"
    },
    {
      "description": "Model Github",
      "name": "Github"
    },
    {
      "description": "Model GitProvider",
      "name": "GitProvider"
    },
    {
      "description": "Model JGroupData",
      "name": "JGroupData"
    },
    {
      "description": "Model JGroupLimit",
      "name": "JGroupLimit"
    },
    {
      "description": "Model JGroup",
      "name": "JGroup"
    },
    {
      "description": "Model JPermissionSet",
      "name": "JPermissionSet"
    },
    {
      "description": "Model JGroupRole",
      "name": "JGroupRole"
    },
    {
      "description": "Model JInvitation",
      "name": "JInvitation"
    },
    {
      "description": "Model JLog",
      "name": "JLog"
    },
    {
      "description": "Model JName",
      "name": "JName"
    },
    {
      "description": "Model OAuth",
      "name": "OAuth"
    },
    {
      "description": "Model JPasswordRecovery",
      "name": "JPasswordRecovery"
    },
    {
      "description": "Model JEarnedReward",
      "name": "JEarnedReward"
    },
    {
      "description": "Model JReward",
      "name": "JReward"
    },
    {
      "description": "Model JRewardCampaign",
      "name": "JRewardCampaign"
    },
    {
      "description": "Model S3",
      "name": "S3"
    },
    {
      "description": "Model JSession",
      "name": "JSession"
    },
    {
      "description": "Model SharedMachine",
      "name": "SharedMachine"
    },
    {
      "description": "Model Sidebar",
      "name": "Sidebar"
    },
    {
      "description": "Model SocialChannel",
      "name": "SocialChannel"
    },
    {
      "description": "Model SocialChannelContainer",
      "name": "SocialChannelContainer"
    },
    {
      "description": "Model SocialMessage",
      "name": "SocialMessage"
    },
    {
      "description": "Model SocialMessageContainer",
      "name": "SocialMessageContainer"
    },
    {
      "description": "Model SocialNotification",
      "name": "SocialNotification"
    },
    {
      "description": "Model SocialAccount",
      "name": "SocialAccount"
    },
    {
      "description": "Model JComputeStack",
      "name": "JComputeStack"
    },
    {
      "description": "Model JTeamInvitation",
      "name": "JTeamInvitation"
    },
    {
      "description": "Model Tracker",
      "name": "Tracker"
    },
    {
      "description": "Model JUrlAlias",
      "name": "JUrlAlias"
    },
    {
      "description": "Model JUser",
      "name": "JUser"
    },
    {
      "description": "Model JVerificationToken",
      "name": "JVerificationToken"
    }
  ],
  "definitions": {
    "Error": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Error description",
          "example": "Something went wrong"
        },
        "name": {
          "type": "string",
          "description": "Name of the error",
          "example": "KodingError"
        }
      }
    },
    "DefaultSelector": {
      "type": "object"
    },
    "DefaultResponse": {
      "type": "object",
      "properties": {
        "ok": {
          "type": "boolean",
          "description": "If the request processed by endpoint",
          "example": true
        },
        "error": {
          "type": "object",
          "description": "Error description",
          "example": {
            "message": "Something went wrong",
            "name": "SomethingWentWrong"
          }
        },
        "data": {
          "type": "object",
          "description": "Result of the operation",
          "example": "Hello World"
        }
      }
    },
    "UnauthorizedRequest": {
      "type": "object",
      "properties": {
        "status": {
          "type": "integer",
          "description": "HTTP Error Code",
          "example": 401
        },
        "message": {
          "type": "string",
          "description": "Error description",
          "example": "The request is unauthorized, an api token is required."
        },
        "code": {
          "type": "string",
          "description": "Error Code",
          "example": "UnauthorizedRequest"
        }
      }
    },
    "JAccount": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "socialApiId": {
          "type": "string"
        },
        "environmentIsCreated": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        },
        "profile": {
          "properties": {
            "nickname": {
              "type": "string"
            },
            "hash": {
              "type": "string"
            },
            "firstName": {
              "type": "string"
            },
            "lastName": {
              "type": "string"
            },
            "avatar": {
              "type": "string"
            }
          }
        },
        "referrerUsername": {
          "type": "string"
        },
        "referralUsed": {
          "type": "boolean"
        },
        "isExempt": {
          "type": "boolean"
        },
        "globalFlags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "meta": {
          "type": "object"
        }
      }
    },
    "JApiToken": {
      "type": "object",
      "required": [
        "code",
        "group",
        "originId"
      ],
      "properties": {
        "_id": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "originId": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "JCombinedAppStorage": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "accountId": {
          "type": "string"
        },
        "bucket": {
          "type": "object"
        }
      }
    },
    "JCredential": {
      "type": "object",
      "required": [
        "provider",
        "title",
        "identifier",
        "originId"
      ],
      "properties": {
        "_id": {
          "type": "string"
        },
        "provider": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "identifier": {
          "type": "string"
        },
        "originId": {
          "type": "string"
        },
        "meta": {
          "type": "object"
        },
        "fields": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "verified": {
          "type": "boolean"
        },
        "accessLevel": {
          "type": "string"
        }
      }
    },
    "JCredentialData": {
      "type": "object",
      "required": [
        "meta",
        "originId"
      ],
      "properties": {
        "_id": {
          "type": "string"
        },
        "identifier": {
          "type": "string"
        },
        "meta": {
          "type": "object"
        },
        "originId": {
          "type": "string"
        }
      }
    },
    "JMachine": {
      "type": "object",
      "required": [
        "uid",
        "provider"
      ],
      "properties": {
        "_id": {
          "type": "string"
        },
        "uid": {
          "type": "string"
        },
        "queryString": {
          "type": "string"
        },
        "ipAddress": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        },
        "provider": {
          "type": "string"
        },
        "label": {
          "type": "string"
        },
        "slug": {
          "type": "string"
        },
        "provisioners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "credential": {
          "type": "string"
        },
        "users": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "groups": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "createdAt": {
          "type": "string",
          "format": "date"
        },
        "status": {
          "properties": {
            "modifiedAt": {
              "type": "string",
              "format": "date"
            },
            "reason": {
              "type": "string"
            },
            "state": {
              "type": "string"
            }
          }
        },
        "meta": {
          "type": "object"
        },
        "assignee": {
          "properties": {
            "inProgress": {
              "type": "boolean"
            },
            "assignedAt": {
              "type": "string",
              "format": "date"
            }
          }
        },
        "generatedFrom": {
          "properties": {
            "templateId": {
              "type": "string"
            },
            "revision": {
              "type": "string"
            }
          }
        },
        "channelId": {
          "type": "string"
        }
      }
    },
    "JProvisioner": {
      "type": "object",
      "required": [
        "slug",
        "originId"
      ],
      "properties": {
        "_id": {
          "type": "string"
        },
        "slug": {
          "type": "string"
        },
        "label": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "contentSum": {
          "type": "string"
        },
        "content": {
          "type": "object"
        },
        "accessLevel": {
          "type": "string"
        },
        "originId": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "meta": {
          "type": "object"
        }
      }
    },
    "JStackTemplate": {
      "type": "object",
      "required": [
        "title",
        "slug",
        "originId",
        "group"
      ],
      "properties": {
        "_id": {
          "type": "string"
        },
        "machines": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "title": {
          "type": "string",
          "description": "Title of this stack template"
        },
        "slug": {
          "type": "string",
          "description": "Unique slug of stack template"
        },
        "description": {
          "type": "string",
          "description": "Stack template description"
        },
        "config": {
          "type": "object",
          "description": "Private config data for stack template"
        },
        "accessLevel": {
          "type": "string"
        },
        "originId": {
          "type": "string"
        },
        "meta": {
          "type": "object"
        },
        "group": {
          "type": "string"
        },
        "template": {
          "properties": {
            "content": {
              "type": "string",
              "description": "Stack template content in JSON format"
            },
            "sum": {
              "type": "string",
              "description": "Sum of stringified JSON content, auto-generated"
            },
            "details": {
              "type": "object",
              "description": "Details data for stack template"
            },
            "rawContent": {
              "type": "string",
              "description": "Stack template content in YAML format"
            }
          }
        },
        "credentials": {
          "type": "object"
        }
      }
    },
    "JCounter": {
      "type": "object",
      "required": [
        "namespace"
      ],
      "properties": {
        "_id": {
          "type": "string"
        },
        "namespace": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "current": {
          "type": "number"
        }
      }
    },
    "JCustomPartials": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "partialType": {
          "type": "string"
        },
        "partial": {
          "type": "object"
        },
        "isActive": {
          "type": "boolean"
        },
        "isPreview": {
          "type": "boolean"
        },
        "previewInstance": {
          "type": "string"
        },
        "viewInstance": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date"
        },
        "publishedAt": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "JProposedDomain": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        },
        "machines": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "proxy": {
          "properties": {
            "mode": {
              "type": "string"
            },
            "username": {
              "type": "string"
            },
            "serviceName": {
              "type": "string"
            },
            "key": {
              "type": "string"
            },
            "fullUrl": {
              "type": "string"
            }
          }
        },
        "meta": {
          "type": "object"
        },
        "group": {
          "type": "string"
        }
      }
    },
    "JDomainAlias": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        },
        "machineId": {
          "type": "string"
        },
        "originId": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "JForeignAuth": {
      "type": "object",
      "required": [
        "username",
        "group",
        "provider",
        "foreignId"
      ],
      "properties": {
        "_id": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "provider": {
          "type": "string"
        },
        "foreignId": {
          "type": "string"
        },
        "foreignData": {
          "type": "object"
        }
      }
    },
    "JGroupData": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "slug": {
          "type": "string"
        },
        "payload": {
          "type": "object"
        }
      }
    },
    "JGroupLimit": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "member": {
          "type": "number"
        },
        "validFor": {
          "type": "number"
        },
        "instancePerMember": {
          "type": "number"
        },
        "allowedInstances": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "maxInstance": {
          "type": "number"
        },
        "storagePerInstance": {
          "type": "number"
        },
        "restrictions": {
          "properties": {
            "supports": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "provider": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "resource": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "custom": {
              "type": "object"
            }
          }
        }
      }
    },
    "JGroup": {
      "type": "object",
      "required": [
        "title"
      ],
      "properties": {
        "_id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "body": {
          "type": "string"
        },
        "socialApiChannelId": {
          "type": "string"
        },
        "avatar": {
          "type": "string"
        },
        "slug": {
          "type": "string"
        },
        "privacy": {
          "type": "string"
        },
        "visibility": {
          "type": "string"
        },
        "customize": {
          "properties": {
            "coverPhoto": {
              "type": "string"
            },
            "logo": {
              "type": "string"
            },
            "chatlioId": {
              "type": "string"
            }
          }
        },
        "disabledFeatures": {
          "type": "object"
        },
        "stackTemplates": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "defaultChannels": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowedDomains": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "config": {
          "type": "object"
        },
        "isApiEnabled": {
          "type": "boolean"
        },
        "payment": {
          "type": "object"
        },
        "countly": {
          "type": "object"
        }
      }
    },
    "JPermissionSet": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "isCustom": {
          "type": "boolean"
        },
        "permissions": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      }
    },
    "JGroupRole": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "isConfigureable": {
          "type": "string"
        },
        "isDefault": {
          "type": "boolean"
        }
      }
    },
    "JInvitation": {
      "type": "object",
      "required": [
        "code",
        "email",
        "hash",
        "groupName"
      ],
      "properties": {
        "_id": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "hash": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "groupName": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date"
        },
        "modifiedAt": {
          "type": "string",
          "format": "date"
        },
        "role": {
          "type": "string"
        },
        "inviterId": {
          "type": "string"
        }
      }
    },
    "JLog": {
      "type": "object",
      "required": [
        "type",
        "ip",
        "username"
      ],
      "properties": {
        "_id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "ip": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date"
        },
        "success": {
          "type": "boolean"
        },
        "severity": {
          "type": "number"
        },
        "payload": {
          "type": "string"
        }
      }
    },
    "JName": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "slugs": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "constructorName": {
          "type": "string"
        },
        "usedAsPath": {
          "type": "string"
        }
      }
    },
    "JPasswordRecovery": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "token": {
          "type": "string"
        },
        "redeemedAt": {
          "type": "string",
          "format": "date"
        },
        "expiresAt": {
          "type": "string",
          "format": "date"
        },
        "expires": {
          "type": "boolean"
        },
        "status": {
          "type": "string"
        },
        "requestedAt": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "JEarnedReward": {
      "type": "object",
      "required": [
        "originId"
      ],
      "properties": {
        "_id": {
          "type": "string"
        },
        "originId": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "unit": {
          "type": "string"
        },
        "amount": {
          "type": "number"
        }
      }
    },
    "JReward": {
      "type": "object",
      "required": [
        "originId"
      ],
      "properties": {
        "_id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "unit": {
          "type": "string"
        },
        "amount": {
          "type": "number"
        },
        "sourceCampaign": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date"
        },
        "providedBy": {
          "type": "string"
        },
        "originId": {
          "type": "string"
        },
        "confirmed": {
          "type": "boolean"
        }
      }
    },
    "JRewardCampaign": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "_id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "slug": {
          "type": "string"
        },
        "isActive": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        },
        "unit": {
          "type": "string"
        },
        "initialAmount": {
          "type": "number"
        },
        "maxAmount": {
          "type": "number"
        },
        "perEventAmount": {
          "type": "number"
        },
        "givenAmount": {
          "type": "number"
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "createdAt": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "JSession": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "clientIP": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "otaToken": {
          "type": "string"
        },
        "groupName": {
          "type": "string"
        },
        "guestId": {
          "type": "number"
        },
        "terminalId": {
          "type": "string"
        },
        "sessionBegan": {
          "type": "string",
          "format": "date"
        },
        "guestSessionBegan": {
          "type": "string",
          "format": "date"
        },
        "lastAccess": {
          "type": "string",
          "format": "date"
        },
        "foreignAuth": {
          "properties": {
            "gitlab": {
              "type": "object"
            },
            "github": {
              "type": "object"
            },
            "facebook": {
              "type": "object"
            },
            "linkedin": {
              "type": "object"
            }
          }
        },
        "returnUrl": {
          "type": "string"
        },
        "foreignAuthType": {
          "type": "string"
        },
        "impersonating": {
          "type": "boolean"
        },
        "sessionData": {
          "type": "object"
        }
      }
    },
    "JComputeStack": {
      "type": "object",
      "required": [
        "title",
        "originId",
        "group"
      ],
      "properties": {
        "_id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "originId": {
          "type": "string"
        },
        "group": {
          "type": "string"
        },
        "baseStackId": {
          "type": "string"
        },
        "stackRevision": {
          "type": "string"
        },
        "machines": {
          "type": "object"
        },
        "config": {
          "type": "object"
        },
        "meta": {
          "type": "object"
        },
        "credentials": {
          "type": "object"
        },
        "status": {
          "properties": {
            "modifiedAt": {
              "type": "string",
              "format": "date"
            },
            "reason": {
              "type": "string"
            },
            "state": {
              "type": "string"
            }
          }
        }
      }
    },
    "JTeamInvitation": {
      "type": "object",
      "required": [
        "code",
        "email"
      ],
      "properties": {
        "_id": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "groupName": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "JUrlAlias": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        },
        "target": {
          "type": "string"
        }
      }
    },
    "JUser": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "oldUsername": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "sanitizedEmail": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "salt": {
          "type": "string"
        },
        "twofactorkey": {
          "type": "string"
        },
        "blockedUntil": {
          "type": "string",
          "format": "date"
        },
        "blockedReason": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "passwordStatus": {
          "type": "string"
        },
        "registeredAt": {
          "type": "string",
          "format": "date"
        },
        "registeredFrom": {
          "properties": {
            "ip": {
              "type": "string"
            },
            "country": {
              "type": "string"
            },
            "region": {
              "type": "string"
            }
          }
        },
        "lastLoginDate": {
          "type": "string",
          "format": "date"
        },
        "emailFrequency": {
          "type": "object"
        },
        "sshKeys": {
          "type": "object"
        }
      }
    },
    "JVerificationToken": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "pin": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date"
        },
        "action": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "instanceParam": {
      "in": "path",
      "name": "id",
      "description": "Mongo ID of target instance",
      "required": true,
      "type": "string"
    },
    "bodyParam": {
      "in": "body",
      "name": "body",
      "schema": {
        "$ref": "#/definitions/DefaultSelector"
      },
      "required": true,
      "description": "body of the request"
    }
  },
  "paths": {
    "/JAccount.one": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "one",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.some": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "some",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.someWithRelationship": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "someWithRelationship",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.count": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "count",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.byRelevance": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "byRelevance",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.verifyEmailByUsername": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "verifyEmailByUsername",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.fetchBlockedUsers": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "fetchBlockedUsers",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.fetchEmailsByUsername": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "fetchEmailsByUsername",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.modify/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "modify",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.fetchAppStorage/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "fetchAppStorage",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.setEmailPreferences/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "setEmailPreferences",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "Method JAccount.setEmailPreferences",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.fetchRole/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "fetchRole",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.isFollowing/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "isFollowing",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.updateFlags/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "updateFlags",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.fetchGroups/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "fetchGroups",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.cancelRequest/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "cancelRequest",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.acceptInvitation/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "acceptInvitation",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.ignoreInvitation/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "ignoreInvitation",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.fetchMyPermissions/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "fetchMyPermissions",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.fetchMyPermissionsAndRoles/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "fetchMyPermissionsAndRoles",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.fetchMySessions/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "fetchMySessions",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.blockUser/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "blockUser",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.unblockUser/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "unblockUser",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.unlinkOauth/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "unlinkOauth",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.markUserAsExempt/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "markUserAsExempt",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.checkGroupMembership/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "checkGroupMembership",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.isEmailVerified/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "isEmailVerified",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "Method JAccount.isEmailVerified",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.fetchEmail/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "fetchEmail",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "Method JAccount.fetchEmail",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.fetchPaymentMethods/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "fetchPaymentMethods",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.fetchEmailAndStatus/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "fetchEmailAndStatus",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.fetchEmailFrequency/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "fetchEmailFrequency",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.fetchOAuthInfo/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "fetchOAuthInfo",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.fetchFromUser/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "fetchFromUser",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.fetchKites/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "fetchKites",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.fetchRelativeGroups/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "fetchRelativeGroups",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "Method JAccount.fetchRelativeGroups",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.expireSubscription/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "expireSubscription",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.fetchOtaToken/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "fetchOtaToken",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.generate2FactorAuthKey/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "generate2FactorAuthKey",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.setup2FactorAuth/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "setup2FactorAuth",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.pushNotification/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "pushNotification",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JAccount.destroy/{id}": {
      "post": {
        "tags": [
          "JAccount"
        ],
        "operationId": "destroy",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "Method JAccount.destroy",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JApiToken.create": {
      "post": {
        "tags": [
          "JApiToken"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "create",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "Method JApiToken.create",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JApiToken.remove/{id}": {
      "post": {
        "tags": [
          "JApiToken"
        ],
        "operationId": "remove",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/Collaboration.stop": {
      "post": {
        "tags": [
          "Collaboration"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "stop",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/Collaboration.add": {
      "post": {
        "tags": [
          "Collaboration"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "add",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/Collaboration.kick": {
      "post": {
        "tags": [
          "Collaboration"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "kick",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JCombinedAppStorage.upsert/{id}": {
      "post": {
        "tags": [
          "JCombinedAppStorage"
        ],
        "operationId": "upsert",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/ComputeProvider.ping": {
      "post": {
        "tags": [
          "ComputeProvider"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "ping",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "provider": {
                  "type": "string",
                  "default": "aws"
                }
              }
            },
            "required": true,
            "description": "body of the request"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "pings to requested provider implementation",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/ComputeProvider.create": {
      "post": {
        "tags": [
          "ComputeProvider"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "create",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "provider": {
                  "type": "string",
                  "default": "aws"
                },
                "label": {
                  "type": "string",
                  "default": "My new Machine"
                },
                "stack": {
                  "type": "string",
                  "default": "ID_OF_TARGET_STACK"
                },
                "credential": {
                  "type": "string",
                  "default": "ID_OF_CREDENTIAL"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "instance_type": {
                      "type": "string",
                      "default": "t2.micro"
                    },
                    "region": {
                      "type": "string",
                      "default": "us-east-1"
                    },
                    "image": {
                      "type": "string",
                      "default": "ami-XXXX"
                    },
                    "storage_size": {
                      "type": "number",
                      "default": 10
                    }
                  }
                }
              }
            },
            "required": true,
            "description": "body of the request"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "creates a JMachine for requested provider with the provided options",
        "responses": {
          "200": {
            "description": "created JMachine instance",
            "schema": {
              "$ref": "#/definitions/JMachine"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/ComputeProvider.remove": {
      "post": {
        "tags": [
          "ComputeProvider"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "remove",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/ComputeProvider.update": {
      "post": {
        "tags": [
          "ComputeProvider"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "update",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/ComputeProvider.fetchAvailable": {
      "post": {
        "tags": [
          "ComputeProvider"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "fetchAvailable",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/ComputeProvider.fetchProviders": {
      "post": {
        "tags": [
          "ComputeProvider"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "fetchProviders",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/ComputeProvider.createGroupStack": {
      "post": {
        "tags": [
          "ComputeProvider"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "createGroupStack",
        "parameters": [],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "Method ComputeProvider.createGroupStack",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/ComputeProvider.updateTeamCounters": {
      "post": {
        "tags": [
          "ComputeProvider"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "updateTeamCounters",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "Method ComputeProvider.updateTeamCounters",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/ComputeProvider.setGroupStack": {
      "post": {
        "tags": [
          "ComputeProvider"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "setGroupStack",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "Method ComputeProvider.setGroupStack",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JCredential.one": {
      "post": {
        "tags": [
          "JCredential"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "one",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JCredential.create": {
      "post": {
        "tags": [
          "JCredential"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "create",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JCredential.some": {
      "post": {
        "tags": [
          "JCredential"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "some",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JCredential.delete/{id}": {
      "post": {
        "tags": [
          "JCredential"
        ],
        "operationId": "delete",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JCredential.clone/{id}": {
      "post": {
        "tags": [
          "JCredential"
        ],
        "operationId": "clone",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JCredential.shareWith/{id}": {
      "post": {
        "tags": [
          "JCredential"
        ],
        "operationId": "shareWith",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "Method JCredential.shareWith",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JCredential.fetchUsers/{id}": {
      "post": {
        "tags": [
          "JCredential"
        ],
        "operationId": "fetchUsers",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JCredential.fetchData/{id}": {
      "post": {
        "tags": [
          "JCredential"
        ],
        "operationId": "fetchData",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "Method JCredential.fetchData",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JCredential.update/{id}": {
      "post": {
        "tags": [
          "JCredential"
        ],
        "operationId": "update",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JCredential.bootstrap/{id}": {
      "post": {
        "tags": [
          "JCredential"
        ],
        "operationId": "bootstrap",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/JCredential.isBootstrapped/{id}": {
      "post": {
        "tags": [
          "JCredential"
        ],
        "operationId": "isBootstrapped",
        "security": [
          {
            "Bearer": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "$ref": "#/parameters/instanceParam"
          },
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/Kloud.ping": {
      "post": {
        "tags": [
          "Kloud"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "ping",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/Kloud.event": {
      "post": {
        "tags": [
          "Kloud"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "event",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/Kloud.info": {
      "post": {
        "tags": [
          "Kloud"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "info",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/Kloud.stop": {
      "post": {
        "tags": [
          "Kloud"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "stop",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/Kloud.start": {
      "post": {
        "tags": [
          "Kloud"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "start",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/Kloud.build": {
      "post": {
        "tags": [
          "Kloud"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "build",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/Kloud.restart": {
      "post": {
        "tags": [
          "Kloud"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "restart",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/Kloud.destroy": {
      "post": {
        "tags": [
          "Kloud"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "destroy",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/Kloud.addAdmin": {
      "post": {
        "tags": [
          "Kloud"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "addAdmin",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/Kloud.removeAdmin": {
      "post": {
        "tags": [
          "Kloud"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "removeAdmin",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/Kloud.migrate": {
      "post": {
        "tags": [
          "Kloud"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "migrate",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
    "/Kloud.bootstrap": {
      "post": {
        "tags": [
          "Kloud"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "bootstrap",
        "parameters": [
          {
            "$ref": "#/parameters/bodyParam"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "Request processed successfully",
            "schema": {
              "$ref": "#/definitions/DefaultResponse"
            }
          },
          "401": {
            "description": "Unauthorized request",
            "schema": {
              "$ref": "#/definitions/UnauthorizedRequest"
            }
          }
        }
      }
    },
[...]
