.EmojiDropupItem
  color                     #a39fb1 !important
  fl()
  rounded                   12px
  padding                   3px 12px 5px 7px
  margin-bottom             3px
  display                   block

  .DropupItem-itemName:before
    content                 ""
    size                    16px 16px
    rounded                 50%
    bg                      color, #f9cc0d
    blockMid()
    margin-right            5px


  &.DropupItem-selected
    bg                      color, rgba(249,204,13,0.4)