@import "./kdfn"
@import "./client/stylus/appfn"
@import "nib/gradients"



@css {
/*
HOME stylesheet
app.home.styl
*/
}

#kdmaincontainer.home
  overflow          auto

  #main-panel-wrapper
    min-height      100%
    height          auto!important
  #sidebar-panel
    hidden()
  #content-panel
    min-height      100%
    height          auto!important
    width           100% !important

#home-intro
#header-sign-in
  display           none

#kdmaincontainer.home
  #main-tab-handle-holder
    display                 none

  >header
    size                    100%, 100px
    top                     0
    left                    0
    background              none
    z-index                 100
    overflow                visible
    position                fixed

    .kdview
      size                  100%, 100px
      max-width             1280px
      position              relative
      margin                0 auto
      overflow              visible
      z-index               100
      borderBox()

      #koding-logo
        left                0
        height              50px
        line-height         50px
        display             block
        background          black
        width               122px
        top                 30px
        position            fixed
        padding-left        40px
        border-radius       0 4px 4px 0

        span
          top               12px
          left              24px

      #header-sign-in
        height              50px
        line-height         50px
        display             block
        background          black
        width               120px
        right               0
        top                 30px
        position            fixed
        padding-left        20px
        border-radius       4px 0 0 4px

        span
          font-size           20px !important
          color               #eaeaea

  #home-intro
    display                 block
    size                    100%, 100%
    background              url("../images/gunduz-varligi-yildizli.jpg") \
                            no-repeat center center fixed
    background-size         cover

    >section
      text-align            center
      size                  100%, 100%
      left                  0
      top                   0
      padding               0 10px
      borderBox()
      abs()

      .slogan
        font-size           50px
        color               #fff
        font-weight         normal
        padding             200px 0 0 0
        text-shadow         0 0 10px black

      .sub-slogan
        font-size           30px
        color               #fff
        margin              20px 0 0 0
        font-weight         300
        line-height         40px
        text-shadow         0 0 10px black

      .learnmore
        background          none
        border              none
        left                50%
        bottom              30px
        color               white
        text-decoration     none
        font-variant        small-caps
        font-size           16px
        margin-left         -95px
        cursor              pointer
        abs()

      .buttons
        bottom              150px
        left                50%
        margin-left         -250px
        abs()

        button.kdbutton
          size              234px, 80px
          rounded           39px
          background        black
          border            2px solid transparent
          text-align        left
          font-size         16px
          line-height       20px
          padding           15px 0 0 0
          vendor            transition, background .3s ease \,\
                                        color      .3s ease
          borderBox()

          i
            display         block
            float           left
            size            40px, 40px
            sprite()
            margin          3px 15px 29px 18px

          span
            display         block
            font-size       24px

          &.email
            border-color    #df7400
            color           #df7400
            i
              bg            position, -680px -1px

            &:hover
              bg            color, #df7400
              color         #5c3108
              span
                color       #1c140c
              i
                bg            position, -680px -45px

          &.github
            border-color    #fff
            color           #a9a7a6
            margin          0 0 0 40px
            i
              bg            position, -630px -1px
            span
              color         #fff

            &:hover
              bg            color, #fff
              color         #b6b6b6
              span
                color       #545454
              i
                bg          position, -630px -45px

#content-page-home
  section.slider-section
    size                    100%, 100%
    bg                      color, #fff
    position                relative

    border-bottom           1px solid #eee

    .home-slider
      size                  100%, 2500px
      text-align            center
      overflow              hidden

      nav.slider-nav
        width               100%
        text-align          center
        display             block
        bottom              80px
        abs()

        a.slider-navlink
        a.slider-navlink span
          font-size           22px
          font-weight         300
          color               #3d3d3d
          text-decoration     none
          &~a
            margin-left       20px
        a.slider-navlink.active
        a.slider-navlink.active span
          font-weight         600

      .slider-page
        display             block
        size                100%, 600px
        top                 0
        text-align          left
        border-bottom       1px solid #eee
        // opacity             0
        // vendor              transition, opacity  .4s ease
        // abs()

        figure
          size            641px, 467px
          bg              image, url("../images/homeslide/browser.png")
          bg              repeat, no-repeat
          bg              position, center center
          margin-left     100px
          position        relative
          fr()

          img
            left         1px
            top          68px
            rounded      0 0 4px 4px
            abs()

        &.left-aligned
          figure
            fl()
            margin-left     0
            margin-right    100px

        .wrapper
          width             100%
          max-width         1280px
          margin            0 auto
          padding           100px 20px 0
          borderBox()

        h3
          font-size         42px
          color             #595959
          font-weight       600
          span
            color           #ff9e3c

        p
          font-size         22px
          color             #353535
          margin            40px 0 0 0
          font-weight       300

        &.active
          opacity           1

        &#you-page
        &#developers-page
        &#business-page
        &#education-page
          text-align        left
          h3
            margin-top      100px

  section.pricing-section

    size                    100%, 900px
    bg                      color, #fff
    position                relative
    text-align              center
    color                   #595959

    &:after
      content               ""
      display               block
      size                  100%, 34px
      bg                    image, url('../images/home_shadow.png')
      bg                    position, center
      bottom                0
      left                  0
      abs()

    >h3
      font-size             48px
      font-weight           600
      margin                70px 0 10px

    >h4
      font-size             22px
      font-weight           100

    .price-boxes

      size                  630px, 180px
      margin                35px auto
      position              relative
      vendor                perspective, 600px

      a
        size                197px, 197px
        display             block
        background          #8bd6bb
        color               #fff
        rounded             3px
        text-align          center
        font-size           26px
        text-decoration     none
        font-weight         100
        margin-left         10px
        z-index             4
        fl()

        vendor              transform, scale(.8)
        -webkit-transition  -webkit-transform .3s ease \,\
                            color             .3s ease  \,\
                            background        .3s ease
        -moz-transition     -moz-transform    .3s ease \,\
                            color             .3s ease  \,\
                            background        .3s ease
        transition          transform         .3s ease \,\
                            color             .3s ease  \,\
                            background        .3s ease

        span
          display           block
          padding           25px 30px 15px
          font-weight       600

        &:hover
          vendor            transform, scale(1)

      a:nth-child(1)
        margin-left         110px

      &.bundles
        a
          background        rgba(223, 116, 0, 1.0)
        a:nth-child(1)
          margin-left       10px

    .bundles-header
      color                 #CCC
      font-size             23px
      font-variant          small-caps
      border-bottom         1px solid #eee
      padding-bottom        10px

    .pricing-details
      clear                 both
      span
        display             inline-block
        font-size           22px
        font-weight         100
        margin              10px
        color               #595959

    .pricing-contact
      color                 #6b6b6b
      font-weight           100
      font-size             20px
      display               block
      text-align            center
      margin-top            90px

      a
        color               #6b6b6b

  footer.home-footer
    size                    auto, 90px
    bg                      color, #282828
    position                relative
    text-align              center
    color                   #595959
    padding                 35px 40px
    borderBox()
    > section
      margin                0 auto
      // padding               0 40px
      max-width             1280px
      size                  auto, 20px
      > div
        line-height         20px
        &:first-child
          a
          span
            margin-right    10px
        &:last-child
          a
          span
            margin-left    10px

      a
      span
        color               white
        text-decoration     none
        font-size           14px
        font-weight         300
      a:hover
        text-decoration   underline

@keyframes priceHover
  50%
    vendor              transform, scale(0.9) rotateY(-25deg) translateX(10px)
    vendor              animation-timing-function, ease-in-out

  100%
    vendor              animation-timing-function, ease-in-out
    vendor              transform, scale(1)
    background          #9cefd1
    z-index             5


@keyframes freeHover
  50%
    vendor              transform, scale(1) rotateY(25deg) translateX(-10px)
    vendor              animation-timing-function, ease-in-out

  100%
    vendor              animation-timing-function, ease-in-out
    vendor              transform, scale(0.9)
    background          #8bd6bb
    z-index             4
