@import "./kdfn"
@import "./client/stylus/appfn"

@media only screen and (max-width: 520px)
  #kdmaincontainer.home
    #main-tab-view.kdview
      overflow              visible !important
    > header
      bg                    position, 50% -211px
      .custom-link-view
        right               8px

  #koding-logo.large
    left                    18px

  // html, body

  #content-panel
    min-width    0

  .kdmodal
    width    95% !important
    left     0   !important
    .kdmodal-buttons
      width    100% !important

  #content-page-home
    .feeder-tabs
      .feeder-header
        font-size   15px
