@import "./client/Framework/themes/default/kdfn"
@import "./client/stylus/appfn"
@import "nib"
@import "nib/gradients"
@import "nib/vendor"

@css {
/*
Group Creation Modal Styles
*/
}

.group-admin-modal

  .kdview.formline.type.group-type
    border-bottom               none
  .radiogroup.group-type
    padding                     20px
    margin                      0
    text-align                  justify
    borderBox()
    .kd-radio-holder
      padding                   8px
      display                   inline-block
      text-align                center
      rounded                   12px
      margin-left               20px
      gradient                  #f8f8f8, #f2f2f2
      shadow                    0 1px 3px rgba(0, 0, 0, .3)
      > div
        size                    120px, 120px
        overflow                hidden
        cursor                  pointer
        shadow                  0 0 0 4px rgba(255, 255, 255, .5)
        gradient                #f8f8f8, #f2f2f2
        rounded                 6px
        borderBox()
        rel()
      &:first-child
        margin-left             0
      label
        display                 block
        font-size               12px
        line-height             28px
      .icon
        size                    60px, 60px
        opacity                 .4
        margin                  20px 30px 0
        display                 block
        bg                      color, pink
        bg                      position, -400px -620px
        sprite()

      &:hover > div
        gradient                #fafafa, #f8f8f8

      &.company .icon
        bg                      position, -400px -680px
      &.project .icon
        bg                      position, -400px -740px
      &.custom .icon
        bg                      position, -400px -800px

      &.active
        gradient                rgba(255,146,0,0.6), rgb(255,146,0)
        > div
          shadow                inset 0 1px 3px rgba(0, 0, 0, .3)
        .icon
          bg                    position, -460px -620px
          opacity               .9
        &.company .icon
          bg                    position, -460px -680px
        &.project .icon
          bg                    position, -460px -740px
        &.custom .icon
          bg                    position, -460px -800px



  div.general-settings > .kdformview
    margin-top                5px
    > .formline
      width                   100%
      overflow                auto
      padding                 5px 0px 7px 18px
      borderBox()
      &.Slug
        label
          color               transparent
        .input-wrapper
          line-height         24px
          color               #888
      &.privacy
        .kdselectbox
          margin-right        22px
          fr()
          &.visibility
            margin-right      5px
      &.group-vm
        .kdinput.on-off
          margin-right        22px
          fr()
        .kdinput.on-off > span
          hidden()

      &.button-field
        padding-right         20px
        padding-top           10px
      .input-wrapper
        overflow              visible

  div.vm-settings
    .kdselectbox
      fr()