@import "./client/Framework/themes/default/kdfn"
@import "./client/stylus/appfn"
@import "nib/gradients"
@import "nib/vendor"

@css {
/*
HOME stylesheet
app.home.styl
*/
}

#content-page-home
  border-top              1px solid white
  text-align              center
  overflow                auto
  bg                      color, #ddd
  .video-wrapper
    size                  auto, auto
    overflow              visible
    padding               5.48% 0
    gradient              #f8f8f8, #ddd
    // shadow                0 1px 0 rgba(255, 255, 255, .75)
    // margin-bottom         40px
    iframe
      size                89.13%, 76.6%
      border              8px solid rgba(0,0,0,.1)
      rounded             2px
      shadow              0 -1px 0 rgba(0,0,0,0.2)\,\
                          0 1px 0 rgba(255,255,255,0.8)
      borderBox()
    a.login-register
      display             inline-block
      margin              10px auto 0
    button
      margin              2px 0 0 0
      padding             6px 10px
      font-weight         400
      color               transparent
      text-shadow         none
      rounded             13px

  hr
    size                  100%, 2px
    border-top            1px solid #bbb
    background            rgba(255, 255, 255, .75)
    margin                40px auto
    vendor                transition, margin .3s ease-in
    borderBox()
  .reviews
    margin-top            40px
    p
      text-shadow         0 -1px 0 rgba(255, 255, 255, .75)\,\
                          0 1px 0 rgba(0, 0, 0, .2)
      color               #455
      font-size           32px
      margin              20px 0 10px 0
      line-height         40px
      font-family         serif
      font-style          italic
      vendor              transition, all .3s ease-in
    span
      display             block
      color               #666
      font-size           14px
      font-weight         300

  .footer-links
    a
      color               #aaa
      &:hover
        color             white

  footer.copy
    font-size             11px
    color                 #444
    padding-bottom        30px


  p.bigLink
    // text-shadow         0 -1px 0 rgba(0,0,0,.8)
    display               inline-block
    font-size             20px
    line-height           40px
    margin-right          40px
    vendor                transition, font-size .3s ease-in
    text-shadow           0 1px 0 rgba(0, 0, 0, .8)
    font-weight           500
    a
      color               linkColor1
      noTextDeco()
      &:hover
        color             white

    &:nth-child(4)
      margin-right    0


// NEW TRY
div.screenshots
  rel()
  height                  auto

  .arrow
    abs()
    display               block
    top                   107px
    size                  30px, 503px
    shadow                0 10px 25px rgba(0, 0, 0, .4)
    bg                    color, rgba(0, 0, 0, .5)
    vendor                transition, left  .15s ease-in-out\,\
                                      right .15s ease-in-out\,\
                                      width .15s ease-in-out
    z-index               1
    border                1px solid transparent
    border-color          rgba(255, 255, 255, .2)\
                          rgba(0, 0, 0, .1)\
                          rgba(0, 0, 0, .3)
    borderBox()
    &.left
      left                0
      rounded             0 4px 4px 0
      border-width        1px 1px 1px 0
      span
        right             10px
        bg                position, -220px -100px
    &.right
      right               0
      rounded             4px 0 0 4px
      border-width        1px 0 1px 1px
      span
        left              20px
        bg                position, -200px -100px
    &:hover
      width               40px


    span
      abs()
      display             block
      top                 50%
      margin-top          -15px
      margin-left         -10px
      size                20px, 30px
      sprite()

  > section
    size                  100%, auto
    overflow              hidden
    text-align            center
    padding               30px 0
    // gradient              rgba(0, 0, 0, .1), rgba(0, 0, 0, .05)
    background            transparent url("../images/bg/blurred/4.jpg") no-repeat 0 0
    background-size       cover
    border                1px solid rgba(0, 0, 0, .1)
    border-top-color      rgba(0, 0, 0, .3)
    border-width          1px 0 1px
    shadow                inset 0 5px 15px rgba(0, 0, 0, .2)

  ul
    margin                0
    size                  100%, auto
    z-index               0

    li
      rel()
      size                100%, auto
      overflow            visible
      vendor              transition, opacity .5s ease-in-out
      fl()

      p
        abs()
        size              auto, auto
        bottom            20px
        right             50%
        max-width         600px
        padding           10px 40px
        margin-right      -410px
        font-size         20px
        line-height       30px
        text-align        right
        color             #FFF
        opacity           .9
        text-shadow       0 1px 0 rgba(0,0,0,0.4)
        gradient          rgba(255, 146, 0, 0.8), rgba(209, 107, 13, 0.8)
        bg                color, #ff9200
        shadow            0 0 10px rgba(0,0,0,0.5)
        rounded           2px
        borderBox()
        span
          font-style      italic
          font-size       12px
          line-height     20px
          color           rgba(255, 255, 255, .85)
          display         block

      > div
      > img
        display           inline-block
        width             90%
        max-width         800px
        min-width         500px
        max-height        503px
        rounded           4px
        shadow            0 10px 25px rgba(0,0,0,0.5)
        overflow          hidden
      > div
        background        rgba(0, 0, 0, .4)
        iframe
          padding         10px
          borderBox()

  .home-links
    abs()
    top                 585px
    size                auto, 50px
    margin              30px auto

    .custom-link-view
      display           inline-block
      size              auto, 100%
      padding           0 26px 0 20px
      margin            0 0 0 20px
      rounded           4px
      line-height       49px
      gradient          #666, #505050
      // border-right      1px solid rgba(255,255,255,.2)
      border-top        1px solid rgba(255,255,255,.2)
      border-left       1px solid rgba(0,0,0,.1)
      text-shadow       0 1px 0 rgba(0,0,0,.9)
      borderBox()
      .title
        color           rgba(255,255,255,.9)
      .icon
        margin          15px 1px 0 0
      &:hover
        .title
          color         rgba(255,255,255,1)
      &.open
        .icon
          bg            position, -200px -340px
      &.logout
        .icon
          bg            position, -200px -320px
      &.login
        .icon
          bg            position, -220px -320px
      &.register
        .icon
          bg            position, -220px -341px
      &.customize
        .icon
          bg            position, -200px -380px
      &.request
        .icon
          bg            position, -200px -360px
      &.join
        .icon
          bg            position, -220px -378px
      &.customize
      &.join
      &.request
      &.green
      &.open
        gradient        #68B43B, #5B9D33


// NEW TRY END