@import "./client/Framework/themes/default/kdfn"
@import "./client/stylus/appfn"
@import "nib/gradients"
@import "nib/vendor"

@css {
/*
START TAB stylesheet
app.starttab.styl
*/
}

/* StartTab */
.start-tab
  .app-list-wrapper
    text-align            center
    background            #ffffff /* Old browsers */
    background            -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #d9d9d9 100%) /* FF3.6+ */
    background            -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#d9d9d9)) /* Chrome,Safari4+ */
    background            -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#d9d9d9 100%) /* Chrome10+,Safari5.1+ */
    background            -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#d9d9d9 100%) /* Opera 12+ */
    background            -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#d9d9d9 100%) /* IE10+ */
    background            radial-gradient(center, ellipse cover,  #ffffff 0%,#d9d9d9 100%) /* W3C */
    shadow                inset 0 0 2px rgba(0,0,0,0.25)
    size                  100%, 100%
    overflow              auto

  .app-button-holder
    height                33px
    width                 100%
    border-bottom         1px solid #CDCDCD
    bg                    color,rgba(255,255,255,.2)
    gradient              rgba(0,0,0,.11),rgba(255,255,255,.04)

    .new-app-button
    .refresh-apps-button
      position            absolute
      top                 9px
      line-height         10px
      padding-left        22px

      span.icon
        position          absolute
        padding           0px
        top               1px
        left              6px

    .new-app-button
      left                9px

    .refresh-apps-button
      right               9px

// .start-tab-app-container
//   overflow-y      visible
//   padding-bottom  30px
//   text-shadow     0 1px 0 white

.app-list-wrapper > header
  height                  auto
  margin-bottom           20px
  padding-top             50px
  text-align              center
  h1
    color                 #34312E
    font-size             18px
    font-weight           600
  h2
    color                 #6A645E
    font-size             13px
    font-weight           normal
    padding-top           5px

.app-item-container
  height                  auto
  padding                 20px 0% 48px 1%
  width                   100%
  overflow                visible
  borderBox()

  figure
    display               inline-block
    position              relative
    size                  19%, auto
    margin                0 1% 1% 0
    min-width             120px
    max-width             200px
    padding               20px
    overflow              hidden
    text-align            center
    vertical-align        top
    cursor                pointer
    rounded               4px
    vendor                transition, all .2s ease-out
    shadow                0 1px 2px rgba(0,0,0,0.15)
    bg                    color, rgba(255, 255, 255, 0.2)
    borderBox()
    &:hover
      bg                  color, rgba(255, 255, 255, 0.5)
      shadow              0 2px 10px rgba(0,0,0,0.15)
      .icon-container
        margin-top        0
        opacity           1
      cite
        height            13px
    &.dev-mode
      bg                  color, rgba(255, 255, 0, 0.2)
    &.disabled
      padding-bottom      20px
      &:after
        content           'Coming Soon'
        background        black
        border-radius     0 0 4px 4px
        bottom            -20px
        color             #FF9200
        display           block
        left              0
        position          absolute
        opacity           0
        padding           5px 0
        transition        bottom .3s linear
        text-shadow       none
        visibility        none
        width             100%

      &:hover:after
        display           block
        opacity           1
        bottom            0
        visibility        visible

      img
      strong
      span.data
        opacity           .5

    .kdloader
      position            absolute
      top                 50%
      left                50%
      margin              -20px 0 0 -20px
      z-index             1000

    p
      rounded             4px

    img
      width               100%

    cite
      position            absolute
      display             block
      bottom              10px
      left                0
      //size                100%, 100%
      width               100%
      max-width           100%
      font-size           11px
      font-style          normal
      color               #aaa
      white-space         nowrap
      text-overflow       ellipsis
      overflow            hidden
      //vendor              transition, height .15s linear .6s

    span
      noTextDeco()

    span > span
      font-size           11px

    .icon-container
      position            absolute
      display             inline-block
      top                 5px
      right               5px
      margin-top          -30px
      opacity             0
      vendor              transition, opacity .15s linear .6s

    span.icon
      size                20px, 20px
      opacity             .4
      fl()
      sprite()
      &:hover
        opacity           .6
      &.info
        bg                position, -260px -440px
        right             5px
      &.compile
        bg                position, -300px -440px
        right             26px
      &.delete
        bg                position, -280px -441px
        right             47px

.tipsy .app-tip
  text-align              left
  padding                 5px
  header
    margin                0 0 5px 0
    border-bottom         1px solid #777
  cite
    color               #aaa
  p.app-desc
    max-width             250px

.start-tab-recent-container
  position                absolute
  border                  1px solid rgba(0, 0, 0, 0.07)
  bottom                  0
  left                    0
  padding                 0
  bg                      color, white
  size                    100%, 28px
  vendor                  transition, height .2s ease-in .1s
  shadow                  0 0 3px rgba(0,0,0,0.3)
  borderBox()
  &:hover
    height                120px
  .file-container
    shadow                inset 0 0 2px rgba(0,0,0,0.25)
  h3
    background-color      rgba(255, 255, 255, 0.90);
    border-bottom         1px solid rgba(0, 0, 0, 0.07)
    color                 #4F4F4F
    font-size             13px
    font-weight           300
    height                28px
    line-height           12px
    padding               7px 0 7px 17px
    text-align            left
    top                   0
    z-index               2
    borderBox()

  .finder-item
    border-bottom         1px solid rgba(0, 0, 0, 0.07)
    border-right          1px solid rgba(0, 0, 0, 0.07)
    font-size             11px
    height                44px
    line-height           20px
    margin                0
    width                 20%
    overflow              hidden
    text-overflow         ellipsis
    max-width             100%
    padding               12px 20px
    text-align            left
    transition            all .1s ease-in-out
    white-space           nowrap
    borderBox()
    fl()

    .kdloader
      position            absolute
      top                 8px
      right               8px

    .title
      margin              0
      overflow            hidden
      text-overflow       ellipsis
      cursor              pointer

    &:hover
      bg                  color, #ff9200

  .start-tab-no-recent-files
    font-size             14px
    padding-top           30px

.start-tab-split-options
  hidden()
  height                  80px
  position                absolute
  width                   100%
  bottom                  -146px
  text-align              center
  transition              all .5s ease-in-out
  padding-bottom          10px
  &.expanded
    bottom                126px

  h3
    text-shadow           0 1px 0 white
    font-weight           400
    margin                0 0 20px 0

.start-tab-split-option
  background              white
  display                 inline-block
  vertical-align          top
  margin-right            10px
  padding                 3px
  size                    42px, 32px
  vendor                  transition, width .3s ease-in-out\, height .3s ease-in-out
  rounded                 3px
  shadow                  0 0 1px rgba(0,0,0,0.30)
  borderBox()


  span
    background            #D7D6D5
    display               block
    vendor                transition, width .3s ease-in-out\, height .3s ease-in-out
    rounded               2px
    size                  100%, 100%
    overflow              hidden
    padding               0 1px
    &.w50
      width               50%
      padding             0
    &.h50
      height              50%
      margin-bottom       1px
      padding             0
    &.fl
      margin-left         -1px
    &.fr
      margin-right        -1px
    &.full-t
      margin-left         -1px
      padding             0 1px
    &.full-r
      padding-top         1px
    &.full-b
      margin-left         -1px
      padding             0 1px
    &.full-l
      padding-top         1px

  &:hover
    box-shadow            0 0 8px rgba(0,0,0,0.30)

    > div
      background          #FF9200


@media only screen and (max-width: 820px), (max-height: 600px)
  .start-tab
    .app-item-container
      padding             10px 0

      figure
        min-width         90px
        width             14%
        margin-right      1%

    > header
      margin-bottom       10px
      padding-top         30px
      h1
        font-size         16px
        padding-top       10px

      h2
        font-size         12px

    .start-tab-split-options.expanded
      bottom              52px
      height              auto

      h3
        font-size         13px
        margin            0 0 6px 0

      .start-tab-split-option
        height            21px
        width             31px

        .full-hor-b
          margin-top      9px


