@import "./kdfn"
@import "./client/stylus/appfn"

@media only screen and (min-width: 300px) and (max-width: 768px)
  #kdmaincontainer.home > header
    bg                      position, 50% -211px
    .custom-link-view
      right                 18px

  #koding-logo.large
    left                    18px

  div#home-intro
    height                  828px !important
    bg                      color, #000 !important
    .gunduz-varligi
      height                828px !important
      bg                    size, 1500px
      bg                    repeat, no-repeat
    section
      .slogan
        padding-top         200px !important
        font-size           55px  !important
      .sub-slogan
        font-size           32px  !important

    .buttons
      button
        margin               15px 0 !important
        width                65%    !important
        line-height          44px   !important
        font-size            25px   !important
        span
          text-align         center
          display            inline !important
          font-size          25px   !important

  section#slider-section
    .home-slider
      .wrapper
        padding-top         0px     !important
      h3
        text-align          center
        margin-top          80px    !important
      p
        text-align          center
        font-size           28px    !important
      figure
        display             none    !important

  #content-page-home .feeder-tabs .feeder-header
    font-size               24px !important

  #content-panel.social
    left              50px !important
    kalc              width, 100% \- 50px, !important
    .content-area-pane.activity
      #content-page-activity.fixed
        .activity-content
          margin-left 0
        .update-widget-tabs
          .kdtabpaneview
            kalc      width, 100% \- 50px

  .member-item
    footer
      button
        margin-bottom 10px
      .followers
        margin-bottom 10px!important

  .comingsoon
    padding           30px 30px

    img
      margin-bottom   14px
      width           60px
      height          auto
    h1
      font-size       24px
      font-weight     700
      margin-bottom   3px
    h2
      font-weight     400
      margin-bottom   15px
      padding-bottom  17px
      font-size       16px
    p
      font-size       12px
      color           #666

  .content-area-pane.activity
    .common-inner-nav
      hidden()

  .kdview.login-screen.home
    .flex-wrapper
      margin-bottom       20px

    .reviews
      hr
        margin            20px auto
      p
        font-size         20px
        margin            10px 0 5px 0
        line-height       30px
      span
        font-size         12px

    div.screenshots
      height              460px

  .settings-list-wrapper
    form
      label.main-label
        width         200px
      .swappable
        .hiddenval
          height      60px
        .actions-wrapper
          top         27px
          left        0