@import "./client/Framework/themes/default/kdfn"
@import "./client/stylus/appfn"
@import "nib"
@import "nib/gradients"
@import "nib/vendor"

#group-content
  height            100%
  width             64%
  margin            15px
  min-width         370px
  overflow          auto !important
  height            2000px
  a
    color           grouppage-link
  #group-left-pane, #group-right-pane
    padding           10px 40px 0 5px
    borderBox()
    .kdview
      overflow        visible
      height          auto

  #group-left-pane
    //bg(color,aqua)
    width                 70%
    overflow              visible
    padding-left          50px
    height                100%
    fl()
    .group-meta
      margin-top            20px
      img
        width               160px
        height              150px
        rel()
        border              1px solid white
        margin              0 25px 10px 0
        blockMidTop()
        shadow(0px 0px 8px 1px #c5c5c5)
      > div
        width               70%
        blockMidTop()
      h2
        font-weight         bold
        font-size           36px
        line-height         30px
        color               #000
        margin-bottom       18px
      p
        line-height         23px
        font-size           14px
        color               #7c7c7c
        margin-bottom       18px
      .group-privacy
        span
          padding           3px 8px
          color             #229ee3
          bg(color,#ebf7fe)
          rounded(3px,3px,3px,3px)
          shadow(0 1px 1px 0 #b9e4fc)
    //group-meta
  //group-left-pane
  #group-right-pane
    //bg(color,orange)
    display               inline-block
    width                 20%
    padding-top           45px
    height                100%

    section
      padding-bottom      20px
      margin-bottom       20px
      border-bottom       1px solid #bfbfbf
      &:last-child
        border-bottom     none
      h4
        margin-bottom     10px
        color             #7f7f7f
        font-weight       normal
        font-size         11px
    .subscribe
      border-bottom       none
      padding-bottom      0
      div
        color             #0a90e0
        text-decoration   none
        padding           6px 10px
        display           inline-block
        rounded(4px,4px,4px,4px)
        bg(color,#f2f2f2)
        cite
          font-style      normal
          font-size       11px
          blockMid()
        span
          cursor          pointer
          margin-left     5px
          padding         4px 5px
          line-height     8px
          font-size       12px
          font-weight     bold
          color           #f2f2f2
          blockMid()
          rounded(10px,10px,10px,10px)
          width(12px,12px)
          bg(color,#ddd)
        shadow(0 2px 2px 0 #e3e3e3)
    .stats
      ul
        list-style        none
        mp0()
        color               #2e2d2a
        li
          padding             5px
          border-bottom       1px solid #eeeeee
          &:last-child
            border-bottom     none
      cite
        font-style        normal
      span
        margin-right      20px
        blockMid()
        size(20px,20px)
      .members span
        sprite()
        bg(position,-140px -440px)
      .shared span
        sprite()
        bg(position,-100px -460px)
      .activity span
        sprite()
        bg(position,-100px -420px)
    .tags
      .langtags span
        margin-bottom     3px
    .links
      ul
        mp0()
        list-style            none
        a
          text-decoration     none
    .moderators
      ul
        mp0()
        list-style        none
        li
          blockMid()
//group-content-layout

.test-btn
  // bg(color,lightBlue)
  width                 auto
  height                auto
  abs()
  left                  0
  top                   0

.list-filter
  margin                20px 0
  //padding               10px
  color                 #acacac
  rel()
  font-size             10px
  bg(color,#f2f2f2)
  rounded(4px,4px,4px,4px)
  div,span,a
    blockMid()
  a.filtered
    color               grouppage-link
    shadow(inset 0 1px 1px 0 #d7d7d7)
    bg(color,white)
    rounded(4px,4px,4px,4px)
    border-right        none
  a
    color               #9c9b9b
    padding             2px 6px
    font-size           12px
    line-height         12px
    text-decoration     none
    blockMid()
  .sort
    float               right
    display             inine-block
    span
      margin-right      10px
  > span
    blockMid()
    width               55px

.list-filter.kdlistview-sorter
    width                 100%
    padding               3px 10px 3px 15px
    height                35px
    borderBox()
    span
      text-shadow         0px 1px 1px #fff
    a
      color               #eba63c
      padding             5px 6px
      font-size           13px
      // border              1px solid #e9e9e9
      gradient            #f1f1f1,#fefefe
      shadow              inset 0 1px 1px -1px rgba(0,0,0,0.2)
      blockMid()


// .kdlistitemview-groups
//   borderBox()
//   vertical-align top
//   margin 5px
//   padding 5px
//   width 200px
//   height 200px
//   display inline-block
//   clear none
//   border 1px solid blue






.content-page.groups

  // .kdlistview-everything

  .kdlistitemview-groups
    borderBox()
    border-bottom           1px solid #f5f5f5
    min-height              131px
    min-width 250px
    clear                   none
    width                   50%
    display                 inline-block
    height auto
    vertical-align top

    &:hover
      div.groups-settings-menu
        opacity 1

    &:nth-child(2n+1)
      border-right           1px solid #f5f5f5

    div.groups-settings-menu
        vendor            transition, opacity .1s ease-out
        size              21px, 18px
        opacity           .2
        abs()
        top               0
        right             0
        z-index           10
        button.kdbutton.with-icon
          padding         1px 2px
          padding-right   3px!important
          span.icon
            bg            position, -81px -281px
            size          16px, 16px
            padding       0
            margin        0
          &:hover
            gradient      #eee, #ddd
            rounded       2px
        .chevron
          display         none
        .chevron-separator
          display         none




    span.avatar
      margin 20px 20px 5px 20px
      padding         1px
      border          1px solid #E3E3E3
      fl()
      display         block
      size(60px,60px)
      .avatar-image
        display         block
        text-decoration   none
        background-size   cover
        background-position   center
        size(60px,60px)

    .content
      width auto
      margin-left : 103px
      borderBox()
      padding-top 10px
      h3
        borderBox()
        width auto
        padding-bottom 10px
        padding-right 20px
        margin-top 12px
        overflow-y hidden
        overflow-x hidden
        white-space nowrap
        text-overflow ellipsis
        height 30px
        color #ff9200
        font-size 13px
        a
          borderBox()
          width auto
          color #ff9200
          font-weight 400
          noTextDeco()
          overflow-y hidden
          overflow-x hidden
          white-space nowrap
          text-overflow ellipsis
          div.data
            borderBox()
            overflow-y hidden
            overflow-x hidden
            white-space nowrap
            text-overflow ellipsis
            display block

      article
        borderBox()
        width auto
        margin-right 95px
        padding-bottom 20px
        overflow-x hidden
        overflow-y hidden
        text-overflow ellipsis
        line-height 1.2em
        height 3.6em
        color #5f5f5f
        font-size 12px
        div.data
          borderBox()
          overflow-y hidden
          overflow-x hidden
          white-space nowrap
          text-overflow ellipsis
          display block

    .topicmeta
      abs()
      left 18px
      bottom 12px

      .topicstats
        .posts
          margin-right 5px
        .followers, .posts
          display inline-block
          a
            color black
            font-weight bold
            noTextDeco()

    .button-container
      abs()
      right 10px
      bottom 10px

      button
        fr()
        clear both
        display block
        margin-top 5px

        &.joined
          bg color, #444

      .enter-button
        borderBox()
        cursor            pointer
        border            1px solid #ddd
        border-bottom-color    #cfcfcf
        color             #7f7f7f
        font-size         11px
        width             80px
        line-height       12px
        padding           5px 5px 4px 5px
        text-align        center
        text-shadow       0 1px 0 #fff
        font-weight       700
        vertical-align    inherit
        background        linear-gradient(top,  white 0%,#e6e5e5 94%)
        shadow(0 1px 0 rgb(255, 255, 255))
        rounded(3px,3px,3px,3px)

        &:hover
          background           linear-gradient(top, #e9e8e8 0%,#d7d4d4 94%)
          border               1px solid #ddd
          border-bottom-color  #cfcfcf
          -moz-box-shadow      0 1px 0 #fff
          -webkit-box-shadow   0 1px 0 #fff
          box-shadow           0 1px 0 #fff

        &:active
          background           linear-gradient(top, #e9e8e8 0%,#d7d4d4 94%)
          border               1px solid #afafaf
          border-bottom        1px solid #ddd
          -moz-box-shadow      0 1px 0 #fff, inset 0 2px 1px rgba(0, 0, 0, 0.13)
          -webkit-box-shadow   0 1px 0 #fff, inset 0 2px 1px rgba(0, 0, 0, 0.13)
          box-shadow           0 1px 0 #fff, inset 0 2px 1px rgba(0, 0, 0, 0.13)

      .enter-group
        noTextDeco()
        color #7f7f7f
        &:before
          content               ''
          padding 0px 10px
          sprite()
          bg position, -20px -263px
          size 15px 15px
          margin               0 6px 0 0
          vertical-align       middle


.group-admin-modal

  > .kdformview
    margin-top 20px
    > .formline
      width 100%
      borderBox()
      overflow:auto
      border none
      &.button-field
        bg color, transparent
        rounded 0
        border none
        padding 0
        margin-left 108px
        margin-top 15px


  div.avatar
    .kdlabel
      margin-top:30px
    .kdfileuploadarea
      width 80px
      height 80px

  div.body
    textarea
      min-height 150px


  // .kdmodal-content .kdtabhandlecontainer .kdtabhandle
  //   min-width 60px

  // div.image-wrapper
  //   fl()
  //   borderBox()
  //   width 250px
  //   height 250px
  //   display block
  //   border-bottom 1px solid #e5e5e5
  //   text-align center
  //   padding 5px
  //   bg size, cover
  //   bg size, contain
  //   bg position, center center
  //   bg repeat, no-repeat

  //   img.avatar-image
  //     borderBox()
  //     padding 5px
  //     width auto
  //     height auto
  //     max-width 240px
  //     max-height 240px
  //     shadow 0px 0px 5px black

  // div.avatar
  //   borderBox()
  //   // margin-top -94px
  //   // bg color, white
  //   // border-left 1px solid #e5e5e5
  //   border-bottom none
  //   padding 11px 11px 0 21px
  //   width 115px
  //   fl()
  //   z-index 10000

  //   // width 50%
  //   // margin-left 50%
  //   clear both
  //   label.avatar
  //     display none
  //   .input-wrapper
  //     height 100%
  //     fl()
  //     bg color, white
  //   div.kdfileupload
  //     height 71px
  //     width 71px
  //     // height 100%
  //     min-width 0px
  //     .kdfileuploadarea
  //       bg size, contain
  //       bg position, center center
  //       bg repeat, no-repeat no-repeat
  //       width 100%
  //       height 100%
  //       span
  //         line-height 70px
  //         font-size 12px
  //         color #a5a5a5
  //         padding 0px 5px
  //   .listview-wrapper
  //     display none
  // .kdlabel.title
  // .kdlabel.slug
  //   display none
  // input.kdinput.text[name="slug"]
  //   width auto
  // .SlugText
  //   text-align right
  //   // .input-wrapper:last-child
  //   //   display none
  //   .input-wrapper
  //     width auto
  //     display inline-block
  //   .input-wrapper:first-child
  //     height 25px
  //     line-height 25px
  //     .slug-url
  //       .base
  //         color lighten(#5f5f5f,50%)
.groups-member-permissions-view

  .kdview.kdloader
    display           block
    margin            10px auto

  .kdview.kdlistitemview.kdlistitemview-member-item
    line-height       24px

    .kdselectbox
      display         inline-block
      float           right

    .profile
      font-size       13px

    .role
      color           #999

    span.icon
      &.edit
        bg            position, -120px -400px
      &.delete
        bg            position, -80px -520px
      &.save
        bg            position, -80px -500px

    .kd-radio-holder
      line-height       30px
      margin-right      10px
      display           inline-block

      input[type=radio]
        vertical-align  middle
        display         inline
        width           auto
        margin          0 10px 0 3px

      label
        float           none
        display         inline


  .edit-container
    padding             5px 10px
    border              1px solid #ccc
    rounded             4px
    bg                  color, #f5f5f5
    borderBox()

    .buttons
      margin            10px 0 5px 0
      padding           10px
      bg                color, #e2e2e2
      rounded           3px
      border            1px solid #ccc
      .kdbutton
        width           auto
        margin-right    10px

.invitation-request
  .username
    font-weight         bold
    color               #ff9200
  &.invitation-sent
    background-color    #eee

.group-header
  margin-top            20px
  padding               20px 20px 0
  borderBox()
  .avatar
    margin-right        20px
    fl()
    span
      display           block
      border            1px solid #eee
      padding           1px
      size              60px, 60px
  section
    height              auto
    rel()
    h2
      font-size         36px
      font-weight       normal
      line-height       64px
      height            64px
      border-bottom     none
      padding           0
      overflow          ellipsis
      margin-right      180px
    .buttons
      top               0
      right             0
      size              auto, 100%
      padding           18px 5px
      borderBox()
      abs()
      .custom-link-view.enter-group
        margin-right    5px
  .navbar
    bg                  color, #f5f5f5
    height              60px
    margin              20px 0 0
    borderBox()
    .custom-link-view
      margin            20px 20px 0
      span.title
        color           #aaa
        // noTextDeco()
      &.enter-group
        margin-left     20px
      .icon
        &.enter-group
          bg            position, -180px -518px
          opacity       .2
        &.admin
          bg            position, -180px -439px
          opacity       .5

.group-content-display
  .sub-header
    gradient            #fff, #f8f8f8
    width               100%
    z-index             100
    fix()
    &.shadow
      shadow            0 0 15px rgba(0,0,0,.1)


  .loader
    fl()
    margin-top 10px
  .loader-text
    display block
    width auto
    margin-top 8px
    padding-left 5px
  .readme
    borderBox()
    padding             0px 0 0 0
    width 100%

    .data
      borderBox()
      // rounded(4px)
      // border 1px solid
      // border-color #e8e8e8 #e8e8e8 #e0e0e0 #e8e8e8
      border none
      // padding 10px 10px 10px 10px
      padding 10px 0 0 0
    .edit
      margin-top 10px
      borderBox()
      width 100%
      min-height 200px
      max-height 400px
      .preview_content
        padding 10px
    .button-bar
      margin-top 10px
      margin-bottom 5px
      text-align right
      width auto
      opacity 0.95
      vendor transition, opacity 0.2s linear
      &:hover
        opacity 1
    .edit-cancel
      font-size 12px
      margin-top 4px
      margin-right 5px
      span
        noTextDeco()
        color #aaa
  .desc
    border-bottom       1px solid #f2f2f2
    padding             20px 0

  .group-content
    borderBox()
    height auto
    padding 0px 20px

    .kdtabhandlecontainer
      padding-top           0
      // background            linear-gradient(top, #555 0%,#666 93.7%)
      height                27px
      padding               0px 10px 0px 10px
      // shadow                inset 0 2px 5px rgba(0,0,0,.1)
      bg color,             #f5f5f5
      borderBox()
      border none
      .kdtabhandle
        // border              1px solid transparent
        border-width        0
        height              27px
        line-height         27px
        color               #aaa
        font-size           13px
        padding             0 10px
        min-width           120px
        width               auto!important
        borderBox()
        rounded(0)
        // text-align center
        b
          margin-right      0
          font-weight normal
        &.active
          // border-color      #ccc
          border none
          bg color, transparent
          height            21px
          // background        linear-gradient(top, #ffaf43 0%,linkColor1 100%)
          color             #444
          // text-shadow       0 -1px 0 rgba(0,0,0,.05)
          // shadow            inset 0 2px 2px -2px rgba(0,0,0,0.40)
          b
            // text-decoration underline
            font-weight       600

    // .kdtabhandlecontainer
    //   padding-top           0
    //   background            linear-gradient(top, #555 0%,#666 93.7%)
    //   height                22px
    //   padding               0 10px
    //   shadow                inset 0 2px 5px rgba(0,0,0,.1)
    //   borderBox()
    //   .kdtabhandle
    //     // border              1px solid transparent
    //     border-width        0
    //     height              21px
    //     line-height         21px
    //     color               #ddd
    //     font-size           11px
    //     padding             0 10px
    //     min-width           100px
    //     width               auto!important
    //     borderBox()
    //     rounded(0)
    //     b
    //       margin-right      0
    //     &.active
    //       // border-color      #ccc
    //       height            21px
    //       background        linear-gradient(top, #ffaf43 0%,linkColor1 100%)
    //       color             #fff
    //       text-shadow       0 -1px 0 rgba(0,0,0,.05)
    //       shadow            inset 0 2px 2px -2px rgba(0,0,0,0.40)
    //       b
    //         font-weight       600


    .Members
      .listview-wrapper
        borderBox()
        padding 20px
        .kdlistitemview-member-item
          width 50%
          display inline-block
          borderBox()
          section
            .profile
              borderBox()
              margin-left 60px
              padding 2px
              display block
            .role
              borderBox()
              margin-left 60px
              padding 2px
              display block
            .edit-link
            .save-link
            .cancel-link
              fr()

    .Invitations
    .Membership.Policy
      padding-top: 20px

      section.formline
        margin-left 100px
        margin-top 10px
        padding 10px

        h2
          padding-left 0
          padding-bottom 0px
          height 17px
          // font-weight 600
          font-size 14px
          // border none
        p
          margin-top 0px
          margin-bottom 15px
          padding-left 0px

        > a
          margin-left 10px

        button
          min-width 80px
          height 24px
          line-height 8px
          margin 5px 5px 5px 0

        .policylanguage-editor

          textarea
            min-width 400px
            min-height 100px

        div.formline
          borderBox()
          margin 0
          padding 10px 0
          bg color, transparent
          border none

          > span
            margin-left 20px
            display inline-block
            hidden()

      a.edit-link
      div.on-off
        fl()
        margin-left 25px
        margin-top 20px
        display inline-block
        width auto

      a.edit-link
        margin-top 16px
        padding-left 17px

    .Invitations
      padding-top 20px

      div.formline.button-field
        margin 0
        padding 0
        height auto

      div.formline
        overflow hidden
        width 100%

      section.formline
        overflow hidden
        min-width 200px
        width 50%
        borderBox()
        margin 0
        padding 20px

        button
          margin 0
          fr()

        &.sent
          fr()
          clear both

        &.batch
          fr()
          clear both

        &.status-quo
          width 100%

      .request-list
        margin-top 20px

        .default-item
          padding-left 10px

        .formline.invitation-request
          padding 0px 10px 10px 0
          display inline-block
          borderBox()

          .request
            margin-left 55px

          .username
            width auto

          .requested-at

            span
              display inline-block

          .is-sent

            span
              font-weight 600

          span.avatar
            border              1px solid #E3E3E3
            padding             1px
            margin-right        10px
            size(40px,40px)
            bg(color,#fff)
            fl()

            a
              display               block
              background-position   center
              background-image      url('../images/defaultavatar/default.avatar.40.png')
              bg(size,cover)
              bg(repeat,no-repeat)
              size(30px,30px)

    .permissions-view
      .add-role-dialog
        z-index 100000

        .add-role-header
          padding-top 15px
          padding-bottom 15px
          font-size 14px
          font-weight 500

        .add-role-button
          margin-bottom 10px
        .add-role-cancel
          margin-top 8px

        label.label-role-name
          display inline-block
        input.role-name
          display inline-block
          width 289px

        label.label-copy-permissions
          margin-top 10px
          display inline-block
        div.kdselectbox.copy-permissions
          margin-top 0px

      // .kdview.kdloader
      //   display           block
      //   margin            10px auto

      .permissions-header
        abs()
        top 0px
        left 0
        right 0
        z-index 20000
        bg color, white
        &.scrolling
           shadow 0 5px 15px -5px rgba(0,0,0,0.1)
        > .input-wrapper > .kdview
          borderBox()
          width auto
          line-height 20px
          top 0
          overflow-x hidden
          display block
          text-overflow ellipsis
          white-space nowrap

      .permissions-form
        overflow-y scroll
        overflow-x hidden
        // max-height 300px
        margin-top 20px

        fraction(full,divisor)
          fraction = full/divisor

        for num in 2 3 4 5 6 7 8 9 10 11 12
          &.col-{num}
            .formline .input-wrapper
              width fraction(340,num)px

        .formline
          &.button-field
            borderBox()
            &.scrolling
              shadow 0 -5px 10px -3px rgba(0,0,0,0.1)
            abs()
            left 0
            right 0
            // bottom 0
            height 50px
            padding 15px 20px 0 15px
            border-top 1px solid #e5e5e5

            button.add-role
              fl()

          &:nth-last-child(2)
            margin-bottom 49px
            border-bottom-color transparent

          borderBox()
          padding 0px
          border-bottom 1px solid #f5f5f5
          border-left 1px solid #f5f5f5
          border-right 1px solid #f5f5f5

          .input-wrapper:first-child
            border-left none
            width 160px
            > .kdview
              borderBox()
              min-height 15px
              line-height 15px
              padding 3px
              padding-left 7px
              display inline-block
              width 160px
              overflow hidden
              text-overflow ellipsis
              white-space nowrap
              text-align left

          input.kdinput.permission-checkbox
            display inline
            margin-right 2px
            width auto
            margin-top 5px
            vertical-align middle
          .input-wrapper
            border-left 1px solid #f5f5f5
            borderBox()
            display inline-block
            width 100%
            height 20px
            vertical-align top
            text-align center
            > .input-wrapper
              vertical-align middle

        .permissions-module
          background      linear-gradient(top, #555 0%,#666 93.7%)
          color white
          .input-wrapper
            text-align left

.kdview.jcontextmenu.kdbuttonmenu.groups-settings-context
  border-color          rgba(0,0,0,.2)
  .chevron-ghost-wrapper
    border-color        rgba(0,0,0,.2)
    rounded             2px 2px 0 0
    width               19px
    span.chevron-ghost
      margin            0 auto
      bg                position, -80px -261px
  .kdcontextmenutreeview
    margin              3px 0
    .kdview.kdtreeitemview.default
      padding           2px
      font-size         11px