@import "./kdfn"
@import "./client/stylus/appfn"
@import "./client/stylus/app.fonts"

@css {
/*
MAIN APP stylesheet
resurrection.styl
*/
}

body
  font-family       'Helvetica Neue'
  bg                color, #EEEEEF

.no-anim
  noAnim()

#kdmaincontainer
  width             auto

#main-header
  margin            0
  bg                color, #111617
  size              100%,61px
  z-index           1000
  fix()

#dock
  size              auto, auto
  margin-right      380px


#main-panel-wrapper
  overflow          visible
  display           block
  top               0
  left              0

#koding-logo
  size              61px, 61px
  fl()

  cite
    sprite          app logo
    margin          21px 0 0 21px
    display         block

#main-nav
  size              auto, 61px
  fl()
  > a
    display         inline-block
    size            61px, 61px
    vendor          transition, top .2s linear\,\
                                left .2s linear
    cite
      hidden()
    .icon
      margin        14px 15px 15px 14px
      display       block
    &.selected
      bg            color, #EEEEEF
    &.activity .icon
      sprite      app nav-activity
    &.develop .icon
      sprite      app nav-develop
    &.topics .icon
      sprite      app nav-topics
    &.editor .icon
      sprite      app nav-editor
    &.terminal .icon
      sprite      app nav-terminal

.account-area
  abs()
  size              370px, 100%
  top               0
  right             0
  > div
    display         inline-block
    width           auto
    vertical-align  top

#fatih-launcher
.account-menu > a
  size            45px, 61px
  display         inline-block
  .icon
    margin        20px 12px 21px 13px
    size          20px, 20px
    display       block
  &.account .icon
    sprite        app account-cog
  &.notifications .icon
    sprite        app account-notifications
  &.messages .icon
    sprite        app account-messages
#fatih-launcher .icon
  sprite          app account-search

.avatar-area
  bg                color, #445053
  padding           10px 12px
  height            61px
  min-width         180px
  borderBox()
  .avatarview
    margin-right    10px
    fl()
  section
    width           auto
    display         block
    overflow        hidden
    h2, h3
      margin        0
      line-height   20px
    h2
      font-size     13px
      font-weight   400
      a
        color       rgba(255, 255, 255, .8)
        noTextDeco()
    h3
      color         rgba(255, 255, 255, .5)
      font-size     12px
      font-weight   300









#kdmaincontainer.logout-tv
  vendor                  animation, logoutTv .5s 1 forwards ease
  &~.turn-off-line
    top                   50%
    left                  0
    size                  100%, 2px
    background            #fff
    opacity               0
    z-index               1000
    vendor                animation, logoutTvLine .3s .35s 1 forwards ease
    abs()
    &:after
      content             ""
      display             block
      margin              -3px auto 0
      size                50%, 6px
      background          #fff
      rounded             100%
      box-shadow          0 0 20px 10px rgba(255,255,255,.6)
  &~.turn-off-dot
    top                   50%
    left                  50%
    bg                    color, #fff
    rounded               20px
    size                  10px, 10px
    margin-top            -5px
    vendor                transform, scaleX(0) scaleY(0)
    shadow                0 0 8px #fff
    vendor                animation, logoutTvDot .3s .6s 1 forwards ease
    z-index               1000
    abs()

#kdmaincontainer.scale
    vendor            animation, shrink 1s ease-out
    vendor            animation-iteration-count, 1
    vendor            transform-style, preserve-3d
    vendor            transform, scale(0)
