.ChatItem
  margin-top                7px
  rel()

  &:first-child
    margin-top              0
  &:last-child
    padding-bottom          10px
    .ChatItem-contentWrapper.editing
      margin-bottom         -10px


  .ChatItem-authorName
    display                 inline-block
    font-size               16px
    margin                  0 10px 0 0
    font-weight             600

  time
    color                   #999
    font-size               12px
    font-weight             400

  .ChatItem-likeLink
    abs()
    pointer()
    top                     11px
    display                 none
    vertical-align          text-bottom
    padding                 5px 10px

    .Tooltip-wrapper
      bottom                  22px
      display                 none
      opacity                 0
      vendor                  transition, opacity .3s ease

    &:hover
      .Tooltip-wrapper
        visible()
        opacity               1

    &:after
      content               ''
      display               block
      size                  9px, 9px
      r-sprite              activity heart-dim

    &.is-likedByOthers, &.is-likedByUser
      display               inline-block

    &.is-likedByOthers:after
      r-sprite              activity heart-outline !important

    &.is-likedByUser:after
      r-sprite              activity heart-solid !important

  .ChatItem-messageDate
    rel()
    pointer()
    line-height             20px

    &:hover

      time
        text-decoration     underline

      .Tooltip-wrapper
        visible()

  .emoji-wrapper
    vertical-align          text-bottom

  .ButtonWithMenuWrapper
    abs()
    hidden()
    top                     0px
    right                   10px
    z-index                 100

  .ChatItem-contentWrapper
    padding                 10px 23px 0 34px
    margin-top              10px
    overflow                visible

    &.editing
      overflow              hidden
      padding               10px 0 10px 34px
      bg                    color, $light-yellow

      .ButtonWithMenuWrapper
        hidden()

      .EmbedBox-container
        margin-top          0px

        .close-button
          bg                color, #fefacb
          shadow            0 0 0 2px #fefacb

    &.edited
      article
        p
          &:last-child:after
            content         ' (edited)'
            font-size       11px
            color           #CCC
            margin          1px 0 0 3px
            abs()
    &.MediaObject
      article
        padding-left        52px

    .ChatItem-contentBody
      article
        margin-right        24px

        p
          padding           0 0 2px

        pre
          max-width         701px
          max-height        300px
          overflow          auto
          borderBox()


  &:hover
    .ButtonWithMenuWrapper
      visible()

    .ChatItem-likeLink
      display               inline-block

  .ChatItem-updateMessageForm
    fl()
    rel()
    z-index                 1
    width                   calc(100% \- 84px)

    .ChatItem-authorName
      abs()
      margin-top            2px

  .EmbedBox-container
    padding-left            52px

  .ChatInputWidget
    padding                 0px !important
    margin-left             -6px
    kalc                    width, (100% \+ 6px)
    margin-bottom           0

    textarea
      resize                none
      display               block
      margin-top            24px
      padding               13px 42px 12px 6px

  .ChatInputWidget:before
    display                   none

  .ChatInputWidget-emojiButton
    right                     13px

.ChatItem.is-selected
  bg                          color, #FFFBD5

.ChatItem-contentWrapper.SimpleChatListItem
  margin                      0 !important
  padding                     0 23px 0 86px !important
  article
    padding-left              0 !important


  .ChatItem-messageDate
    abs()
    hidden()
    top                       0
    left                      15px

  .ChatItem-likeLink
    top                     1px
    left                    63px
    padding                 5px

  .EmbedBox-container
    padding-left            0px

  &:hover
    .ChatItem-messageDate
      visible()

  &.editing
    overflow                hidden
    padding                 0 25px 6px 73px !important

    .ChatItem-updateMessageForm
      width                 calc(100% \- 20px)
      margin-left           12px

      .ChatItem-authorName
        hidden()

    .EmbedBox-container
      padding-left          13px

.ChatItem-editActions
  abs()
  top                         4px
  right                       0
  line-height                 12px
  font-size                   11px

.ChatItem-editAction
  pointer()
  padding                     0
  outline                     none
  border                      none
  bg                          color, transparent

  &:before
    blockMid()
    content                   ''
    margin-right              6px

  &.cancel
    margin-right              3px

    &:before
      r-sprite                activity 'icon-cross'

  &.submit
    margin-right              20px

    &:before
      r-sprite                activity 'check-green'

