.ChatList
  margin-bottom               10px

  .ChatItem
    rel()
    max-width                 600px
    padding-left              34px

    .ChatItem-authorName
      margin-right            10px

    time
      color                   #999
      font-size               12px
      font-weight             400

    .ChatItem-likeLink
      abs()
      pointer()
      display                 none
      vertical-align          text-bottom
      padding                 5px

      &:after
        content               ''
        display               block
        size                  9px, 9px
        r-sprite              activity heart-dim

      &.is-likedByOthers:after
        r-sprite              activity heart-outline !important

      &.is-likedByUser:after
        r-sprite              activity heart-solid !important

    .ChatItem-messageDate
      rel()
      pointer()
      display                 inline-block

      &:hover

        time
          text-decoration     underline

        .Tooltip-wrapper
          visible()

    .SettingsMenuWrapper
      abs()
      hidden()
      top                     0px
      right                   20px

      button
        pointer()
        outline               none
        size                  16px !important, 10px !important
        border                none
        r-sprite              activity chevron-icon
        bg                    color, transparent

    .ChatItem-contentWrapper
      margin-top              20px
      overflow                visible

      .MediaObject-content
        overflow              visible

      &.editing
        rounded               3px 3px 0 0
        padding               10px 0 6px
        bg                    color, #FDF6E3
        overflow              hidden

        > div
          max-width           485px

        .SettingsMenuWrapper
          hidden()

      .ChatItem-contentBody
        article
          margin-top          7px
          p
            padding           0 0 2px

            > a
              hidden()

    &:hover
      .SettingsMenuWrapper
        visible()

      .ChatItem-likeLink
        display               inline-block

    .ChatItem-updateMessageForm
      fl()
      rel()
      z-index                 1
      width                   calc(100% \- 55px)

      textarea
        borderBox()
        outline               none
        rounded               3px
        font-size             14px
        color                 #4C4C4C
        line-height           19px
        border                1px solid #DFCC97
        padding               6px
        size                  100%, 34px
        resize                none
        display               block
        margin-bottom         2px

        &:focus
          shadow              0 0 3px rgba(125,190,241,.7)

      button
        fr()
        pointer()
        height                20px
        border                none
        text-align            center
        font-size             12px
        padding               0 10px

      button.green
        rounded               6px
        bg                    color, #61C17F
        color                 #FFF

        &:hover, &:focus, &:active
          bg                  color, #2DBEA1

      button.cancel-editing
        bg                    color, transparent
        color                 #999

.ChatItem-contentWrapper.SimpleChatListItem
  margin                      0 !important
  padding-left                50px

  .ChatItem-messageDate
    abs()
    hidden()
    left                      15px

  .ChatItem-likeLink
    left                      63px

  &:hover
    .ChatItem-messageDate
      visible()