.NotificationSettings-Modal
  .Reactivity-fieldset:last-child
    margin-bottom                 0
  .Reactivity-formfield
    margin-bottom                 5px

  .Reactivity-label
    pointer()
    margin-bottom                 5px

  .ChannelNotifications-description
    color                         #333
    line-height                   20px
    font-size                     14px

  .Reactivity-fieldMessage
    color                         $gray-12
    margin-top                    30px
    font-size                     14px