@import "./client/Framework/themes/default/kdfn"
@import "./client/stylus/appfn"
@import "nib/gradients"
@import "nib/vendor"

@css {
/*
ACTIVITY stylesheet
app.activity.styl
*/
}

// .content-page.activity
//   > .kdsplitview
//     margin-top          75px

.activity-main-split
  height              100%
  .panel-1
    overflow hidden

  a,&:visited
    color #FF9200

.notification-header
  background-color      #F4F4F4!important
  font-weight           400px!important
  display               block!important
  height                75px!important
  border-bottom         1px solid #E5E5E5!important
  div
    display             inline-block
    margin              19px 10px 10px 25px
  a
    position            absolute
    right               20px
    display             inline-block
    top                 30px
    size                18px,18px
    bg                  position, -480px -100px
    sprite()
  span
    font-size           18px
    padding             0
    margin              0
    font-weight         300
    text-shadow         0px 1px 0px rgba(255, 255, 255, 1)
  cite
    font-weight         300
    font-style          normal
    color               #888
    font-size           12px

.activity-content
  scrollbars()
  .kdtabview
    overflow            visible !important

  .listview-wrapper
    // .kdscrollview
    //   margin-top         28px
    .lazy-loader
      font-weight        600
      background         rgba(0, 0, 0, 0.02)
      border-bottom      1px solid rgba(0, 0, 0, 0.055)
      border-top         1px solid rgba(0, 0, 0, 0.055)
      font-size          12px
      color              #5F5F5F

/*
*  ACTIVITY LIST STYLES
*/

.activityhead
  padding            7px 0px 7px 17px
  line-height        12px
  font-size          13px
  color              #4F4F4F
  border-bottom      1px solid rgba(0, 0, 0, 0.075)
  height             28px
  top                0
  z-index            2
  bg(color,rgba(255,255,255,.9))
  borderBox()

  div
    margin-right    6px
    margin-left     4px
    font-size       88%
    color           #AAA
    fr()

    &.on-off
      margin-top    -1px

    > a
      text-decoration   none
      font-size         88%

  .new-updates
    span
      rounded           3px
      background-color  #FF9200
      color             white
      font-size         10px
      padding           1px 4px
      line-height       10px
      display           inline-block

.super .activity-related .activity-item.exempt
  bg                    color, rgba(255, 0, 0, .03)
  border                1px dotted rgba(255, 0, 0, .1)

.activity-related
  borderBox()
  a
    color                 #FF9200
    font-weight           600
    font-size             11px
    cursor                pointer
    &:hover
      color               #27a3c9
      text-decoration     none
  .kdlistitemview-activity
    border-bottom         1px solid rgba(0, 0, 0, 0.075)
    width                 auto
    vendor                transition, left .6s ease-in-out\, background-color .6s ease-in-out .6s
    background-color      #ffffff
    left                  0
    borderBox()
    &.hidden-item
      border-width        0
      background-color    #FDF5D9
      left                -100%

  .system-message
    font-weight           600
    bg                    color,rgba(0, 0, 0, 0.02)
    font-size             11px
    color                 #aaa

    >div
      width               auto
      margin              2px 0 2px 33px
      padding             2px 0 0 0


    .ttag
      margin              -1px 0 0 0

    .icon
      margin              -3px 30px 0 0
      sprite()
      size(20px,20px)
      blockMid()
    a
      color               #5F5F5F
      font-weight         600
      text-decoration     none

    >.new-member
      .icon
        bg                position,-320px -180px
    >.follow
      .icon
        bg                position,-320px -160px
    >.profile-update
      .icon
        bg                position,-340px -160px
    >.tagged
      .icon
        bg                position,-340px -140px
    >.topic
      .icon
        bg                position,-340px -140px
    >.application
      a.app
        font-family       mono
        bg                color, #eee
        padding           2px 5px 1px 5px
        shadow            inset 0 0 2px rgba(0, 0, 0, 0.1)
        rounded           2px

      .icon
        bg                position,-320px -200px

  .activity-item
    max-width           840px
    padding             22px 0 21px 20px
    borderBox()

    span.avatar
      padding       1px
      border        1px solid #E3E3E3
      width         40px
      height        40px
      float         left
      // margin-top    3px
      a
        size                  40px,40px
        background-size       cover
        background-position   center
        background-image      url('../images/defaultavatar/default.avatar.40.png')
        blockMid()

    .type-icon
      text-indent       -9999em
      border-radius     0
      padding           0
      margin            -2px 0 0 0
      sprite()
      size(18px,16px)
      blockMid()

    &.status
      .type-icon
        bg(position,-399px -376px)

    &.qanda
      .type-icon
        bg(position,-552px -376px)

    &.codesnip
      .type-icon
        bg(position,-706px -376px)

    &.codeshare
      .type-icon
        bg(position,-706px -376px)

    &.discussion
      .type-icon
        bg(position,-475px -376px)

    &.link
      .type-icon
        bg(position,-630px -376px)

    &:hover
      div.activity-settings-menu
        opacity         1

    div.activity-settings-menu
      vendor            transition, opacity .1s ease-out
      size              21px, 18px
      opacity           .2
      position          absolute
      top               0
      right             20px
      z-index           10
      button.kdbutton.with-icon
        padding         1px 2px
        padding-right   3px!important
        span.icon
          bg            position, -81px -281px
          size          16px, 16px
          padding       0
          margin        0
        &:hover
          gradient      #eee, #ddd
          rounded       2px
      .chevron
        display         none
      .chevron-separator
        display         none

.kdview.jcontextmenu.kdbuttonmenu.activity-settings-context
  border-color          rgba(0,0,0,.2)
  .chevron-ghost-wrapper
    border-color        rgba(0,0,0,.2)
    rounded             2px 2px 0 0
    width               19px
    span.chevron-ghost
      margin            0 auto
      bg                position, -80px -261px
  .kdcontextmenutreeview
    margin              3px 0
    .kdview.kdtreeitemview.default
      padding           2px
      font-size         11px


.activity-item-right-col
  padding-right   20px
  color           #797979
  position        relative
  overflow        visible
  margin-left     64px
  // margin-top      3px
  h3
    margin-bottom         10px
    color                 #e80
    font-size             13px
    font-weight           500
    cursor                pointer
    display               inline-block
  > p > span
    cursor                pointer
  p
    color                 #5F5F5F
    font-size             14px
    font-weight           300
    line-height           125%
    a
      font-size           14px
      line-height         125%
      font-weight         300
      noTextDeco()

  p.context
    margin                0 0 18px 0
    font-size             12px
    line-height           150%
    padding               0
    color                 #353535
    min-height            12px
  footer
    color                 #A5A5A5
    line-height           26px
    margin-top            15px
    line-height           18px
    .type-and-time
      fl()
      font-size           12px
      a
        noTextDeco()
        strong
          color           #7F7F7F
          text-transform  capitalize
      time, .tag-group
        font-size           11px
    .type-and-time-right
      fr()
      font-size           12px
      a
        noTextDeco()
        strong
          color           #7F7F7F
          text-transform  capitalize
      time, .tag-group
        font-size           11px

    .activity-actions
      color               #ccc
      size                auto,auto
      fr()

      span.like-view
      a.action-link
        margin            0 2px
        color             #FF9200
        font-weight       700 //ryan's 600 but weirdly it seems lighter here with 600
        text-decoration   none
        font-size         11px
        &:hover
          text-decoration none
          color           #27a3c9

      a.count
        font-style      normal
        display         inline-block
        bg              color, #0A92BA
        color           #fff
        font-size       10px
        padding         1px 4px
        line-height     10px
        rounded         3px
        noTextDeco()

button.kdbutton.dark
  span.icon
    sprite()
    &.save
      bg                position,-260px -420px
    &.copy
      bg                position,-240px -420px
    &.open
      bg                position,-220px -420px
    &.select-all
      bg                position,-280px -420px


.narrow
  .activity-item-right-col
    padding-right     15px
    margin-left       0

    footer
      margin-top      9px

      .activity-actions
        span.optional
          hidden()

  .activity-related
    .activity-item
      padding         15px 0 15px 15px

      span.avatar
        margin-right  10px

    .system-message
      > div
        margin        5px 0 1px 23px
      .icon
        margin        -3px 18px 0 0

.extra-narrow
  .activity-item-right-col
    padding-right     10px
    margin-left       0

    footer
      margin-top      9px

      .activity-actions
        span.optional
          hidden()

  .activity-related
    .activity-item
      padding         15px 0 15px 10px
      span.avatar
        margin-right  10px

    .system-message
      > div
        margin        5px 0 1px 23px
      .icon
        margin        -3px 18px 0 0



// *
// * ACTIVITY PAGE UPDATE WIDGET STYLES
// *

.update-options.codesnip
  .ace
    height                  250px !important
    overflow                auto
    white-space             pre
    bg(color,#000)

.update-widget-tabs
  z-index                   3
  overflow                  visible

  .kdtabpaneview
    padding                 23px 0 0 0
    overflow                visible
    // min-height              73px
    bg                      color, white
    shadow                  0 10px 20px -5px rgba(173, 173, 173, .8)
    borderBox()
    &.no-shadow
      shadow                none
    &.kdhiddentab
      display               none

  form.update-options
    display               block
    position              relative
    .form-actions-mask
      width               100%
      z-index             10
      .form-actions-holder
        width             100%
        z-index           10
        bg                color,white

  .kdinput.text
    size                  100%,33px
    font-size             13px
    border-color          rgb(232,232,232) rgb(232,232,232) rgb(224,224,224) rgb(232,232,232)
    padding               8px 10px 6px 10px
    line-height           17px
    borderBox()
    // this breaks focus border color better to be removed
    // &:hover
    //   border-color        rgb(199,199,199)
    &.discussion-body
      min-height 72px
      max-height 300px
      height 72px

  input:-moz-placeholder,
  input::-webkit-input-placeholder
    color                 #aaa

  .kdautocompletewrapper
    width                 100%
    color                 #b2b2b2
    font-size             13px
    display               inline-block!important
    // input.kdinput.text
    //   size                100%,100%
    //   borderBox()

  .form-headline
    left                    169px
    size                    560px,31px
    max-width               560px
    shadow                  0px 1px 0px 0px white

  .tags-selected-item-wrapper
    margin                  10px 0 0 0


  .formline
    position                relative
    width                   100%
    padding                 0 16px 18px 16px
    border-bottom           none
    borderBox()
    &:first-child > div
      margin-left           153px

    .formline-wrapper
      max-width             713px

    > div
      overflow              hidden
      max-width             560px

    label
      width                 143px
      vertical-align        top
      line-height           33px
      color                 #aaa
      font-size             12px
      text-align            right
      margin-right          10px
      fl()

    .ov
      overflow              visible

    div.kdselectbox
      position              absolute
      bottom                5px
      right                 5px
      background            rgb(36,36,36)
      shadow                none
      font-size             10px
      border                1px solid rgb(74,74,74)!important
      span.title
        color               rgba(255, 255, 255,.7)
        text-shadow         0 -1px 1px rgb(9,9,9)
      &.focus
        outline             none
        shadow              none!important
        border              1px solid rgb(255,255,255)
      span.arrows
        sprite()
        bg                  position,-80px -200px!important



  .formline.submit
    position                relative
    background              rgb(244,244,244)
    border-top              1px solid rgb(229,229,229)
    height                  55px
    padding                 14px 16px

  .submit-box
    button
      vertical-align        middle
      font-weight 600
    button.clean-gray
      padding-left          14px
      padding-right         14px
    a
      color                 rgb(173,173,173)
      margin-right          10px
      cursor                pointer
      blockMid()

  .modal-cancel
    font-size               11px

  .help-box
    float                   left
    overflow                hidden
    width                   auto
    height                  auto

form.status-widget

  div.large-input
  div.small-input
    margin-left           169px
    margin-right          16px
    max-width             560px


  .kdinput.text.status-update-input
    &.validation-error
      border-color        red

  textarea.kdinput.text.status-update-input
    size                  100%,72px
    min-height            72px
    max-height            300px
    padding               7px 10px 6px 11px
    vendor                transition, height .1s ease-out
    margin-bottom         20px

  .tags-selected-item-wrapper
    margin                0

.code-snip-holder
  position                  relative
  padding                   10px
  bg                        color,rgba(51,51,51,1)
  rounded                   4px
  size                      auto, 90px
  borderBox()

  .kdview.kdloader
    display                 block
    margin                  20px auto

  .code-wrapper.ace_editor
    overflow                visible
    size                    100%,100%
    .ace_sb
      overflow-y            auto
    .ace_scroller
      overflow-x            auto
      bg                    color,rgba(51,51,51,1)
    .ace_gutter
      color                 #999
      bg                    color, #444!important
      border                none

  .bottom-right-wrapper
    float                 left

  .editor-bottom-bar
    left                  -10px
    bottom                -35px
    padding               0 20px 0 0
    border                none
    bg                    image,none
    bg                    color,rgba(36,36,36,1)
    rounded               0 0 4px 4px
    height                32px
    vendor                box-sizing, content-box
    .section
      height              100%
      margin-top          2px
      margin-right        -4px
    .bottom-right-wrapper
      height              auto

  footer
    color             #bbb
    display           block
    width             100%
    padding           10px 0px
    border            1px solid #dedede
    position          relative
    left              -1px
    rounded(0,0,4px,4px)
    shadow(0 2px 1px 0 #ebebeb)
    bg(color,#f4f4f4)
    .qtip
      color               #bbb
      text-decoration     none
      span
        blockMid()
        size(20px,20px)
        sprite()
        bg(position,-140px -460px)
      cite
        text-decoration     underline
        font-style          normal
    .dummybuttonclass
      margin-right    30px
      margin-top      6px
      float           right
    > a
      margin-left     30px


.kdbuttongroup.activity-group
  position            absolute
  top                 20px
  left                16px
  z-index             4
  // size                auto!important,35px

  span.icon
    float           none
    margin-right    10px
    margin          2px 2px 0 0!important
    padding         0!important
    sprite()
    size            20px,20px
    blockMid()
    &.update
      bg            position,-80px 0
    &.discussion
      bg            position,-80px -20px
    &.question
      bg            position,-80px -40px
    &.tutorial
      bg            position,-80px -60px
    &.link
      bg            position,-80px -80px
    &.codesnip
      bg            position,-80px -100px
    &.codeshare
      bg            position,-80px -100px

  > button.icon-only
    padding       4px 4px 5px 5px

  button.active
    span.icon
      bg            position-x, -60px
// *
// * ACTIVITY PAGE UPDATE WIDGET BUTTON DROPDOWN STYLES
// *
button.activity-status-context
  border            1px solid rgba(232,232,232,1)
  border-color      rgba(232,232,232,1) rgba(232,232,232,1) rgba(224,224,224,1) rgba(232,232,232,1)
  shadow            0px 1px 0px 0px #fff
  padding           4px 7px 6px 5px
  cursor            pointer
  line-height       19px
  text-align        left
  background        linear-gradient(top, rgb(252,250,250) 0%,rgba(238,237,237,1) 100%)
  size              143px,33px
  color             #999
  rounded           4px
  borderBox()
  > span.icon
    float           none
    margin-right    10px
    margin          2px 2px 0 0!important
    padding         0!important
    sprite()
    size            20px,20px
    blockMid()
    &.update
      bg(position,-140px -320px)
    &.discussion
      bg(position,-140px -340px)
    &.question
      bg(position,-140px -360px)
    &.tutorial
      bg(position,-140px -380px)
    &.link
      bg(position,-140px -400px)
    &.codesnip
      bg(position,-140px -420px)
    &.codeshare
      bg(position,-140px -420px)

.activity-update-widget-wrapper
  height                auto
  position              absolute
  overflow              visible
  z-index               100
  .first-label
    hidden()
  &.edit-mode
    .kdbuttonwithmenu-wrapper.activity-status-context
      hidden()
    // .update-widget-tabs .kdtabpaneview
    //   bg                color, #ffd56e
    .first-label
      visible()

// .activity-update-widget-wrapper-folded
//   height                auto
//   position              absolute
//   overflow              visible
//   z-index               100
//   hidden()
//   .first-label
//     hidden()
//   &.edit-mode
//     visible()
//     .kdbuttonwithmenu-wrapper.activity-status-context
//       hidden()
//     // .update-widget-tabs .kdtabpaneview
//     //   bg                color, #ffd56e
//     .first-label
//       visible()

.widget-holder
  overflow              visible
  min-height            75px
  borderBox()
  // .widget-back
  //   width               100%
  //   height              74px
  //   position            absolute
  //   bg                  color, white
  //   left                0
  //   top                 0
  //   z-index             0
  //   &.gradient
  //     border-bottom     1px solid rgb(229,229,229)
  //     shadow            inset 0 3px 1px 3px rgba(250,250,250,.5)
  //     gradient          rgb(255,255,255),rgb(242,242,242)

  .chevron-separator
    display           none
  .chevron
    top               50%
    margin-top        -11px
    margin-right      3px
    opacity           .6
  .title
    font-size         11px
    blockMid()

  .no-shadow

    .status-widget
      width                 100%
      height                53px
      bg                    color, white
      border-bottom         1px solid rgb(229,229,229)
      shadow                inset 0 3px 1px 3px rgba(250,250,250,.5)
      gradient              rgb(255,255,255),rgb(242,242,242)

.activity-status-context.kdbuttonwithmenu-wrapper
  position                  absolute
  top                       23px
  left                      16px
  z-index                   4
  size                      auto!important,35px

.kdbuttonmenu.activity-status-context
  border                    1px solid #bbb
  bg                        color,rgba(255,255,255,.95)
  min-width                 150px
  // border                    1px solid rgb(187,187,187)

  .kdlistview-buttonmenu
    rounded                 3px 0 3px 3px
    border                  none

  .chevron-ghost-wrapper
    width                   30px
    rounded                 0 3px 0 0
    .chevron-ghost
      margin                6px 0 0 6px

  .icon
    margin-right            7px
    size                    20px,20px
    sprite()
    blockMid()

  .kdlistitemview
    margin                  0 !important
    padding                 0 10px !important
    border-top              1px solid transparent
    border-bottom           1px solid transparent
    size                    auto,auto
    borderBox()
    > a
      font-size             12px
      line-height           26px
      color                 #444
      noTextDeco()
    &.selected
      border-width          1px 0
      bg                    color, finderSelectedColor1
      > a
        text-shadow         0 -1px 0 rgba(0,0,0,0.22)
        color               white
        text-shadow         none
      &:hover
        bg                  color, finderSelectedColor1

  .kdlistitemview.disabled
    opacity                 .5

  .update .icon
    bg                      position,-140px -320px
  .discussion .icon
    bg                      position,-140px -340px
  .question .icon
    bg                      position,-140px -360px
  .tutorial .icon
    bg                      position,-140px -380px
  .link .icon
    bg                      position,-140px -400px
  .codesnip .icon
    bg                      position,-140px -420px
  .codeshare .icon
    bg                      position,-140px -420px

  .selected
    .update .icon
      bg                    position,-160px -320px
    .discussion .icon
      bg                    position,-160px -340px
    .question .icon
      bg                    position,-160px -360px
    .tutorial .icon
      bg                    position,-160px -380px
    .link .icon
      bg                    position,-160px -400px
    .codesnip .icon
      bg                    position,-160px -420px
    .codeshare .icon
      bg                    position,-160px -420px

// // Activity Item for Discussions

.activity-discussion-container
  position:relative

  &:hover
    div.view-full-discussion
      background-color #ff9200
      border-color darken(#ff9200,25%)
      a
        color white

  .comment-body
    max-height 250px
    overflow hidden

    // this is supposed to visually cut off the box nicely
    // &:before
    //   content: " ";
    //   width: 100%;
    //   height: 100px;
    //   position: absolute;
    //   z-index: 100;
    //   top: 178px;
    //   left: 0;
    //   background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.85) 100%);

  div.view-full-discussion
    // vendor text-shadow, 1px 1px 1px rgba(0, 0, 0, 0.5)
    cursor pointer
    vendor transition, all 0.2s ease-in-out

    borderBox()
    height auto
    width 100%
    background-color #f7f7f7
    border 1px solid #e3e3e3
    // z-index -1
    margin-top 0px
    padding-top 5px
    padding-bottom 5px
    padding-left 10px
    rounded 0px 0px 3px 3px
    span
      font-size 12px
      font-weight 500
      color #FF9200
      height auto
    a
      vendor transition, color 0.2s linear
      noTextDeco()
    // &:hover
    //   background-color #FF9200
    //   // span
    //   //   color #f7f7f7



  .comment-title
    margin-bottom:10px
    p
      color #e80
      font-weight 500
  span.activity-text
    margin 0px 2px
    color #FF9200
    font-size 11px
    font-weight bold

div.activity-opinion.item-content-comment
  cursor pointer

  > span.avatar
    height 20px !important
    width 20px !important

  p.comment-body
    margin-top 5px

  footer.activity-opinion-item-footer
    margin-top 2px
    a
      noTextDeco()


div.show-more-opinions
  border none
  padding-left 20px
  padding-top 5px
  padding-bottom 5px
  background-color #f7f7f7
  size                  auto, 0
  padding               0 10px
  line-height           27px
  vendor                transition, height .15s linear
  borderBox()
  &.in
    height              27px

  &.has-new-items
    a.new-count
      display           inline
  a
    line-height         14px
    color               #299FC6
    font-weight         400
    noTextDeco()
    &.new-count
      font-weight       600

  span.small-loader
    position            absolute
    right               15px
    top                 11px

  .new-items
    left                  500px
    opacity               0
    padding-left          2px
    padding-right         2px
    font-weight           600
    color                 white
    position              relative
    bg                    color, #FF9200
    border                1px solid #FF9200
    rounded(3px 3px 3px 3px)
    vendor                transition, left .3s ease-in-out \, opacity .3s ease-in-out

    &.in
      opacity             1
      left                6px

  .new-items:after, .new-items:before
    right                 100%
    border                solid transparent
    content               " "
    height                0
    width                 0
    position              absolute
    pointer-events        none

  .new-items:after
    border-right-color    #FF9200
    border-width          4px
    top                   50%
    margin-top            -4px

  .new-items:before
    border-right-color    #FF9200
    border-width          5px
    top                   50%
    margin-top            -5px

  a.all-count
    noTextDeco()

div.show-more-discussion
  padding-top                     5px
  padding-bottom                  5px
  background-color                #f7f7f7
  padding-left                    10px
  a.discussion-view-more
    noTextDeco()

div.discussion-widget-content
  width                           100%
  float                           right
  display                         block
  text-align                      right

  label.markdown-preview-label
    font-size                     11px
    color                         #FF9200
    font-weight                   600
    margin-right                  0px
    display                       inline-block
    float                         none

  input.checkbox.markdownPreviewCheckbox
    vertical-align                middle
    margin-right                  10px

  button
    margin-top                    12px

    &.fullscreen-button
      padding 0px 2px
      height 24px
      span
        &.fullscreen
          bg              position,-20px -360px

  a.markdown-link
    margin-top                    11px
    display                       inline-block
    margin-right                  9px
    line-height                   100%
    text-decoration               none
    font-size                     11px
    font-weight                   600
    color                         #ff9200


div.kdview.link-embed-box
  borderBox()
  position relative

  vendor transition, opacity .1s linear

  width auto
  height auto

  // // this is gecko
  // width max-content
  height max-content

  // // this is webkit-only
  // width intrinsic
  height intrinsic

  rounded 4px
  border 1px solid black
  border-color #E8E8E8 #E8E8E8 #E0E0E0 #E8E8E8

  // Fix YouTube style breakage in Chrome
  // vendor font-smoothing, subpixel-antialiased !important;

  background-color #F7F7F7

  padding 0px 0px
  margin-top 15px

  min-height 75px

  &.link-wigdet
    margin-top 0px

  // report button for embeds
  > button.kdbutton.report-embed, button.kdbutton.hide-embed
    position absolute
    top 4px
    right 3px
    size 20px,20px
    margin 0px
    padding 0px
    border none
    opacity 0.5
    background transparent
    vendor transition, opacity 0.3s ease-in-out
    z-index 3

    > span.icon
      sprite()

      &.hide
        bg position, -80px -240px
      &.report
        bg position, 0px -120px

    &:hover
      opacity 1

  > div.embed-box-settings
    vendor            transition, opacity .1s ease-out
    size              21px, 18px
    opacity           .2
    position          absolute
    top               0
    right             20px
    z-index           10
    position absolute
    right 0px
    top 0px
    margin 0px
    display inline-block
    height inherit

    .kdview.jcontextmenu.kdbuttonmenu
      border-color          rgba(0,0,0,.2)
      .chevron-ghost-wrapper
        border-color        rgba(0,0,0,.2)
        rounded             2px 2px 0 0
        width               19px
        span.chevron-ghost
          margin            0 auto
          bg                position, -80px -261px
      .kdcontextmenutreeview
        margin              3px 0
        .kdview.kdtreeitemview.default
          padding           2px
          font-size         11px

    button.kdbutton.with-icon
      padding         1px 2px
      padding-right   3px!important

      &:hover
        gradient      #eee, #ddd
        rounded       2px

      span.icon
        display block
        float left
        position relative
        background-repeat no-repeat
        background-color transparent
        background-image url("../images/_kd.sprites.png")
        margin 0
        padding 0
        height 16px
        width 16px
        background-position -81px -281px
        bg            position, -81px -281px
        size          16px, 16px
        padding       0
        margin        0

    .chevron
      display         none
    .chevron-separator
      display         none

  span.embed-loader
    position absolute
    left 50%
    right 50%
    top 40%
    bottom 50%

  > div.embed-links-container
    // div.embed-link-list-head
    //   float left
    //   height 34px
    //   border 1px solid #e8e8e8
    //   margin 5px 0 0 5px
    //   border-right none
    //   max-width 50px
    //   rounded 4px 0px 0px 4px
    //   span
    //     color #999
    //     font-size 11px

    div.embed-link-list
      padding 5px

      &.layout-wrapper
        padding 5px 5px 2px 5px
        margin 5px
        border 1px solid #e8e8e8
        background-color #fff
        rounded 4px


      div.embed-link-item
        width auto
        display inline-block
        margin-right 10px
        margin-bottom 0px
        max-height inherit
        line-height inherit
        vertical-align inherit
        max-width 200px
        overflow hidden

        // div.embed-link-indicator
        //   float left
        //   display inline-block
        //   size 20px 15px
        //   margin-right 1px
        //   > span.icon

        //     size 20px 15px
        //     sprite()
        //     display block
        //     float left
        //     &.link
        //       // bg position, -222px -442px
        //       bg position, -141px -400px


        //   > span.link-text
        //     font-size 8px
        //     line-height 8px
        //     display block
        //     color #bbb

        &.active, &.active:hover
          div.embed-link-wrapper
            button
              span.button-title
                // color #ff9200
                text-decoration underline

        &:hover
          div.embed-link-wrapper
            button
              span.button-title
                color #27A3C9

        &:last-child
          margin-right 0px

        div.embed-link-wrapper
          display inline-block
          padding 0 2px 2px 0
          background-color white
          min-height 18px
          height 18px
          rounded 4px

          img.embed-favicon
            float left
            max-height 14px
            max-width 14px
            margin 3px 3px 0 3px

          button
            border none
            vendor box-shadow none
            // bg color, lighten(#5f5f5f, 50%) //#ff9200
            bg color, #fff
            color #ff9200
            text-shadow none
            background-image none
            rounded 3px
            max-width 190px
            height 18px
            max-height  18px
            display block
            vendor transition, max-width 0.1s ease-in-out
            overflow hidden
            padding 3px 3px 4px 3px
            // &:hover
            //   max-width:100%


            span.button-title
              text-overflow ellipsis
              max-width 180px
              max-height inherit
              overflow hidden
              display block
              height 15px
              white-space nowrap

  > div.link-embed
    borderBox()
    height inherit
    opacity 1
    vendor transition, opacity 0.15s ease-in-out

    &.loading
      opacity 0.5


    > div.embed
      borderBox()
      height inherit
      rounded 4px
      padding 15px 15px 12px 15px

      // this will overload the default twitter embed by embedly
      > div.embedly_twitter.custom-twitter
        background none!important
        font-size 13px!important
        padding 0px!important
        > div.embedly_tweet_content
          font-size 13px!important
          background none!important
          padding 0px!important
          > div.components-middle
            font-size 13px!important
            > p
              font-size 13px!important
              color #5F5F5F!important
              background none!important
              padding 0px!important
              > a
                font-size 13px!important
                color #FF9200!important
              > span.metadata
                font-size 13px!important
                > span.author
                  font-size 13px!important
                  > a
                    font-size 13px!important
                  > strong
                    > a
                      font-size 13px!important
                      color #FF9200!important

              > span.embedly_timestamp
                font-size 13px!important
                > a
                  font-size 13px!important
                  font-weight 300px!important
                  color #FF9200!important

              > span.tweet-actions
                font-size 13px!important
                >a  >span >b
                  font-size 13px!important
                  font-weight 300!important
                  color #FF9200!important

      &.custom-link, &.custom-rich, &.custom-video
        font-size 13px
        font-weight 400
        overflow hidden

        iframe
          max-width 100%



        > div.preview_image
          borderBox()
          display inline-block
          float left
          margin-right 15px
          max-height 300px
          min-height 20px
          height 100%
          max-width 100px
          min-width 50px
          overflow visible
          position relative
          // width auto

          > iframe
            max-height 90px
            min-height 50px
            min-width inherit
            max-width inherit
            line-height 100%
            margin 0
            padding 0
            noTextDeco()

          > a.preview_link
            max-height 90px
            min-height 20px
            min-width inherit
            max-width inherit
            line-height 100%
            margin 0
            padding 0
            noTextDeco()

            > img.thumb
              borderBox()
              max-height inherit
              min-height inherit
              min-width inherit
              max-width inherit
              margin 0
              padding 0

        > div.preview_link_pager
          // position absolute
          // left 14px
          // bottom 12px
          padding-top 2px
          padding-bottom 5px
          clear both
          margin-bottom 15px

          > a.preview_link_switch
            borderBox()
            color #ff9200
            border 1px solid #FF9200
            background-color white
            margin 0px
            padding 2px 5px
            cursor pointer
            font-size 10px
            line-height 12px
            &:hover
              color white
              background-color #ff9200
            &.previous
              rounded 4px 0 0 4px
              margin-right 2px
            &.next
              rounded 0 4px 4px 0
            &.disabled
              color #E8E8E8
              cursor inherit
              border-color #E8E8E8 #E8E8E8 #E0E0E0 #E8E8E8
              &:hover
                color #E8E8E8
                background-color white

          > div.thumb_count
            display inline
            color #5F5F5F
            font-size 10px
            span.thumb_nr
              color #5F5F5F
            span.thumb_all
              color #5F5F5F
            // span.thumb_text
            //   display none

        div.preview_text
          borderBox()
          display        block
          overflow       hidden
          width          auto
          min-height     20px
          font-size      12px
          font-weight    400
          color          #797979
          // max-height 90px
          // min-width      300px  // half the width - paddings
          // max-width 413px

          .edit-indicator
            borderBox()
            opacity 0.5
            max-height 16px
            height 16px
            color #bbb
            text-transform uppercase
            font-size 10px
            line-height 14px
            font-weight 300
            border 1px solid #ccc
            color white
            background-color #ccc
            padding 0px 3px
            vendor transition, opacity 0.3s ease-in-out
            display inline-block
            rounded 3px

            &:hover
              opacity 1

          > a.preview_text_link
            noTextDeco()
            color        inherit
            font-size    inherit
            font-weight  400
            &.has-config:hover
              cursor     text

            > input, textarea
              overflow   hidden
              height     auto
              padding    1px 3px

              min-width  350px
              max-width  540px

            > input
              margin-bottom 3px

            > textarea
              margin-top 3px
              min-height 100px

            > div.preview_title
              font-size  inherit
              font-weight 400
              margin-bottom 3px
              noTextDeco()
              color #FF9200
              &:hover
                color #27A3C9


            > div.description
              margin-top 17px
              noTextDeco()
              display block
              font-weight 400
              font-size inherit
              overflow hidden
              color inherit


          // > div.provider_info:last-of-type
          //   margin-bottom 0px

          > div.author_info
            display inline-block
            font-weight inherit
            font-size inherit
            color inherit
            a
              font-weight 400
              font-size inherit
              noTextDeco()
              color #FF9200
              // color #5F5F5F
              // color black

              &:hover
                color #27A3C9

          > div.provider_info
            noTextDeco()
            font-size inherit
            font-weight inherit
            // margin-bottom 17px
            color inherit
            strong
              font-weight inherit
              // color black
            a
              font-weight 400
              font-size inherit
              noTextDeco()
              color #FF9200
              // color #5F5F5F
              // color black

              &:hover
                color #27A3C9


      // img.thumb
      //   max-height 100px!important
      //   max-width 100px!important
      //   min-height 25px
      //   // min-width 25px
      //   float left

      // a
      //   display block
      // a.provider
      //   display block

div.kdview.status-widget.link-embed-box
  div.link-embed
    width : 560px

div.link
  div.activity-item-right-col
    h3
      cursor inherit
      a
        font-size 13px
        font-weight 500
        noTextDeco()
    > p
      > span
        cursor inherit


form.link-widget
  div.formline
    textarea.kdinput.text
      min-height    70px

form.status-widget
  div.formline
    div.link-embed-box
      margin-left   153px

div.modal-fullscreen-text
  textarea.fullscreen-data
    float           left
    // vendor          transition, width 0.01s linear
  div.kdinputwithpreview.input_preview
    position        absolute
    top             5px
    right           8px
    borderBox()
    // margin-top 5px
    z-index         500
    div.preview_content
      // max-height inherit
      height        inherit

div.kdinputwithpreview.input_preview
  borderBox()
  margin              0 0 0px 0
  padding             5px 0 0 0
  min-height          40px
  position            relative
  overflow            auto

  &.content-hidden
    margin-bottom     0px

  div.preview_switch
    borderBox()
    position          absolute
    right             1px
    top               6px
    float             none
    bg                color, #F4F4F4
    rounded           0px 4px 0px 4px
    padding           1px 3px
    border-left       1px solid
    border-bottom     1px solid
    border-color      #e8e8e8 #e8e8e8 #e0e0e0 #e8e8e8
    height            23px
    width             auto
    // box-shadow -2px 2px 10px 0px rgba(0,0,0,0.29)

    &.content-hidden
      rounded         4px
      border          1px solid
      top             5px
      right           0px
      height 24px
      border-color    #e8e8e8 #e8e8e8 #e0e0e0 #e8e8e8

    label.preview_switch_label
      color           #ff9200
      width           auto
      min-width       auto
      display         inline-block
      float           none
      font-size       11px
      line-height     16px
      padding         2px 2px
      margin-right    5px
      font-weight     600

    // input.preview_checkbox
    //   padding         2px 2px
    //   margin          2px
    //   min-width       auto
    //   width           auto
    //   float           none
    //   display         inline-block
    //   vertical-align  middle

    div.kdinput.on-off
      margin-top            2px
      float                 right
      font-family           sans
      width                 auto
      rounded               2px
      a
        display             inline-block
        border              1px solid #cfcfcf
        font-size           9px
        font-weight         bold
        color               #b6b6b6
        line-height         8px
        text-align          center
        padding             7px 0px 6px 0px
        text-decoration     none
        text-shadow         0 1px 0 #ffffff
        text-transform      uppercase
        size                28px,auto
        gradient1           #e6e5e5,85.3%,white,23.9%
        shadow              0 1px 0 rgba(255, 255, 255, 0.69)
        &:hover
          gradient1         white,100%,#e6e5e5,15.3%
          color             #918f8c
          text-shadow       0 1px 0 #ffffff
          shadow            inset 0 1px 1px -1px rgba(0,0,0,0.32)
          border-top-color  #b9b9b9
        &.active
          border-color      #e2963f
          color             #ffffff
          text-shadow       0 -1px 0 #b97e42
          shadow            0 1px 0 rgba(255, 255, 255, 0.69), inset 0 1px 1px hsla(0, 0%, 0%, 0.12)
          gradient1         #f49f3f,82.7%,#e18931,30%
          &.off
            color               rgb(140,140,140)
            gradient1           white, 85.9%, #e6e5e5, 23.3%
            border              1px solid #cfcfcf
            text-shadow         0 0 0 #ccc
            shadow              0 1px 0 rgba(255,255,255,0.69), inset 0 3px 6px -5px rgba(0,0,0,0.69)
            // gradient1       rgb(199,81,29),100%,rgb(168,70,25),44%
        &.off
          // border-left       1px solid rgba(51, 51, 51, 0.15)
          letter-spacing    0px
          rounded           0 2px 2px 0
        &.on
          border-right      1px solid rgba(51, 51, 51, 0.15)
          rounded           2px 0 0 2px
      &.big
        width               76px
        a
          font-size         11px
          padding           9px 0px
          width             36px

      &.tiny
        a
          padding           3px 0px 2px 0px

      &.dark
        a
          shadow            none
          &:hover
            shadow          none
          &.active
            shadow          none
            &.off
              shadow        none

  div.preview_content
    borderBox()
    border            1px solid
    border-color      #e8e8e8 #e8e8e8 #e0e0e0 #e8e8e8
    padding           10px
    rounded           4px
    max-height        300px
    min-height        24px
    overflow          auto
    vendor            transition, all 0.1s linear

    > *:last-child
      margin-bottom   0

.twipsy.link-expander

  .twipsy-inner

    vendor box-shadow,  0 2px 5px rgba(0, 0, 0, 0.2)
    background-color    #fff!important
    color               #000
    &:hover
      color             #27A3C9

    span
      color             #ff9200
  .twipsy-arrow
    vendor box-shadow,  0 2px 5px rgba(0, 0, 0, 0.2)
    border-top          3px solid #fff!important

p.status-body

  // a
  //   > span.icon, span

  //     vertical-align:bottom
  //     size 18px 16px
  //     sprite()
  //     display inline-block
  //     margin-bottom 1px
  //     &.link, &.expanded-link
  //       bg position, -1px -440px

  //       &.shortened
  //         bg position, -21px -440px


div.protocol-info-box
  borderBox()
  rounded 4px
  border 1px solid #e8e8e8
  padding 6px 9px

  label
    opacity 0.75
    margin-left 15px

  input.stop-sanitizing
    vertical-align top
    margin-top 2px
    margin-left 2px


  > button.kdbutton.hide-info-box
    position absolute
    top 4px
    right 3px
    size 20px,20px
    margin 0px
    padding 0px
    border none
    opacity 0.5
    background transparent
    vendor transition, opacity 0.3s ease-in-out
    z-index 3

    > span.icon
      sprite()

      &.hide
        bg position, -80px -240px
      &.report
        bg position, 0px -120px

    &:hover
      opacity 1

img.tutorial-preview-image
  max-height 200px
  cursor pointer
div.tutorial-badge
  position absolute
  left -20px
  top -20px
  size 40px 40px
  background-color:#ff9200
  opacity 1!important
  vendor transform, rotate(-45deg)
