@import "./client/Framework/themes/default/kdfn"
@import "./client/stylus/appfn"

@css {
/*
  Classroom stylesheet
  app.activity.styl
*/
}

.classroom-app-view
  background                #EFEFEF
  vendor                    transition, left 0.4s ease-in-out
  .inner-header
    z-index                 10001
    .chapters, .information
      size                  21px, 22px
      margin-right          5px
      top                   9px
      fr()
      pointer()
      sprite()
      bg                    position, 0px -477px
    .information
      bg                    position, -260px -437px
  .panel-container
    kalc                    height, 100% \- 38px, 100%
  .container
    background              url('../images/bg/blurred/4.jpg')
    height                  320px
    box-shadow              0px 0px 700px rgba(255, 255, 255, .5) inset
  .banner
    margin                  0 auto
    size                    1280px, 320px
    color                   #FFF
    position                relative
    h1
      font-weight           bold
      font-size             68px
      text-shadow           2px 2px 3px rgba(0, 0, 0, .4)
      size                  500px, 240px
      line-height           240px
      margin-left           120px
    h2
      margin-left           125px
      font-size             20px
      position              relative
      text-shadow           1px 1px 1px rgba(0, 0, 0, .2)
      top                   -80px
    img
      top                   60px
      position              absolute
      right                 120px
  .courses
    text-align              center
    .title
      font-size             22px
      font-weight           600
      margin-bottom         30px
    .no-related-course, .no-enrolled-course
      font-size             14px
      font-weight           600

.courses
  appThumbStyl()

.classroom-chapters, .chapter-description
  abs()
  vendor                    border-radius, 0 0 6px 6px
  vendor                    box-shadow, 0 0 12px rgba(0, 0, 0, .6)
  vendor                    transition, top .4s ease
  background                #eee
  z-index                   10000
  height                    auto
  top                       -200px
  max-height                200px
  &.active
    top                     38px

.chapter-description
  padding                   15px

.classroom-chapters
  appThumbStyl()
  text-align                center
  figure
    size                    130px, 165px

.chapter-index
  margin-bottom             10px

.chapter-list-item
  size                      auto, 60px
  padding                   6px
  border-bottom             1px solid #CCC
  text-align                left !important
  .chapter-number
    size                    30px, 30px
    vendor                  border-radius, 80px
    background              #CCC
    font-size               22px
    font-weight             600
    text-align              center
    margin-right            6px
    position                relative
    top                     9px
    fl()
  .chapter-title
    size                    198px, 20px
    overflow                hidden
    text-overflow           ellipsis
    white-space             nowrap
    font-size               13px
    font-weight             600
    cursor                  default
  .chapter-description
    font-size               11px
    margin-left             38px
    size                    auto, 28px
    overflow                hidden
    cursor                  default
  .top-badge
    size                    22px, 12px
    top                     7px
    left                    260px
    abs()

.classroom-chapters.details-hidden .courses
  div
    display                 none
  div:first-child
    display                 block

.chapters-container
  text-align                center
  figure
    size                    130px, 165px

.classroom-course
  .header-container
    padding                 40px 0 30px
    background              #fefefe // cok fe fe fe
    box-shadow              0px 0px 10px rgba(0, 0, 0, .3)
    overflow                hidden
    .header
      width                 1024px
      margin                0 auto
      overflow              hidden
    img
      float                 left
      margin-right          20px
    .header-text
      float                 left
      width                 876px
      min-height            120px
    h1
      font-size             30px
      margin-bottom         8px
    p
      font-size             14px
      margin-top            10px
    .start-now-button
      font-size             14px
      float                 right
      margin-top            10px
    .kdloader
      abs                   50%, 50%
      margin                -20px
  .chapters
    p
      margin                20px 0
      font-size             28px
      font-weight           600
      text-align            center