@import "./client/Framework/themes/default/kdfn"
@import "./client/stylus/appfn"

@css {
/*
LOGIN SIGNUP stylesheet
app.login-signup.styl
*/
}

body.login
  .kdview.login-screen
    opacity          1
    z-index          100
    padding-top      160px
    abs()

// swapping views for views
.kdview.login-screen
  opacity           0.00001

  &.land-page
    background-color   rgba(0,0,0,.6)
    left               11160px
    padding-right      160px
    vendor transition, left .6s ease-in-out

    &.landed
      left               160px
      height             100%

    .flex-wrapper
      background-color  rgba(0,0,0,0.6) !important

  .login-form-holder
  .login-options-holder
  .back-to-login
  .regLink
  .recLink
  .reqLink
  .vidLink
  .logLink
  .bigLink
  >section
    hidden()

  &.home
    // margin-top            -340px !important
    // height                 730px

    >section
    .bigLink
    .home
      visible()
    .flex-wrapper
      overflow            visible
      size                90%, 596px
      max-width           920px
    .login-form-holder
      height              100%
      margin              -15px 0 0 0
      padding             0
    iframe
      opacity             1!important

  &.lr
    // margin-top            -200px !important

    .logLink
    .regLink
    .vidLink
      visible()
    .flex-wrapper
      overflow            visible
      //size                400px, 335px
      // height              235px
      &.expanded
        width             400px
        p.request-thanks
          height          140px


    .rqf
      visible()
      >.kdview
        overflow          visible
      .kdnotification.mini.register
        top               76px!important

  &.login
    // margin-top            -230px !important

    .lf
    .regLink
    .recLink
    .vidLink
    .reqLink
    .login-options-holder.log
      visible()

  &.register
    // margin-top            -300px !important

    .rf
    .logLink
    .vidLink
    .reqLink
    .login-options-holder.reg
      visible()
    .flex-wrapper
      size                400px, 481px
    &.taller .flex-wrapper
      height              503px

  &.recover
    .rcf
    .logLink
      visible()
    .flex-wrapper
      height              193px
    .rcf .kdnotification.mini.register
      top                 174px!important

  &.reset
    .rsf
    .logLink
      visible()
    .reset-link
      hidden()
    .flex-wrapper
      height              254px

.kdview.login-screen
  text-align              center
  vendor                  transition, none
  borderBox()

  .up-arrow
    display               block
    abs()
    bottom                12px
    left                  50%
    size                  50px,50px
    margin-left           -25px
    border                25px solid transparent
    border-bottom-color   rgba(0,0,0,.3)
    borderBox()
    &:hover
      border-bottom-color rgba(255,255,255,.3)

  a.back-to-home
    display               block
    width                 200px
    margin                30px auto 10px auto
    z-index               1
    opacity               .8
    noTextDeco()
    span::before
      content             '↓'
    &:hover
      opacity             1
      span::before
        content           '↑'

  // .login-lights
  //   abs()
  //   top                   0
  //   left                  0
  //   background            transparent url("../images/bgflare.png") no-repeat center top
  //   size                  100%,416px
  //   z-index               0

  .flex-wrapper
    rel()
    size                  220px, 342px
    border                1px solid rgba(255,255,255,0.16)
    rounded               8px
    margin                30px auto 30px auto
    shadow                0 0 150px rgba(0, 0, 0, 0.32)
    bg                    color, rgba(255,255,255,0.05)
    vendor                transition, height .4s ease-in-out\,width .4s ease-in-out\, margin .4s ease-in-out
    overflow              hidden

  .login-hint
    color                 #B4B3B3
    margin                0 auto 10px auto
    width                 78%
    font-size             11px

  .kdnotification.mini.register
    abs()
    top                   181px!important
    padding               0
    rounded               3px
    shadow                none
    background            transparent

    .kdnotification-title
      font-size           10px
      line-height         10px
      padding             0
      color               #ccc

      img
        margin            0px 3px 0 0
        vertical-align    bottom
        size              12px, 11px

  .head-banner
    position              fixed
    z-index               10000
    width                 100%
    top                   0
    height                0px
    font-size             16px
    padding-top           6px
    color                 white
    cursor                pointer
    border-bottom         1px solid rgba(15,15,15,0.16)
    bg                    color, rgba(15,15,15,0.45)
    vendor                transition, height .4s ease-in-out

    &.show
      height              26px

    span
      color               #ffb500

  .video-wrapper
    overflow              visible
    iframe
      size                89.13%, 76.6%
      background          rgb(40,37,32)
      opacity             0.00001
      vendor              transition, opacity .6s ease-in
      border              10px solid rgb(40,37,32)
      rounded             5px
      // shadow              0 -1px 0px rgba(0,0,0,0.6)\, 0 0px 1px 1px rgba(255,255,255,.1)
      .as
        display           none!important
    a.login-register
      display             inline-block
      margin              10px auto 0
    button
      margin              2px 0 0 0
      padding             6px 10px
      font-weight         400
      color               transparent
      text-shadow         none
      rounded             13px
  a
    color                 #ffb500
    noTextDeco()
    &:hover
      color               white

  hr
    size                80%,2px
    border-top          1px solid rgba(0,0,0,0.6)
    background          rgba(255,255,255,.1)
    margin              40px auto
    vendor              transition, margin .3s ease-in
    borderBox()

  .reviews
    p
      color               #aaa
      font-size           32px
      margin              20px 0 10px 0
      line-height         40px
      font-family         serif
      font-style          italic
      vendor              transition, all .3s ease-in
    span
      display             block
      color               #555
      font-size           14px
      font-weight         300

  .footer-links
    a
      color               #aaa
      &:hover
        color             white

  footer.copy
    font-size             11px
    color                 #444
    padding-bottom        30px

.login-box-header
  rel()
  padding                 30px 0 0 0
  text-align              center
  overflow                visible
  height                  98px
  borderBox()
  .betatag
    text-indent           -9999px
    abs()
    top                   -3px
    right                 -3px
    size                  64px,38px
    sprite()
    bg                    position,-400px -120px
  .logo
    text-indent           -9999px
    size                  140px,40px
    margin-left           1px
    cursor                pointer
    blockMid()
    sprite()
    bg(position,-400px 0)
  a.back-to-login
    font-size             11px
    abs()
    width                 100%
    bottom                10px
    left                  0
    noTextDeco()

.login-options-holder
  border-top              1px solid rgba(0, 0, 0, 0.1)
  height                  76px
  overflow                visible
  margin-bottom           24px

.kdview.login-screen
  h3
    color                 #b4b3b3
    text-shadow           0 -1px 0 rgba(0, 0, 0, 0.64)
    border                none
    border-top            1px solid rgba(255, 255, 255, 0.1)
    padding               12px 10px 0 10px
    text-align            center !important
    font-size             11px
    line-height           30px
    height                44px
    borderBox()

.login-options
  text-align    center
  margin        0

  li.koding
    bg(position,-440px -80px)
  li.google
    opacity       .35
    cursor        not-allowed
    bg(position,-440px -40px)
    &:hover
      cursor        not-allowed
  li.facebook
    opacity       .35
    cursor        not-allowed
    bg(position,-400px -80px)
    &:hover
      cursor        not-allowed
  li.github
    opacity       .35
    cursor        not-allowed
    bg(position,-400px -40px)
    &:hover
      cursor        not-allowed
  li
    sprite()
    size          32px,32px
    border        1px solid rgba(0, 0, 0, 0.2)
    margin        0 5px
    shadow        inset 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2)
    rounded       5px
    text-indent   -9999px
    blockMid()
    &.active,
    &:hover
      shadow            0 0 9px rgba(255, 187, 4, 0.66)
      border            1px solid rgba(255, 187, 4, 0.56)
      cursor            pointer
    &:first-child
      margin-left       0
    &:last-child
      margin-right      0

.login-form-holder
  margin-bottom           25px
  padding-bottom          5px
  height                  auto

.login-form

  section
    rel()
    margin                40px 0
    top                   0
    text-align            center
    overflow              hidden
    p
      height              220px
      padding             76px 10px
      b
        font-size         13px
        display           block
        line-height       28px
        text-shadow       0 1px 0 rgba(0,0,0,.5)

  >div
    rel()
    text-align            center
    .kdview
      width               78%
      margin              0 auto 5px auto
      height              31px

      &.half-size
        display           inline-block
        width             38.5%
        &:first-child
          margin-right    1%

      &.validation-error
        .validation-icon
          bg              position, -80px -480px
          opacity         .3

      &.validation-passed
        .validation-icon
          bg              position, -80px -500px
          opacity         .5
      &.kodingen
        .validation-icon
          bg              position, -480px -40px!important
          opacity         1

  p
    size              78%, 0
    margin            0 auto
    color             #f2f2f2
    font-size         10px
    line-height       18px
    bg                color, rgba(0, 0, 0, 0.2)
    rounded           4px
    padding           0 6px
    text-shadow       0 1px 0 #111
    overflow          hidden
    vendor            transition, height .15s ease-out
    borderBox()
    &.request-thanks
      font-size       11px
      iframe
        margin-top    12px
      a:hover
        color         #ffb500
        text-decoration underline

    h5
      font-size       12px
      font-weight     400
      margin          10px 0

  .password-confirm
    margin-bottom       0!important
    vendor              transition, height .15s ease-out

  input.kdinput.text
    padding             7px 6px 7px 6px
    border              1px solid rgba(0, 0, 0, 0.9)
    color               #444
    font-size           12px
    box-shadow          inset 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2)
    font-size           11px
    font-weight         600
    height              auto
    line-height         12px
    rounded             4px
    width               100%
    borderBox()
    // &.validation-error
    //   bg                color,#ffe4bf

  input::-webkit-input-placeholder
    color               #666
  input:-moz-placeholder
    color               #666

  .validation-icon
    abs()
    right               5px
    top                 6px
    size                20px,20px
    bg                  position, -80px -480px
    // vendor              transition, opacity .15s ease-out
    opacity             0
    sprite()

  .kdloader.input-laoder
    abs()
    right               28px
    top                 8px

  .avatarview
    abs()
    right               69px
    top                 4px
    border              1px solid #ccc
    rounded             2px
    padding             1px
    fl()


  .invitation-field
    rel()
    text-align          left
    color               #B4B3B3
    margin              5px auto 0 auto
    rounded             4px
    width               78%
    line-height         36px
    font-size           12px
    bg                  color, rgba(0, 0, 0, 0.2)
    overflow            hidden
    borderBox()

    .kdview.half-size
      abs()
      right             2px
      top               2px
      width             48.5%

    span.icon
      bg                position,-480px -80px
      size              40px,20px
      margin            8px 0 0 2px
      fl()
      sprite()
    .wrapper
      width             48.5%
      fr()

    .avatarview
      sta()
      border            1px solid #000
      margin            2px 10px 0 0
      padding           0
      shadow            inset 0 0 0 1px rgba(255,255,255,.3)
      fl()

    .profile
      max-width         100px
      display           block
      overflow          hidden
      height            36px
      text-overflow     ellipsis
      white-space       nowrap
      padding-right     5px


  button
    width               78%
    margin-top          5px
    padding             9px 0
    max-width           170px
    &.loading
      color             rgba(255,255,255,.8)
      &:hover
        shadow          0 1px 0 rgba(255,255,255,0.23)

p.login-tip
  line-height           16px
  color                 white

.kdview.login-screen.home
  .flex-wrapper
    margin-bottom       30px
  p.bigLink
    text-shadow         0 -1px 0 rgba(0,0,0,.8)
    display             inline-block
    font-size           20px
    line-height         40px
    margin-right        40px
    vendor              transition, font-size .3s ease-in
    &:nth-child(4)
      margin-right    0


.login-footer
  rel()
  height                auto
  font-size             12px
  text-align            center
  z-index               10
  //font-family           mono
  p
    color               #b4b3b3
    //text-shadow         1px solid #444
    //margin-bottom       7px
    line-height         24px

.kdnotification.login
  span
    size                43px, 43px
    bg                  position, -480px -120px
    display             inline-block
    margin-right        5px
    vertical-align      middle
    sprite()

.recovery
  .kdnotification.mini
    top                   33px!important
