@import "./client/Framework/themes/default/kdfn"
@import "./client/stylus/appfn"

#instruction-book
  position                  absolute
  top                       50%
  margin-top                -222px
  left                      -1509px
  size                      1509px, 425px
  z-index                   1000
  rounded                   4px
  shadow                    inset 0 5px 5px rgba(0,0,0,.35)\, 0 15px 40px rgba(0,0,0,.8)
  background                transparent url("../images/book/book.jpg") no-repeat 0 0
  vendor                    transition, left .3s ease-out                          
  &.in
    left                    -700px
  >div                      
    size                    735px, 408px
    vendor                  transition, opacity .3s ease-out
    &.left-page
      margin                6px 0 0 15px
    &.right-page
      margin                6px 0 0 0
    &.out
      opacity               0
                          
    >section
      background            transparent no-repeat 0 0
      &.table-of-contents
        bg                  image, url("../images/book/01.png")
        bg                  position, 55px 90px
      &.a-story
        bg                  image, url("../images/book/02.png")
        bg                  position, center 74px
        >article
          text-align        center
          margin            250px 0 0 0
        &.no-header
          bg                position, center top
          >article
            margin          324px 0 0 0
          
        &.more-1
          bg                image, url("../images/book/03.png")
        &.more-2            
          bg                image, url("../images/book/04.png")
        &.more-3            
          bg                image, url("../images/book/05.png")
        &.more-4            
          bg                image, url("../images/book/06.png")
        &.more-5            
          bg                image, url("../images/book/07.png")
        &.more-6            
          bg                image, url("../images/book/08.png")

      &.foreword
        bg                  image, url("../images/book/09.png")
        bg                  position, right bottom

      &.activity
        bg                  image, url("../images/book/10.png")
        bg                  position, center bottom
        p
          width             auto

      &.topics
        bg                  image, url("../images/book/11.png")
        bg                  position, left 174px
        p
          width             55%
          margin-left       45%
          padding           15px 20px 0 0

      &.members
        bg                  image, url("../images/book/12.png")
        bg                  position, left bottom
        >article
          margin            20px 0 0 215px          
          p
            width           auto

      &.develop
        bg                  image, url("../images/book/13.png")
        bg                  position, left bottom
        >article
          margin            70px 0 0 360px
          font-size         13px
          p
            width           auto
        &.more-1
          bg                image, url("../images/book/14.png")
          bg                position, left center
        &.more-2
          bg                image, url("../images/book/15.png")
          bg                position, center center
          >article
            margin          130px 20px 0 120px
        &.more-3
          bg                image, url("../images/book/17.png")
          bg                position, center center
          >article
            margin          70px 60px 0 330px

      &.apps
        bg                  image, url("../images/book/18.png")
        bg                  position, right bottom

      &.etiquette
        bg                  image, url("../images/book/19.png")
        bg                  position, right 90%
        >article
          font-size         13px
        p
          padding-right     0
          &:last-child
            position        absolute
            top             0
            right           0
            padding         15px 20px 0 20px

      >article
        size                auto, auto
        font-size           14px
        line-height         30px
        >p
          padding           15px 20px 0 43px
          line-height       26px
          width             50%
          borderBox()

      >header
        color               #37342f
        padding-top         13px
        size                auto, 60px
        line-height         60px
        font-size           32px
        border-bottom       1px solid rgba(0,0,0,.08)
        padding-left        43px
