@import "./client/Framework/themes/default/kdfn"
@import "./client/stylus/appfn"

@css {
/*
ABOUT stylesheet
app.about.styl
*/
}
@keyframes crawl
  0%
    vendor       transform, rotateX(50deg) translateZ(0) translateY(700px)
  100%
    vendor       transform, rotateX(50deg) translateZ(0) translateY(-14000px)

#about-text
  abs()
  max-height            400px
  padding               0 15%
  top                   0
  left                  0
  z-index               2
  opacity               0
  transition            opacity 1s ease-in
  vendor                perspective, 400
  vendor                perspective-origin, center 80%
  borderBox()
  &.in
    opacity             1
  .perspective
    overflow            visible
    font-family         Ubuntu
    margin              0 auto
    size                60%, 100%
    max-width           1000px
    color               yellow
    text-align          justify
    font-size           18px
    line-height         27px
    vendor              animation, crawl 360s linear
    vendor              animation-iteration-count, 1
    vendor              transform-style, preserve-3d
    vendor              transform, rotateX(50deg) translateZ(0) translateY(-14000px)
    borderBox()
    rel()
    .wrapper
      height            10000px
    h2
      text-align        center
      color             linkColor1
      text-transform    uppercase
      margin            24px 0
      font-size         36px
      line-height       48px
  > figure
    abs()
    top                 0
    left                0
    width               100%
    height              50%
    z-index             1
    gradient1           rgba(0,0,0,.6), 50%, rgba(0,0,0,0), 100%
  
  .team
    margin              60px 0
  
  .teammember
    height                  145px
    color                   #777
    display                 block
    font-size               11px
    margin-bottom           35px
    overflow                visible
    p
      padding               55px 0 0 20px
      fl()
    img
      fl()
    &:nth-child(2n)
      text-align            right
      img
        fr()
      p
        padding             55px 20px 0 0
        fr()

    a
      display               block
      color                 linkColor1
      font-size             32px
      noTextDeco()

    strong
      font-size             14px

    img
      width                 200px
      border                8px solid rgba(255, 255, 255, .1)
      margin-bottom         10px
      box-sizing            border-box
  address
    color                   linkColor1
    margin                  60px 0


.about-overlay
  z-index           1
  top               0
  left              0
  opacity           0
  transition        opacity 1s ease-in
  bg                color, black
  abs()
  &.in
    opacity         1

#about-button
  background            none
  border                none
  color                 rgba(255, 255, 255, 0.9)
  padding               9px 12px
  line-height           14px
  font-size             13px
  font-weight           600
  margin-right          0px
  text-shadow           0 -1px 0 black
  border-radius         4px
  &:hover
  &:focus
    background            none
    border                none
    box-shadow            none

