@import "./kdfn"
@import "./client/stylus/appfn"

@media only screen and (min-width: 300px) and (max-width: 768px)
  #kdmaincontainer.home > header
    bg                      position, 50% -211px
    .custom-link-view
      right                 18px

  #koding-logo.large
    left                    18px

  #content-panel.social
    left              50px !important
    kalc              width, 100% \- 50px, !important
    .content-area-pane.activity
      #content-page-activity.fixed
        .activity-content
          margin-left 0
        .update-widget-tabs
          .kdtabpaneview
            kalc      width, 100% \- 50px

  .member-item
    footer
      button
        margin-bottom 10px
      .followers
        margin-bottom 10px!important

  .comingsoon
    padding           30px 30px

    img
      margin-bottom   14px
      width           60px
      height          auto
    h1
      font-size       24px
      font-weight     700
      margin-bottom   3px
    h2
      font-weight     400
      margin-bottom   15px
      padding-bottom  17px
      font-size       16px
    p
      font-size       12px
      color           #666

  .content-area-pane.activity
    .common-inner-nav
      hidden()

  .kdview.login-screen.home
    .flex-wrapper
      margin-bottom       20px

    .reviews
      hr
        margin            20px auto
      p
        font-size         20px
        margin            10px 0 5px 0
        line-height       30px
      span
        font-size         12px

    div.screenshots
      height              460px

  .settings-list-wrapper
    form
      label.main-label
        width         200px
      .swappable
        .hiddenval
          height      60px
        .actions-wrapper
          top         27px
          left        0