@import "./client/Framework/themes/default/kdfn"
@import "./client/stylus/appfn"

@css {
/*
APP BOOTSTRAP stylesheet
app.bootstrap.styl
*/
}

.popover, .twipsy
  z-index          12000

.twipsy
  display           block
  abs()
  visibility        visible
  padding           5px
  font-size         12px
  line-height       140%
  z-index           12000
  //filter            alpha(opacity=80) //makes stylus sad
  -khtml-opacity    .9
  -moz-opacity      .9
  opacity           .9
  &.error
    bg              color,#f00
  &.fade.in
    //filter          alpha(opacity=80)
    opacity         1

  &.above
    .twipsy-arrow
      bottom        2px
      left          50%
      margin-left   -3px
      border-left   3px solid transparent
      border-right  3px solid transparent
      border-top    3px solid #000000

  &.left
    .twipsy-arrow
      top           50%
      right         2px
      margin-top    -3px
      border-top    3px solid transparent
      border-bottom 3px solid transparent
      border-left   3px solid #000000

  &.below
    .twipsy-arrow
      top           2px
      left          50%
      margin-left   -3px
      border-left   3px solid transparent
      border-right  3px solid transparent
      border-bottom 3px solid #000000

  &.right
    .twipsy-arrow
      top           50%
      left          2px
      margin-top    -3px
      border-top    3px solid transparent
      border-bottom 3px solid transparent
      border-right  3px solid #000000

  .twipsy-inner
    padding         5px 8px
    bg              color,#000000
    color           white
    text-align      left
    max-width       350px
    noTextDeco()
    rounded(4px)
    shadow(0 3px 7px rgba(0, 0, 0, 0.5))

    cite
      color         rgba(255,146,0,.8)
      padding-left  2px
      font-size     85%
      line-height   100%

    &.twipsy-inner-wide
      max-width     500px

  .twipsy-arrow
    abs()
    width           0
    height          0

  .bigtwipsy
    margin          0
    padding         6px 7px

.popover
  abs()
  top               0
  left              0
  z-index           1000
  padding           5px
  display           none

  &.above
    .arrow
      bottom        0
      left          50%
      margin-left   -5px
      border-left   5px solid transparent
      border-right  5px solid transparent
      border-top    5px solid #000000

  &.right
    .arrow
      top           50%
      left          0
      margin-top    -5px
      border-top    5px solid transparent
      border-bottom 5px solid transparent
      border-right  5px solid #000000

  &.below
    .arrow
      top           0
      left          50%
      margin-left   -5px
      border-left   5px solid transparent
      border-right  5px solid transparent
      border-bottom 5px solid #000000

  &.left
    .arrow
      top           50%
      right         0
      margin-top    -5px
      border-top    5px solid transparent
      border-bottom 5px solid transparent
      border-left   5px solid #000000

  .arrow
    abs()
    width           0
    height          0

  .inner
    background      #000000
    background      rgba(0, 0, 0, 0.8)
    padding         3px
    overflow        hidden
    width           280px
    rounded(6px)

  .title
    bg              color,#f5f5f5
    padding         9px 15px
    line-height     1
    border-bottom   1px solid #eee
    rounded(3px,3px,0,0)

  .content
    bg              color,#ffff
    padding         14px
    vendor(background-clip,padding-box)
    rounded(0,0,3px,3px)

  .content
    p, ul, ol
      margin-bottom          0

.fade
  vendor(transition,opacity 0.15s linear)
  opacity          0

.fade.in
  opacity          1
