@import "./client/Framework/themes/default/kdfn"
@import "./client/stylus/appfn"

@css {
/*
  Classroom stylesheet
  app.activity.styl
*/
}

.classroom-app-view
  background                #EFEFEF
  vendor                    transition, left 0.4s ease-in-out
  .panel-container
    kalc                    height, 100% \- 38px, 100%
  .container
    background              url('../images/bg/blurred/4.jpg')
    height                  320px
    box-shadow              0px 0px 700px rgba(255, 255, 255, .5) inset
  .banner
    margin                  0 auto
    size                    1280px, 320px
    color                   #FFF
    position                relative
    h1
      font-weight           bold
      font-size             68px
      text-shadow           2px 2px 3px rgba(0, 0, 0, .4)
      size                  500px, 240px
      line-height           240px
      margin-left           120px
    h2
      margin-left           125px
      font-size             20px
      position              relative
      text-shadow           1px 1px 1px rgba(0, 0, 0, .2)
      top                   -80px
    img
      top                   60px
      position              absolute
      right                 120px
  .courses
    text-align              center
    .title
      font-size             22px
      font-weight           600
      margin-bottom         30px
    .no-related-course, .no-enrolled-course
      font-size             14px
      font-weight           600

.chapters-container
  text-align                center
  figure
    size                    130px, 165px

.classroom-course
  .header-container
    padding                 40px 0 30px
    background              #fefefe // cok fe fe fe
    box-shadow              0px 0px 10px rgba(0, 0, 0, .3)
    overflow                hidden
    .header
      width                 1024px
      margin                0 auto
      overflow              hidden
    img
      float                 left
      margin-right          20px
    .header-text
      float                 left
      width                 876px
      min-height            120px
    h1
      font-size             30px
      margin-bottom         8px
    p
      font-size             14px
      margin-top            10px
    .start-now-button
      font-size             14px
      float                 right
      margin-top            10px
    .kdloader
      abs                   50%, 50%
      margin                -20px
  .chapters
    p
      margin                20px 0
      font-size             28px
      font-weight           600
      text-align            center