@import "./client/Framework/themes/default/kdfn"
@import "./client/stylus/appfn"

@css {
/*
IRC CHAT stylesheet
app.chat.styl
*/
}

chatTextColor = #000

.chat-input
  .layer
  &.presentation
    b
      &.highlight-tag
        bg              color, rgba(255,255,0,.15) !important
        border          1px solid rgba(54, 54, 10,.35)
        border-radius   2px

      &.highlight-user
        bg              color, rgba(255,0,0,.15)   !important
        border          1px solid rgba(255,0,0,.35)
        border-radius   2px

  // textarea
  //   color             chatTextColor

  // .focused
  //   bg                color, #272420
  //   >div
  //     color           chatTextColor
  //     border-left     1px solid rgba(0,0,0,.4)
