@import "./client/Framework/themes/default/kdfn"
@import "./client/stylus/appfn"
@import "nib/gradients"
@import "nib/vendor"

@css {
/*
CODESHARE stylesheet
app.codeshare.styl
*/
}

div.codeshare-box

  // TabView
  &.codeshare-tabs
    border 1px solid black

    width 800px
    max-width 800px
    min-width 400px

    height 300px

    div.codeshare-code-wrapper
      height 300px
      max-width 800px
      width 800px
