@import "./kdfn"
@import "./client/stylus/appfn"

@media only screen and (max-width: 520px)
  #kdmaincontainer.home
    #main-tab-view.kdview
      overflow              visible !important
    > header
      bg                    position, 50% -211px
      .custom-link-view
        right               8px

  #koding-logo.large
    left                    18px

  // html, body

  div#home-intro
    height                  680px !important
    section
      .slogan
        font-size           32px !important
        padding-top         150px !important
      .sub-slogan
        font-size           20px !important

    .email.kdbutton
    .github.kdbutton
      margin                10px 0 !important
      width                 80% !important

  section#slider-section
    .home-slider
      nav.slider-nav
        a.slider-navlink
        a.slider-navlink span
          font-size         18px   !important

      .wrapper
        padding-top         0px    !important
        h3
          text-align          center
          margin-top          80px !important
        p
          text-align          center
          font-size           24px !important
        figure
          display             none !important


  .price-boxes
      width                 350px !important
      a
        size                190px !important, 190px !important
        font-size           24px  !important
        &:nth-child(2)
          left              170px !important

  #content-panel
    min-width    0

  .kdmodal
    width    95% !important
    left     0   !important
    .kdmodal-buttons
      width    100% !important

  #content-page-home
    .feeder-tabs
      .feeder-header
        font-size   15px
