@import "./client/Framework/themes/default/kdfn"
@import "./client/stylus/appfn"
@import "nib/gradients"
@import "nib/vendor"

@css {
/*
HOME stylesheet
app.home.styl
*/
}

// NEW TRY

div.screenshots
  height                  530px
  // h1
  // h2
  //   //padding-left          13px
  //   //text-align            left
  //   text-shadow           0 1px 1px rgba(0,0,0,0.3)
  //   vendor                transition, all .3s ease-in-out
  //   borderBox()
  // h1
  //   font-weight           600
  //   font-size             36px
  //   letter-spacing        -1px
  //   margin                0 0 10px 0
  //   color                 #eee

  // h2
  //   font-size             18px
  //   color                 rgba(255,255,255,0.7)
  //   font-weight           300
  //   margin                0 0 60px 0

  .arrow
    position              absolute
    display               block
    top                   50%
    margin-top            -40px
    size                  40px, 80px
    shadow                0 10px 25px rgba(0,0,0,0.5)
    bg                    color, rgba(0,0,0,0.5)
    vendor                transition, all .15s ease-in-out
    z-index               1
    &:hover
      width               50px
      span
        opacity           1
    &.left
      left                0
      rounded             0 4px 4px 0
      span
        bg                position, -220px -100px
        right             20px
    &.right
      right               0
      rounded             4px 0 0 4px
      span
        left              20px
        bg                position, -200px -100px
    span
      position            absolute
      display             block
      top                 25px
      size                20px, 30px
      opacity             .5
      vendor              transition, opacity .15s ease-in-out
      sprite()

  section
    top                   0
    left                  0
    position              absolute
    size                  100%,100%
    overflow              hidden
    // overflow-x            visible


  ul
    margin                0
    size                  100%, auto
    z-index               0

    li
      // opacity             0
      position            relative
      size                100%, auto
      overflow            visible
      vendor              transition, opacity .5s ease-in-out
      fl()
      // &.in
      //   opacity           1

      p
        hidden()
        position          absolute
        bottom            30px
        size              100%, 60px
        font-size         16px
        text-shadow       0 1px 0 rgba(0,0,0,0.2)
        bg                color, #ff9200
        padding           20px 0
        shadow            0 5px 15px rgba(0,0,0,0.5)
        borderBox()

      img
        width             90%
        max-width         800px
        min-width         500px
        rounded           4px
        shadow            0 10px 25px rgba(0,0,0,0.5)

// NEW TRY END