@import "./client/Framework/themes/default/kdfn"
@import "./client/stylus/appfn"

@css {
/*
CONTEXT MENU stylesheet
app.contextmenu.styl
*/
}

.jcontextmenu .kdtreeitemview.disabledForBeta
  opacity         .5


.set-permissions-wrapper
  margin-left     0
  line-height     28px
  min-width       273px
  font-size       11px
  size            auto,auto

  header
    border-bottom 1px solid rgb(213,213,213)
    padding-left  72px
    span
      width       65px
      text-align  center
      fl()

  aside
    width         60px
    text-align    right
    margin-right  12px
    padding-top   3px
    line-height   33px

    fl()

  section
    display       block
    overflow      hidden

  footer
    margin-top    5px
    padding-left  72px
    margin-right  10px

    p.old
      color       #666
      em
        color     #888
    p
      width       65px
      fl()
      em
        font-style  normal
        color       k-orange

    button
      width       auto
      padding     3px 8px
      margin      3px 3px 0 0
      fr()

    label
      margin-right 2px

    .on-off
      margin      0 2px 0 0
      fr()

  .switcher-group
    width         65px
    fl()

  .on-off
    margin        6px 5px 0 0
    fl()

.kdview.jcontextmenu.kdbuttonmenu.top-menu.editor-advanced-settings-menu
  rounded                 5px 5px 0 5px

.jcontextmenu.editor-advanced-settings-menu
  -webkit-box-shadow      0px 0px 20px 0px rgba(100, 100, 100, .75)
  -moz-box-shadow         0px 0px 20px 0px rgba(100, 100, 100, .75)
  box-shadow              0px 0px 20px 0px rgba(100, 100, 100, .75)
  background              #f5f5f5

  .ace-settings-view
    padding               5px 0
    min-width             250px
    line-height           20px
    borderBox()

    hr
      margin              3px 10px

    p
      font-size           12px
      padding             3px 20px
      borderBox()
      .on-off
        width             52px
        margin            0
        fr()
        a
          padding         5px 0px 4px 0px
          width           24px
      a.shortcuts
        color             #444
        noTextDeco()

    .kdview.section
      margin              0 10px 0 0
      size                auto,auto
      display             inline-block
      fr()
      .kdselectbox
        width             110px
        margin            0
        display           block

    .kdselectbox
      min-width           110px
      fr()
      span.title
        font-weight       normal
        height            19px
        line-height       20px
      span.arrows
        top               0

  .context-menu-item
    margin-left           10px
    line-height           19px
    fl()
    a
      font-size           12px
      color               #444
      cursor              default
      noTextDeco()

.editor-button.save-menu
  .kdtreeitemview
    min-width           140px
    padding             3px 0
  .context-menu-item
    margin-left       10px
    line-height       19px
    fl()
    a
      font-size       12px
      color           #444
      cursor          default
      noTextDeco()
  .on-off
    width             52px
    margin            0 10px 0 0
    fr()
    a
      padding         5px 0px 4px 0px
      width           24px
