@import "./kdfn"
@import "./client/stylus/appfn"

@media only screen and (min-width: 1200px) and (max-width: 1920px)
  .content-area-pane.home
    // min-width                 850px

    .content-page.home
      min-width             1200px

      .slide
        .introtext
          max-width         1920px

      .widget-holder
        max-width           1920px

	
@media only screen and (min-width: 1920px) and (max-width: 4000px)
  .content-area-pane.home
    // min-width                 850px

    .content-page.home
      min-width             1920px

      .slide
        .introtext
          max-width         4000px

      .widget-holder
        max-width           4000px
        section
          max-width         4000px
