@import "./client/Framework/themes/default/kdfn"
@import "./client/stylus/appfn"
@import "nib/gradients"
@import "nib/vendor"

active-color = rgb(246,162,32)
finderDimmedColor1 = #cccccc
finderDimmedColor2 = #c2c2c2
@css {
/*
FINDER stylesheet
app.finder.styl
*/
}

selectedNeighbor()
  background        finderSelectedColor1

dimmed()
  color             #282828
  text-shadow       none
  // background        linear-gradient(top, #ccc 0%, #c2c2c2 100%)
  bg                color, #ccc

dimmedNeighbor()
  background        finderDimmedColor2

#finder-holder
  height                auto
  overflow              visible
  .nfinder
    overflow            visible
    > div
      // padding           10px 0
      borderBox()
    ul
      min-width         180px
      margin-left       0
      &.drop-target
        background      rgba(136, 183, 214, 0.13)

.nfinder
  .no-context-menu
    .kdlistitemview-finderitem
      .chevron
        hidden()
  .dim
    .kdlistitemview-finderitem.selected
      dimmed()
      &+.selected
        dimmedNeighbor()
      &+.jtreeview
        .kdlistitemview-finderitem
          &:first-child
            &.selected
              dimmedNeighbor()

    .jtreeview.last-item-selected + .kdlistitemview-finderitem.selected
      dimmedNeighbor()


.jtreeview.last-item-selected + .kdlistitemview-finderitem.selected
  selectedNeighbor()

.kdlistitemview-finderitem
  height              auto
  min-height          22px
  font-size           11px
  color               #282828
  noTextSelection()

  &:first-child
    margin-top 0px

  .chevron
    abs()
    top               0
    right             4px
    z-index           2
    float             none
    display           none
    size              22px,22px
    margin            0
    sprite()
    bg                position,-180px -360px

  &.selected
    color             white
    text-shadow       0 -1px 0 rgba(0,0,0,0.22)
    // background        linear-gradient(top, finderSelectedColor2 0%, finderSelectedColor1 50%)
    bg                color, finderSelectedColor1

    // I'll find a better place for it ~ GG
    .vm
      span.path-select
        display     block
        bg          position, -220px -520px
    .title
      color white
      text-shadow none
    &+.selected
      selectedNeighbor()
    &+.jtreeview
      .kdlistitemview-finderitem
        &:first-child
          &.selected
            selectedNeighbor()

  &.unsaved
    span.icon
      color           black!important
      font-size       14px
      text-indent     -2px
      line-height     10px
      vertical-align  top
      &:before
        content       "*"


  &.selected
    span.chevron
      display       block
      bg            position,-180px -380px

  &:hover
    span.chevron
    .vm span.path-select
      display       block

  &.expanded
    > div
      span.icon
        bg          position,-40px -120px
      span.arrow
        bg          position, -40px 0px


  &.being-inline-edited
    .chevron
      hidden()

  &.being-deleted
    background        linear-gradient(top, rgb(199,81,29) 100%,rgb(168,70,25) 44%)
    height            22px
    .kdview.delete-container
      padding         0 10px
    label
      color           white
    button.kdbutton
      margin          2px 15px 0 0
      padding         2px 4px 2px 4px
      width           auto
      font-weight     normal
      fr()

  &.items-hovering
    background        rgba(136, 183, 214, 0.25)
    text-shadow       none

  &.drop-target
    background        rgb(136, 183, 214)
    color             white
    text-shadow       none

  a.cancel
    abs()
    size            15px, 15px
    bg              position, -82px -222px
    right           5px
    top             3px
    sprite()
    &:focus
    &:active
      bg            position, -62px -242px

  > div
    line-height       22px
    height            100%
    width             auto
    .title
      cursor          default
      font-weight     normal
      width           66%
      margin-right    26px
      display         block
      overflow        hidden
      text-overflow   ellipsis

    form
      height          22px

    input.kdinput.text
      margin          2px 5px 0 0
      height          17px
      line-height     1em
      border          none
      shadow          inset 0 1px 1px rgba(0,0,0,.44)
      rounded         2px
      fl()

    button.kdbutton
      margin          2px 10px 0 0
      padding         2px 4px 2px 4px
      width           auto
      font-weight     normal
      fr()

    .arrow
      sprite()
      fl()

    .kdloader
      margin        2px 3px
      fl()

    &.rename-container
      height        22px
      padding-right 25px
      input.hitenterview
        bg          image, none
        width       100%
        margin      2px 0
      a.cancel
        bg          position, -62px -242px



.drop-helper
  abs()
  border            2px solid finderSelectedColor1
  rounded           4px




#finder-panel
  abs()
  overflow          hidden
  size              208px,100%
  top               0
  left              160px
  text-shadow       1px 1px 1px #fcfcfc
  z-index           3
  background        #e2e2e2 url("../images/finder-back.gif") repeat left top
  leftTransition()
  &.expanded
    left            52px
    .kdscrollview
      overflow      auto
  .kdscrollview
    overflow        hidden

  .finder-resize-handle
    cursor            ew-resize
    abs()
    width             4px
    top               0!important
    right             0!important
    z-index           1
    overflow          visible
    span
      display         block
      abs()
      height          45px
      width           14px
      bg              position, -55px -173px
      top             0
      right           0
      sprite()

  .kdnotification.filetree.mini
    shadow              0 1px 3px rgba(0, 0, 0, 0.3)
    rounded             2px
    margin-top          -14px
    padding             0
    .kdnotification-title
      text-shadow       none
      font-size         10px
      line-height       10px
      padding           0 10px
    &.clickable
      cursor pointer


  // .finder-settings-border
  //   rel()
  //   margin                  0 auto
  //   width                   85%
  //   top                     1px
  //   border-top              1px solid rgba(255,255,255,.5)
  //   background-image        url("../images/finder-resizer-handle.gif")
  //   background-repeat       no-repeat
  //   background-position     center 7px
  //   height                  13px
  //   shadow(0 -1px 0 rgba(0,0,0,.05))
  //   bg(color,transparent)

  button.kdbutton.add-project
    font-weight     normal
    padding         5px 8px
    width           auto

  .separator
    border-top      1px solid #d9d9d9
    border-bottom   1px solid #f2f2f2
    margin          0 20px

#finder-header-holder
  size              auto, 50px
  h2
    font-size       13px
    font-weight     bold
    color           rgba(78, 78, 78, .90)
    text-shadow     0 1px 0 white
    line-height     43px
    margin          0 10px
    size            auto,43px
    border-bottom   1px solid rgba(0,0,0,.05)
    shadow          0 1px 0 rgba(255,255,255,.5)
    min-width       208px
    span
      margin-left   5px

#finder-bottom-controls
  abs()
  bottom                    0
  margin                    0
  size                      100%, 27px
  vendor                    transition, height .2s
  shadow                    0 0 8px rgba(0,0,0,0.15)
  background-color          #e2e2e2
  border-top                1px solid rgba(255,255,255,0.5)

  .horizontal-handler
    height                  5px
    width                   30px
    display                 block
    margin                  0 auto
    margin-top              12px
    sprite()
    bg                      position,-60px -160px

  .finder-bottom-pin
    right           0
    top             0
    border          none
    background      none
    opacity         .4
    z-index         4
    abs()

  &.show-environments
    height                  50%

    &.show-environments
      &.go-down
        size                100%, 27px
        ul
          opacity           1

  &.go-down
    size                    100%, 27px
    ul
      opacity               0

  ul
    min-width               208px
    margin                  0 5px 0 5px
    padding                 4px 0 5px 0
    transition              opacity .2s ease-in
    li
      margin                0 10px 2px 10px
      padding               0
      cursor                pointer
      width                 auto
      span.icon
        margin-right        10px
        size                17px, 20px
        blockMid()
     a
      font-size             11px
      color                 #444
      text-decoration       none
      &:hover
        color               linkColor1
      span:not(.title)
        sprite()
      span.terminal
        bg(position,-100px -300px)
      span.resources
        bg(position,-120px -299px)
      span.plus
        bg(position,-120px -480px)
      span.cog
        bg(position,-138px -300px)
      span.shortcuts
        bg(position,-158px -300px)
      span.remotes
        bg(position,-220px -300px)
      span.databases
        bg(position,-198px -300px)


div.virt-controls
  width             auto
  height            25px
  background-color  white
  padding           2px
  min-width         200px

  .vm-toggle
    right           20px
    top             6px
    abs()

  .vmreinitialize-button
    border          none
    background      none
    right           -5px
    z-index         10
    abs()

div.led-wrapper
  borderBox()
  width                                 auto
  display                               inline-block
  opacity 1
  vendor transition, opacity .1s ease-in-out

  div.label
    padding-left                        22px
    padding-top                         5px
    font-size                           11px
    font-weight                         bold
    cursor                              pointer

  div.led
    left                                10px
    top                                 10px
    width                               6px
    height                              6px
    border-radius                       50%
    display inline-block
    abs()
    borderBox()
    vendor transition,                  background-color 0.25s ease-in-out \, box-shadow 0.25s ease-in-out \, opacity 0.25s ease-in-out
  &.red
    .led
      background-color                  #ff9200
      // box-shadow                        #000 0 -1px 7px 1px, inset #884600 0 -1px 9px, #ff9200 0 2px 12px
      animation-name                    pulseAlert
      animation-duration                1s
      animation-iteration-count         infinite
  &.green
    .led
      animation-name                    pulseOnce
      animation-duration                1s
      animation-iteration-count         1
      background-color                  #5f5f5f
      // box-shadow                        rgba(0, 0, 0, 0.3) 0 -1px 5px 1px,inset #333 0 -1px 2px,#555 0 2px 6px
      // box-shadow                        #181818 0 -1px 7px 1px, inset #333 0 -1px 5px, #555 0 2px 14px
  &.yellow
    .led
      background-color                  #ff0
  &.blue
    .led
      background-color                  #00f
      // box-shadow                        #000 0 -1px 7px 1px, inset #006 0 -1px 9px, #06F 0 2px 14px
  &.off
    .led
      background-color                  rgba(0,0,0,0)
      // box-shadow                        #111 0 -1px 7px 1px, inset #333 0 -1px 9px, #888 0 2px 14px

  &:hover
    &.green
      .led
        bg color,                       #0f0
    &.red
      .led
        bg color,                       #f60

  &.pulse
    .led
      animation-name                    pulseOnce
      animation-duration                1s
      animation-iteration-count         1

/*
**  Overriding Treeview STYLES
*/

// #finder > .kdview.kdtreeitemview:first-child .finder-item
//   margin-left   17px

// .kdtreeview-filetree
//   .kdtreeitemview
//     min-width     208px
//     height        auto
//     border        1px solid transparent
//     border-width  1px 0
//     font-size     11px
//     color         #282828
//     // min-width:    150px
//     noTextSelection()

//     &:first-child
//       margin-top 0px

//     .title
//       /*text-transform  uppercase*/
//       font-weight     bold
//       text-shadow     0 1px 0 white
//       color           #444
//       &:hover
//         color         #222

//     .chevron
//       abs()
//       top           1px
//       right         10px
//       z-index       1
//       float         none
//       display       none
//       size          16px,16px
//       margin        0
//       sprite()
//       bg            position,-180px -360px

//     &.selected
//       border        1px solid #F6A220
//       border-width  1px 0
//       color         white
//       text-shadow   0 -1px 0 rgba(0,0,0,0.22)
//       bg            color, finderSelectedColor1
//       // background    linear-gradient(top, finderSelectedColor2 0%, finderSelectedColor1 50%)
//       .title
//         color white
//         text-shadow none

//     &.unsaved
//       span.icon
//         color           black!important
//         font-size       14px
//         text-indent     -2px
//         line-height     10px
//         vertical-align  top
//         &:before
//           content       "*"
//         // bg              color,black
//         // opacity         .5
//       // border-left       5px solid #333
//       // borderBox()
//       // font-weight   bold
//       // color         #282828
//       // text-shadow   none


//     &.selected
//       span.chevron
//         display       block
//         bg            position,-180px -380px

//     &:hover
//       span.chevron
//         display       block

//     &.folder.expanded
//       .finder-item
//         span.icon
//           bg          position,-40px -120px

//     &.being-inline-edited
//       .chevron
//         hidden()

//     &.being-deleted
//       border-color      rgb(168,70,25) transparent rgb(199,81,29) transparent
//       background        linear-gradient(top, rgb(199,81,29) 100%,rgb(168,70,25) 44%)
//       height            22px
//       .kdview.delete-container
//         margin          0!important
//       span.icon
//         display         none
//       label
//         abs()
//         color           white
//         font-size       12px
//         top             2px
//         left            10px
//       button.kdbutton
//         margin          2px 10px 0 0
//         padding         2px 4px 2px 4px
//         width           auto
//         font-weight     normal
//         fr()
//       a.cancel
//         color           white
//         line-height     24px
//         margin-right    10px

//   .drop-helper
//     abs()
//     border            2px solid finderSelectedColor1
//     rounded           4px

.fatih
  bg                color rgba(0, 0, 0, 0.6)
  .closeModal
    display         none
  .fatih-search-input
    padding         10px !important
    height          52px !important
    width           450px
    font-size       30px
    border          none !important
    width           100%
  .kdloader
    position        relative
    left            50%
    margin          10px 0 10px -18px
  .not-found
    padding         20px
  .fatih-search-results
    li
      margin        5px 0
      padding       2px 12px
      cursor        pointer
      &:hover
        bg          color, #FFF8D6
      &.selected
        bg          color, pink
      .kdview
        bg          color, #323232
      .kdview:hover
        bg          color, #323232
    .icon.file
      fl()
      sprite()
      width         30px
      height        30px
      bg            position, -194px 0px
    .name
      display       block
      margin-top    2px
    .path
      display       block
      margin-top    2px
      color         #AAA
      font-style    italic
  .code-line
    overflow        auto
    .line
      width         25px
      text-align    right
      margin-right  5px
      background    #3b3b3b
      color         #FFF
      font-weight   bold
      fl()
      padding       3px
    .content
      fl()
      color         #CC7833
      padding       3px
  .fatih-user-item
    padding         5px 10px
    .avatarview
      fl()
    .user-details
      fl()
      margin-left   10px
      font-size     13px
    .user-nickname
      margin-top    3px
  .fatih-pref-icon
    sprite()
    width           16px
    height          16px
    abs()
    top             1px
    right           2px
    bg              position, -62px -303px
    cursor          pointer
  .fatih-pref-item
    padding         5px 10px
    width           230px
    fl()
    .kdinput.text
      width         70px
  .fatih-pref-label
    width           120px
    height          24px
    line-height     24px
    fl()
  .coming-soon
    padding         20px 10px
  .fatih-pref-pane-close
    width           12px
    height          12px
    top             2px
    right           3px
    bg              position, -85px -542px
    pointer()
    abs()
    sprite()
  .fatih-user-actions
    padding         10px 0
    .avatarview
      fl()
      margin        0 12px
    button
      margin        5px 5px 0 0

.finder-item
  line-height       22px
  height            100%
  width             auto
  .title
    font-weight     normal
    width           auto
    margin-right    26px
    display         block
    overflow        hidden
  .title.unsaved
    font-style      italic

  form
    height          22px

  input.kdinput.text
    margin          2px 5px 0 0
    height          17px
    line-height     1em
    border          none
    shadow          inset 0 1px 1px rgba(0,0,0,.44)
    rounded         2px
    fl()

  button.kdbutton
    margin          2px 10px 0 0
    padding         2px 4px 2px 4px
    width           auto
    font-weight     normal
    fr()

  .icon
  .arrow
    sprite()
    fl()

  .kdloader
    margin        3px 3px
    fl()

  .icon
    margin        3px 3px
    size          16px,16px

  .section-title
    span.icon.domain
      bg          position,-40px -40px
    span.icon.ftp
      bg          position,-40px -60px

.file-container

  .vm
  .file
  .mount
  .folder
  .broken
  .section
    font-size       11px

    span.icon
    span.arrow
      sprite()
      fl()

    span.icon
    span.path-select
      margin        2px 3px
      size          16px,16px
    span.arrow
      margin        3px 3px
      margin-left   0
      size          10px,16px
      bg            position, -1000px -1000px

  .vm
    margin-left     0 !important
    height          32px
    padding-top     1px
    padding-bottom  3px

    &.online
      span.icon
        bg          position, -20px -140px !important

    span.arrow
      width         0

    span.icon
      bg            position, 0px -140px !important
    span.chevron
      top           3px

    span.path-select
      top           0
      size          18px,18px
      right         22px
      display       none
      bg            position, -220px -540px
      sprite()
      abs()

    span.vm-info
      top           15px
      left          22px
      font-size     10px
      font-style    italic
      opacity       .7
      abs()

    div.vm-toggle
      top           3px
      right         20px
      abs()

  .folder
  .mount
    span.icon
      bg            position, -40px -100px
    span.icon.application
      bg            position, -40px -320px
    span.arrow
      bg            position, -40px -20px

  .folder
    span.icon
      &.app
        bg          position, -40px -60px

  .broken
    span.icon
      bg            position, -60px -140px

  .file
    span.icon
      bg            position, -40px -140px
      &.code
        bg          position, -40px -180px
      &.image
        bg          position, -40px -200px
      &.archive
        bg          position, -40px -220px
      &.new-file
        bg          position, -40px -240px
      &.video
        bg          position, -40px -260px
      &.sound
        bg          position, -40px -280px
      &.text
        bg          position, -40px -300px


.finder-drag-container
  abs()
  width             208px

  .drag-helper
    height            22px
    margin-bottom     1px
    background        linear-gradient(top, rgba(208, 137, 27,.95) 0%, rgba(246, 162, 32,.95) 50%)
    color             white
    font-size         11px
    rounded           4px
    text-shadow       0 -1px 0 rgba(0,0,0,0.22)
    shadow            0,2px,5px,rgba(0,0,0,.2)
    borderBox()
    &.multiple-items
      padding-left    5px

    .title
      display         inline-block
      margin-right    0

.vm-toggle-menu
  font-size       12px
  padding         2px 0px 7px 10px
  .vm-toggle-item
    right           16px
    top             2px
    abs()
