
@import "./client/Framework/themes/default/kdfn"
@import "./client/stylus/appfn"
@import "nib"
@import "nib/gradients"
@import "nib/vendor"


.profile-landing
  height                  100%
  overflow                auto
  vendor transition,      height .2s linear

.profile-landing-content
  borderBox()
  rel()
  overflow                visible
  max-height              660px
  max-width               980px
  width                   90%
  border                  1px solid rgba(255,255,255,0.16)
  rounded                 8px
  margin                  60px auto 30px auto
  shadow                  0 0 150px rgba(0,0,0,0.32)
  bg color,               rgba(255,255,255,0.05)

  .profile-wrapper
    // max-height            650px
    overflow              auto

  .avatar
    borderBox()
    padding               30px 30px 10px 30px
    fl()

    img
      padding             5px
      border              1px solid rgba(255,255,255,0.2)
      bg color,           rgba(0,0,0,0.2)
      rounded             5px
      vendor transition,  all 0.2s ease-in-out
      width               150px
      height              150px

  .content-title
    vendor transition,    margin-left 0.2s ease-in-out
    font-weight           500
    overflow              hidden
    white-space           nowrap
    text-overflow         ellipsis
    font-size             24px
    padding               30px 30px 20px 0
    color                 #f5f5f5
    vendor                font-smoothing antialiased
    text-rendering        geometricPrecision
    margin-left           215px

    span.nickname
      color               #aaa
    .betatag
      text-indent         -9999px
      abs()
      top                 -2px
      right               -3px
      width               64px
      height              38px
      sprite()
      bg position,        -400px -120px

  .content-about
    vendor transition,    margin-left 0.2s ease-in-out
    color                 rgba(227, 227, 227, 0.5)
    font-weight           300
    margin-left           215px
    padding-right         30px

  .content-meta
    fr()
    borderBox()
    clear                 both
    height                27px
    rounded               4px
    padding               5px 8px 5px 5px
    margin                -36px 30px 25px 30px
    shadow                0 -1px 0 rgba(0,0,0,0.6), -1px 0 0 rgba(0,0,0,0.35), 1px 1px rgba(255,255,255,0.1)

    bg color,             rgba(0,0,0,0.25)
    div
      vertical-align      top
      color               rgba(227,227,227,0.5)
      font-weight         300
      display             inline-block
      .count
        color             #f5f5f5
        vertical-align    top
      .icon
        sprite()
        width             20px
        height            20px
        display           inline-block
      .text
        vertical-align    top
      &.followers
        .icon
          bg position,    -201px -523px
      &.following
        .icon
          bg position,    -160px -522px
      &.likes
        .icon
          bg position,    -99px -502px
      &.topics
        .icon
          bg position,    -99px -523px

  .profile-content
    clear                 both
    borderBox()
    height                394px
    overflow              auto
    margin                30px
    bg color,             rgba(0, 0, 0, 0.25) //#282520
    border                10px solid rgba(0, 0, 0, 0) //#282520
    shadow                0 -1px 0 rgba(0,0,0,0.6), -1px 0 0 rgba(0,0,0,0.35), 1px 1px rgba(255,255,255,0.1)
    rounded               5px
    width                 auto

  .content-markdown
    overflow              auto
    padding               10px

.profile-content
  max-width               980px
  width                   90%
  opacity                 0
  margin                  10px auto
  vendor                  transition, opacity 1s ease-in-out
  &.ready
    opacity               1
  .profile-wrapper
    borderBox()

    &.status-updates
      width 50%
      display inline-block
      height 200px
      padding-right 15px
    &.other
      width 50%
      display inline-block
      height 200px
      padding-left 15px
    &.footer
      padding-top 30px
      clear both
      width 100%
      height 100px

    .profile-list
      borderBox()
      border                  1px solid rgba(255,255,255,0.16)
      rounded                 8px
      shadow                  0 0 10px rgba(0,0,0,0.32)
      bg color,               rgba(255,255,255,0.05)
      color #f5f5f5
      padding 25px



.profile-koding-logo
  abs()
  left                    0
  bottom                  0
  text-align              center
  width                   auto
  .text
    margin                30px 30px 10px 30px
    .logo
      cursor              pointer
      display             inline-block
      width               140px
      height              40px
      sprite()
      bg position,        -400px 0px

@media screen and (max-width: 500px)
  .profile-landing-content
    margin-top            30px
    .avatar
      padding-right       10px
      img
        padding           2px
        width             40px
        height            40px
    .content-title
      margin-left         90px
    .content-about
      margin-left         90px
    .content-meta
      float               none
      margin-top          20px
      margin-bottom       25px
    .content-markdown
      img
        max-width         100%

.profile-navigation
  width                   100%
  height                  100px
  text-align              center
  .bigLink
    display               inline-block
    text-shadow           0 -1px 0 rgba(0,0,0,0.8)
    font-size             20px
    line-height           40px
    margin-right          40px
    color                 #ffb500
    noTextDeco()
    vertical-align        baseline
    bg color,             transparent
    &:hover
      color               white
    cursor                pointer