@font-face 
  font-family       "Open Sans"
  font-weight       300
  font-style        normal
  src               url("fonts/OpenSans-Light.ttf")

@font-face 
  font-family       "Open Sans"
  font-weight       300
  font-style        italic
  src               url("fonts/OpenSans-LightItalic-small.ttf")

@font-face 
  font-family       "Open Sans"
  font-weight       400
  font-style        normal
  src               url("fonts/OpenSans-Regular.ttf")

@font-face 
  font-family       "Open Sans"
  font-weight       400
  font-style        italic
  src               url("fonts/OpenSans-Italic-small.ttf")

@font-face 
  font-family       "Open Sans"
  font-weight       600
  font-style        normal
  src               url("fonts/OpenSans-Semibold-small.ttf")

@font-face 
  font-family       "Open Sans"
  font-weight       600
  font-style        italic
  src               url("fonts/OpenSans-SemiboldItalic-small.ttf")

@font-face 
  font-family       "Open Sans"
  font-weight       700
  font-style        normal
  src               url("fonts/OpenSans-Bold-small.ttf")

@font-face 
  font-family       "Open Sans"
  font-weight       700
  font-style        italic
  src               url("fonts/OpenSans-BoldItalic-small.ttf")

//@font-face 
//  font-family       "Open Sans"
//  font-weight       800
//  font-style        normal
//  src               url("fonts/OpenSans-ExtraBold-small.ttf")
//
//@font-face 
//  font-family       "Open Sans"
//  font-weight       800
//  font-style        italic
//  src               url("fonts/OpenSans-ExtraBoldItalic-small.ttf")
