
@import "./client/Framework/themes/default/kdfn"
@import "./client/stylus/appfn"
@import "nib"
@import "nib/gradients"
@import "nib/vendor"


.slideable
  vendor transition, margin-top 0.5s linear
.slide-down
  margin-top 51px


.profile-landing
  height                100%
  width                 100%
  z-index               10000
  abs()
  bg image,             url("../images/koding-new-bg.png");
  bg repeat,            repeat-x
  opacity               1
  vendor transition,    opacity 1s linear\, height 1s linear \, margin-top 1s linear
  shadow 0 0 50px 20px rgba(0,0,0,0.4)
  &.profile-leaving
    rel()
  &.profile-shrinking
    height 0
  &.profile-fading
    opacity             0
  &.profile-hidden
    z-index             1
    display             none
.profile-header
  width                 100%
  height                51px
  display               none

.profile-personal-wrapper
  height                100%
  width                 160px
  fl()

.profile-avatar
  height                76px
  width                 160px
  background-position   center center
  background-repeat     no-repeat
  vendor background-size, 160px auto
  shadow                inset 0 0 13px 0 rgba(0,0,0,0.6)


.profile-buttons
  height                27px
  border-top            1px solid #403d37
  width                 100%
  bg color,             rgba(0,0,0,0.2)

.profile-content-wrapper
  margin-left           160px
  height                100%
  width                 auto
  bg color,             white
  borderBox()

.profile-title
  borderBox()
  height                77px
  width                 auto
  bg                    color, white
  border-bottom         1px solid rgb(229,229,229)
  shadow                inset 0 3px 1px 3px rgba(250,250,250,.5)
  gradient              rgb(255,255,255),rgb(242,242,242)
  padding 20px 23px
  .profile-title-wrapper
    height auto
    width auto
  .profile-name
    borderBox()
    color #ff9200
    font-size 16px
    width auto
    display inline-block
  .profile-bio
    borderBox()
    color #888
    font-size 12px
    height 29px
    overflow-y scroll
    width auto
    font-weight 300

.profile-nickname
  borderBox()
  font-size 14px
  width auto
  display inline-block
  color #aaa
  padding 5px 5px 0 13px

.profile-links
  margin                24px 0 27px 15px
  ul
    li
      a
        color             #adadad!important
        noTextDeco()
        font-size         14px
        font-weight       300
      line-height       20px
      margin-bottom     4px
      span.icon
        sprite()
        fl()
        size            20px, 20px
        margin-right    18px
      &.blog
        span.icon
          bg position,  0 -80px
      &.twitter
        span.icon
          bg position,  0 -100px
      &.github
        span.icon
          bg position,  0 -280px

  ul.admin
    li
      a
        padding-top 3px
        font-size         11px
  hr
    border-top          1px solid rgba(44,41,36,0.5)
    border-bottom       1px solid rgba(255,255,255,0.07)
    width               auto
    height              0
    margin              20px 20px 10px 6px
    padding             0 11px


.profile-content-links
  width                 125px
  height                100%
  border-right          1px solid #e8e8e8
  padding               19px 23px
  fl()
  borderBox()

  h4
    text-transform      uppercase
    font-size           9px
    color               #9f9d9a
    font-weight         400
    margin-bottom       9px

  li
    color               #7c603b
    font-weight         normal
    noTextDeco()
    cursor              pointer
    line-height         16px
    font-size           12px
    vertical-align      baseline
    margin-bottom       6px

.profile-koding-logo
  height 100%
  .logo
    cursor pointer
    sprite()
    width 120px
    height 30px
    bg position, -240px -40px
    position fixed
    bottom 12px
    left 15px
    &.animate
      vendor transition, top 0.5s ease-in-out
    &.top
      top 12px!important
      bottom none

  vertical-align bottom

.profile-content
  overflow auto
  margin-left 125px
  borderBox()
  height 100%
  width auto

  .new-blogpost
    abs()
    right 10px
    top 10px

  .content-item
    border-bottom 1px solid #e8e8e8
    .title
      font-size 18px
      font-weight 600
      color #444

      padding 20px 30px
      border-bottom 1px solid #e8e8e8
    .has-markdown
      padding 30px
      max-width 600px


.new-blogpost-modal
  .formline
    borderBox()
    width 100%
    padding 20px
  textarea.kdinput.markdown-input
    margin-top 15px
    borderBox()
    height 200px
    width 100%
  input.kdinput.title-input
    borderBox()
    width 100%


// .profile-landing
//   height                  100%
//   width                   100%
//   overflow                auto
//   vendor transition,      height .2s linear

// .profile-landing-content
//   borderBox()
//   rel()
//   overflow                visible
//   width                   25%
//   height                  100%
//   margin                  0
//   bg color,               white
//   display                 inline-block
//   fl()
//   border-right 1px solid rgba(255,255,255,0.3)
//   // border                  1px solid rgba(255,255,255,0.16)
//   // rounded                 8px
//   // margin                  60px auto 30px auto
//   // shadow                  0 0 150px rgba(0,0,0,0.32)
//   // bg color,               rgba(255,255,255,0.05)

//   .profile-wrapper
//     // max-height            650px
//     overflow              auto

//   .avatar
//     borderBox()
//     float none
//     img
//       padding             5px
//       border              1px solid rgba(255,255,255,0.2)
//       bg color,           rgba(0,0,0,0.2)
//       rounded             5px
//       vendor transition,  all 0.2s ease-in-out
//       width               150px
//       height              150px

//   .content-title
//     font-weight           500
//     overflow              hidden
//     white-space           nowrap
//     text-overflow         ellipsis
//     font-size             24px
//     color                 #444
//     vendor                font-smoothing antialiased
//     text-rendering        geometricPrecision


//     span.nickname
//       display block
//       color               #aaa
//     .betatag
//       display none
//     //   text-indent         -9999px
//     //   abs()
//     //   top                 -2px
//     //   right               -3px
//     //   width               64px
//     //   height              38px
//     //   sprite()
//     //   bg position,        -400px -120px

//   .content-about
//     color                 rgba(227, 227, 227, 0.5)
//     font-weight           300

//   .content-tags

//     borderBox()
//     // fr()

//     .tag-label
//       color #aaa
//       font-weight 300
//       display inline-block
//       padding-right 10px
//     .tag-group
//       display inline-block
//       width auto

//   .content-meta
//     borderBox()

//     bg color,             rgba(0,0,0,0.25)
//     div
//       vertical-align      top
//       color               rgba(227,227,227,0.5)
//       font-weight         300
//       display             block
//       padding-top         5px
//       .count
//         color             #444
//         vertical-align    top
//       .icon
//         sprite()
//         width             20px
//         height            20px
//         display           inline-block
//       .text
//         vertical-align    top
//       &.followers
//         .icon
//           bg position,    -201px -523px
//       &.following
//         .icon
//           bg position,    -160px -522px
//       &.likes
//         .icon
//           bg position,    -99px -502px
//       &.topics
//         .icon
//           bg position,    -99px -523px

//   // .profile-content
//   //   borderBox()
//   //   clear                 both
//   //   height                394px
//   //   overflow              auto
//   //   margin                30px
//   //   bg color,             rgba(0, 0, 0, 0.25) //#282520
//   //   border                10px solid rgba(0, 0, 0, 0) //#282520
//   //   shadow                0 -1px 0 rgba(0,0,0,0.6), -1px 0 0 rgba(0,0,0,0.35), 1px 1px rgba(255,255,255,0.1)
//   //   rounded               5px
//   //   width                 auto

//   .content-markdown
//     overflow              auto
//     padding               10px

// .profile-content
//   width                   75%
//   margin-left             25%
//   display                 inline-block
//   opacity                 0.5
//   margin                  10px auto
//   height 100%
//   bg color, white
//   vendor                  transition, opacity 1s ease-in-out
//   &.ready
//     opacity               1

//   .profile-wrapper
//     borderBox()

//     &.status-updates
//       width 61.8%
//       display inline-block
//       height 200px
//       padding-right 15px
//     &.other
//       width 38.2%
//       display inline-block
//       height 200px
//       padding-left 15px
//     &.footer
//       padding-top 30px
//       clear both
//       width 100%
//       height 100px

//     .profile-list
//       borderBox()
//       border                  1px solid rgba(255,255,255,0.16)
//       rounded                 8px
//       shadow                  0 0 10px rgba(0,0,0,0.32)
//       bg color,               rgba(255,255,255,0.05)
//       color #f5f5f5
//       padding 25px




// .profile-koding-logo
//   abs()
//   left                    0
//   bottom                  0
//   text-align              center
//   width                   auto
//   .text
//     margin                30px 30px 10px 30px
//     .logo
//       cursor              pointer
//       display             inline-block
//       width               140px
//       height              40px
//       sprite()
//       bg position,        -400px 0px

// @media screen and (max-width: 650px)
//   .profile-landing-content
//     margin-top            30px
//     margin-bottom         0px
//     .avatar
//       padding-right       10px
//       img
//         padding           2px
//         width             40px
//         height            40px
//     .content-title
//       margin-left         90px
//     .content-about
//       margin-left         90px
//     .content-tags
//       margin-left         90px
//     .content-meta
//       float               none
//       margin-top          20px
//       margin-bottom       25px
//       text-align          center
//       .following
//         clear both
//     .content-markdown
//       img
//         max-width         100%

//   .profile-content
//     margin                  10px auto
//     .profile-wrapper
//       &.status-updates
//         width 100%
//         display block
//         height 200px
//         margin 0px 0 0 0
//         padding 0
//       &.other
//         margin 10px 0 0 0
//         width 100%
//         display block
//         height 200px
//         padding 0
//       &.footer
//         padding 0
//         margin 10px 0 0 0
//         clear both
//         width 100%
//         height 100px

//       .profile-list
//         padding 10px



// .profile-navigation
//   width                   100%
//   height                  100px
//   text-align              center
//   .bigLink
//     display               inline-block
//     text-shadow           0 -1px 0 rgba(0,0,0,0.8)
//     font-size             20px
//     line-height           40px
//     margin-right          40px
//     color                 #ffb500
//     noTextDeco()
//     vertical-align        baseline
//     bg color,             transparent
//     &:hover
//       color               white
//     cursor                pointer