@import "./client/Framework/themes/default/kdfn"
@import "./client/stylus/appfn"
@import "nib/gradients"
@import "nib/vendor"

@css {
/*
HOME stylesheet
app.home.styl
*/
}

.content-page.home
  bg                        color, #393630
  bg                        image, url(../images/koding-bg.png)
  bg                        repeat, repeat-x
  bg                        position, -16px -52px
  color                     #fff
  text-align                center

  h1
    font-weight             600
    font-size               36px
    letter-spacing          -1px
    text-shadow             1px 1px 1px rgba(0,0,0,0.3)
    margin                  60px 0 10px 0
    vendor                  transition, all .3s ease-in-out
  
  h2
    font-size               18px
    color                   rgba(255,255,255,0.7)
    text-shadow             1px 1px 1px rgba(0,0,0,0.3)
    font-weight             300
    margin-bottom           60px
    vendor                  transition, all .3s ease-in-out
  
  section
    position                relative
    size                    100%,auto
    overflow-x              visible
    overflow-y              hidden

    .arrow
      position              absolute
      display               block
      top                   50%
      margin-top            -40px
      size                  40px, 80px
      shadow                0 10px 25px rgba(0,0,0,0.5)
      bg                    color, rgba(0,0,0,0.5)
      z-index               1
      &:hover
        span
          opacity           1
      &.left
        left                0
        rounded             0 4px 4px 0
        span
          bg                position, -220px -100px
      &.right
        right               0
        rounded             4px 0 0 4px
        span
          margin-left       20px
          bg                position, -200px -100px
      span
        display             block
        margin-top          25px
        size                20px, 30px
        opacity             .5
        vendor              transition, opacity .15s ease-in-out
        sprite()

  ul
    margin                  0
    size                    100%,auto
    z-index                 0
    
    li
      position              relative
      width                 100%
      overflow              hidden
      fl()
      
      p
        position            absolute
        bottom              30px
        size                100%, 60px
        font-size           16px
        text-shadow         0 1px 0 rgba(0,0,0,0.2)
        bg                  color, #ff9200
        padding             20px 0
        shadow              0 5px 15px rgba(0,0,0,0.5)
        borderBox()

      img
        width               90%
        max-width           800px
        rounded             4px
        shadow              0 10px 25px rgba(0,0,0,0.5)
