comment-bg            = #f6f6f6
comment-border-color  = rgba(40,40,40,.06)
avatar-border-color   = rgb(238,238,238)
light-green           = #87a03b
orange                = #f08501

linkColor1            = #ff9200
finderSelectedColor1  = #F6A220
finderSelectedColor2  = #DC911D

leftTransition()
  vendor              transition, left .3s linear
widthTransition()
  vendor              transition, width .3s linear

greenLink()
  // font-family         Droid
  color               light-green
  font-size           11px
  text-decoration     none
  &:hover
    color             dark-green
    text-decoration   underline
