/* future mobile optimizations */
/* future mobile optimizations */

/* Large screens ----------- */
/* @media only screen and (min-width : 1824px) */

/* iPhone 4 and high pixel ratio devices ----------- */
/* @media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) */

/* Smartphones (portrait and landscape) ----------- */
/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) */

/* Smartphones (landscape) ----------- */
/* @media only screen and (min-width : 321px) */

/* Smartphones (portrait) ----------- */
/* @media only screen and (max-width : 320px) */

/* iPads (portrait and landscape) ----------- */
/* @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) */

/* iPads (landscape) ----------- */
/* @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) */

/* iPads (portrait) ----------- */
/* @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) */


/* @media all and (orientation:portrait) */
/* @media all and (orientation:landscape) */
/* @media screen and (max-device-width: 480px) */


/* @media print { */
/*   * { background: transparent !important; color: #444 !important; text-shadow: none !important; } */
/*   a, a:visited { color: #444 !important; text-decoration: underline; } */
/*   a:after { content: " (" attr(href) ")"; }  */
/*   abbr:after { content: " (" attr(title) ")"; } */
/*   .ir a:after { content: ""; }   */
/*   pre, blockquote { border: 1px solid #999; page-break-inside: avoid; } */
/*   thead { display: table-header-group; }   */
/*   tr, img { page-break-inside: avoid; } */
/*   @page { margin: 0.5cm; } */
/*   p, h2, h3 { orphans: 3; widows: 3; } */
/*   h2, h3{ page-break-after: avoid; } */
/* } */