.HomeApp-ApiToken
  rel()

.HomeApp-ApiToken--header
  border-bottom             1px solid #ebebeb
  margin-bottom             24px
  height                    60px
  .label
    color                   #545454
    font-size               14px
    letter-spacing          0.15px
    line-height             22px
    font-weight             bold

  .description
    color                   #9F9F9F
    font-size               14px
    letter-spacing          0.15px
    line-height             14px

.HomeApp-ApiToken--footer--button-wrapper
  padding                   30px 0 17px 0
  cursor                    pointer

  .custom-link-view.HomeAppView--button.primary.disabled
    opacity                 0.5
    pointer-events          none

.HomeApp-ApiToken--ListItem
  height                    44px
  borderizeListItems        20px, 1px solid #EBEBEB
  font-size                 15px
  rel()

.HomeApp-ApiToken--ListItem:first-of-type
  .HomeApp-ApiToken--custom-link-view.delete-api-token
      abs                   18px 0px 0 0
  .HomeApp-ApiToken--custom-link-view.copy-api-token
      abs                   18px 78px 0 0

.HomeApp-ApiToken--swicth-toggle
  abs 8px 0px 0 0
  input.HomeApp-ApiToken--swicth-toggle
    display none

.HomeApp-ApiToken--api-token
  color                     #5F5F5F
  font-weight               400
  padding-top               4px
  line-height               22px
  letter-spacing            0.15px
  font-family               monospace
  font-size                 14px

.HomeApp-ApiToken--api-token-detail
  color                     #ACACAC
  font-weight               300
  line-height               14px
  letter-spacing            0.14px
  font-size                 14px
  font-style                italic

.HomeApp-ApiToken--custom-link-view.delete-api-token
  color                     #769ECC
  abs                       38px 0px 0 0
  cursor                    pointer
  font-size                 14px

.HomeApp-ApiToken--custom-link-view.copy-api-token
  color                     #769ECC
  abs                       38px 78px 0 0
  cursor                    pointer
  font-size                 14px

.HomeApp-ApiToken
  .react-toggle:before
    top                     4px
    left                    -33px
    font-size               14px

.HomeApp-ApiToken--api-wrapper--disabled
  opacity 0.5

.HomeApp-ApiToken--no-token
  color                     #9F9F9F
  font-size                 14px
  letter-spacing            0.15px
  line-height               14px

.HomeApp-ApiToken--label
  height                    50px
  color                     #545454
  font-size                 14px
  letter-spacing            0.15px
  line-height               22px
  font-weight               bold

.ListView-section.HomeApp-ApiTokenSection
  border                    1px solid #ebebeb
  padding                   20px
  border-radius             5px
