@css {
/*
Home styles
*/
}

$titleColor                 = #424242
$subtleColor                = #A59999

.HomeAppView
  color                     #9f9f9f

  .close-icon.closeModal
    r-sprite                app modal_close
    top                     20px
    right                   15px
    z-index                 10

  ul
    list-style-type         disc
    list-style-position     inside
    font-size               14px
    line-height             28px
    font-weight             100

  .koding-on-off.small
    size                    42px 22px
    border-radius           19px
    background              #D8D8D8
    padding                 4px 6px

    &:before
      abs                   3px 0 0 -39px
      content               'OFF'

    a.knob
      background            #fff
      size                  14px 14px

    &.on
      background            #52A840
      &:before
        content             'ON'

    &.on a.knob
      vendor                transform, translateX(16px)


  .react-toggle:before
    abs                   5px 0 0 -39px
    content               'OFF'

  .react-toggle-track
    size                  42px 22px

  .react-toggle-thumb
    abs                   4px 0 0 4px
    size                  14px 14px

  .react-toggle--checked

    &:before
      content             'ON'

    .react-toggle-thumb
      left                24px

.HomeAppView-TabView
  bg                        color, #F4F3F3
  overflow                  hidden
  size                      auto, 100%
  border-left               1px solid #E4E4E4
  border-radius             0px 6px 6px 0
  borderBox()

.HomeAppView--scroller
  styleScrollBars           rgba(0,0,0,.15)


.HomeAppView--code
  bg                        color #F7F7F7
  border                    1px solid #EAEAEA
  borderBox()
  color                     #8958BA
  font-size                 12px
  font-weight               400
  font-style                normal
  line-height               18px
  padding                   0 6px
  rounded                   2px
  &.block
    color                   #858585
    font-size               14px
    line-height             20px
    padding                 0
    margin                  40px 20px
    width                   auto
    display                 block
    rel()

    span
      padding               15px 80px 15px 25px
      display               block

    cite
      color                 #979798
      font-weight           300
      font-size             14px
      display               block
      abs                   15px 15px

    textarea
      color                 #858585
      font-size             14px
      line-height           20px
      padding               0
      borderBox()
    .react-spinner
      display               none


  &.loading
    color                   #858585
    margin                  40px 20px
    display                 block
    height                  92px
    rel()
    cite
      display               none



.HomeAppViewListItem
  rel()

  .SidebarListItem-unreadCount
    right                   initial
    margin-top              3px
    pointer()

.HomeAppViewListItem-description
.HomeAppViewListItem-label
  width                     50%
  &.disabled
    opacity                 0.5
    pointer-events          none

.HomeAppViewListItem-label--wrapper
  width                     400px
  .HomeAppViewListItem-label
    font-weight             600
    font-size               16px
    line-height             25px
    color                   #769ECC
    text-decoration         none
    margin-right            10px
    pointer()

  .SidebarListItem-unreadCount
    position                relative
    display                 inline-block
    top                     -4px
    margin-right            10px
    padding                 1px 2px 0
    height                  15px

  .tag
    rel()
    display                 inline-block
    top                     -3px
    margin-right            10px
    padding                 4px 10px 1px
    color                   #fff
    font-size               12px
    line-height             13px
    font-weight             300
    &.default
      bg                    color #48BA7D
    &.shared
      bg                    color rgb(249, 169, 0)


.HomeAppViewListItem-description
  font-style                italic
  color                     $subtleColor
  font-weight               100
  font-size                 14px
  line-height               16px
  .u-color-light-text
    color                   $subtleColor

.HomeAppViewListItem-SecondaryContainer
  width                     50%
  height                    100%
  abs                       0px 0px
  text-align                right
  display                   flex
  flex-direction            column
  justify-content           center

  .HomeAppView--button
    line-height             20px
    display                 inline-block

    &.inactive
      cursor                not-allowed
      color                 $subtleColor

  .SecondaryContainerItem
    margin-left             40px

.HomeAppViewListItem .cloning-disabled-msg
  font-size                 12px
  color                     $subtleColor


.HomeAppView--button
  font-size                 14px
  font-weight               100
  padding-right             2px
  color                     #ABABAB
  noTextDeco()
  dIBlock()

  &.primary
    color                   #769ECC

  &.nse
    margin-left             10px

  &.danger
    color                   #e14a35
    &.readonly
      pointer-events        none


.HomeAppView--link
  bg                        color, transparent
  color                     #9f9f9f
  noTextDeco()

  &.primary
    color                   #769ecc !important
