.HomeAppView--section.customer-feedback
.HomeAppView--section.intercom-integration
.HomeAppView--section.gitlab
.HomeAppView--section.github

  .HomeAppView--sectionWrapper
    position                relative

  .separator
    border-bottom           1px solid #DDDDDD
    margin                  24px 0
    display                 block

  cite.warning
    display                 block
    margin-bottom           20px

  label
    font-size               12px
    color                   #929292
    margin-bottom           5px
    display                 block
    font-weight             300

  input.kdinput
    display                 block
    width                   100%
    margin-bottom           20px

    &.hasError
      border                1px solid red

  .ErrorMessage
    color                   red
    margin-bottom           10px

  .react-toggle:before
    top                     0

