@css {
/*
Home Section styles
*/
}

.HomeAppView--section
  font-weight               100
  margin                    0 48px 22px
  border                    1px solid #D0D0D0
  bg                        color, white
  padding                   32px
  borderBox()
  &:first-child
    margin-top              36px

  p
    line-height             25px
    color                   #9F9F9F
    font-weight             300
    font-size               14px
    letter-spacing          .2px

  input.kdinput
    kalc                    width, 100% \- 130px
    border                  none
    border-bottom           1px solid #D1D1D1
    bg                      color, transparent
    display                 inline-block
    rounded                 0 !important

    &:hover
    &:focus
      border                none
      border-bottom         1px solid #D1D1D1
      outline               none
      box-shadow            none


.HomeAppView--sectionHeader
  border-bottom             none
  padding-top               24px
  margin                    25px 48px
  font-size                 14px
  line-height               19px
  color                     #747474
.HomeAppView--section
  &.payment
    > fieldset
      padding-top           30px

  &.billing
    .address
      input
        width               326px
        margin-right        20px
        &:last-child
          width             112px
          margin            0

    .zipCode
      input
        width               151px
        margin-right        20px

        &:last-child
          margin-right      0
          width             112px
    .phone input
      width                 300px

