@css {
/*
Home Business Add-ons styles
*/
}

.HomeAppView-Nav--Item.add-ons
  &:before
    content                           ''
    r-sprite                          'home', 'add_ons'
    position                          absolute
    left                              45%
.kdtabpaneview.add-ons
  .HomeAppView--section
    border-radius                     0
    
.HomeAppView--section.business-add-on-banner
.HomeAppView--section.support-plans-banner
  border                              none
  padding                             0
  margin                              0
  
  h3, h4
    font-size                         32px
    
  .Banner
    padding                           48px
    
  .Actions
    padding-bottom                    100px

header#koding-button
header#available-plans
  margin-top                          30px
  
.HomeAppView--section.business-add-on-support-plans-banner
.HomeAppView--section.support-plans-business-add-on-banner
  padding                             0
  border                              none
  font-weight                         inherit
  
  .Actions
    padding-right                     12px
  
.HomeAppView--section.support-plans-banner
  .Banner
    padding-right                     300px
    
.support-plans
  .SupportPlanSection
      margin                          0 48px 30px
      
.HomeAppView--section.support-plans-section
.HomeAppView--section.business-add-on-deactivation
.HomeAppView--section.support-plan-deactivation
  padding                             0
  margin                              0 0 30px
  border                              none
  background                          none