@css {
/*
Home Top Navigation styles
*/
}


$green                      = #00B057
$gray                       = #B0B0B0


.HomeAppView--topNav
  size                      100%, 90px
  padding                   36px 48px
  line-height               18px
  borderBox()
  a
    font-style              italic
    font-size               12px
    color                   $gray
    margin-right            40px
    noTextDeco()
    &:active
    &.active
      color                 $green
