@css {
/*
Home OnBoarding Congrat Modal styles
*/
}
.kdmodal.Congratulation-modal
  text-align center
  .kdmodal-title
    font-size               24px
    color                   #00B057

  .description
    color #858585
    font-size 14px
    font-weight 300

  .image-wrapper
    r-sprite                app managed_vm_success
    margin 20px auto

  .kdmodal-inner .close-icon
    r-sprite              app content_modal_close_icon
    top                   24px
    right                 24px
