@css {
/*
Home Koding Utilities stylesheet
welcome.styl
*/
}

.HomeAppView--section.kd-cli
  font-family               SoleilFamily

  h2
    margin                  40px 0 20px 0
    font-weight             bold
    color                   #545454
    font-size               17px

  p
    line-height             25px
    color                   #9F9F9F
    font-weight             300
    font-size               14px
    width                   90%
    letter-spacing          .2px

  code
    bg                      color #F7F7F7
    border                  1px solid #EAEAEA
    borderBox()
    color                   #8958BA
    font-size               12px
    font-weight             400
    line-height             18px
    padding                 0 6px
    rounded                 2px
    &.block
      color                 #858585
      font-size             14px
      line-height           20px
      padding               0
      margin                40px 60px 40px 20px
      width                 auto
      display               block
      rel()

      span
        padding             15px 80px 15px 25px
        display             block

      cite
        color               #979798
        font-weight         300
        font-size           14px
        display             block
        abs                 15px 15px


