@css {
/*
Home Koding Utilities stylesheet
welcome.styl
*/
}

.HomeAppView--section.kd-cli
  font-family               SoleilFamily

  p.view-guide
    text-align              right
    margin                  20px 0 0

  h2
    margin                  0 0 20px 0
    font-weight             bold
    color                   #545454
    font-size               17px


.HomeAppView--section.koding-os-x-app
  .link-holder
    overflow                hidden
    .HomeAppView--button
      margin-left           50px
      fr()

  ul
    margin                  30px


.HomeAppView--section.koding-button
.HomeAppView--section.customer-feedback
  z-index                   1
  rel()

  .kdinput.koding-on-off
    abs                     47px 36px

  p.primary
    visible()

  p.secondary
    hidden()

  &.on
    p.primary
      hidden()

    p.secondary
      visible()

  p
    strong
      font-weight           bold
      color                 #545454
      font-size             14px
      display               block

    cite
      font-style            italic

    .HomeAppView--code.block
      margin                40px 0
      padding               0
      height                112px

      textarea
        overflow            hidden
        bg                  color transparent
        border              none
        margin              15px 25px
        kalc                width, (100% \- 30px)
        kalc                height, (100% \- 30px)
        resize              none
        outline             none
        &:active
          outline           none


.TryOnKodingButton
  r-sprite                  home try_on_koding
  margin-top                -8px


.HomeAppView--section.customer-feedback

  .separator
    border-bottom           1px solid #DDDDDD
    margin                  24px 0
    display                 block

  cite.warning
    display                 block
    margin-bottom           20px

  label
    font-size               12px
    color                   #929292
    margin-bottom           5px
    display                 block
    font-weight             300

  input.kdinput
    display                 block
    width                   100%
    margin-bottom           20px
