@css {
/*
Home My Team Teammate styles
hometeammates.styl
*/
}

.HomeApp-Teammate--ListItem
  height                    44px
  borderizeListItems        20px, 1px solid #EBEBEB
  font-size                 15px
  rel()
  .badge
    abs                     0 -2px 2px 0
    margin                  0
    color                   white
    line-height             12px
    height                  16px
    rounded                 8px
    font-size               0
    padding                 0 6px 0 10px
    &::before
      content               ''
      abs                   3px 1px 2px 3px
    &.owner
      bg                    color #48BA7D
      &::before
        r-sprite            app badge_icon_owner
    &.admin
      bg                    color #FFC442
      &::before
        r-sprite            app badge_icon_admin


  &:first-of-type
    .avatarview
      top                   4px
      overflow              visible

    .dropdown
      top                   10px

  .avatarview
    height                  40px
    abs                     24px 0 0 0px
    overflow                hidden
    &.default
      r-sprite              home user_default

  .details
    line-height             24px
    margin-left             57px


  p
    dInline()

  .fullname
    color                   #5F5F5F
    font-weight             400
    padding-top             4px
    line-height             22px
    text-rendering          geometricPrecision

  .metaData
    color                   #AFAFAF
    font-weight             400
    line-height             14px
    letter-spacing          .15px
    text-rendering          geometricPrecision

    .email
    .nickname
      ellipsis()

    .nickname:before
      content               ' | '
      display               inline
      color                 #eee


  .dropdown
    abs                     30px 2px 0 0

    .role
      display               inline-block
      color                 #BFBFBF
      cursor                pointer
      margin-right          15px
      font-size             14px
      letter-spacing        .3px

    .ButtonWithMenuWrapper
      cursor                pointer
      display               inline-block
      &:before
        content             ''
        background          none
        border              5px solid transparent
        border-top-color    rgb(183,183,183)
        width               10px
        abs                 8px
        borderBox()



