@css {
/*
Home My Account styles
*/
}

.HomeAppView .my-account
  font-size                 14px

.my-account .HomeAppView--section
  rel()

  label
    color                   #9F9F9F

  .kdlistitemview
    overflow                hidden
    height                  70px
    borderizeListItems      0px, 1px solid #EBEBEB

  .HomeAppView--form
    overflow                hidden
    padding-top             0

    .firstname
      width                 184px
      padding               0 10px

    .lastname
      width                 220px
      padding               0

    .email
      padding               0 0 0 10px
      width                 404px

    input.kdinput
      padding               10px 14px
      width                 100%

    input[type=file]
      width                 112px

    .HomeAppView--account-avatar
      top                   60px
      right                 29px
      size                  132px 132px
      overflow              visible
      .badge
        abs                 0 0px 10px 0
        margin              0
        padding             3px 10px 4px 20px
        color               white
        font-size           12px
        line-height         12px
        height              14px
        rounded             11px
        &::before
          content           ''
          abs               5px 0 0 6px
        &.owner
          bg                color #48BA7D
          &::before
            r-sprite        app badge_icon_owner
        &.admin
          bg                color #FFC442
          &::before
            r-sprite        app badge_icon_admin
        &.compact
          font-size         0
          padding           3px 10px 4px 11px
          &::before
            left            3px


    button[type=submit]
      height                37px
      fr()
      .button-title
        font-size           14px

  &.password
    .HomeAppView--form
      div.Formline--half
        padding             0 10px
        width               auto

        &.confirmpassword
          padding           0

      .formline.button-field
        border              none !important

      input.kdinput
        width               212px

      a
        right               66px
        bottom              58px
        abs()

  &.security
    overflow                hidden

    .enabled-intro
      p
        width               380px
        font-size           12px
        font-weight         400
        vertical-align      top
        line-height         15px
        color               #ACACAC
        text-rendering      geometricPrecision
        dIBlock()

        &:first-child
          margin-right      28px
          color             #929292
          size              134px 35px
          border-right      1px solid #D9D9D9

        strong
          color             #00b057
          font-size         20px
          font-weight       400
          margin-bottom     3px
          dBlock()

          &:after
            content         ''
            margin-left     10px
            r-sprite        home tick
            dIBlock()

    .AppModal-form
      size                  224px 267px
      border                1px solid #d0d0d0
      rounded               4px
      fr()
      rel()
      borderBox()

      &.enabled-form
        width               100%
        border              none
        margin              25px 0
        float               none
        padding-top         12px
        height              auto
        border-top          1px solid #d0d0d0

        .Formline--half
          width             165px
          padding           0
          height            42px
          margin-right      20px

          &.password
            width           250px

            input
              padding       0 10px
              width         250px

      input
        width               100%

      .button-field
        border-top          none !important
        bottom              32px

        button
          float             none
          rounded           4px
          height            42px

    .qrcode-view
      size                  132px 132px
      padding               8px
      margin                70px 35px 0 15px
      border                1px solid #d0d0d0
      z-index: 1;
      rel()
      fr()
      borderBox()

      img
        size                115px 115px

      .HomeAppView--link
        margin              15px auto
        width               100px
        text-align          center
        dBlock()

    .instructions
      top                   30px
      abs()

      .intro
        width               357px
        line-height         24px

      ul
        margin              30px 0 60px
        width               210px

        li
          line-height       normal
          margin-bottom     15px

      .learn-link
        margin-right        50px

  &.sessions
    .session-info
      fl()
      display               block
      margin                10px 0 0 0px
      .last-access
        text-align          left
        font-size           14px
        line-height         20px
        color               #8E8E8E
        letter-spacing      0px

      .group-name
        display             inline-block
        max-width           300px
        line-height         25px
        height              23px
        margin-right        5px
        color               #929292
        ellipsis()


      .active:after
        content             'Active'
        font-size           12px
        line-height         12px
        font-weight         300
        background-color    #48BA7D
        padding             2px 10px
        letter-spacing      0.2px
        color               #FFFFFF
        size                42px 14px
        text-align          center
        margin-top          3px
        display             inline-block
        vertical-align      top




    .delete-button
      fr()

      button
        margin-top          10px
        bg                  color, transparent

      .button-title
        color               #769ecc

  .HomeAppView--account-avatarArea-links
    clear                   both
    text-align              right
    overflow                hidden
    margin-bottom           20px
    padding-right           20px
    rel()

    .HomeAppView--link
      margin-left           40px

  .HomeAppView--account-avatarArea-links-upload
    size                    112px 26px !important
    margin-top              -7px
    right                   20px
    z-index                 2
    opacity                 0
    abs()
    pointer()
    borderBox()

.HomeAppView--section.credentials

  .filter-view
    hidden()
