@css {
/*
Home Koding Utilities stylesheet
welcome.styl
*/
}

.HomeAppView--section.kd-cli
  font-family               SoleilFamily

  .view-guide
    text-align              right
    margin                  20px auto 0
    dBlock()

  h2
    margin                  0 0 20px 0
    font-weight             bold
    color                   #545454
    font-size               17px

  code
    bg                      color #F7F7F7
    border                  1px solid #EAEAEA
    borderBox()
    color                   #8958BA
    font-size               12px
    font-weight             400
    line-height             18px
    padding                 0 6px
    rounded                 2px
    &.block
      color                 #858585
      font-size             14px
      line-height           20px
      padding               0
      margin                40px 60px 40px 20px
      width                 auto
      display               block
      rel()

      span
        padding             15px 80px 15px 25px
        display             block

      cite
        color               #979798
        font-weight         300
        font-size           14px
        display             block
        abs                 15px 15px

.HomeAppView--section.koding-os-x-app
  .link-holder
    overflow                hidden
    .action-link
      fr()
      margin-left             50px
  ul
    margin                  30px