@css {
/*
Home Form/Input styles
*/
}

.HomeAppView--form
  margin                    0 -12px
  padding-top               30px

  .formline
    display                 block
    margin-bottom           25px
    padding                 0 12px
    width                   auto
    font-size               14px
    clear                   both
    borderBox()

  div.input-wrapper
    margin-bottom           0 !important

  .formline.button-field
    padding                 28px 12px 0 !important
    width                   auto
    border-top              1px solid #E7E7E7 !important

  .Formline--half
    width                   50%
    float                   left
    clear                   none

  label.kdlabel
    display                 block
    margin                  0 0 7px
    padding                 0
    line-height             20px
    color                   #434343
    float                   none

  input.kdinput
  textarea.kdinput
    display                 block
    width                   100%
    padding                 8px 14px
    line-height             20px
    outline                 none
    resize                  none
    border-radius           4px
    border                  1px solid #D2D2D2
    background              #fff
    font-size               14px
    color                   #A2A2A2

.HomeAppView-input
  height                    42px
  font-size                 14px
  rounded                   3px
  bg                        color, #fff
  color                     #A59999
  width                     100%
  display                   block
  padding                   10px 14px
  line-height               22px
  font-weight               300
  border                    1px solid #d7d7d7
  outline                   0
  borderBox()

  &:hover
    border            1px solid #D3E6FF
  &:focus
    border            1px solid rgba(125,190,241,1)
    shadow            inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px 1px rgba(81,167,232,0.5)

.HomeAppView-label
  display                   block
  font-weight               300
  font-size                 12px
  margin-bottom             16px

