@css {
/*
Home Section styles
*/
}

.HomeAppView--section
  font-weight               100
  margin                    0 48px 30px
  border                    1px solid #D0D0D0
  bg                        color, white
  padding                   32px
  borderBox()
  &:first-child
    margin-top              36px

  p
    line-height             25px
    color                   #9F9F9F
    font-weight             300
    font-size               14px
    letter-spacing          .2px

  input.kdinput
    kalc                    width, 100% \- 130px
    border                  none
    border-bottom           1px solid #D1D1D1
    bg                      color, transparent
    display                 inline-block

    &:hover
    &:focus
      border                none
      border-bottom         1px solid #D1D1D1
      outline               none
      box-shadow            none


.HomeAppView--sectionHeader
  border-bottom             none
  margin                    0 48px 30px
  font-size                 14px
  line-height               19px
  color                     #747474
  &:first-child
    margin-top              36px


.HomeAppView--ActionBar
  line-height               25px
  margin                    20px 0 0

.HomeAppView--button.primary
  margin-left             30px

