@css {
/*
Welcome Koding stylesheet
welcome.styl
*/
}

$welcomeTitleColor          = #858585
$titleGreen                 = #01B05A
$linkColor                  = #769ECC

.WelcomeStacksView
  font-family               SoleilFamily
  styleScrollBars           rgba(0,0,0,.15)

  section

    > h2
    > p
      text-align            center
      color                 $welcomeTitleColor

    > h2
      font-size             24px
      font-weight           bold
      margin                40px 0 15px 0
      letter-spacing        -.2px

    > p
      margin                0 auto 40px
      font-size             16.6px
      line-height           20px
      font-weight           300

  .artboard
    margin                  30px auto
    size                    180px 180px
    r-sprite                stacks strongman

  ul.bullets
    counter-reset           section
    list-style-type         none
    width                   455px
    margin                  0 auto

    li
      rel()
      margin                0 0 20px
      border                1px solid #DCDCDC
      bg                    color #fff
      rounded               3px
      line-height           23px
      &:hover a h3
        color               $titleGreen

      &.disabled
        bg                  color transparent
        opacity             .5
        cursor              default
        pointer-events      none
        &:hover a h3
          color             $welcomeTitleColor

      &:before
        abs                 28px 0 0 22px
        counter-increment   section
        content             counters(section,".") " "
        color               #51B975
        font-size           20px
        font-weight         bold

      a
        padding             17px 22px 17px 55px
        size                100% 100%
        display             block
        color               $welcomeTitleColor
        noTextDeco()
        borderBox()
        &:hover
          noTextDeco()


      h3
        font-size           18px
        font-weight         400
        letter-spacing      .3px

      p
        font-size           12px

  code
    bg                    color #F7F7F7
    border                1px solid #EAEAEA
    borderBox()
    color                 #8958BA
    font-size             12px
    font-weight           400
    line-height           18px
    padding               0 6px
    rounded               2px
