.Dropbox-container
  position                  relative
  width                     100%

.Dropbox
  abs()
  width                     100%
  border                    1px solid #dfdfdf
  bg                        color, #fff
  borderBox()
  rounded                   5px 5px 0 0

.Dropbox-scrollable
  overflow                  auto
  max-height                271px

.Dropbox-content
  rel()

.Dropbox-header
  color                     #b5adad
  text-transform            uppercase
  font-size                 12px
  padding                   8px 12px
  border-bottom             1px solid #dfdfdf

.Dropbox-subtitle
  font-weight               bold
  color                     #4f4f4f
  text-transform            none
  padding-left              3px

