<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Quota exceeded - Koding</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://koding.com/hello/css/style.css">
<!--[if IE]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body class="php">
  <header><a href="http://koding.com">Koding.com</a></header>
  <h2>{{.}} quota exceeded.</h2>
  <h2>Your quota exceeded the maximum limit</h2>

  <footer>

  </footer>
</body>
</html>
