<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{.Host}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="http://koding.com/hello/css/style.css">
<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body class="php">
<div id="container">
  <header><a href="http://koding.com">Koding.com</a></header>
  <footer>
  <h4>Hello visitor! One more step to {{.Host}}'s home!.</h4>
  <pre><a href="http://{{.Host}}">{{.Host}}</a></pre>
  </footer>
</div>
</body>
</html>
