@import "../../Framework/themes/default/kdfn"
@import "../../Main/styl/appfn"
@import "../../Main/styl/app.fonts"

@css {
/*
Onboarding styles
*/
}

.onboarding-view
  &.form-visible
    .no-view, h3, .add-new, .views
      display             none
    .cancel
      margin-right        10px
  h3
    top                   0
    margin                0
    fl()
  button.add-new
    fr()
  .section-form
    .show-items-together
    .add-overlay
      margin-top          2px !important
    .kdlabel
      width               140px
    .koding-on-off
    .kdselectbox
      position            relative
      top                 0
      left                0
    .button-field
      background          none
  .onboarding-items
    .add-new
      margin-top          5px
      fl()
  .add-new-view
    .editor-pane
      margin-top          20px
  div.onboarding-items
    &:first-child
      margin-top         0
    margin-top           40px
  .kdbutton.with-menu
    padding-right        10px !important
  .settings-menu
    .settings-menu
      opacity            0
    .chevron
      r-sprite           "app", "20-cog"
    .chevron-separator
      border             none

.kdlistitemview-contextitem
  i.add-into.icon
      r-sprite          "dashboard", "16-add"
