.StartVideoCall-link
  abs                       12px 25px
  font-weight               400
  color                     #3d3c40 !important

  span:after
    rel()
    dIBlock()
    content                 ''
    margin-left             10px
    r-sprite                'activity', 'right-arrow'

.StartVideoCall-icon
  rel()
  dIBlock()
  content                   ''
  margin-left               10px
  top                       2px
  r-sprite                  'activity', 'video-call'
