@import "../../Framework/themes/default/kdfn"
@import "../../Main/styl/appfn"
@import "../../Main/styl/app.fonts"

@css {
/*
Home Page stylesheet
home.styl
*/
}

body.intro
  bg                    color bgColor
  #kdmaincontainer
    hidden()

boink()
  vendor              transform, scale(0)
  -webkit-transition  -webkit-transform .3s cubic-bezier(0.68, -0.55, 0.265, 1.55)
  -moz-transition     -moz-transform .3s ease
  transition          transform .3s cubic-bezier(0.68, -0.55, 0.265, 1.55)
  &.in
    vendor            transform, scale(1)


span.intro-marker
  rounded         50%
  size            52px 52px
  left            0
  top             0
  background      -webkit-radial-gradient(center center, farthest-side circle, #1aaf5d 50%, rgba(26, 175, 93, .2) 50%)
  background      -moz-radial-gradient(center center, farthest-side circle, #1aaf5d 50%, rgba(26, 175, 93, .2) 50%)
  overflow        visible
  border          2px solid logoBg
  cursor          pointer
  z-index         10
  borderBox()
  abs()
  boink()

  &.in:after
    content       ""
    abs           -2px 0 0 -2px
    size          52px 52px
    background    -webkit-radial-gradient(center center, farthest-side circle, rgba(26, 175, 93, 0) 70%, logoBg 100%)
    background    -moz-radial-gradient(center center, farthest-side circle, rgba(26, 175, 93, 0) 70%, logoBg 100%)
    border        1px solid logoBg
    vendor        animation, homeMarkers 5s 3s infinite linear
    opacity       0
    rounded       50%
    borderBox()

.marker-message
  bg              color logoBg
  rounded         6px
  padding         18px
  font-size       18px
  text-align      center
  color           white
  z-index         20
  shadow          0 11px 16px rgba(0, 0, 0, .17)
  abs()
  boink()
  cite
    display       block
    size          2px 0
    left          50%
    top           100%
    bg            color logoBg
    margin-left   -1px
    vendor        transition, height .1s ease-in
    abs()
    &.in
      height      30px

body.about #main-header
#home-header
  margin                0
  size                  100% 65px
  z-index               1000
  overflow              visible
  visibility            visible
  bg                    color homeHeaderBg
  shadow                0 3px 0 rgba(0, 0, 0, .15)
  rel()

  .inner-container
    max-width           1400px
    margin              0 auto
    size                100%, 65px
    vendor              transform, translateY(0)
    -webkit-transition  -webkit-transform .2s ease
    -moz-transition     -moz-transform .2s ease
    transition          transform .2s ease

  a.login
    font-size           14px
    line-height         25px
    margin              20px
    font-weight         400
    color               headerLinkColor
    noTextDeco()

  .logo
    margin              10px
    size                45px 45px
    bg                  color, logoBg
    fl()

    cite
      r-sprite          home 'logo'
      margin            14px
      display           block

  .logotype
    r-sprite            home 'logotype'
    margin              23px 0 0 3px
    font-size           0
    fl()


#home-page
  height                auto
  // opacity               1
  // vendor                transition, opacity .5s ease
  &.out
    hidden()


  #home-bottom
  main
    padding             55px 16%
    background          url('/a/images/home/photo-small.jpg') no-repeat center center
    background-size     cover
    size                100% 630px
    border-bottom       3px solid logoBg
    borderBox()

  main > div
    max-width           830px
    margin              0 auto

  #home-bottom
    margin-top          -660px
    background          url('/a/images/home/photo-large.jpg') no-repeat center center
    padding-top         720px
    size                100% 1160px
    border-bottom       none
    background-size     cover
    borderBox()
    h2
      margin-bottom     30px
      font-size         30px
    h3
      margin-top        0
    form
      .login-input-view
      button.kdbutton
        kalc            width, 33% \- 15px

  h1, h2, h3
    text-align          center
    text-shadow         1px 1px 0 rgba(0, 0, 0, .6)
    font-weight         300

  .headings-container
    kalc                width, 97% \- 276px
    fl()

    h1, h2
      text-align        left

  .big-header
    font-family         proximaFamily
    color               logoBg
    text-transform      uppercase
    font-size           39px
    line-height         60px
    font-weight         400

  h2
    font-family         openSansFamily
    color               white
    line-height         40px
    font-size           24px
    margin-bottom       60px

  h3
    color               #d2d2d2
    font-size           16px
    line-height         18px
    margin-top          22px
    a
    a:visited
      color             #d2d2d2
      border-bottom     1px solid #b2b2b2
      noTextDeco()
      &:hover
        color           #fff

    span
      r-sprite            home 'right-arrow'
      display           inline-block
      margin            0 0 -3px 10px
    strong
      font-weight       600
      font-family       openSansFamily
      color             white

  .register-container
    width               276px
    fr()

  form
    size                100%  auto
    margin              0 auto

    .kdbutton.solid.red
      size              100%, 56px

    .kdinput
      border            1px solid #e6e6e6
      shadow            inset 1px 1px 1px rgba(0, 0, 0, .31)
      text-align        center
      margin            0 0 22px
      size              100%, 56px

    .login-input-view
      display           inline-block
      size              100% auto
      margin-right      15px

      // ? [BC]
      .input-loader
      .placeholder-helper
        display         none

      &.validation-error
        input.kdinput.text
          border          1px solid #e79a8f
        // .placeholder-helper
        //   color           #e79a8f
        .validation-icon
          r-sprite          app 'login-validation-fail'
          opacity         1

    .validation-icon
      abs()
      right               10px
      top                 11px
      vendor              transition, opacity .15s ease-out
      opacity             0
      z-index             2

  figure.laptop
    background          url('/a/images/home/laptop.png') no-repeat center center
    background-size     cover
    size                1207px 739px
    margin              -260px 0 0 -603px
    overflow            hidden
    left                50%
    rel()
    > a.play-button
      r-sprite          home play
      top               332px
      left              50%
      margin            -70px 0 0 -70px
      display           block
      abs()

    iframe
      display           block
      rel()

    iframe
    section
      size              919px 588px
      margin            39px auto

      &.teamwork
        background      transparent url('/a/images/home/teamwork.jpg') no-repeat 0 0
        background-size cover

  footer
    rounded             8px 8px 0 0
    font-size           14px
    line-height         23px
    color               footerLinkColor
    bg                  color footerBg
    max-width           1280px
    margin              0 auto
    padding             45px
    margin-top          -200px

    .logo
      margin            0 17px 0 0
      size              45px 45px
      bg                color, logoBg
      fl()

      cite
        r-sprite        home 'logo'
        margin          14px
        display         block

    address
      overflow          hidden
      width             auto

    nav
      fr()
      a
        display         inline-block
        color           footerLinkColor
        line-height     45px
        font-size       16px
        margin-left     16px
        noTextDeco()
        &:hover
          color         white


#home-features
  max-width             1207px
  margin                60px auto
  // padding-bottom        60px
  rel()

  > div
    width               33%
    rel()
    fl()

    span.icon
      size              100px, 100px
      bg                color, red
      margin-right      28px
      fl()

    article
      width             auto
      display           block
      overflow          hidden
      font-size         14px
      line-height       1.6
      color             #9e9e9e
      kalc              width, 100% \- 148px
      h4
        font-family     proximaFamily
        font-weight     300
        letter-spacing  1px
        font-size       22px
        line-height     1
        margin-bottom   10px

    &.appstore
      span.icon
        r-sprite          home 'appstore'
      h4
        color           logoBg

    &.teamwork
      span.icon
        r-sprite          home 'teamwork'
      h4
        color           teamworkColor

    &.social
      span.icon
        r-sprite          home 'social'
      h4
        color           socialColor


#home-groups

  bg                    color, homeHeaderBg
  padding               100px 0

  h2, h3
    text-shadow         none
    line-height         1

  h2
    font-size           38px
    margin-bottom       30px

  h3
    font-family         openSansFamily
    color               #686868
    font-size           24px
    margin-top          40px

  figure.browser
  figure.education
    background-size     cover
    overflow            hidden
    rounded             4px

  figure.browser
    background          url('/a/images/home/group.jpg') no-repeat center top
    bg                  size, cover
    size                1053px 714px
    margin              80px 0 100px -526px
    left                50%
    shadow              0 20px 50px rgba(0, 0, 0, .5)
    rel()

  figure.education
    background          url('/a/images/home/classroom.jpg') no-repeat center center
    size                1280px 1055px
    margin-top          500px
    margin-left         -640px
    left                50%
    shadow              0 5px 16px rgba(0, 0, 0, .47)
    abs()

  .group-features
    max-width           1053px
    margin              0 auto

    rel()

    > div
      width             33%
      rel()
      fl()

      span.icon
        size            100px, 100px
        margin-bottom   28px
        display         block
        margin          0 auto

      article
        color             homeHeaderBg
        font-family       openSansFamily
        width             auto
        display           block
        font-size         15px
        line-height       1.5
        padding           40px
        font-weight       300
        borderBox()
        h4
          color           white
          font-family     proximaFamily
          font-weight     300
          letter-spacing  1px
          font-size       18px
          line-height     1
          margin-bottom   10px
      a
        color           white

      &.white-label
        span.icon
          r-sprite          home 'group-of-people'

      &.school
        span.icon
          r-sprite          home 'post-head'

      &.project
        span.icon
          r-sprite          home 'text-balloons'

  .kdbutton.pricing
    display               block
    margin                100px auto
    size                  494px 92px
    bg                    color logoBg
    text-align            left
    rounded               10px
    a
      noTextDeco()
      color               white

    span.button-title
      text-align          left
      font-family         openSansFamily
      font-size           20px
      line-height         1.4
      letter-spacing      1px
      margin-left         90px
      font-weight         300
      display             block
      cite
        display           block
        color             homeHeaderBg
        // font-weight       300

    span.icon.dollar
      margin              0
      padding             0
      r-sprite              home 'dollar'


/* Media Queries */

@media all and (max-width: 1020px)
  .intro
    .big-header
      font-size         26px !important
      line-height       36px !important

      ~h2
        font-size       18px !important
        line-height     28px !important
        margin-bottom   30px !important

    .laptop
    .intro-marker
      display             none !important

    main
      height              auto !important

    #home-features
      padding             0 30px

    figure.browser
      display             none

    figure.education
      height              778px !important
      margin-top          100px !important

    .group-features
      margin-top          200px !important

@media all and (max-width: 900px) and (min-width: 510px)
  .intro
    #home-features
      >div
        text-align        center

        span.icon
          margin          0 auto
          float           none

        article
          width           100%
          padding         0 20px
          borderBox()

        &.appstore .icon
          margin-top      6px
          margin-bottom   20px

        &.teamwork .icon
          margin-bottom   12px

        &.social .icon
          margin-bottom   15px

@media all and (max-width: 720px)
  .intro
    .headings-container
    .register-container
      float               none !important
      width               75% !important
      margin-left         auto !important
      margin-right        auto !important

      h1,h2
        text-align        center !important

    .big-header
      font-size         26px !important
      margin-bottom     24px !important

      ~h2
        font-size       18px !important
        margin-bottom   30px !important

    main
      padding             36px 60px 44px !important

    .group-features
      >div
        width             100% !important
        float             none !important
        text-align        center

        article
          width           auto !important

    .kdbutton.pricing
      margin              20px auto !important
      width               90% !important

    figure.education
      height              1035px !important


@media all and (max-width: 510px)
  .intro
    .headings-container
    .register-container
      width               100% !important

    .big-header
      margin              0 16px 22px

      &~h2
        margin            0 16px 22px

    #home-features
      padding             0 15px
      margin              40px auto
      >div
        float             none
        width             auto

        .icon
          vendor          transform, scale(.7) translateY(-10px)

        &~div
          margin          28px 0 0

        &.appstore .icon
          margin-left     6px
          margin-right    20px

        &.teamwork .icon
          margin-right    12px

        &.social .icon
          margin-right    22px
          margin-left     6px


    #home-bottom
      padding-top         690px !important


// campaign related stuff
.campaign-container
  overflow                inherit
.intro-marker.in.help
  size                    20px, 20px
  top                     20px
  left                    13px
  background              none
  border                  none
  &:after
    size                  20px, 20px
#home-page #campaign
  size                    100%, 369px
  .container
    width                 926px
    margin                0 auto
    position              relative
  .divider
    size                  2px, 174px
    bg                    color, #1A1D1E
    margin                63px 50px 0
    fl()
    .icon
      size                45px, 45px
      bg                  image,    url('/a/images/campaign/100tb/arrow.png')
      bg                  repeat,   no-repeat
      bg                  position, 18px 11px
      bg                  color,    #1A1D1E
      rounded             45px
      top                 70px
      left                -22px
      position            relative
    &.left
      position            relative
      left                7px
  .rounded
    font-size             22px
    font-weight           100
    color                 #fff
    bg                    color, #1A1D1E
    padding               7px 16px
    rounded               6px
    margin-top            8px
    text-align            center
    &.digits
      margin-top          1px
  #banner
    size                  100%, 296px
    bg                    image, url('/a/images/campaign/100tb/bg.png')
    .container
      size                956px 296px
    .campaign-logo
      size                251px, 250px
      bg                  image, url('/a/images/campaign/100tb/logo.png')
      position            relative
      top                 26px
      fl()
    .text
      fl()
      margin-top          115px
      position            relative
      top                 7px
      left                4px
      span
        font-size         26px
        font-weight       400
        color             #fff
        span
          color           #1aaf5d
    .counter
      fl()
      margin              90px 0 0 2px
      .digits
        overflow          hidden
      .digit
        size              42px, 85px
        bg                color, #1A1D1E
        rounded           6px
        margin-left       1px
        font-size         60px
        color             #fff
        font-weight       bold
        line-height       85px
        text-align        center
        fl()
      .separator
        fl()
        font-size         46px
        color             #AAABAC
        margin-top        33px
  #signup
    size                  100%, 73px
    bg                    color, #1A1D1E
    line-height           73px
    span
      color               #BCBCBC
      font-size           24px
      font-weight         100
      letter-spacing      0.7px
      span
        font-weight       300
    p
      abs()
      top                 -2px
      right               21px
      span
        font-size         30px
        color             #1aaf5d
        font-weight       100
      .timer
        bg                image, url('/a/images/campaign/100tb/timer.png')
        size              32px, 32px
        display           inline-block
        top               7px
        left              -5px
        position          relative
      .arrow
        size              25px, 45px
        bg                image, url('/a/images/campaign/100tb/down.png')
        display           inline-block
        top               67px
        left              123px
        abs()
