/*
 __  __      _____       ____        ______      __  __      ____
/\ \/\ \    /\  __`\    /\  _`\     /\__  _\    /\ \/\ \    /\  _`\
\ \ \/'/'   \ \ \/\ \   \ \ \/\ \   \/_/\ \/    \ \ `\\ \   \ \ \ \_\
 \ \ , <     \ \ \ \ \   \ \ \ \ \     \ \ \     \ \ , ` \   \ \ \___
  \ \ \\`\    \ \ \_\ \   \ \ \_\ \     \_\ \__   \ \ \`\ \   \ \ \/, \
   \ \_\ \_\   \ \_____\   \ \____/     /\_____\   \ \_\ \_\   \ \____/
    \/_/\/_/    \/_____/    \/___/      \/_____/    \/_/\/_/    \/___/
*/

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  /*font-size:100%;  // was causing too many overrides */
  vertical-align:baseline;
  background:transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}
nav ul, ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% "Open Sans"; }
pre, code, kbd, samp { font-family: monospace, sans-serif; background-color: #f2f2f2; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
/*html { overflow-y: scroll; }*/

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #07C; }
a:hover { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px; margin: 5px;  white-space: pre;  white-space: pre-wrap;  /*white-space: pre-line;*/  word-wrap: break-word; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection {background: rgba(255, 185, 41,.5)}
::selection {background: rgba(255, 185, 41,.5)}

a:link {-webkit-tap-highlight-color: #F6A220;}

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

@font-face{font-family:"Open Sans";font-weight:400;font-style:normal;src:url("fonts/OpenSans-Regular-webfont.woff") format("woff")}

body,html{width:100%;height:100%}
body{font-family:"Open Sans",Helvetica,sans-serif;background-color:#393630;background-image:url("../images/koding-new-bg.png");background-repeat:repeat-x;font-weight:400;overflow:hidden;}
h1{font-size:28px;line-height:2; margin:50px auto 20px auto; color:#eee; text-shadow:0 1px 0 black;text-align:center;border-radius:10px;background:rgba(0,0,0,.2); width:78%; padding:0 1%;}
h1 span{display: block; font-size: 18px; color: #888;}

/* firebase asteroids stuff*/
body {
  font-family: 'Open Sans',"proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*background: url('bg_tile.jpg');*/
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  font-size: 16px;
  color: #c0c0c0;
}

h3 {
  font-size: 24px;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #c0c0c0;
}

span {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #c0c0c0;
}

A:link {text-decoration: none; color: yellow}
A:visited {text-decoration: none; color: yellow}
A:active {text-decoration: none; color: yellow}
A:hover {text-decoration: underline; color: white;}

#asteroids {
  width: 100%;
  text-align: center;
}

#game-container {
  width: 100%;
}

#header-pane span{
  font-size :14px;
  color : #888;
}

#header-pane span a {
  color : #c0c0c0;
  transition: color 0.25s linear;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
}
#header-pane span a:hover {
  color : yellow;
}


#header-left {
  float: left;
}

#footer-col {
  float: left;
  width: 33%;
}

#header-right {
  float: right;
}

#footer-pane {
  width:100%;
}


.middle {
  display:inline-block;
  vertical-align:middle;
}

#game-pane {
}

#leaderboardTable {
  overflow: auto;
  width: 100%;
  color: #c0c0c0;
}

#canvas {
  text-align: center
  position:relative;
  border-radius: 4px;
  border: 1px solid #444;
  margin: 2px;
  color: #424547;
  background: url('http://www.mmoasteroids.com/stars.gif');
}

.button {
  position:absolute;
  border:1px solid black;
}

#left-controls {
  position:absolute;
  left:1px;
  bottom:0px;
  display:none;
}

#right-controls {
  position:absolute;
  right:1px;
  bottom:0px;
  display:none;
}

#up {
  width:200px;
  height:100px;
  bottom:100px;
}

#left {
  width:100px;
  height:100px;
  bottom:0px;
}

#right {
  width:100px;
  height:100px;
  bottom:0px;
  left:100px;
}

#space {
  width:200px;
  height:200px;
  bottom:0px;
  right:0px;
}

