{
    "goBroker": {
        "cmd": "cake -c kontrol-prod goBroker",
        "number ": 100
    },
    "auth": {
        "cmd" : "cake -c kontrol-prod authWorker",
        "number ": 100
        },
    "guestCleanup": {
        "cmd" : "cake -c kontrol-prod guestCleanup",
        "number ": 100
    }
    "cache": {
        "cmd" : "cake -c kontrol-prod cacheWorker",
        "number ": 100
    }
    "social": {
        "cmd" : "cake -c kontrol-prod socialWorker",
        "number ": 100
    }
    "email": {
        "cmd" : "cake -c kontrol-prod emailWorker",
        "number ": 100
    }
    "server": {
        "cmd" : "cake -c kontrol-prod webserver",
        "number ": 100

    }
}
