{
    "goBroker": {
        "cmd": "cake -c dev goBroker",
        "number ": 1
    },
    "auth": {
        "cmd" : "cake -c dev authWorker",
        "number ": 1
        },
    "guestCleanup": {
        "cmd" : "cake -c dev guestCleanup",
        "number ": 1
    }
    "cache": {
        "cmd" : "cake -c dev cacheWorker",
        "number ": 1
    }
    "social": {
        "cmd" : "cake -c dev socialWorker",
        "number ": 1
    }
    "email": {
        "cmd" : "cake -c dev emailWorker",
        "number ": 1
    }
    "server": {
        "cmd" : "cake -c dev webserver",
        "number ": 1

    }
}
