.EmojiDropbox
  .Dropbox-scrollable
    max-height              268px

  .Dropbox-content
    padding                 4px 12px 8px 12px

.EmojiDropboxItem
  color                     #a39fb1 !important
  fl()
  rounded                   12px
  padding                   3px 12px 5px 7px
  margin                    1px 0 2px 0

  .emoji-wrapper
    size                    16px 16px
    vertical-align          bottom
    margin-right            5px
    display                 inline-block

    .emoji-sprite
      top                   -8px
      left                  -8px
      transform             scale(0.5, 0.5)

    .emoji
      size                  16px 16px

  &.DropboxItem-selected
    bg                      color, rgba(249,204,13,0.4)

  strong
    font-weight             bold
    color                   #4e4d4e

