.ChannelParticipantsDropdown
  .Dropbox
    rel()
    top                     -10px

  .ChannelParticipantsDropdownItem
    padding                 5px 0 5px 5px

    .ProfilePicture
      blockMid()
      margin-right          5px


