.ChannelParticipantsDropdown
  &.Dropbox
    rel()
    top                     -10px

  .ChannelParticipantsDropdownItem
    padding                 5px 0 5px 5px

    .ProfilePicture
      dIBlock()
      vertical-align        middle
      margin-right          5px


// @media only screen and (max-width : 950px)
//   .Dropbox-container.ChannelParticipantsDropdown
//     right                   160px
//     width                   190px
